
<div class="user-page">
    <div class="container side-box">
        <div>
            <app-user-menu currentUrl="member/coupon"></app-user-menu>
        </div>
        <div>
            <div class="row coupon-search">
                <div class="col-md-4">
                    <div class="flat-search">
                        <input type="text">
                        <button>兑换</button>
                    </div>
                </div>
                <div class="col-md-8">
                    <a href="">如何兑换使用优惠券 
                        <i class="iconfont icon-chevron-right"></i>
                    </a>
                    <a  class="btn btn-primary">
                        <i class="iconfont icon-gift"></i>
                        领券中心
                    </a>
                </div>
            </div>
            <div class="tab-box">
                <div class="tab-header">
                    <div class="tab-item" [ngClass]="{active: tabIndex < 1}" (click)="tapTab(0)">可使用</div>
                    <div class="tab-item" [ngClass]="{active: tabIndex == 1}" (click)="tapTab(1)">已使用</div>
                    <div class="tab-item" [ngClass]="{active: tabIndex > 1}" (click)="tapTab(2)">已失效</div>
                </div>
                <div class="tab-body">
                    <div class="tab-item active">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let item of items">
                                <div class="coupon-item" [ngClass]="{open: item.open, expired: item.expired}">
                                    <div class="coupon-info">
                                        <div class="money">
                                            <ng-container *ngIf="item.type > 0; else elseTemplate">
                                                <em>
                                                    {{ item.money }}折
                                                </em>
                                            </ng-container>
                                            <ng-template #elseTemplate>
                                                <em>
                                                    ￥{{ item.money }}
                                                </em>
                                            </ng-template>
                                        </div>
                                        <div>
                                            <div>{{ item.name }}</div>
                                            <div class="time">{{ item.start_at |timestamp }}-{{ item.end_at | timestamp }}</div>
                                            <a *ngIf="!item.expired">去使用</a>
                                        </div>
                                    </div>
                                    <div class="coupon-tip">
                                        <div class="tip-body">
                                            厨房配件专享；限时购、特价等特惠商品，处于新品期的商品及详情页标注不可用券的商品除外
                                        </div>
                                        <i class="iconfont" [ngClass]="{'icon-chevron-down': !item.open, 'icon-chevron-up': item.open}" (click)="item.open = !item.open"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="empty-box" *ngIf="!isLoading && total < 1">
                            <div class="iconfont icon-search"></div>
                            <div class="tip">优惠券列表还是空的</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>