ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.coupon-info {
    padding: 26px 20px 0 0;
    display: grid;
    grid-template-columns: 112px 1fr;
    background-color: #c0ae8a;
    color: white;
    height: 6rem;
    .money {
        height: 36px;
        overflow: hidden;
        text-align: center;
        line-height: 1.2;
        font-size: 36px;
        em {
            font-style: normal;
        }
    }
    .time {
        font-size: 12px;
    }
    a {
        background-color: white;
        color: #c0ae8a;
        font-size: 12px;
        margin-bottom: 10px;
        text-decoration: none;
        padding: 0 5px;
    }
}
.coupon-tip {
    background-color: #ece5d5;
    padding: 10px 30px 10px 10px;
    position: relative;
    width: 100%;
    .iconfont {
        position: absolute;
        right: 10px;
        font-size: 12px;
        top: 9px;
    }
    .tip-body {
        font-size: 13px;
        width: 100%;
        word-break: keep-all;
        overflow-wrap: break-word;
        text-overflow:ellipsis;
        white-space:nowrap;
        overflow: hidden;
    }
}
.coupon-item {
    display: inline-block;
    width: 100%;
    &.open {
        .tip-body {
            word-break: break-all;
            white-space: inherit;
        }
    }
    &.expired {
        .coupon-info {
            background-color: #999;
        }
        .coupon-tip {
            background-color: #ccc;
        }
    }
}

.coupon-search {
    margin-bottom: 20px;
    .btn {
        float: right;
        font-size: 14px;
    }
}