<div class="mini-online-service">
    <div class="fixed-icon" (click)="tapOpenChat()">
        <i class="iconfont icon-service"></i>
    </div>
    <div class="chat-dialog" [hidden]="!dialogOpen">
        <div class="dialog-header">
            <div class="title" i18n>Online service</div>
            <a class="pull-right" (click)="dialogOpen = false" i18n>Back</a>
        </div>
        <app-message-container class="dialog-body" [items]="items" (loadMore)="tapMore($event)" />
        <div class="dialog-footer">
            <input type="text" i18n-placeholder placeholder="Please input the content of the inquiry" [field]="content" (keydown)="onKeyDown($event)">
            <app-emoji-picker class="file-btn" (tapped)="tapEmoji($event)">
                <i class="iconfont icon-smile-o"></i>
            </app-emoji-picker>
            <label for="file-upload" class="file-btn">
                <i class="iconfont icon-image"></i>
                <input type="file" name="file" id="file-upload" (change)="tapUploadImage($event)" accept="image/*"/>
            </label>
            <i class="iconfont icon-paper-plane" (click)="tapSend()"></i>
        </div>
    </div>
</div>