<div class="container" *ngIf="thread">
  <ul  class="breadcrumb">
      <li class="breadcrumb-item">
          <a routerLink="/" class="iconfont icon-home"></a>
      </li><li class="breadcrumb-item">
          <a routerLink="../">圈子首页</a>
      </li>
              <li class="breadcrumb-item">
          <a routerLink="../">交流与讨论</a>
      </li>
              <li class="breadcrumb-item">
          <a routerLink="../">测试专区</a>
      </li>
      <li class="breadcrumb-item active">{{ thread.title }}
      </li>
  </ul>
</div>

<div class="container">
    <div class="thread-box">
        <div class="thread-title" *ngIf="thread">
            <div class="count">
                <span>查看：{{ thread.view_count }}</span>
                <span>回复：{{ thread.post_count }}</span>
            </div>
            <div class="title">
                {{ thread.title }} </div>
        </div>
        <div class="post-list">
            
            <ng-container *ngFor="let item of items">
              <ng-container *ngIf="item.grade < 1; else elseTemplate">
                <div class="post-item">
                    <div class="post-user">
                        <div class="name">{{ item.user.name }}</div>
                        <div class="avatar">
                            <img [src]="item.user.avatar" alt="">
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="header">
                            <i class="iconfont icon-user"></i>
                            发表于 {{ item.created_at }} <div class="action">
    
                            </div>
                        </div>
                        <div class="last-time">最后编辑于 {{ item.updated_at }}</div>
                        <div class="content">
                            {{ item.content }}
                        </div>
                        <div class="action">
    
                        </div>
                        <div class="footer">
                            <a href="javascript:;" data-action="reply">回复</a>
                            <a href="http://zodream.localhost/forum/thread/digest?id=2" data-action="toggle">设为精华</a>
                            <a href="http://zodream.localhost/forum/thread/highlight?id=2" data-action="toggle">设为高亮</a>
                            <a href="http://zodream.localhost/forum/thread/close?id=2" data-action="toggle">设为关闭</a>
                        </div>
                    </div>
                </div>
              </ng-container>
              <ng-template #elseTemplate>
                <div class="post-item">
                    <div class="post-user">
                        <div class="name">{{ item.user.name }}</div>
                        <div class="avatar">
                            <img [src]="item.user.avatar" alt="">
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="header">
                            <i class="iconfont icon-user"></i>
                            发表于 {{ item.created_at }} <div class="action">
                                {{ item.grade }}楼
                            </div>
                        </div>
                        <div class="content">
                            {{ item.content }}
                          </div>
                        <div class="footer">
                            <a href="javascript:;" data-action="reply">回复</a>
                            <a href="http://zodream.localhost/forum/thread/remove_post?id=8" data-action="toggle">删除</a>
                        </div>
                    </div>
                </div>
              </ng-template>
              
            </ng-container>
            
        </div>
        <div class="paging-box">
        </div>
        <div class="post-item post-new">
            <div class="post-user">
                <div class="name">zodream</div>
                <div class="avatar">
                    <img src="http://zodream.localhost/assets/images/zd.jpg" alt="">
                </div>
            </div>
            <div class="post-content">
                <form data-type="ajax" action="http://zodream.localhost/forum/thread/reply" method="post">
                    <div class="editor">
                        <div class="editor-plugin"><i class="fa fa-code" data-name="fa-code" title="插入代码"></i><i
                                class="fa fa-eye-slash" data-name="fa-eye-slash" title="插入隐藏内容"></i><i
                                class="fa fa-download" data-name="fa-download" title="插入可下载内容"></i><i
                                class="fa fa-image" data-name="fa-image" title="插入图片"></i><i class="fa fa-music"
                                data-name="fa-music" title="插入音频"></i><i class="fa fa-video" data-name="fa-video"
                                title="插入视频"></i><i class="fa fa-link" data-name="fa-link" title="插入链接"></i><i
                                class="fa fa-trash" data-name="fa-trash" title="清空"></i></div>
                        <textarea name="content" required=""></textarea>
                    </div>
                    <div class="footer">
                        <button class="btn">发表回复</button>
                        <input type="hidden" name="thread_id" value="2">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>