<div class="container-fluid">
    <div class="page-search">
        <a class="btn btn-success pull-right"
            href="http://zodream.localhost/shop/admin/activity/coupon/create">新增优惠券</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>优惠券名称</th>
                <th class="auto-hide">优惠券类型</th>
                <th class="auto-hide">使用门槛</th>
                <th>总发行量</th>
                <th class="auto-hide">有效时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>