<div class="form-table-control">
    <div class="input-group-control">
        <label for="title">素材标题</label>
        <div>
            <input type="text" id="title" class="form-control" [value]="value().title" (input)="onValueChange($event, 'title')">
        </div>
    </div>
    <div class="input-group-control">
        <label for="type">类型</label>
        <div>
            <select id="type" [value]="value().type" (change)="onValueChange($event, 'type')" class="form-control">
                @for (item of typeItems; track $index) {
                <option [value]="item.value">{{ item.name }}</option>
                }
            </select>
        </div>
    </div>
    <div class="input-group-control">
        <label for="material_type">素材类别</label>
        <div>
            <select id="material_type" [value]="value().material_type" (change)="onValueChange($event, 'material_type')" class="form-control">
                @for (item of materialTypeItems; track $index; let i = $index) {
                <option [value]="i">{{ item }}</option>
                }
            </select>
        </div>
    </div>
    <div class="input-group-control">
        <label for="content">文件</label>
        <div>
            <app-file-input [accept]="fileFilter()" [value]="value().content" (fileUploaded)="onFileUpload($event)" />
        </div>
    </div>
</div>