<app-edit-header [title]="data && data.id > 0 ? '编辑字段' : '新增字段'" (submited)="tapSubmit()" [disabled]="form.invalid" />

<div class="container-fluid">
    <form class="form-table-control panel-container" [formGroup]="form" (ngSubmit)="tapSubmit()">
        <div class="input-group-control">
            <label for="name">名称</label>
            <div>
                <input type="text" id="name" class="form-control" formControlName="name">

            </div>
        </div>
        <div class="input-group-control">
            <label for="field">字段名</label>
            <div>
                <input type="text" id="field" class="form-control" formControlName="field" >

            </div>
        </div>
        
        <div class="input-group-control">
            <label for="is_main">主表</label>
            <div>
                <app-switch id="is_main" formControlName="is_main" />
            </div>
        </div>
        @if (!data || data.is_system < 1) {
        <div>
            <div class="input-group-control">
                <label for="type">类型</label>
                <div>
                    <select class="form-control" id="type" formControlName="type" (change)="onTypeChange()">
                        @for (item of typeItems; track $index) {
                        <option [value]="item.value">{{ item.name }}</option>
                        }
                    </select>
                </div>
            </div>
            <div class="option-box">
                @for (item of optionItems; track $index) {
                    <div class="input-group-control">
                        <label>{{ item.label }}</label>
                        @switch (item.type) {
                            @case ('text') {
                                <div>
                                    <input type="text" class="form-control"  [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}">
                                </div>
                            }
                            @case ('textarea') {
                                <div>
                                    <textarea class="form-control"  [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"></textarea>
                                </div>
                            }
                            @case ('select') {
                                <div>
                                    <select class="form-control"  [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}">
                                        @for (val of item.items; track $index) {
                                        <option [value]="val">{{ val }}</option>
                                        }
                                    </select>
                                </div>
                            }
                            @case ('radio') {
                                <div>
                                    <app-check-input [items]="item.items" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" />
                                </div>
                            }
                            @case ('checkbox') {
                                <div>
                                    <app-check-input [items]="item.items" [(ngModel)]="item.value" [multiple]="true" [ngModelOptions]="{standalone: true}" />
                                </div>
                            }
                            @case ('switch') {
                                <div>
                                    <app-switch [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" />
                                </div>
                            }
                        }
                    </div>
                }
            </div>
            <div class="input-group-control">
                <label for="is_required">是否必填</label>
                <div>
                    <app-switch id="is_required" formControlName="is_required" />
                </div>
            </div>
            <div class="input-group-control">
                <label for="is_search">是否搜索</label>
                <div>
                    <app-switch id="is_search" formControlName="is_search" />
                </div>
            </div>
            <div class="input-group-control">
                <label for="length">字段长度</label>
                <div>
                    <input type="text" id="length" class="form-control" formControlName="length">
    
                </div>
            </div>
            <div class="input-group-control">
                <label for="match">匹配规则</label>
                <div>
                    <input type="text" id="match" class="form-control" formControlName="match">
    
                </div>
            </div>
            <div class="input-group-control">
                <label for="tip_message">提示信息</label>
                <div>
                    <input type="text" id="tip_message" class="form-control" formControlName="tip_message">
    
                </div>
            </div>
            <div class="input-group-control">
                <label for="error_message">错误提示</label>
                <div>
                    <input type="text" id="error_message" class="form-control" formControlName="error_message">
    
                </div>
            </div>
            <div class="input-group-control">
                <label>编辑组</label>
                <div class="tab-group">
                    <app-check-input [items]="tabItems" [rangeKey]="false" formControlName="tab_name" />
                    <div class="flat-input">
                        <input type="text" class="form-control">
                        <button type="button" class="btn btn-info">添加</button>
                    </div>
                </div>
            </div>
            <div class="input-group-control">
                <label for="position">排序</label>
                <div>
                    <input type="text" id="position" class="form-control" formControlName="position">
    
                </div>
            </div>
        </div>
        }
        <div class="btn-group">
            <button type="submit" class="btn btn-success">确认保存</button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>