<div class="router-bar">
    <div class="tool-item" (click)="tapBack()">
        <i class="iconfont icon-arrow-left"></i>
    </div>
    <div class="title-bar">
        副本
    </div>
</div>
<div class="map-meta">这里没有什么人</div>

<div class="map-level-bar" *ngFor="let item of items">
    <div class="level-item">
        <div class="item-map">
            <img [src]="item.cover" [alt]="item.name">
        </div>
        <div class="item-body">
            <div class="item-name">【{{ item.name }}】
                <ng-container *ngIf="item.grade">
                    ({{ item.grade }}级)
                </ng-container>
            </div>
            <div class="item-meta">
                <ng-container *ngFor="let it of item.boss_items">
                  <span>{{ it }}</span>
                </ng-container>
            </div>
            <div class="item-output">
                <span>产出：</span>
                <ng-container *ngFor="let it of item.output_items">
                    <a href="">{{ item.name }}</a>
                </ng-container>
            </div>
        </div>
        <div class="item-action">
            <a (click)="tapEnter(item)">进入</a>
            <a (click)="tapSweep(item)">扫荡</a>
        </div>
    </div>
</div>
