
<div class="user-page">
    <div class="container side-box">
        <div>
            <app-user-menu currentUrl="member"></app-user-menu>
        </div>
        <div>
            @if (user) {
            <div class="user-box">
                <div class="user-info">
                    <div class="avatar">
                        <img [src]="user.avatar" alt="">
                    </div>
                    <div>{{ user.name }}</div>
                    <div class="grade-box">
                        <a href="">成长值 >></a>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%;"></div>
                            <label>Description</label>
                        </div>
                    </div>
                </div>
                <div class="count-info">
                    <div>我的红包</div>
                    <div>¥{{ accountSubtotal.bonus | numberFormat }}</div>

                    <div>优惠券</div>
                    <div>{{ accountSubtotal.coupon | numberFormat }}张</div>

                    <div>可兑返利</div>
                    <div>¥0.00</div>

                    <div>礼品卡</div>
                    <div>¥0.00</div>

                    <div>我的积分</div>
                    <div>¥{{ accountSubtotal.integral | numberFormat }}</div>

                    <div>待领礼包</div>
                    <div>¥0.00</div>
                </div>
            </div>
            }
            <div class="panel un-order-box">
                <div class="panel-header">
                    <span>未完成订单（{{ orderSutotal.paid_un_ship }}）</span>
                    <a routerLink="order">查看全部订单</a>
                </div>
                <div class="panel-body">
                    @for (item of orderItems; track $index) {
                    <div class="order-item">
                        <div class="goods-img">
                            @if (item.goods && item.goods.length > 0) {
                                <img [src]="item.goods[0].thumb" alt="">
                            }
                        </div>
                        <div>包裹1</div>
                        <div>{{ item.status_label }}</div>
                        <div>{{ item.order_amount | price }}</div>
                        <div>
                            @if (item.status == 10) {
                            <p>
                                <a class="btn">付款</a>
                            </p>
                            } @else if (item.status == 40) {
                            <p>
                                <a class="btn">签收</a>
                            </p>
                            <p>
                                <a >查看详情</a>
                            </p>
                            }
                            @if (item.status == 10) {
                            <p>
                                <a >取消订单</a>
                            </p>
                            }
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
