<div class="select-input-container" [class]="{'--with-open': panelVisible()}">
    <div class="input-container">
        <div class="selected-container">
            @for (item of selectedItems(); track $index) {
                <div class="selected-item">
                    <span class="item-close" (click)="tapUnselect(item)">&times;</span>
                    <div class="item-label">{{ item.label }}</div>
                </div>
            }
        </div>
        <input type="text" [value]="keywords()" [placeholder]="placeholder()" (input)="onKeywordsChange($event.target.value)" 
        [disabled]="disabled()" (focus)="onFocus()" (blur)="onBlur()">
        <div class="input-arrow"></div>
    </div>
    <div class="option-container">
        @if (isLoading()) {
            <div class="loading-option-item" i18n>Loading...</div>
        }
        @for (item of optionItems(); track $index) {
            <div class="option-item" 
                [class.selected]="item.selected"
                [class.disabled]="item.disabled"
                (click)="tapSelected(item)">
                {{ item.label }}
            </div>
        }
    </div>
</div>