<div class="catalog-header">
    <ng-container *ngIf="!orderAsc; else elseTemplate">
        <a class="right" (click)="tapOrder()">
            <i class="iconfont icon-arrow-up"></i>
            <ng-container i18n>ASC</ng-container>
        </a>
    </ng-container>
    <ng-template #elseTemplate>
        <a class="right" (click)="tapOrder()">
            <i class="iconfont icon-arrow-down"></i>
            <ng-container i18n>DESC</ng-container>
        </a>
    </ng-template>
</div>
<div class="catalog-box">
    <div class="row">
        <ng-container *ngFor="let item of filterItems">
            <ng-container *ngIf="item.type < 1; else elseTemplate">
                <div (click)="tapChapter(item)" class="col-lg-4 col-md-6 item" [ngClass]="{active: current && current.chapter_id == item.id}">
                    <div class="title">
                        <i class="iconfont" *ngIf="item.price > 0" [ngClass]="{'icon-lock': !item.is_bought, 'icon-unlock': item.is_bought}"></i>
                        {{ item.title }}</div>
                    <div class="time">{{ item.created_at | ago }}</div>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <div class="col-12 group-header">
                    <div class="title">{{ item.title }}</div>
                </div>
                <ng-container *ngFor="let it of item.children">
                    <div (click)="tapChapter(it)" class="col-lg-4 col-md-6 item" [ngClass]="{active: current && current.chapter_id == it.id}">
                        <div class="title">
                            <i class="iconfont" *ngIf="it.price > 0" [ngClass]="{'icon-lock': !it.is_bought, 'icon-unlock': it.is_bought}" i18n-title title="Fee chapter"></i>
                            {{ it.title }}</div>
                        <div class="time">{{ it.created_at | ago }}</div>
                    </div>
                </ng-container>
            </ng-template>
        </ng-container>
    </div>
    
</div>