<div class="catalog-header">
    @if (!orderAsc) {
        <a class="right" (click)="tapOrder()">
            <i class="iconfont icon-arrow-up"></i>
            <ng-container i18n>ASC</ng-container>
        </a>
    } @else {
        <a class="right" (click)="tapOrder()">
            <i class="iconfont icon-arrow-down"></i>
            <ng-container i18n>DESC</ng-container>
        </a>
    }
</div>
<div class="catalog-box">
    <div class="row">
        @for (item of filterItems; track $index) {
            @if (item.type < 1) {
                <div (click)="tapChapter(item)" class="col-lg-4 col-md-6 item" [class]="{active: current && current.chapter_id == item.id}">
                    <div class="title">
                        @if (item.type == 1) {
                        <i class="iconfont" [class]="{'icon-lock': !item.is_bought, 'icon-unlock': item.is_bought}"></i>
                        }
                        {{ item.title }}</div>
                    <div class="time">{{ item.created_at | ago }}</div>
                </div>
            } @else {
                <div class="col-12 group-header">
                    <div class="title">{{ item.title }}</div>
                </div>
                @for (it of item.children; track $index) {
                    <div (click)="tapChapter(it)" class="col-lg-4 col-md-6 item" [class]="{active: current && current.chapter_id == it.id}">
                        <div class="title">
                            @if (item.type == 1) {
                            <i class="iconfont" [class]="{'icon-lock': !it.is_bought, 'icon-unlock': it.is_bought}" i18n-title title="Fee chapter"></i>
                            }
                            {{ it.title }}</div>
                        <div class="time">{{ it.created_at | ago }}</div>
                    </div>
                }
            }
        }
    </div>
    
</div>