<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>管理科目等级列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="zre-input-group">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="关键词">
                </div>
                <div class="zre-input-group">
                    <label>科目</label>
                    <select name="course" [ngModel]="queries.course" class="form-control">
                        <option [value]="0">请选择</option>
                        <option *ngFor="let item of courseItems" [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a class="btn btn-success pull-right" (click)="open(modal)">新增等级</a>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>所属科目</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.course?.name || '--' }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-info" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
</div>

<app-dialog-box #modal [scrollable]="false" [title]="editData && editData.id > 0 ? '编辑科目等级' : '新增科目等级'">
    <div class="form-group">
        <label for="name">名称</label>
        <div class="zre-input-group">
            <input class="form-control" id="name" [(ngModel)]="editData.name" placeholder="请输入名称">
        </div>
    </div>
    <div class="form-group">
        <label for="parent_id">科目</label>
        <select id="parent_id" class="form-control"  [(ngModel)]="editData.course_id" >
            <option [value]="0">-- 无 --</option>
            <option *ngFor="let item of courseItems" [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="icon">等级数</label>
        <div class="zre-input-group">
            <input type="number" class="form-control" id="name" [(ngModel)]="editData.grade" placeholder="请输入等级">
        </div>
    </div>
</app-dialog-box>