<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>表单控件</li>
        </ul>
    </app-page-tip>

    <div class="row">
        <div class="col-md-4">
            <app-action-button class="btn btn-primary" (tapped)="$event.enter()">包含加载动画的按钮</app-action-button>
        </div>
        <div class="col-md-4">
            <app-auto-suggest-box />
        </div>
        <div class="col-md-4">
            <app-autocomplete />
        </div>
        <div class="col-md-4">
            <app-button-group />
        </div>
        <div class="col-md-4">
            <app-check-input />
        </div>
        <div class="col-md-4">
            <app-color-picker />
        </div>
        <div class="col-md-4">
            <app-countdown-button class="btn btn-primary" (tapped)="$event.start()"/>
        </div>
        <div class="col-md-4">
            <app-data-size />
        </div>
        <div class="col-md-4">
            <app-date-input />
        </div>
        <div class="col-md-4">
            <app-multi-select-input />
        </div>
        <div class="col-md-4">
            <app-number-input />
        </div>
        <div class="col-md-4">
            <app-password-strong />
        </div>
        <div class="col-md-4">
            <app-region />
        </div>
        <div class="col-md-4">
            <app-select-input />
        </div>
        <div class="col-md-4">
            <app-star />
        </div>
        <div class="col-md-4">
            <app-switch />
        </div>
        <div class="col-md-4">
            <app-time-input />
        </div>
        <div class="col-md-4">
            <app-words-input />
        </div>
        <div class="col-md-4">
            <app-letter-input />
        </div>

        <div class="col-md-12">
            <div class="items-panel-container">
                <div class="panel-header">
                    <span>标题</span>
                    <a class="panel-action-btn">
                        <i class="iconfont icon-plus"></i>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="flat-input">
                        <input type="text" class="form-control">
                        <select name="" id="" class="form-control">
                            <option value="">选择</option>
                        </select>
                        <a class="btn btn-danger">
                            <i class="iconfont icon-close"></i>
                        </a>
                    </div>
                    <div class="flat-input">
                        <input type="text" class="form-control">
                        <select name="" id="" class="form-control"><option value="">选择</option></select>
                        <a class="btn btn-danger">
                            <i class="iconfont icon-close"></i>
                        </a>
                    </div>
                    <div class="flat-input">
                        <input type="text" class="form-control">
                        <select name="" id="" class="form-control"><option value="">选择</option></select>
                        <a class="btn btn-danger">
                            <i class="iconfont icon-close"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>