<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>支付方式列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <div class="btn-group pull-right">
                <a class="btn btn-success" routerLink="create">新增支付方式</a>
                <a class="btn btn-info" routerLink="option">配置支付</a>
            </div>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>说明</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td></td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-light btn-xs"
                                [routerLink]="'./edit/' + item.id">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <app-pagination [total]="total" [(page)]="page" [perPage]="perPage" (pageChange)="tapPage()"></app-pagination>
    </div>
</div>