<form class="panel-container" *ngIf="data">
    <div class="line-item">
        <span>服务</span>
        <span class="name">[{{ data.category.name }}]{{ data.name }}</span>
    </div>
    <div class="line-tip">
        {{ data.brief }}
    </div>
    <div class="line-item" *ngFor="let item of data.form">
        <label [for]="'form_' + item.name">{{ item.label }}</label>
        <input type="text" [id]="'form_' + item.name" [required]="item.required">
    </div>
    <div class="line-item">
        <span>数量</span>
        <input type="number" name="amount" value="1" min="1">
    </div>
    <div class="line-item">
        <span>服务费</span>
        <span class="name">{{ data.price }}</span>
    </div>
    <button class="btn btn-primary">下单</button>
</form>