.tab-bar {
    float: right;
    line-height: 2.5rem;
    .item {
        display: inline-block;
        padding: 0 1.25rem;
        cursor: pointer;
        &:hover {
            background-color: rgba($color: #ccc, $alpha: .3);
        }
        &.active {
            background-color: red;
            color: #fff;
        }
        &:first-of-type {
            border-top-left-radius: 0.3125rem;
            border-bottom-left-radius: 0.3125rem;
        }
        &:last-of-type {
            border-top-right-radius: 0.3125rem;
            border-bottom-right-radius: 0.3125rem;
        }
    }
}