<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>这是所有的登录历史列表</li>
        </ul>
    </app-page-tip>
    <div class="page-search-bar">
        <form  role="form">
            <div class="form-row">
                <div class="col-auto">
                    <label class="sr-only" for="keywords">IP</label>
                    <input type="text" class="form-control" name="keywords" id="keywords" placeholder="IP">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">搜索</button>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>登陆账户</th>
                <th>登陆IP</th>
                <th>登陆状态</th>
                <th>登陆方式</th>
                <th>登陆时间</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{ item.id }}</td>
                <td>{{ item.user }}</td>
                <td>{{ item.ip }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.mode }}</td>
                <td>{{ item.created_at }}</td>
            </tr>
        </tbody>
    
    </table>
    
    <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="perPage" [directionLinks]="false"></ngb-pagination>    
</div>

