<div class="swiper-body" [ngStyle]="bodyStyle">
    <ng-content></ng-content>
</div>
@if (navigationVisible) {
<div class="swiper-footer swiper-navigation-dot">
    @for (item of items; track $index;let i = $index) {
        <span [ngClass]="{active: i == index}" (click)="tapIndex(i)"></span>
    }
</div>
}

<div class="swiper-action">
    @if (previousVisible) {
    <div class="swiper-action-previous" (click)="tapPrevious()">
        <i class="iconfont icon-chevron-left"></i>
    </div>
    }
    
    @if (nextVisible) {
    <div class="swiper-action-next" (click)="tapNext()">
        <i class="iconfont icon-chevron-right"></i>
    </div>
    }

</div>