<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>管理预算列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group">
                    <label for="keywords">预算名</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="预算名">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a (click)="open(modal)" class="pull-right btn btn-primary">新增预算</a>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>名称</td>
                    <td>预算(元)</td>
                    <td>已花费(元)</td>
                    <td>剩余(元)</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items" [ngClass]="{danger: item.remain < 0}">
                    <td>
                        <a [routerLink]="item.id">{{ item.name }}</a>
                    </td>
                    <td>{{ item.budget }}</td>
                    <td>{{ item.spent }}</td>
                    <td>{{ item.remain }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-light btn-xs" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
</div>

<app-dialog-box #modal [title]="editData && editData.id > 0 ? '编辑预算' : '新增预算'">
    <div class="form-group">
        <label for="name">预算名</label>
        <div class="input-group">
            <input class="form-control" id="name" [(ngModel)]="editData.name" placeholder="请输入预算名">
        </div>
    </div>
    <div class="form-group">
        <label for="budget">预算(元)</label>
        <div class="input-group">
            <input class="form-control" id="budget" [(ngModel)]="editData.budget" placeholder="请输入预算">
        </div>
    </div>
    <div class="form-group">
        <label for="cycle">周期</label>
        <div class="input-group">
            <select class="form-control" id="cycle" [(ngModel)]="editData.cycle">
                <option *ngFor="let item of cycleItems;let i = index" [value]="i">{{ item }}</option>
            </select>
        </div>
    </div>
</app-dialog-box>