<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>关注用户管理</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [formField]="queries.keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a class="btn btn-success" routerLink="group">分组管理</a>
                    <app-action-button class="btn btn-info" (tapped)="tapAsync($event)">同步公众号</app-action-button>
                </div>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>微信ID</th>
                    <th>昵称</th>
                    <th>状态</th>
                    <th>黑名单</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td>
                        <img [src]="item.avatar" [alt]="item.nickname" width="60" height="60">
                    </td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.openid }}</td>
                    <td>
                        {{ item.nickname }}
                        @if (item.note_name) {
                            ({{item.note_name}})
                        }
                    </td>
                    <td>{{ item.status >= 0 ? '已关注' : '未关注' }}</td>
                    <td>
                        <app-switch [(value)]="item.is_black" (valueChange)="onBlackChange(item)" />
                    </td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-info" (click)="tapEdit(modal, item)">备注</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [formField]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
    </div>
</div>
<app-dialog-box #modal>
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="">备注名</label>
            <div>
                <input type="text" class="form-control" [formField]="editForm.note_name">
            </div>
        </div>
        <div class="input-group-control">
            <label for="">分组</label>
            <div>
                <app-select-input [url]="selectUrl" [formField]="editForm.group_id" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="">是否拉黑</label>
            <div>
                <app-switch [formField]="editForm.is_black" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="">备注</label>
            <div>
                <textarea class="form-control" [formField]="editForm.remark"></textarea>
            </div>
        </div>
    </div>
</app-dialog-box>