<div class="container-fluid">
  <app-page-tip>
      <ul>
          <li>管理员操作记录列表</li>
      </ul>
  </app-page-tip>
  <div class="panel-container">
      <div class="page-search-bar">
          <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
              <div class="input-group-control">
                  <label for="keywords">关键字</label>
                  <input type="text" class="form-control" name="keywords" id="keywords" placeholder="搜索关键字" [ngModel]="queries.keywords">
              </div>
              <button type="submit" class="btn btn-primary">搜索</button>
          </form>
      </div>
      <table class="table  table-bordered well">
          <thead>
          <tr>
              <th>ID</th>
              <th>管理员</th>
              <th>事件</th>
              <th>操作时间</th>
              <th>操作</th>
          </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of items">
                  <td>{{ item.id }}</td>
                  <td>{{ item.user?.name }}</td>
                  <td>{{ item.action }}</td>
                  <td>{{ item.created_at }}</td>
                  <td>
                      <div class="btn-group  btn-group-xs">
                          <a class="btn btn-info btn-xs"
                          (click)="tapView(modal, item)">明细</a>
                      </div>
                  </td>
              </tr>
              </tbody>
      </table>
      <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
      <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
  </div>
</div>

<app-dialog-box #modal [footerVisible]="false" [title]="'操作详情(' + editData.id + ')'">
    <div class="line-row-item">
        <span class="item-label">管理员：</span>
        <span class="item-body">{{ editData.user?.name }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">操作IP：</span>
        <span class="item-body">{{ editData.ip }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">操作事件：</span>
        <span class="item-body">{{ editData.action }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">操作备注：</span>
        <span class="item-body">{{ editData.remark }}</span>
    </div>
</app-dialog-box>