<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 tab users">
        <div class="tab-head">
            <div [class]="{'active': !isList}" (click)="isList = false">
                <i class="iconfont icon-comment" aria-hidden="true"></i>
            </div>
            <div [class]="{'active': isList}" (click)="isList = true">
                <i class="iconfont icon-user"></i>
            </div>
        </div>
        <div class="tab-content">
            <div class="list-view" [class]="{'active': !isList}">
                <ul>
                    @for (user of lastUsers; track $index) {
                    <li (click)="change(user)" [class]="{'active': currentUser && user.user_id == currentUser.user_id}">
                        <div class="avatar">
                            <img [src]="user.avatar" alt="">
                        </div>
                        <div class="info">
                            <p><span class="name">{{ user.username }} </span><span class="time">{{ user.create_at }}</span></p>
                            <p><span class="content">{{ user.content }}</span> 
                                @if (user.count) {
                                    <span class="count">{{ user.count }}</span>
                                }
                            </p>
                            
                        </div>
                    </li>
                    }
                    
                </ul>
            </div>
            <div class="list-view" [class]="{'active': isList}">
                <ul>
                    @for (user of users; track $index) {
                    <li (click)="change(user)" [class]="{'active': currentUser && user.user_id == currentUser.user_id}">
                        <div class="avatar">
                            <img [src]="user.avatar" alt="">
                        </div>
                        <div class="info">
                            <p>{{ user.username }}</p>
                            <p>{{ user.sign }}</p>
                        </div>
                    </li>
                    }
                    
                </ul>
            </div>
        </div>
    </div>
    @if (currentUser) {
    <div class="col-md-8">
        <div class="title">
            {{ currentUser.username }}
        </div>
        <div>
            <div #box class="message-box">
                @if (hasMore()) {
                    <p class="more" (click)="getMore()">加载更多</p>
                }
                @for (message of messages; track $index) {
                <div [class]="{'left': message.type == 0, 'right': message.type == 1, 'line': message.type == -1}">
                    
                    @if (message.type >= 0) {
                    <div>
                        @if (message.type == 0) {
                            <img class="avatar" [src]="message.avatar" alt="">
                        }
                        
                        <div class="content">
                            {{ message.content }}
                        </div>
                        @if (message.type == 1) {
                            <img class="avatar" [src]="message.avatar" alt="">
                        }
                        <div class="clean-both"></div>
                    </div>
                    }
                    @if (message.type == -1) {
                        <p>{{ message.create_at }}</p>
                    }
                </div>
                }
                
            </div>
            <div class="send-box">
                <textarea [field]="dataForm.content"></textarea>
                <button type="button" (click)="send()">发送</button>
            </div>
        </div>
    </div>
    }

</div>
</div>