@if (label()) {
    <div class="control-body">
        <label for="">{{ label() }}</label>
        <input type="number">
        <span class="extra-control" (click)="visible = !visible">{{ unit }}</span>
    </div>
} @else {
    <div class="control-body">
        <span class="extra-control" (click)="visible = !visible">{{ unit }}</span>
        <input type="number">
    </div>
}
<div class="select-option-bar">
    @for (item of unitItems; track $index) {
        <div class="option-item" [ngClass]="{selected: unit == item}" (click)="tapSelectedUnit(item)">{{ item }}</div>
    }
</div>