<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>表情包列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group-control">
                    <label for="keywords">名称</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords"
                        placeholder="名称">
                </div>
                <div class="input-group-control">
                    <label>分类</label>
                    <select name="cat_id" [ngModel]="queries.cat_id" class="form-control">
                        <option [value]="0">请选择</option>
                        @for (item of categories; track $index) {
                        <option [value]="item.id">{{ item.name }}</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a (click)="tapView(modal)" class="btn btn-primary">新增表情包</a>
                    <a routerLink="./category" class="btn btn-info">管理分组</a>
                    <a (click)="tapImport(importModal)" class="btn btn-success">导入表情包</a>
                    <a class="btn" [ngClass]="{'btn-danger': isMultiple, 'btn-outline-info': !isMultiple}" (click)="isMultiple = !isMultiple">批量操作</a>
                </div>
            </form>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th [hidden]="!isMultiple">
                        <i class="checkbox" [ngClass]="{checked: isChecked}" (click)="toggleCheck()"></i>
                    </th>
                   
                    <th>ID</th>
                    <th>分类</th>
                    <th>名称</th>
                    <th>值</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td [hidden]="!isMultiple">
                        <i class="checkbox" [ngClass]="{checked: item.checked}" (click)="toggleCheck(item)"></i>
                    </td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.category?.name }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        @if (item.type < 1) {
                            <img [src]="item.content" alt="">
                        } @else {
                            {{ item.content }}
                        }
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" (click)="tapView(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot [hidden]="!isMultiple || items.length < 1">
                <tr>
                    <td>
                        <i class="checkbox" [ngClass]="{checked: isChecked}" (click)="toggleCheck()"></i>
                    </td>
                    <td colspan="5">
                        <button class="btn btn-danger" [disabled]="checkedItems.length < 1" (click)="tapRemoveMultiple()">删除选中项（{{ checkedItems.length }}）</button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
        <app-pagination [total]="total" [perPage]="queries.per_page" [(page)]="queries.page" (pageChange)="tapPage()" />
    </div>
</div>

<app-dialog-box #modal [title]="editData.id > 0 ? '编辑表情' : '新增表情'">
    <div class="form-group">
        <label for="name-input">名称</label>
        <div class="input-group-control">
            <input class="form-control" id="name-input" [(ngModel)]="editData.name" placeholder="请输入名称">
        </div>
    </div>
    <div class="form-group">
        <label for="cat-input">分组</label>
        <div class="input-group-control">
            <select [(ngModel)]="editData.cat_id" id="cat-input" class="form-control">
                @for (item of categories; track $index) {
                <option [value]="item.id">{{ item.name }}</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="type-input">类型</label>
        <div class="input-group-control">
            <select [(ngModel)]="editData.type" id="type-input" class="form-control">
                <option [value]="0">图片</option>
                <option [value]="1">文字</option>
            </select>
        </div>
    </div>
    @if (editData.type < 1) {
    <div class="form-group">
        <label for="content-input">图片</label>
        <div class="input-group-control">
            <app-file-input [(ngModel)]="editData.content" />
        </div>
    </div>
    }
    @if (editData.type == 1) {
    <div class="form-group">
        <label for="con-input">内容</label>
        <div class="input-group-control">
            <input class="form-control" id="con-input" [(ngModel)]="editData.content" placeholder="请输入内容">
        </div>
    </div>
    }
</app-dialog-box>

<app-dialog-box #importModal [footerVisible]="false" title="导入表情包">
    <div class="form-group">
        <label for="content-input">选择文件</label>
        <div class="input-group-control">
            <app-upload-button class="btn btn-primary" accept="application/x-zip-compressed" (uploading)="uploadFile($event)">上传</app-upload-button>
        </div>
    </div>
</app-dialog-box>