@import '../../../theme/styles/setting';
@import '../../../theme/styles/step';
.inner-container {
    width: 100%;
    max-width: 30rem;
}

.min-container {
    margin: 3rem auto;
}

.inline-input {
    margin-bottom: 1rem;
}