<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>带参二维码素材</li>
        </ul>
    </app-page-tip>

    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a class="btn btn-info" (click)="open(modal)">创建</a>
                </div>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>标识</th>
                    <th>类型</th>
                    <th>场景值</th>
                    <th>二维码图片</th>
                    <th>失效时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.type > 0 ? '永久' : '临时' }}</td>
                    <td>{{ item.scene_id || item.scene_str }}</td>
                    <td>
                        @if (item.qr_url) {
                            <a [href]="item.qr_url" target="_blank">
                                <img [src]="item.qr_url" width="80">
                            </a>
                        }
                        @if (!item.url) {
                            [未生成]
                        }
                    </td>
                    <td>{{ item.expire_time }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
        <app-pagination [total]="total" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
    </div>
</div>

<app-dialog-box #modal [title]="'新增二维码'">
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="">标记</label>
            <div>
                <input type="text" class="form-control" [field]="editData.name">
            </div>
        </div>
        <div class="input-group-control">
            <label for="">二维码类型</label>
            <div>
                <app-switch [field]="editData.type" offLabel="临时" onLabel="永久" />
                <div class="input-tip">
                    注意永久二维码上限10万个
                </div>
            </div>
        </div>
        <div class="input-group-control">
            <label for="">场景值类型</label>
            <div>
                <app-check-input [items]="['字符串', '数字']" [rangeKey]="1" [field]="editData.scene_type" />
            </div>
        </div>
        @if (editData.scene_type < 1) {
        <div class="input-group-control">
            <label for="">场景值</label>
            <div>
                <input type="text" class="form-control" [field]="editData.scene_str">
            </div>
        </div>
        } @else if (editData.scene_type == 1) {
        <div class="input-group-control">
            <label for="">场景值</label>
            <div>
                <input type="number" class="form-control" [field]="editData.scene_id">
                @if (editData.type) {
                <div class="input-tip">
                    区间为1~100000
                </div>
                }
            </div>
        </div>
        }
        @if (!editData.type) {
        <div class="input-group-control">
            <label for="">有效期</label>
            <div>
                <input type="number" class="form-control" [field]="editData.expire_time" placeholder="单位：秒，最大2592000（30天）">
                <div class="input-tip">
                    最大30天，当前设置：{{editData.expire_time/(24*3600)}}天
                </div>
            </div>
        </div>
        }
    </div>
</app-dialog-box>