.order-item-header {
    display: grid;
    grid-template-columns: 300px 1fr 40px;
    background-color: white;
}

.order-item {
    display: grid;
    grid-template-columns: 100px 1fr 130px 130px 130px;
    padding: 20px 0;
    text-align: center;
    .goods-img {
        img {
            width: 100px;
            height: 100px;
        }
    }
    .name {
        margin-top: 20px;
        text-align: left;
    }
    .status,
    .actions {
        a {
            display: block;
        }
    }
}