@if (visible) {
<div class="dialog-mask" (click)="close()"></div>
<div class="dialog-box" animate.enter="dialog-opened" animate.leave="dialog-closed">
    <div class="dialog-header">
        <div class="dialog-title">{{ title() }}</div>
        <i class="iconfont icon-close dialog-close" (click)="close(false)"></i>
    </div>
    <div class="dialog-body">
        <ng-content />
        <div>
            <textarea [(ngModel)]="data.remark" rows="6" class="form-control" [placeholder]="placeholder()"></textarea>
        </div>
    </div>
    <div class="dialog-footer">
        <div class="btn-group">
            <div class="btn btn-primary" (click)="close(true)">{{ confirmText() }}</div>
            <div class="btn btn-danger" (click)="close(false)">{{ cancelText() }}</div>
        </div>
    </div>
</div>
}
