<i class="control-updated-tag" [hidden]="isEmpty" (click)="tapEmpty()"></i>
@if (header) {
<label >{{ header }}</label>
}
<div class="control-popup-target">
    <div class="color-icon" (click)="visible = !visible">
        <i class="iconfont icon-edit"></i>
    </div>
</div>
<div class="control-popup" [hidden]="!visible">
    <app-editor-bound-input header="Width"></app-editor-bound-input>
    <div class="control-inline-group">
        <label for="">Style</label>
        <select>
            @for (item of styleItems; track $index) {
              <option [value]="item.value">{{ item.name }}</option>
            }
        </select>
    </div>
    <app-editor-color-popup header="Color"></app-editor-color-popup>
    <div class="control-line-group">
        <label for="">Radius</label>
        <app-editor-radius-input></app-editor-radius-input>
    </div>
</div>
