<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>选择请除全部缓存</li>
        </ul>
    </app-page-tip>
    <form class="form-table-control panel-container">
        <div class="input-group-control">
            <label for="store_">缓存区</label>
            <div>
                @for (item of items; track $index) {
                    <span class="check-label" [ngClass]="{checked: item.checked}" (click)="item.checked = !item.checked">
                        <label>{{ item.name }}</label>
                    </span>
                }
            </div>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-success" (click)="tapSubmit()">清除选中</button>
            <a (click)="tapClear()" class="btn btn-danger">清除全部缓存</a>
        </div>
    </form>
</div>