<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>选择请除全部缓存</li>
        </ul>
    </app-page-tip>
    <div class="form-table-control panel-container">
        <div class="input-group-control">
            <label for="store_">缓存区</label>
            <div>
                @for (item of items; track $index) {
                    <span class="check-label" [class]="{checked: item.checked}" (click)="item.checked = !item.checked">
                        <label>{{ item.name }}</label>
                    </span>
                }
            </div>
        </div>
        <div class="btn-group">
            <app-action-button class="btn btn-success" (tapped)="tapSubmit($event)">清除选中</app-action-button>
            <app-action-button (tapped)="tapClear($event)" class="btn btn-danger">清除全部缓存</app-action-button>
        </div>
    </div>
</div>