<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form class="search-input" (submit)="tapSearch()">
                <input type="text" class="form-control" [field]="queryForm.keywords">
                @if (queryForm.keywords().value()) {
                    <i class="iconfont icon-close" (click)="tapClearQuery()"></i>
                }
                <button class="btn btn-primary" i18n>Search</button>
            </form>
            <div class="search-tip-bar" i18n>
                You found {{ total() | numberFormat }} resources.
            </div>
            <div class="sort-bar">
                <a class="sort-clear">
                    <i class="iconfont icon-close"></i>
                    <ng-container i18n>Filter & Refine</ng-container>
                </a>
                <div class="sort-view-bar">
                    <div class="sort-tip" i18n>
                        Price is in CN yuan and excludes tax
                    </div>
                    <div class="view-bar">
                        <i class="iconfont icon-th-large" [class]="{active: viewTable}" (click)="viewTable = true"></i>
                        <i class="iconfont icon-th-list" [class]="{active: !viewTable}" (click)="viewTable = false"></i>
                    </div>
                </div>
                <div class="tab-bar">
                    <div class="item" [class.active]="queries().sort == ''" (click)="tapSort('')" i18n>
                        Best match
                    </div>
                    <div class="item" [class.active]="queries().sort == 'hot'" (click)="tapSort('hot')" i18n>
                        Best sellers
                    </div>
                    <div class="item" [class.active]="queries().sort == 'new'" (click)="tapSort('new')" i18n>
                        Newest
                    </div>
                    <div class="item" [class.active]="queries().sort == 'score'" (click)="tapSort('score')" i18n>
                        Best rated
                    </div>
                    <div class="item" [class.active]="queries().sort == 'trending'" (click)="tapSort('trending')" i18n>
                        Trending
                    </div>
                    <div class="item" [class.active]="queries().sort == 'price'" (click)="tapSort('price')">
                        <ng-container i18n>Price</ng-container>
                        <i class="iconfont" [class]="{'icon-sort-desc': queries().sort == 'price' && queries().order != 'asc', 'icon-sort-asc': queries().sort == 'price' && queries().order == 'asc'}"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            @for (item of filterItems; track $index) {
            <div class="panel">
                <div class="panel-header">
                    {{ item.label }}
                    <div class="panel-icon">
                        <i class="iconfont icon-angle-down"></i>
                    </div>
                </div>
                <div class="panel-body">
                    @if (item.items && item.items.length > 0) {
                    <ul>
                        @for (it of item.items; track $index) {
                            <li [class]="{active: it.selected}" (click)="tapFilterItem(item, it)">
                                @if (item.multiple) {
                                <div class="check-input">
                                    <i class="iconfont icon-check-square-o"></i>
                                </div>
                                }
                                @if (!item.multiple && item.name != 'category') {
                                <div class="radio-input">
                                    <i class="iconfont icon-circle"></i>
                                </div>
                                }
                                
                                <a >{{ it.label }}</a>
                                <span class="count">{{ it.count | numberFormat }}</span>
                            </li>
                        }
                    </ul>
                    }
                    @if (item.name == 'price') {
                    <div class="price-input">
                        <input type="number" class="form-control" [(value)]="item.min">-
                        <input type="number" class="form-control" [(value)]="item.max">
                        <div class="btn btn-primary" (click)="tapPrice(item)">
                            <i class="iconfont icon-chevron-right"></i>
                        </div>
                    </div>
                    }
                    
                </div>
            </div>
            }
            
        </div>
        <div class="col-md-9">
            <div class="filter-wall">
                <ng-container i18n>{{ total() | numberFormat }} items</ng-container>

                @for (item of selectedFilters; track $index) {
                    <div class="filter-item">
                        <span>{{ item.label }}</span>
                        <i class="iconfont icon-close" (click)="tapRemoveFilter(item.name)"></i>
                    </div>
                }
                

                <a class="filter-clear" (click)="tapClearFilter()" i18n>
                    Clear all
                </a>
            </div>

            <div class="search-body">
                @if (viewTable) {
                    <div class="row">
                        @for (item of items(); track $index) {
                            <div class="col-md-3">
                            <div class="app-item item-style-column">
                                <div class="item-thumb">
                                    <a [routerLink]="['../category', item.cat_id, item.id]"><img [src]="item.icon|asset" alt=""></a>
                                    <div class="item-hat"></div>
                                </div>
                                <div class="item-body">
                                    <a class="item-name" [routerLink]="['../category', item.cat_id, item.id]">
                                        {{ item.name }}
                                    </a>
                                    <div class="item-meta">
                                        <a>{{ item.category?.name }}</a>
                                    </div>
                                    <div class="item-footer">
                                        <app-star [labelVisible]="false">{{ 0 | numberFormat }}</app-star>
                                        <span>{{ item.size | size }}</span>
                                    </div>
                                </div>
                                <div class="item-action">
                                    @if (item.price > 0) {
                                        <a [routerLink]="['../category', item.cat_id, item.id]" class="btn btn-danger" i18n>Buy {{ item.price | currency }}</a>
                                    } @else {
                                        <a [routerLink]="['../category', item.cat_id, item.id]" class="btn btn-primary" i18n>Get it for free</a>
                                    }
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                } @else {
                    @for (item of items(); track $index) {
                        <div class="app-item">
                            <div class="item-thumb">
                                <a [routerLink]="['category', item.cat_id, item.id]"><img [src]="item.icon|asset" alt=""></a>
                                <div class="item-hat"></div>
                            </div>
                            <div class="item-body">
                                <a class="item-name" [routerLink]="['../category', item.cat_id, item.id]">
                                    {{ item.name }}
                                </a>
                                <div class="item-meta">
                                    <a>{{ item.category?.name }}</a>
                                </div>
                                <div class="item-footer">
                                    <app-star [labelVisible]="false">{{ 0 | numberFormat }}</app-star>
                                    <span>{{ item.size | size }}</span>
                                </div>
                            </div>
                            <div class="item-action">
                                @if (item.price > 0) {
                                    <a [routerLink]="['../category', item.cat_id, item.id]" class="btn btn-danger" i18n>Buy {{ item.price | currency }}</a>
                                } @else {
                                    <a [routerLink]="['../category', item.cat_id, item.id]" class="btn btn-primary" i18n>Get it for free</a>
                                }
                            </div>
                        </div>
                    }
                }
            </div>


            <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
            <app-pagination [total]="total()" [value]="queries().page" [perPage]="queries().per_page" (valueChange)="tapPage($event)" />
        </div>
    </div>
</div>
