.progress-box {
    position: relative;
    .progress-tip {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 0;
        left: 0;
        line-height: 200px;
        font-size: 40px;
    }
}