@font-face {
    font-family: "iconfont"; /* Project id 1823716 */
    src: url("iconfont.woff2?t=1683642740130") format("woff2"),
        url("iconfont.woff?t=1683642740130") format("woff"),
        url("iconfont.ttf?t=1683642740130") format("truetype");
}

.iconfont {
    font-family: "iconfont" !important;
    /* font-size: 16px; */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-selectall:before {
    content: "\e63c";
}

.icon-aligncenter:before {
    content: "\e605";
}

.icon-alignjustify:before {
    content: "\e606";
}

.icon-alignleft:before {
    content: "\e607";
}

.icon-alignright:before {
    content: "\e60c";
}

.icon-blockquote:before {
    content: "\e60d";
}

.icon-bold:before {
    content: "\e611";
}

.icon-char:before {
    content: "\e612";
}

.icon-clearformat:before {
    content: "\e617";
}

.icon-corner:before {
    content: "\e618";
}

.icon-indent:before {
    content: "\e61b";
}

.icon-italic:before {
    content: "\e61c";
}

.icon-ltr:before {
    content: "\e61d";
}

.icon-nbsp:before {
    content: "\e620";
}

.icon-orderedlist:before {
    content: "\e621";
}

.icon-outdent:before {
    content: "\e622";
}

.icon-pagebreak:before {
    content: "\e624";
}

.icon-paragraph:before {
    content: "\e625";
}

.icon-pasteastext:before {
    content: "\e626";
}

.icon-rtl:before {
    content: "\e629";
}

.icon-specialchar:before {
    content: "\e62b";
}

.icon-strike:before {
    content: "\e62d";
}

.icon-sub:before {
    content: "\e630";
}

.icon-sup:before {
    content: "\e631";
}

.icon-table:before {
    content: "\e634";
}

.icon-template:before {
    content: "\e635";
}

.icon-underline:before {
    content: "\e637";
}

.icon-unorderedlist:before {
    content: "\e63a";
}

.icon-mark:before {
    content: "\e63b";
}

.icon-baidu:before {
    content: "\e6b8";
}

.icon-bing:before {
    content: "\e63f";
}

.icon-duckduckgo:before {
    content: "\eb82";
}

.icon-sun:before {
    content: "\e656";
}

.icon-scan:before {
    content: "\e704";
}

.icon-angle-double-down:before {
    content: "\e60a";
}

.icon-angle-double-up:before {
    content: "\e60b";
}

.icon-exchange:before {
    content: "\e67b";
}

.icon-pencil:before {
    content: "\e6ef";
}

.icon-server:before {
    content: "\e70b";
}

.icon-exclamation-circle:before {
    content: "\e67f";
}

.icon-exclamation-triangle:before {
    content: "\e67c";
}

.icon-chain-broken:before {
    content: "\e645";
}

.icon-wifi:before {
    content: "\e8e4";
}

.icon-dianliang:before {
    content: "\e673";
}

.icon-copy:before {
    content: "\e60f";
}

.icon-cut:before {
    content: "\e610";
}

.icon-paste:before {
    content: "\e623";
}

.icon-redo:before {
    content: "\e627";
}

.icon-undo:before {
    content: "\e633";
}

.icon-chuizhijuzhongduiqi:before {
    content: "\e654";
}

.icon-shangduiqi:before {
    content: "\e658";
}

.icon-shuipingjuzhongduiqi:before {
    content: "\e65a";
}

.icon-xiaduiqi:before {
    content: "\e65b";
}

.icon-youduiqi:before {
    content: "\e65c";
}

.icon-zuoduiqi:before {
    content: "\e65f";
}

.icon-zuhe:before {
    content: "\e628";
}

.icon-quxiaozuhe:before {
    content: "\e632";
}

.icon-shuipingdengjianju:before {
    content: "\e608";
}

.icon-chuizhidengjianju:before {
    content: "\e609";
}

.icon-plus-square-o:before {
    content: "\e6f8";
}

.icon-keyboard:before {
    content: "\e6c6";
}

.icon-fire:before {
    content: "\e729";
}

.icon-microphone:before {
    content: "\e6e0";
}

.icon-voice:before {
    content: "\e9c4";
}

.icon-print:before {
    content: "\e703";
}

.icon-question-circle:before {
    content: "\e6ff";
}

.icon-clone:before {
    content: "\e652";
}

.icon-book:before {
    content: "\e62f";
}

.icon-cloud:before {
    content: "\e655";
}

.icon-backward:before {
    content: "\e61a";
}

.icon-forward:before {
    content: "\e69a";
}

.icon-close-circle:before {
    content: "\e73f";
}

.icon-map-marker:before {
    content: "\e6d6";
}

.icon-service:before {
    content: "\e6bd";
}

.icon-mobile:before {
    content: "\e6e3";
}

.icon-recycle:before {
    content: "\e701";
}

.icon-rocket:before {
    content: "\e706";
}

.icon-shopping-cart:before {
    content: "\e70f";
}

.icon-thumbs-o-down:before {
    content: "\e73d";
}

.icon-thumbs-o-up:before {
    content: "\e73e";
}

.icon-heart:before {
    content: "\e6b3";
}

.icon-heart-o:before {
    content: "\e6b4";
}

.icon-star-o:before {
    content: "\e720";
}

.icon-star-half-empty:before {
    content: "\e721";
}

.icon-star:before {
    content: "\e724";
}

.icon-key:before {
    content: "\e6c5";
}

.icon-exit-full-screen:before {
    content: "\e693";
}

.icon-full-screen:before {
    content: "\e695";
}

.icon-task:before {
    content: "\e72c";
}

.icon-area-chart:before {
    content: "\e60e";
}

.icon-bar-chart:before {
    content: "\e61e";
}

.icon-calendar-o:before {
    content: "\e636";
}

.icon-line-chart:before {
    content: "\e6cc";
}

.icon-globe:before {
    content: "\e6ab";
}

.icon-calendar:before {
    content: "\e638";
}

.icon-eye-slash:before {
    content: "\e681";
}

.icon-arrow-down:before {
    content: "\e613";
}

.icon-arrow-up:before {
    content: "\e616";
}

.icon-pause:before {
    content: "\e6ed";
}

.icon-play:before {
    content: "\e6f9";
}

.icon-random:before {
    content: "\e700";
}

.icon-step-backward:before {
    content: "\e722";
}

.icon-step-forward:before {
    content: "\e723";
}

.icon-stop:before {
    content: "\e727";
}

.icon-volume-off:before {
    content: "\e757";
}

.icon-volume-down:before {
    content: "\e758";
}

.icon-volume-up:before {
    content: "\e75b";
}

.icon-minus:before {
    content: "\e6e2";
}

.icon-circle:before {
    content: "\e650";
}

.icon-clock-o:before {
    content: "\e651";
}

.icon-history:before {
    content: "\e6b6";
}

.icon-camera:before {
    content: "\e639";
}

.icon-group:before {
    content: "\e6aa";
}

.icon-smile-o:before {
    content: "\e716";
}

.icon-arrow-left:before {
    content: "\e614";
}

.icon-arrow-right:before {
    content: "\e615";
}

.icon-ellipsis-h:before {
    content: "\e674";
}

.icon-floppy-o:before {
    content: "\e698";
}

.icon-desktop:before {
    content: "\e66b";
}

.icon-chevron-down:before {
    content: "\e649";
}

.icon-chevron-up:before {
    content: "\e64c";
}

.icon-gift:before {
    content: "\e69f";
}

.icon-music:before {
    content: "\e6e5";
}

.icon-APP:before {
    content: "\e602";
}

.icon-share-alt:before {
    content: "\e70d";
}

.icon-bars:before {
    content: "\e61f";
}

.icon-thumbs-down:before {
    content: "\e73b";
}

.icon-thumbs-up:before {
    content: "\e73c";
}

.icon-mail:before {
    content: "\e604";
}

.icon-at:before {
    content: "\e619";
}

.icon-check:before {
    content: "\e648";
}

.icon-paper-plane:before {
    content: "\e6ea";
}

.icon-shield:before {
    content: "\e70c";
}

.icon-bookmark:before {
    content: "\e62e";
}

.icon-chain:before {
    content: "\e644";
}

.icon-check-square-o:before {
    content: "\e646";
}

.icon-check-circle:before {
    content: "\e647";
}

.icon-chevron-left:before {
    content: "\e64a";
}

.icon-chevron-right:before {
    content: "\e64b";
}

.icon-close:before {
    content: "\e653";
}

.icon-code:before {
    content: "\e657";
}

.icon-cog:before {
    content: "\e659";
}

.icon-commenting:before {
    content: "\e65d";
}

.icon-comments:before {
    content: "\e65e";
}

.icon-download:before {
    content: "\e66e";
}

.icon-edit:before {
    content: "\e671";
}

.icon-ellipsis-v:before {
    content: "\e677";
}

.icon-eye:before {
    content: "\e680";
}

.icon-file-archive-o:before {
    content: "\e689";
}

.icon-file-excel-o:before {
    content: "\e68a";
}

.icon-file-image-o:before {
    content: "\e68b";
}

.icon-file-movie-o:before {
    content: "\e68c";
}

.icon-file-o:before {
    content: "\e68d";
}

.icon-file-text-o:before {
    content: "\e68e";
}

.icon-file-powerpoint-o:before {
    content: "\e68f";
}

.icon-file-pdf-o:before {
    content: "\e690";
}

.icon-file-word-o:before {
    content: "\e691";
}

.icon-film:before {
    content: "\e692";
}

.icon-folder-o:before {
    content: "\e696";
}

.icon-folder-open-o:before {
    content: "\e697";
}

.icon-github:before {
    content: "\e6a4";
}

.icon-google:before {
    content: "\e6a9";
}

.icon-home:before {
    content: "\e6b7";
}

.icon-image:before {
    content: "\e6bc";
}

.icon-lock:before {
    content: "\e6d1";
}

.icon-plus:before {
    content: "\e6fc";
}

.icon-qrcode:before {
    content: "\e6fd";
}

.icon-qq:before {
    content: "\e6fe";
}

.icon-refresh:before {
    content: "\e702";
}

.icon-search:before {
    content: "\e70a";
}

.icon-sign-out:before {
    content: "\e711";
}

.icon-sort-alpha-asc:before {
    content: "\e718";
}

.icon-sort-alpha-desc:before {
    content: "\e719";
}

.icon-square-o:before {
    content: "\e71e";
}

.icon-tag:before {
    content: "\e72f";
}

.icon-th-large:before {
    content: "\e735";
}

.icon-th-list:before {
    content: "\e736";
}

.icon-trash:before {
    content: "\e743";
}

.icon-unlock:before {
    content: "\e74d";
}

.icon-upload:before {
    content: "\e74e";
}

.icon-user:before {
    content: "\e751";
}

.icon-wechat:before {
    content: "\e759";
}

.icon-weibo:before {
    content: "\e75a";
}
