<app-edit-header [title]="data && data.id > 0 ? '编辑分类' : '新增分类'" (submited)="tapSubmit()" [disabled]="form.invalid" />

<div class="container-fluid">
    <form class="form-table-control" [formGroup]="form" (ngSubmit)="tapSubmit()">
        <div class="row">
            <div class="col-md-6">
                <app-panel title="基本">
                    <div class="input-group-control">
                        <label for="title">名称</label>
                        <div>
                            <input type="text" id="title" class="form-control" formControlName="title" (blur)="onTitleChange()">
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="name">目录名</label>
                        <div>
                            <input type="text" id="name" class="form-control" formControlName="name" >

                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="type">类型</label>
                        <div>
                            <app-check-input [items]="typeItems" [rangeKey]="1" formControlName="type" />
                        </div>
                    </div>
                    @if (typeValue < 1) {
                    <div class="input-group-control">
                        <label for="model_id">模型</label>
                        <div>
                            <select id="model_id" class="form-control" formControlName="model_id">
                                <option [value]="0">-- 无 --</option>
                                @for (item of modelItems; track $index) {
                                <option [value]="item.id">{{ item.name }}</option>
                                }
                            </select>

                        </div>
                    </div>
                    }
                    <div class="input-group-control">
                        <label>上级</label>
                        <select class="form-control" formControlName="parent_id">
                            <option [value]="0">-- 无上级分类 --</option>
                            @for (item of categories; track $index) {
                            <option [value]="item.id">{{ item.level | treeLevel }}{{ item.title }}</option>
                            }
                        </select>
                    </div>
                    <div class="input-group-control">
                        <label for="thumb">缩略图</label>
                        <div>
                            <app-file-input formControlName="thumb" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="image">主图</label>
                        <div>
                            <app-file-input formControlName="image" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="keywords">关键词</label>
                        <div>
                            <input type="text" id="keywords" class="form-control" formControlName="keywords" >

                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="description">简介</label>
                        <div>
                            <textarea id="description" class="form-control"  formControlName="description"
                                ></textarea>
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="groups">分组</label>
                        <div>
                            <app-check-input [items]="groupItems" rangeKey="name" rangeLabel="name" formControlName="groups" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="position">排序</label>
                        <div>
                            <input type="text" id="position" class="form-control" formControlName="position">

                        </div>
                    </div>
                </app-panel>
            </div>
            <div class="col-md-6">
                <app-panel title="模板">
                    <div class="input-group-control">
                        <label for="category_template">分类模板</label>
                        <div>
                            <input type="text" id="category_template" class="form-control" formControlName="category_template">

                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="list_template">列表模板</label>
                        <div>
                            <input type="text" id="list_template" class="form-control" formControlName="list_template" >

                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="show_template">详情模板</label>
                        <div>
                            <input type="text" id="show_template" class="form-control" formControlName="show_template" >

                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="setting_open_comment">开启评论</label>
                        <div formGroupName="setting">
                            <app-switch formControlName="open_comment" />
                        </div>
                    </div>
                </app-panel>
            </div>
            @if (typeValue > 0) {
            <div class="col-md-12">
                <app-panel title="详情">
                    @if (typeValue > 1) {
                    <div class="input-group-control">
                        <label for="url">链接</label>
                        <div>
                            <input type="text" id="url" class="form-control" formControlName="url" >
                        </div>
                    </div>
                    }
                    @if (typeValue == 1) {
                        <app-html-editor formControlName="content" />
                    }
                    
                </app-panel>
            </div>
            }
        </div>


        <div class="btn-group">
            <button type="submit" class="btn btn-success">确认保存</button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>