@import '../../../styles/activity';
.price {
    font-size: 28px;
    line-height: 30px;
    margin-left: 2px;
    color: #d7282d;
}


.label-item {
    display: inline-block;
    margin-right: .8em;
}