<li class="bar-item" [ngClass]="{'active': item.active, 'open': item.expand}" (click)="tapItem()">
  <ng-container *ngIf="item.url; else elseTemplate">
    <a [routerLink]="item.url">
      <i class="iconfont" [ngClass]="item.icon || 'bar-icon'">{{ item.label }}</i>
      <span class="bar-name">{{ item.name }}</span>
    </a>
  </ng-container>
  <ng-template #elseTemplate>
    <a>
      <i class="iconfont" [ngClass]="item.icon || 'bar-icon'">{{ item.label }}</i>
      <span class="bar-name">{{ item.name }}</span>
    </a>
  </ng-template>
  
  <ul class="bar-children" *ngIf="item.children && item.children.length > 0">
      <app-bar-ul [items]="item.children"></app-bar-ul>
  </ul>
</li>