<div class="micro-publish-box">
    <div class="title">
        <ng-container i18n>Are there any new things you want to share with everyone? </ng-container>
        <div class="tip" [hidden]="!dataForm.content().value()" i18n>
            <em>{{ dataForm.content().value().length }}</em>characters have been entered 
        </div>
    </div>
    <div class="input-box">
        <textarea class="form-control" [formField]="dataForm.content"></textarea>
    </div>
    <div class="actions">
        <div class="tools">
            <app-emoji-picker class="tool-item" (tapped)="tapEmoji($event)">
                <i class="iconfont icon-smile-o"></i>
            </app-emoji-picker>
            <label for="editor-img" class="tool-item" i18n-title title="Upload photo">
                <i class="iconfont icon-image"></i>
                <input type="file" name="file" id="editor-img" (change)="uploadImage($event)" accept="image/*" multiple/>
            </label>
            <label for="editor-video" class="tool-item" i18n-title title="Upload video">
                <i class="iconfont icon-file-movie-o"></i>
                <input type="file" name="file" id="editor-video" (change)="uploadVideo($event)" accept="video/*"/>
            </label>
            <label for="editor-audio" class="tool-item" i18n-title title="Upload voice">
                <i class="iconfont icon-music"></i>
                <input type="file" name="file" id="editor-audio" (change)="uploadAudio($event)" accept="audio/*"/>
            </label>
            <div class="tool-item" i18n-title title="Join in topic" (click)="openTopic(topicModal)">
                <i class="item-text">#</i>
            </div>
        </div>
        <select class="form-control" [formField]="dataForm.open_type">
            @for (item of typeItems; track $index;let i = $index) {
                <option [value]="i">{{ item }}</option>
            }
        </select>
        <app-action-button class="btn btn-primary" (tapped)="tapPublish($event)" i18n>Publish</app-action-button>
    </div>
    @if (fileItems().length > 0) {
    <div class="multi-image-box">
        @for (item of fileItems(); track $index; let i = $index) {
        <div class="image-item">
            <img [src]="item.thumb">
            <i class="iconfont icon-close" (click)="tapRemoveFile(i)"></i>
        </div>
        }
    </div>
    }
    
</div>
<app-dialog-box #topicModal i18n-title title="Participate in the topic" [footerVisible]="false">
    <div class="flat-input">
        <input type="text" class="form-control" i18n-placeholder placeholder="Topic" 
        [value]="topic()" (input)="onTopicChange($event)" (keydown)="topicModal.confirmClose($event)">
        <div class="btn btn-primary" (click)="topicModal.close(topic)">
            <i class="iconfont icon-plus"></i>
        </div>
    </div>
    @for (item of topicItems(); track $index) {
    <div class="topic-item" (click)="topicModal.close(item.name)">
        <div class="item-title">#{{ item.name }}#</div>
        <div class="item-count" i18n>{{ item.micro_count | numberFormat }}Posts</div>
    </div>
    }
    
</app-dialog-box>