@use '../../../theme/theme';
:host ::ng-deep {
    .panel-sort-container {
        margin: 3.125rem 0;
        background-color: var(--#{theme.$prefix}panel);
        padding: 2rem 1rem;
        min-height: 25rem;
        position: relative;
        &.--width-sidebar {
            padding: 2rem 0;
        }
    }
    .panel-sort-bar {
        position: absolute;
        right: 1.5625rem;
        top: -1.875rem;
        a {
            display: inline-block;
            cursor: pointer;
            width: 3.125rem;
            line-height: 1.875rem;
            text-align: center;
            position: relative;
            background-color: var(--#{theme.$prefix}panel);
            text-decoration: none;
            color: var(--#{theme.$prefix}body-text);
            &:after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                left: 0;
                bottom: -3.125rem;
                border: 1.5625rem solid transparent;
                border-top-color: rgba(var(--#{theme.$prefix}primary-rgb),.6);
            }
            &.active {
                background-color: var(--#{theme.$prefix}primary);
                color: var(--#{theme.$prefix}primary-text);
                &:after {
                    border-top-color: var(--#{theme.$prefix}primary);
                }
            }
        }
    }
}

@media (min-width: 48rem) {
    :host ::ng-deep {
        .panel-sort-container {
            &.--width-sidebar {
                margin-right: 12.5rem;
            }
        }
    }
}