@use '../../../theme/styles/theme';
.blog-container ::ng-deep {
    .book-full-body,
    .book-body {
        margin: 3.125rem 0;
        background-color: var(--#{theme.$prefix}panel);
        padding: 1.875rem 0.9375rem;
        min-height: 25rem;
        position: relative;
    }
    .book-body {
        margin-right: 12.5rem;
    }
    .book-sort {
        position: absolute;
        right: 1.5625rem;
        top: -1.875rem;
        a {
            display: inline-block;
            cursor: pointer;
            width: 3.125rem;
            line-height: 1.875rem;
            text-align: center;
            position: relative;
            background-color: var(--#{theme.$prefix}panel);
            text-decoration: none;
            color: var(--#{theme.$prefix}body-text);
            &:after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                left: 0;
                bottom: -3.125rem;
                border: 1.5625rem solid transparent;
                border-top-color: rgba(var(--#{theme.$prefix}primary-rgb),.6);
            }
            &.active {
                background-color: var(--#{theme.$prefix}primary);
                color: var(--#{theme.$prefix}primary-text);
                &:after {
                    border-top-color: var(--#{theme.$prefix}primary);
                }
            }
        }
    }
}