.blog-container ::ng-deep {
    .book-full-body,
    .book-body {
        margin: 3.125rem 0;
        background-color: #fff;
        padding: 1.875rem 0.9375rem;
        min-height: 25rem;
        position: relative;
    }
    .book-body {
        margin-right: 12.5rem;
    }
    .book-sort {
        position: absolute;
        right: 1.5625rem;
        top: -1.875rem;
        a {
            display: inline-block;
            cursor: pointer;
            width: 3.125rem;
            line-height: 1.875rem;
            text-align: center;
            position: relative;
            background: #fff;
            text-decoration: none;
            color: #333;
            &:after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                left: 0;
                bottom: -3.125rem;
                border: transparent 1.5625rem solid;
                border-top-color: rgba(161,0,0,.6);
            }
            &.active {
                background: #a10000;
                color: #fff;
                &:after {
                    border-top-color: #a10000;
                }
            }
        }
    }
}