<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>文档项目</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group-control">
                    <label class="sr-only" for="keywords">内容</label>
                    <input type="text" class="form-control" name="keywords" id="keywords" placeholder="标题" [ngModel]="queries.keywords">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a class="btn btn-info" routerLink="category">分类管理</a>
                    <a class="btn btn-success" routerLink="create">新增文档</a>
                </div>
                
            </form>
        </div>

        @for (item of items; track $index) {
            <div class="project-item">
            <div class="cover">
                <img [src]="item.cover" alt="">
            </div>
            <div class="name">{{ item.name }}</div>
            <div class="desc">{{ item.description }}</div>
            <div class="action">
                <div class="btn-group mr-3">
                    <a class="btn btn-primary" [routerLink]="[item.type > 0 ? 'api' : 'page', item.id]">编辑</a>
                    <div class="dropdown-bar">
                      <button class="btn btn-primary dropdown-toggle-arrow" appDropdown></button>
                      <div class="dropdown-pane">
                        <a class="btn-info" [routerLink]="['edit', item.id]">设置</a>
                        <a class="btn-danger" (click)="tapRemove(item)">删除</a>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        }
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination [total]="total" [(page)]="queries.page" (pageChange)="tapPage()" [perPage]="queries.per_page"></app-pagination>
    </div>
</div>