.forum-group {
    .group-header {
        .pull-right {
            float: right;
            font-size: .5rem;
        }
    }
    &.min {
        .group-body {
            display: none;
        }
    }
}