.search-bar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    max-width: 600px;
    padding: .8rem 0;
    .form-control,
    .btn {
        border-radius: 0;
        width: auto;
    }
    .form-control:first-child {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
        border-radius: .25rem 0 0 .25rem;
    }
    .btn:last-child {
        display: flex;
        border-radius: 0 .25rem .25rem 0;
    }
}

.page-item,
.question-item {
    padding: 0 .3em;
    cursor: pointer;
    .item-body {
        display: block;
        text-decoration: none;
        line-height: 3em;
    }
    .count {
        font-size: .8em;
        color: #777;
        vertical-align: bottom;
        margin-left: .6em;
    }
    .item-footer {
        margin-bottom: .3em;
        min-height: 1.5em;
    }
    .author-bar,
    .time-bar {
        display: inline-block;
        color: #777;
        font-size: .8em;
        line-height: 1.5em;
        margin-right: .8em;
    }
    .time-bar {
        float: right;
    }
    .author-bar {
        .avatar {
            display: inline-block;
            width: 2em;
            height: 2em;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }
    &:not(:last-of-type) {
        border-bottom: 1px solid #ccc;
    }
    &:hover {
        background-color: rgb(240, 240, 240);
    }
}

.question-item {
    .item-body {
        display: flex;
    }
    .name {
        flex: 1;
        line-height: 1.5em;
        padding: .75em 0;
    }
}