<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>管理证书记录列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">用户名</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="用户名">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>会员名</th>
                    <th>证书名称</th>
                    <th>获取时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.user.name }}</td>
                    <td>{{ item.upgrade?.name }}</td>
                    <td>{{ item.created_at | ago }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
  
        <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
    </div>
</div>