@if (visible()) {
<div class="control-drop-pane" [hidden]="!paneVisible()">
     <div class="task-option-item">
        <div class="item-icon">
            25
        </div>
        <div class="item-body">
            <div class="item-name">任务名</div>
            <div class="item-meta">说明</div>
        </div>
    </div>
     <div class="task-option-item">
        <div class="item-icon">
            25
        </div>
        <div class="item-body">
            <div class="item-name">任务名</div>
            <div class="item-meta">说明</div>
        </div>
    </div>
    <div class="task-option-item">
        <div class="item-icon">
            25
        </div>
        <div class="item-body">
            <div class="item-name">任务名</div>
            <div class="item-meta">说明</div>
        </div>
    </div>
</div>
<div class="control-meta-bar" [class.--with-drop]="paneVisible()" (click)="togglePane()">
    <div class="name-control">任务名</div>
    <div class="meta-control">说明</div>
</div>
<div class="control-body">
    <div class="progress-circle" [style]="progressStyle()">
        <svg>
            <circle class="progress-outline" />
            <circle class="progress-inline"/>
        </svg>
    </div>
    <div class="control-label">
        {{ value() | hour }}
    </div>
    <div class="control-icon" (click)="toggle()">
        <i class="iconfont" 
            [class.icon-play]="isPaused()" 
            [class.icon-pause]="!isPaused()"></i>
    </div>
</div>
}
