<div class="coupon-page">
    <div class="container">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" routerLink="../">Home</a>
            <span class="breadcrumb-item active">领券中心</span>
        </nav>

        <div>
            <div class="coupon-item" *ngFor="let item of items">
                <div class="thumb">
                    <img [src]="item.thumb" alt="">
                </div>
                <div class="info">
                    <div class="price">
                        <em>
                            {{ item.type > 0 ? item.money + '折' : item.money }}
                        </em>
                        <span class="limit">满{{ item.min_money }}元可用</span>
                    </div>
                    <div class="rang">
                        {{ item.name }}
                    </div>
                    <div class="got-tip" *ngIf="!item.can_receive">
                        已领取
                    </div>
                </div>
                <div class="action">
                    <a *ngIf="item.can_receive" (click)="tapReceive(item)">立即领取</a>
                    <a *ngIf="!item.can_receive">立即使用</a>
                </div>
                
            </div>
            
            <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
        </div>

    </div>
</div>