<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>生成数据模型模型</li>
        </ul>
    </app-page-tip>
    <div class="panel-container form-table">
        <div class="zre-input-group">
            <label for="">数据表</label>
            <div>
                <ng-select [(ngModel)]="selected" [items]="tableItems" bindLabel="name" bindValue="value"></ng-select>
            </div>
        </div>
        <div class="zre-input-group">
            <label for="">模块名</label>
            <div>
                <input type="text" class="form-control" [(ngModel)]="module">
            </div>
        </div>
        <div class="btn-group">
            <div class="btn btn-primary" (click)="tapSubmit(false)">生成</div>
            <div class="btn btn-info" (click)="tapSubmit(true)">预览</div>
        </div>
    </div>
</div>
<app-dialog-box title="预览" [fullscreen]="true">
    <div class="preview-item" *ngFor="let item of previewItems">
        <div class="item-path">{{ item.path }}</div>
        <div class="item-body">
            <pre><code>{{ item.content }}</code></pre>
        </div>
    </div>
</app-dialog-box>