<form class="form-ico login-form" [formGroup]="loginForm" (ngSubmit)="tapSignIn()">
  <div class="input-box">
      <div class="input-group" [class]="{error: email.invalid}">
          <input type="email" formControlName="email" placeholder="请输入账号" required="" autocomplete="off">
          <i class="iconfont icon-user" aria-hidden="true"></i>
      </div>
      <div class="input-group" [class]="{error: password.invalid}">
          <input type="password" formControlName="password" placeholder="请输入密码" required="" autocomplete="off">
          <i class="iconfont icon-lock" aria-hidden="true"></i>
      </div>

      <div class="input-group">
          <div class="checkbox">
              <input type="checkbox" formControlName="remember" value="1" id="checkboxInput">
              <label for="checkboxInput"></label>
          </div>
          记住我
          <a class="find-link" routerLink="find">找回密码</a>
      </div>

      <button type="submit" class="btn" [disabled]="loginForm.invalid">登录</button>
      <div class="other-box">
          <a routerLink="register">注册账号</a>
          <i class="iconfont icon-qrcode"></i>
      </div>

      <input type="hidden" name="redirect_uri" value="">
  </div>
  <div class="login-qr-box">
      <div class="qr-box">
          <img lazy-src="http://zodream.localhost/auth/qr" alt="">
          <i class="iconfont icon-sync"></i>
      </div>
      <div class="scan-box">
          <i class="iconfont icon-check-circle"></i>
          <p>扫描成功，等待确认</p>
      </div>
      <div class="success-box">
          <i class="iconfont icon-check-circle"></i>
          <p>登陆成功</p>
      </div>
      <div class="failure-box">
          <i class="iconfont icon-sync"></i>
          <p>登陆失败</p>
      </div>
      <button type="button" class="btn">返回登录</button>
  </div>
</form>

<div class="login-oauth-box">
  <div class="box-title">第三方登录</div>
  <a href="./oauth?type=qq" title="QQ登录"><i class="iconfont icon-qq"></i></a>
  <a href="./oauth?type=wechat" title="微信登录"><i class="iconfont icon-wechat"></i></a>
  <a href="./oauth?type=weibo" title="微博登录"><i class="iconfont icon-weibo"></i></a>
  <a href="./oauth?type=github" title="GITHUB登录"><i class="iconfont icon-github"></i></a>
</div>
