
@use './styles/main';
@use './styles/room';


.expand-box {
    .expand-header {
        cursor: pointer;
        line-height: 30px;
        .expand-icon {
            margin-right: 10px;
            &:before {
                content: "\e64c";
                font-family: 'iconfont';
                font-style: normal;
            }
        }
    }
    .expand-body {
        display: none;
    }
    &.open {
        .expand-header {
            .expand-icon {
                &:before {
                    content: "\e649";
                }
            }
        }
        .expand-body {
            display: block;
        }
    }
}

.room-mode {
    .chat-pane {
        display: none;
    }
    .chat-room {
        display: flex;
    }
}

@media screen and (min-width: 48rem) {
    .chat-pane {
        width: 18.75rem;
        z-index: 1;
    }
    .chat-room {
        margin-left: 18.75rem;
        display: flex;
        .title {
            .iconfont {
                display: none;
            }
        }
    }
    .room-mode {
        .chat-pane {
            display: block;
        }
    }
}