@import './micro';


.nav-tab {
    background-color: #fff;
    margin-bottom: 1rem;
    .nav-item {
        display: block;
        line-height: 2.5rem;
        height: 2.5rem;
        padding: 0 .8rem;
        overflow: hidden;
        color: #333;
        cursor: pointer;
        &.active {
            color: #a10000;
        }
        &:hover {
            background-color: #ccc;
        }
    }
}



.forward-box {
    .simple {
        background-color: #f2f2f5;
        position: relative;
        margin: 0 0 10px;
        padding: 5px 10px;
        line-height: 20px;
    }
    .actions {
        padding: 20px 0;
        font-size: 12px;
    }
}

.user-card {
    background-color: #fff;
    padding: 48px 0 20px;
    border-bottom: 1px solid #e6e6e6;
    .avatar {
        text-align: center;
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
    .name {
        text-align: center;
        font-size: 22px;
    }
    .count-bar {
        display: flex;
        margin-top: 10px;
        .count-item {
            flex: 1;
            text-align: center;
            font-size: 12px;
            &:not(:last-of-type) {
                border-right: 1px solid #ccc;
            }
        }
    }
}

.topic-card {
    padding: 26px 20px;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    .name {
        margin-right: 20px;
        font-size: 22px;
        font-weight: bolder;
    }
    .count-bar {
        font-size: 14px;
        color: #636363;
        margin-top: 10px;
    }
}