.thread-list {
    .thread-item-header {
        border-bottom: 1px solid;
        display: grid;
        grid-template-columns: 1fr 105px 60px 105px;
        background-color: #fff;
        line-height: 30px;
        .count {
            font-size: 12px;
        }
    }
    .thread-item {
        border-bottom: 1px solid;
        display: grid;
        grid-template-columns: 1fr 105px 60px 105px;
        .name {
            line-height: 40px;
            .fa-fire {
                color: red;
            }
        }
        .time,
        .count,
        .reply {
            em {
                display: block;
                font-style: normal;
            }
        }
        &:hover {
            background-color: rgba(#333, .2);
        }
    }
}

.thread-item .name {
    .icon-fire {
        color: red;
    }
    .tag-item {
        color: #007CD5;
        display: inline-block;
        font-style: normal;
        a {
            color: #007CD5; 
        }
    }
    .icon-lock {
        color: #fcb716;
    }
}

.new-tag {
    color: #F26C4F;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
}

.thread-new-box {
    margin: 30px 0;
    .header {
        line-height: 2.5rem;
        background-color: #fff;
        padding: 0 10px;
        .pull-right {
            float: right;
            text-decoration: none;
        }
    }
    .title {
        display: flex;
        .form-control {
            width: auto;
            min-width: auto;
            display: inline-block;
            border-radius: 0;
            &:first-child {
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
            }
            &:last-child {
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
            }
        }
        input {
            flex: 1;
        }
    }
}

@media screen and (max-width: 769px) {
    .thread-list {
        .thread-item-header {
            display: none;
        }
        .thread-item {
            display: block;
            .time {
                display: inline-block;
                em {
                    display: inline-block;
                    margin-right: 10px;
                }
            }
            .reply {
                display: none;
            }
            .count {
                float: right;
                em {
                    display: inline-block;
                    margin-right: 10px;
                    &::before {
                        font-weight: 900;
                        font-style: normal;
                        font-family: "iconfont";
                    }
                    &:first-child {
                        &::before {
                            content: "\e65d";
                        }
                    }
                    &:last-child {
                        &::before {
                            content: "\e680";
                        }
                    }
                }
            }
        }
    }
}