<div class="container" *ngIf="forum">
    <app-search-bar [keywords]="queries.keywords" [type]="queries.type" (confirm)="tapSearch($event)"></app-search-bar>
    <ul  class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/" class="iconfont icon-home"></a>
        </li><li class="breadcrumb-item">
            <a routerLink="../">圈子首页</a>
        </li>
        <li class="breadcrumb-item" *ngFor="let item of forum.path">
            <a [routerLink]="['../', item.id]">{{ item.name }}</a>
        </li>
        <li class="breadcrumb-item active">{{ forum.name }}
        </li>
    </ul>
</div>
<div class="container">
    <div class="catalog-panel" *ngIf="forum">
        <div class="panel-header">
            {{ forum.name }}
        </div>
        <div class="group-content">
            <p class="moderator-line" *ngIf="forum.moderators && forum.moderators.length > 0">
                版主：
                <ng-container *ngFor="let item of forum.moderators; let i = index">
                    <ng-container *ngIf="i > 0">
                        ，
                    </ng-container>
                    <a >{{ item.name }}</a>
                </ng-container>
            </p>
            <div>
                {{ forum.description }}
            </div>
        </div>
        <div class="panel-body" *ngIf="forum.children && forum.children.length > 0">
            <div class="row">
                <ng-container *ngFor="let item of forum.children">
                    <div class="col-md-4 col-sm-6">
                        <div class="catalog-item">
                            <div class="cover">
                                <img [src]="item.thumb" alt="">
                            </div>
                            <div class="item-body">
                                <div class="name">
                                    <a routerLink="{{ item.id }}">{{ item.name }}</a>
                                    <ng-container *ngIf="item.today_count > 0">
                                        ({{ item.today_count | numberFormat }})
                                    </ng-container>
                                </div>
                                <div class="meta">
                                    <div class="count">主题：{{ item.thread_count | numberFormat }}，帖数：{{ item.post_count | numberFormat }}</div>
                                </div>
                                <div class="last-thread" *ngIf="item.last_thread">
                                    <a [routerLink]="['thread', item.last_thread.id]">{{ item.last_thread.title }}</a>
                                    {{ item.last_thread.created_at | ago }} {{ item.last_thread.user.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            
        </div>
    </div>

    <div class="classify-bar" *ngIf="forum && forum.classifies && forum.classifies.length > 0">
        <div class="item" [ngClass]="{active: 0 === queries.classify}" (click)="tapClassify()">
            全部
        </div>
        <ng-container *ngFor="let item of forum.classifies">
            <div class="item" [ngClass]="{active: item.id === queries.classify}" (click)="tapClassify(item)">
                {{ item.name }}
            </div>
        </ng-container>
    </div>

    <div class="thread-list">
        <div class="thread-item-header">
            <div class="name">
                标题
                <div class="sort-bar">
                    <ng-container *ngFor="let item of sortItems">
                        <a [ngClass]="{active: item.value === sortKey}" (click)="tapSort(item)">{{ item.name }}</a>
                    </ng-container>
                </div>
            </div>
            <div class="time">
                作者
            </div>
            <div class="count">
                回复/查看
            </div>
            <div class="reply">
                最后发表
            </div>
        </div>
        <ng-container *ngIf="forum && forum.thread_top && forum.thread_top.length > 0">
            <ng-container *ngFor="let item of forum.thread_top">
                <div class="thread-item" [ngClass]="{'thread-highlight': item.is_highlight}">
                  <div class="title">
                      <ng-container *ngIf="item.top_type > 0">
                          <i class="iconfont icon-arrow-up" title="置顶"></i>
                      </ng-container>
                      <ng-container *ngIf="item.top_type < 1 && item.is_closed">
                          <i class="iconfont icon-lock" title="主题已关闭"></i>
                      </ng-container>
                      <ng-container *ngIf="item.top_type < 1 && !item.is_closed">
                          <i class="iconfont icon-file-o"></i>
                      </ng-container>
                      <em class="tag-item" *ngIf="item.classify">
                          [<a (click)="tapClassify(item.classify)">{{ item.classify.name }}</a>]
                      </em>
                      <a class="title-text" [routerLink]="['../thread', item.id]">{{ item.title }}</a>
                      <i class="iconfont icon-fire" *ngIf="item.is_digest"></i>
                      <a class="new-tag" *ngIf="item.is_new">New</a>
                  </div>
                  <div class="time">
                      <em data-action="user" data-id="1">{{ item.user.name }}</em>
                      <em>{{ item.created_at | ago }}</em>
                  </div>
                  <div class="count">
                      <em>{{ item.post_count | numberFormat }}</em>
                      <em>{{ item.view_count | numberFormat }}</em>
                  </div>
                  <div class="reply">
                      <ng-container *ngIf="item.last_post">
                          <em>{{ item.last_post.user.name }}</em>
                          <em>{{ item.last_post.created_at | ago }}</em>
                      </ng-container>
                  </div>
              </div>
              </ng-container>
            <div class="split-line"></div>
        </ng-container>
        
        <ng-container *ngFor="let item of items">
          <div class="thread-item" [ngClass]="{'thread-highlight': item.is_highlight}">
            <div class="title">
                <ng-container *ngIf="item.top_type > 0">
                    <i class="iconfont icon-arrow-up" title="置顶"></i>
                </ng-container>
                <ng-container *ngIf="item.top_type < 1 && item.is_closed">
                    <i class="iconfont icon-lock" title="主题已关闭"></i>
                </ng-container>
                <ng-container *ngIf="item.top_type < 1 && !item.is_closed">
                    <i class="iconfont icon-file-o"></i>
                </ng-container>
                <em class="tag-item" *ngIf="item.classify">
                    [<a (click)="tapClassify(item.classify)">{{ item.classify.name }}</a>]
                </em>
                <a class="title-text" [routerLink]="['../thread', item.id]">{{ item.title }}</a>
                <i class="iconfont icon-fire" *ngIf="item.is_digest"></i>
                <a class="new-tag" *ngIf="item.is_new">New</a>
            </div>
            <div class="time">
                <em data-action="user" data-id="1">{{ item.user.name }}</em>
                <em>{{ item.created_at | ago }}</em>
            </div>
            <div class="count">
                <em>{{ item.post_count | numberFormat }}</em>
                <em>{{ item.view_count | numberFormat }}</em>
            </div>
            <div class="reply">
                <ng-container *ngIf="item.last_post">
                    <em>{{ item.last_post.user.name }}</em>
                    <em>{{ item.last_post.created_at | ago }}</em>
                </ng-container>
            </div>
        </div>
        </ng-container>
        
        <div class="paging-box">
            <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
        </div>


    </div>
    <div class="thread-new-box" *ngIf="forum && user">
        <div class="header">快速发帖

            <a class="pull-right" routerLink="create">完整模式&gt;</a>
        </div>
        <form [formGroup]="form" (ngSubmit)="tapSubmit()">
            <div class="title">
                <select formControlName="classify_id" class="form-control" *ngIf="forum.classifies && forum.classifies.length > 0">
                    <option [value]="0">选择主题分类</option>
                    <ng-container *ngFor="let item of forum.classifies">
                        <option [value]="item.id">{{ item.name }}</option>
                    </ng-container>
                </select>
                <input type="text" class="form-control" formControlName="title" placeholder="请输入主题标题">
            </div>

            <app-forum-editor formControlName="content" placeholder="请输入帖子内容"></app-forum-editor>
            
            <div class="footer">
                <app-action-button class="btn btn-primary" (tapped)="tapSubmit($event)" [disabled]="form.invalid">发表帖子</app-action-button>
            </div>
        </form>
    </div>
</div>