<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>TV平台</li>
        </ul>
    </app-page-tip>

    <div class="row">
        <div class="col-md-4">
            <div class="column-full-item">
                @if (isLoading) {
                <div class="overlay">
                    <i class="iconfont icon-refresh"></i>
                </div>
                }
                <div class="inner">
                    <h3>{{ data.movie_today | numberFormat }}/{{ data.movie_count | numberFormat }}</h3>
                    <p>视频今日新增/总数</p>
                </div>
                <div class="icon">
                    <i class="iconfont icon-file-movie-o"></i>
                </div>
                <a class="column-footer" routerLink="movie">
                    查看更多
                    <i class="iconfont icon-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="column-full-item">
                @if (isLoading) {
                <div class="overlay">
                    <i class="iconfont icon-refresh"></i>
                </div>
                }
                <div class="inner">
                    <h3>{{ data.music_today | numberFormat }}/{{ data.music_count || 0 | numberFormat }}</h3>
                    <p>音乐今日新增/总数</p>
                </div>
                <div class="icon">
                    <i class="iconfont icon-music"></i>
                </div>
                <a class="column-footer" routerLink="music">
                    查看更多
                    <i class="iconfont icon-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="column-full-item">
                @if (isLoading) {
                <div class="overlay">
                    <i class="iconfont icon-refresh"></i>
                </div>
                }
                <div class="inner">
                    <h3>{{ data.live_count | numberFormat }}</h3>
                    <p>有效直播源</p>
                </div>
                <div class="icon">
                    <i class="iconfont icon-desktop"></i>
                </div>
                <a class="column-footer" routerLink="live">
                    查看更多
                    <i class="iconfont icon-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>