<header>
    <div class="container-fluid">
        <div class="top-bar">
            <div class="brand-logo">
                <img ngSrc="assets/images/logo.png" alt="" fill priority>
            </div>
            <div class="more-bar">
                <a routerLink="/frontend/forum" i18n>Forums</a>
                <a routerLink="/">
                    <i class="iconfont icon-th-list"></i>
                    <ng-container i18n>Our Products</ng-container>
                        
                </a>
                <div class="inner-group">
                    <a>
                        <i class="iconfont icon-shopping-cart"></i>
                    </a>
                    @if (!user()) {
                        <a (click)="loginModal.open()" i18n>Sign In</a>
                    } @else {
                        <a routerLink="/frontend/user/res">{{ user().name }}</a>
                    }
                    <div class="navbar-icon" (click)="toggleNav()">
                        <i class="iconfont icon-bars"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar" [class.open]="navOpen()">
        <div class="container-fluid">
            <ul class="navbar-main" [class.--with-next]="subNavVisible()">
                @for (item of navItems(); track $index; let i = $index) {
                    <li [class.active]="i == navIndex()" (click)="tapItem(i)">
                        <a >{{ item.name }}</a>
                    </li>
                }
            </ul>
        </div>
        @if (subNavVisible()) {
        <div class="container-fluid navbar-next-bar">
            <ul class="navbar-next">
                @for (item of subNavItems(); track $index) {
                    <li [class]="{active: item.active}">
                        <a [routerLink]="['category', item.id]">{{ item.name }}</a>
                        @if (item.children) {
                        <div class="nav-sub">
                            <ul>
                                @for (it of item.children; track $index) {
                                    @if (it.name) {
                                        <li>
                                            <a [routerLink]="['category', it.id]">{{ it.name }}</a></li>
                                    } @else {
                                        <li class="divider"></li>
                                    }
                                }
                                
                            </ul>
                        </div>
                        }
                    </li>
                }
            </ul>
            @if (searchVisible()) {
            <form class="search-inline" (submit)="tapSearch($event)">
                <i class="iconfont icon-search"></i>
                <input type="text" class="form-control" placeholder="Search ..." [formField]="queries.keywords">
            </form>
            }
        </div>
        }
        
        
    </div>
</header>

<div class="inner-body">
    <router-outlet />
</div>


<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="align-center">
                    Copyright ©zodream.cn, All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>

<app-login-dialog #loginModal />