<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>管理 “{{ software?.name }}
                @if (software && software.version) {
                    :{{ software.version.name }}
                }
                ” 的程序包
            </li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                @if (software && software.version) {
                    <div class="btn-group pull-right">
                        <a class="btn btn-success" (click)="open(modal)">新增程序包</a>
                    </div>
                }
                
                
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>文件名</th>
                    <th>安装环境</th>
                    <th>文件大小</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.os }}
                        @if (item.framework) {
                             ({{ item.framework }})
                        }
                    </td>
                    <td>{{ item.size | size }}</td>
                    <td>{{ item.created_at | ago }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-info" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
        <app-pagination [total]="total" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
    </div>
</div>

<app-dialog-box #modal [title]="editForm.id().value() > 0 ? '编辑程序包' : '新增程序包'">
    <div class="form-group">
        <label>目标系统</label>
        <div class="form-control-group">
            <select class="form-control" [field]="editForm.os">
                @for (item of osItems; track $index) {
                    <option [value]="item">{{ item }}</option>
                }
                
            </select>
            <select class="form-control" [field]="editForm.framework">
                @for (item of frameworkItems; track $index) {
                    <option [value]="item">{{ item }}</option>
                }
                
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="name-input">文件名</label>
        <div class="input-group-control">
            <input class="form-control" id="name-input" [field]="editForm.name" placeholder="请输入文件名">
        </div>
    </div>
    <div class="form-group">
        <label>文件大小</label>
        <div>
            <app-data-size [field]="editForm.size" />
        </div>
    </div>
    <div class="form-group">
        <label>文件类型</label>
        <div class="input-group-control">
            <select class="form-control" [field]="editForm.url_type">
                @for (item of urlTypeItems; track $index) {
                    <option [value]="item.value">{{ item.name }}</option>
                }
                
            </select>
        </div>
    </div>
    @if (urlType() < 1) {
    <div class="form-group" >
        <label>文件</label>
        <div class="input-group-control">
            <app-file-input [field]="editForm.url" accept="*/*" [custom]="true" (customUpload)="onFileUpload($event)" />
        </div>
    </div>
    } @else {
    <div class="form-group">
        <label>{{ urlType() > 2 ? '内容' : '网址' }}</label>
        <div>
            <app-text-editor [field]="editForm.url" height="100" />
        </div>
    </div>
    }
 
    
</app-dialog-box>