<app-edit-header [title]="data && data.id > 0 ? '编辑文章' : '新增文章'" (submited)="tapSubmit()" />

<div class="container-fluid">
    <div class="panel-container form-table-control">
        <div class="tab-box">
            <div class="tab-header">
                @for (item of formItems; track $index) {
                <div class="tab-item" [ngClass]="{active: item.active}" (click)="tapTab(item)">
                    {{ item.name }}
                </div>
                }
                
            </div>
            <div class="tab-body">
                @for (group of formItems; track $index) {
                    <div class="tab-item" [ngClass]="{active: group.active}">
                        @for (item of group.items; track $index) {
                            <div class="input-group-control">
                                <label>{{ item.label }}</label>
                                @switch (item.type) {
                                    @case ('password') {
                                        <div>
                                            <input type="password" class="form-control" [(ngModel)]="item.value">
                                        </div>
                                    }
                                    @case ('textarea') {
                                        <div>
                                            <textarea class="form-control"  [(ngModel)]="item.value"></textarea>
                                        </div>
                                    }
                                    @case ('select') {
                                        <div>
                                            <select class="form-control"  [(ngModel)]="item.value">
                                                @for (val of item.items; track $index) {
                                                    <option [value]="val">{{ val }}</option>
                                                }
                                            </select>
                                        </div>
                                    }
                                    @case ('radio') {
                                        <div>
                                            <app-check-input [items]="item.items" [(ngModel)]="item.value" />
                                        </div>
                                    }
                                    @case ('checkbox') {
                                        <div>
                                            <app-check-input [items]="item.items" [(ngModel)]="item.value" [multiple]="true" />
                                        </div>
                                    }
                                    @case ('switch') {
                                        <div>
                                            <app-switch [(ngModel)]="item.value" />
                                        </div>
                                    }
                                    @case ('image') {
                                        <div>
                                            <app-file-input [(ngModel)]="item.value" />
                                        </div>
                                    }
                                    @case ('images') {
                                        <div>
                                            <app-file-input [(ngModel)]="item.value" />
                                        </div>
                                    }
                                    @case ('file') {
                                        <div>
                                            <app-file-input [(ngModel)]="item.value" accept="*" />
                                        </div>
                                    }
                                    @case ('files') {
                                        <div>
                                            <app-file-input [(ngModel)]="item.value" accept="*" />
                                        </div>
                                    }
                                    @case ('editor') {
                                        <div>
                                            <app-zre-editor [(ngModel)]="item.value" />
                                        </div>
                                    } 
                                    @case ('basic_editor') {
                                        <div>
                                            <app-zre-editor [(ngModel)]="item.value" />
                                        </div>
                                    }
                                    @case ('markdown') {
                                        <div>
                                            <app-markdown-editor [(ngModel)]="item.value" />
                                        </div>
                                    }
                                    @default {
                                        <div>
                                            <input type="text" class="form-control" [(ngModel)]="item.value">
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </div>
                }
                
            </div>
        </div>
        <div class="btn-group">
            <button (click)="tapSubmit()" class="btn btn-success">确认保存</button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
        
    </div>
</div>