<div class="emulate-box">
    <div class="box-header">
        <i class="iconfont icon-arrow-left" (click)="tapBack()"></i>
        {{ account?.name }}
        <div class="header-right" *ngIf="account">
            <i class="iconfont icon-ellipsis-v"></i>
            <div class="sub-box">
                <div class="qr">
                    <img [src]="account.avatar" [alt]="account.name">
                </div>
                <div class="name">{{ account.name }}</div>
                <div class="desc">{{ account.description }}</div>
            </div>
        </div>
    </div>
    <app-message-container class="scroll-body" [items]="messageItems" [hasMore]="false" [currentId]="user.id"></app-message-container>
    <div class="box-footer toggle-input" [ngClass]="{'toggle-input': footerIndex > 0, 'toggle-more': footerIndex == 2}">
        <div class="input-box">
            <div *ngIf="menuItems.length > 0" (click)="footerIndex = 0">
                <i class="iconfont icon-th-list"></i>
            </div>
            <textarea [(ngModel)]="content" (keydown)="onKeydown($event)"></textarea>
            <div (click)="toggleMore()">
                <i class="iconfont icon-ellipsis-h"></i>
            </div>
        </div>
        <div class="input-more-box">
            <div class="icon-item">
                <i class="iconfont icon-image"></i>
                图片
            </div>
            <div class="icon-item">
                <i class="iconfont icon-microphone"></i>
                语音
            </div>
            <div class="icon-item">
                <i class="iconfont icon-map-marker"></i>
                地址
            </div>
        </div>
        <div class="menu-box">
            <div (click)="footerIndex = 1">
                <i class="iconfont icon-keyboard"></i>
            </div>
            <ul class="menu-body">
                <ng-container *ngFor="let item of menuItems">
                    <li class="menu-item" [ngClass]="{active: item.open}">
                        <span (click)="tapMenu(item)">{{ item.name }}</span>
                        <ul *ngIf="item.children && item.children.length > 0">
                            <li *ngFor="let it of item.children"  (click)="tapMenu(it)">{{ it.name }}</li>
                        </ul>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</div>