<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>商品回收站列表</li>
        </ul>
    </app-page-tip>
  <div class="panel-container">
    <div class="page-search-bar">
        <form class="form-horizontal"  (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
            <div class="input-group">
                <label for="keywords">标题</label>
                <input type="text" class="form-control" name="keywords" [ngModel]="queries.keywords" id="keywords" placeholder="标题" >
            </div>
            <div class="input-group">
                <label>分类</label>
                <select name="category" [ngModel]="queries.category" class="form-control">
                    <option [value]="0">请选择</option>
                    <option *ngFor="let item of categories" [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
                </select>
            </div>
            <div class="input-group">
                <label>品牌</label>
                <select name="brand" [ngModel]="queries.brand" class="form-control">
                    <option [value]="0">请选择</option>
                    <option *ngFor="let item of brandItems" [value]="item.id">{{ item.name }}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">搜索</button>
            
            <div class="btn-group pull-right">
                <a class="btn btn-success" (click)="tapClear()">全部清空</a>
                <a class="btn btn-dark" (click)="tapRestore()">全部还原</a>
                <a class="btn btn-info" routerLink="../list">返回商品列表</a>
            </div>
        </form>
      
      </div>
      
      <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>商品名</th>
            <th class="auto-hide">分类</th>
            <th class="auto-hide">品牌</th>
            <th>价格</th>
            <th class="auto-hide">推荐</th>
            <th>库存</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{ item.id }}</td>
                <td>
                    <div class="goods-info">
                        <div class="thumb">
                            <img [src]="item.thumb" alt="" width="60" height="60">
                        </div>
                        <a class="name" href="" target="_blank">
                        {{ item.name }}</a>
                    </div>
                </td>
                <td class="auto-hide">
                    <ng-container *ngIf="item.category; else elseTemplate">
                          {{ item.category.name }}
                    </ng-container>
                    <ng-template #elseTemplate>
                          [未分类]
                    </ng-template>
                </td>
                <td class="auto-hide">
                      <ng-container *ngIf="item.brand; else elseBrandTemplate">
                              {{ item.brand.name }}
                        </ng-container>
                        <ng-template #elseBrandTemplate>
                              [无]
                        </ng-template>
                </td>
                <td>
                    {{ item.price }}
                </td>
                <td class="auto-hide">
                      <div class="toggle-box" [ngClass]="{active: item.is_best}">精品<i class="fa"></i></div>
                      <div class="toggle-box" [ngClass]="{active: item.is_hot}">热门<i class="fa"></i></div>
                      <div class="toggle-box" [ngClass]="{active: item.is_new}">新品<i class="fa"></i></div>
                </td>
                <td>
                    {{ item.stock }}
                </td>
                <td>
                    <div class="btn-group  btn-group-xs">
                        <a class="btn btn-info btn-xs" (click)="tapRestore(item)">还原</a>
                        <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                    </div>
                </td>
            </tr>
        </tbody>
      </table>
      <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
      <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
  </div>
</div>