<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">ZoDream</a>
        <button class="navbar-toggler" type="button" (click)="navExpand = !navExpand" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [ngClass]="{show: navExpand}" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <ng-container *ngFor="let item of menus">
                    <li class="nav-item" [ngClass]="{active: activeUri === item.url}">
                        <a class="nav-link" [routerLink]="item.url">{{ item.name }}<span
                                class="sr-only">(current)</span></a>
                    </li>
                </ng-container>
            </ul>
            <ul class="navbar-nav" *ngIf="user">
                <li class="nav-item">
                    <app-checkin>
                        <a class="nav-link">签到</a>
                    </app-checkin>
                </li>
                <li class="nav-item dropdown" [ngClass]="{show: dropDownVisiable}">
                    <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" (click)="toggleDropDown()">
                        {{ user.name }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown" [ngClass]="{show: dropDownVisiable}">
                        <li ngbDropdownItem><a class="dropdown-item" routerLink="/backend/user/bulletin">私信</a></li>
                        <li ngbDropdownItem><a class="dropdown-item" routerLink="/backend/user/profile">账号设置</a></li>
                        <li ngbDropdownItem><hr class="dropdown-divider"></li>
                        <li ngbDropdownItem><a class="dropdown-item" (click)="tapLogout()">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>
<footer>
    <div class="container">
        <div class="friend-link">
            <div>友情链接</div>
            <div>
                <ng-container *ngFor="let item of friendLinks">
                    <a [href]="item.url" target="_blank" rel="noopener"
                        [title]="item.description || item.name">{{ item.name }}</a>
                </ng-container>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright ©zodream.cn, All Rights Reserved.</p>
        </div>
    </div>
</footer>
<app-online-service></app-online-service>