<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" routerLink="./">ZoDream</a>
            <button class="navbar-toggler" type="button" (click)="navExpand = !navExpand" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" [ngClass]="{show: navExpand}" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <ng-container *ngFor="let item of menus">
                        <li class="nav-item" [ngClass]="{active: activeUri === item.url}">
                            <a class="nav-link" [routerLink]="item.url">{{ item.name }}<span class="sr-only" *ngIf="activeUri === item.url" i18n>(current)</span></a>
                        </li>
                    </ng-container>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" (click)="searchModal.open();navExpand=false">
                            <i class="iconfont icon-search"></i>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="!user">
                        <a class="nav-link" routerLink="/auth" [queryParams]="{redirect_uri: locationHref}" i18n>Sign in</a>
                    </li>
                    <ng-container *ngIf="user">
                        <li class="nav-item">
                            <app-checkin>
                                <a class="nav-link" i18n>Check in</a>
                            </app-checkin>
                        </li>
                        <li class="nav-item dropdown" [ngClass]="{show: dropDownVisiable}">
                            <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" (click)="toggleDropDown()">
                                {{ user.name }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown" [ngClass]="{show: dropDownVisiable}">
                                <li ngbDropdownItem><a class="dropdown-item" routerLink="/backend/user/bulletin" i18n>Message</a></li>
                                <li ngbDropdownItem><a class="dropdown-item" routerLink="/backend/user/profile" i18n>Profile</a></li>
                                <li ngbDropdownItem><hr class="dropdown-divider"></li>
                                <li ngbDropdownItem><a class="dropdown-item" (click)="tapLogout()" i18n>Sign out</a></li>
                            </ul>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>
<footer>
    <div class="container">
        <div class="friend-link">
            <div i18n>Friend Link</div>
            <div>
                <ng-container *ngFor="let item of friendLinks">
                    <a [href]="item.url" target="_blank" rel="noopener"
                        [title]="item.description || item.name">{{ item.name }}</a>
                </ng-container>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright ©zodream.cn, All Rights Reserved.</p>
        </div>
    </div>
</footer>
<app-online-service></app-online-service>
<app-search #searchModal></app-search>
<app-login-dialog></app-login-dialog>