.navbar {
    background-color: #a10000;
    color: #fff;
    .navbar-brand,
    .navbar-toggler-icon,
    .nav-link {
        color: #fff;
    }
    .nav-item{
        &.active {
            .nav-link {
                font-weight: 700;
            }
        }
    }
}

footer {
    background-color: #a10000;
    color: #fff;
    padding: 20px 0;
    .copyright {
        text-align: center;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}

.friend-link {
    position: relative;
    padding-left: 100px;
    >div:first-child {
        position: absolute;
        left: 0;
        width: 90px;
        border-right: 5px solid #fff;
        text-align: center;
    }
    a {
        margin-right: 20px;
    }
}

@media (min-width: 992px) {
    .navbar {
        .dropdown-menu {
            margin-left: -50px;
        }
    }
}

::ng-deep {
    .panel {
        background-color: #fff;
        margin-bottom: 20px;
        .panel-header {
            line-height: 50px;
            padding-left: 20px;
            border-left: 5px solid #a10000;
            font-size: 20px;
            font-weight: 700;
        }
    }

}