@use '../theme/styles/theme';

%navbar-custom {
    --#{theme.$prefix}navbar-brand-color: var(--#{theme.$prefix}navbar-color);
    --#{theme.$prefix}navbar-brand-hover-color: var(--#{theme.$prefix}navbar-hover-color);
    background-color: var(--#{theme.$prefix}navbar);
    .navbar-collapse {
        justify-content: space-between;
    }
  
    .navbar-nav {
        .nav-link {
            &.active {
                .nav-link {
                    font-weight: 700;
                }
            }
        }
    }
  
    .navbar-toggler-icon {
        line-height: 1.5em;
        background-image: none;
    }
  
    .bubble {
        color: var(--#{theme.$prefix}navbar-color);
        background-color: var(--#{theme.$prefix}navbar-color);
    }
}

.navbar-custom {
    --#{theme.$prefix}navbar: var(--#{theme.$prefix}primary);
    --#{theme.$prefix}navbar-color: var(--#{theme.$prefix}primary-text);
    --#{theme.$prefix}navbar-hover-color: var(--#{theme.$prefix}primary-hover-text);
    --#{theme.$prefix}navbar-disabled-color: rgba(var(--#{theme.$prefix}primary-text-rgb), .7);
    @extend %navbar-custom;
}

.navbar-not {
    --#{theme.$prefix}navbar: transparent;
    --#{theme.$prefix}navbar-color: #333;
    --#{theme.$prefix}navbar-hover-color: #000;
    @extend %navbar-custom;
}

.bubble-tip {
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    width: .6rem;
    height: .6rem;
    vertical-align: top;
}

.bubble {
    border-radius: 50%;
    display: block;
    width: 1.5625rem;
    height: 1.5625rem;
    line-height: 1.5625rem;
    text-align: center;
    font-size: 0.625rem;
    overflow: hidden;
    font-style: normal;
    float: right;
}

footer {
    background-color: var(--#{theme.$prefix}primary);
    color: var(--#{theme.$prefix}primary-text);
    padding: 20px 0;
    .copyright {
        text-align: center;
    }
    a {
        color: var(--#{theme.$prefix}primary-text);
        text-decoration: none;
    }
}

.friend-link {
    position: relative;
    padding-left: 6.25rem;
    >div:first-child {
        position: absolute;
        left: 0;
        width: 5.625rem;
        border-right: 5px solid var(--#{theme.$prefix}primary-text);
        text-align: center;
    }
    a {
        margin-right: 1.25rem;
    }
}

.inner-body {
    min-height: 70vh;
}

@media (min-width: 992px) {
    .navbar-custom {
        .dropdown-menu {
            margin-left: -3.125rem;
        }
    }
}

.inner-body ::ng-deep {
    .panel {
        background-color: var(--#{theme.$prefix}panel);
        margin-bottom: 1.25rem;
        .panel-header {
            line-height: 3.125rem;
            padding-left: 1.25rem;
            border-left: 0.3125rem solid var(--#{theme.$prefix}primary);
            font-size: 1.25rem;
            font-weight: 700;
        }
    }
    .simple-panel {
        background-color: var(--#{theme.$prefix}panel);
        color: var(--#{theme.$prefix}body-text);
        padding: 1.25rem;
        .panel-header {
            h3, 
            h1, 
            h2 {
                color: var(--#{theme.$prefix}body-text);
                font-size: 2.1em;
                font-weight: 500;
                margin: 0;
                text-transform: uppercase;
            }
        }
        .header-meta {
            color: #b3b1b1;
            font-size: 0.9375rem;
            margin: 1.2% 0;
            line-height: 1.6em;
        }
    }
    
}