.navbar {
    background-color: #a10000;
    color: #fff;
    .navbar-brand,
    .navbar-toggler-icon,
    .nav-link {
        color: #fff;
    }
}
footer {
    background-color: #a10000;
    color: #fff;
    padding: 20px 0;
    .copyright {
        text-align: center;
    }
}