<div class="container">
    <div class="row">
        @for (item of items(); track $index) {
            <div class="col-md-6 col-lg-4">
            <a class="column-image-item mt-10" [routerLink]="[item.id]">
                <div class="item-logo">
                    <img [appLazyLoad]="item.logo" [alt]="item.name">
                </div>
                <div class="item-body">
                    <div class="item-name">{{ item.name }}</div>
                    <div class="item-meta">{{ item.description }}</div>
                </div>
            </a>
        </div>
        }
    </div>
</div>