.dialog-box {
    height: auto;
    margin-left: 0;
    bottom: auto;
    top: 0;
    .dialog-header {
        min-height: 2.5rem;
        height: auto;
    }
    .dialog-footer {
        text-align: right;
        // padding: 0.625rem;
    }
    .dialog-body {
        display: flex;
        padding: 0.2rem .8rem;
        min-height: 10rem;
    }
}
@media (min-width: 40rem) {
    .dialog-box {
        width: 17rem;
        left: 50%;
        top: 50%;
        margin-left: -8.5rem;
    }
}