<div class="dialogue-editor">
    <div class="input-bar">开始</div>

    <div class="dialogue-panel">
        <div class="panel-user">
            <img src="" alt="">
            <span>test</span>
        </div>
        <div class="panel-header">sadsadsads</div>
        <div class="panel-body">
            <div class="child-item">
                <div class="item-boby">
                    npc
                </div>
                <div class="item-action">
                    <i class="iconfont icon-minus"></i>
                </div>
                <div class="item-output"></div>
            </div>
            <div class="child-item">
                <div class="item-boby">
                    npc
                </div>
                <div class="item-action">
                    <i class="iconfont icon-minus"></i>
                </div>
                <div class="item-output"></div>
            </div>
            <div class="add-child-item">
                <i class="iconfont icon-plus"></i>
            </div>
        </div>
        <div class="panel-output">
            <span></span>
            <!-- <span></span> -->
        </div>
    </div>

    <div class="output-bar">结束</div>
</div>