@use '../../../../theme/styles/scrollbar';
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.message-box {
    display: grid;
    grid-template-columns: 250px 1fr;
    .message-menu {
        background-color: #e0f0fd;
        overflow: auto;
        @include scrollbar.scrollbar();
    }
    .menu-item {
        padding: 12px 18px 12px 16px;
        display: grid;
        grid-template-columns: 80px 1fr;
        .icon {
            width: 51px;
            height: 51px;
            border-radius: 25.5px;
            background-color: #ccc;
            font-size: 30px;
            text-align: center;
            line-height: 50px;
        }
        .avatar {
            width: 51px;
            height: 51px;
            border-radius: 25.5px;
            background-color: #ccc;
            img {
                width: 51px;
                height: 51px;
                border-radius: 25.5px; 
            }
        }
        .info {
            .name {
                color: #000;
                font-weight: 700;
            }
            p {
                color: #676d70;
            }
        }
        &:hover {
            background-color: #fff;
        }
        &.active {
            background-color: #fff;
            border-left: 4px solid #d75650;
        }
    }
    .message-body {
        background-color: white;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        display: flex;
        flex-direction: column;
        .title-bar {
            line-height: 40px;
            text-align: center;
            position: relative;

        }
        .drop-menu-box {
            float: right;
            .menu-body {
                display: none;
            }
            .iconfont {
                display: inline-block;
                width: 40px;
                text-align: center;
                cursor: pointer;
            }
            &:hover {
                .menu-body {
                    display: block;
                }
            }
        }
    }
    .drop-menu-box {
        .menu-body {
            position: absolute;
            right: 0;
            width: 120px;
            z-index: 5;
            background-color: white;
            text-align: center;
            box-shadow: rgba(51,51,51,.7) 0 0 10px;
            li {
                cursor: default;
                &:hover {
                    background-color: #eee;
                }
            }
        }
        
    }

    .message-tools {
        font-size: 1.25rem;
        line-height: 1.875rem;
        border-top: 0.0625rem solid white;
        background-color: #f4f4f4;
        .iconfont {
            display: inline-block;
            width: 1.875rem;
            text-align: center;
        }
    }
    .message-editor {
        background-color: #f4f4f4;
        height: 160px;
        display: flex;
        flex-direction: column;
        textarea {
            width: 100%;
            background-color: transparent;
            border:  none;
            outline: none;
            flex: 1;
            resize: none;
        }
    }
    .message-action {
        text-align: right;
        .size-tip {
            display: inline-block;
            color: #ccc;
            margin-right: 10px;
        }
        .btn {
            width: 80px;
        }
    }
}
app-message-container {
    background-color: #fafafa;
    max-height: 80vh;
}