<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>仓库日志列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group-control">
                    <label for="keywords">标题</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="标题">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>仓库名</th>
                    <th>商品</th>
                    <th>变化数量</th>
                    <th>备注</th>
                    <th>操作员</th>
                    <th>操作时间</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.warehouse.name }}</td>
                    <td>
                        {{ item.goods.name }}
                    </td>
                    <td>
                        {{ item.amount }}
                    </td>
                    <td>
                        {{ item.remark }}
                    </td>
                    <td>
                        {{ item.user.name }}
                    </td>
                    <td>
                        {{ item.created_at }}
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
</div>