<div class="page-box" [class]="{'nav-toggle': navToggle()}">
    <div class="nav-bar">
        <i class="iconfont icon-bars nav-toggle-icon" (click)="toggle()"></i>
        <div class="bar-version">
            <label for="version" i18n>Version</label>
            <select id="version" [formField]="queries.version" (change)="onVersionChange()">
                @for (item of versionItems(); track $index) {
                    <option [value]="item.id">{{ item.name }}</option>
                }
            </select>
        </div>
        <div class="bar-search">
            <input type="text" i18n-placeholder placeholder="Please input a keywods..." [formField]="queries.keywords">
            <i class="iconfont" [class]="{'icon-search': queries.keywords().value().length < 1, 'icon-close': queries.keywords().value().length > 0}" (click)="queries.keywords().value.set('')"></i>
        </div>
        <div class="bar-top">
            <ul class="tree-box">
                @for (item of formatCatalog(); track $index) {
                <li class="tree-item" [class]="{open: item.expanded, active: data && item.id == data().id}">
                    <div class="tree-name" (click)="tapRead(item)">
                        <i class="iconfont" [class]="{'icon-chevron-right': item.children && !item.expanded, 'icon-chevron-down': item.children && item.expanded}"></i>
                        {{ item.name }}
                    </div>
                    <ul class="tree-body">
                        @for (it of item.children; track $index) {
                        <li class="tree-item" [class]="{active: data && it.id == data().id}">
                            <div class="tree-name" (click)="tapRead(it)">{{ it.name }}</div>
                        </li>
                        }
                        
                    </ul>
                </li>
                }
                
            </ul>
        </div>
    </div>
  
    <div class="page-body">
        @if (data()) {
        <div class="container-fluid">
            @if (!data().response) {
                <div class="title">
                    {{ data().name }}
                </div>
                <div class="content">
                    <app-markdown-block [value]="data().content" />
                </div>
            } @else {
                <div class="title">
                    {{ data().name }}
                    <div class="pull-right">
                        <div class="btn btn-primary" (click)="openCode(codeModal)" i18n>Code</div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-header" i18n>
                        Interface detail
                    </div>
                    <div class="panel-body">
                        <p class="text-muted"><label i18n>Name:</label>{{ data().name }}</p>
                        <p class="text-muted"><label i18n>Project:</label>{{ project().name }}</p>
                        <p class="text-muted"><label i18n>Method:</label>{{ data().method }}</p>
                        <p class="text-muted"><label i18n>Brief:</label>{{ data().description }}</p>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-header" i18n>
                        Interface URL
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <tbody>
                                @for (item of project().environment; track $index) {
                                <tr>
                                    <td style="width: 20%;">{{ item.title }}({{ item.name }})</td>
                                    <td style="width: 50%;">
                                        <code>{{ item.domain }}{{ data().uri }}</code></td>
                                    <td style="width: 15%;">
                                        <button type="button" class="btn btn-xs btn-success btn-copy">
                                            <i class="fa fa-fw fa-copy"></i>
                                            <ng-container i18n>Copy</ng-container>
                                        </button>
                                    </td>
                                </tr>
                                }
                                
                            
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (data().header && data().header.length > 0) {
                <div class="panel">
                    <div class="panel-header" i18n>
                        Header parameters
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>字段键</th>
                                    <th>字段值</th>
                                    <th>备注说明</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of data().header; track $index) {
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.default_value }}</td>
                                    <td>{{ item.remark }}</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                }
                @if (data().request && data().request.length > 0) {
                <div class="panel">
                    <div class="panel-header" i18n>
                        Request parameters
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th i18n>Alias</th>
                                    <th i18n>Title</th>
                                    <th i18n>Type</th>
                                    <th i18n>Required </th>
                                    <th i18n>Default</th>
                                    <th i18n>Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of data().request; track $index) {
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.type }}</td>
                                    <td i18n>
                                        {item.is_required, plural, =true {Yes} =false {No}}</td>
                                    <td>{{ item.default_value }}</td>
                                    <td style="width: 20%;">{{ item.remark }}</td>
                                </tr>
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                }
                @if (data().response && data().response.length > 0) {
                <div class="panel">
                    <div class="panel-header" i18n>
                        Response parameters
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th i18n>Alias</th>
                                    <th i18n>Title</th>
                                    <th i18n>Type</th>
                                    <th i18n>MOCK rule</th>
                                    <th i18n>Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of data().response; track $index) {
                                <tr>
                                    <td class="line-name">
                                        {{ item.level | treeLevel }}
                                        {{ item.name }}</td>
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.type }}</td>
                                    <td>{{ item.mock }}</td>
                                    <td style="width: 20%;">{{ item.remark }}</td>
                                </tr>
                                }
                                
                            
                            </tbody>
                        </table>
                    </div>
                </div>
                }
                @if (data().example) {
                <div class="panel">
                    <div class="panel-header" i18n>
                        Example
                    </div>
                    <div class="panel-body code-box">
                        <pre><code class="language-json">{{ data().example }}</code></pre>
                    </div>
                </div>
                }
            }

            <div class="navigation-bar">
                @if (previous()) {
                <span class="prev" (click)="tapRead(previous())" i18n>
                    Previous: {{ previous().name }}
                </span>
                }
                @if (next()) {
                <span class="next" (click)="tapRead(next())" i18n>
                    Next: {{ next().name }}
                </span>
                }
            </div>
        </div>
        }
        
    </div>
</div>

<app-dialog-box #codeModal i18n-title title="Code generation" [footerVisible]="false">
    <form class="search-bar" (submit)="tapGenerate($event)">
        <select [formField]="codeForm.kind" class="form-control">
            @for (item of kindItems; track $index;let i = $index) {
                <option [value]="i">{{ item }}</option>
            }
        </select>
        <select [formField]="codeForm.lang" class="form-control">
            @for (item of langItems(); track $index) {
                <option [value]="item">{{ item }}</option>
            }
        </select>
        <button type="submit" class="btn btn-primary" i18n>Generate</button>
        @if (codeForm.content().value()) {
            <a class="btn btn-info" (click)="tapCopy($event)" i18n>Copy</a>
        }
    </form>
    @if (codeForm.content().value()) {
    <div class="code-box">
        <pre><code class="language-json">{{ codeForm.content().value() }}</code></pre>
    </div>
    }
    
</app-dialog-box>