@use '../../../../bootstrap/desktop/scrollbar';
@use '../../../theme/theme';

$shadow: rgba(var(--#{theme.$prefix}mask-rgb),.7);
$navWidth: 18.75rem;

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-bar {
    --#{theme.$prefix}nav: var(--#{theme.$prefix}body);
    --#{theme.$prefix}nav-text: var(--#{theme.$prefix}body-text);
    --#{theme.$prefix}nav-hover: var(--#{theme.$prefix}panel);
    --#{theme.$prefix}nav-active: var(--#{theme.$prefix}panel);
    position: fixed;
    left: 0;
    width: $navWidth;
    bottom: 0;
    background-color: var(--#{theme.$prefix}nav);
    top: 0;
    z-index: 99;
    box-shadow: 0 0 10px $shadow;
    display: flex;
    flex-direction: column;
    transition: left .25s ease;
    .nav-toggle-icon {
        font-size: 1.875rem;
        padding: 0 .625rem;
        line-height: 2.5rem;
        display: inline-block;
        position: absolute;
        z-index: 20;
        right: -3.125rem;
        background-color: var(--#{theme.$prefix}nav);
        &:hover {
            background-color: var(--#{theme.$prefix}nav-hover);
        }
    }
    .bar-top {
        overflow-y: auto;
        flex: 1;
        @include scrollbar.scrollbar();
        padding: 10px 0;
    }
    .bar-search {
        position: relative;
        background-color: var(--#{theme.$prefix}input);
        padding: 2px 10px;
        border-bottom: 1px solid var(--#{theme.$prefix}input-border);
        padding-right: 42px;
        .iconfont {
            position: absolute;
            top: 4px;
            right: 10px;
            color: var(--#{theme.$prefix}input-icon);
            font-size: 25px;
        }
        input {
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            height: 2.5rem;
        }
    }
    .bar-version {
        display: flex;
        line-height: 2.5rem;
        padding-left: .625rem;
        select {
            height: 40px;
            flex: 1;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid var(--#{theme.$prefix}input-border);
            border-radius: 0;
            outline: none;
        }
    }
}

.page-body {
    margin-left: $navWidth;
}

.nav-toggle {
    .nav-bar {
        left: -$navWidth;
        box-shadow: none;
        .nav-toggle-icon {
            box-shadow: 0 0 10px $shadow;
        }
    }
    .page-body {
        margin-left: 0;
    }
}

.tree-box {
    .tree-item {
        .iconfont {
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
            display: inline-block;
            text-align: center;
        }
        .tree-name {
            user-select: none;
            line-height: 2.5rem;
            text-align: left;
        }
        .tree-body {
            display: none;
            .tree-name {
                padding-left: 1.875rem;
                cursor: pointer;
            }
        }
        .tree-item {
            margin-left: 1.5rem;
        }
        &:hover {
            >.tree-name {
                background-color: var(--#{theme.$prefix}nav-hover);
            }
        }
        &.active {
            >.tree-name {
                background-color: var(--#{theme.$prefix}nav-active);
            }
        }
        &.open {
            .tree-body {
                display: block;
            }
        }
    }
}

.title {
    line-height: 4rem;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.content {
    padding-bottom: 30px;
    min-height: 50vh;
}

.pull-right {
    float: right;
}

.panel {
    background-color:  var(--#{theme.$prefix}panel);
    padding: 0 10px;
    margin-bottom: 10px;
    .panel-header {
        line-height: 40px;
        border-bottom: 2px solid;
        border-left: none;
        font-size: 18px;
        .pull-right {
            float: right;
            user-select: none;
            font-size: 13px;
        }
    }
    .panel-body {
        padding: 10px 0;
    }
}

.navigation-bar {
    padding: 9px 0;
    .prev,
    .next {
        color: var(--#{theme.$prefix}meta-text);
        padding: 2px 0;
        user-select: none;
        cursor: pointer;
    }
    .prev {
        float: left;
    }
    .next {
        float: right;
        
    }
    &::after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

.code-box {
    outline: 1px solid var(--#{theme.$prefix}border);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    overflow: auto;
}

.search-bar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    max-width: 37.5rem;
    padding-bottom: .8rem;
    .form-control,
    .btn {
        border-radius: 0;
        width: auto;
    }
    .form-control:first-child {
        position: relative;
        margin-bottom: 0;
        border-radius: .25rem 0 0 .25rem;
    }
    .btn:last-child {
        display: flex;
        border-radius: 0 .25rem .25rem 0;
    }
}

@media screen and (max-width: 48rem) {
    .nav-bar {
        left: -18.75rem;
        box-shadow: none;
        .nav-toggle-icon {
            box-shadow: 0 0 10px $shadow;
        }
    }
    .page-body {
        margin-left: 0;
    }

    .nav-toggle {
        .nav-bar {
            left: 0;
            box-shadow: 0 0 10px $shadow;
            .nav-toggle-icon {
                box-shadow: none;
            }
        }
    }
}