<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>书籍列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label class="sr-only" for="keywords">内容</label>
                    <input type="text" class="form-control" placeholder="标题" id="keywords" [field]="queries.keywords">
                </div>
                <div class="input-group-control">
                    <label>分类</label>
                    <select [field]="queries.category" class="form-control">
                        <option [value]="0">请选择</option>
                        @for (item of categories; track $index) {
                            <option [value]="item.id">{{ item.name }}</option>
                        }
                    </select>
                </div>
                <div class="input-group-control">
                    <label>分级</label>
                    <select [field]="queries.classify" class="form-control">
                        @for (item of classifyItems; track $index) {
                            <option [value]="item.value">{{ item.name }}</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a class="btn btn-danger" (click)="tapSortOut()">整理书籍</a>
                    <a class="btn btn-info" (click)="tapImport()">导入书籍</a>
                    <a class="btn btn-success" routerLink="./book/create">新增书籍</a>
                </div>
            </form>
        </div>
    
        <table class="table table-bordered well">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>标题</th>
                    <th>分类</th>
                    <th>作者</th>
                    <th>统计</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>
                        【{{ item.status_label }}】
                        <a target="_blank">
                            {{ item.name }}
                        </a>
                    </td>
                    <td>{{ item.category?.name || '--' }}</td>
                    <td>{{ item.author.name }}</td>
                    <td>{{ item.size }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-info btn-xs"
                                [routerLink]="['../chapter', item.id]">目录</a>
                            <a class="btn btn-light btn-xs"
                                [routerLink]="['../book', item.id]">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
        <app-pagination [total]="total" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
    </div>
    
</div>
<app-spider />