<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>分享给我的任务列表</li>
        </ul>
    </app-page-tip>

    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">标题</label>
                    <input type="text" class="form-control" placeholder="搜索标题"
                        id="keywords" [formField]="queries.keywords">
                </div>
                <div class="input-group-control">
                    <label>状态</label>
                    <select [formField]="queries.status" class="form-control">
                        <option value="0">请选择</option>
                        @for (item of statusItems; track $index) {
                            <option [value]="item.value">{{ item.name }}</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    </div>

    @for (item of items(); track $index) {
    <div class="task-item" [class]="{finished: item.task.status < 5}">
        @if (item.user) {
        <div class="avatar">
            <img [src]="item.user.avatar">
            <p>{{ item.user.name }}</p>
        </div>
        }
        
        <div class="name" (click)="tapView(item)">{{ item.task.name }}</div>
        <div class="desc">{{ item.task.description }}</div>
        <div class="time">{{ item.task.time_length | hour }}</div>
        <div class="action">
            <i class="iconfont icon-trash" (click)="tapRemove(item)" title="删除分享"></i>
        </div>
    </div>
    }


    <div class="panel-container">
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [formField]="queries.page"
            (valueChange)="goPage($event)" [perPage]="queries.per_page().value()" />
    </div>
</div>