@use '../../../theme/theme';

:host {
    position: relative;
    display: inline-flex;
    background-color: var(--#{theme.$prefix}light);
    border-radius: 2em;
    height: 2em;
    line-height: 2em;
    user-select: none;
    &:after {
        content: ' ';
        position: absolute;
        border-radius: 2em;
        top: 0;
        transition: box-shadow .1s ease-in;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(var(--#{theme.$prefix}mask-rgb),.4);
    }
}

.toggle-item,
.toggle-icon {
    width: 3rem;
}

.toggle-item {
    text-align: center;
    font-size: .8em;
    z-index: 1;
}

.toggle-icon {
    display: block;
    position: absolute;
    border-radius: 2em;
    background-color: var(--#{theme.$prefix}panel);
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .1s ease-in;
    height: 2em;
    box-shadow: 0 3px 1px rgba(var(--#{theme.$prefix}mask-rgb),.05), 0 0 1px rgba(var(--#{theme.$prefix}mask-rgb),.3);
}