.product-dialog-container {
    position: fixed;
    z-index: 301;
    left: 50%;
    top: 50%;
    margin-left: -10rem;
    margin-top: -15rem;
    border-radius: .375rem;
    width: 20rem;
    height: 30rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    .dialog-header {
        position: relative;
        height: 10rem;
        overflow: hidden;
        img {
            width: 100%;
        }
        .cover-label {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: .8rem;
            color: #fff;
            background-color: rgba($color: #000000, $alpha: .1);
        }
    }
    .dialog-body {
        flex: 1;
    }
    .price {
        font-size: 1.5rem;
        color: #e01222;
        font-family: arial;
        margin-right: 0.125rem;
        display: inline-block;
        min-width: 3.125rem;
        em {
            font-size: 0.875rem;
            font-style: normal;
        }
    }
    .dialog-footer {
        display: flex;
        justify-content: space-between;
    }
}

.property-box {
    .flex-group {
        line-height: 1rem;
        .group-header {
            font-size: 12px;
            color: #999;
            margin: 0 10px;
            height: 40px;
            line-height: 40px;
        }
        .group-body {
            overflow: hidden;
            margin-bottom: 3px;
            span {
                display: inline-block;
                padding: 0 10px;
                min-width: 20px;
                max-width: 270px;
                overflow: hidden;
                height: 30px;
                line-height: 30px;
                text-align: center;
                margin-left: 10px;
                margin-bottom: 10px;
                border-radius: 4px;
                color: #333;
                background-color: #f7f7f7;
                font-size: 14px;
                cursor: pointer;
                &.active {
                    background-color: #e4393c;
                    color: white;
                }
                &.disable {
                    background-color: #bbb;
                    color: #fff;
                    cursor: not-allowed;
                }
            }
        }
    }
}