@if (visible() && value()) {
<div class="product-dialog-container">
    <div class="dialog-header">
        <img [src]="value().thumb" alt="">
        <div class="cover-label">{{ value().name }}</div>
    </div>
    <div class="dialog-body">
        <div class="property-box">
            @for (item of value().properties; track $index; let i = $index) {
              <div class="flex-group" [ngClass]="{'multi-group': item.type == 2}">
                  <div class="group-header">{{ item.name }}</div>
                  <div class="group-body">
                    @for (attr of item.attr_items; track $index; let j = $index) {
                        <span [ngClass]="{active: attr.checked, disable: attr.disabled}" (click)="toggleSelected(i, j)">{{ attr.value }}</span>
                    }
                  </div>
              </div>
            }
            @if (amountVisible) {
            <div class="flex-group">
                <div class="group-header">
                  数量
                </div>
                <div class="group-body">
                  <app-number-input [field]="amount" [min]="1" [max]="stock" />
                </div>
            </div>
            }
        </div>
    </div>
    <div class="dialog-footer">
        <div class="price">
            <em>￥</em> {{ value().price }}
        </div>
        <div class="btn-group">
            <div class="btn btn-primary" (click)="tapYes()">确认</div>
            <div class="btn btn-danger" (click)="close()">取消</div>
        </div>
    </div>
</div>
}