.panel {
    margin-top: 2rem;
    .panel-header {
        font-size: 2rem;
        padding: .5rem;
    }
}

.detail-floor {
    .image-box {
        max-height: 70vh;
        z-index: -1;
        img {
            width: 100%;
        }
    }
    .detail-header {
        // margin-left: .8rem;
        padding: 1rem;
        background: linear-gradient(to bottom, rgba(244, 244, 244, 0), rgba(244, 244, 244, .3) 10%, rgba(244, 244, 244, 1));
        position: relative;
        z-index: 1;
    }
    
    .title-bar {
        font-size: 2rem;
        font-weight: bold;
    
        .star-bar {
            font-size: 1rem;
            float: right;
        }
    }
    
    .meta-bar {
        color: #666;
        p {
            margin: 0;
        }
    }
    .btn-group {
        margin-top: 1rem;
    }
    .description-bar {
        margin-top: 1rem;
    
        .bar-more {
            float: right;
        }
    }


}

.more-container {
    background-color: var(--bs-body-bg);
    position: relative;
    z-index: 1;
    padding: 1rem;
}

.detail-action {
    display: flex;
    gap: .8rem;
    .line-group {
        flex: 1;
        min-width: 0;
        display: flex;
        gap: .8rem;
    }
    .btn-outline {
        flex: 1;
        min-width: 0;
        width: 100%;
    }
    .col-12 {
        width: 100%;
    }
}

.play-item {
    border: 1px solid;
    padding: .5rem;
    cursor: pointer;
    &:hover,
    &.active {
        background-color: #c43434;
        color: white;
    }
    &:not(:last-of-type) {
        border-bottom: none;
    }
}

.play-mini {
    .panel-body {
        margin-right: -.5rem;
    }
    .play-item {
        display: inline-flex;
        border: 1px solid;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        border-radius: .3rem;
        margin-right: .5rem;
        margin-bottom: .5rem;
        .item-label {
            display: none;
        }
    }
}