<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>这是所有的文件服务器列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group-control">
                    <label for="keywords">IP</label>
                    <input type="text" class="form-control" name="keywords" id="keywords" placeholder="搜索IP" [ngModel]="queries.keywords">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>IP</th>
                    <th>文件数</th>
                    <th>在线状态</th>
                    <th>最近上线时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.ip }}</td>
                    <td>{{ item.file_count }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.updated_at }}</td>
                </tr>
                }
            </tbody>
        
        </table>
        
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()" />  
    </div>
</div>

