<app-edit-header [title]="dataModel().id > 0 ? '编辑任务' : '新增任务'" (submited)="tapSubmit($event)" [disabled]="dataForm().invalid()" />

<div class="container-fluid">
    <form class="form-table-control panel-container" (submit)="tapSubmit()">
        @if (dataModel().id > 0) {
        <div class="share-icon">
            <i class="iconfont icon-paper-plane" title="分享" (click)="tapShare(shareModal)"></i>
        </div>
        }

        <div class="input-group-control">
            <label for="name">名称</label>
            <div>
                <input type="text" id="name" class="form-control" [field]="dataForm.name">
            </div>
        </div>
        <div class="input-group-control">
            <label for="description">说明</label>
            <div>
                <textarea id="description" class="form-control" [field]="dataForm.description"></textarea>
            </div>
        </div>
        <div class="input-group-control time-box">
            <label for="every_time">单次时间：</label>
            <div>
                <input type="number" id="every_time" class="form-control" [field]="dataForm.every_time" placeholder="请输入单次时长（/分钟）">
            </div>
        </div>
        <div class="input-group-control time-box">
            <label for="space_time">单次间隔：</label>
            <div>
                <input type="number" id="space_time" class="form-control" [field]="dataForm.space_time" placeholder="请输入单次间隔（/分钟）">
            </div>
        </div>
        <div class="input-group-control time-box">
            <label for="duration">每日次数：</label>
            <div>
                <input type="number" id="duration" class="form-control" [field]="dataForm.duration" placeholder="请输入每日次数">
                <div class="input-tip">大于0表示每天会自动增加</div>
            </div>
        </div>
        <div class="input-group-control time-box">
            <label for="start_at">开始时间：</label>
            <div>
                <app-date-input id="start_at" [field]="dataForm.start_at" />
                <div class="input-tip">从哪一天开始自动增加次数</div>
            </div>
        </div>

        <div class="btn-group">
            <app-action-button class="btn btn-success" (tapped)="tapSubmit($event)">确认保存</app-action-button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>


    <div class="add-btn" (click)="openDialog(modal)">
        <i class="iconfont icon-plus"></i>
        添加子任务
    </div>


    @for (item of items; track $index) {
        <div class="task-item" [ngClass]="{finished: item.status < 5}">
        <div class="name">{{ item.name }}</div>
        <div class="desc">{{ item.description }}</div>
        <div class="time">{{ item.time_length | hour }}</div>
        <div class="action">
            <i class="iconfont icon-edit" (click)="openDialog(modal, item)"></i>
            <i class="iconfont icon-trash" (click)="tapRemove(item)"></i>
        </div>
    </div>
    }

</div>

<app-dialog-box #modal [title]="editData.id > 0 ? '编辑子任务' : '新增子任务'">
    <div class="form-group">
        <label for="name-input">名称</label>
        <div class="input-group-control">
            <input class="form-control" id="name-input" [(ngModel)]="editData.name" placeholder="请输入名称">
        </div>
    </div>
    <div class="form-group">
        <label for="description-input">说明</label>
        <div class="input-group-control">
            <textarea class="form-control" id="description-input" [(ngModel)]="editData.description" placeholder="请输入说明"></textarea>
        </div>
    </div>
</app-dialog-box>

<app-dialog-box #shareModal title="分享">
    @if (shareData.id < 1) {
    <div class="form-group">
        <label for="share-type-input">分享类型</label>
        <div class="input-group-control">
            <select class="form-control" id="share-type-input" [(ngModel)]="shareData.share_type">
                <option [value]="0">公开分享</option>
                <option [value]="1">密码分享</option>
            </select>
        </div>
        @if (shareData.share_type == 1) {
        <div>
            <label for="pwd-input">分享密码</label>
            <div class="input-group-control">
                <input type="text" class="form-control" id="pwd-input" [(ngModel)]="shareData.share_rule">
            </div>
        </div>
        }

    </div>
    }

    @if (shareData.id > 0) {
    <div class="code-label">
        <p>分享链接：</p>
        <code>{{ shareUrl }}</code>
    </div>
    }

</app-dialog-box>
