.add-btn {
    min-height: 80px;
    padding: 10px 10px;
    margin: 5px;
    border: 1px dashed aquamarine;
    border-radius: 5px;
    position: relative;
    background-color: #fff;
    text-align: center;
    color: #777;
    font-size: 12px;
    .iconfont {
        display: block;
        font-size: 30px;
    }
    &:hover {
        color: #333;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    }
}

.panel-container {
    position: relative;
}

.share-icon {
    position: absolute;
    right: 10px;
    top: 0;
    .iconfont {
        display: inline-block;
        font-size: 30px;
        color: #777;
        &:hover {
            color: red;
        }
    }
}