<div class="flip-pager-box">
    @if (flipMode == 0) {
        <div class="panel-container" #filpPage *ngFor="let item of blockItems" [ngStyle]="pageStyle">
            <div class="title">{{ item.title }}</div>
            <div class="tag-box">
                @for (tag of item.tags; track $index) {
                    <span>{{ tag }}</span>
                }
                
            </div>
            <div class="content">
                @for (it of item.lines; track $index) {
                    <p>{{ it }}</p>
                }
            </div>
        </div>
    }
</div>