<div class="movie-player" [ngClass]="{'max-player': isFull}">
    <div class="player-container">
        <div class="player-body">

        </div>
        <div class="player-catalog" *ngIf="openCatalog">
            <app-play-list [min]="true"></app-play-list>
        </div>
    </div>
    <div class="player-bar">
        <div class="bar-action">
            <i class="iconfont icon-step-backward"></i>
            <i class="iconfont icon-play play-btn"></i>
            <i class="iconfont icon-stop"></i>
            <i class="iconfont icon-step-forward"></i>
        </div>
        <div class="bar-body">
            <div class="bar-name">
                <span>名称</span>
            </div>
            <div class="bar-progress">
                <app-progress-bar></app-progress-bar>
                <div class="time">
                    {{ 0 | duration }}/{{ 0 | duration }}
                </div>
            </div>
        </div>
        <div class="bar-footer">
            <i class="iconfont icon-volume-up"></i>
            <i class="iconfont icon-th-list" (click)="openCatalog = !openCatalog"></i>
            <i class="iconfont" [ngClass]="{'icon-full-screen': !isFull, 'icon-exit-full-screen': isFull}" (click)="tapFullScreen()"></i>
        </div>
    </div>
</div>