<div class="movie-player" [class]="{'max-player': isFull, 'fixed-player': isFixed() || isFull}">
    <div class="player-container">
        <div class="player-body" [style]="{height: bodyHeight + 'px'}">
            <video class="player-video" #playerVideo></video>
        </div>
        @if (openCatalog) {
        <div class="player-catalog">
            <app-play-list [min]="true" [height]="bodyHeight" [items]="items()" (playing)="play($event)" />
        </div>
        }
        
    </div>
    <div class="player-bar" #playerBar>
        <div class="bar-action">
            <i class="iconfont icon-step-backward"></i>
            <i class="iconfont play-btn" [class]="{'icon-play': paused, 'icon-pause': !paused}"></i>
            <i class="iconfont icon-stop"></i>
            <i class="iconfont icon-step-forward"></i>
        </div>
        <div class="bar-flex-body">
            <div class="bar-header">
                <div class="bar-title">
                    <span>{{ data?.name ?? 'unknown' }}</span>
                </div>
                <div class="bar-time">
                    {{ progress | duration }}/{{ duration | duration }}
                </div>
            </div>
            <div class="bar-progress">
                <app-player-progress-bar [value]="progress" [loaded]="loaded" [max]="duration" (valueChange)="onProgressChange($event)" />
            </div>
        </div>
        <div class="bar-footer">
            @if (speedable()) {
            <select class="speed-btn">
                <option>0.5X</option>
                <option selected>1.0X</option>
                <option>1.2X</option>
                <option>1.5X</option>
                <option>2.0X</option>
                <option>3.0X</option>
            </select>
            }
            
            <i class="iconfont" [hidden]="moreVisible" [class]="{'icon-volume-off': volume <= 0, 'icon-volume-down': volume > 0 && volume <= 60, 'icon-volume-up': volume > 60}" (click)="tapVolume()"></i>
            <i class="iconfont icon-th-list" (click)="openCatalog = !openCatalog"></i>
            <i class="iconfont" [class]="{'icon-full-screen': !isFull, 'icon-exit-full-screen': isFull}" (click)="tapFullScreen()"></i>
            <i class="iconfont icon-ellipsis-v" [hidden]="!moreVisible" title="更多操作" (click)="morePanelVisible = !morePanelVisible"></i>
        </div>
    </div>
</div>
@if (morePanelVisible) {
<div class="more-dialog">
    <div class="group-item">
        <span class="item-label">
            <i class="iconfont icon-sun"></i>
        </span>
        <div class="item-body">
            <app-player-progress-bar [formatValue]="false" />
        </div>
    </div>
    <div class="group-item">
        <span class="item-label">
            <i class="iconfont icon-volume-up"></i>
        </span>
        <div class="item-body">
            <app-player-progress-bar [formatValue]="false" />
        </div>
    </div>
</div>
}
