@import '../../../../components/editor/editPage';
@import '../../../../components/editor/panel';
.title-input {
    .form-control {
        margin-left: 1rem;
        width: 80%;
        display: inline-block;
    }
}

.route-right {
    display: flex;
    align-items: center;
}

.language-toggle {
    display: inline-block;
    margin-right: 1.25rem;
    border: 1px solid #05a6b1;
    border-bottom: none;
    line-height: 2rem;
    a {
        display: inline-block;
        background-color: #05a6b1;
        color: #fff;
        margin: 0;
        width: 2.5rem;
        text-align: center;
        text-decoration: none;
        cursor: default;
        &.active {
            background-color: transparent;
            color: #333;
            cursor: not-allowed;
        }
    }
}

.edit-tip {
    text-align: right;
    font-size: 0.75rem;
    line-height: 1.25rem;
}