<div class="editor-container">
    <div class="editor-tool-bar">
        <div class="route-tool-item" (click)="tapBack()">
            <i class="iconfont icon-arrow-left"></i>
        </div>
        <div class="tool-bar-top">
            <div class="tool-left">
                <div class="tool-item btn-info toggle-tool-item" (click)="tapAdd()" [class.active]="addToggle()">
                    <i class="iconfont icon-plus"></i>
                </div>
                @for (item of toolItems(); track $index) {
                    <div class="tool-item" [class]="{active: item.actived, disabled: item.disabled}" (click)="tapTool(item, $event)" [title]="item.label">
                        <i class="iconfont" [class]="item.icon"></i>
                    </div>
                }
            </div>
            <div class="tool-right">
                <app-toggle-bar [items]="localizes()" [formField]="dataForm.language" (valueChange)="onLocalizeChange($event)" />
                <app-action-button class="tool-item btn-primary" (tapped)="tapSubmit($event)">
                    <i class="iconfont icon-floppy-o"></i>
                </app-action-button>
                <div class="tool-item" [class.active]="propertyToggle()" (click)="toggleProperty()">
                    <i class="iconfont icon-cog"></i>
                </div>
                <div class="tool-item">
                    <i class="iconfont icon-ellipsis-v"></i>
                </div>
            </div>
        </div>
    </div>
    <form class="editor-body" (submit)="tapSubmit2($event)">
        <app-blog-add-panel [visible]="addToggle()" (toolTapped)="tapTool($event)" (command)="tapCommand($event)" />
        <div class="editor-area">
            <div class="editor-input-wrapper">
                <input type="text" class="title-input" [formField]="dataForm.title" placeholder="Title">
                <textarea #editorArea spellcheck="false" placeholder="Content"></textarea>
            </div>
            <ng-container #modalVC />
        </div>
        <div class="editor-panel" [hidden]="!propertyToggle()">
            <div class="panel-header">
                <div class="panel-tab-bar">
                    @for (item of propertyTabItems; track $index;let i = $index) {
                        <a class="item" [class]="{active: propertyTabIndex() == i}" (click)="propertyTabIndex.set(i)">{{ item }}</a>
                    }
                </div>
                <div class="panel-action-btn" (click)="propertyToggle.set(false)">
                    <i class="iconfont icon-close"></i>
                </div>
            </div>
            <div class="panel-body">
                <app-expand-card i18n-header header="Summary" [toggle]="true">
                    <div class="list-row-item">
                        <label for="" class="item-label" i18n>Open Type</label>
                        <a class="item-body" (click)="tapOpen($event)">{{ openTypeLabel() }}</a>
                    </div>
                    <div class="list-row-item">
                        <label for="" class="item-label" i18n>Publish At</label>
                        <div class="item-body">{{ dataModel().created_at ?? '-' }}</div>
                    </div>
                    <div class="list-row-item">
                        <label for="" class="item-label" i18n>Publish Status</label>
                        <a class="item-body" (click)="tapStatus($event)">{{ statusLabel() }}</a>
                    </div>
                </app-expand-card>
                <app-expand-card i18n-header header="Advanced">
                    <div class="input-group-control">
                        <label for="term_id" i18n>Term</label>
                        <div>
                            <select id="term_id" class="form-control" [formField]="dataForm.term_id">
                                @for (item of categories(); track $index) {
                                    <option [value]="item.id">{{ item.name }}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="programming_language" i18n>Programming Language</label>
                        <div>
                            <select id="programming_language" class="form-control" [formField]="dataForm.programming_language">
                                <option value="" i18n>Select...</option>
                                @for (item of languages(); track $index) {
                                    <option [value]="item">{{ item }}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="type" i18n>Type</label>
                        <div>
                            <select id="type" class="form-control" [formField]="dataForm.type">
                                <option value="0" i18n>Original</option>
                                <option value="1" i18n>Reprinted</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-group-control">
                        <label for="thumb" i18n>Image</label>
                        <div>
                            <app-image-input [formField]="dataForm.thumb" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="edit_type" i18n>Editor</label>
                        <div>
                            <select id="edit_type" class="form-control" [formField]="dataForm.edit_type">
                                <option value="0">Ueditor</option>
                                <option value="1">MarkDown</option>
                            </select>

                        </div>
                    </div>

                    <div class="input-group-control">
                        <label for="keywords" i18n>Keywords</label>
                        <div>
                            <app-words-input id="keywords" [formField]="dataForm.keywords" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="description" i18n>Description</label>
                        <div>
                            <app-text-editor [formField]="dataForm.description" [height]="120" />
                        </div>
                    </div>

                    <div class="input-group-control">
                        <label i18n>Tags</label>
                        <div>
                            <ng-select [multiple]="true" [items]="tagItems()" bindLabel="name" [formField]="dataForm.tags" [addTag]="addTagFn" i18n placeholder="Select tags" />
                        </div>
                    </div>
                </app-expand-card>
                <app-expand-card i18n-header header="Additional">
                    @if (typeValue() > 0) {
                    <div class="input-group-control">
                        <label for="meta_source_author" i18n>Original's author</label>
                        <div>
                            <input type="text" id="meta_source_author" class="form-control" [formField]="dataForm.source_author">

                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="source_url" i18n>Original's link</label>
                        <div>
                            <input type="text" id="source_url" class="form-control" [formField]="dataForm.source_url">
                        </div>
                    </div>
                    }

                    <div class="input-group-control">
                        <label for="weather" i18n>Weather</label>
                        <div>
                            <select id="weather" class="form-control" [formField]="dataForm.weather">
                                <option value="" i18n>Select...</option>
                                @for (item of weathers(); track $index) {
                                    <option [value]="item.value">{{ item.name }}</option>
                                }
                            </select>

                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="audio_url" i18n>Audio</label>
                        <div class="file-input">
                            <app-file-input [formField]="dataForm.audio_url" accept="audio/*" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="video_url" i18n>Video</label>
                        <div>
                            <app-file-input [formField]="dataForm.video_url" accept="video/*" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="meta_cc_license" i18n>Copyright License</label>
                        <div>
                            <select id="meta_cc_license" class="form-control" [formField]="dataForm.cc_license">
                                <option value="" i18n>Select...</option>
                                @for (item of licenses(); track $index) {
                                    <option [value]="item.value">{{ item.name }}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="comment_status" i18n>Comment Status</label>
                        <div>
                            <app-switch id="comment_status" [formField]="dataForm.comment_status" />
                        </div>
                    </div>
                </app-expand-card>
                <app-expand-card i18n-header header="SEO Optimization">
                    @if (typeValue() > 0) {
                    <div class="input-group-control">
                        <label for="meta_is_hide" i18n>Whether to hide</label>
                        <div>
                            <app-switch id="meta_is_hide" [formField]="dataForm.is_hide" />
                        </div>
                    </div>
                    }

                    <div class="input-group-control">
                        <label for="meta_seo_title" i18n>SEO Title</label>
                        <div>
                            <input type="text" id="meta_seo_title" class="form-control" [formField]="dataForm.seo_title">
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="meta_seo_description" i18n>SEO Description</label>
                        <div>
                            <app-text-editor id="meta_seo_description" [formField]="dataForm.seo_description" [height]="120" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="meta_seo_link" i18n>Link Alias</label>
                        <div>
                            <input type="text" id="meta_seo_link" class="form-control" [formField]="dataForm.seo_link">
                            <div class="input-tip">
                                <ng-container i18n>Please use the numeric letter -_ to form, please do not enter spaces, /.</ng-container>

                                <p>{{ pageLink() | asset }}</p>
                            </div>
                        </div>
                    </div>
                </app-expand-card>
            </div>
        </div>
    </form>
    <div class="editor-footer" i18n>{{ size() }} words</div>
</div>

<div class="editor-modal" [style]="openStyle()">
    <div class="modal-header">
        <span i18n>Open Type</span>
        <div class="modal-action-group">
            <div class="action-item" (click)="closeModal()">
                <i class="iconfont icon-close"></i>
            </div>
        </div>
    </div>
    <div class="modal-body">
        @for (item of openItems(); track $index) {
        <div class="option-item" (click)="changeOpenType(item.value)">
            <div class="item-icon">
                <i class="iconfont" [class]="{'icon-check-square-o': openType() == item.value, 'icon-square-o': openType() != item.value}"></i>
            </div>
            <div class="item-body">
                <div class="item-label">{{ item.name }}</div>
                <div class="item-meta">{{ item.meta }}</div>
            </div>
        </div>
        }
        @if (openType() > 4) {
        <div class="input-group-control">
            <label for="open_rule">{{ ruleLabel() }}</label>
            <div>
                <input type="text" id="open_rule" class="form-control" [formField]="dataForm.open_rule">
            </div>
        </div>
        }

    </div>
</div>
<div class="editor-modal" [style]="statusStyle()">
    <div class="modal-header">
        <span i18n>Publish Status</span>
        <div class="modal-action-group">
            <div class="action-item" (click)="closeModal()">
                <i class="iconfont icon-close"></i>
            </div>
        </div>
    </div>
    <!-- <div class="modal-meta">
        设置文章的是否公开
    </div> -->
    <div class="modal-body">
        @for (item of statusItems(); track $index) {
        <div class="option-item" (click)="changePublishStatus(item.value)">
            <div class="item-icon">
                <i class="iconfont" [class]="{'icon-check-square-o': dataForm.publish_status().value() == item.value, 'icon-square-o': dataForm.publish_status().value() != item.value}"></i>
            </div>
            <div class="item-body">
                <div class="item-label">{{ item.name }}</div>
                <div class="item-meta">{{ item.meta }}</div>
            </div>
        </div>
        }

    </div>
</div>
