<div class="user-picker" [ngClass]="{'picker-open': isFocus && items.length > 0, 'picker-focus': isFocus}">
    <div class="picker-input" (click)="tapOpen()">
        <div class="picker-input-avatar" *ngIf="value">
            <img [src]="value.avatar|asset" [alt]="value.name">
        </div>
        <div class="picker-input-body">
            <input #inputor type="text" [(ngModel)]="queries.keywords" (ngModelChange)="tapRefresh()" [disabled]="disabled">
            <div class="input-placeholder">
                <ng-container *ngIf="value; else elseTemplate">
                    <div class="placeholder-item" *ngIf="value">
                        <div class="item-name">{{ value.name }}</div>
                        <div class="item-meta">
                            <p>uid: {{ value.id }}</p>
                            <p *ngIf="value.mobile">{{ value.mobile }}</p>
                            <p *ngIf="value.email">{{ value.email }}</p>
                        </div>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <div class="placeholder-label">{{ placeholder }}</div>
                </ng-template>
            </div>
            <div class="picker-input-clear" *ngIf="value" (click)="tapClear()">
                <i class="iconfont icon-close"></i>
            </div>
        </div>
    </div>
    <div class="picker-body">
        <ul>
            <li class="option-item" *ngFor="let item of items" [ngClass]="{active: value && item.id == value.id}" (click)="tapItem(item)">
                <div class="item-avatar">
                    <img [src]="item.avatar|asset" [alt]="item.name">
                </div>
                <div class="item-body">
                    <div class="item-name">{{ item.name }}</div>
                    <div class="item-meta">
                        <p>uid: {{ item.id }}</p>
                        <p *ngIf="item.mobile">{{ item.mobile }}</p>
                        <p *ngIf="item.email">{{ item.email }}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>