<app-edit-header [title]="dataModel().id > 0 ? '编辑店铺' : '新增店铺'" (submited)="tapSubmit($event)" [disabled]="dataForm().invalid()" />


<div class="container-fluid">
    <form class="form-table-control" (submit)="tapSubmit2($event)">
        <div class="panel-container">
            <div class="input-group-control">
                <label for="title">店铺名</label>
                <div>
                    <input type="text" id="title" class="form-control" [formField]="dataForm.name">
                </div>
            </div>
            <div class="input-group-control">
                <label for="logo">店主</label>
                <div>
                    <app-user-picker [formField]="dataForm.user"/>
                </div>
            </div>
            <div class="input-group-control">
                <label for="logo">图标</label>
                <div>
                    <app-file-input [formField]="dataForm.logo" />
                </div>
            </div>
            <div class="input-group-control">
                <label for="keywords">关键字</label>
                <div>
                    <app-words-input id="keywords" [formField]="dataForm.keywords" />
                </div>
            </div>
            <div class="input-group-control">
                <label for="description">说明</label>
                <div>
                    <app-text-editor [formField]="dataForm.description" height="100" />
                </div>
            </div>
            <div class="input-group-control">
                <label for="status">状态</label>
                <div>
                    <select [formField]="dataForm.status" class="form-control">
                        <option value="0">上线</option>
                        <option value="1">关店</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="btn-group">
            <app-action-button class="btn btn-success" (tapped)="tapSubmit($event)" [disabled]="dataForm().invalid()">确认保存</app-action-button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>
