<div class="dialog-search" [class]="{inputting: suggestText.length > 0}" [hidden]="!panelVisible">
    <i class="iconfont icon-close dialog-close" (click)="close()"></i>
    <div class="dialog-body">
        <div class="search-input">
            <i class="iconfont icon-search input-search"></i>
            <input type="text" placeholder="请输入关键字，按回车 / Enter 搜索" autocomplete="off" [field]="suggestText" (keydown)="suggestKeyPress($event)" (ngModelChange)="onSuggestChange()">
            <i class="iconfont icon-close input-clear" (click)="tapClear()"></i>
        </div>
        <ul class="search-suggestion">
            @for (item of suggestItems; track $index; let i = $index) {
            <li [class]="{active: i === suggestIndex}" (click)="tapItem(item)"><span>{{ i + 1 }}</span>{{ formatTitle(item) }}</li>
            }
        </ul>
    </div>        
</div>
<div class="search-icon" (click)="panelVisible = true">
    <i class="iconfont icon-search"></i>
</div>