.service-item {
    .action {
        position: absolute;
        right: 0;
        width: 80px;
        top: 0;
        bottom: 0;
        color: #fff;
        background-color: #bd2130;
        border-color: #b21f2d;
        line-height: 20px;
        display: flex;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        .btn {
            position: static;
            display: block;
            padding: 0;
        }
    }
}