@use '../../../../theme/theme';
.site-item {
    display: block;
    padding: 0.625rem 0.625rem;
    border-radius: 0.3125rem;
    background-color: var(--#{theme.$prefix}panel);
    margin-bottom: 0.625rem;
    position: relative;
    .item-name {
        height: 30px;
        font-size: 12px;
        font-weight: 700;
        color: var(--#{theme.$prefix}body-text);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        transition: all .3s;
    }
    img {
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 50%;
        margin-right: 0.625rem;
        vertical-align: middle;
    }
    .item-desc {
        color: var(--#{theme.$prefix}meta-text);
        height: 42px;
        overflow: hidden;
    }
    .go-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 1.875rem;
        opacity: 0;
    }
    &:hover {
        color: var(--#{theme.$prefix}surface-text);
        background-color: var(--#{theme.$prefix}surface);
        .item-name,
        .go-btn,
        a {
            color: var(--#{theme.$prefix}surface-selected-text);
        }
        .item-desc {
            color: var(--#{theme.$prefix}surface-text);
        }
        .go-btn {
            bottom: 1.25rem;
            font-size: 2.5rem;
            opacity: 1;
        }
    }
}