<div class="panel">
    <div class="panel-header">
        {{ header() }}
    </div>
    <div class="panel-body">
        <div class="row">
            @for (item of items(); track $index) {
                <div class="col-md-4">
                <div class="site-item" [title]="item.name">
                    <div class="item-name">
                        <a [href]="formatLink(item)" target="_blank" rel="noopener"><img class="lazy" [ngSrc]="item.logo" width="30" height="30" [alt]="item.name"></a>
                        <a [href]="formatLink(item)" target="_blank" rel="noopener">{{ item.name }}</a>
                    </div>
                    <div class="item-desc">
                        {{ item.description }}
                    </div>
                    <a class="go-btn" [href]="formatLink(item)" target="_blank" rel="noopener" i18n-title title="Go to">
                        <i class="iconfont icon-arrow-right"></i>
                    </a>
                </div>
            </div>
            }
        </div>
    </div>
</div>