<div class="widget-shell"
    (dblclick)="tapWidget()" 
    (mousedown)="moveWidget($event)"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()">
    <div class="widget-content">
        @switch (value().tag) {
            @case ('button') {
                <app-button-control [value]="value()" />
            }
            @case ('carousel') {
                <app-carousel-control [value]="value()" />
            }
            @case ('image') {
                <app-image-control [value]="value()" />
            }
            @case ('label') {
                <app-label-control [value]="value()" />
            }
            @case ('line') {
                <app-line-control [value]="value()" />
            }
            @case ('link') {
                <app-link-control [value]="value()" />
            }
            @case ('map') {
                <app-map-control [value]="value()" />
            }
            @case ('rectangle') {
                <app-rectangle-control [value]="value()" />
            }
            @case ('rich-text') {
                <app-rich-text-control [value]="value()" />
            }
        }
    </div>
</div>