<div class="mobile-bar" [ngStyle]="barStyle">
    <div class="top-bar">
        <div>
            <i class="iconfont icon-ellipsis-h"></i>
            <i class="iconfont icon-wifi"></i>
        </div>
        <div class="time">
            {{ time }}
        </div>
        <div class="pull-right">
            100%
            <i class="iconfont icon-dianliang"></i>
        </div>
    </div>
    <div class="title-bar">
        <span>{{ title }}</span>
        <div class="pull-right">
            <i class="iconfont icon-ellipsis-v"></i>
        </div>
    </div>
</div>