<div class="rule-bar">
    <div class="rule-icon" (click)="tapIcon($event)">
        <i class="iconfont icon-cog"></i>
    </div>
    <div class="h-container" (mouseleave)="onLineEnd()">
        <app-editor-rule-bar (tapped)="tapBar($event)" (hovered)="onLineMove($event)" />
        @if (lineVisible) {
        <div class="line-bar">
            @for (item of hLines; track $index; let i = $index) {
                <div class="line line-h" [ngStyle]="{left: item.value + 'px'}">
                    <div class="action">
                        <i class="iconfont icon-close" (click)="tapRemoveLine(i, true, $event)"></i>
                        <span>{{ item.label }}</span>
                    </div>
                </div>
            }
            @if (tempLine && tempLine.horizontal) {
                <div class="line line-h" [ngStyle]="{left: tempLine.value + 'px'}">
                    <div class="action">
                        <span>{{ tempLine.label }}</span>
                    </div>
                </div>
            }
        </div>
        }
    </div>
    <div class="v-container" (mouseleave)="onLineEnd()">
        <app-editor-rule-bar [orientation]="false" (tapped)="tapBar($event)" (hovered)="onLineMove($event)" />
        @if (lineVisible) {
        <div class="line-bar">
            @for (item of vLines; track $index; let i = $index) {
                <div class="line line-v" [ngStyle]="{top: item.value + 'px'}">
                    <div class="action">
                        <i class="iconfont icon-close" (click)="tapRemoveLine(i, true, $event)"></i>
                        <span>{{ item.label }}</span>
                    </div>
                </div>
            }
            @if (tempLine && !tempLine.horizontal) {
                <div class="line line-v" [ngStyle]="{top: tempLine.value + 'px'}">
                    <div class="action">
                        <span>{{ tempLine.label }}</span>
                    </div>
                </div>
            }
        </div>
        }
    </div>
</div>

<app-context-menu />