<div class="container main-container" [ngClass]="{'on-search': openType > 0}">
    <div class="row">
        <div class="col-12" [ngClass]="{'col-lg-6 offset-lg-3': openType < 1}">
            <div class="search-bar">
                <app-navigation-search-bar [text]="queries.keywords" (confirm)="tapSearch($event)" (textChange)="onSuggestChange($event)"></app-navigation-search-bar>
            </div>
        </div>
    </div>

    <div [hidden]="openType > 0">
        <app-navigation-panel></app-navigation-panel>
    </div>

    @if (openType < 2) {
        <div class="open-icon" [ngClass]="{'opened': openType == 1}" (click)="toggleOpen()" i18n-title title="More sites">
        </div>
    }
    

    <app-navigation-site [visible]="openType == 1"></app-navigation-site>
    @if (openType == 2) {
        @if (isLoading) {
            <div class="loading-tip" i18n>
                Loading ...
            </div>
        }
        @if (!isLoading && total < 1) {
            <div class="empty-tip" i18n>
                Search results are empty
            </div>
        }

        @for (item of items; track $index) {
             <app-navigation-page-container [value]="item" (onAction)="tapItem($event)"></app-navigation-page-container>
        }
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    }
</div>

<app-navigation-page-card></app-navigation-page-card>
<app-navigation-report-dialog></app-navigation-report-dialog>