@use '../../theme/theme';
.main-container {
    padding-top: 30vh;
    transition: all .5s;
    &.--with-search {
        padding-top: 2rem;
        .search-bar {
            margin-bottom: 1rem;
        }
    }
}

.open-icon {
    width: 8rem;
    position: relative;
    margin: 0 auto;
    padding: 2rem 0;
    cursor: pointer;
    margin-top: 30vh;
    margin-bottom: 2rem;
    transition: all .5s;
    &::after,
    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 4rem;
        height: .3rem;
        border-radius: .15rem;
        background-color: var(--#{theme.$prefix}panel);
        transition: all .5s;
    }
    &::before {
        transform: rotateZ(-30deg);
        transform-origin: 4rem 0;
    }
    &::after {
        left: 4rem;
        transform: rotateZ(30deg);
        transform-origin: 0 0;
    }
    &:hover {
        &::after,
        &::before {
            background-color: var(--#{theme.$prefix}warning);
        }
    }
    &.--with-opened {
        margin-top: 0;
        margin-bottom: 0;
        &::after,
        &::before {
            transform: rotateZ(0deg);
        }
    }
}

.loading-tip,
.empty-tip {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 60vh;
    color: var(--#{theme.$prefix}meta-text);
    user-select: none;
}

.advice-tooltip {
    display: block;
    user-select: none;
    background-color: rgba(var(--#{theme.$prefix}mask-rgb), .2);
    color: var(--#{theme.$prefix}surface-text);
    padding: .8rem;
    border-radius: .25rem;
    a {
        cursor: pointer;
        color: var(--#{theme.$prefix}link-text);
    }
}

.main-container ::ng-deep {
    .panel,
    .page-container {
        background-color: var(--#{theme.$prefix}dialog);
    }
}