<div class="issue-panel">
    <div class="issue-page-box">
        <ng-container *ngFor="let item of items">
            <div class="issue-item">
                <div class="item-header">
                    <div class="item-icon">Q</div>
                    <div class="item-content">{{ item.question }}</div>
                </div>
                <div class="item-body">
                    <div class="item-content" *ngIf="item.answer">{{ item.answer }}</div>
                    <div class="item-content" *ngIf="!item.answer" i18n>[Waiting for answer]</div>
                    <div class="item-icon">{{ item.answer ? 'A' : '?' }}</div>
                </div>
            </div>
        </ng-container>
    </div>
    <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    <div class="issue-form">
        <textarea name="content" rows="4" class="form-control" i18n-placeholder placeholder="Please input the question" [(ngModel)]="editData.content"></textarea>
        <div class="form-action">
            <app-action-button class="btn btn-primary" (tapped)="tapSubmit($event)" i18n>Submit</app-action-button>
        </div>
    </div>
</div>