<div class="issue-panel">
    <div class="issue-page-box">
        @for (item of items(); track $index) {
            <div class="issue-item">
                <div class="item-header">
                    <div class="item-icon">Q</div>
                    <div class="item-content">{{ item.question }}</div>
                </div>
                <div class="item-body">
                    @if (item.answer) {
                    <div class="item-content">{{ item.answer }}</div>
                    }
                    @if (!item.answer) {
                    <div class="item-content" i18n>[Waiting for answer]</div>
                    }
                    <div class="item-icon">{{ item.answer ? 'A' : '?' }}</div>
                </div>
            </div>
        }
    </div>
    <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
    <div class="issue-form">
        <textarea rows="4" class="form-control" i18n-placeholder placeholder="Please input the question" [field]="editForm.content"></textarea>
        <div class="form-action">
            <app-action-button class="btn btn-primary" (tapped)="tapSubmit($event)" i18n>Submit</app-action-button>
        </div>
    </div>
</div>