<div class="user-page">
    <div class="container side-box">
        <div>
            <app-user-menu currentUrl="member/price_protect"></app-user-menu>
        </div>
        <div>
           <div class="row order-search">
               <div class="col-md-8">
                    <div class="header-tab">
                        <a href="" class="active">价保申请记录</a>
                        <a href="">价格保护申请</a>
                        <a href="">价格保护规则</a>
                    </div>
               </div>
               <div class="col-md-4">
                    <form class="flat-search"  (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                        <input type="text" name="keywords" [value]="queries.keywords" ngModel>
                        <button>搜索</button>
                    </form>
               </div>
           </div>
           <table class="table table-hover">
               <thead>
                   <th>商品</th>
                   <th>订单编号</th>
                   <th>申请时间</th>
                   <th>下单时价格</th>
                   <th>数量</th>
                   <th>价保时价格</th>
                   <th>价保数量</th>
                   <th>价保金额</th>
                   <th>申请状态</th>
               </thead>
               <tbody>
                   <tr>
                       <td>
                           <a href="">
                                <img src="https://img10.360buyimg.com/N5/jfs/t1/72278/5/861/77041/5cf098f4E25b74bcb/c964357d495c8dd6.jpg" alt="">
                           </a>
                       </td>
                       <td>96635467821</td>
                       <td>2019-06-12 22:20:03</td>
                       <td>￥199.00</td>
                       <td>x1</td>
                       <td>￥179.00</td>
                       <td>x1</td>
                       <td>￥20.00</td>
                       <td>
                           <p>价保成功</p>
                           <a class="btn">查看详情</a>
                       </td>
                   </tr>
               </tbody>
           </table>

           <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
        </div>
    </div>
</div>

