<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>数据库列表</li>
        </ul>
    </app-page-tip>

    <div class="panel-container">
        <div class="page-search-bar">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="数据库名" [(ngModel)]="editData.name">
                </div>
                <div class="col-md-4">
                    <ng-select [(ngModel)]="editData.collation" [items]="collationItems" bindValue="value" bindLabel="name" placeholder="排序规则"></ng-select>
                </div>
                <div class="col-md-4">
                    <div class="btn btn-primary" (click)="tapSubmit()">新建</div>
                </div>
            </div>
        </div>
        <app-editable-table [columnItems]="headerItems" [items]="items" [action]="actionTpl" [searchable]="false" [loading]="isLoading"></app-editable-table>
    </div>
</div>
<ng-template #actionTpl let-name="name">
<div class="btn-group">
    <a class="btn btn-info" routerLink="table" [queryParams]="{schema: name}">查看表</a>
    <div class="btn btn-primary">检查权限</div>
    <div class="btn btn-danger" [attr.source]="name">删除</div>
</div>
</ng-template>
