<app-edit-header [title]="data && data.id > 0 ? '编辑题目' : '新增题目'" (submited)="tapSubmit()" [disabled]="form.invalid">
    数学公式输入请使用“$$”包裹<a href="http://asciimath.org/" target="_blank">查看规则</a>
</app-edit-header>

<div class="container-fluid">
    <form class="form-table panel-container" [formGroup]="form" (ngSubmit)="tapSubmit()">
        <div class="input-group">
            <label for="title">题目</label>
            <div>
                <input type="text" id="title" class="form-control" formControlName="title" (change)="onTitleChange()">
                <i class="iconfont icon-eye" title="预览" (click)="openPreview(previewModal, 'title')"></i>
                <div class="input-tip" *ngIf="sameItems.length > 0">
                    存在{{ sameItems.length }}个相似题目
                    <a (click)="sameModal.open()">点击查看</a>
                </div>
            </div>
        </div>
        <div class="input-group">
            <label for="course_id">科目</label>
            <div class="flat-group">
                <select id="course_id" formControlName="course_id" class="form-control" (ngModelChange)="onCourseChange()">
                    <option [value]="0">请选择</option>
                    <ng-container *ngFor="let item of courseItems">
                        <option [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
                    </ng-container>
                </select>
                <select formControlName="course_grade" class="form-control">
                    <ng-container *ngFor="let item of gradeItems">
                        <option [value]="item.value">{{ item.name }}</option>
                    </ng-container>
                </select>
            </div>
        </div>
        <div class="input-group">
            <label for="article">关联素材</label>
            <div>
                <ng-container *ngIf="material; else elseTemplate">
                    <div class="media-item" (click)="tapMaterial(materialModal)">
                        <div class="title">【{{material.type|materialType}}】{{ material.title }}</div>
                        <div class="desc">{{ material.description }}</div>
                        <i class="iconfont icon-close" (click)="tapRemoveMaterial($event)"></i>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <div class="media-btn" (click)="tapMaterial(materialModal)">
                        <i class="iconfont icon-plus"></i>
                    </div>
                </ng-template>
                <div class="input-tip">可以不选，同一素材将合并成同一个大题下面的小题</div>
            </div>
        </div>
        <div class="input-group">
            <label for="image">图片</label>
            <div>
                <app-file-input formControlName="image"></app-file-input>
            </div>
        </div>
        <div class="input-group">
            <label for="easiness">难易程度</label>
            <div>
                <app-star formControlName="easiness" [disabled]="false">{{ easinessLabel }}</app-star>
            </div>
        </div>
        <div class="input-group">
            <label for="content">内容<i class="iconfont icon-eye" title="预览" (click)="openPreview(previewModal, 'content')"></i></label>
            <div>
                <textarea id="content" class="form-control" formControlName="content" (change)="onTypeChange()"></textarea>
            </div>
        </div>
        <div class="input-group">
            <label for="dynamic">可变内容</label>
            <div>
                <textarea id="dynamic" class="form-control" formControlName="dynamic" ></textarea>
                <div class="input-tip">在题目中可以用“@1” 代替</div>
            </div>
        </div>
        <div class="input-group">
            <label for="type">类型</label>
            <div>
                <select id="type" class="form-control" formControlName="type" (change)="onTypeChange()">
                    <option *ngFor="let item of typeItems;let i = index" [value]="i">{{ item }}</option>
                </select>
            </div>
        </div>
        <div class="option-box">
            <div class="input-group" *ngIf="typeValue < 2">
                <label for="">选项</label>
                <div>
                    <ng-container *ngFor="let item of optionItems.controls; let i = index">
                        <div class="option-item" [formGroup]="item">
                            <div class="option-value">
                                <ng-container *ngIf="item.get('type').value < 1; else elseTemplate">
                                    <input type="text" class="form-control" formControlName="content">
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <app-file-input formControlName="content"></app-file-input>
                                </ng-template>
                            </div>
                            <select class="form-control" formControlName="type">
                                <option *ngFor="let item of optionTypeItems;let j = index" [value]="j">{{ item }}</option>
                            </select>
                            <select class="form-control" formControlName="is_right">
                                <option [value]="0">错</option>
                                <option [value]="1">对</option>
                            </select>
                            <a (click)="tapRemoveItem(i)" class="remove-btn">
                                <i class="iconfont icon-close"></i>
                            </a>
                        </div>
                    </ng-container>
                    <a (click)="tapAddItem()" class="add-btn">
                        <i class="iconfont icon-plus"></i>
                    </a>
                </div>
            </div>
            <div class="input-group" *ngIf="typeValue == 2">
                <label for="answer">答案</label>
                <div>
                    <select id="answer" class="form-control" formControlName="answer">
                        <option value="0">错</option>
                        <option value="1">对</option>
                    </select>
                </div>
            </div>
            <div class="input-group" *ngIf="typeValue == 3">
                <label for="answer">答案<i class="iconfont icon-eye" title="预览" (click)="openPreview(previewModal, 'answer')"></i></label>
                <div>
                    <textarea id="answer" class="form-control" formControlName="answer"></textarea>
                    <div class="input-tip">请在题目中用“____” 代替，如果需要计算请使用“@1+@2*3”等公式，填空题为一行一个</div>
                </div>
            </div>
            <div class="input-group" *ngIf="typeValue >= 4">
                <label for="answer">答案</label>
                <div>
                    <div>
                        <ng-container *ngFor="let item of optionItems.controls; let i = index">
                            <div class="option-item" [formGroup]="item">
                                <div class="option-value">
                                    <input type="text" class="form-control" formControlName="content" placeholder="请输入正确的答案">
                                </div>
                                <a (click)="tapRemoveItem(i)" class="remove-btn">
                                    <i class="iconfont icon-close"></i>
                                </a>
                            </div>
                        </ng-container>
                        <a (click)="tapAddItem()" class="add-btn">
                            <i class="iconfont icon-plus"></i>
                        </a>
                    </div>
                    <div class="input-tip">请按“____”顺序对应答案，可以多不可以少，多出部分选项为错误选择项,如果需要计算请使用“@1+@2*3”等公式</div>
                </div>
            </div>
            <div class="input-group">
                <label for="analysis">解析</label>
                <div>
                    <ng-container *ngFor="let item of analysisItems; let i = index">
                      <div class="edit-row">
                        <div class="content">
                            <ng-container *ngIf="item.type < 1">
                                <textarea class="form-control" [value]="item.content" readonly></textarea>
                              </ng-container>
                              <ng-container *ngIf="item.type == 1">
                                <app-audio-player [src]="item.content"></app-audio-player>
                              </ng-container>
                              <ng-container *ngIf="item.type == 2">
                                <app-video-player [src]="item.content"></app-video-player>
                              </ng-container>
                        </div>
                        <div class="edit-action">
                            <i class="iconfont icon-edit" (click)="tapEditAnalysis(analysisModal, i)"></i>
                            <i class="iconfont icon-close" (click)="tapRemoveAnalysis(i)"></i>
                        </div>
                      </div>
                    </ng-container>
                    <a class="add-btn" (click)="tapEditAnalysis(analysisModal)">
                        <i class="iconfont icon-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="btn-group">
            <app-action-button class="btn btn-success" (tapped)="tapSubmit($event)">确认保存</app-action-button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>

<app-dialog-box class="dialog-search-box" #materialModal>
    <i class="iconfont icon-close dialog-close" (click)="materialModal.close(false)"></i>
    <app-material-panel [courseItems]="courseItems" [(value)]="materialSelected"></app-material-panel>
</app-dialog-box>
<app-dialog-box #analysisModal>
    <div class="form-group">
        <label>内容类型</label>
        <select class="form-control" [(ngModel)]="analysisData.type">
            <ng-container *ngFor="let item of analysisTypeItems;let i = index">
                <option [value]="i">{{ item }}</option>
            </ng-container>
        </select>
    </div>
    <ng-container *ngIf="analysisData.type < 1">
        <textarea class="form-control" [(ngModel)]="analysisData.content" rows="15"></textarea>
    </ng-container>
    <ng-container *ngIf="analysisData.type > 0">
        <app-file-input [(ngModel)]="analysisData.content" accept="*/*"></app-file-input>
    </ng-container>
</app-dialog-box>
<app-dialog-box #sameModal title="相似题目" [buttonVisible]="false">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>题目</th>
                <th>科目</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of sameItems">
                <td>{{ item.id }}</td>
                <td>【{{ item.type | questionType }}】{{ item.title }}</td>
                <td>{{ item.course?.name }}</td>
            </tr>
        </tbody>
    </table>
</app-dialog-box>
<app-dialog-box #previewModal title="预览" [buttonVisible]="false">
    <textarea class="form-control" [(ngModel)]="previewData"></textarea>
    <app-math-mark [content]="previewData" [editable]="true" [allowInput]="true"></app-math-mark>
</app-dialog-box>