<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="filter-box">
                <div class="filter-line" *ngFor="let item of filterItems">
                    <div class="filter-header">
                        {{ item.label }}
                    </div>
                    <div class="filter-body">
                        <ng-container *ngFor="let it of item.items">
                            <a class="filter-line-item" [ngClass]="{active: it.selected}">
                                <span class="item-body">
                                    {{ it.label }}
                                </span>
                                <span class="item-count">
                                    {{ it.label }}
                                </span>
                            </a>
                        </ng-container>
                    </div>
                  </div>
                  <div class="filter-line">
                    <div class="filter-header" i18n>
                        Sort by
                    </div>
                    <div class="filter-body">
                        <ng-container *ngFor="let item of sortItems">
                            <a [ngClass]="{active: item.value == sortKey}" (click)="tapSort(item)">{{ item.name }}
                                <i class="iconfont" *ngIf="item.value && sortKey == item.value" [ngClass]="{'icon-sort-alpha-asc': orderAsc, 'icon-sort-alpha-desc': !orderAsc}"></i>
                            </a>
                        </ng-container>
                    </div>
                  </div>
              </div>
        </div>
        <div class="col-md-8">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <app-auto-suggest-box></app-auto-suggest-box>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control">
                            <ng-container *ngFor="let item of sortItems">
                              <option [value]="item.value">{{ item.name }}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" *ngFor="let item of items">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>