<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2">
            <div class="filter-container">
                @for (item of filterItems; track $index) {
                <div class="filter-group">
                    <div class="group-header">
                        {{ item.label }}
                    </div>
                    <div class="group-body">
                        @for (it of item.items; track $index) {
                            <a class="filter-line-item" [ngClass]="{active: it.selected}">
                                <span class="item-body">
                                    {{ it.label }}
                                </span>
                                <span class="item-count">
                                    {{ it.label }}
                                </span>
                            </a>
                        }
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="col-md-9 col-lg-10">
            <div class="container">
                <div class="row search-row">
                    <div class="col-md-6">
                        <app-auto-suggest-box />
                    </div>
                    <div class="col-md-6">
                        <div class="filter-line">
                            <div class="filter-header" i18n>
                                Sort by
                            </div>
                            <div class="filter-body">
                                @for (item of sortItems; track $index) {
                                    <a [ngClass]="{active: item.value == sortKey}" (click)="tapSort(item)">{{ item.name }}
                                        @if (item.value && sortKey == item.value) {
                                        <i class="iconfont"  [ngClass]="{'icon-sort-alpha-asc': orderAsc, 'icon-sort-alpha-desc': !orderAsc}"></i>
                                        }
                                    </a>
                                }
                            </div>
                      </div>
                    </div>
                </div>

                <div class="row">
                    @for (item of items; track $index) {
                        <div class="col-md-6">
                        <div class="large-item">
                            <div class="item-cover">
                                <img [appLazyLoad]="item.thumb | asset" [alt]="item.name">
                                <div class="item-mask">
                                    <a class="btn btn-primary" i18n>Preview</a>
                                    <a class="btn btn-success" (click)="modal.addTo(item)" i18n>Add To</a>
                                </div>
                            </div>
                            <div class="item-body">
                                <div class="item-name">{{ item.name }}</div>
                            </div>
                        </div>
                    </div>
                    }
                </div>

                <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
                <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()" />
            </div>
        </div>
    </div>
</div>

<app-add-dialog #modal />