.dialog-search {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99;
    background-color: rgba($color: #e97474, $alpha: .7);
    .dialog-close {
        position: absolute;
        right: 0;
        background-color: yellow;
        padding: 5px 10px;
        font-size: 2rem;
    }
    .dialog-body {
        padding: 80px 20px;
    }
}