@use '../../theme/styles/theme';
.dialog-search {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99;
    background-color: var(--#{theme.$prefix}dialog-mask);
    .dialog-close {
        position: absolute;
        right: 0;
        background-color: var(--#{theme.$prefix}primary);
        color: var(--#{theme.$prefix}primary-text);
        padding: .75rem 1rem;
        font-size: 2rem;
    }
    .dialog-body {
        padding: 5rem 1.25rem;
    }
}