@if (data) {
<div class="goods-page">
    <div class="container">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" routerLink="../../" i18n>Home</a>
            <a class="breadcrumb-item" routerLink="../" i18n>Presale</a>
            <span class="breadcrumb-item active">{{ data.name }}</span>
        </nav>

        <div class="row info-box">
            <div class="col-md-6">
                <app-gallery-slider [items]="galleryItems" />
            </div>
            <div class="col-md-6">
                <div class="bg-white">
                    <div class="activity-intro">
                        <div class="name">
                            {{ data.name }}
                        </div>
                        <div class="desc">
                            {{ data.brief }}
                        </div>
                    </div>
                    <div class="price-box">
                        <div class="activity-panel">
                            <div class="panel-header">
                                <div class="header-name">预售</div>
                                <div class="header-meta">
                                    <div class="label-item">
                                        <i class="iconfont icon-user"></i>
                                        {{ activity.log_count | numberFormat }}人预约
                                    </div>
                                    <div class="label-item">
                                        剩余时间
                                        <app-countdown [auto]="true" [end]="activity.end_at" />
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="flex-group">
                                    <div class="group-header">
                                        预售价
                                    </div>
                                    <div class="group-body">
                                        {{ activity.price | price }}
                                    </div>
                                </div>
                                <div class="flex-group">
                                    <div class="group-header">
                                        定金
                                    </div>
                                    <div class="group-body">
                                        {{ activity.configure.deposit | price }}
                                    </div>
                                </div>
                                <div class="flex-group">
                                    <div class="group-header">
                                        尾款
                                    </div>
                                    <div class="group-body">
                                        {{ endPrice | price }}
                                    </div>
                                </div>
                                <div class="activity-rule">
                                    <div class="rule-icon">
                                        预售规则
                                        <i class="iconfont icon-question-circle"></i>
                                    </div>
                                    <div class="rule-body">
                                        预售规则
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-group">
                            <div class="group-header">配送
                            </div>
                            <div class="group-body">至<app-region [source]="regionSource" />
                            </div>
                        </div>
                        <div class="flex-group">
                            <div class="group-header">
                                数量
                            </div>
                            <div class="group-body">
                                <app-number-input [formField]="dataForm.amount"/>
                            </div>
                        </div>
                    </div>
                    <div class="activity-action">
                        <a class="btn btn-danger">
                            支付定金
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="activity-progress">
            <div class="progress-label">
                预售流程
            </div>
            <div class="progress-body">
                <div class="progress-item">
                    <div class="item-icon">
                        <i class="iconfont icon-user"></i>
                    </div>
                    <div class="item-body">
                        <div class="item-name">1.支付定金</div>
                        <div class="item-meta">2020-09</div>
                    </div>
                </div>
                <div class="progress-item">
                    <div class="item-icon">
                        <i class="iconfont icon-user"></i>
                    </div>
                    <div class="item-body">
                        <div class="item-name">2.支付尾款（在我的订单完成）</div>
                        <div class="item-meta">2020-09</div>
                    </div>
                </div>
                <div class="progress-item">
                    <div class="item-icon">
                        <i class="iconfont icon-user"></i>
                    </div>
                    <div class="item-body">
                        <div class="item-name">3.商品发货</div>
                        <div class="item-meta">2020-09</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row detail-box">
            <div class="col-md-12">
                <div class="tab-box">
                    <div class="tab-header">
                        <div class="tab-item" [class]="{active: tabIndex() < 1}" (click)="tabIndex.set(0)">
                            Product details
                        </div>
                        <div class="tab-item" [class]="{active: tabIndex() == 1}" (click)="tabIndex.set(1)">
                            Comments
                        </div>
                        <div class="tab-item" [class]="{active: tabIndex() == 2}" (click)="tabIndex.set(2)">
                            Issues
                        </div>
                    </div>
                    <div class="tab-body bg-white">
                        <div class="tab-item" [class]="{active: tabIndex() < 1}">
                            <div class="content-box" [innerHTML]="content">
                            </div>
                        </div>
                        <div id="comment-tab" class="tab-item" [class]="{active: tabIndex() == 1}">
                            <app-comment-page [itemId]="data.id" [init]="tabIndex() == 1" />
                        </div>
                        <div class="tab-item issue-box" [class]="{active: tabIndex() == 2}">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}