<div class="slider">
    <div class="slider-previous" (click)="tapPrevious()">
        <i class="iconfont icon-chevron-left"></i>
    </div>
    <div class="slider-box" [ngStyle]="boxStyle">
        <ul [ngStyle]="scrollStyle">
            @for (item of items(); track $index; let i = $index) {
                @if (i > 0) {
                    <li class="min-link">
                        <i class="iconfont icon-plus"></i>
                    </li>
                }
                <li #itemView class="min-item">
                    <div class="thumb">
                        <img [src]="item.goods.thumb" [alt]="item.goods.name">
                    </div>
                    <div class="price">{{ item.price | price }}
                        x {{ item.amount }}
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="slider-next" (click)="tapNext()">
        <i class="iconfont icon-chevron-right"></i>
    </div>
</div>
