<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="friend-box">
                <div class="friend-link">
                    <div>友情链接</div>
                    <div>
                        <ng-container *ngFor="let item of friendLinks">
                            <a [href]="item.url" target="_blank" rel="noopener" [title]="item.description || item.name">{{ item.name }}</a>
                        </ng-container>
                    </div>
                </div>    
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel link-box">
                <div class="panel-header">
                    友链信息
                </div>
                <div class="panel-body">
                    <p>
                        名称：zodream
                    </p>
                    <p>
                        地址：https://zodream.cn
                    </p>
                    <p>
                        描述：zodream开发博客
                    </p>
                </div>
            </div>
            <div class="friend-apply">
                <p>申请前请收录本站，接受新站，拒绝一切非法网站。</p>
                <a href="javascript:;" class="btn btn-primary" (click)="openApply(modal)">申请互换友链</a>
            </div>
        </div>
    </div>
</div>


<app-dialog-box #modal title="申请互换友链" confirmText="申请">
    <div class="form-group">
        <label for="name">*站点名:</label>
        <input type="text" [(ngModel)]="editData.name" class="form-control" id="name" placeholder="显示的网站名称" >
    </div>
    <div class="form-group">
        <label for="url">*网址:</label>
        <input type="text" [(ngModel)]="editData.url" class="form-control" id="url" placeholder="跳转的网站链接：例如:https://zodream.cn" >
    </div>
    <div class="form-group">
        <label for="url">简介:</label>
        <input type="text" [(ngModel)]="editData.brief" class="form-control" id="brief" placeholder="网站简介">
    </div>
    <div class="form-group">
        <label for="email">邮箱:</label>
        <input type="email" [(ngModel)]="editData.email" class="form-control" id="email" placeholder="将发送结果到你的邮箱">
    </div>
</app-dialog-box>
