.container {
    min-height: 80vh;
    padding: 50px 0;
}

.friend-box {
    margin: 50px 0;
    background-color: #fff;
    min-height: 300px;
    line-height: 40px;
    padding: 20px 10px;
    .friend-link {
        padding-left: 150px;
        position: relative;
        >div:first-child {
            position: absolute;
            left: 0;
            width: 140px;
            border-right: 5px solid #a10000;
            font-size: 20px;
            text-align: center;
        }
        a {
            margin-right: 20px;
        }
    }
}

.link-box {
    margin: 50px 0;
    min-height: 300px;
    background-color: #fff;
}

.panel-header {
    line-height: 50px;
    padding-left: 20px;
    border-left: 5px solid #a10000;
    font-size: 20px;
    font-weight: 700;
}
.panel-body {
    padding: 10px;
    line-height: 30px;
    p {
        margin-bottom: 0;
    }
}
.friend-apply {
    text-align: right;
    margin-bottom: 30px;
}