<div class="container-fluid" #container [ngClass]="{'scroll-up': scrollToUp}" >
  
    <div class="reader-box">
        <app-flip-pager [initChapter]="chapterId" [options]="configs" (progressChanged)="onProgressChange($event)" (previewRequest)="onRequest($event)"></app-flip-pager>
    </div>
    
    <div class="loading-bar" *ngIf="isLoading">
        加载中。。。
    </div>

    <footer class="reader-footer" [ngStyle]="footerStyle">
        <div class="pager">
            <a (click)="tapPrev()">上一章</a>
            <app-progress-bar [(progress)]="progress" (progressChange)="onScrollChange()"></app-progress-bar>
            <a (click)="tapNext()">下一章</a>
        </div>
        <div class="setting" *ngIf="mode == 2">
            <div class="line-item">
                <span>字体颜色</span>
                <div class="color-box">
                    <app-color-picker [(ngModel)]="configs.color">
                        <span class="color" [ngStyle]="{'background-color': configs.color}"></span>
                    </app-color-picker>
                </div>
            </div>
            <div class="line-item">
                <span>背景颜色</span>
                <div class="color-box">
                    <app-color-picker [(ngModel)]="configs.background" (ngModelChange)="onBackgroundChange()">
                        <span class="color" [ngStyle]="{'background-color': configs.background}"></span>
                    </app-color-picker>
                    <span class="add-img" (click)="tapBackgroundImg()">
                        <i class="iconfont icon-image"></i>
                    </span>
                </div>
            </div>
            <div class="line-item">
                <span>翻页效果</span>
                <div class="font-box">
                    <ng-container *ngFor="let item of flipItems; let i=index">
                        <span [ngClass]="{active: configs.flip == i}" (click)="configs.flip = i">{{ item }}</span>
                    </ng-container>
                    
                </div>
            </div>
            <div class="line-item">
                <span>字体</span>
                <div class="font-box">
                    <ng-container *ngFor="let item of fontItems; let i=index">
                        <span [ngClass]="{active: configs.font == i}" (click)="configs.font = i">{{ item }}</span>
                    </ng-container>
                </div>
            </div>
            <div class="line-item">
                <span>字体大小</span>
                <div class="size-box">
                    <i class="iconfont icon-minus" (click)="tapMinus('size')"></i>
                    <span class="lang">{{ configs.size }}</span>
                    <i class="iconfont icon-plus" (click)="tapPlus('size')"></i>
                </div>
            </div>
            <div class="line-item">
                <span>行距</span>
                <div class="size-box">
                    <i class="iconfont icon-minus" (click)="tapMinus('line')"></i>
                    <span class="lang">{{ configs.line }}</span>
                    <i class="iconfont icon-plus" (click)="tapPlus('line')"></i>
                </div>
            </div>
            <div class="line-item">
                <span>间距</span>
                <div class="size-box">
                    <i class="iconfont icon-minus" (click)="tapMinus('letter')"></i>
                    <span class="lang">{{ configs.letter }}</span>
                    <i class="iconfont icon-plus" (click)="tapPlus('letter')"></i>
                </div>
            </div>
        </div>
        <div class="tab-bar">
            <a (click)="tapChapter()">
                <i class="iconfont icon-bars"></i>
                目录
            </a>
            <a (click)="tapEye()" [ngClass]="{active: configs.theme == 7}">
                <i class="iconfont icon-eye"></i>
                夜间
            </a>
            <a (click)="tapSetting()" [ngClass]="{active: mode == 2}">
                <i class="iconfont icon-cog"></i>
                设置
            </a>
        </div>
    </footer>
</div>
