<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>第三方账户绑定</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="connect-item" *ngFor="let item of items">
            <div class="item-body">
                <i class="iconfont" [ngClass]="item.icon"></i>
                {{ item.name }}
                <ng-container *ngIf="item.id">
                    ({{ item.nickname }})
                </ng-container>
            </div>
            <div class="item-action">
                <a data-type="del" *ngIf="item.id">解绑</a>
            </div>
        </div>
    </div>
</div>
