<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>第三方账户绑定</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        @for (item of items; track $index) {
        <div class="connect-item">
            <div class="item-body">
                <i class="iconfont" [ngClass]="item.icon | iconfont"></i>
                {{ item.name }}
                @if (item.id) {
                    ({{ item.nickname }})
                }
            </div>
            <div class="item-action">
                @if (item.id) {
                    <a data-type="del">解绑</a>
                }
            </div>
        </div>
        }
    </div>
</div>
