.connect-item {
    display: flex;
    line-height: 2.5rem;
    background-color: #f4f4f4;
    padding: 0 0 0 20px;
    margin-bottom: 1rem;
    .item-body {
        flex: 4;
    }
    .item-action {
        flex: 1;
    }
}
