<div class="dialog-mask" *ngIf="visible" (click)="close()"></div>
<div class="dialog-box" [@dialogOpen]="visible ? 'open' : 'closed'">
    <div class="input-label">食谱名</div>
    <div class="item-name">
        <input type="text" class="form-control">
    </div>
    <div class="input-label">食材配料

        <i class="iconfont icon-plus"></i>
    </div>
    <div class="input-flex">
        <label>白菜</label>
        <app-number-input [only]="false"></app-number-input>
    </div>
    <div class="input-label">制作步骤</div>
    <textarea class="form-control"></textarea>
    <div class="dialog-footer">
        <div class="btn btn-secondary" (click)="close()">取消</div>
        <div class="btn btn-primary">保存</div>
    </div>
</div>