<div class="coupon-page">
    <div class="container">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" routerLink="../" i18n>Home</a>
            <span class="breadcrumb-item active" i18n>Coupon</span>
        </nav>

        <div>
            <div class="coupon-item" *ngFor="let item of items">
                <div class="thumb">
                    <img [src]="item.thumb" alt="">
                </div>
                <div class="info">
                    <div class="price">
                        <ng-container *ngIf="item.type > 0; else elseTemplate">
                            <em>
                                {{ item.money }}折
                            </em>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <em>
                                ￥{{ item.money }}
                            </em>
                        </ng-template>
                        <span class="limit">满{{ item.min_money }}元可用</span>
                    </div>
                    <div class="rang">
                        {{ item.name }}
                    </div>
                    <div class="got-tip" *ngIf="!item.can_receive">
                        已领取
                    </div>
                </div>
                <div class="action">
                    <a *ngIf="item.can_receive" (click)="tapReceive(item)">立即领取</a>
                    <a *ngIf="!item.can_receive">立即使用</a>
                </div>
                
            </div>
            
            <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
        </div>

    </div>
</div>