<app-edit-header [title]="dataModel().id > 0 ? '编辑Bot' : '新增Bot'" (submited)="tapSubmit($event)" [disabled]="dataForm().invalid()" />

<div class="container-fluid">
    <form class="form-table-control panel-container" (submit)="tapSubmit2($event)">
        <div class="input-group-control">
            <label for="name">Bot名称</label>
            <div>
                <input type="text" id="name" class="form-control" [field]="dataForm.name">
            </div>
        </div>
        <div class="input-group-control">
            <label for="token">平台服务Token(令牌)</label>
            <div>
                <input type="text" id="token" class="form-control" [field]="dataForm.token">
            </div>
        </div>
        <div class="input-group-control">
            <label for="account">平台账号</label>
            <div>
                <input type="text" id="account" class="form-control" [field]="dataForm.account">
            </div>
        </div>
        <div class="input-group-control">
            <label for="original">原始ID</label>
            <div>
                <input type="text" id="original" class="form-control" [field]="dataForm.original" >
            </div>
        </div>
        <div class="input-group-control">
            <label for="type">Bot类型</label>
            <div>
                <select class="form-control" id="type" [field]="dataForm.type">
                    @for (item of typeItems; track $index; let i = $index) {
                    <option [value]="i">{{ item }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="input-group-control">
            <label for="appid">AppID(应用ID)</label>
            <div>
                <input type="text" id="appid" class="form-control" [field]="dataForm.appid" >
            </div>
        </div>
        <div class="input-group-control">
            <label for="secret">AppSecret(应用密钥)</label>
            <div>
                <input type="text" id="secret" class="form-control" [field]="dataForm.secret">
            </div>
        </div>
        <div class="input-group-control">
            <label for="aes_key">消息加密秘钥EncodingAesKey</label>
            <div>
                <input type="text" id="aes_key" class="form-control" [field]="dataForm.aes_key">
            </div>
        </div>
        <div class="input-group-control">
            <label for="avatar">头像地址</label>
            <div>
                <app-file-input id="avatar" [field]="dataForm.avatar" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="qrcode">二维码地址</label>
            <div>
                <app-file-input id="qrcode" [field]="dataForm.qrcode" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="address">所在地址</label>
            <div>
                <input type="text" id="address" class="form-control" [field]="dataForm.address">
            </div>
        </div>
        <div class="input-group-control">
            <label for="description">Bot简介</label>
            <div>
                <textarea id="description" class="form-control" [field]="dataForm.description"></textarea>
            </div>
        </div>
        <div class="input-group-control">
            <label for="username">平台官网登录名(邮箱)</label>
            <div>
                <input type="text" id="username" class="form-control" [field]="dataForm.username">
            </div>
        </div>
        <div class="input-group-control">
            <label for="password">平台官网登录密码</label>
            <div>
                <input type="text" id="password" class="form-control" [field]="dataForm.password">
            </div>
        </div>
        <div class="btn-group">
            <app-action-button class="btn btn-success" (tapped)="tapSubmit($event)">确认保存</app-action-button>
            <a class="btn btn-danger" (click)="tapBack()">取消修改</a>
        </div>
    </form>
</div>
