@use '../../../../theme/theme';
@use "form";

.book-comments {
    background-color: var(--#{theme.$prefix}panel);
    .reply-hide {
        display: none;
    }
    .title {
        font-size: 1.25rem;
        border-left: .3125rem solid var(--#{theme.$prefix}primary);
        padding-left: .625rem;
        margin-top: .9375rem;
        
    }

    .order-bar {
        float: right;
        font-size: .75rem;
        cursor: pointer;
        display: inline-flex;
        gap: .4rem;
        color: var(--#{theme.$prefix}meta-text);
        .active {
            color: var(--#{theme.$prefix}primary);
        }
    }
    
    &.hot-comments {
        .title {
            margin-top: 0;
        }
    }
    
}

.book-footer {
    &.comment {
        margin-top: 3.125rem;
        background-color: var(--#{theme.$prefix}panel);
        padding: .9375rem;
        position: relative;
    }
}


