<div id="comments" class="book-footer comment">
    @if (commentForm.parent_id().value() < 1) {
    <div class="book-comment-form">
        <div class="title" i18n>Post a comment</div>
        @if (status() != 2 && !user()) {
        <div class="form-table-control">
            <div class="form-group">
                <label i18n>Nickname</label>
                <input type="text" class="form-control" [field]="guestForm.name" i18n-placeholder placeholder="Please input your nickname">
            </div>
            <div class="form-group">
                <label i18n>Email</label>
                <input type="email" class="form-control" [field]="guestForm.email" i18n-placeholder placeholder="Please input your email" (input)="onEmailChange()">
            </div>
            <div class="form-group">
                <label i18n>Link</label>
                <input type="url" class="form-control" [field]="guestForm.url" i18n-placeholder placeholder="Please input your link">
            </div>
        </div>
        }
        
        @if (status() == 2 && !user()) {
            <div class="comment-mask" i18n>
                Please 
                <a (click)="tapLogin()">login in</a>
                first.
            </div>
        } @else if (user()) {
            <textarea class="form-control" [field]="commentForm.content" i18n-placeholder placeholder="Please input content"></textarea>
        }
        
        <app-action-button class="btn btn-primary" (tapped)="tapComment($event)" i18n>Comment</app-action-button>
    </div>
    }
    
    @if (hotItems().length > 0) {
    <div class="book-comments hot-comments">
        <div class="title" i18n>
            Hot comments
        </div>
        <div id="comment-box">
            @for (item of hotItems(); track $index) {
                <app-comment-item [value]="item" [user]="user()" />
            }
        </div>
    </div>
    }
    
    <div class="book-comments">
        <div class="title">
            <ng-container i18n>All comments</ng-container>
            
             <div class="order-bar">
                <span [class]="{active: queries.order().value() == 'desc'}" (click)="tapSort('desc')" i18n>Newest</span>
                <span [class]="{active: queries.order().value() == 'asc'}" (click)="tapSort('asc')" i18n>Earliest</span>
            </div>
        </div>
        <div id="comment-box">
            <app-pull-to-refresh [more]="hasMore()" [loading]="isLoading()" (moreChange)="tapMore()" (refreshChange)="tapRefresh()">
                @for (item of items(); track $index) {
                    <app-comment-item [value]="item" [user]="user()" [status]="status()" [guestUser]="guestForm().value()" (commenting)="onReply($event)" />
                }
            </app-pull-to-refresh>
        </div>
    </div>
</div>