<div class="container">
    @if (data) {
    <div class="agreement-box">
        <div class="update-date">
            <ng-container i18n>Published on:</ng-container>
            <span class="date-value">{{ data.created_at }}</span>
        </div>
        <div class="update-date">
            <ng-container i18n>Effective Date:</ng-container>
            <span class="date-value">{{ data.updated_at }}</span>
        </div>

        <div class="print-bar">
            <div class="print-btn" (click)="tapPrint()">
                <i class="iconfont icon-print"></i>
                <ng-container i18n>Print</ng-container>
            </div>
        </div>

        <div class="title" id="top">{{ data.title }}</div>

        <div class="row">
            <div class="col-md-12">
                {{ data.description }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" [hidden]="!navVisible">
                <ul class="nav-list">
                    @for (item of data.content; track $index) {
                    <li>
                        <a (click)="tapScrollTo(item)">{{ item.title }}</a>
                    </li>
                    }
                    
                </ul>
            </div>
            <div class="col-12" [ngClass]="{'col-md-9': navVisible}">
                @for (group of data.content; track group.name) {
                <div class="nav-panel" [id]="group.name">
                    <div class="nav-header" >
                        {{ group.title }}
                    </div>
                    <div class="nav-desc">
                        @for (item of group.children; track $index) {
                            <p [ngClass]="{b: item.b}">{{ item.content }}</p>
                        }
                        
                    </div>
                </div>
                }
                

                <a class="goto-top" (click)="tapToTop()" i18n-title title="Back to Top" [hidden]="!navVisible">
                    <i class="iconfont icon-arrow-up"></i>
                    <ng-container i18n>Back to Top</ng-container>
                </a>
            </div>
        </div>
    </div>
    }
</div>