@use '../../theme/theme';
.agreement-box {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    a {
        color: var(--#{theme.$prefix}link-text);
        cursor: pointer;
    }
    .update-date {
        .date-value {
            font-weight: bold;
        }
    }
    .print-bar {
        margin-top: 1.25rem;
        background-color: var(--#{theme.$prefix}border);
        text-align: right;
        .print-btn {
            cursor: pointer;
        }
    }
    .title {
        color: var(--#{theme.$prefix}primary);
        font-size: 2em;
        display: inline-block;
        vertical-align: top;
        margin: .7em .3em .7em -.02em;
    }
    .nav-list {
        margin: .3em 0 0;
        padding: 0;
        li {
            background-color: var(--#{theme.$prefix}primary);
            cursor: pointer;
            font-size: .9em;
            color: var(--#{theme.$prefix}primary-text);
            width: 90%;
            padding: 5%;
            margin-bottom: 5px;
            list-style: none;
        }
        a {
            color: var(--#{theme.$prefix}primary-text);
        }
    }
    .nav-panel {
        margin-top: .3em;
        padding-bottom: .9rem;
        margin-bottom: .7rem;
        .nav-header {
            color: var(--#{theme.$prefix}primary);
            font-size: 1.6em;
            border: 1px solid var(--#{theme.$prefix}primary);
            border-left: 2em solid var(--#{theme.$prefix}primary);
            padding: .2em;
        }
        .nav-desc {
            padding-top: 0.5em;
            line-height: 1.5em;
            .b {
                font-weight: bold;
            }
            ul {
                margin-left: 3em;
            }
        }
    }
}
