@use '../../dialog';
.goods-dialog {
    @include dialog.dialogSet(20rem);
}
.item-price {
    display: inline-block;
    color: red;
    font-size: 1.5em;
    em {
        font-style: normal;
        font-size: .2em;
    }
}

.item-thumb {
    height: 8rem;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 500ms;
    }
}

.item-body {
    padding: .4rem .4rem 0;
}

.item-subtotal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item-group {
    margin-top: .4rem;
    .group-header {
        line-height: 2rem;
    }
}

.item-flex-group {
    margin-top: .4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-group {
    span {
        display: inline-block;
        line-height: 1.5rem;
        border: 1px solid #ccc;
        padding: .4rem;
        min-width: 3rem;
        text-align: center;
        word-break: keep-all;
        user-select: none;
        &.active {
            background-color: #0d6efd;
            color: white;
            border-color: #0d6efd;
        }
    }
}