<ng-container *ngFor="let item of items; let i = index">
    <div [ngClass]="{'request-tr': kind == 1, 'response-tr': kind == 2}">
        <div class="line-name">
            {{ item.level | treeLevel }}
            <input type="text" class="form-control" [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}" (ngModelChange)="onValueChange()">
        </div>
        <div>
            <input type="text" class="form-control" [(ngModel)]="item.title" [ngModelOptions]="{standalone: true}" (ngModelChange)="onValueChange()">
        </div>
        <div>
            <select class="form-control" [(ngModel)]="item.type" [ngModelOptions]="{standalone: true}" (ngModelChange)="onTypeChange(item)">
                <option *ngFor="let t of typeItems" [value]="t.value">{{ t.name }}</option>
            </select>
        </div>
        <div *ngIf="kind == 1">
            <app-switch [(ngModel)]="item.is_required" [ngModelOptions]="{standalone: true}" (ngModelChange)="onValueChange()"></app-switch>
        </div>
        <div *ngIf="kind == 1">
            <input type="text" class="form-control" [(ngModel)]="item.default_value" [ngModelOptions]="{standalone: true}" (ngModelChange)="onValueChange()">
        </div>
        <div *ngIf="kind == 2">
            <input type="text" class="form-control" [(ngModel)]="item.mock" [ngModelOptions]="{standalone: true}" (ngModelChange)="onValueChange()">
        </div>
        <div>
            <input type="text" class="form-control" [(ngModel)]="item.remark" [ngModelOptions]="{standalone: true}" (ngModelChange)="onValueChange()">
        </div>
        <div>
            <i *ngIf="item.type == 'object' || item.type == 'array'" class="iconfont icon-plus" (click)="tapAddItem(item)"></i>
            <i class="iconfont icon-close" (click)="tapRemoveItem(i)"></i>
        </div>
    </div>
    <app-api-field-tr *ngIf="item.type == 'object' || item.type == 'array'" [(items)]="item.children" [kind]="kind" (itemsChange)="onValueChange()"></app-api-field-tr>
</ng-container>

