<app-edit-header [title]="'编辑个人资料'" (submited)="tapSubmit($event)" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-panel title="基本信息">
                <form class="form-table-control" [formGroup]="form">
                    <div class="input-group-control avatar-input">
                        <label for="avatar">头像</label>
                        <div>
                            @if (data) {
                            <div class="avatar">
                                <img [src]="data.avatar">
                            </div>
                            }
                            <label for="fileUpload" class="btn btn-light">更改头像</label>
                            <input type="file" name="file" id="fileUpload" (change)="uploadFile($event)"
                                accept="image/*" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="name">昵称</label>
                        <div>
                            <input type="text" id="name" class="form-control" formControlName="name"
                                placeholder="请输入 昵称">
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="email">邮箱</label>
                        <div>
                            <input type="email" id="email" class="form-control" formControlName="email"
                                placeholder="请输入 邮箱">
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="sex">性别</label>
                        <div>
                            <app-check-input formControlName="sex" rangeKey="value" [items]="sexItems" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="birthday">生日</label>
                        <div>
                            <app-date-input id="birthday" formControlName="birthday" [minimum]="minDate" [maximum]="maxDate" />
                        </div>
                    </div>

                </form>
            </app-panel>
        </div>
        <div class="col-md-6">
            <app-panel title="账号相关">
                <a class="btn btn-light btn-line" (click)="quiteUser()">切换账户</a>
                <a class="btn btn-danger btn-line" (click)="openCancel(modal)">注销账户</a>
            </app-panel>
        </div>
    </div>

</div>

<app-dialog-box #modal title="确认注销此账户" confirmText="确定注销" cancelText="暂不注销">
    <p class="tip">账户注销后，您所有的记录将永远消失。 <br />请选择注销原因：</p>
    @for (item of reasonItems; track $index;let i = $index) {
        <div class="item" (click)="reasonSelected = i">
            <i class="checkbox" [class]="{checked: reasonSelected == i}"></i>
            {{ item }}
        </div>
    }
    
</app-dialog-box>