<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>秒杀活动列表</li>
        </ul>
    </app-page-tip>
    <div class="page-search">
        <a class="btn btn-success pull-right" routerLink="create">新增秒杀活动</a>
        <a class="btn btn-success pull-right"  routerLink="time">秒杀时间列表</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th class="auto-hide">开始时间</th>
                <th class="auto-hide">结束时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>