<div class="row">
    <div class="offset-md-8 col-md-4">
        <form class="search-bar" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
            <input type="text" class="form-control" name="keywords" placeholder="请输入搜索内容" ngModel [value]="keywords">
            <button class="btn btn-primary">搜索</button>
            <a class="btn btn-info" routerLink="../service/apply">申请服务</a>
        </form>
    </div>
</div>
<div class="order-item" *ngFor="let item of items">
    <div class="order-header">
        <span>{{ item.id }}</span>
        <span class="status">{{ item.status_label }}</span>
    </div>
    <div class="order-amount">
        <span>【{{ item.service.name }}】</span>
        <span class="amount">x {{ item.amount }}</span>
        <span class="price">
            服务费：￥{{ item.order_amount }}
        </span>
    </div>
    <div class="order-footer">
        <div class="order-actions">
            <a (click)="tapTaking(item)">接单</a>
        </div>
    </div>
</div>