<div class="container-fluid">
    @if (data) {
    <div class="panel-container book-list-info">
        <div class="info-main">
            <div class="title">{{ data.title }}</div>
            <p class="desc">{{ data.description }}</p>
            <div class="info-footer">
                <a href="">{{ data.user?.name }}</a>
                <span class="time">{{ data.created_at }}</span>
            </div>
        </div>
        <div class="info-action">
            <div class="info-count">
                <span>{{ data.book_count }}本书</span>
                <span>{{ data.click_count }}浏览</span>
                <span>{{ data.collect_count }}收藏</span>
            </div>
            <div class="collect-btn" (click)="tapCollect()">
                <i class="iconfont icon-heart" [class]="{'icon-heart': data.is_collected, 'icon-heart-o': !data.is_collected}"></i>
                收藏
            </div>
        </div>
    </div>
    }
    
    <div class="panel-container">
        @for (item of items(); track $index) {
            <div class="list-book-item">
                <div class="thumb">
                    <img [src]="item.book?.cover" alt="">
                </div>
                <div class="info">
                    <a class="title">{{ item.book.name }}</a>
                    <p>
                        <a>{{ item.book.author.name }}</a>|
                        <span>{{ item.book.size | numberFormat }}字</span>|
                        <span>{{ item.book.status_label }}</span>
                    </p>
                    <p>
                        更新时间：{{ item.book.updated_at }}
                    </p>
                    <p>
                        单主评分：
                        <app-star [value]="item.star" />
                    </p>
                </div>
                <p class="remark">
                    {{ item.remark }}
                </p>
                <div class="action-box">
                    <a (click)="tapAgree(item)">
                        <i class="iconfont" [class]="{'icon-thumbs-o-up': item.is_agree != 1, 'icon-thumbs-up': item.is_agree == 1}"></i>{{ item.agree_count }}
                    </a>
                    <a (click)="tapDisagree(item)">
                        <i class="iconfont" [class]="{'icon-thumbs-o-down': item.is_agree != 2, 'icon-thumbs-down': item.is_agree == 2}"></i>{{ item.disagree_count }}
                    </a>
                    <a (click)="tapAddBook(item)">
                        {{ item.on_shelf ? '已在书架' : '加入书架' }}
                    </a>
                </div>
            </div>
        }
    </div>

</div>