@use '../../../theme/theme';
.column-item {
    --#{theme.$prefix}column-icon: var(--#{theme.$prefix}primary);
    --#{theme.$prefix}column-icon-text: var(--#{theme.$prefix}primary-text);
    cursor: pointer;
    .item-unit {
        font-size: 1rem;
        font-weight: 500;
        color: var(--#{theme.$prefix}body-text);
        display: inline-block;
    }
    .item-tag {
        display: inline-block;
        font-weight: 100;
        font-size: .8rem;
        position: absolute;
        top: -.3rem;
        line-height: 1;
        transform: translateX(-.5rem);
    }
    .icon-arrow-down {
        color: var(--#{theme.$prefix}danger);
    }
    .icon-arrow-up {
        color: var(--#{theme.$prefix}success);
    }
}