<app-loading-tip [loading]="isLoading" [visible]="isLoading" />

@for (item of items; track $index) {
    <a class="column-item" (click)="tapItem(item)" title="点击查看详情">
        <div class="item-icon">
            @if (item.icon) {
                <i class="iconfont" [ngClass]="item.icon | iconfont"></i>
            } @else {
                <i class="iconfont icon-file-o"></i>
            }
        </div>
        <div class="item-body">
            <h3>{{ item.name }}</h3>
            <p>
                {{ item.count }}
                <span class="item-tag iconfont" [ngClass]="{'icon-arrow-down': item.inc < 0, 'icon-arrow-up': item.inc > 0}"></span>
                @if (item.unit) {
                    <span class="item-unit">{{ item.unit }}</span>
                }
            </p>
        </div>
    </a>
}

<div class="route-list-bar tablet-visible">
    <a routerLink="../../micro" class="route-item">
        <i class="iconfont icon-comments item-icon"></i>
        <span class="item-body" i18n>Micro</span>
        <i class="iconfont icon-chevron-right item-arrow"></i>
    </a>
    <a routerLink="/navigation" class="route-item">
        <i class="iconfont icon-search item-icon"></i>
        <span class="item-body" i18n>Navigation</span>
        <i class="iconfont icon-chevron-right item-arrow"></i>
    </a>
    <a routerLink="/task" class="route-item">
        <i class="iconfont icon-calendar item-icon"></i>
        <span class="item-body" i18n>Task</span>
        <i class="iconfont icon-chevron-right item-arrow"></i>
    </a>
     <a routerLink="/finance" class="route-item">
        <i class="iconfont icon-bar-chart item-icon"></i>
        <span class="item-body" i18n>Finance</span>
        <i class="iconfont icon-chevron-right item-arrow"></i>
    </a>
     <a routerLink="/doc" class="route-item">
        <i class="iconfont icon-book item-icon"></i>
        <span class="item-body" i18n>Document</span>
        <i class="iconfont icon-chevron-right item-arrow"></i>
    </a>
</div>