<div class="router-bar">
    <div class="tool-item" (click)="tapBack()">
        <i class="iconfont icon-arrow-left"></i>
    </div>
    <div class="title-bar">
        背包
    </div>
</div>
<div class="tab-bar">
    <ng-container *ngFor="let item of typeItems">
        <a class="item" [ngClass]="{active: queries.type == item.value}" (click)="tapType(item.value)">{{ item.name }}</a>
    </ng-container>
</div>
@for (item of items; track $index) {
    <div class="bag-item">
    <div class="item-body">
        <span *ngIf="item.quality">[{{ item.quality }}]</span>
        <a class="item-name">{{ item.name }}</a>
        <span class="item-sub" *ngIf="item.level">+{{ item.level }}</span>
    </div>
    <span class="item-amount">x{{ item.amount }}</span>
    <div class="item-action">
        <a href="" *ngIf="item.type === 3">使用</a>
        <a href="" *ngIf="item.type === 1">装备</a>
        <a href="">丢弃</a>
    </div>
</div>
}
<app-pagination  [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>