<div class="router-bar">
    <div class="tool-item" (click)="tapBack()">
        <i class="iconfont icon-arrow-left"></i>
    </div>
    <div class="title-bar">
        背包
    </div>
</div>
<div class="tab-bar">
    @for (item of typeItems; track $index) {
        <a class="item" [ngClass]="{active: queries.type == item.value}" (click)="tapType(item.value)">{{ item.name }}</a>
    }
</div>
@for (item of items; track $index) {
    <div class="bag-item">
    <div class="item-body">
        @if (item.quality) {
        <span>[{{ item.quality }}]</span>
        }
        <a class="item-name">{{ item.name }}</a>
        @if (item.level) {
        <span class="item-sub">+{{ item.level }}</span>
        }
    </div>
    <span class="item-amount">x{{ item.amount }}</span>
    <div class="item-action">
        @if (item.type === 3) {
        <a href="">使用</a>
        } @else if (item.type === 1) {
        <a href="">装备</a>
        }
        <a href="">丢弃</a>
    </div>
</div>
}
<app-pagination  [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>