<div class="col-md-12">
    <div class="panel self-box" [class]="{'edit-mode': editMode}">
        <div class="panel-header">
            <span i18n>Your navigation</span>
            <div class="more">
                <a routerLink="/" class="link-btn" i18n-title title="Back to home">
                    <i class="iconfont icon-home"></i>
                </a>
                <div class="add-btn" (click)="tapAdd()">
                    <i class="iconfont icon-plus"></i>
                    <ng-container i18n>Create</ng-container>
                </div>
                <div class="custom-btn" (click)="toggleEdit()">
                    <i class="iconfont icon-cog"></i>
                    <ng-container i18n>Customize</ng-container>
                </div>
            </div>
        </div>
        <div class="panel-body">
            @for (group of items; track $index; let i = $index) {
            <div class="group-item">
                <div class="group-name">
                    <i class="iconfont icon-close" (click)="tapRemove(i)"></i>
                    <i class="iconfont icon-edit" (click)="tapEdit(i)"></i>
                    {{ group.name }}</div>
                <div class="group-body">
                    @for (item of group.items; track $index; let j = $index) {
                        @if (editMode) {
                            <a class="site-item" rel="noopener noreferrer">
                                <i class="iconfont icon-close" (click)="tapRemove(i, j)"></i>
                                {{ item.name }}
                                <i class="iconfont icon-edit" (click)="tapEdit(i, j)"></i>
                            </a>
                        } @else {
                            <a [href]="item.link" target="_blank" class="site-item" rel="noopener noreferrer">
                                {{ item.name }}
                            </a>
                        }
                    }
                </div>
            </div>
            }
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <a (click)="tapSave(1)" class="btn" i18n>Save locally</a>
                @if (!isGuest) {
                <a (click)="tapSave(2)" class="btn" i18n>Save Cloud</a>
                }
                <a (click)="tapReset()" class="btn" i18n>Reset</a>
                <a href="javascript:;" class="btn panel-close" (click)="toggleEdit(false)" i18n>Close</a>
            </div>
        </div>
    </div>
</div>
<app-dialog-box #modal [scrollable]="false">
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="group" i18n>Group</label>
            <div>
                <select id="group" class="form-control" [field]="editForm.group_id">
                    <option [value]="0" i18n>As Group</option>
                    @for (item of items; track $index) {
                        <option [value]="item.id">{{ item.name }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="input-group-control">
                <label for="name" i18n>Name</label>
                <div>
                    <input type="text" id="name" class="form-control" [field]="editForm.name" i18n-placeholder placeholder="Please input name/title">
                </div>
        </div>
        @if (editForm.group_id > 0) {
        <div class="input-group-control">
                <label for="link" i18n>Link</label>
                <div>
                    <input type="text" id="link" class="form-control" [field]="editForm.link" i18n-placeholder  placeholder="Please input link">
                </div>
        </div>
        }
    </div>
</app-dialog-box>