@use '../../../theme/theme';
.panel {
    .panel-header {
        line-height: 2.5rem;
        // background-color: #fff;
        padding: 0 0.625rem;
        border-bottom: 1px solid var(--#{theme.$prefix}border);
        user-select: none;
        display: flex;
        justify-content: space-between;
    }
}
.self-box {
    margin-top: 2rem;
    margin-bottom: .8rem;
    .link-btn {
        display: inline-block;
        font-size: 1.5rem;
        padding: 0 .5rem;
    }
    .custom-btn,
    .add-btn {
        display: inline-block;
    }
    .add-btn {
        display: none;
    }
    .group-item {
        display: flex;
        .group-name {
            line-height: 3rem;
            text-align: right;
            font-weight: 700;
            width: 5rem;
            padding-right: .8rem;
            user-select: none;
        }
        .group-body {
            flex: 1;
        }
    }
    .site-item,
    .group-name {
        .iconfont {
            display: none;
        }
    }
    .site-item {
        display: inline-block;
        text-align: center;
        line-height: 3rem;
        border-radius: .25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: all 0.3s ease;
        width: 7.5rem;
        &:hover {
            color: var(--#{theme.$prefix}surface-text);
            background-color: var(--#{theme.$prefix}surface);
            font-size: 16px;
            font-weight: bold;
        }
    }
    .panel-footer {
        background-color: var(--#{theme.$prefix}surface);
        height: 0;
        line-height: 2.2rem;
        text-align: center;
        overflow: hidden;
        transition: all .2s;
        .btn-group {
            margin-top: 2rem;
        }
        .btn {
            color: var(--#{theme.$prefix}surface-text);
            border: 2px solid var(--#{theme.$prefix}border);
            border-right: none;
            background-color: transparent;
            cursor: pointer;
            transition: all .2s;
            &:hover {
                background-color: var(--#{theme.$prefix}surface-hovered);
                color: var(--#{theme.$prefix}surface-selected-text);
            }
            &.panel-close {
                color: var(--#{theme.$prefix}surface);
                border-right: 2px;
                border-color: var(--#{theme.$prefix}surface-text);
                background-color: var(--#{theme.$prefix}surface-text);
            }
        }
    }
    &.edit-mode {
        .add-btn {
            display: inline-block;
        }
        .panel-footer {
            height: 6.25rem;
        }
        .group-item {
            .group-name {
                width: 8rem;
                padding: 0;
            }
        }
        
        .site-item,
        .group-name {
            .iconfont {
                display: inline-block;
            }
        }
    }
}
