.panel {
    .panel-header {
        line-height: 40px;
        background-color: #fff;
        padding: 0 10px;
        border-bottom: 1px solid #f90;
        user-select: none;
        display: flex;
        justify-content: space-between;
    }
}
.self-box {
    margin-top: 2rem;
    background-color: #fff;
    margin-bottom: 10px;
    .custom-btn,
    .add-btn {
        display: inline-block;
    }
    .add-btn {
        display: none;
    }
    .group-item {
        display: flex;
        .group-name {
            line-height: 3rem;
            text-align: right;
            font-weight: 700;
            width: 5rem;
            padding-right: .8rem;
            user-select: none;
        }
        .group-body {
            flex: 1;
        }
    }
    .site-item {
        display: inline-block;
        text-align: center;
        line-height: 3rem;
        border-radius: .25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: all 0.3s ease;
        width: 7.5rem;
        .iconfont {
            display: none;
        }
        &:hover {
            color: #FFF;
            font-size: 16px;
            font-weight: bold;
            background: #6b7184;
        }
    }
    .panel-footer {
        background: #6b7184;
        height: 0;
        line-height: 2.2rem;
        text-align: center;
        overflow: hidden;
        transition: all .2s;
        .btn-group {
            margin-top: 2rem;
        }
        .btn {
            color: rgba(255, 255, 255, 0.60);
            border: 2px solid rgba(255, 255, 255, 0.6);
            background-color: transparent;
            cursor: pointer;
            transition: all .2s;
            &:hover {
                color: #6b7184;
                border-color: #fff;
                background: #fff
            }
            &.panel-close {
                color: #6b7184;
                border-color: #fff;
                background: #fff;
            }
        }
    }
    &.edit-mode {
        .add-btn {
            display: inline-block;
        }
        .panel-footer {
            height: 6.25rem;
        }
        .site-item {
            .iconfont {
                display: inline-block;
            }
        }
    }
}
