@use '../../theme/styles/theme';
.editor-modal-box {
    --#{theme.$prefix}modal: var(--#{theme.$prefix}input);
    --#{theme.$prefix}modal-text: var(--#{theme.$prefix}body-text);
    --#{theme.$prefix}modal-hovered: var(--#{theme.$prefix}input-hovered);
    --#{theme.$prefix}modal-selected: var(--#{theme.$prefix}input-selected);
    position: absolute;
    display: none;
    padding: .8rem;
    z-index: 101;
    left: 0;
    top: 0;
    width: 20rem;
    min-height: 6rem;
    background-color: var(--#{theme.$prefix}modal);
    box-shadow: 0 0 .2rem 0.2rem rgba(var(--#{theme.$prefix}mask-rgb), .3);
    border-radius: .25rem;
    .input-header-block {
        position: relative;
        margin-bottom: .8rem;
        input,
        textarea {
            width: 100%;
            padding: .2rem .8rem;
            background-color: transparent;
            border-radius: .25rem;
            border-color: var(--#{theme.$prefix}border);
            &:focus {
                border-color: var(--#{theme.$prefix}body-text);
                & + label {
                    font-size: .8rem;
                    top: -.5rem;
                }
            }
        }
        input {
            height: 2.5rem;
            border-width: 1px;
            border-style: solid;
        }
        label {
            display: block;
            padding: 0 .4rem;
            background-color: var(--#{theme.$prefix}body);
            position: absolute;
            left: .8rem;
            top: .6rem;
            font-size: 1rem;
            transition: all .5s;
            user-select: none;
        }
        &.input-not-empty {
            label {
                font-size: .8rem;
                top: -.5rem;
            }
        }
    }
    .input-flex-line {
        margin-bottom: .8rem;
        user-select: none;
    }
    .input-flex-group {
        display: flex;
        .input-header-block {
            flex: 1;
        }
    }
    .modal-action {
        text-align: right;
    }
    .drag-input {
        display: block;
        user-select: none;
        border-radius: .25rem;
        padding: 2rem 0 1rem;
        text-align: center;
        border: .2rem dotted var(--#{theme.$prefix}border);
        p {
            margin: 0;
        }
        input {
            width: 0;
            height: 0;
            overflow: hidden;
        }
        &:hover {
            background-color: var(--#{theme.$prefix}input-hovered);
        }
    }
    .tab-bar {
        margin: -.8rem -.8rem .8rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        .item {
            &:first-of-type {
                border-bottom-left-radius: 0;
            }
            &:last-of-type {
                border-bottom-right-radius: 0;
            }
        }
    }
    &.modal-visible {
        display: block;
    }
}
