@use '../../theme/styles/theme';
.editor-modal-box {
    position: absolute;
    display: none;
    padding: .8rem;
    z-index: 101;
    left: 0;
    top: 0;
    width: 20rem;
    min-height: 6rem;
    background-color: var(--#{theme.$prefix}body-bg);
    box-shadow: 0 0 .2rem 0.2rem #ccc;
    border-radius: .25rem;
    .input-header-block {
        position: relative;
        margin-bottom: .8rem;
        input,
        textarea {
            width: 100%;
            padding: .2rem .8rem;
            background-color: transparent;
            border-radius: .25rem;
            border-color: #ccc;
            &:focus {
                border-color: #333;
                & + label {
                    font-size: .8rem;
                    top: -.5rem;
                }
            }
        }
        input {
            height: 2.5rem;
            border-width: 1px;
            border-style: solid;
        }
        label {
            display: block;
            padding: 0 .4rem;
            background-color: #f4f4f4;
            position: absolute;
            left: .8rem;
            top: .6rem;
            font-size: 1rem;
            transition: all .5s;
            user-select: none;
        }
        &.input-not-empty {
            label {
                font-size: .8rem;
                top: -.5rem;
            }
        }
    }
    .input-flex-line {
        margin-bottom: .8rem;
        user-select: none;
    }
    .input-flex-group {
        display: flex;
        .input-header-block {
            flex: 1;
        }
    }
    .modal-action {
        text-align: right;
    }
    .drag-input {
        display: block;
        user-select: none;
        border-radius: .25rem;
        padding: 2rem 0 1rem;
        text-align: center;
        border: .2rem dotted #ccc;
        p {
            margin: 0;
        }
        input {
            width: 0;
            height: 0;
            overflow: hidden;
        }
        &:hover {
            background-color: rgba($color: #ccc, $alpha: .4);
        }
    }
    .tab-bar {
        margin: -.8rem -.8rem .8rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        .item {
            &:first-of-type {
                border-bottom-left-radius: 0;
            }
            &:last-of-type {
                border-bottom-right-radius: 0;
            }
        }
    }
    &.modal-visible {
        display: block;
    }
}
