@use '../../theme/theme';
@use '../../../bootstrap/mixins';
.editor-panel {
    flex-shrink: 0;
    overflow-y: auto;
    position: relative;
    top: 0;
    bottom: 0;
    width: 20rem;
    background-color: var(--#{theme.$prefix}tool);
    color: var(--#{theme.$prefix}tool-text);
    border-left: 1px solid var(--#{theme.$prefix}editor-border);
    .panel-header {
        position: sticky;
        border-bottom: 1px solid var(--#{theme.$prefix}editor-border);
        line-height: 3rem;
        top: 0;
        background-color: var(--#{theme.$prefix}tool);
        z-index: 2;
    }
    .panel-tab-bar {
        .item {
            display: inline-block;
            padding: 0 1rem;
            position: relative;
            user-select: none;
        }
        .active {
            &::after {
                content: '';
                display: block;
                bottom: 0;
                position: absolute;
                height: 3px;
                left: 0;
                right: 0;
                background-color: var(--#{theme.$prefix}primary);
            }
        }
    }
    .search-input {
        margin: .8rem .8rem 0;
        position: relative;
        line-height: 3rem;
        input {
            height: 3rem;
            width: 100%;
            padding: .8rem 2rem .8rem .8rem;
        }
        .iconfont {
            position: absolute;
            right: .8rem;
            top: 0;
        }
    }
    .panel-search-bar {
        position: sticky;
        border-bottom: 1px solid var(--#{theme.$prefix}editor-border);
        top: 0;
        background-color: var(--#{theme.$prefix}tool);
        z-index: 2;
        .panel-tab-bar {
            line-height: 2.5rem;
            display: flex;
            .item {
                flex: 1;
                text-align: center;
            }
        }
    }
    .group-header {
        padding: 1rem;
    }
    .group-body {
        padding: 0 1rem;
    }
    .icon-option-item {
        display: inline-flex;
        flex-direction: column;
        width: 33.3%;
        align-items: center;
        border-radius: .25rem;
        padding: .8rem;
        user-select: none;
        .item-icon {
            margin-bottom: .8rem;
        }
        .item-name {
            word-break: keep-all;
            text-wrap: nowrap;
        }
        &:hover {
            background-color: #ccc;
        }
    }
    .line-option-item {
        display: flex;
        justify-content: space-between;
        padding: .8rem;
        &:hover {
            color: var(--#{theme.$prefix}primary);
        }
    }
    .panel-action-btn {
        position: absolute;
        top: 0;
        right: 1rem;
    }
    .list-row-item {
        margin-bottom: .8rem;
        display: flex;
        .item-label {
            display: inline-block;
            font-weight: 100;
            width: 7rem;
            text-align: right;
            margin-right: .4rem;
        }
    }
    .input-group-control {
        >label {
            margin-bottom: .4rem;
            font-size: .8rem;
        }
    }
    ::ng-deep {
        .file-input {
            --#{theme.$prefix}control-width: 100%;
            display: flex;
        }
    }
    .expand-card {
        .card-header {
            position: relative;
            padding: .8rem;
            font-weight: bold;
            display: flex;
            align-items: center;
            min-height: 3rem;
            @include mixins.caret();
            &:hover {
                background-color: var(--#{theme.$prefix}editor);
            }
        }
        .card-body {
            display: none;
            padding: 0 1rem;
        }
        &.open {
            .card-header {
                &::after {
                    transform: rotate(180deg);
                }
            }
            .card-body {
                display: block;
            }
        }
        &:not(:last-of-type) {
            border-bottom: 1px solid var(--#{theme.$prefix}editor-border);
        }
    }
    &.scroll-body {
        overflow: unset;
        .panel-body {
            overflow-y: auto;
        }
    }
}

.editor-panel-popup {
    position: absolute;
    border-right: 1px solid var(--#{theme.$prefix}editor-border);
    background-color: var(--#{theme.$prefix}editor);
    top: 0;
    left: 100%;
    bottom: 0;
    width: 16rem;
    z-index: 9;
    padding: .8rem;
    overflow-y: auto;
    .search-input {
        margin: 0 0 0.8rem;
    }
    .image-option-item {
        height: 7.5rem;
        margin-bottom: .8rem;
        border-radius: .25rem;
        box-sizing: border-box;
        border: 2px solid transparent;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: .25rem;
        }
        &:hover {
            border: 2px solid var(--#{theme.$prefix}primary);
        }
    }
}