<div class="editor-box">
    <div class="editor-tool-bar">
        <div class="tool-bar-top">
            <div class="tool-left">
                <ng-container *ngFor="let item of topLeftItems">
                    <div class="tool-item" [ngClass]="{active: item.actived, disabled: item.disabled}" (click)="tapTool(item)" [title]="item.label">
                        <i class="iconfont" [ngClass]="item.icon"></i>
                    </div>
                </ng-container>
            </div>
            <div class="tool-right">
                <ng-container *ngFor="let item of topRightItems">
                    <div class="tool-item" [ngClass]="{active: item.actived, disabled: item.disabled}" (click)="tapTool(item, true)" [title]="item.label">
                        <i class="iconfont" [ngClass]="item.icon"></i>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="tool-bar-bottom" [ngClass]="{'tool-align-right': subIsRight}" *ngIf="subItems && subItems.length > 0">
            <ng-container *ngFor="let item of subItems">
                <div class="tool-item" [ngClass]="{active: item.actived, disabled: item.disabled}" (click)="tapTool(item)" [title]="item.label">
                    <i class="iconfont" [ngClass]="item.icon"></i>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="editor-area" [hidden]="isCodeMode" [ngStyle]="areaStyle">
        <div #EditorView class="editor-view" [contentEditable]="!disabled" spellcheck="false"></div>
        <div class="flow-tool-bar" *ngIf="flowItems.length > 0" [ngClass]="{'flow-tool-one': flowItems.length == 1}" [ngStyle]="flowStyle">
            <ng-container *ngFor="let item of flowItems">
                <div class="tool-item" [ngClass]="{active: item.actived, disabled: item.disabled}" (click)="tapFlowTool(item)" [title]="item.label">
                    <i class="iconfont" [ngClass]="item.icon"></i>
                </div>
            </ng-container>
        </div>
        <app-editor-resizer></app-editor-resizer>
        <ng-container #modalVC></ng-container>
    </div>
    <app-code-editor [hidden]="!isCodeMode"></app-code-editor>
    <div class="editor-footer" i18n>{{ 0 }} words</div>
</div>

