@import "editor";

.editor-box {
    position: relative;
    .tool-bar-top {
        display: flex;
        justify-content: space-between;
    }
    .tool-bar-bottom {
        background-color: #f4f4f4;
        margin: 0 -.8rem;
        padding: 0 .8rem;
    }
    .tool-align-right {
        text-align: right;
    }
    .editor-view {
        padding: .8rem;
        min-height: 8rem;
        &:focus {
            outline: 0 solid transparent;
        }
    }
}
.flow-tool-bar {
    position: absolute;
    z-index: 100;
    line-height: 2.5rem;
    background-color: #f4f4f4;
    box-shadow: 0 0 .2rem 0.2rem #ccc;
    border-radius: .25rem;
    &.flow-tool-one {
        border-radius: 50%;
        padding: 0;
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
    }
}

.editor-box ::ng-deep {
    .editor-modal-box {
        position: absolute;
        padding: .8rem;
        z-index: 101;
        left: 0;
        top: 0;
        width: 20rem;
        min-height: 6rem;
        background-color: #f4f4f4;
        box-shadow: 0 0 .2rem 0.2rem #ccc;
        border-radius: .25rem;
    }
    .input-header-block {
        position: relative;
        margin-bottom: .8rem;
        input,
        textarea {
            width: 100%;
            padding: .2rem .8rem;
            background-color: transparent;
            border-radius: .25rem;
            border-color: #ccc;
            &:focus {
                border-color: #333;
                & + label {
                    font-size: .8rem;
                    top: -.5rem;
                }
            }
        }
        input {
            height: 2.5rem;
            border-width: 1px;
            border-style: solid;
        }
        label {
            display: block;
            padding: 0 .4rem;
            background-color: #f4f4f4;
            position: absolute;
            left: .8rem;
            top: .6rem;
            font-size: 1rem;
            transition: all .5s;
            user-select: none;
        }
        &.input-not-empty {
            label {
                font-size: .8rem;
                top: -.5rem;
            }
        }
    }
    .input-flex-line {
        margin-bottom: .8rem;
        user-select: none;
    }
    .modal-action {
        text-align: right;
    }
    .drag-input {
        display: block;
        user-select: none;
        border-radius: .25rem;
        padding: 2rem 0 1rem;
        text-align: center;
        border: .2rem dotted #ccc;
        p {
            margin: 0;
        }
        input {
            width: 0;
            height: 0;
            overflow: hidden;
        }
        &:hover {
            background-color: rgba($color: #ccc, $alpha: .4);
        }
    }
    .tab-bar {
        margin: -.8rem -.8rem .8rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        .item {
            &:first-of-type {
                border-bottom-left-radius: 0;
            }
            &:last-of-type {
                border-bottom-right-radius: 0;
            }
        }
    }
}

