<div class="container">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/" class="iconfont icon-home"></a>
        </li><li class="breadcrumb-item active">
            题库首页
        </li>
    </ul>
  </div>
  
  <div class="container">
    <div class="exam-group" *ngFor="let group of items">
        <div class="group-header">
            <a routerLink="{{ group.id }}">{{ group.name }}</a>
        </div>
        <div class="group-body">
            <ng-container *ngFor="let item of group.children">
              <div class="course-item">
                  <div class="thumb">
                      <img [src]="item.thumb" alt="">
                  </div>
                  <div class="info">
                      <div class="name">
                          <a routerLink="{{ item.id }}">{{ item.name }}</a>
                      </div>
                  </div>
              </div>
            </ng-container>
        </div>
    </div>
  </div>