@use '../../../dialog';
.dialog-box {
    @include dialog.dialogSet(20rem);
    .dialog-header {
        display: flex;
        justify-content: space-between;
        padding: 0;
        line-height: 2.5rem;
        span {
            padding-left: .8rem;
        }
    }
    .dialog-action {
        width: 2.5rem;
        .iconfont {
            position: relative;
            display: inline;
        }
    }
    .dialog-body {
        text-align: center;
        img {
            width: 16rem;
            height: 16rem;
        }
    }
}