<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>服务</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">名称</label>
                    <input type="text" class="form-control" id="keywords" [formField]="queries.keywords"
                        placeholder="名称">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
        <table class="table table-bordered well">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>分类</th>
                    <th>服务商</th>
                    <th>价格</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.category?.name }}</td>
                    <td>{{ item.user.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.status }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-light btn-xs" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [formField]="queries.page" [perPage]="queries.per_page().value()" 
            (valueChange)="goPage($event)" />
    </div>
</div>

<app-dialog-box #modal [buttonVisible]="false" [title]="'服务详情(' + dataModel().id + ')'">
    <div class="line-row-item">
        <span class="item-label">服务名：</span>
        <span class="item-body">{{ dataModel().name }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">图片：</span>
        <span class="item-body">
            <img [src]="dataModel().thumb">
        </span>
    </div>
    <div class="line-row-item">
        <span class="item-label">价格：</span>
        <span class="item-body">{{ dataModel().price }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">描述：</span>
        <span class="item-body">{{ dataModel().brief }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">详情：</span>
        <span class="item-body">{{ dataModel().content }}</span>
    </div>
    <ng-container name="footer">
        <button type="button" class="btn btn-primary" (click)="modal.close(1)">同意</button>
        <button type="button" class="btn btn-info" (click)="modal.close(2)">拒绝</button>
    </ng-container>
</app-dialog-box>