@if (visible) {
<div class="dialog-box">
    <div class="dialog-header" [hidden]="isEditting">
        <span>查看图片[{{ formatIndex }}]</span>
        <div class="dialog-action-bar">
            <div class="action-item" title="查看上一张" (click)="tapPrevious()">
                <i class="iconfont icon-chevron-left"></i>
            </div>
            <div class="action-item" title="查看下一张" (click)="tapNext()">
                <i class="iconfont icon-chevron-right"></i>
            </div>
            <div class="action-hr"></div>
            <div class="action-item" title="关闭" (click)="close()">
                <i class="iconfont icon-close"></i>
            </div>
        </div>
    </div>
    <div class="dialog-header" [hidden]="!isEditting">
        <div class="dialog-action-bar left-tool-bar">
            @for (item of toolItems; track $index) {
                @if (item) {
                <div class="action-item" [title]="item.label" (click)="tapTool(item)">
                    <i class="iconfont" [ngClass]="item.icon"></i>
                </div>
                } @else {
                    <div class="action-hr"></div>
                }
            }
        </div>
        <div class="dialog-action-bar">
            <div class="action-item disabled" title="回滚">
                <i class="iconfont icon-undo"></i>
            </div>
            <div class="action-item disabled" title="复位">
                <i class="iconfont icon-redo"></i>
            </div>
            <div class="action-hr"></div>
            <div class="action-item" title="应用当前图片修改" (click)="tapSave()">
                <i class="iconfont icon-floppy-o"></i>
            </div>
            <div class="action-hr"></div>
            <div class="action-item" title="关闭" (click)="close()">
                <i class="iconfont icon-close"></i>
            </div>
        </div>
    </div>
    <div class="dialog-body">
        <div class="image-preview-panel">
            <div class="panel-body">
                <div class="image-container" #imageBox></div>
            </div>
        </div>
        @if (data) {
        <div class="attachment-property-panel">
            <div class="line-row-item">
                <label for="" class="item-label">上传日期：</label>
                <span class="item-body">{{ data.created_at | timestamp }}</span>
            </div>
            <div class="line-row-item">
                <label for="" class="item-label">上传者：</label>
                <span class="item-body"></span>
            </div>
            <div class="line-row-item">
                <label for="" class="item-label">文件名：</label>
                <span class="item-body">{{ data.name }}</span>
            </div>
            <div class="line-row-item">
                <label for="" class="item-label">文件类型：</label>
                <span class="item-body">image/{{ data.extension }}</span>
            </div>
            <div class="line-row-item">
                <label for="" class="item-label">文件大小：</label>
                <span class="item-body">{{ data.size | size }}</span>
            </div>
            <div class="line-row-item">
                <label for="" class="item-label">尺寸：</label>
                <span class="item-body">{{ formatSize }}</span>
            </div>

            @if (!isEditting) {
            <hr>
            <div class="form-table-control">
                <div class="input-group-control">
                    <label for="">标题</label>
                    <div>
                        <input type="text" class="form-control" [field]="data.name">
                    </div>
                </div>
                <div class="input-group-control">
                    <label for="">描述</label>
                    <div>
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
             
                <div class="input-group-control">
                    <label for="">文件网址</label>
                    <div>
                        <input type="text" class="form-control" readonly>
                        <a href="" class="btn btn-outline-primary">复制URL</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="inline-action-bar">
                <a href="">查看附件页面</a>
                <a (click)="tapEnterEdit()">编辑图像</a>
                <a href="">下载文件</a>
                <a href="" class="text-danger">永久删除</a>
            </div>
            }
            
        </div>
        }
        
    </div>
</div>
}
