.option-item {
    display: flex;
    background-color: orange;
    cursor: pointer;
    position: relative;
    .item-action {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 .2em;
        .iconfont {
            display: block;
            border-radius: 50%;
            font-size: 2em;
            width: 2em;
            height: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .item-body {
        flex: 1;
        padding: 1.3em .2em;
        textarea {
            background-color: transparent;
            width: 100%;
            min-width: auto;
            border: none;
            outline: none;
            color: inherit;
            resize: none;
            height: 4em;
            padding: 1em 0;
            border-radius: 0;
        }
    }
    .item-text {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .item-image {
        height: 100%;
        img {
            max-height: 4em;
            max-width: 100%;
        }
    }
    .icon-close {
        opacity: .5;
    }
    .flex-icon {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        z-index: 99;
    }
    &.option-edit {
        .item-body {
            padding: 0;
        }
    }
    &:hover {
        .item-action {
            .iconfont {
                background-color: rgba($color: #000, $alpha: .1);
            }
        } 
    }
    &:nth-of-type(4n+3) {
        background-color: yellow;
    }
    &:nth-of-type(4n+2) {
        background-color: green;
        color: #fff;
    }
    &:nth-of-type(4n+1) {
        background-color: red;
        color: #fff;
    }     
}

.add-btn {
    display: inline-flex;
    width: 3em;
    height: 3em;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    input[type='file'] {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

.empty-option {
    text-align: center;
    padding: .4em;
}

.panel-tool-bar {
    position: absolute;
    right: -1em;
    top: 0;
    width: 2em;
    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .tool-item {
        display: flex;
        margin-bottom: .4rem;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: .3rem;
        font-size: .8rem;
        &.active {
            box-shadow: inset 1px 0 2px #ccc;
        }
    }
    .tool-drop-item {
        display: block;
        margin-bottom: .4rem;
    }
    .drop-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: .3rem;
    }
    .form-control {
        width: 2rem;
        height: 2rem;
        font-size: .8rem;
        text-align: center;
        color: white;
        border-radius: .3rem;
        padding: 0;
    }
    .drop-body {
        position: absolute;
        width: 6rem;
        left: -6em;
        // top: 0;
        background-color: white;
        z-index: 910;
        box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
        user-select: none;
        li {
            line-height: 2rem;
            text-align: center;
            cursor: pointer;
            &:hover {
                background-color: #eee;
            }
            &.active {
                background-color: #ccc;
            }
        }
    }
}

@media (min-width: 769px) {
    .option-item {
        display: inline-flex;
        width: 50%;
    }
    .empty-option {
        display: inline-block;
        width: 50%;
    }
}