<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>平台活动列表</li>
        </ul>
    </app-page-tip>
    <div class="panel">
        <div class="header">
            平台活动
        </div>
        <div class="body">
            <a class="column-item" routerLink="group-buy">
                <div class="icon">
                    <div class="iconfont icon-folder-o"></div>
                </div>
                <div class="content">
                    <h3>批发管理</h3>
                    <p>添加批发管理</p>
                </div>
            </a>
            <a class="column-item" routerLink="bargain">
                <div class="icon">
                    <div class="iconfont icon-folder-o"></div>
                </div>
                <div class="content">
                    <h3>砍价</h3>
                    <p>邀请好友进行砍价</p>
                </div>
            </a>
            <a class="column-item" routerLink="lottery">
                <div class="icon">
                    <div class="iconfont icon-folder-o"></div>
                </div>
                <div class="content">
                    <h3>抽奖</h3>
                    <p>轮盘抽奖</p>
                </div>
            </a>
            <a class="column-item" routerLink="free-trial">
                <div class="icon">
                    <div class="iconfont icon-folder-o"></div>
                </div>
                <div class="content">
                    <h3>试用</h3>
                    <p>添加免费试用商品</p>
                </div>
            </a>
        </div>
    </div>

    <div class="panel">
        <div class="header">
            交易玩法
        </div>
        <div class="body">
            <a class="column-item" routerLink="auction">
                <div class="icon">
                    <div class="iconfont icon-folder-o"></div>
                </div>
                <div class="content">
                    <h3>拍卖</h3>
                    <p>设置拍卖活动</p>
                </div>
            </a>
            <a class="column-item" routerLink="discount">
                <div class="icon">
                    <div class="iconfont icon-folder-o"></div>
                </div>
                <div class="content">
                    <h3>满减/满送</h3>
                    <p>满足指定条件优惠</p>
                </div>
            </a>
            <a class="column-item" routerLink="group-buy">
                <div class="icon">
                    <div class="iconfont icon-folder-o"></div>
                </div>
                <div class="content">
                    <h3>团购</h3>
                    <p>设置团购活动</p>
                </div>
            </a>
            <a class="column-item" routerLink="mix">
                <div class="icon">
                    <div class="iconfont icon-folder-o"></div>
                </div>
                <div class="content">
                    <h3>超值礼包</h3>
                    <p>多种组合优惠</p>
                </div>
            </a>
            <a class="column-item" routerLink="seckill">
                <div class="icon">
                    <div class="iconfont icon-folder-o"></div>
                </div>
                <div class="content">
                    <h3>秒杀</h3>
                    <p>设置拍卖活动</p>
                </div>
            </a>
            <a class="column-item" routerLink="cash-back">
                <div class="icon">
                    <div class="iconfont icon-folder-o"></div>
                </div>
                <div class="content">
                    <h3>返现</h3>
                    <p>达到指定额度直接返还现金</p>
                </div>
            </a>
            <a class="column-item" routerLink="presale">
                <div class="icon">
                    <div class="iconfont icon-folder-o"></div>
                </div>
                <div class="content">
                    <h3>预售</h3>
                    <p>设置团购活动</p>
                </div>
            </a>
        </div>
    </div>

    <div class="panel">
        <div class="header">
            红包卡券
        </div>
        <div class="body">
            <a class="column-item" routerLink="bonus">
                <div class="icon">
                    <div class="iconfont icon-folder-o"></div>
                </div>
                <div class="content">
                    <h3>红包</h3>
                    <p>添加发放红包类型</p>
                </div>
            </a>
            <a class="column-item" routerLink="coupon">
                <div class="icon">
                    <div class="iconfont icon-folder-o"></div>
                </div>
                <div class="content">
                    <h3>优惠券</h3>
                    <p>优惠券的领取和发放</p>
                </div>
            </a>
            <a class="column-item" routerLink="card">
                <div class="icon">
                    <div class="iconfont icon-folder-o"></div>
                </div>
                <div class="content">
                    <h3>储值卡</h3>
                    <p>通过预储值方式</p>
                </div>
            </a>
        </div>
    </div>
</div>