<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>管理地图列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group">
                    <label for="keywords">名称</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords"
                        placeholder="关键字">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a class="btn btn-primary" (click)="open(modal)">新增地图</a>
                </div>
            </form>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>是否是新手村</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-success" [routerLink]="[item.id, 'item']">物品</a>
                            <a class="btn btn-primary" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination  [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
</div>

<app-dialog-box #modal [title]="editData.id ? '编辑' : '新建'">
    <div class="form-group">
        <label for="name-input">地图名</label>
        <div class="input-group">
            <input class="form-control" id="name-input" [(ngModel)]="editData.name" placeholder="请输入地图名">
        </div>
    </div>
    <div class="form-group">
        <label for="">介绍</label>
        <div class="input-group">
            <textarea class="form-control" [(ngModel)]="editData.description" placeholder="请输入地图介绍">></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="">归属地区</label>
        <div class="input-group">
            <app-multi-select-input></app-multi-select-input>
        </div>
    </div>
    <div class="form-group">
        <label for="">连接</label>
        <div class="link-area-bar">
            <div class="link-item">
                <label for="">东</label>
                <app-multi-select-input></app-multi-select-input>
            </div>
            <div class="link-item">
                <label for="">西</label>
                <app-multi-select-input></app-multi-select-input>
            </div>
            <div class="link-item">
                <label for="">南</label>
                <app-multi-select-input></app-multi-select-input>
            </div>
            <div class="link-item">
                <label for="">北</label>
                <app-multi-select-input></app-multi-select-input>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="">新手村</label>
        <div class="input-group">
            <app-switch></app-switch>
        </div>
    </div>
</app-dialog-box>