.map-editor {
    position: relative;
    height: 100vh;
    overflow: auto;
}

.map-panel {
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    width: 20rem;
    .panel-header {
        display: flex;
        justify-content: space-between;
        line-height: 3rem;
        user-select: none;
        padding: 0 .8rem;
    }
    .child-item {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #ccc;
        line-height: 2rem;
        padding: 0 .8rem;
        user-select: none;
    }
    .add-child-item {
        border-top: 1px solid #ccc;
        line-height: 2rem;
        text-align: center;
        &:hover {
            background-color: #ccc;
        }
    }
    .panel-output {
        span {
            display: block;
            position: absolute;
            width: .8rem;
            height: .8rem;
            margin-top: -.4rem;
            margin-left: -.4rem;
            border-radius: 50%;
            background-color: green;
            z-index: 9;
            &:first-of-type {
                left: 50%;
                top: 0;
            }
            &:nth-of-type(2) {
                left: 100%;
                top: 50%;
            }
            &:nth-of-type(3) {
                top: 100%;
                left: 50%;
            }
            &:last-of-type {
                left: 0;
                top: 50%;
            }
            &.active {
                background-color: red;
            }
        }
    }
    &.min {
        .panle-body {
            display: none;
        }
    }
}