@if (visible()) {
<div class="dialog-mask" animate.enter="dialog-mask-opened" (click)="close()"></div>
<div class="dialog-box" [class]="{'dialog-not-header': !title() && !customHeader()}" animate.enter="dialog-opened" animate.leave="dialog-closed" [style]="boxStyle()">
    @if (title() || customHeader()) {
    <div class="dialog-header">
        <div class="dialog-title">{{ title() }}</div>
        <i class="iconfont icon-close dialog-close" (click)="close(false)"></i>
        @if (buttonVisible()) {
            <div class="btn btn-primary tablet-visible" (click)="close(true)">{{ confirmText() }}</div>
        }
        <ng-content select="[name=header]" />
    </div>
    }
    
    <div class="dialog-body" [class]="{scrollable: scrollable()}">
        <ng-content />
        @if (invalidTip()) {
        <div class="dialog-invail-tip">
            {{ invalidTip() }}
        </div>
        }
        
    </div>
    @if (footerVisible()) {
    <div class="dialog-footer tablet-collapse">
        <div class="btn-group">
            @if (buttonVisible()) {
                <div class="btn btn-primary" (click)="close(true)">{{ confirmText() }}</div>
                <div class="btn btn-danger" (click)="close(false)">{{ cancelText() }}</div>
            }
            <ng-content select="[name=footer]" />
        </div>
    </div>
    }
    
</div>
}
