<div class="action-btn" [class]="{disabled: disabled, loading: isLoading}">
    @if (value()) {
        <div class="action-body">
            <img [src]="formatAsset(value())" alt="">
            <div class="btn-group">
                <label [for]="fileName" class="btn btn-info" i18n>
                    Change
                </label>
                <span class="btn btn-danger" (click)="tapRemove()" i18n>Remove</span>
            </div>
        </div>
    } @else {
        <label [for]="fileName" class="action-body">
            {{ placeholder() }}
        </label>
    }
    
    
    <div class="action-loading">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <input type="file" name="file" [id]="fileName" (change)="uploadFile($event)" accept="image/*" [disabled]="disabled || isLoading"/>
</div>