<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>这是所有的授权列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">应用</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="搜索应用">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a class="btn btn-danger" (click)="tapClear()">清除所有</a>
                    <a class="btn btn-primary" (click)="open(modal)">生成</a>
                </div>
            </form>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>应用名</th>
                <th>Token</th>
                <th>状态</th>
                <th>过期时间</th>
                <th>授权时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.platform.name }}</td>
                    <td>{{ item.token }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.expired_at }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        
        </table>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />    
    </div>
</div>

<app-dialog-box #modal [scrollable]="false" title="生成一条token">
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="">应用</label>
            <div>
                <ng-select [field]="editForm.platform_id" [items]="platformItems()" bindValue="id" bindLabel="name" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="">过期时间</label>
            <div>
                <app-date-input [field]="editForm.expired_at" />
            </div>
        </div>
    </div>
</app-dialog-box>