#editor-container {
    width: 100%;
    min-height: 300px;
    resize: vertical;
}

.title-input {
    .form-control {
        margin-left: 1rem;
        width: 80%;
        display: inline-block;
    }
}