#editor-container {
    width: 100%;
    min-height: 300px;
    resize: vertical;
}

.title-input {
    .form-control {
        margin-left: 1rem;
        width: 80%;
        display: inline-block;
    }
}

.language-toggle {
    display: inline-block;
    margin-right: 20px;
    border: 1px solid #05a6b1;
    border-bottom: none;
    line-height: 2rem;
    a {
        display: inline-block;
        background-color: #05a6b1;
        color: #fff;
        margin: 0;
        width: 40px;
        text-align: center;
        text-decoration: none;
        cursor: default;
        &.active {
            background-color: #fff;
            color: #333;
            cursor: not-allowed;
        }
    }
}