<div class="search-box has-search-icon">
    <form class="search-input" (submit)="tapConfirm()">
        <div class="search-icon" [title]="currentEngine.name" (click)="toggleEngine()">
            <i class="iconfont" [ngClass]="currentEngine.icon"></i>
        </div>
        <input type="text" name="keywords" [value]="value()" (input)="value.set($event.target.value)" 
        [placeholder]="placeholder()" (ngModelChange)="onSuggestChange()" 
        autocomplete="off" (keydown)="suggestKeyPress($event)" 
        (focus)="onFocus()" (blur)="onBlur()">
        <div class="clear-btn" [hidden]="value().length < 1" (click)="tapClear()">
            <i class="iconfont icon-close"></i>
        </div>
        <button class="search-btn">
            <i class="iconfont icon-search"></i>
        </button>
    </form>
    @if (openType == 1) {
    <div class="suggest-body">
        <ul>
            @for (item of suggestItems; track $index; let i = $index) {
            <li [ngClass]="{'active': i == dropIndex}" (click)="tapItem(item)">
                <span class="item-no">{{ i + 1 }}</span>
                <span class="item-text">{{ formatTitle(item) }}</span>
            </li>
            }
        </ul>
    </div>
    } @else if (openType == 2) {
    <div class="history-body">
        <ul>
            @for (item of histories; track $index; let i = $index) {
            <li [ngClass]="{'active': i == dropIndex}" (click)="tapHistory(item)">
                <i class="iconfont icon-history"></i>
                <span class="item-text">{{ item }}</span>
                <i class="iconfont icon-close" (click)="tapRemoveHistory(i, $event)"></i>
            </li>
            }
            <li class="clear-line" (click)="tapClearHistory()" i18n>Clear</li>
        </ul>
    </div>
    }
    <div class="search-engine" [hidden]="openType != 3">
        <div class="search-engine-header">
            <span class="title" i18n>Select your default search engine:</span>
            <div class="search-engine-tool">
                <ng-container i18n>Search suggest:</ng-container>
                <app-switch [(value)]="suggestable" />
            </div>
        </div>
        <ul class="search-engine-body">
            @for (item of engineItems; track $index; let i = $index) {
            <li (click)="tapEngine(i)">
                <i class="iconfont" [ngClass]="item.icon"></i>
                <span>{{ item.name }}</span>
            </li>
            }
        </ul>
    </div>
</div>