<form class="form-ico login-form" action="http://zodream.localhost/auth/password/send" method="POST">
  <div class="input-group">
      <input type="email" name="email" placeholder="请输入邮箱" required="">
      <i class="iconfont icon-at" aria-hidden="true"></i>
  </div>
  <div class="input-group">
    <input type="text" name="code" placeholder="请输入安全代码" required="">
    <i class="iconfont icon-shield" aria-hidden="true"></i>
  </div>
  <div class="input-group">
      <input type="password" placeholder="请输入密码" name="password" required>
      <i class="iconfont icon-lock" aria-hidden="true"></i>
  </div>
  <div class="input-group">
      <input type="password" placeholder="请确认密码" name="rePassword" required>
      <i class="iconfont icon-check" aria-hidden="true"></i>
  </div>

  <button type="submit" class="btn btn-full">发送验证邮件</button>
  <div class="other-box">
      <a routerLink="../">返回登录</a>
  </div>
</form>