<div class="search-box">
    <div class="search-input">
        <span class="search-icon icon-baidu"></span>
        <input type="text" placeholder="请输入关键字，按回车 / Enter 搜索">
        <button class="search-btn">
            <i class="fa fa-search"></i>
        </button>
    </div>
    <div class="search-tips" style="display: none;">
        <ul>
            <li><span>1</span> taro是什么意思中文翻译</li>
            <li><span>2</span> taro框架官网</li>
            <li><span>3</span> taro摩托车</li>
            <li><span>4</span> taro怎么读</li>
            <li><span>5</span> taro框架</li>
            <li><span>6</span> taro washimi</li>
            <li><span>7</span> tarot</li>
            <li><span>8</span> taro镜片</li>
            <li><span>9</span> tarot是什么意思啊</li>
            <li><span>10</span> taro摩托车是什么牌子</li>
        </ul>
    </div>
    <div class="search-engine" style="display: none;">
        <div class="search-engine-header">
            <span class="title">选择您的默认搜索引擎：</span>
            <div class="search-engine-tool">
                搜索热词：
                <span class="toggle-box checked"></span>
            </div>
        </div>
        <ul class="search-engine-body">
            <li><span class="icon-baidu"></span>百度</li>
            <li><span class="icon-bing"></span>Bing</li>
            <li><span class="icon-google"></span>Google</li>
            <li><span class="icon-duckduckgo"></span>DuckDuckGo</li>
            <li><span class="icon-github"></span>Github</li>
            <li><span class="icon-bilibili"></span>哔哩哔哩</li>
            <li><span class="icon-taobao"></span>淘宝</li>
            <li><span class="icon-jd"></span>京东</li>
        </ul>
    </div>
</div>