<div class="container-fluid">
    <app-page-tip>
        <ul>
            @if (siteId < 1) {
            <li>管理模型列表</li>
            }
            @if (siteId > 0) {
            <li>表单列表</li>
            }
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                @if (siteId < 1) {
                <a class="btn btn-success pull-right" routerLink="create">新增模型</a>
                }
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>表名</th>
                    <th>类型</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.table }}</td>
                    <td>{{ typeItems[item.type] }}</td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            @if (siteId > 0) {
                                @if (item.type > 0) {
                                <a class="btn btn-primary btn-xs" [routerLink]="[item.id]">查看</a>
                                }
                                <a class="btn btn-success" (click)="tapRestart(item)">初始化</a>
                            } @else {
                                <a class="btn btn-info btn-xs" [routerLink]="['field', item.id]">字段</a>
                                <a class="btn btn-light btn-xs" [routerLink]="['edit', item.id]">编辑</a>
                                <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                            }
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
    </div>
</div>
