<div class="container">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/" class="iconfont icon-home"></a>
        </li><li class="breadcrumb-item active" i18n>
            Home
        </li>
    </ul>
</div>

<div class="container">
    <div class="catalog-panel" *ngFor="let group of items" [ngClass]="{min: group.min}">
        <div class="panel-header">
            <a routerLink="{{ group.id }}">{{ group.name }}</a>
            <div class="pull-right">
                <app-switch [(ngModel)]="group.min"></app-switch>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <ng-container *ngFor="let item of group.children">
                    <div class="col-md-4 col-sm-6">
                        <div class="catalog-item">
                            <div class="cover">
                                <img [src]="item.thumb" alt="">
                            </div>
                            <div class="item-body">
                                <div class="name">
                                    <a routerLink="{{ item.id }}">{{ item.name }}</a>
                                    <ng-container *ngIf="item.today_count > 0">
                                        ({{ item.today_count | numberFormat }})
                                    </ng-container>
                                </div>
                                <div class="meta">
                                    <div class="count" i18n>Threads:{{ item.thread_count | numberFormat }}, Posts:{{ item.post_count | numberFormat }}</div>
                                </div>
                                <div class="last-thread" *ngIf="item.last_thread">
                                    <a [routerLink]="['thread', item.last_thread.id]">{{ item.last_thread.title }}</a>
                                    {{ item.last_thread.created_at | ago }} {{ item.last_thread.user.name }} 
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
</div>