<div class="container tablet-collapse">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/" class="iconfont icon-home"></a>
        </li><li class="breadcrumb-item active" i18n>
            Home
        </li>
    </ul>
</div>

<div class="container">
    @for (group of items; track $index) {
    <div class="catalog-panel" [class]="{min: group.min}">
        <div class="panel-header">
            <a routerLink="{{ group.id }}">{{ group.name }}</a>
            <div class="pull-right">
                <app-switch [field]="group.min" />
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                @for (item of group.children; track $index) {
                    <div class="col-md-4 col-sm-12">
                        <div class="catalog-item">
                            <div class="cover">
                                <img [src]="item.thumb" alt="">
                            </div>
                            <div class="item-body">
                                <div class="name">
                                    <a routerLink="{{ item.id }}">{{ item.name }}</a>
                                    @if (item.today_count > 0) {
                                        ({{ item.today_count | numberFormat }})
                                    }
                                </div>
                                <div class="meta">
                                    <div class="count" i18n>Threads:{{ item.thread_count | numberFormat }}, Posts:{{ item.post_count | numberFormat }}</div>
                                </div>
                                @if (item.last_thread) {
                                <div class="last-thread">
                                    <a [routerLink]="['thread', item.last_thread.id]">{{ item.last_thread.title }}</a>
                                    {{ item.last_thread.created_at | ago }} {{ item.last_thread.user.name }} 
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    }
    

    <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
</div>