<div class="page-search-bar">
    <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
        <div class="zre-input-group">
            <label for="keywords">IP</label>
            <input type="text" class="form-control" name="keywords" id="keywords" placeholder="搜索IP" [ngModel]="queries.keywords">
        </div>
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>登录账户</th>
            <th>登录IP</th>
            <th>登录状态</th>
            <th>登录方式</th>
            <th>登录时间</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{ item.id }}</td>
            <td>{{ item.user }}</td>
            <td>{{ item.ip }}</td>
            <td>{{ item.status ? '√' : 'X' }}</td>
            <td>{{ item.mode }}</td>
            <td>{{ item.created_at }}</td>
        </tr>
    </tbody>

</table>

<app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
<app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>  