<app-edit-header [title]="data && data.id > 0 ? '编辑分类' : '新增分类'" (submited)="tapSubmit()" [disabled]="form.invalid"></app-edit-header>

<div class="container-fluid">
    <form class="form-table" [formGroup]="form" (ngSubmit)="tapSubmit()">
        <div class="row">
            <div class="col-md-6">
                <div class="panel-container">
                    <div class="zre-input-group">
                        <label for="name">分类</label>
                        <div>
                            <input type="text" id="name" class="form-control" formControlName="name">
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="keywords">关键字</label>
                        <div>
                            <input type="text" id="keywords" class="form-control" formControlName="keywords">
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="description">说明</label>
                        <div>
                            <textarea id="description" class="form-control" formControlName="description"></textarea>
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="thumb">图片</label>
                        <div>
                            <app-file-input formControlName="thumb"></app-file-input>
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="styles">样式</label>
                        <div>
                            <select id="styles" class="form-control" formControlName="styles">
                                <option value="">无</option>
                                <option value="daily">日记</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <app-panel title="本地化">
                    <div class="zre-input-group">
                        <label for="en_name">名称(EN)</label>
                        <div>
                            <input type="text" id="en_name" class="form-control" formControlName="en_name">
                        </div>
                    </div>
                </app-panel>
            </div>
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-success">确认保存</button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>