<app-edit-header [title]="dataModel().id > 0 ? '编辑分类' : '新增分类'" (submited)="tapSubmit($event)" [disabled]="dataForm().invalid()" />

<div class="container-fluid">
    <form class="form-table-control" (submit)="tapSubmit2($event)">
        <div class="row">
            <div class="col-md-6">
                <div class="panel-container">
                    <div class="input-group-control">
                        <label for="name">分类</label>
                        <div>
                            <input type="text" id="name" class="form-control" [field]="dataForm.name">
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="keywords">关键字</label>
                        <div>
                            <input type="text" id="keywords" class="form-control" [field]="dataForm.keywords">
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="description">说明</label>
                        <div>
                            <textarea id="description" class="form-control" [field]="dataForm.description"></textarea>
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="thumb">图片</label>
                        <div>
                            <app-file-input [field]="dataForm.thumb" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="styles">样式</label>
                        <div>
                            <select id="styles" class="form-control" [field]="dataForm.styles">
                                <option value="">无</option>
                                <option value="daily">日记</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <app-panel title="本地化">
                    <div class="input-group-control">
                        <label for="en_name">名称(EN)</label>
                        <div>
                            <input type="text" id="en_name" class="form-control" [field]="dataForm.en_name">
                        </div>
                    </div>
                </app-panel>
            </div>
        </div>

        <div class="btn-group">
            <app-action-button class="btn btn-primary" (tapped)="tapSubmit($event)" [disabled]="dataForm().invalid()">确认保存</app-action-button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>
