<div class="container-fluid header-bg" *ngIf="data">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="../">{{ data.category?.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Details</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-12">
            <div class="title-bar">
                {{ data.title }}
            </div>

            <div class="tag-bar">
                <a href="">
                    By {{ data.user.name }}
                </a>
                <a href="">
                    <i class="iconfont icon-shopping-cart"></i>
                    {{ data.download_count | numberFormat }} Sales
                </a>

            </div>

            <div class="tab-header-bar">
                <a [ngClass]="{active: tabIndex < 1}" (click)="tabIndex = 0">Item Details</a>
                <a [ngClass]="{active: tabIndex == 1}" (click)="tabIndex = 1">Catalog</a>
                <a [ngClass]="{active: tabIndex == 2}" (click)="tabIndex = 2">Download</a>
                <a [ngClass]="{active: tabIndex == 3}" (click)="tabIndex = 3">
                    Reviews 
                    <app-star [ngModel]="data.score"></app-star>
                    <div class="count-label">{{ data.download_count | numberFormat }}</div>
                </a>
                <a [ngClass]="{active: tabIndex == 4}" (click)="tabIndex = 4">
                    Comments 
                    <div class="count-label">{{ data.comment_count | numberFormat }}</div>
                </a>
                <a [ngClass]="{active: tabIndex == 5}" (click)="tabIndex = 5">Support</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid detail-body">
    <app-loading-tip [loading]="isLoading" [visible]="!data || isLoading"></app-loading-tip>
    <div class="row" *ngIf="data">
        <div class="col-md-8">
            <div class="tab-target-body">
                <div class="tab-item" [ngClass]="{active: tabIndex < 1}">
                    <div class="group-box">
                        <img [src]="data.thumb|asset" alt="">
                        <div class="box-hat"></div>
                        <div class="group-footer">
                            <a class="btn btn-primary" routerLink="preview">
                                Live Preview 
                                <i class="iconfont icon-th-large"></i>
                            </a>
                        </div>
                    </div>
                    <div class="content-body">
                        <div [innerHTML]="content"></div>
                        <div class="body-memu-bar">
                            <a href="">
                                <i class="iconfont icon-heart"></i>
                            </a>
                            <a href="">
                                <i class="iconfont icon-qrcode"></i>
                                <div class="hover-popup">
                                    <img [src]="'assets/images/wx.jpg'|asset" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-item" [ngClass]="{active: tabIndex == 1}">
                    <div class="group-box">
                        <app-catalog [items]="catalogItems"></app-catalog>
                    </div>
                </div>
                <div class="tab-item" [ngClass]="{active: tabIndex == 2}">
                    <div class="group-box">
                        <ul class="file-panel">
                            <li *ngFor="let item of data.files">
                                <span>{{ formatType(item.file_type) }}</span>
                                <a class="btn btn-info" *ngIf="item.file_type < 1">Download</a>
                                <a class="btn btn-info" *ngIf="item.file_type > 0 && item.file_type < 3">Open</a>
                                <a class="btn btn-info" *ngIf="item.file_type == 3">Copy</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-item" [ngClass]="{active: tabIndex == 3}">
                    <app-score [itemId]="data.id" [init]="tabIndex == 3"></app-score>
                </div>
                <div class="tab-item" [ngClass]="{active: tabIndex == 4}">
                    <div class="group-box">
                        <app-comment [itemId]="data.id" [init]="tabIndex == 4"></app-comment>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="group-box">
                <div class="price">
                    <ng-container *ngIf="data.price > 0">
                        {{ data.price | currency }}
                    </ng-container>
                    <ng-container *ngIf="data.price <= 0">
                        Free
                    </ng-container>
                </div>
                <div class="btn btn-success">
                    {{ data.price > 0 ? 'Buy' : 'Download' }}
                </div>
            </div>
            <div class="group-box">
                <table class="table">
                    <tr>
                        <td class="line-label">Last Update</td>
                        <td class="line-body">{{ data.updated_at|ago }}</td>
                    </tr>
                    <tr *ngIf="data.tags && data.tags.length > 0">
                        <td class="line-label">Tags</td>
                        <td class="line-body">
                            <ng-container *ngFor="let item of data.tags">
                                <a routerLink="../../../search" [queryParams]="{tag: item.name}">{{ item.name }}</a>
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <td class="line-label">Size</td>
                        <td class="line-body">{{ data.size|size }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>