<div class="container">
  <div class="book-full-body">
    <div class="book-sort">
        <a routerLink="../category" i18n>Categories</a>
        <a class="active" i18n>Tags</a>
        <a routerLink="../archives" i18n>Archives</a>
    </div>
    <div class="tag-body">
        <ng-container *ngFor="let item of tagItems">
            <a routerLink="../" [queryParams]="{tag: item.name}" class="tag-item" [style]="item.style">{{ item.name }}</a>
        </ng-container>
    </div>
    
  </div>

</div>
