<div class="tablet-large-header tablet-visible">
    <div class="route-bar">
        <a class="route-icon" (click)="tapBack()">
            <i class="iconfont icon-chevron-left"></i>
        </a>
        <span class="route-title" i18n>Micro Blog</span>
    </div>
</div>
<div class="page-search-bar">
    <form class="flat-input" (submit)="tapSearch($event)">
        <input type="text" class="form-control" id="keywords" [field]="queries.keywords" i18n-placeholder placeholder="Please input a keyword">
        <button type="submit" class="btn btn-primary" i18n>Search</button>
    </form>
</div>

<div class="list-table-control">
    @for (item of items(); track $index) {
        <div class="row-item">
            <div class="item-header">
                <span class="no">{{ item.id }}</span>
            </div>
            <div class="item-body">
                <app-rule-block [value]="item.content" [rules]="item.extra_rule" />
            </div>
            <div class="item-footer">
                <div class="item-meta-bar">
                    <span class="time"><i class="iconfont icon-clock-o"></i><b>{{ item.created_at | ago }}</b></span>
                </div>
                <div class="btn-group">
                    <a class="btn btn-danger" (click)="tapRemove(item)" i18n>Delete</a>
                </div>
            </div>
        </div>
    }
</div>


<app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
<app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
