<div class="title-bar">
    <span i18n>Edit Service</span>
</div>
<form class="panel-container" [formGroup]="form" (ngSubmit)="tapSubmit()">
    <div class="form-group row">
        <label for="name" class="col-md-3 col-form-label" i18n>Name</label>
        <div class="col-md-9">
            <input type="text" class="form-control" formControlName="name" id="name" i18n-placeholder placeholder="Please input name">
        </div>
    </div>
    <div class="form-group row">
        <label for="cat_id" class="col-md-3 col-form-label" i18n>Category</label>
        <div class="col-md-9">
            <select class="form-control" formControlName="cat_id" id="cat_id">
                <ng-container *ngFor="let item of categories">
                    <option [value]="item.id">{{ item.name }}</option>
                </ng-container>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="price" class="col-md-3 col-form-label" i18n>Price</label>
        <div class="col-md-9">
            <input type="text" class="form-control" formControlName="price" id="price" i18n-placeholder placeholder="Please input price">
        </div>
    </div>
    <div class="form-group row">
        <label for="thumb" class="col-md-3 col-form-label" i18n>Image</label>
        <div class="col-md-9">
            <app-file-input formControlName="thumb"></app-file-input>
        </div>
    </div>
    <div class="form-group row">
        <label for="brief" class="col-md-3 col-form-label" i18n>Description</label>
        <div class="col-md-9">
            <textarea class="form-control" formControlName="brief" id="brief" i18n-placeholder placeholder="Please input description"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="content" class="col-md-3 col-form-label" i18n>Detail</label>
        <div class="col-md-9">
            <textarea class="form-control" formControlName="content" id="content" i18n-placeholder placeholder="Please input detail"></textarea>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th i18n>Name</th>
                <th i18n>Alias</th>
                <th i18n>Required</th>
                <th i18n>Private</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of formItems.controls; let i = index">
                <tr [formGroup]="item">
                    <td>
                        <input type="text" formControlName="name" class="form-control">
                    </td>
                    <td>
                        <input type="text" formControlName="label" class="form-control">
                    </td>
                    <td>
                        <input type="checkbox" formControlName="required" value="1"  >
                    </td>
                    <td>
                        <input type="checkbox" formControlName="only" value="1" >
                    </td>
                    <td>
                        <i class="iconfont icon-close" (click)="removeForm(i)"></i>
                    </td>
                </tr>
            </ng-container>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <i class="iconfont icon-plus" (click)="addForm()"></i>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="row">
        <button class="btn btn-primary offset-md-3" i18n>Save</button>
    </div>
</form>