<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>秒杀时间段列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <a class="btn btn-success pull-right" (click)="open(modal)">新增秒杀时间</a>

        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>标题</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.start_at }}</td>
                    <td>{{ item.end_at }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            @if (activity > 0) {
                            <a class="btn btn-info btn-xs" [routerLink]="item.id + ''">设置商品</a>
                            }
                            <a class="btn btn-light btn-xs" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
    </div>
    
</div>

<app-dialog-box #modal [scrollable]="false" [title]="editData.id > 0 ? '编辑时间段' : '新增时间段'">
    <div class="form-group">
        <label for="title">标题</label>
        <div class="input-group-control">
            <input class="form-control" id="title" [(ngModel)]="editData.title" placeholder="请输入标题">
        </div>
    </div>
    <div class="form-group">
        <label for="title">时间段</label>
        <div>
            <app-time-input [(ngModel)]="editData.start_at" />
            ~
            <app-time-input [(ngModel)]="editData.end_at" [min]="editData.start_at + ''" />
        </div>
    </div>
</app-dialog-box>