@use '.././../../theme/theme';
.project-item {
    position: relative;
    padding: .625rem .625rem .625rem 5rem;
    height: 6.25rem;
    .item-cover {
        position: absolute;
        left: .625rem;
        top: .625rem;
        img {
            width: 3.75rem;
            height: 5rem;
        }
    }
    .item-name {
        font-size: 1.125rem;
        line-height: 1.875rem;
    }
    .item-desc {
        color: var(--#{theme.$prefix}meta-text);
        font-size: .8125rem;
    }
    .item-action {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    &:not(:last-of-type) {
        border-bottom: 1px solid var(--#{theme.$prefix}border);
    }
}