<div class="user-page">
    <div class="container side-box">
        <div>
            <app-user-menu currentUrl="member/order" />
        </div>
        <div>
           <div class="row order-search">
               <div class="col-md-8">
                    <div class="header-tab">
                        @for (item of tabItems; track $index) {
                        <a [class]="{active: queries.status == item.value}" (click)="tapTab(item)">{{ item.name }}</a>
                        }
                    </div>
               </div>
               <div class="col-md-4">
                    <form class="flat-search"  (submit)="tapSearch()">
                        <input type="text" id="keywords" [field]="queries.keywords">
                        <button>搜索</button>
                    </form>
               </div>
           </div>
           <div class="order-page-box">
                @for (item of items(); track $index) {
                    <div class="panel">
                    <div class="panel-header order-item-header">
                        <span class="time">下单时间：{{ item.created_at }}</span>
                        <span class="number">订单号：{{ item.series_number }}</span>
                        @if (item.status < 10) {
                        <a (click)="tapRemove(item)">
                            <i class="iconfont icon-trash"></i>
                        </a>
                        }
                    </div>
                    <div class="panel-body">
                        @for (goods of item.goods; track $index) {
                        <div class="order-item">
                            <div class="goods-img">
                                <img [src]="goods.thumb" alt="">
                            </div>
                            <div class="name">{{ goods.name }}</div>
                            <div class="status">
                                <span>{{ item.status_label }}</span>
                                <a (click)="tapRepurchase(item)">再次购买</a>
                            </div>
                            <div class="price">
                                {{ goods.price | price }}
                                <p>（含运费：{{ 0 | price }}）</p>
                            </div>
                            <div class="actions">
                                @if (item.status == 10) {
                                <a class="btn" (click)="tapPay(item)">付款</a>
                                } @else if (item.status == 40) {
                                <a class="btn">签收</a>
                                <a (click)="tapDetail(item)">查看详情</a>
                                }
                                @if (item.status == 10) {
                                <a  (click)="tapCancel(item)">取消订单</a>
                                }
                            </div>
                        </div>
                        }
                    </div>
                </div>
                }
                <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
                <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
           </div>
        </div>
    </div>
</div>

