<app-edit-header [title]="dataModel().id > 0 ? '编辑题目' : '新增题目'" (submited)="tapSubmit()" [disabled]="dataForm().invalid()">
    数学公式输入请使用“$$”包裹<a href="http://asciimath.org/" target="_blank">查看规则</a>
</app-edit-header>

<div class="container-fluid">
    <form class="form-table-control panel-container" (submit)="tapSubmit2($event)">
        <div class="input-group-control">
            <label for="title">题目</label>
            <div>
                <input type="text" id="title" class="form-control title-input" [formField]="dataForm.title" (change)="onTitleChange()">
                <i class="iconfont icon-eye" title="预览" (click)="openPreview(previewModal, 'title')"></i>
                @if (sameItems().length > 0) {
                <div class="control-tooltip">
                    存在{{ sameItems().length }}个相似题目
                    <a (click)="sameModal.open()">点击查看</a>
                </div>
                }
            </div>
        </div>
        <div class="input-group-control">
            <label for="course_id">科目</label>
            <div class="flat-group">
                <select id="course_id" [formField]="dataForm.course_id" class="form-control" (change)="onCourseChange()">
                    <option value="0">请选择</option>
                    @for (item of courseItems(); track $index) {
                        <option [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
                    }
                </select>
                <select [formField]="dataForm.course_grade" class="form-control">
                    @for (item of gradeItems(); track $index) {
                        <option [value]="item.value">{{ item.name }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="input-group-control">
            <label for="article">关联素材</label>
            <div>
                @if (material()) {
                    <div class="media-item" (click)="tapMaterial(materialModal)">
                        <div class="title">【{{material().type|materialType}}】{{ material().title }}</div>
                        <div class="desc">{{ material().description }}</div>
                        <i class="iconfont icon-close" (click)="tapRemoveMaterial($event)"></i>
                    </div>
                } @else {
                    <div class="media-btn" (click)="tapMaterial(materialModal)">
                        <i class="iconfont icon-plus"></i>
                    </div>
                }
                <div class="control-tooltip">可以不选，同一素材将合并成同一个大题下面的小题</div>
            </div>
        </div>
        <div class="input-group-control">
            <label for="image">图片</label>
            <div>
                <app-file-input [formField]="dataForm.image" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="easiness">难易程度</label>
            <div>
                <app-star [formField]="dataForm.easiness">{{ easinessLabel() }}</app-star>
            </div>
        </div>
        <div class="input-group-control">
            <label for="content">内容<i class="iconfont icon-eye" title="预览" (click)="openPreview(previewModal, 'content')"></i></label>
            <div>
                <app-exam-editor [formField]="dataForm.content" (change)="onTypeChange()" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="dynamic">可变内容</label>
            <div>
                <textarea id="dynamic" class="form-control" [formField]="dataForm.dynamic" ></textarea>
                <div class="control-tooltip">在题目中可以用“&#64;1” 代替</div>
            </div>
        </div>
        <div class="input-group-control">
            <label for="type">类型</label>
            <div>
                <select id="type" class="form-control" [formField]="dataForm.type" (change)="onTypeChange()">
                    @for (item of typeItems; track $index; let i = $index) {
                    <option [value]="i">{{ item }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="option-box">
            @switch (dataForm.type().value()) {
                @case ('2') {
                    <div class="input-group-control">
                        <label for="answer">答案</label>
                        <div>
                            <select id="answer" class="form-control" [formField]="dataForm.answer">
                                <option value="0">错</option>
                                <option value="1">对</option>
                            </select>
                        </div>
                    </div>
                }
                @case ('3') {
                    <div class="input-group-control">
                        <label for="answer">答案<i class="iconfont icon-eye" title="预览" (click)="openPreview(previewModal, 'answer')"></i></label>
                        <div>
                            <textarea id="answer" class="form-control" [formField]="dataForm.answer"></textarea>
                            <div class="control-tooltip">请在题目中用“____” 代替，如果需要计算请使用“&#64;1+&#64;2*3”等公式，填空题为一行一个</div>
                        </div>
                    </div>
                }
                @case ('4') {
                    <div class="input-group-control">
                        <label for="answer">答案</label>
                        <div>
                            <div>
                                @for (item of dataForm.option_items; track $index; let i = $index) {
                                    <div class="option-item">
                                        <div class="option-value">
                                            <input type="text" class="form-control" [formField]="item.content" placeholder="请输入正确的答案">
                                        </div>
                                        <a (click)="tapRemoveItem(i)" class="remove-btn">
                                            <i class="iconfont icon-close"></i>
                                        </a>
                                    </div>
                                }
                                <a (click)="tapAddItem()" class="add-btn">
                                    <i class="iconfont icon-plus"></i>
                                </a>
                            </div>
                            <div class="control-tooltip">请按“____”顺序对应答案，可以多不可以少，多出部分选项为错误选择项,如果需要计算请使用“&#64;1+&#64;2*3”等公式</div>
                        </div>
                    </div>
                }
                @case ('5') {
                    <div>子题目</div>
                    <app-question-children [(value)]="childrenItems" />
                }
                @default {
                    <div class="input-group-control">
                        <label for="">选项</label>
                        <div>
                            @for (item of dataForm.option_items; track $index; let i = $index) {
                                <div class="option-item">
                                    <div class="option-value">
                                        @if (item.type().value() != '1') {
                                            <input type="text" class="form-control" [formField]="item.content">
                                        } @else {
                                            <app-file-input [formField]="item.content" />
                                        }
                                    </div>
                                    <select class="form-control" [formField]="item.type">
                                        @for (item of optionTypeItems; track $index; let j = $index) {
                                        <option [value]="j">{{ item }}</option>
                                        }
                                    </select>
                                    <select class="form-control" [formField]="item.is_right">
                                        <option value="0">错</option>
                                        <option [value]="1">对</option>
                                    </select>
                                    <a (click)="tapRemoveItem(i)" class="remove-btn">
                                        <i class="iconfont icon-close"></i>
                                    </a>
                                </div>
                            }
                            <a (click)="tapAddItem()" class="add-btn">
                                <i class="iconfont icon-plus"></i>
                            </a>
                        </div>
                    </div>
                }
            }
            <div class="input-group-control">
                <label for="analysis">解析</label>
                <div>
                    <app-question-analysis [(value)]="analysisItems" />
                </div>
            </div>
        </div>
        <div class="btn-group">
            <app-action-button class="btn btn-success" (tapped)="tapSubmit($event)">确认保存</app-action-button>
            <a class="btn btn-danger" (click)="tapBack()">取消修改</a>
        </div>
    </form>
</div>

<app-material-panel [courseItems]="courseItems()" #materialModal/>

<app-dialog-box #sameModal title="相似题目" [footerVisible]="false">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>题目</th>
                <th>科目</th>
            </tr>
        </thead>
        <tbody>
            @for (item of sameItems(); track $index) {
            <tr>
                <td>{{ item.id }}</td>
                <td>【{{ item.type | questionType }}】{{ item.title }}</td>
                <td>{{ item.course?.name }}</td>
            </tr>
            }
        </tbody>
    </table>
</app-dialog-box>
<app-dialog-box #previewModal title="预览" [footerVisible]="false">
    <textarea class="form-control" [formField]="previewForm.content"></textarea>
    <app-math-mark [content]="previewForm.content().value()" [disabled]="true" [allowInput]="true" />
</app-dialog-box>
