a {
    text-decoration: none;
}
.control-tooltip {
    a {
        margin-left: .8em;
        color: #007bff;
        cursor: pointer;
    }
}
.title-input {
    width: 90% !important;
}
.option-item {
    .option-value {
        display: inline-block;
    }
    .form-control {
        display: inline-block;
        width: auto;
    }
}
.add-btn,
.media-btn {
    display: inline-flex;
    width: 2.5em;
    height: 2.5em;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    border: 1px solid #ccc;
}
.media-btn {
    width: 4em;
    height: 4em;
}


.media-item {
    border-radius: .4em;
    border: 1px solid #ccc;
    padding: .2em;
    background-color: #f4f4f4;
    position: relative;
    .title {
        line-height: 2.5em;
    }
    .desc {
        font-size: .8em;
        color: #777;
    }
    .icon-close {
        position: absolute;
        right: .2em;
        font-size: 3em;
        top: 0;
        color: orange;
    }
}

