.table-bar {
    line-height: 2em;
    margin-bottom: 1em;
    .dist-item,
    .table-item {
        position: relative;
        background-color: #fff;
        line-height: 30px;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;

        .iconfont {
            position: absolute;
            right: -10px;
            top: -8px;
            background: #333;
            color: #fff;
            border-radius: 50%;
            display: block;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
        }

        &:hover {
            background-color: red;
            color: #fff;
        }
    }
    .table-item {
        margin-right: 20px;
    }
}
.link-item {
    display: flex;
    width: auto;
    height: 50px;
    line-height: 50px;
    span {
        display: inline-block;
        // text-align: center;
        cursor: default;
        user-select: none;
    }
    .dist-column {
        flex: 1;
    }
    .src-column {
        flex: 3;
    }
    i {
        padding: 0 .5em;
    }
    &:hover {
        background-color: rgba($color: #ccc, $alpha: .3);
    }
    &:not(:last-of-type) {
        border-bottom: 1px solid #ccc;
    }
}