<app-edit-header [title]="dataModel().id > 0 ? '编辑分类' : '新增分类'" (submited)="tapSubmit($event)" [disabled]="dataForm().invalid()" />
<div class="container-fluid">
    <form class="form-table-control panel-container" (submit)="tapSubmit2($event)">
        <div class="input-group-control">
            <label for="name">名称</label>
            <div>
                <input type="text" id="name" class="form-control" [formField]="dataForm.name">
                @if (dataForm.name().invalid()) {
                <div class="input-tip">请输入名称</div>
                }
            </div>
        </div>
        <div class="input-group-control">
            <label>上级</label>
            <select id="parent_id" class="form-control" [formField]="dataForm.parent_id">
                <option value="0">-- 无上级分类 --</option>
                @for (item of categories; track $index) {
                <option [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
                }
            </select>
        </div>
        <div class="input-group-control">
            <label for="thumb">Banner</label>
            <div>
                <app-file-input id="thumb" [formField]="dataForm.banner" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="app_thumb">App Banner</label>
            <div>
                <app-file-input id="app_thumb" [formField]="dataForm.app_banner" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="icon">图标</label>
            <div>
                <app-file-input id="icon" [formField]="dataForm.icon" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="keywords">关键字</label>
            <div>
                <input type="text" id="keywords" class="form-control" [formField]="dataForm.keywords">
            </div>
        </div>
        <div class="input-group-control">
            <label for="description">简介</label>
            <div>
                <textarea id="description" class="form-control" [formField]="dataForm.description"></textarea>
            </div>
        </div>
        <div class="input-group-control">
            <label for="position">排序</label>
            <div>
                <input type="number" id="position" class="form-control" [formField]="dataForm.position">
            </div>
        </div>
        <div class="btn-group">
            <app-action-button class="btn btn-primary" (tapped)="tapSubmit($event)" [disabled]="dataForm().invalid()">确认保存</app-action-button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>
