header {
    z-index: 2;
    .header-main {
        position: relative;
        height: 250px;
        background-color: #fff;
        box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
        .container {
            position: relative;
            height: 100%;
        }
        .header-logo {
            text-align: center;
            img {
                height: 100px;
            }
        }
        .header-nav {
            line-height: 1;
            font-weight: 700;
            height: 50px;
            width: auto;
            position: absolute;
            bottom: 0px;
            margin: 0;
            padding: 0;
            overflow: hidden;
            line-height: 3rem;
            a {
                text-decoration: none;
            }
            li {
                display: inline-block;
                margin-top: 6px;
                padding: 0 24px;
                &:hover,
                &.active {
                    >a {
                        border-bottom: 3px solid #b4a078;
                        padding-bottom: 5px;
                    }
                }
            }
            .nav-dropdown {
                display: none;
                position: absolute;
                top: 50px;
                left: 0;
                padding-top: 30px;
                background-color: transparent;
                padding: 20px 40px 30px;
                background: #fff;
                box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
                z-index: 9;
            }
            .nav-column {
                margin-right: 34px;
                display: inline-block;
                vertical-align: top;
            }
            .nav-title {
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: 700;
                line-height: 36px;
                width: 140px;
                border-bottom: 1px solid #ddd;
            }
            .nav-item {
                margin-bottom: 4px;
                font-weight: 400;
                line-height: 50px;
                img {
                    height: 50px;
                    width: 50px;
                    border: 0;
                    vertical-align: top;
                }
                span {
                    display: inline-block;
                    width: 84px;
                    max-width: 84px;
                    max-height: 48px;
                    margin-left: 6px;
                    font-size: 14px;
                    vertical-align: middle;
                    line-height: 1.2;
                    overflow: hidden;
                }
            }
        }
        .header-search {
            position: relative;
            .iconfont {
                font-size: 30px;
                color: #b4a078;
                vertical-align: middle;
            }
            input {
                height: 40px;
                border: 0;
                border-bottom: 1px solid #D8CEBC;
                font-size: 16px;
                width: 252px;
                outline: 0;
            }
            ul, li {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            .search-hot {
                font-size: 12px;
                line-height: 20px;
                li {
                    display: inline-block;
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
            .search-tip {
                position: absolute;
                width: 100%;
                background-color: white;
                z-index: 88;
                top: 40px;
                box-shadow: 0 4px 5px 0 #cccccc94;
                li {
                    line-height: 40px;
                    padding: 0 10px;
                    word-break: keep-all;
                    overflow: hidden;
                    cursor: pointer;
                    &:not(:last-of-type) {
                        border-bottom: 1px solid #ccc;
                    }
                    &:hover {
                        background-color: rgba(153,153,153,.1);
                    }
                }
            }
        }
        .header-cart {
            position: absolute;
            width: 34px;
            height: 32px;
            top: 100px;
            right: 9px;
            
        }
        &.top-fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            z-index: 6;
            .container {
                display: grid;
                grid-template: 60px / 105px 1fr 60px 60px;
            }
            .header-logo {
                img {
                    max-width: 100%;
                    height: 100%;
                    margin: 0 auto;
                }
            }
            .header-nav,
            .header-cart,
            .header-search {
                position: relative;
                margin-top: 16px;
                top: 0;
            }
            .header-nav {
                .nav-dropdown {
                    top: 43px;
                }
            }
            .header-cart {
                right: -10px;
            }
            .header-search {
                right: -16px;
                background-color: #fff;
                input {
                    display: none;
                }
                &.expanded {
                    right: 242px;
                    input {
                        display: inline-block;
                    }
                }
            }
        }
    }
    &.user-header {
        height: 136px;
        .header-main {
            height: 100px;
            padding-top: 25px;
            .container {
                display: grid;
                grid-template: 50px / 180px 1fr;
                grid-gap: 20px;
            }
            .header-logo {
                img {
                    max-width: 100%;
                    height: 100%;
                    margin: 0 auto;
                }
            }
            .header-title {
                font-size: 35px;
                font-weight: 700;
                color: #b4a078;
                border-left: 1px solid #b4a078;
                padding-left: 20px;
            }
            &.top-fixed { 
                padding-top: 5px;
                height: 60px;
            }
        }
    }
}



.app-down-guide {
    width: 100%;
    height: 120px;
    position: fixed;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 99;
    .content {
        width: 1090px;
        height: 90px;
        margin: 15px auto;
        position: relative;
        .iconfont-close {
            position: absolute;
            height: 22px;
            width: 22px;
            border-radius: 50%;
            top: -11px;
            right: -11px;
            cursor: pointer;
            background: #ffff;
            text-align: center;
            line-height: 21px;
        }
    }
}

@media (min-width: 768px) {
    header {
        height: 240px;
        .header-top {
            height: 36px;
            .top-left {
                float: left;
                >a {
                    float: left;
                }
            }
            .top-right {
                float: right;
            }
        }
        .header-main {
            height: 204px;
            .header-logo {
                text-align: center;
                img {
                    height: 140px;
                }
            }
            .header-nav {
                height: 51px;
                width: 100%;
                bottom: 0px;
            }
            .header-search {
                position: absolute;
                top: 64px;
                right: 64px;
                width: 287px;
                height: 50px;
            }
            .header-cart {
                top: 65px;
            }
        }
    }

}

::ng-deep {
    .breadcrumb {
        background-color: transparent;
    }
    .goods-area {
        padding: 0 40px;
        position: relative;
        background-color: #fff;
        .category-header {
            text-align: center;
            margin-bottom: 40px;
            .title {
                font-size: 24px;
                font-weight: 700;
                line-height: 44px;
            }
        }
        .goods-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
            .goods-item {
                text-align: center;
                margin-bottom: 50px;
                .thumb {
                    width: 245px;
                    height: 245px;
                    margin: 0 auto;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .name {
                    padding: 0 10px;
                    margin-top: 20px;
                    margin-bottom: 4px;
                    color: #333;
                }
                .desc {
                    border-top: 1px solid #e8e8e8;
                    padding: 14px;
                    color: #999;
                }
            }
        }
    }
    .number-box {
        float: left;
        border: 1px solid #ddd;
        display: grid;
        grid-template: 36px / 36px 60px 36px;
        .iconfont {
            border-right: 1px solid #ddd;
            line-height: 38px;
            background: #fff;
            text-align: center;
            &:last-child {
                border-left: 1px solid #ddd;
                border-right: none;
            }
        }
        .number-input {
            box-sizing: border-box;
            border-radius: 0;
            border: 0;
            margin: 0;
            font-size: 12px;
            text-align: center;
            color: #333;
            height: 36px;
            line-height: 36px;
            background: #fff;
        }
    }
    
    .goods-item {
        text-align: center;
        display: inline-block;
        .thumb {
            width: 265px;
            height: 265px;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .name {
            padding: 0 10px;
        }
    }

    .item-hover {
        &:hover {
            box-shadow: 1px 1px 8px rgba(0,0,0,.2);
            background-color: #f4f0ea;
        }
    }

    .filter-box {
        padding-top: 20px;
        a {
            margin-right: 30px;
            font-size: 14px;
            color: #333;
            word-break: keep-all;
            display: inline-block;
            cursor: pointer;
            &.active {
                color: #b4a078;
            }
            &:hover {
                color: #b4a078;
            }
        }
        .filter-line {
            border-bottom: 1px dashed #dedede;
            line-height: 50px;
            display: flex;
            .filter-header {
                width: 6.25rem;
            }
            .filter-body {
                flex: 1;
            }
        }

    }
}