<app-edit-header [title]="dataModel().id > 0 ? '编辑剧' : '新增剧'" (submited)="tapSubmit($event)" [disabled]="dataForm().invalid()" />


<div class="container-fluid">
    <form class="form-table-control" (submit)="tapSubmit()">
        <div class="panel-container">
            <div class="title-input">
                <label for="title">剧名</label>
                <input type="text" id="title" class="form-control" [field]="dataForm.title">
            </div>

            <app-markdown-editor [field]="dataForm.content" (imageUpload)="editorImageUpload($event)" [height]="400" placeholder="剧描述" />
        </div>

        <div class="row">
            <div class="col-md-6">
                <app-panel title="高级属性">
                    <div class="input-group-control">
                        <label for="cat_id">分类</label>
                        <div>
                            <select id="cat_id" class="form-control" [field]="dataForm.cat_id">
                                @for (item of categories; track $index) {
                                    <option [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="area_id">地区</label>
                        <div>
                            <select id="area_id" class="form-control" [field]="dataForm.area_id">
                                @for (item of areaItems; track $index) {
                                    <option [value]="item.id">{{ item.name }}</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="input-group-control">
                        <label for="thumb">封面</label>
                        <div>
                            <app-file-input [field]="dataForm.cover" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="description">说明</label>
                        <div>
                            <app-text-editor [field]="dataForm.description" height="100" />
                        </div>
                    </div>

                    <div class="input-group-control">
                        <label>标签</label>
                        <div>
                            <ng-select [multiple]="true" [items]="tagItems$ | async" [loading]="tagLoading" [typeahead]="tagInput$" bindLabel="name" [(ngModel)]="tags" [ngModelOptions]="{standalone: true}" [addTag]="addTagFn" placeholder="选择标签" />
                        </div>
                    </div>
                </app-panel>
            </div>
            <div class="col-md-6">
                <app-panel title="附加属性">
                    <div class="input-group-control">
                        <label>片名</label>
                        <div>
                            <input type="text" class="form-control" [field]="dataForm.film_title">
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label>译名</label>
                        <div>
                            <input type="text" class="form-control" [field]="dataForm.translation_title">
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label>导演</label>
                        <div>
                            <app-words-input [field]="dataForm.director" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label>主演</label>
                        <div>
                            <app-words-input [field]="dataForm.leader" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label>年代</label>
                        <div>
                            <input type="number" class="form-control" [field]="dataForm.age">
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label>语言</label>
                        <div>
                            <input type="text" class="form-control" [field]="dataForm.language">
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label>上映日期</label>
                        <div>
                            <app-date-input [field]="dataForm.release_date" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label>集数</label>
                        <div>
                            <app-number-input [field]="dataForm.series_count" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label>总时长</label>
                        <div>
                            <input type="number" class="form-control" [field]="dataForm.duration">
                        </div>
                    </div>
                </app-panel>
            </div>
        </div>

        <div class="btn-group">
            <app-action-button class="btn btn-success" (tapped)="tapSubmit($event)" [disabled]="dataForm().invalid()">确认保存</app-action-button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>
