<div class="container" *ngIf="thread">
  <ul  class="breadcrumb">
      <li class="breadcrumb-item">
          <a routerLink="/" class="iconfont icon-home"></a>
      </li><li class="breadcrumb-item">
          <a routerLink="../../">圈子首页</a>
      </li>
      <li class="breadcrumb-item" *ngFor="let item of thread.path">
        <a [routerLink]="'../../' + item.id">{{ item.name }}</a>
        </li>
      <li class="breadcrumb-item active">{{ thread.title }}
      </li>
  </ul>
</div>

<div class="container">
    <div class="thread-box">
        <div class="thread-title" *ngIf="thread">
            <div class="count">
                <span>查看：{{ thread.view_count }}</span>
                <span>回复：{{ thread.post_count }}</span>
            </div>
            <div class="title">
                {{ thread.title }} </div>
        </div>
        <div class="post-list">
            
            <ng-container *ngFor="let item of items">
              <ng-container *ngIf="item.grade < 1; else elseTemplate">
                <div class="post-item">
                    <div class="post-user">
                        <div class="name">{{ item.user.name }}</div>
                        <div class="avatar">
                            <img [src]="item.user.avatar" alt="">
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="header">
                            <i class="iconfont icon-user"></i>
                            发表于 {{ item.created_at }} <div class="action">
    
                            </div>
                        </div>
                        <div class="last-time">最后编辑于 {{ item.updated_at }}</div>
                        <div class="content" [innerHTML]="item.html">
                        </div>
                        <div class="action">
    
                        </div>
                        <div class="footer">
                            <a href="javascript:;" data-action="reply">回复</a>
                            <a *ngIf="thread.digestable">设为精华</a>
                            <a *ngIf="thread.highlightable">设为高亮</a>
                            <a *ngIf="thread.closeable">设为关闭</a>
                        </div>
                    </div>
                </div>
              </ng-container>
              <ng-template #elseTemplate>
                <div class="post-item">
                    <div class="post-user">
                        <div class="name">{{ item.user.name }}</div>
                        <div class="avatar">
                            <img [src]="item.user.avatar" alt="">
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="header">
                            <i class="iconfont icon-user"></i>
                            发表于 {{ item.created_at }} <div class="action">
                                {{ item.grade }}楼
                            </div>
                        </div>
                        <div class="content" [innerHTML]="item.html">
                          </div>
                        <div class="footer">
                            <a href="javascript:;" data-action="reply">回复</a>
                            <a *ngIf="item.deleteable">删除</a>
                        </div>
                    </div>
                </div>
              </ng-template>
              
            </ng-container>
            
        </div>
        <div class="paging-box">
        </div>
        <div class="post-item post-new" *ngIf="user">
            <div class="post-user">
                <div class="name">{{ user.name }}</div>
                <div class="avatar">
                    <img [src]="user.avatar" alt="">
                </div>
            </div>
            <div class="post-content">
                <form>
                    <app-forum-editor></app-forum-editor>
                    <div class="footer">
                        <button class="btn">发表回复</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>