<div class="container" *ngIf="thread">
  <ul  class="breadcrumb">
      <li class="breadcrumb-item">
          <a routerLink="/" class="iconfont icon-home"></a>
      </li><li class="breadcrumb-item">
          <a routerLink="../../">圈子首页</a>
      </li>
      <li class="breadcrumb-item" *ngFor="let item of thread.path">
        <a [routerLink]="'../../' + item.id">{{ item.name }}</a>
        </li>
      <li class="breadcrumb-item active">{{ thread.title }}
      </li>
  </ul>
</div>

<div class="container">
    <div class="thread-box">
        <div class="thread-title" *ngIf="thread"  [ngClass]="{'thread-highlight': thread.is_highlight}">
            <div class="count">
                <span>查看：{{ thread.view_count | numberFormat }}</span>
                <span>回复：{{ thread.post_count | numberFormat }}</span>
            </div>
            <div class="title">
                <ng-container *ngIf="thread.is_closed">
                    <i class="iconfont icon-lock" title="主题已关闭"></i>
                </ng-container>
                <ng-container *ngIf="!thread.is_closed">
                    <i class="iconfont icon-file-o"></i>
                </ng-container>
                <em class="tag-item" *ngIf="thread.classify">
                    [<a>{{ thread.classify.name }}</a>]
                </em>
                <span class="title-text">{{ thread.title }} </span>
                <i class="iconfont icon-fire" *ngIf="thread.is_digest"></i>
                <a class="new-tag" *ngIf="thread.is_new">New</a>
            </div>
        </div>
        <div class="post-list">
            <ng-container *ngFor="let item of items">
              <ng-container *ngIf="item.grade < 1; else elseTemplate">
                <div class="post-item">
                    <div class="post-user">
                        <div class="name">{{ item.user.name }}</div>
                        <div class="avatar">
                            <img [src]="item.user.avatar" alt="">
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="header">
                            <i class="iconfont icon-user"></i>
                                发表于 {{ item.created_at | ago }} 
                            <i class="split">|</i>
                            <a *ngIf="queries.user < 1" (click)="tapSeeUser(item.user_id)">只看该作者</a>
                            <a *ngIf="queries.user > 0" (click)="tapSeeUser(0)">查看全部楼层</a>
                            <div class="action">
    
                            </div>
                        </div>
                        <div class="last-time">最后编辑于 {{ item.updated_at | ago }}</div>
                        <div class="content">
                            <app-post-block [value]="item.content" (tapped)="tapBlock($event, item)"></app-post-block>
                        </div>
                        <div class="post-action">
                            <div class="action-btn" [ngClass]="{active: thread.like_type == 1}" [title]="thread.like_type == 1 ? '取消点赞' : '点赞'" (click)="toggleLike()">
                                <i class="iconfont icon-thumbs-o-up"></i>
                            </div>
                            <div class="action-btn"  [ngClass]="{active: thread.is_reward}" title="打赏" (click)="tapReward(rewardModal)">
                                {{ thread.is_reward ? '已' : '' }}赏
                            </div>
                            <div class="action-btn"  [ngClass]="{active: thread.is_collected}" [title]="thread.is_collected ? '取消收藏' : '收藏'"  (click)="toggleCollect()">
                                <i class="iconfont" [ngClass]="{'icon-heart-o': !thread.is_collected, 'icon-heart': thread.is_collected}"></i>
                            </div>
                        </div>
                        <div class="footer">
                            <a *ngIf="user" (click)="tapReply(item)">回复</a>
                            <a *ngIf="thread.digestable || thread.highlightable || thread.closeable || thread.topable"  (click)="open(modal)">编辑</a>
                        </div>
                    </div>
                </div>
              </ng-container>
              <ng-template #elseTemplate>
                <div class="post-item">
                    <div class="post-user">
                        <div class="name">{{ item.user.name }}</div>
                        <div class="avatar">
                            <img [src]="item.user.avatar" alt="">
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="header">
                            <i class="iconfont icon-user"></i>
                                发表于 {{ item.created_at | ago }} 
                            <i class="split">|</i>
                            <a *ngIf="queries.user < 1" (click)="tapSeeUser(item.user_id)">只看该作者</a>
                            <a *ngIf="queries.user > 0" (click)="tapSeeUser(0)">查看全部楼层</a>
                            <div class="action">
                                {{ item.grade }}楼
                            </div>
                        </div>
                        <div class="content">
                            <app-post-block [value]="item.content" [readable]="item.is_public_post" (tapped)="tapBlock($event, item)"></app-post-block>
                          </div>
                        <div class="footer">
                            <a *ngIf="user && item.is_public_post" (click)="tapReply(item)">回复</a>
                            <a *ngIf="item.deleteable" (click)="tapRemove(item)">删除</a>
                        </div>
                    </div>
                </div>
              </ng-template>
              
            </ng-container>
            
        </div>
        <div class="paging-box">
            <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
        </div>
        <div class="post-item post-new" *ngIf="user && thread && !thread.is_closed">
            <div class="post-user">
                <div class="name">{{ user.name }}</div>
                <div class="avatar">
                    <img [src]="user.avatar" alt="">
                </div>
            </div>
            <div id="post-editor" class="post-content">
                <form [formGroup]="form" (ngSubmit)="tapSubmit()">
                    <app-forum-editor formControlName="content" placeholder="请输入帖子内容"></app-forum-editor>
                    <div class="footer">
                        <app-action-button class="btn btn-primary" [disabled]="form.invalid" (tapped)="tapSubmit($event)">发表回复</app-action-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-dialog-box #modal title="编辑">
    <ng-container *ngIf="thread">
        <div class="link-item" *ngIf="thread.topable">
            <div class="label">置顶</div>
            <div class="value">
                <app-switch [(ngModel)]="editData.top_type"></app-switch>
            </div>
        </div>
        <div class="link-item" *ngIf="thread.digestable">
            <div class="label">精华</div>
            <div class="value">
                <app-switch [(ngModel)]="editData.is_digest"></app-switch>
            </div>
        </div>
        <div class="link-item" *ngIf="thread.highlightable">
            <div class="label">高亮</div>
            <div class="value">
                <app-switch [(ngModel)]="editData.is_highlight"></app-switch>
            </div>
        </div>
        <div class="link-item" *ngIf="thread.closeable">
            <div class="label">关闭</div>
            <div class="value">
                <app-switch [(ngModel)]="editData.is_closed"></app-switch>
            </div>
        </div>
        <div class="form-group">
          <label for="remark">操作说明*</label>
          <textarea class="form-control" id="remark" [(ngModel)]="editData.remark"></textarea>
        </div>
    </ng-container>
</app-dialog-box>

<app-dialog-box #rewardModal [scrollable]="false" title="打赏">
    <div class="link-item">
        <div class="label">金额</div>
        <div class="value">
            <input type="number" class="form-control" [(ngModel)]="rewardData.amount">
        </div>
    </div>
</app-dialog-box>
