<div class="container-fluid">
  <ng-container *ngFor="let item of items">
    <div class="book-list-item">
        <div class="thumb">
            <a href="">
                <img src="/assets/images/book_default.jpg" alt="">
                <img src="/assets/images/book_default.jpg" alt="">
                <img src="/assets/images/book_default.jpg" alt="">
            </a>
        </div>
        <div class="info">
            <a href="" class="title">213123</a>
            <p class="desc">12312</p>
            <div class="info-footer">
                <a href="">zodream</a>
                <span>2019</span>
    
                <div class="info-count">
                    <span>1本书</span>
                    <span>1浏览</span>
                    <span>1收藏</span>
                </div>
            </div>
        </div>
    </div>
  </ng-container>
</div>