<div class="container-fluid">
    <div class="add-btn" *ngIf="isLogin" (click)="tapAdd()">
        <i class="iconfont icon-plus"></i>
        添加
    </div>
    <ng-container *ngFor="let item of items">
        <div class="book-list-item" (click)="tapView(item)">
            <div class="thumb">
                <ng-container *ngFor="let it of item.items">
                    <img [src]="it.book.cover" alt="">
                </ng-container>
                
            </div>
            <div class="info">
                <a class="title">{{ item.title }}</a>
                <p class="desc">{{ item.description }}</p>
                <div class="info-footer">
                    <a *ngIf="item.user">{{ item.user.name }}</a>
                    <span class="time">{{ item.created_at }}</span>

                    <div class="info-count">
                        <span>{{ item.book_count }}本书</span>
                        <span>{{ item.click_count }}浏览</span>
                        <span>{{ item.collect_count }}收藏</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>