<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>管理地区列表</li>
            @if (parent) {
            <li>当前地区：{{ parent.name }}</li>
            }
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">地区名</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="地区名">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>

                <div class="btn-group pull-right">
                    @if (parent) {
                    <a class="btn btn-success" (click)="tapViewRegion()">返回顶级</a>
                    }
                    @if (parent && parent.parent_id > 0) {
                    <a class="btn btn-info"  (click)="tapParentRegion()">返回上一级</a>
                    }
                    <a routerLink="../" class="btn btn-danger">新手村</a>
                    <a routerLink="../editor"  class="btn btn-light">地图编辑器</a>
                    <a (click)="open(modal)" class="btn btn-primary">新增地区</a>
                </div>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>地区名</th>
                    <th>上一级</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ parent ? parent.name  : '[-]' }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" routerLink="../" [queryParams]="{area: item.id}">地图</a>
                            <a class="btn btn-info" (click)="tapViewRegion(item)">子地区</a>
                            <a class="btn btn-light" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
        <app-pagination [total]="total" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
    </div>
  </div>
  
  
  <app-dialog-box #modal [title]="editData.id > 0 ? '编辑地区' : '新增地区'">
      <div class="form-group">
          <label for="region-input">地区名</label>
          <div class="input-group-control">
            <input class="form-control" id="region-input" [field]="editData.name" placeholder="请输入地区名">
          </div>
        </div>
  </app-dialog-box>