.order-pay-tip {
    padding-top: 20px;
    padding-left: .5rem;
    line-height: 40px;
    font-size: 20px;
    .primary-tip {
        color: #0f0;
    }
}
.pay-btn {
    text-align: right;
}
.pay-box {
    background-color: white;
    margin: 20px 0;
}