.order-pay-tip {
    padding-top: 20px;
    padding-left: .5rem;
    line-height: 40px;
    font-size: 20px;
    .primary-tip {
        color: #0f0;
    }
}
.pay-btn {
    text-align: right;
}
.pay-box {
    background-color: white;
    margin: 20px 0;
}

.price-group {
    margin-left: .8rem;
}

.order-bar {
    color: #767676;
    display: flex;
    span {
        color: #333;
    }
}

.pay-btn ::ng-deep {
    .countdown {
        display: inline-flex;
    }
}