<div class="container-fluid">
    <div class="scroll-nav">
        <div class="item" [ngClass]="{active: category < 1}" (click)="tapCat()" i18n>
            All
        </div>
        @for (item of categories; track $index) {
            <div class="item" [ngClass]="{active: category === item.id}" (click)="tapCat(item)">
              {{ item.name }}
          </div>
        }
    </div>
    <div class="bar-panel">
        <div class="bar-container">
            @for (item of barItems; track $index;let i = $index) {
                <div class="item" [ngClass]="{active: barIndex === i}" (click)="tapBar(i)">
                    {{ item }}
                </div>
            }
        </div>
        <div class="body-container">
            @for (item of items; track $index) {
                <div class="book-item book-thumb" (click)="tapBook(item)">
                  <div class="cover">
                      <img [src]="item.cover">
                      @if (item.click_count > 0) {
                        <div class="tip" i18n>{{ item.click_count | numberFormat }} readings</div>
                      }
                  </div>
                  <div class="info">
                      <div class="name">{{ item.name }}</div>
                      <div class="tag">{{ item.author.name}}·{{ item.category.name }}·
                        {{ item.status_label }}·
                          
                        <ng-container i18n>{{ item.size | numberFormat }} words</ng-container>
                        
                    </div>
                      <div class="desc">{{ item.description }}</div>
                  </div>
                </div>
            }
        </div>
    </div>
</div>