<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>生成控制器</li>
        </ul>
    </app-page-tip>
    <div class="panel-container form-table-control">
        <div class="input-group-control">
            <label for="">模块名</label>
            <div>
                <input type="text" class="form-control" [field]="module" placeholder="示例：Home">
            </div>
        </div>
        <div class="input-group-control">
            <label for="">文件名</label>
            <div>
                <input type="text" class="form-control" [field]="name">
            </div>
        </div>
        <div class="btn-group">
            <div class="btn btn-primary" (click)="tapSubmit(false)">生成</div>
            <div class="btn btn-info" (click)="tapSubmit(true)">预览</div>
        </div>
    </div>
</div>
<app-dialog-box title="预览" [fullscreen]="true">
    @for (item of previewItems; track $index) {
        <div class="preview-item">
            <div class="item-path">{{ item.path }}</div>
            <div class="item-body">
                <pre><code>{{ item.content }}</code></pre>
            </div>
        </div>
    }

</app-dialog-box>