<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>权限列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group">
                    <label for="keywords">权限</label>
                    <input type="text" class="form-control" [value]="keywords" name="keywords" ngModel id="keywords" placeholder="权限">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a routerLink="./create" class="pull-right btn btn-primary">新增权限</a>
            </form>
        </div>
        <table class="table  table-bordered well">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>权限名</th>
                    <th>别名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.display_name }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-light btn-xs"
                                [routerLink]="'./edit/' + item.id">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="perPage" [directionLinks]="false"
            (pageChange)="tapPage()"></ngb-pagination>
    </div>
</div>