<div class="control-popup-target">
    <div class="color-icon" (click)="visible = !visible">
        <i class="iconfont icon-edit"></i>
    </div>
</div>
<div class="control-popup" [hidden]="!visible">
    <div class="control-line-group">
        <label for="">Width</label>
        <app-editor-bound-input></app-editor-bound-input>
    </div>
    <div class="control-inline-group">
        <label for="">Style</label>
        <select>
            <ng-container *ngFor="let item of styleItems">
              <option [value]="item.value">{{ item.name }}</option>
            </ng-container>
        </select>
    </div>
    <div class="control-inline-group">
        <label for="">Color</label>
        <app-editor-color-popup></app-editor-color-popup>
    </div>
    <div class="control-line-group">
        <label for="">Radius</label>
        <app-editor-radius-input></app-editor-radius-input>
    </div>
</div>
