<div class="route-bar">
    <div class="route-back-icon" (click)="tapBack()">
        <i class="iconfont icon-chevron-left"></i>
    </div>
    <div class="route-title" i18n>Edit Project</div>
</div>
<form class="form-table-control" (submit)="tapSubmit2($event)">
    <div class="panel-container">
        <div class="row">
            <div class="col-md-4">
                @if (data) {
                <div class="project-line">
                    <div class="cover">
                        <img [src]="data.cover">
                    </div>
                    <div class="name">{{ data.name }}</div>
                </div>
                }

                <div class="line-item" [class]="{active: tabIndex() < 1}">
                    文档设置
                </div>
            </div>
            <div class="col-md-8">
                    <div class="form-group">
                    <label for="name">文档名称</label>
                    <input type="text"
                        class="form-control" [formField]="dataForm.name" id="name" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="cover">封面</label>
                        <app-file-input [formField]="dataForm.cover" />
                    </div>
                    <div class="form-group">
                        <label for="description">简介</label>
                        <textarea class="form-control" [formField]="dataForm.description" id="description" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label>可见性</label>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" [formField]="dataForm.status" id="status" value="0">
                            公开
                        </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" [formField]="dataForm.status" id="status" value="1">
                            私有
                        </label>
                        </div>
                    </div>
                    @if (data && data.type > 0) {
                    <div class="form-group">
                        <label>环境域名</label>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>环境标识符</th>
                                    <th>
                                        标识符备注
                                    </th>
                                    <th>环境域名</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of dataForm.environment; track $index; let i = $index) {
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" [formField]="item.name" placeholder="例如：dev">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" [formField]="item.title" placeholder="例如：测试环境">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" [formField]="item.domain" placeholder="例如：http://zodream.cn">
                                    </td>
                                    <td>
                                        <i class="iconfont icon-close" (click)="tapRemoveItem(i)"></i>
                                    </td>
                                </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4" class="text-left">
                                        <a href="javascript:;" class="btn btn-primary" (click)="tapAddItem()">添加</a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    }


            </div>
        </div>
    </div>

    <div class="btn-group">
        <app-action-button class="btn btn-success" (tapped)="tapSubmit($event)">确认保存</app-action-button>
        <a class="btn btn-danger" (click)="tapBack()">取消修改</a>
    </div>
</form>
