<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>这是任务执行记录列表</li>
        </ul>
    </app-page-tip>

    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="zre-input-group">
                    <label for="date">日期</label>
                    <app-date-input id="date" name="date" placeholder="选择日期" [ngModel]="date"></app-date-input>
                </div>
                <div class="zre-input-group">
                    <label>区间</label>
                    <select name="type" [ngModel]="type" class="form-control">
                        <ng-container *ngFor="let item of typeItems;let i = index">
                            <option [value]="i" >{{ item }}</option>
                        </ng-container>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    </div>

    <div class="review-box">
        <ng-container *ngIf="type < 1">
            <div class="time-box">
                <div class="time-header">
                    <section *ngFor="let item of dayItems">{{ item.label }}</section>
                </div>
                <div class="time-body">
                    <ng-container *ngFor="let item of dayItems">
                        <ng-container *ngFor="let it of item.items">
                            <div class="task-item" [ngStyle]="it.style" [title]="it.task.name">
                                {{ it.task.name }}
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="type == 1">
            <div class="week-box">
                <div class="week-header">
                    <section *ngFor="let item of weekItems">{{ item.label }}</section>
                </div>
                <div class="week-body">
                    <ng-container *ngFor="let item of weekItems">
                        <ng-container *ngFor="let it of item.items">
                            <div class="task-item" [ngStyle]="it.style" [title]="it.task.name">
                                {{ it.task.name }}
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="type == 2">
            <div class="month-box">
                <div class="month-header">
                    <section>周一</section>
                    <section>周二</section>
                    <section>周三</section>
                    <section>周四</section>
                    <section>周五</section>
                    <section>周六</section>
                    <section>周日</section>
                </div>
                <div class="month-body">
                    <div class="day-item" *ngFor="let item of monthItems">
                        <span class="day-label">{{ item.label }}</span>
                        <ul class="day-box">
                            <li *ngFor="let it of item.items">
                                {{ it.task.name }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>