<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>这是任务统计列表</li>
        </ul>
    </app-page-tip>

    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group-control">
                    <label for="keywords">日期</label>
                    <app-date-input id="date" name="date" placeholder="选择日期" [ngModel]="date"></app-date-input>
                </div>
                <div class="input-group-control">
                    <label>区间</label>
                    <select name="type" [ngModel]="type" class="form-control">
                        @for (item of typeItems; track $index;let i = $index) {
                            <option [value]="i" >{{ item }}</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="input-group-control">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" name="ignore" id="ignore" [value]="1" [ngModel]="ignore">
                        忽略无效
                      </label>
                    </div>
                </div>

                <div class="tab-bar">
                    @for (item of chartItems; track $index;let i = $index) {
                        <div class="item" [ngClass]="{active: chart == i}" (click)="chart = i">
                            {{ item }}
                        </div>
                    }
                </div>
            </form>
        </div>

        @if (chart < 1) {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>日期</th>
                    <th>估计番茄钟总数</th>
                    <th>实际完成番茄钟总数</th>
                    <th>任务完成数</th>
                    <th>中断数</th>
                    <th>中止数</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>
                        {{ item.day }}<em>{{ item.week }}</em>
                    </td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.success_amount }}</td>
                    <td>{{ item.complete_amount }}</td>
                    <td>{{ item.pause_amount }}</td>
                    <td>{{ item.failure_amount }}</td>
                </tr>
                }
            </tbody>
        </table>
    
        }
        
    </div>
    @if (chart == 1) {
        <div echarts [options]="chartOption" class="chart-box"></div>
    }
    


</div>