.site-item {
    display: block;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #fafafa;
    margin-bottom: 10px;
    position: relative;
    .item-name {
        height: 30px;
        font-size: 12px;
        font-weight: 700;
        color: #30333C;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        transition: all .3s;
    }
    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        vertical-align: middle;
    }
    .item-desc {
        color: #A1A7B7;
        height: 42px;
        overflow: hidden;
    }
    .go-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 30px;
        opacity: 0;
    }
    &:hover {
        background: #6b7184;
        .item-name,
        .go-btn,
        a {
            color: #fff;
        }
        .item-desc {
            color: #c0c8dc;
        }
        .go-btn {
            bottom: 20px;
            font-size: 40px;
            opacity: 1;
        }
    }
}