<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/res" i18n>Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ data.id > 0 ? data.name : 'All categories' }}</li>
              </ol>
            </nav>
        </div>
        <div class="col-md-12">
            <div class="title-bar">
                {{ data ? data.name : 'All categories' }}
            </div>
        </div>
    </div>
</div>

@if (categories.length > 0) {
<div class="container-fluid">
    <div class="panel">
        <div class="panel-header">
            <div class="inner-header">
                {{ data ? data.name : 'All categories' }}
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                @for (item of categories; track $index) {
                <div class="col-md-3">
                    <a class="link-item" (click)="tapCategory(item)">
                        <span>{{ item.name }}</span>
                        <i class="iconfont icon-chevron-right"></i>
                    </a>
                </div>
                }
            </div>
        </div>
        <div class="panel-footer">
            <a routerLink="/res/search" [queryParams]="{category: data?.id, sort: 'new'}" i18n>Browse New</a>
            <a routerLink="/res/search" [queryParams]="{category: data?.id, sort: 'hot'}" i18n>Browse Bestsellers</a>
        </div>
    </div>
</div>
}

<div class="filter-floor">
    <div class="container-fluid">
        <div class="filter-body">
            <div class="row">
                @for (item of items; track $index) {
                    <div class="col-md-3">
                    <div class="res-item">
                        <div class="item-thumb">
                            <a [routerLink]="[item.id]"><img [src]="item.thumb|asset" alt=""></a>
                            <div class="item-hat"></div>
                        </div>
                        <div class="item-body">
                            <a class="item-name" [routerLink]="[item.id]">
                                {{ item.title }}
                            </a>
                            <div class="item-meta">
                                by <a href="">{{ item.user.name }}</a> in <a href="">{{ item.category.name }}</a>
                            </div>
                            <div class="item-action">
                                <div class="item-price">
                                    <p>
                                        @if (item.price > 0) {
                                            {{ item.price | currency }}
                                        } @else {
                                            <ng-container i18n>Free</ng-container>
                                        }
                                    </p>
                                    <p class="sale" i18n>{{ item.download_count | numberFormat }} Sales</p>
                                </div>
                                <div class="btn-group">
                                    <a class="btn btn-outline-primary">
                                        <i class="iconfont icon-shopping-cart"></i>
                                    </a>
                                    <a [routerLink]="[item.id, 'preview']" class="btn btn-primary" i18n>
                                        Live Preview
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>

        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
</div>