<div class="page-container" [ngClass]="{'page-not-thumb': !value.thumb}">
    <div class="page-header">
        <a [href]="value.link" target="_blank" rel="noopener">{{ value.title }}</a>
        <ng-container *ngIf="value.score > 80">
            <i class="iconfont icon-shield" title="此网页安全"></i>
        </ng-container>
        <ng-container *ngIf="value.score < 60">
            <i class="iconfont icon-exclamation-triangle" title="此网页存在疑问"></i>
        </ng-container>
    </div>
    <div class="page-flex-body">
        <div class="page-thumb" *ngIf="value.thumb">
            <img [src]="value.thumb" alt="">
        </div>
        <div class="page-body">
            <span class="page-time">{{ value.updated_at | ago }}</span> <span class="page-content">{{ value.description }}</span>
            <div class="page-footer">
                <a class="page-site" *ngIf="value.site" [href]="formatLink(value.site)" target="_blank" rel="noopener">
                    <div class="site-logo" *ngIf="value.site.logo">
                        <img [src]="value.site.logo" alt="">
                    </div>
                    <span class="site-name">{{ value.site.name }}</span>
                </a>
                <a class="page-site" *ngIf="!value.site" [href]="value.link" target="_blank" rel="noopener">
                    <span class="site-name">{{ formatDomain(value.link) }}</span>
                </a>
                <div class="page-action">
                    <div class="drop-icon">
                        <i class="iconfont icon-ellipsis-h"></i>
                    </div>
                    <div class="drop-body">
                        <div class="menu-body">
                            <div class="menu-item">收藏</div>
                            <div class="menu-item">分享</div>
                            <div class="menu-item">举报</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>