<div class="page-container">
    <div class="page-header">
        1123123
    </div>
    <div class="page-flex-body">
        <div class="page-thumb">
            <img src="" alt="">
        </div>
        <div class="page-body">
            <span class="page-time">6个小时前</span> <span class="page-content">213123213123213123</span>
            <div class="page-footer">
                <a class="page-site">
                    <div class="site-logo">
                        <img src="" alt="">
                    </div>
                    <span class="site-name">12312312</span>
                </a>
                <div class="page-action">
                    <div class="drop-icon">
                        <i class="iconfont icon-ellipsis-h"></i>
                    </div>
                    <div class="drop-body">
                        <div class="menu-body">
                            <div class="menu-item">收藏</div>
                            <div class="menu-item">分享</div>
                            <div class="menu-item">举报</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>