<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>执行sql语句</li>
            @if (queries.schema().value()) {
            <li>当前数据库：{{ queries.schema().value() }}</li>
            }
            @if (queries.table().value()) {
            <li>当前表：{{ queries.table().value() }}</li>
            }
        </ul>
    </app-page-tip>

    <div class="panel-container">
        <textarea class="form-control" [formField]="queries.sql"></textarea>
        <div class="btn-group">
            <div class="btn btn-danger" (click)="tapRun()">执行</div>
            <div class="btn btn-info" (click)="tapReset()">重置</div>
        </div>
    </div>

    <div class="panel-container" [hidden]="total() < 0">
        <app-editable-table [items]="items()" [action]="actionTpl" [searchable]="false" [loading]="isLoading()" 
        [page]="queries.page().value()" [total]="total()" [perPage]="queries.per_page().value()" (pageChange)="onPageChange($event)" />
    </div>
</div>

<ng-template #actionTpl>
    <div class="btn-group">
        <div class="btn btn-primary">编辑</div>
        <div class="btn btn-info">复制</div>
        <div class="btn btn-danger">删除</div>
    </div>
</ng-template>