@use '../../theme/styles/theme';
@use 'dialogue';
@use 'bag';
.game-container ::ng-deep {
   @include dialogue.dialogue-container;
   @include bag.bag-container;
    a:not([href]):not([class]),
    a:not([class]) {
        color: var(--#{theme.$prefix}link-color);
        user-select: none;
        cursor: pointer;
        &:hover {
            color: var(--#{theme.$prefix}link-hover-color);
        }
    }
}