.game-container ::ng-deep {
    @import 'dialogue';
    @import 'bag';
    a:not([href]):not([class]) {
        color: var(--bs-link-color);
        cursor: pointer;
        &:hover {
            color: var(--bs-link-hover-color);
        }
    }
}