<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>订阅管理</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [formField]="queries.keywords" placeholder="搜索关键字">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a class="btn" [class]="{'btn-danger': isMultiple(), 'btn-outline-info': !isMultiple()}" (click)="toggleMultiple()">批量操作</a>
                </div>
            </form>
        </div>
        <table class="table table-bordered well">
            <thead>
                <tr>
                    <th [hidden]="!isMultiple()">
                        <i class="checkbox" [class.checked]="isChecked()" (click)="toggleCheck()"></i>
                    </th>
                    <th>称呼</th>
                    <th>邮箱</th>
                    <th>状态</th>
                    <th>订阅时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td [hidden]="!isMultiple()">
                        <i class="checkbox" [class]="{checked: item.checked}" (click)="toggleCheck(item)"></i>
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    <td>
                        {{item.status < 1 ? '待审核' : '已通过'}}
                    </td>
                    <td [title]="item.created_at">{{ item.created_at | ago }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" [class]="{'btn-success': item.status < 1, 'btn-info': item.status == 1}" (click)="tapToggle(item)">{{ item.status < 1 ? '通过' : '下架' }}</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
             <tfoot [hidden]="!isMultiple || items().length < 1">
                <tr>
                    <td>
                        <i class="checkbox" [class.checked]="isChecked()" (click)="toggleCheck()"></i>
                    </td>
                    <td colspan="4">
                        <div class="btn-group">
                            <button class="btn btn-danger" [disabled]="checkedItems().length < 1" (click)="tapRemoveMultiple()">删除选中项（{{ checkedItems().length }}）</button>
                            <button class="btn btn-success" [disabled]="checkedItems().length < 1" (click)="tapToggle(1)">通过选中</button>
                            <button class="btn btn-info" [disabled]="checkedItems().length < 1" (click)="tapToggle(0)">下架选中</button>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [formField]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
    </div>
</div>