<div class="page-box" [class]="{'--with-flip': detailMode}">
    <div class="master-box">
        <div class="search-box">
            <div class="search-input">
                <i class="iconfont icon-search"></i>
                <input type="text" [formField]="queries.keywords" i18n-placeholder placeholder="Search related articles" (input)="tapRefresh()">
            </div>
        </div>
        <div class="filter-box">
            <div class="filter-item">
                <ul>
                    @for (item of categories(); track $index) {
                        <li [class]="{active: item.id == category()}" (click)="tapCategory(item)">
                            {{ item.name }}
                        </li>
                    }
                </ul>
            </div>
            <div class="filter-item">
                <ul>
                    @for (item of sortItems; track $index) {
                        <li [class]="{active: item.value == sort()}" (click)="tapSort(item)">
                            {{ item.name }}
                        </li>
                    }
                </ul>
            </div>
        </div>
        <app-pull-to-refresh class="items-box" (pullup)="tapRefresh()" (pulldown)="tapMore()" 
        [downDisabled]="!hasMore()" [loading]="isLoading()">
            @for (item of items(); track $index) {
                <dl class="book-item" (click)="tapItem(item)">
                    <dt>
                        <a >{{ item.title }}</a>
                        <span class="book-time">{{ item.created_at | ago }}</span></dt>
                        <dd>
                            <p>{{ item.description }}</p>
                            @if (item.user) {
                                <a class="author"><i class="iconfont icon-edit"></i><b>{{ item.user.name }}</b></a>
                            }
                            @if (item.term) {
                                <a class="category"><i
                                    class="iconfont icon-bookmark"></i><b>{{ item.term.name }}</b></a>
                            }
                            @if (item.programming_language) {
                                <a class="language"><i
                                    class="iconfont icon-code"></i><b>{{ item.programming_language }}</b></a>
                            }
                            
                            <span class="comment"><i class="iconfont icon-comments"></i><b>{{ item.comment_count }}</b></span>
                            <span class="agree"><i class="iconfont icon-thumbs-up"></i><b>{{ item.recommend_count }}</b></span>
                            <span class="click"><i class="iconfont icon-eye"></i><b>{{ item.click_count }}</b></span>
                    </dd>
                </dl>
            }
        </app-pull-to-refresh>
    </div>
    <div class="detail-box">
        @if (!data()) {
            <div class="detail-loading">

            </div>
        } @else {
            <div class="title">
                <i class="iconfont icon-arrow-left" (click)="detailMode.set(false)"></i>
                <span>{{ data().title }}</span>
            </div>
            <div class="detail-body">
                <div class="info">
                    @if (data().user) {
                        <a class="author" (click)="tapUser(data().user)"><i class="iconfont icon-edit"></i><b>{{ data().user.name }}</b></a>
                    }
                    @if (data().term) {
                        <a class="category" (click)="tapCategory(data().term)"><i class="iconfont icon-bookmark"></i><b>{{ data().term.name }}</b></a>
                    }
                    @if (data().programming_language) {
                        <a class="language" (click)="tapLanguage(data().programming_language)"><i
                            class="iconfont icon-code"></i><b>{{ data().programming_language }}</b></a>
                    }
                    
                    <span class="time"><i class="iconfont icon-calendar-check"></i><b>{{ data().created_at | ago }}</b></span>
                </div>
                <article id="content" class="content">
                    @if (data().audio_url) {
                        <app-audio-player [src]="data().audio_url" />
                    } @else if (data().video_url) {
                        <app-video-player [src]="data().video_url" />
                    }
                    <app-markdown-block [value]="content()" />
                    @if (data().url) {
                        <p class="book-copyright">
                            <ng-container i18n>Please keep the original link for reprinting:</ng-container>
                            <a [href]="data().url" [title]="data().title">{{ data().url }}</a>
                        </p>
                    }
                    
                  </article>
                  <div class="book-bottom">
                        @if (data().type == 1) {
                        <div class="book-source">
                            <span i18n>Reprinted in:</span>
                            <a [href]="data().source_url"
                                target="_blank" i18n-title title="This article is reprinted, click to view the original page">
                                {{data().source_url}} </a>
                        </div>
                        }
                        @if (data().tags) {
                        <div class="book-tags">
                            <span i18n>Tags:</span>
                            @for (tag of data().tags; track $index) {
                                <a (click)="tapTag(tag.name)">{{ tag.name }}</a>，
                            }
                       </div>
                        }
                        
                  </div>
                  <div class="tools">
                      <span class="comment"><i class="iconfont icon-comments"></i><b>{{ data().comment_count }}</b></span>
                      <span class="click"><i class="iconfont icon-eye"></i><b>{{ data().click_count }}</b></span>
                      <span class="agree recommend-blog" (click)="tapRecommend()"><i class="iconfont icon-thumbs-up"></i><b>{{ data().recommend_count }}</b></span>
                  </div>
              </div>
        }
        
        
    </div>
</div>