$leftWidth: 25rem;

@use "../../theme/styles/scrollbar";
.master-box {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $leftWidth;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.search-box {
    .search-input {
        position: relative;
        input {
            height: 2.5rem;
            border: none;
            width: 100%;
            padding-left: 1.875rem;
        }
        .iconfont {
            position: absolute;
            left: 8px;
            top: 5px;
            color: #777;
            font-size: 1.25rem;
        }
    }
}

.filter-box {
    background-color: #fff;
    margin-bottom: 0.625rem;
}

.filter-item {
    overflow-x: auto;
    @include scrollbar.scrollbar();
    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    ul {
        display: block;
        white-space: nowrap;
    }
    li {
        display: inline-block;
        padding: 0.3125rem 0.625rem;
        cursor: default;
        user-select: none;
        &.active {
            background-color: #333;
            color: #fff;
        }
    }
}

.items-box {
    flex: 1;
    overflow-y: auto;
    @include scrollbar.scrollbar();
}

.book-item {
    padding: 15px 13px 5px;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    transition: box-shadow 1s;
    background-color: #fff;
    cursor: pointer;
    a {
        text-decoration: none;
        color: #333;
    }
    dt {
        font-size: 20px;
        font-weight: 600;
        .book-time {
            float: right;
            text-align: right;
        }
    }
    dd {
        display: block;
        p {
            margin: 5px 0;
            min-height: 40px;
        }
        .author,
        .comment,
        .category,
        .language {
            margin-right: 20px;
            font-size: 12px;
        }
        .agree,
        .disagree {
            float: right;
            margin-top: 3px;
            font-size: 12px;
        }
        .book-time {
            font-size: 12px;
            width: 70px;
        }
    }
    &:hover,
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
        dd {
            display: block;
        }
    }
    &:hover {
        box-shadow: rgba(51,51,51,.7) 0 0 10px;
    }
    &:not(:last-child) {
        border-bottom: 1px solid #a10000;
        margin-bottom: 20px;
    }
    &.fade-pre-item {
        visibility: hidden;
    }
    &.fade-item {
        animation-name: fadeInLeft;
        background: #fff;
        border-bottom: none;
        visibility: visible;
    }
}

.detail-box {
    margin-left: $leftWidth;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .title {
        border-bottom: 1px solid;
        text-align: center;
        line-height: 40px;
        position: relative;
        .iconfont {
            display: none;
            position: absolute;
            left: 5px;
            top: 0;
        }
    }
    .detail-body {
        flex: 1;
        position: relative;
        overflow-y: auto;
        padding: 0 15px;
        @include scrollbar.scrollbar();
    }
    .info {
        border-bottom: 1px dotted #a10000;
        line-height: 40px;
        span,
        a {
            margin-right: 20px;
            color: #333;
        }
        .language-toggle {
            display: inline-block;
            margin-right: 20px;
            border: 1px solid #a10000;
            border-bottom: none;
            a {
                display: inline-block;
                background-color: #a10000;
                color: #fff;
                margin: 0;
                width: 40px;
                text-align: center;
                &.active {
                    background-color: #fff;
                    color: #333;
                }
            }
        }
    }
    .content {
        margin-bottom: 40px;
        overflow-y: hidden;
        a {
            color: #06a;
        }
    }
    .toggle-open {
        background-color: rgba(255, 255, 255, .9);
        line-height: 40px;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 60px;
        color: #777;
        cursor: pointer;
    }
    .tools {
        border-top: 1px dotted #a10000;
        line-height: 40px;
        bottom: 0;
        right: 15px;
        left: 15px;
        font-size: 20px;
        .agree,
        .disagree {
            float: right;
            margin-left: 20px;
        }
    }
    
    .book-source,
    .book-tags {
        font-size: 14px;
        font-weight: 100;
        margin-top: 10px;
        a {
            color: #0474c8;
            font-weight: 600;
        }
    }
    
    .book-bottom {
        margin-bottom: 20px;
    }
    
    .book-copyright {
        clear: both;
        background-color: #f2f2f2;
        font-size: 12px;
        color: #999;
        padding: 6px 15px 5px;
        border-radius: 2px;
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 769px) {
    .master-box {
        width: 100%;
        display: flex;
    }
    .detail-box {
        display: none;
        margin-left: 0;
        .title {
            .iconfont {
                display: block;
            }
        }
    }
    .detail-mode {
        .master-box {
            display: none;
        }
        .detail-box {
            display: flex;
        }
    }
}