.file-input {
    .form-control {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        display: inline-block;
        width: auto;
    }
    input[type='file'] {
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .btn {
        vertical-align: top;
        border-radius: 0;
        &:last-of-type {
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }
    }
}
.dialog-box {
    .dialog-body {
        max-height: 300px;
        overflow-y: auto;
    }
    .img-item {
        display: inline-block;
        cursor: pointer;
        box-sizing: border-box;
        img {
            width: 8em;
            height: 8em;
        }
        &.selected {
            border: 2px solid red;
            border-radius: 1em;
            img {
                border-radius: 1em;
            }
        }
    }
}