.search-box {
    margin: 0 10px;
    display: flex;
    line-height: 44px;
    border: 1px solid #ccc;
    background-color: #fff;
    input {
        padding-left: 10px;
        height: 44px;
        border: none;
        flex: 1;
        background-color: transparent;
        outline: none;
    }
    button {
        background-color: transparent;
        border: none;
        outline: none;
    }
    .iconfont {
        display: inline-block;
        width: 44px;
        text-align: center;
    }
}
.main-box {
    padding-top: 40vh;
    &.fixed-top {
        .search-box {
            position: fixed;
            left: 0;
            right: 0;
        }
    }
}
.two-grid {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-top: 0.9375rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
}
.video-item {
    .cover {
        img {
            width: 100%;
        }
    }
    .user {
        position: relative;
        padding-left: 60px;
        .avatar {
            position: absolute;
            left: 10px;
            top: 0;
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
        .name {
            line-height: 40px;
        }
    }
}