<div class="panel-shell">
    <div class="shell-bar">
        <app-mobile-bar></app-mobile-bar>
    </div>
    <div class="shell-bottom">
        <div class="btn-group">
            <div class="btn btn-primary">背景色</div>
            <div class="btn btn-info">背景图</div>
        </div>
        <div class="drapdrop">
            <i class="iconfont icon-arrow-down"></i>
            拖动调节高度
            <i class="iconfont icon-arrow-up"></i>
        </div>
    </div>
    <div class="tab-bar-toggle">
        <i class="iconfont icon-plus"></i>
        显示底部导航
    </div>
</div>