.panel-shell {
    bottom: -2.75em;
    position: absolute;
    left: -1em;
    top: -4.6em;
    right: -1em;
    background-color: #fdfdfd;
    border-radius: .2em;
    border: 2px dashed #d9d9d9;
    user-select: none;
    &.shell-full {
        bottom: -5.5em;
    }
}
.shell-bar {
    position: absolute;
    top: 12px;
    left: 13px;
    right: 13px;
    pointer-events: all;
    box-shadow: 0 0 0 1px #d9d9d9;
    cursor: pointer;
}
.shell-bottom {
    position: absolute;
    bottom: 5px;
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: all;
    
    padding: 0 12px;
    .drapdrop {
        cursor: ns-resize;
        user-select: none;
    }
}
.tab-bar-toggle {
    pointer-events: all;
    position: absolute;
    bottom: 3em;
    right: -10em;
    display: flex;
    align-items: center;
    cursor: pointer;
    .iconfont {
        display: inline-block;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 50%;
        background-color: #f5f8fb;
        color: #333;
    }
}

.tab-bar-box {
    position: absolute;
    bottom: 2.75em;
    left: 13px;
    right: 13px;
    height: 2.75em;
    pointer-events: all;
    // box-shadow: 0 0 0 1px #d9d9d9;
    cursor: pointer;
}