<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>管理文章列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="zre-input-group">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a class="btn btn-success pull-right" routerLink="create">新增文章</a>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th *ngFor="let item of columnItems;let i = index" [ngClass]="{'auto-hide': i > 3}">{{ item.label }}</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td *ngFor="let key of columnItems;let i = index" [ngClass]="{'auto-hide': i > 3}">
                        {{ formatColumn(item, key) }}
                    </td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-info" *ngIf="model && model.child_model" [routerLink]="['../../', model.child_model, item.id]">分集</a>
                            <a class="btn btn-success" *ngIf="item.comment_count > 0" [routerLink]="['comment', item.id]">评论</a>
                            <a class="btn btn-light" [routerLink]="['edit', item.id]">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
  
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
</div>