<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>管理文章列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a class="btn btn-success pull-right" routerLink="create">新增文章</a>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    @for (item of columnItems; track $index; let i = $index) {
                    <th [ngClass]="{'auto-hide': i > 3}">{{ item.label }}</th>
                    }
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    @for (key of columnItems; track $index; let i = $index) {
                    <td [ngClass]="{'auto-hide': i > 3}">
                        {{ formatColumn(item, key) }}
                    </td>
                    }
                    <td>
                        <div class="btn-group  btn-group-xs">
                            @if (model && model.child_model) {
                            <a class="btn btn-info" [routerLink]="['../../', model.child_model, item.id]">分集</a>
                            }
                            @if (item.comment_count > 0) {
                            <a class="btn btn-success" [routerLink]="['comment', item.id]">评论</a>
                            }
                            <a class="btn btn-light" [routerLink]="['edit', item.id]">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
  
        <app-pagination [total]="total" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
    </div>
</div>