<ul class="tree-box">
    @for (item of items(); track $index) {
        <ng-container *ngTemplateOutlet="fileItemTpl;context: {$implicit: item}" />
    }
</ul>
<ng-template #fileItemTpl let-file>
    @if (file) {
        @if (file.type < 1) {
            <li class="tree-parent" [ngClass]="{open: file.open}"><div class="name" (click)="toggleOpen(file)"> <i class="iconfont" [ngClass]="{'icon-folder-open-o': file.open, 'icon-folder-o': !file.open}"></i>{{ file.name }}</div>
                @if (file.children) {
                <ul>
                    @for (it of file.children; track $index) {
                        <ng-container *ngTemplateOutlet="fileItemTpl;context: {$implicit: it}" />
                    }
                </ul>
                }
            </li>
        } @else {
            <li><div class="tree-name"><i class="iconfont icon-file-o"></i>{{ file.name }}</div></li>
        }
    }
</ng-template>

