:host {
    display: block;
    
}
.tree-box {
    list-style: none;
    li {
        line-height: 1.875rem;
        .name {
            cursor: pointer;
            user-select: none;
        }
        .iconfont {
            margin-right: .5rem;
        }
    }
    ul {
        display: none;
        list-style: none;
        margin-left: 2.5rem;
        padding-left: 0;
    }
    .tree-parent {
        &.open {
            >ul {
                display: block;
            }
        }
    }
}