@if (thread()) {
<div class="container tablet-collapse">
    <ul  class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/" class="iconfont icon-home"></a>
        </li><li class="breadcrumb-item">
            <a routerLink="../../" i18n>Home</a>
        </li>
        @for (item of thread().path; track $index) {
            <li class="breadcrumb-item">
            <a [routerLink]="'../../' + item.id">{{ item.name }}</a>
            </li>
        }

        <li class="breadcrumb-item active">{{ thread().title }}
        </li>
    </ul>
</div>
}


<div class="container">
    <div class="thread-box">
        @if (thread()) {
        <div class="thread-title-bar" [class]="{'thread-highlight': thread().is_highlight}">
            <div class="item-count">
                <span i18n>View: {{ thread().view_count | numberFormat }}</span>
                <span i18n>Reply: {{ thread().post_count | numberFormat }}</span>
            </div>
            <div class="item-title">
                @if (thread().is_closed) {
                    <i class="iconfont icon-lock" i18n-title title="Thread is closed "></i>
                } @else {
                    <i class="iconfont icon-file-o"></i>
                }
                @if (thread().classify) {
                <em class="tag-item">
                    [<a>{{ thread().classify.name }}</a>]
                </em>
                }

                <span class="title-text">{{ thread().title }} </span>
                @if (thread().is_digest) {
                    <i class="iconfont icon-fire"></i>
                }

                @if (thread().is_new) {
                    <a class="new-tag">New</a>
                }
                <div class="pull-right">
                    @if (queries.order().value() != 'desc') {
                        <i class="iconfont icon-sort-alpha-desc" i18n-title title="Backwards browse" (click)="tapSortOrder()"></i>
                    } @else {
                        <i class="iconfont icon-sort-alpha-asc" i18n-title title="Browse in order" (click)="tapSortOrder()"></i>
                    }
                    <select [formField]="queries.status" class="form-control" (change)="onStatusChange()">
                        @for (item of statusItems.items; track $index) {
                        <option [value]="item.value">{{ item.name }}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        }

        <div class="post-list">
            @for (item of items(); track $index) {
                @if (item.grade < 1) {
                    <div class="post-item">
                    <div class="item-user-header" (mouseover)="loadUser(item)" (mouseleave)="item.is_hover_user = false" [class]="{'--with-open': item.is_hover_user}">
                        <ng-container *ngTemplateOutlet="userTpl;context: {$implicit: item.user}" />
                    </div>
                    <div class="item-body">
                        <div class="item-header">
                            <i class="iconfont icon-user"></i>
                            <ng-container i18n>Published {{ item.created_at | ago }} </ng-container>
                            <i class="split">|</i>
                            @if (queries.user().value() < 1) {
                                <a (click)="tapSeeUser(item.user_id)" i18n>Only author</a>
                            } @else {
                                <a (click)="tapSeeUser(0)" i18n>Back to all</a>
                            }


                            <div class="action">
                            </div>
                        </div>
                        <div class="last-time" i18n>Last edit {{ item.updated_at | ago }}</div>
                        <div class="item-content">
                            <app-post-block [value]="item.content" (tapped)="tapBlock($event, item)" />
                        </div>
                        <div class="item-action-bar">
                            @if (thread().like_type == 1) {
                                <div class="action-btn active" i18n-title title="Cancel Like" (click)="toggleLike()">
                                    <i class="iconfont icon-thumbs-o-up"></i>
                                </div>
                            } @else {
                                <div class="action-btn" i18n-title title="Like" (click)="toggleLike()">
                                    <i class="iconfont icon-thumbs-o-up"></i>
                                </div>
                            }
                            <div class="action-btn"  [class]="{active: thread().is_reward}" i18n-title title="Reward" (click)="tapReward(rewardModal)" i18n>
                                {thread().is_reward, plural, =true {Rewarded} =false {Reward}}
                            </div>
                            @if (thread().is_collected) {
                                <div class="action-btn active" i18n-title title="Cancel Collect" (click)="toggleCollect()">
                                    <i class="iconfont icon-heart"></i>
                                </div>
                            } @else {
                                <div class="action-btn" i18n-title title="Collect" (click)="toggleCollect()">
                                    <i class="iconfont icon-heart-o"></i>
                                </div>
                            }
                        </div>
                        <div class="item-footer">
                            <app-command-bar [flowLeft]="true">
                                @if (user()) {
                                    <app-command-button icon="icon-undo" label="Reply" i18n-label (tapped)="tapReply(item)" />
                                }
                                @if (thread().digestable || thread().highlightable || thread().closeable || thread().topable) {
                                    <app-command-button icon="icon-edit" label="Edit" i18n-label (tapped)="open(modal)" />
                                }
                            </app-command-bar>
                        </div>
                    </div>
                </div>
                } @else {
                    <div class="post-item">
                    <div class="item-user-header" (mouseover)="loadUser(item)" (mouseleave)="item.is_hover_user = false" [class]="{'--with-open': item.is_hover_user}">
                        <ng-container *ngTemplateOutlet="userTpl;context: {$implicit: item.user}" />
                    </div>
                    <div class="item-body">
                        <div class="item-header">
                            <i class="iconfont icon-user"></i>
                                <ng-container i18n>Published {{ item.created_at | ago }} </ng-container>
                            <i class="split">|</i>
                            @if (queries.user().value() < 1) {
                                <a (click)="tapSeeUser(item.user_id)" i18n>Only author</a>
                            } @else {
                                <a (click)="tapSeeUser(0)" i18n>Back to all</a>
                            }
                            <div class="action" i18n>
                                {{ item.grade }} floor
                            </div>
                        </div>
                        <div class="item-content">
                            @if (item.status > 0) {
                                <div class="stamp">{{ formatStatus(item) }}</div>
                            }
                            <app-post-block [value]="item.content" [readable]="item.is_public_post" (tapped)="tapBlock($event, item)" />
                          </div>
                        <div class="item-footer">
                            <app-command-bar [flowLeft]="true">
                                @if (user() && item.is_public_post) {
                                    <app-command-button icon="icon-undo" label="Reply" i18n-label (tapped)="tapReply(item)" />
                                }
                                @if (thread().editable) {
                                    <app-command-button icon="icon-edit" label="Edit" i18n-label (tapped)="tapChange(statusModal, item)" />
                                }
                                @if (item.deleteable) {
                                    <app-command-button icon="icon-trash" label="Delete" i18n-label (tapped)="tapRemove(item)" />
                                }
                            </app-command-bar>
                        </div>
                    </div>
                </div>
                }
            }

        </div>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <div class="paging-box">
            <app-pagination [total]="total()" [formField]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
        </div>
        @if (user() && thread() && !thread().is_closed) {
        <div class="post-item --with-new">
            <div class="item-user-header">
                <div class="control-name">{{ user().name }}</div>
                <div class="control-avatar">
                    <img [src]="user().avatar" alt="">
                </div>
            </div>
            <div id="post-editor" class="item-body">
                <form (submit)="tapSubmit2($event)">
                    <app-forum-editor [formField]="dataForm.content" i18n-placeholder placeholder="Please input content" />
                    <div class="item-footer">
                        <app-action-button class="btn btn-primary" [disabled]="dataForm().invalid()" (tapped)="tapSubmit($event)" i18n>Post Reply</app-action-button>
                    </div>
                </form>
            </div>
        </div>
        }

    </div>
</div>

<ng-template #userTpl let-user>
    <div class="user-inner-pane">
        <div class="control-name">{{ user.name }}
            @if (user.card_items && user.card_items.length > 0) {
            <div class="card-more">
                @for (it of user.card_items; track $index) {
                <a>
                    <img [src]="it.icon|asset" [alt]="it.name" i18n-title [title]="it.name + ' Valid until' + it.expired_at">
                </a>
                }
            </div>
            }
        </div>
        <div class="control-avatar">
            <img [src]="user.avatar" alt="">
        </div>
        <div class="user-meta-body">
            @if (user.count_items && user.count_items.length > 0) {
            <div class="count-bar">
                @for (it of user.count_items; track $index) {
                <div class="count-item">
                    <div class="count">{{ it.count | numberFormat }}</div>
                    <span>{{ it.name }}</span>
                </div>
                }
            </div>
            }
            @if (user.medal_items && user.medal_items.length > 0) {
            <div class="meta-more">
                @for (it of user.medal_items; track $index) {
                <a>
                    <img [src]="it.icon|asset" [alt]="it.name">
                </a>
                }
            </div>
            }
        </div>
    </div>
</ng-template>


<app-dialog-box #modal i18n-title title="Edit">
    @if (thread()) {
        @if (thread().topable) {
        <div class="link-item">
            <div class="label" i18n>Topest</div>
            <div class="value">
                <app-switch [formField]="editForm.top_type" />
            </div>
        </div>
        }

        @if (thread().digestable) {
        <div class="link-item">
            <div class="label" i18n>Digest</div>
            <div class="value">
                <app-switch [formField]="editForm.is_digest" />
            </div>
        </div>
        }

        @if (thread().highlightable) {
        <div class="link-item">
            <div class="label" i18n>Highlight</div>
            <div class="value">
                <app-switch [formField]="editForm.is_highlight" />
            </div>
        </div>
        }

        @if (thread().closeable) {
        <div class="link-item">
            <div class="label" i18n>Close</div>
            <div class="value">
                <app-switch [formField]="editForm.is_closed" />
            </div>
        </div>
        }

        <div class="form-group">
            <label for="remark" i18n>Operating Instructions*</label>
            <textarea class="form-control" id="remark" [formField]="editForm.remark"></textarea>
        </div>
    }
</app-dialog-box>

<app-dialog-box #rewardModal [scrollable]="false" i18n-title title="Reward">
    <div class="link-item">
        <div class="label" i18n>Amount</div>
        <div class="value">
            <input type="number" class="form-control" [formField]="rewardForm.amount">
        </div>
    </div>
</app-dialog-box>

<app-dialog-box #statusModal [scrollable]="false" i18n-title title="Modify Status">
    <app-check-input [source]="statusItems" [formField]="statusForm.selected" />
</app-dialog-box>
