.thread-title,
.post-item {
    display: grid;
    grid-template-columns: 160px 1fr;
    .count,
    .post-user {
        background-color: #E5EDF2;
    }
    .title,
    .post-content {
        background-color: #fff;
    }
}

.post-item {
    border-bottom: 4px solid #f4f4f4;
    .post-user {
        text-align: center;
        position: relative;
        min-height: 10rem;
    }
    .avatar {
        img {
            width: 7.5rem;
        }
    }
    .post-content .header,
    .post-user .name {
        line-height: 30px;
        border-bottom: 1px dotted #ccc;
    }
    .post-content {
        position: relative;
        padding-bottom: 30px;
        .header {
            padding: 0 20px;
            .action {
                float: right;
            }
        }
        .content {
            padding: 0 20px;
            word-break: break-word;
            a {
                color: #369;
            }
        }
        .last-time {
            text-align: right;
            color: #888;
        }
        .footer {
            padding: 0 20px;
            border-top: 1px dotted #888;
            position: absolute;
            width: 100%;
            bottom: 0;
            line-height: 30px;
            a {
                padding-right: 10px;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    .post-action {
        text-align: center;
        padding: .8em 0;
    }
    &.post-new {
        .post-content {
            .footer {
                position: static;
            }
        } 
        
    }
}
.thread-title {
    border-bottom: 4px solid #f4f4f4;
    line-height: 40px;
    .count {
        text-align: center;
    }
    .pull-right {
        float: right;
        .form-control {
            width: auto;
            display: inline-block;
            min-width: auto;
        }
    }
    .title-text {
        color: #333;
    }
    .title {
        padding-left: 20px;
        .icon-arrow-up {
            color: #ffaa00;
        }
        .iconfont,
        .tag-item,
        .title {
            margin-right: .5rem;
        }
        .icon-fire {
            color: red;
        }
        .tag-item {
            color: #007CD5;
            display: inline-block;
            font-style: normal;
            a {
                color: #007CD5; 
            }
        }
        .icon-lock {
            color: #fcb716;
        }
        .new-tag {
            color: #F26C4F;
            text-decoration: none;
            font-weight: 400;
            font-size: 12px;
        }
    }
    &.thread-highlight {
        .title-text {
            color: #a10000;
            font-weight: 700;
            a {
                color: #a10000;
            }
        }
    }
}

.split {
    margin: 0 5px;
    color: #CCC;
    font-style: normal;
}

.link-item {
    display: flex;
    justify-content: space-between;
    line-height: 2.5rem;
}


.stamp {
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(30deg);
    color: rgba($color: #ccc, $alpha: .4);
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.75rem;
    height: 3.75rem;
    font-size: 1.25rem;
    border-radius: 50%;
    transition: transform 2s;
}

.action-btn {
    display: inline-flex;
    width: 2.5em;
    height: 2.5em;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #0d6efd;
    border: 1px solid;
    cursor: pointer;
    &.active {
        background-color: #a10000;
        color: #fff;
    }
    &:hover {
        box-shadow: rgba(51,51,51,.7) 0 0 0.625rem;
    }
}

.user-inner-box {
    .count-bar {
        display: none;
        margin-top: 10px;
        .count-item {
            flex: 1;
            text-align: center;
            font-size: 12px;
            &:not(:last-of-type) {
                border-right: 1px solid #ccc;
            }
        }
    }
    .meta-more {
        text-align: left;
        margin: 0 .8rem 1rem;
        a {
            margin: .2rem;
        }
        .iconfont {
            font-size: 1.1rem;
        }
        img {
            width: 1rem;
            max-height: 1rem;
        }
    }
}

.open {
    position: relative;
    .user-inner-box {
        position: absolute;
        width: 20rem;
        min-height: 10rem;
        background-color: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        padding: 2rem .8rem .8rem 6.6rem;
        border-radius: .25rem;
        z-index: 88;
        .avatar {
            position: absolute;
            left: .8rem;
            top: .8rem;
            img {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
            }
        }
        .name {
            position: absolute;
            left: 6.6rem;
            top: .8rem;
            border-bottom: none !important;
        }
        .count-bar {
            display: flex;
        }
        .meta-more {
            margin: 0 -.2rem;
        }
    } 
}

@media screen and (max-width: 769px) {
    .thread-box {
        .thread-title {
            display: block;
            .count {
                display: none;
            }
        }
    }
    
    .post-item {
        display: block;
        position: relative;
        .post-user {
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 55;
            background-color: transparent;
            .name {
                border: none;
            }
            .avatar {
                width: 40px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &.open {
                z-index: 66;
                .avatar {
                    img {
                        width: 5rem;
                        height: 5rem;
                    }
                }
            }
        }
        .post-content {
            .header {
                padding: 0 0 0 80px;
                font-size: 12px;
            }
            .content {
                padding: 0 0 0 45px;
                min-height: 40px;
            }
        }
    }
    .post-new {
        .post-user {
            display: none;
        }
    }
}