@use '../../../theme/theme';

.thread-title-bar,
.post-item {
   display: block;
   position: relative;
    .item-count,
    .item-user-header {
        background-color: var(--#{theme.$prefix}tertiary);
    }
    .item-title,
    .item-body {
        background-color: var(--#{theme.$prefix}panel);
    }
}

.post-item {
    border-bottom: 4px solid var(--#{theme.$prefix}body);
    .item-user-header {
        text-align: center;
        position: absolute;
        top: 0;
        background-color: transparent;
        .control-name {
            line-height: 1.875rem;
        }
        .control-avatar {
            width: 2.5rem;
            img {
                width: 100%;
                height: 100%;
                border-radius: .25rem;
            }
        }
    }
    
    .item-body .item-header,
    .item-user-header .name {
        line-height: 1.875rem;
        border-bottom: 1px dotted var(--#{theme.$prefix}border);
    }
    .item-body {
        position: relative;
        padding-bottom: 1.875rem;
        
        .last-time {
            text-align: right;
            color: var(--#{theme.$prefix}meta-text);
        }
        
        app-command-bar {
            display: inline-block;
        }
    }
    .item-header {
        padding: 0 0 0 5rem;
        font-size: .75rem;
        color: var(--#{theme.$prefix}meta-text);
        .action {
            float: right;
        }
    }
    .item-content {
        padding: 0 0 0 2.8125rem;
        min-height: 2.5rem;
        word-break: break-word;
    }
    .item-footer {
        padding: 0;
        position: absolute;
        width: 100%;
        bottom: 0;
        line-height: 1.875rem;
        text-align: right;
    }
    .item-action-bar {
        text-align: center;
        padding: .8em 0;
    }
    
}
.--with-new {
    .item-user-header {
        display: none;
    }
    .item-footer {
        position: static;
    }
}
.thread-title-bar {
    border-bottom: 4px solid var(--#{theme.$prefix}body);
    line-height: 3rem;
    .item-count {
        text-align: center;
        display: none;
    }
    .pull-right {
        float: right;
        .form-control {
            width: auto;
            display: inline-block;
            min-width: auto;
        }
    }
    .title-text {
        color: #333;
    }
    .item-title {
        padding-left: 20px;
        .icon-arrow-up {
            color: var(--#{theme.$prefix}warning);
        }
        .iconfont,
        .tag-item,
        .title {
            margin-right: .5rem;
        }
        .icon-fire {
            color: var(--#{theme.$prefix}danger);
        }
        .tag-item {
            color: var(--#{theme.$prefix}link-text);
            display: inline-block;
            font-style: normal;
        }
        .icon-lock {
            color: var(--#{theme.$prefix}warning);
        }
        .new-tag {
            color: var(--#{theme.$prefix}primary);
            text-decoration: none;
            font-weight: 400;
            font-size: 12px;
        }
    }
    &.thread-highlight {
        .title-text {
            color: var(--#{theme.$prefix}danger);
            font-weight: 700;
            a {
                color: var(--#{theme.$prefix}danger);
            }
        }
    }
}

.split {
    margin: 0 5px;
    color: var(--#{theme.$prefix}meta-text);
    font-style: normal;
}

.link-item {
    display: flex;
    justify-content: space-between;
    line-height: 2.5rem;
}


.stamp {
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(30deg);
    color: rgba(var(--#{theme.$prefix}body-text-rgb), $alpha: .4);
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.75rem;
    height: 3.75rem;
    font-size: 1.25rem;
    border-radius: 50%;
    transition: transform 2s;
}

.action-btn {
    display: inline-flex;
    width: 2.5em;
    height: 2.5em;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--#{theme.$prefix}link-text);
    border: 1px solid;
    cursor: pointer;
    &.active {
        background-color: var(--#{theme.$prefix}danger);
        color: var(--#{theme.$prefix}danger-text);
    }
    &:hover {
        box-shadow: rgba(var(--#{theme.$prefix}mask-rgb),.7) 0 0 0.625rem;
    }
}

.user-inner-pane {
    .count-bar {
        display: none;
        margin-top: 10px;
        .count-item {
            flex: 1;
            text-align: center;
            font-size: 12px;
            &:not(:last-of-type) {
                border-right: 1px solid var(--#{theme.$prefix}border);
            }
        }
    }
    .card-more {
        display: none;
        a {
            margin: .2rem;
        }
        .iconfont {
            font-size: 1.1rem;
        }
        img {
            width: 1rem;
            max-height: 1rem;
        }
    }
    .meta-more {
        text-align: left;
        margin: 0 .8rem 1rem;
        a {
            margin: .2rem;
        }
        .iconfont {
            font-size: 1.1rem;
        }
        img {
            width: 1rem;
            max-height: 1rem;
        }
    }
}

.item-user-header {
    z-index: 55;
}

.--with-open {
    position: relative;
    z-index: 66;
    .user-inner-pane {
        position: absolute;
        width: 20rem;
        min-height: 10rem;
        background-color: var(--#{theme.$prefix}panel);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        padding: 2rem .8rem .8rem 6.6rem;
        border-radius: .25rem;
        z-index: 88;
        .control-avatar {
            position: absolute;
            left: .8rem;
            top: .8rem;
            img {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
            }
        }
        .control-name {
            position: absolute;
            left: 6.6rem;
            top: .8rem;
            border-bottom: none;
        }
        .card-more {
            display: inline-block;
        }
        .count-bar {
            display: flex;
        }
        .meta-more {
            margin: 0 -.2rem;
        }
    } 
}

@media (min-width: 48rem) {
    .thread-title-bar,
    .post-item {
        display: grid;
        grid-template-columns: 10rem 1fr;
    }
    .thread-title-bar {
        .item-count {
            display: inline-flex;
            justify-content: center;
            gap: .4rem;
            font-size: .8rem;
        }
    }
    .post-item {
        .item-user-header {
            position: relative;
            min-height: 10rem;
            top: auto;
            z-index: auto;
            background-color: var(--#{theme.$prefix}tertiary);
            .control-name {
                border-bottom: 1px dotted var(--#{theme.$prefix}border);
            }
            .control-avatar {
                width: auto;
                text-align: center;
                img {
                    width: 7.5rem;
                    border-radius: .75rem;
                }
            }
        }
        .item-header {
            padding: 0 1.25rem;
            font-size: 1rem;
        }
        .item-content {
            padding: 0 1.25rem;
        }
        .item-footer {
            padding: 0 1.25rem;
            border-top: 1px dotted var(--#{theme.$prefix}border);
        }
    }
    
    .--with-open {
        position: relative;
        .user-inner-pane {
            .control-avatar {
                left: .8rem;
                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }
        }
    }
    .--with-new {
        .item-user-header {
            display: block;
        }
    }
}