@use '../../../../../../bootstrap/desktop/step';

.amount-box {
    text-align: right;
    color: #999;
    .price {
        min-width: 100px;
        display: inline-block;
        color: #b4a078;
    }
}

.radio-label {
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    min-width: 150px;
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
    &.checked {
        background-color: #3498db;
        color: #fff;
    }
}