<app-page-tip>
    <ul>
        <li>添加订单</li>
    </ul>
</app-page-tip>

<div class="panel-container">
    <div class="step-header">
        <a class="step-item" [class]="{active: stepIndex < 1}">
            <span class="step-badge">1</span>
            <span class="step-title">选择账户</span>
            <i class="step-line"></i>
        </a>
        <a class="step-item" [class]="{active: stepIndex == 1}">
            <span class="step-badge">2</span>
            <span class="step-title">选择收货地址</span>
            <i class="step-line"></i>
        </a>
        <a class="step-item" [class]="{active: stepIndex == 2}">
            <span class="step-badge">3</span>
            <span class="step-title">选择商品</span>
            <i class="step-line"></i>
        </a>
        <a class="step-item" [class]="{active: stepIndex == 3}">
            <span class="step-badge">4</span>
            <span class="step-title">选择优惠</span>
            <i class="step-line"></i>
        </a>
        <a class="step-item" [class]="{active: stepIndex == 4}">
            <span class="step-badge">5</span>
            <span class="step-title">选择配送/支付方式</span>
            <i class="step-line"></i>
        </a>
        <a class="step-item" [class]="{active: stepIndex > 4}">
            <span class="step-badge">6</span>
            <span class="step-title">下单成功</span>
        </a>
    </div>

    <div class="step-body min-body" [hidden]="stepIndex > 0">
        <app-user-picker [field]="user" />

        <button class="btn btn-primary" [disabled]="invalid" (click)="tapNext()">下一步</button>
    </div>
    <div class="step-body" [hidden]="stepIndex != 1">
        <app-address-picker [field]="address" [user]="user?.id" />

        <div class="btn-group">
            <div class="btn btn-info" (click)="tapPrevious()">上一步</div>
            <button class="btn btn-primary" [disabled]="invalid" (click)="tapNext()">下一步</button>
        </div>
    </div>
    <div class="step-body" [hidden]="stepIndex != 2">
        <div class="items-table">
            <a class="btn btn-primary" (click)="tapAddGoods()">添加商品</a>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>商品名称</th>
                        <th>货号</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>总价</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of goodsItems; track $index; let i = $index) {
                    <tr>
                        <td>
                            <img [src]="item.goods.thumb" width="50" height="50" align="left">
                            <a href="">{{ item.goods.name }}</a> <br>
                            <small>{{ item.attribute_value }}</small>
                        </td>
                        <td>{{ item.goods.series_number }}</td>
                        <td>
                            <span class="text-red">{{ item.price }}</span>
                        </td>
                        <td>
                            <app-number-input [field]="item.amount" (ngModelChange)="onAmountChange()" />
                        </td>
                        <td>
                            <span class="text-red">{{ item.price * item.amount }}</span>
                        </td>
                        <td>
                            <i class="iconfont icon-close" (click)="tapRemoveGoods(i)"></i>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="btn-group">
            <div class="btn btn-info" (click)="tapPrevious()">上一步</div>
            <button class="btn btn-primary" [disabled]="invalid" (click)="tapNext()">下一步</button>
        </div>
    </div>
    <div class="step-body" [hidden]="stepIndex != 3">
        <app-coupon-picker [field]="coupon" [user]="user?.id" />

        <div class="btn-group">
            <div class="btn btn-info" (click)="tapPrevious()">上一步</div>
            <button class="btn btn-primary" [disabled]="invalid" (click)="tapNext()">下一步</button>
        </div>
    </div>
    <div class="step-body" [hidden]="stepIndex != 4">
        <div class="shipping-box">
            <h4>配送方式：</h4>
            @for (item of shippingItems; track $index) {
                <span class="radio-label" [class]="{checked: shipping && item.id == shipping.id}" (click)="shippingChanged(item)">
                    <i class="iconfont" [class]="{'icon-check': shipping && item.id == shipping.id, 'icon-circle': !shipping || item.id != shipping.id}"></i>
                    {{ item.name }}
                </span>
            }
        </div>
        <div class="payment-box">
            <h4>支付方式：</h4>
            @for (item of paymentItems; track $index) {
                <span class="radio-label" [class]="{checked: payment && item.id == payment.id}" (click)="paymentChanged(item)">
                    <i class="iconfont" [class]="{'icon-check': payment && item.id == payment.id, 'icon-circle': !payment || item.id != payment.id}"></i>
                    {{ item.name }}
                </span>
            }
        </div>

        <div class="btn-group">
            <div class="btn btn-info" (click)="tapPrevious()">上一步</div>
            <app-action-button class="btn btn-primary" [disabled]="invalid" (tapped)="tapCheckout($event)">下一步</app-action-button>
        </div>
    </div>
    @if (stepIndex > 4) {
    <div class="step-body min-body">
        <div class="step-tip">
            <i class="iconfont icon-check"></i>
            下单成功
        </div>
    </div>
    }
    @if (order) {
    <div class="amount-box">
        <div>商品合计:
            <span class="price">￥{{ order.goods_amount || 0 }}</span>
        </div>
        <div>运费:
            <span class="price">￥{{ order.shipping_fee || 0 }}</span>
        </div>
        <div>应付总额:
            <span class="price">￥{{ order.order_amount || 0 }}</span>
        </div>
    </div>
    }
</div>

<app-search-dialog [multiple]="true" [propertyVisible]="true" />