@use '../../../../theme/theme';
.dialog-box {
    width: 20rem;
    margin-left: -10rem;
    margin-top: -12.5rem;
    .icon-close {
        position: absolute;
        font-size: 1.875rem;
        right: 0;
        top: 0;
        color: var(--#{theme.$prefix}input-icon);
    }
}
@media screen and (max-width: 43.75rem) {
    .dialog-box {
        left: 50%;
    }
}

@media screen and (max-width: 20rem) {
    .dialog-box {
        width: 100%;
        left: 0;
        margin-left: 0;
    }
}