.request-tr {
    display: grid;
    grid-template-columns: 100px 1fr 80px 60px 1fr 1fr 60px;
}
.response-tr {
    display: grid;
    grid-template-columns: 140px 1fr 80px 1fr 1fr 60px;
}
.form-control {
    display: inline-block;
    padding: 0.375rem 0.35rem;
}
select {
    width: 80px;
}

.line-name {
    .form-control {
        width: 80px;
    }
}
.switch-input {
    padding-top: 7px;
    font-size: 12px;
    text-align: center;
}