<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>留言列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [formField]="queries.keywords" placeholder="搜索关键字">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="pull-right">
                    <a class="btn" [class]="{'btn-danger': isMultiple(), 'btn-outline-info': !isMultiple()}" (click)="toggleMultiple()">批量操作</a>
                </div>
            </form>
        </div>
        <table class="table table-bordered well">
            <thead>
                <tr>
                    <th [hidden]="!isMultiple()">
                        <i class="checkbox" [class.checked]="isChecked()" (click)="toggleCheck()"></i>
                    </th>
                    <th (click)="tapSort('id')">
                        ID
                        <i class="iconfont" [class]="{'icon-sort-alpha-desc': queries.sort().value() == 'id' && queries.order().value() != 'asc', 'icon-sort-alpha-asc': queries.sort().value() == 'id' && queries.order().value() == 'asc'}"></i>
                    </th>
                    <th>称呼</th>
                    <th class="auto-hide">邮箱</th>
                    <th class="auto-hide">联系方式</th>
                    <th>显示状态</th>
                    <th>状态</th>
                    <th class="auto-hide">留言时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track item.id) {
                    <tr>
                        <td [hidden]="!isMultiple()">
                            <i class="checkbox" [class]="{checked: item.checked}" (click)="toggleCheck(item)"></i>
                        </td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td class="auto-hide">{{ item.email }}
                        </td>
                        <td class="auto-hide">
                            {{ item.phone }}
                        </td>
                        <td>
                            <app-switch [(value)]="item.open_status" (valueChange)="onOpenToggle(item)" />
                        </td>
                        <td>{{ formatStatus(item.status) }}</td>
                        <td class="auto-hide">{{ item.created_at | ago }}</td>
                        <td>
                            <div class="btn-group  btn-group-xs">
                                <a class="btn btn-info btn-xs"
                                    (click)="tapView(modal, item)">查看</a>
                                <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot [hidden]="!isMultiple() || items().length < 1">
                <tr>
                    <td>
                        <i class="checkbox" [class.checked]="isChecked()" (click)="toggleCheck()"></i>
                    </td>
                    <td colspan="4">
                        <button class="btn btn-danger" [disabled]="checkedItems().length < 1" (click)="tapRemoveMultiple()">删除选中项（{{ checkedItems().length }}）</button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [formField]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
    </div>
</div>


<app-dialog-box #modal [buttonVisible]="false" [title]="'反馈详情(' + editModel().id + ')'">
    <div class="line-row-item">
        <span class="item-label">称呼：</span>
        <span class="item-body">{{ editModel().name }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">邮箱：</span>
        <span class="item-body">{{ editModel().email }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">联系方式：</span>
        <span class="item-body">{{ editModel().phone }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">留言时间：</span>
        <span class="item-body">{{ editModel().created_at | ago }}({{ editModel().created_at }})</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">反馈内容：</span>
        <span class="item-body">{{ editModel().content }}</span>
    </div>
    @if (editModel().status < 1) {
    <ng-container name="footer">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" (click)="modal.close(1)">已阅</button>
            <button type="button" class="btn btn-info" (click)="modal.close(2)">已处理</button>
            <button type="button" class="btn btn-danger" (click)="modal.close(3)">已忽略</button>
        </div>
    </ng-container>
    }
    
</app-dialog-box>