<ul class="menu-body" [ngClass]="{'menu-flow-left': flowLeft}">
    @for (item of items; track $index) {
        @if (item.icon || item.name) {
            <li class="menu-item" [ngClass]="{disabled: item.disable}">
                <span (click)="tapMenuItem(item)">
                    <i class="iconfont" [ngClass]="item.icon"></i>
                    {{ item.name }}
                    @if (item.children && item.children.length > 0) {
                        <i class="iconfont icon-chevron-right"></i>
                    }
                </span>
                @if (item.children && item.children.length > 0) {
                    <app-menu-body [items]="item.children" [flowLeft]="flowLeft" (tapped)="tapMenuItem($event)"></app-menu-body>
                }
            </li>
        } @else {
            <li class="menu-h"></li>
        }
    }
</ul>