@for (item of items(); track $index) {
    @if (item.icon || item.name) {
        <div class="menu-flyout-item" [ngClass]="{disabled: item.disable}">
            <a class="menu-item-body" (click)="tapMenuItem(item)">
                <i class="iconfont menu-item-icon" [ngClass]="item.icon"></i>
                <span class="menu-item-text">{{ item.name }}</span>
                @if (item.children && item.children.length > 0) {
                    <i class="iconfont icon-chevron-right menu-item-arrow"></i>
                }
            </a>
            @if (item.children && item.children.length > 0) {
                <app-menu-body [items]="item.children" [flowLeft]="flowLeft()" (tapped)="tapMenuItem($event)" />
            }
        </div>
    } @else {
        <div class="menu-divider"></div>
    }
}