<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>Bot请求消息历史记录</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>消息类型</th>
                    <th>发送方</th>
                    <th>接收方</th>
                    <th>发送时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ formatType(item.type) }}</td>
                    <td>{{ item.from_user?.nickname || '--' }}</td>
                    <td>{{ item.to_user?.nickname || '--' }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-info btn-xs"
                                    (click)="open(modal, item)">查看</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
    </div>
</div>

<app-dialog-box #modal [footerVisible]="false" [title]="'记录详情(' + dataModel().id + ')'">
    <div class="line-row-item">
        <span class="item-label">发送者：</span>
        <span class="item-body">{{ dataModel().from }}
            @if (dataModel().from_user) {
                ({{ dataModel().from_user.note_name || dataModel().from_user.nickname }})
            }
        </span>
    </div>
    <div class="line-row-item">
        <span class="item-label">接收者：</span>
        <span class="item-body">{{ dataModel().to }}
            @if (dataModel().to_user) {
                ({{ dataModel().to_user.note_name || dataModel().to_user.nickname }})
            }
        </span>
    </div>
    <div class="line-row-item">
        <span class="item-label">消息类型：</span>
        <span class="item-body">{{ formatType(dataModel().type) }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">时间：</span>
        <span class="item-body">{{ dataModel().created_at | ago }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">内容：</span>
        <span class="item-body">{{ dataModel().content }}</span>
    </div>
</app-dialog-box>