<div class="chat-page" [class]="{'detail-mode': detailMode}">
    <div class="chat-master">
        <div class="router-bar">
            <div class="tool-item" (click)="tapBack()">
                <i class="iconfont icon-arrow-left"></i>
            </div>
            <div class="title-bar">
                联系人
            </div>
        </div>
        <div class="users-body">
            <div class="user-item">
                <div class="item-avatar">
                    <i class="iconfont icon-user"></i>
                </div>
                <div class="item-body">
                    <div class="item-name">test</div>
                    <div class="item-meta">最近消息</div>
                    <div class="item-count">9</div>
                    <div class="item-time">1秒前</div>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-detail">
        <div class="router-bar">
            <div class="tool-item">
                <i class="iconfont icon-arrow-left"></i>
            </div>
            <div class="title-bar">
                消息
            </div>
            <div class="drop-menu-box">
                <i class="iconfont icon-ellipsis-v"></i>
                <div class="menu-body">
                    <ul>
                        <li>置顶聊天</li>
                        <li>开启免打扰</li>
                        <li>加入黑名单</li>
                        <li>举报该用户</li>
                        <li>不接受推送</li>
                    </ul>
                </div>
            </div>
        </div>
        @if (canReply) {
            <app-message-container [items]="items" [hasMore]="hasMore" (loadMore)="tapMore($event)" (tapped)="onMessageTap($event)" />
            <div class="message-tools">
                <i class="iconfont icon-smile-o"></i>
                <i class="iconfont icon-image"></i>
            </div>
            <div class="message-editor">
                <textarea placeholder="回复一下吧~"></textarea>
                <div class="message-action">
                    <div class="size-tip">0/500</div>
                    <button class="btn btn-primary">发送</button>
                </div>
            </div>
        } @else {
            <div class="message-container">
                <div class="time-line">2019-09-10</div>
                邮件内容
            </div>
            <div class="message-action">
                <div class="btn btn-primary">领取</div>
            </div>
        }
        
    </div>
</div>