
<div class="banner">
    <ngb-carousel *ngIf="bannerItems && bannerItems.length > 0">
        <ng-template ngbSlide *ngFor="let item of bannerItems">
            <div class="picsum-img-wrapper">
              <img [src]="item.content" alt="Random slide">
            </div>
            <div class="carousel-caption" *ngIf="item.name">
              <h3>{{ item.name }}</h3>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<div class="floor">
    <div class="container">
        <div class="template-lazy" appLazyLoad (lazyLoading)="loadBrand()">
            <div class="floor-header">
                <h3>Featured Brands</h3>
                <small></small>
                <a class="header-right">More &gt;</a>
            </div>
            <div class="floor-grid" *ngIf="brandItems.length > 0">
                <a *ngFor="let item of brandItems">
                    <div class="name">{{ item.name }}</div>
                    <div class="price">{{ item.price }}</div>
                    <img [src]="item.image" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="template-lazy" appLazyLoad (lazyLoading)="loadNew()">
    <div class="floor">
        <div class="container">
            <div class="floor-header">
                <h3>New Products</h3>
                <small></small>
                <a class="header-right">More &gt;</a>
            </div>
            <div class="slider slider-goods" *ngIf="newItems.length > 0">
                <div class="slider-previous">&lt;</div>
                <div class="slider-box">
                    <ul>
                        <li class="goods-item item-hover" *ngFor="let item of newItems">
                            <div class="thumb">
                                <a [routerLink]="'./goods/' + item.id">
                                    <img [src]="item.thumb" alt="">
                                </a>
                            </div>
                            <div class="name">{{ item.name }}</div>
                            <div class="price">{{ item.price }}</div>
                        </li>
                    </ul>
                </div>
                <div class="slider-next">&gt;</div>
            </div>
        </div>
    </div>
    
    <div class="floor floor-out">
        <div class="container">
            <div class="floor-header">
                <h3>Featured Products</h3>
                <small></small>
                <small></small>
                <a href="" class="header-right">More &gt;</a>
            </div>
            <div class="first-goods-list" *ngIf="bestItems.length > 0">
                <ng-container *ngFor="let item of bestItems">
                  <a [routerLink]="'./goods/' + item.id" class="goods-item">
                    <div class="thumb">
                        <img [src]="item.thumb" alt="">
                    </div>
                    <div class="name">{{ item.name }}</div>
                    <div class="price">{{ item.price }}</div>
                </a>
                </ng-container>
            </div>
        </div>
    </div>
</div>


<div class="template-lazy" appLazyLoad (lazyLoading)="loadFloor()">
    <div class="floor category-floor" *ngFor="let floor of floorItems">
        <div class="container">
            <div class="floor-header">
                <h3>{{ floor.name }}</h3>
                <div class="header-right">
                    <ng-container *ngFor="let item of floor.children; let i = index">
                        <b class="spilt" *ngIf="i > 0">/</b>
                        <a [routerLink]="'category/' + item.id">{{ item.name }}</a>
                    </ng-container>
                    <a [routerLink]="'category/' + floor.id">More &gt;</a>
                </div>
                
            </div>
            <div class="category-banner">
                <img [src]="floor.banner" alt="">
            </div>
            <div class="goods-list">
                <div class="row">
                    <ng-container *ngFor="let item of floor.goods_list">
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <a [routerLink]="'./goods/' + item.id" class="goods-item item-hover">
                                <div class="thumb">
                                    <img [src]="item.thumb" alt="">
                                </div>
                                <div class="name">{{ item.name }}</div>
                                <div class="price">{{ item.price }}</div>
                            </a>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="floor floor-out comment-floor">
    <div class="container">
        <div class="template-lazy" appLazyLoad (lazyLoading)="loadComment()">
            <div class="floor-header">
                <h3>Customer reviews</h3>
                <small></small>
            </div>
            <div class="slider slider-goods" *ngIf="commentItems.length > 0">
                <div class="slider-previous">&lt;</div>
                <div class="slider-box">
                    <ul>
                        <li class="goods-item" *ngFor="let item of commentItems">
                            <div class="thumb">
                                <a [routerLink]="'./goods/' + item.goods.id">
                                    <img [src]="item.goods.thumb" alt="">
                                </a>
                            </div>
                            <div class="comment-item">
                                <div class="item-top">
                                    <span>{{ item.user.name }}</span>
                                    <span>{{ item.created_at }}</span>
                                </div>
                                <div class="item-middle">
                                    <span class="name">{{ item.goods.name }}</span>
                                    <span class="price">{{ item.goods.price }}</span>
                                </div>
                                <div class="item-content">
                                    {{ item.content }}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="slider-next">&gt;</div>
            </div>
        </div>
    </div>
</div>