.flex-2 {
    display: flex;
    .flex-menu {
        width: 20%;
        min-width: 6.25rem;
        max-width: 12.5rem;
    }
    .menu-item {
        line-height: 40px;
        text-align: center;
        border: 1px solid #ccc;
        cursor: pointer;
        position: relative;
        &.active {
            background-color: white;
            border: none;
            &::after {
                content: '';
                position: absolute;
                z-index: 10;
                border: 0.375em solid transparent;
                top: 0.9375em;
                right: -0.625rem;
                border-left-color: white;
            }
        }
        &:not(:last-of-type) {
            border-bottom: none;
        }
    }
    .flex-body {
        flex: 1;
        padding: .6rem;
    }
}

.food-item {
    text-align: center;
    background-color: white;
    .item-price {
        color: red;
        font-size: 1.5em;
        em {
            font-style: normal;
            font-size: .2em;
        }
    }
    .item-name {
        font-weight: 700;
    }
    .item-thumb {
        img {
            max-width: 100%;
            max-height: 5rem;
        }
    }
}