<div class="container-fluid">
  <app-page-tip>
      <ul>
          <li>账户变动记录列表</li>
          @if (user) {
            <li>会员：{{ user.name }}</li>
            <li>账户余额：{{ user.money }}</li>
          }
        
      </ul>
  </app-page-tip>
  <div class="panel-container">
      <div class="page-search-bar">
          <form class="form-horizontal-control" (submit)="tapSearch()">
              <div class="input-group-control">
                  <label for="keywords">关键字</label>
                  <input type="text" class="form-control" placeholder="搜索关键字" id="keywords" [field]="queries.keywords">
              </div>
              <button type="submit" class="btn btn-primary">搜索</button>
              @if (user) {
                <a class="btn btn-info pull-right" [routerLink]="'../change/' + user.id">账户充值</a>
              }
              
          </form>
      </div>
      <table class="table table-bordered well">
          <thead>
          <tr>
              <th>ID</th>
              <th>用户</th>
              <th>类型</th>
              <th>金额</th>
              <th>备注</th>
              <th>状态</th>
              <th>操作时间</th>
              <th>操作</th>
          </tr>
          </thead>
          <tbody>
              @for (item of items; track $index) {
                <tr>
                  <td>{{ item.id }}</td>
                  <td>{{ item.user?.name }}</td>
                  <td>{{ item.type_label }}</td>
                  <td>{{ item.money }}</td>
                  <td>{{ item.remark }}</td>
                  <td>{{ item.status_label }}</td>
                  <td>{{ item.created_at }}</td>
                  <td>
                      <div class="btn-group  btn-group-xs">
                          <a class="btn btn-info btn-xs"
                            (click)="tapView(modal, item)">明细</a>
                      </div>
                  </td>
              </tr>
              }
              </tbody>
      </table>
      <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
      <app-pagination [total]="total" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
  </div>
</div>


<app-dialog-box #modal [footerVisible]="false" [title]="'账户记录详情(' + editForm.id + ')'">
    <div class="line-row-item">
        <span class="item-label">用户：</span>
        <span class="item-body">{{ editForm.user?.name }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">类型：</span>
        <span class="item-body">{{ editForm.type }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">金额：</span>
        <span class="item-body">{{ editForm.money }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">备注：</span>
        <span class="value">{{ editForm.remark }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">状态：</span>
        <span class="item-body">{{ editForm.status }}</span>
    </div>
</app-dialog-box>