<div class="visual-editor-container" [style]="editorStyle">
    <!-- 组件库 -->
    <div class="panel-soul">
        <app-editor-soul />
    </div>
    <div class="panel-main" [style]="workStyle">
        <app-editor-work-body />
        <!-- 属性编辑 -->
        <div class="property-box">
            <app-editor-property />
        </div>
    </div>
    <!-- 辅助条 -->
    <div class="panel-tool-bar">
        <app-editor-tool-bar />
    </div>

    <!-- 图层 -->
    <div class="panel-layer">
        <app-editor-layer />
    </div>
</div>
<div class="await-widget-box">
    <!-- 待创建的组件 -->
    @if (tempWidget) {
        <div class="await-widget" [style]="{left: tempWidget.x + 'px', top: tempWidget.y + 'px'}">
            <app-editor-widget [value]="tempWidget" />
        </div>
    }
</div>