<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>这是权益卡列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="搜索关键字">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a class="btn btn-primary" (click)="open(modal)">新增</a>
                </div>
            </form>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>图标</th>
                <th>购买人数</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        <img [src]="item.icon" [alt]="item.name" class="card-icon">
                    </td>
                    <td>{{ item.amount | numberFormat }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <a class="btn btn-light btn-xs" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>    
    </div>
</div>

<app-dialog-box #modal [scrollable]="false"  [title]="editData && editData.id > 0 ? '编辑权益卡' : '新增权益卡'">
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="">名称</label>
            <div>
                <input type="text" class="form-control" [(ngModel)]="editData.name">
            </div>
        </div>
        <div class="input-group-control">
            <label for="">图标</label>
            <div>
                <app-file-input [(ngModel)]="editData.icon"></app-file-input>
            </div>
        </div>
    </div>
</app-dialog-box>