<div class="animation-container">
    <div class="effect-show">效果展示</div>
    <div class="line-input">
        <label for="">动效</label>
        <select>

        </select>
    </div>
    <div class="line-input">
        <label for="">延时</label>
        <select>
            
        </select>
    </div>
    <div class="line-input">
        <label for="">时长</label>
        <select>
            
        </select>
    </div>
    <div class="line-input">
        <label for="">重复</label>
        <select>
            
        </select>
    </div>
</div>