<div class="mini-online-service">
    <div class="fixed-icon" (click)="tapOpenChat()">
        <i class="iconfont icon-service"></i>
    </div>
    <div class="chat-dialog" [hidden]="!dialogOpen">
        <div class="dialog-header">
            <div class="title">在线客服</div>
            <a class="pull-right" (click)="dialogOpen = false">返回</a>
        </div>
        <div class="dialog-body">
            <app-message-container [items]="items" (loadMore)="tapMore()"></app-message-container>
        </div>
        <div class="dialog-footer">
            <input type="text" placeholder="请输入咨询内容" [(ngModel)]="content" (keydown)="onKeyDown($event)">
            <app-emoji-picker class="file-btn" (tapped)="tapEmoji($event)">
                <i class="iconfont icon-smile-o"></i>
            </app-emoji-picker>
            <label for="file-upload" class="file-btn">
                <i class="iconfont icon-image"></i>
                <input type="file" name="file" id="file-upload" (change)="tapUploadImage($event)" accept="image/*"/>
            </label>
            <i class="iconfont icon-paper-plane" (click)="tapSend()"></i>
        </div>
    </div>
</div>