<div class="cart-button">
    <a (click)="tapCart()">
        <i class="iconfont icon-shopping-cart"></i>
        <i class="cart-num">{{ cart() ? cart().subtotal.count : 0 }}</i>
    </a>
    @if (cart() && cartOpen()) {
    <div class="cart-dialog">
        <div class="dialog-body">
            @for (group of cart().data; track $index) {
                @for (item of group.goods_list; track $index) {
                <div class="cart-item">
                    <div class="thumb">
                        <img [src]="item.goods.thumb" alt="">
                    </div>
                    <div class="item-body">
                        <div class="name">{{ item.goods.name }}</div>
                        @if (item.attribute_value) {
                        <span class="attr">{{ item.attribute_value }}</span>
                        }
                        <span class="count">x {{ item.amount }}</span>
                    </div>
                    <div class="price">
                        {{ item.price | price }}
                    </div>
                    <div class="action">
                        <i class="iconfont icon-close" (click)="tapRemoveCart(item)"></i>
                    </div>
                </div>
                }
            }
        </div>
        <div class="dialog-footer">
            <div class="total">
                <span i18n>SUBTOTAL:</span>
                <span>{{ cart().subtotal.total | price }}</span>
            </div>
            <a (click)="tapViewCart()" class="btn" i18n>VIEW CART</a>
        </div>
    </div>
    }
</div>