<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>管理任务列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group-control">
                    <label for="keywords">名称</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords"
                        placeholder="关键字">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a class="btn btn-primary" (click)="open(modal)">新增任务</a>
                </div>
            </form>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" [routerLink]="[item.id]">查看</a>
                            <a class="btn btn-info" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination  [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
</div>

<app-dialog-box #modal [title]="editData.id ? '编辑' : '新建'">
    <div class="form-group">
        <label for="name-input">任务名</label>
        <div class="input-group-control">
            <input class="form-control" id="name-input" [(ngModel)]="editData.title" placeholder="请输入任务名">
        </div>
    </div>
    <div class="form-group">
        <label>说明</label>
        <div class="input-group-control">
            <textarea class="form-control" [(ngModel)]="editData.description" placeholder="请输入简介"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label>类型</label>
        <div class="input-group-control">
            <select class="form-control">
                <option *ngFor="let item of typeItems" [value]="item.value">{{ item.name }}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>任务奖励预览</label>
        <div class="input-group-control">
            <textarea class="form-control" placeholder="请输入作用"></textarea>
        </div>
    </div>
</app-dialog-box>