.player-bar {
    display: flex;
    width: 100%;
    min-width: 15rem;
    box-sizing: border-box;
    line-height: 2.5rem;
    .slider {
        flex: 1;
        padding-top: 1rem;
    }
    .time {
        line-height: 80rpx;
        font-size: 12px;
    }
}