<app-edit-header [title]="dataModel().id > 0 ? '编辑模板' : '新增模板'"(submited)="tapSubmit($event)" [disabled]="dataForm().invalid()" />
<div class="container-fluid">
    <form class="form-table-control panel-container" (submit)="tapSubmit()">
        <div class="input-group-control">
            <label for="name">唯一代码</label>
            <div>
                <input type="text" id="name" class="form-control" [field]="dataForm.name">
                @if (dataForm.name().invalid()) {
                <div class="input-tip">请输入唯一代码</div>
                }
            </div>
        </div>
        <div class="input-group-control">
            <label for="title">标题</label>
            <div>
                <input type="text" id="title" class="form-control" [field]="dataForm.title">
                @if (dataForm.title().invalid()) {
                <div class="input-tip">请输入标题</div>
                }
            </div>
        </div>
        <div class="input-group-control">
            <label for="type">类型</label>
            <div>
                <select id="type" [field]="dataForm.type" class="form-control" >
                    @for (item of typeItems; track $index) {
                    <option [value]="item.value">{{ item.name }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="input-group-control">
            <label for="target_no">外部编号</label>
            <div>
                <input type="text" id="target_no" class="form-control" [field]="dataForm.target_no">
            </div>
        </div>
        <div class="input-group-control">
            <label for="content">模板内容</label>
            <div>
                <textarea id="content" class="form-control" [field]="dataForm.content" (change)="onContentChange()"></textarea>
            </div>
        </div>

        <div class="input-group-control">
            <label for="content">字段</label>
            <div class="tab-header-bar">
                @for (item of keyItems; track $index) {
                <div class="tab-item btn-info">
                    <span>{{ item }}</span>
                    <i class="iconfont icon-close" (click)="tapRemoveKey(item)"></i>
                </div>
                }
            </div>
        </div>

        <div class="btn-group">
            <app-action-button class="btn btn-success" (tapped)="tapSubmit($event)">确认保存</app-action-button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>
