<div class="nav-menu-bar">
    <div class="nav-header">
        <span>{{ header() }}</span>
        <div class="nav-toggle btn-secondary" (click)="toggleEdit()">
            <i class="iconfont" [class]="{'icon-exchange': isEditable, 'icon-cog': !isEditable}"></i>
        </div>
    </div>
    <ul class="nav-body">
        <li class="menu-item" [hidden]="!isEditable" (click)="tapSelect()">
            <a>
                <i class="iconfont icon-plus"></i>
            </a>
        </li>
        <li class="menu-item" [class]="{active: selected() < 1}" [hidden]="isEditable" (click)="tapSelect()">
            <a i18n>All</a>
        </li>
        @for (item of items(); track $index) {
            <li class="menu-item" [class]="{active: selected() == item.id}">
                <a (click)="tapSelect(item)">{{ item.name }}</a>
                <div class="menu-action btn-danger" [hidden]="!isEditable" (click)="tapRemove(item)">
                    <i class="iconfont icon-close"></i>
                </div>
            </li>
        }
    </ul>
</div>