<i class="control-updated-tag" [hidden]="isEmpty" (click)="tapEmpty()"></i>
@if (header()) {
<label>{{ header() }}</label>
}
<div class="select-control-container">
    <div class="select-input-container">
        @if (editable()) {
            <input type="text" class="input-body">
        } @else {
            <span class="input-body"></span>
        }
        <div class="input-clear" [hidden]="!value()">
            <i class="iconfont icon-close"></i>
        </div>
        <div class="input-arrow" (click)="visible = !visible">
            <i class="iconfont" [class]="arrowIcon()"></i>
        </div>
    </div>
    <div class="select-option-bar">
        @if (searchable()) {
        <div class="search-option-item">
            <input type="text">
            <i class="iconfont icon-search"></i>
        </div>
        }
        @if (isLoading) {
        <div class="loading-option-item">
            <div class="loading-ring2">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        }
        @for (item of items(); track $index) {
            <div class="option-item" [class]="{selected: value == item.value}" (click)="tapSelected(item)">{{ item.name }}</div>
        }
    </div>
</div>