<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>模板消息模板</li>
        </ul>
    </app-page-tip>

    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a class="btn btn-success" (click)="tapEdit(editModal)">新增</a>
                    <app-action-button class="btn btn-info" (tapped)="tapAsync($event)">同步公众号模板</app-action-button>
                </div>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>模板ID</th>
                    <th>标题</th>
                    <th>模板内容</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>{{ item.template_id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.content }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-danger btn-xs" (click)="open(modal, item)">使用</a>
                            <a class="btn btn-success" (click)="tapEdit(editModal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()" />
    </div>
</div>

<app-dialog-box #editModal [title]="editData.id ? '编辑模板' : '新增模板'">
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="">模板名称</label>
            <div>
                <input type="text" class="form-control" [(ngModel)]="editData.title">
                <app-switch offLabel="无效" onLabel="有效" [(ngModel)]="editData.status" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="">模板ID</label>
            <div>
                <input type="text" class="form-control" [(ngModel)]="editData.template_id">
            </div>
        </div>
        
        <div class="input-group-control">
            <label for="">内容</label>
            <div>
                <textarea class="form-control" [(ngModel)]="editData.content"></textarea>
            </div>
        </div>
        <div class="input-group-control">
            <label for="">示例</label>
            <div>
                <textarea class="form-control" [(ngModel)]="editData.example"></textarea>
            </div>
        </div>
    </div>
</app-dialog-box>
<app-dialog-box #modal [title]="'发送模板消息'">
    @if (sendData.template) {
        <div class="form-table-control">
            <div class="input-group-control">
                <label for="">模板名称</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="sendData.template.title">
                    <app-switch offLabel="无效" onLabel="有效" [(ngModel)]="sendData.template.status" />
                </div>
            </div>
            <div class="input-group-control">
                <label for="">接收者</label>
                <div>
                    <div>
                        <app-select-input [url]="selectUrl" [(ngModel)]="sendData.to" [formatFn]="formatUser" />
                    </div>
                </div>
            </div>
            <div class="input-group-control">
                <label for="">标题</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="sendData.title">
                </div>
            </div>
            <div class="input-group-control">
                <label for="">链接</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="sendData.template_url">
                </div>
            </div>
            <div class="input-group-control">
                <label for="">小程序appid</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="sendData.appid">
                </div>
            </div>
            <div class="input-group-control">
                <label for="">小程序路径</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="sendData.path">
                </div>
            </div>
            <div class="input-group-control">
                <label for="">模板内容</label>
                <div>
                    <textarea class="form-control" readonly [(ngModel)]="sendData.content"></textarea>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>字段</th>
                        <th>内容</th>
                        <th>颜色</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of sendData.items; track $index) {
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>
                            <textarea class="form-control" [(ngModel)]="item.value" (ngModelChange)="onFieldChange()"></textarea>
                        </td>
                        <td>
                            <input type="color" class="form-control" [(ngModel)]="item.color">
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }

</app-dialog-box>