@use '../../../../../theme/styles/theme';
@use '../../../../../theme/styles/mixins';
.card-header {
    position: relative;
    padding: .8rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    min-height: 3rem;
    @include mixins.iconArrow();
    &:hover {
        background-color: var(--#{theme.$prefix}editor);
    }
}
.card-body {
    display: none;
    padding: 0 1rem;
}
:host {
    display: block;
    &.open {
        .card-header {
            &::after {
                transform: rotate(180deg);
            }
        }
        .card-body {
            display: block;
        }
    }
}