ul,
li {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
}
.book-sidebar {
    position: absolute;
    width: 200px;
    right: 0;
    top: 50px;
    .book-chapter,
    .book-new {
        li {
            background: #fff;
            list-style: none;
            width: 150px;
            line-height: 30px;
            padding-left: 20px;
            box-sizing: border-box;
            .fa {
                margin-right: 5px;
            }
            .count {
                position: absolute;
                color: #fff;
                background-color: #a10000;
                border-radius: 50%;
                display: inline-block;
                width: 25px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                left: 11px;
                margin-top: 2px;
                font-size: 10px;
                overflow: hidden;
            }
            &.active {
                background: #a10000;
                color: #fff;
                width: 200px;
                &:hover {
                    width: 200px;
                }
                a {
                    color: #fff;
                }
                .count {
                    color: #a10000; 
                    background-color: #fff;
                    left: auto;
                    right: 0;
                }
            }
            &:hover {
                width: 175px;
            }
            &:not(:last-child) {
                border-bottom: 1px solid #a10000;
            }
        }
    }
    .book-new {
        margin-top: 50px;
        h3 {
            padding-left: 10px;
        }
        li {
            width: 100%;
            padding: 3px 0 3px 20px;
            line-height: 20px;
            a {
                font-size: 14px;
            }
        }
    }
}
.book-header {
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    color: #484848;
    font-weight: 400;
    margin-bottom: 10px;
}
.book-term {
    margin-bottom: 20px;
    .term-info {
        position: relative;
        min-height: 50px;
        img {
            width: 100%;
        }
        h3 {
            position: absolute;
            bottom: 0;
            line-height: 50px;
            display: block;
            background: rgba(0, 0, 0, 0.6);
            width: 100%;
            color: #fff;
            padding: 0 10px;
            box-sizing: border-box;
            margin-bottom: 0;
        }
    }
}

.book-item {
    margin: 0 -15px;
    padding: 15px 20px 5px;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    transition: box-shadow 1s;
    a {
        text-decoration: none;
        color: #333;
    }
    dt {
        font-size: 20px;
        font-weight: 600;
        .book-time {
            float: right;
            text-align: right;
        }
    }
    dd {
        //display: none;
        p {
            margin: 5px 0;
            min-height: 40px;
        }
        .author,
        .comment,
        .category,
        .language {
            margin-right: 20px;
        }
        .agree,
        .disagree {
            float: right;
            margin-left: 10px;
        }
    }
    &:hover,
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
        dd {
            display: block;
        }
    }
    &:hover {
        box-shadow: rgba(51,51,51,.7) 0 0 10px;
    }
    &:not(:last-child) {
        border-bottom: 1px solid #a10000;
    }
    &.fade-pre-item {
        visibility: hidden;
    }
    &.fade-item {
        animation-name: fadeInLeft;
        background: #fff;
        border-bottom: none;
        visibility: visible;
    }
}

.book-footer {
    margin-top: -50px;
}

@media screen and (max-width: 769px) {
    .book-body {
        margin-right: 0;
    }
    .book-item {
        margin: 0 -8px;
        padding: 15px 13px 5px;
        dd {
            display: block;
            .author,
            .category,
            .comment,
            .agree,
            .disagree,
            .click {
                font-size: 12px;
            }
            .agree,
            .disagree {
                margin-top: 3px;
            }
        }
        .book-time {
            font-size: 12px;
            width: 70px;
        }
    }
    .book-sidebar {
        position: static;
        width: auto;
        .book-chapter {
            position: static;
            margin-bottom: 30px;
            width: 100vw;
            li {
                width: 100%;
                &.active {
                    width: 100%;
                    background: #a10000;
                    color: #fff;
                    &:hover {
                        width: 100%;
                    }
                    a {
                        color: #fff;
                    }
                }
                &:hover {
                    width: 100%;
                    background: #cc2525;
                    color: #fff;
                    a {
                        color: #fff;
                    }
                }
            }
        }
        .book-dynamic,
        .book-new,
        .book-side-nav {
            display: none;
        }
    }
}