.header-bar {
    background-color: #fff;
    ul,
    li {
        list-style: none;
        padding: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
    }
    .tab-bar {
        display: inline-block;
        margin-top: 1.875rem;
        a {
            color: #999;
            font-size: 1rem;
            padding: 0.625rem 1.25rem;
            cursor: pointer;
            display: inline-block;
            &:hover {
                color: #b4a078;
            }
            &.active {
                color: #333;
                border-bottom: 2px solid red;
            }
        }
    }
    .user-icon {
        float: right;
        position: relative;
        .avatar {
            padding: 0.625rem 0.3125rem;
            img {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
            }
            &:hover {
                background-color: #ccc;
            }
        }
        .drop-body {
            position: absolute;
            width: 6rem;
            right: 0;
            background-color: white;
            z-index: 910;
            box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
            user-select: none;
            li {
                line-height: 2rem;
                text-align: center;
                cursor: pointer;
                &:hover {
                    background-color: #eee;
                }
                &.active {
                    background-color: #ccc;
                }
            }
        }
    }
}

.dialog-box {
    width: 320px;
    margin-left: -160px;
    margin-top: -200px;
    .icon-close {
        position: absolute;
        font-size: 30px;
        right: 0;
        top: 0;
        color: #ccc;
    }
}