@use '../../../theme/theme';
.swiper-flip-dot {
    text-align: center;
    span {
        display: inline-block;
        width: .5rem;
        height: .5rem;
        border-radius: .25rem;
        background-color: transparent;
        border: 1px solid #ccc;
        margin: 0 .2rem;
        transition: all .4s;
        &:hover {
            transform: scale(1.2);
        }
    }
    .active {
        background-color: var(--#{theme.$prefix}primary);
        width: 3rem;
    }
}