<div class="user-page">
    <div class="container side-box">
        <div>
            <app-user-menu currentUrl="member/address"></app-user-menu>
        </div>
        <div class="address-box">
            <div class="header">
                <a class="btn btn-primary" (click)="tapEdit()">
                    <i class="iconfont icon-add"></i>
                    新建地址
                </a>
            </div>
            <div class="address-row row-header">
                <div>收货人</div>
                <div>地址</div>
                <div>联系方式</div>
                <div>操作</div>
                <div></div>
            </div>
            <div class="address-page-box">
                @for (item of items; track $index) {
                    <div class="address-row">
                    <div class="name">{{ item.name }}</div>
                    <div class="address">{{ item.region.full_name }} {{ item.address }}</div>
                    <div class="tel">{{ item.tel }}</div>
                    <div class="action">
                        <a  (click)="tapEdit(item)">编辑</a>
                        <a >删除</a>
                    </div>
                    <div class="default">
                        <ng-container *ngIf="item.is_default; else elseTemplate">
                            <span class="btn">默认地址</span>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <a (click)="tapDefault(item)">设为默认地址</a> 
                        </ng-template>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>


<div class="dialog-box address-dialog" [@dialogOpen]="dialogOpen ? 'open' : 'closed'">
    <div class="dialog-header">
        <div class="dialog-title">新建地址</div>
        <i class="iconfont icon-close dialog-close" (click)="dialogOpen = false"></i>
    </div>
    <div class="dialog-body">
        <div class="address-body">
            <div>*所在地区:</div>
            <div class="region-input">
                <app-region url="shop/region/tree" [(ngModel)]="editData.region_id"></app-region>
            </div>
            <div>*详细地址:</div>
            <div>
                <textarea [(ngModel)]="editData.address" cols="30" rows="10"></textarea>
            </div>
            <div>*收货人:</div>
            <div>
                <input type="text" [(ngModel)]="editData.name">
            </div>
            <div>*手机号码:</div>
            <div>
                <input type="text" [(ngModel)]="editData.tel">
            </div>
        </div>
    </div>
    <div class="dialog-footer">
        <div class="pull-left" (click)="editData.is_default = !editData.is_default">
            <div class="checkbox">
                <i class="iconfont" [ngClass]="{'icon-check-square-o': editData.is_default, 'icon-square-o': !editData.is_default}"></i>
            </div>
            设为默认
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" (click)="tapSave()">确认</button>
            <button type="button" class="btn btn-danger" (click)="dialogOpen = false">取消</button>
        </div>
    </div>
</div>