<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>来源分析</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group">
                    <label for="keywords">时间</label>
                    <input type="text" class="form-control" [ngModel]="queries.start_at" name="start_at" id="keywords" placeholder="开始时间">
                    -
                    <input type="text" class="form-control" [ngModel]="queries.end_at" name="end_at" id="end_at" placeholder="结束时间">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="tab-bar pull-right">
                    <ng-container *ngFor="let item of tabItems">
                    <a class="item" [ngClass]="{active: tabIndex == item.value}" (click)="tapTab(item.value)">{{ item.name }}</a>
                    </ng-container>
                </div>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
              <tr>
                <td rowspan="2">
                    来源类型
                </td>
                <td colspan="3">
                    网站基础指标
                </td>
                <td colspan="2">
                    流量质量指标
                </td>
            </tr>
            <tr>
                <td>
                    浏览量(PV)
                </td>
                <td>
                    访客数(UV)
                </td>
                <td>
                    IP数
                </td>
                <td>
                    跳出率
                </td>
                <td>
                    平均访问时长
                </td>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.user?.name }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.source_url }}</td>
                    <td>{{ item.short_url }}</td>
                    <td>{{ item.click_count | numberFormat }}</td>
                    <td>{{ 1 }}</td>
                    <td>{{ item.expired_at | timestamp }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>
                       
                    </td>
                </tr>
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
</div>