<div class="file-input">
    <input type="text" class="form-control" [(ngModel)]="value" [disabled]="disabled" (ngModelChange)="onValueChange()" [placeholder]="placeholder">
    <label [for]="fileName" class="btn btn-primary" i18n>{isLoading, plural, =true {Uploading...} =false {Upload}}</label>
    <label class="btn btn-info" *ngIf="canPreview" (click)="tapPreview()" i18n>Preview</label>
    <label class="btn btn-success" *ngIf="online" (click)="openOnline(modal)" i18n>Online</label>
    <input type="file" name="file" [id]="fileName" (change)="uploadFile($event)" [accept]="accept"  [disabled]="disabled"/>
</div>

<app-file-online #modal [accept]="accept"></app-file-online>
