
<div class="cart-page">
    <div class="container">
        @if (items.length < 1) {
            <div class="empty-cart-box">
                @if (guest) {
                    <p i18n>After login, you can synchronize the products in the shopping cart</p>
                    <a class="btn btn-primary" routerLink="../auth" i18n>Sign up now</a>
                } @else {
                    <p i18n>Your cart is empty</p>
                    <a class="btn btn-primary" routerLink="../" i18n>Go Shopping</a>
                }
            </div>
        } @else {
            <div class="cart-header">
                <div class="chkbox" (click)="toggleCheckAll()">
                    <i class="iconfont" [class]="{'icon-check-square-o': checkedAll, 'icon-square-o': !checkedAll}"></i>
                    <span>全选</span>
                </div>
                <div>商品信息</div>
                <div>单价</div>
                <div>数量</div>
                <div>小计</div>
                <div>操作</div>
            </div>
            
            @for (group of items; track $index) {
            <div class="cart-group-item">
                <div class="group-header">
                    <div class="chk" (click)="toggleCheckGroup(group)">
                        <i class="iconfont" [class]="{'icon-check-square-o': group.checked, 'icon-square-o': !group.checked}"></i>
                    </div>
                    <div class="name">
                        {{ group.name }}
                    </div>
                </div>
                @for (item of group.goods_list; track $index) {
                <div class="cart-item">
                    <div class="chk" (click)="toggleCheck(group, item)">
                        <i class="iconfont" [class]="{'icon-check-square-o': item.is_checked, 'icon-square-o': !item.is_checked}"></i>
                    </div>
                    <div class="thumb">
                        <img [src]="item.goods.thumb" alt="">
                    </div>
                    <div>
                        <div class="name">{{ item.goods.name }}</div>
                        @if (item.attribute_value) {
                        <div class="attr">{{ item.attribute_value }}</div>
                        }
                    </div>
                    <div class="price">
                        <span>{{ item.price | price }}</span>
                    </div>
                    <div>
                        <app-number-input [(value)]="item.amount" (valueChange)="onAmountChange(item)" [max]="item.goods.stock" />
                    </div>
                    <div class="total">
                        <span>{{ item.price * item.amount | price }}</span>
                    </div>
                    <div class="actions">
                        <a (click)="tapCollect(item)">移入收藏夹</a>
                        <a (click)="tapRemove(item)">删除</a>
                    </div>
                </div>
                }
            </div>
            }
            <div class="cart-footer">
                <div class="chkbox">
                    <i class="iconfont" [class]="{'icon-check-square-o': checkedAll, 'icon-square-o': !checkedAll}" (click)="toggleCheckAll()"></i>
                    <span>
                        <span>已选（</span><span class="cart-checked-count">{{ checkedCount }}</span>
                        <span>）</span>
                    </span>
                    <div class="batch-action">
                        <a (click)="tapRemoveChecked()">批量删除</a>
                        <a (click)="tapClearInvalid()">清空失效商品</a>
                    </div>
                </div>
                <div class="total">
                    <span i18n>SUBTOTAL:</span>
                    <span class="price">{{ total | price }}</span>
                    <span>活动优惠 : </span>
                    <span class="price">{{ 0 | price }}</span>
                </div>
                <div class="money">
                    <span>应付总额：</span>
                    <span class="price">{{ total | price }}</span>
                    @if (cart.promotion_cell.length > 0) {
                    <div class="tip">{{ cart.promotion_cell[0].popup_tip }}></div>
                    }
                </div>
                <div class="checkout">
                    <a class="btn" (click)="tapCashier()" i18n>CHECKOUT</a>
                </div>
            </div>
        }
        

        <div class="panel" appLazyLoad (lazyLoading)="loadLike()">
            <div class="panel-header" i18n>
            You like
            </div>
            @if (likeItems.length > 0) {
            <div class="panel-body">
                <app-goods-slider [items]="likeItems" />
            </div>
            }
        </div>

    </div>
</div>