.dialog-box {
    margin-top: -200px;
    margin-left: -5rem;
    width: 10rem;
    transform: translate3d(0, 0, 0);
    .dialog-header {
        position: relative;
        height: auto;
        border-bottom: none;
        .icon-close {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 1rem;
        }
    }
}
.user-box {
    text-align: center;
    .avatar {
        display: inline-block;
        img {
            width: 3.75rem;
            border-radius: 50%;
        }
    }
}