<div class="user-page">
    <div class="container side-box">
        <div>
            <app-user-menu currentUrl="member/profile"></app-user-menu>
        </div>
        <div class="panel history-panel">
            <div class="panel-header">
                <span>帐号信息</span>
            </div>
            <div class="panel-body" *ngIf="user">
                <form class="form-table" [formGroup]="form" (ngSubmit)="tapSubmit()">
                    <div class="input-group">
                        <label for="fileUpload">用户头像</label>
                        <div class="avatar-input">
                            <img [src]="user.avatar">
                            <label class="iconfont icon-camera" for="fileUpload"></label>
                            <input type="file" name="file" id="fileUpload" (change)="uploadFile($event)" accept="image/*"/>
                        </div>
                    </div>
                    <div class="input-group">
                        <label for="name">昵　　称</label>
                        <div>
                            <input type="text" id="name" class="form-control " formControlName="name">
                        </div>
                    </div>
                    <div class="input-group">
                        <label for="email">邮　　箱</label>
                        <div>
                            <input type="email" id="email" class="form-control" formControlName="email" 
                                placeholder="请输入 邮箱">
                        </div>
                    </div>
                    <div class="input-group">
                        <label for="性　　别">性　　别</label>
                        <div>
                            <ng-container *ngFor="let item of sexItems">
                                <span class="radio-label" [ngClass]="{checked: item.value == user.sex}" (click)="tapSex(item)">
                                    <i class="iconfont" [ngClass]="{'icon-check': item.value == user.sex, 'icon-circle': item.value != user.sex}"></i>
                                    {{ item.name }}
                                </span>
                            </ng-container>
                        </div>
                    </div>
                    <div class="input-group">
                        <label for="mobile">手机号码</label>
                        <div>
                            <input type="text" id="mobile" class="form-control " formControlName="mobile">
    
                        </div>
                    </div>
                    <div class="input-group">
                        <label for="birthday">出生日期</label>
                        <div class="calendar-input">
                            <input type="text" id="birthday" class="form-control" ngbDatepicker formControlName="birthday" placeholder="yyyy-mm-dd" #d="ngbDatepicker">
                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                <i class="iconfont icon-calendar"></i>
                            </button>
                        </div>
                    </div>
                    <div class="offset-md-3">
                        <button class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
