<div class="user-page">
    <div class="container side-box">
        <div>
            <app-user-menu currentUrl="member/profile"></app-user-menu>
        </div>
        <div class="panel history-panel">
            <div class="panel-header">
                <span>帐号信息</span>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <label for="avatar">用户头像</label>
                    <div class="avatar-input">
                        <img src="http://zodream.localhost/assets/upload/image/20200920/1600601816860578.jpg" alt="">
                        <i class="fa fa-camera"></i>
                    </div>
                </div>
                <div class="input-group">
                    <label for="帐　　号">帐　　号</label>
                    <div class="">
                        <input type="text" id="帐　　号" class="form-control " name="帐　　号" required="">

                    </div>
                </div>
                <div class="input-group">
                    <label for="昵　　称">昵　　称</label>
                    <div class="">
                        <input type="text" id="昵　　称" class="form-control " name="昵　　称" required="">

                    </div>
                </div>
                <div class="input-group">
                    <label for="性　　别">性　　别</label>
                    <div class="">
                        <span class="radio-label">
                            <input type="radio" id="性　　别0" name="性　　别" value="0" checked="">
                            <label for="性　　别0">男</label>
                        </span><span class="radio-label">
                            <input type="radio" id="性　　别1" name="性　　别" value="1">
                            <label for="性　　别1">女</label>
                        </span>
                    </div>
                </div>
                <div class="input-group">
                    <label for="手机号码">手机号码</label>
                    <div class="">
                        <input type="text" id="手机号码" class="form-control " name="手机号码" required="">

                    </div>
                </div>
                <div class="input-group">
                    <label for="出生日期">出生日期</label>
                    <div class="">
                        <input type="text" id="出生日期" class="form-control " name="出生日期" required="">

                    </div>
                </div>
                <div class="offset-md-3">
                    <button class="btn">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
