@if (visible()) {
<div class="dialog-mask"></div>
<div class="dialog-select-box">
    <div class="header-container">
        <p i18n>To be added to the site component library</p>
        <div class="source-item">
           <div class="item-cover">
                <img [src]="sourceData.thumb" alt="">
            </div>
            <div class="item-body">
                <div class="item-name">{{ sourceData.name }}</div>
                <div class="item-meta">{{ sourceData.description }}</div>
            </div>
        </div>
    </div>
    <div class="search-bar">
        <form class="form-horizontal-control" (submit)="tapSearch($event)">
            <div class="flat-input">
                <input type="text" class="form-control" id="keywords" [formField]="queries.keywords" id="keywords" i18n-placeholder placeholder="Please enter keywords to search for existing sites">
                <button type="submit" class="btn btn-primary" i18n>Search</button>
                <a class="btn" [class]="{'btn-info': !onlySelected, 'btn-success': onlySelected}" (click)="tapToggleOnly()" i18n>Only selected({{ selectedCount }})</a>
            </div>
        </form>
    </div>
    <div class="body-container">
        @for (item of formatItems; track $index) {
            <div class="option-item" [class]="{selected: isSelected(item)}" (click)="tapSelected(item)">
                <div class="item-thumb">
                    <img [src]="item.thumb">
                </div>
                <div class="item-name">{{ item.title }}</div>
            </div>
        }
    </div>
    <div class="footer-container">
        <app-pagination [total]="total()" [formField]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
        <div class="btn-group">
            <app-action-button class="btn btn-primary" (tapped)="tapYes($event)" i18n>Confirm</app-action-button>
            <div class="btn btn-danger" (click)="tapCancel()" i18n>Cancel</div>
        </div>
    </div>
</div>
}
