
<div class="user-page">
    <div class="container side-box">
        <div>
            <app-user-menu currentUrl="member/bonus" />
        </div>
        <div>
            <div class="row">
                <div class="col-md-8">
                    <div class="header-tab">
                        <a class="active">可使用</a>
                        <a>已使用</a>
                        <a>已失效</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <a>关于红包</a>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </div>
</div>