.timeline-bar {
    margin-left: 60px;
    margin-bottom: 10px;
    .time-item {
        line-height: 60px;
        text-align: center;
        font-size: 18px;
        display: inline-block;
        width: 350px;
        position: relative;
        margin-left: -60px;
        .time-body {
            background: #fff;
            margin: 0 60px;
            overflow: hidden;
            text-align: center;
            font-size: 0;
            height: 60px;
        }
        .time {
            display: inline-block;
            height: 60px;
            margin-right: 10px;
            vertical-align: top;
            font-weight: 700;
            font-size: 14px;
            margin-left: 10px;
        }
        .label {
            display: inline-block;
            border: 1px solid #666;
            padding: 0 14px;
            vertical-align: middle;
            height: 26px;
            line-height: 25px;
            color: #666;
            border-radius: 22px;
            font-size: 12px;
            display: inline-block;
        }
        .time-countdown {
            font-size: 14px;
            display: none;
            height: 60px;
            overflow: hidden;
            text-align: left;
            line-height: 20px;
            padding-top: 10px;
            font-weight: 700;
        }
        &::before,
        &::after {
            display: block;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            top: 0;
            zoom: 1;
        }
        &::before {
            border-width: 0 0 60px 60px;
            border-color: transparent transparent #fff;
            left: 0;
        }
        &::after {
            border-width: 60px 60px 0 0;
            border-color: #fff transparent transparent;
            right: 0;
        }
        &.active {
            .time-body {
                color: #fff;
                background: #e01222;
            }
            .label {
                display: none;
            }
            .time-countdown {
                display: inline-block;
            }
            &::before,
            &::after {
                content: " ";
            }
            &::before {
                border-color: transparent transparent #e01222;
            }
            &::after {
                border-color: #e01222 transparent transparent;
            }
        }
    }
    &.fixed {
        margin-left: 0;
        .time-item {
            width: 270px;
            margin-left: 0;
            .time-body {
                margin: 0;
            }
            &::before,
            &::after {
                display: none;
            }
        }
    }
}

.goods-item {
    background-color: #fff;
    .info {
        border-top: 1px solid #f6f6f6;
        position: relative;
        text-align: left;
        padding: 10px 0 30px 19px;
    }
    .price-group {
        .price {
            font-size: 24px;
            color: #e01222;
            font-family: arial;
            margin-right: 2px;
            line-height: 1;
            display: inline-block;
            min-width: 50px;
            em {
                font-size: 14px;
                font-style: normal;
            }
        }
        .old-price {
            display: inline-block;
            font-size: 12px;
            color: #999;
            text-decoration: line-through;
        }
    }
    .progress {
        height: .5rem;
        margin-top: 10px;
        width: 100px;
        display:inline-flex;
    }
    .progress-label {
        display: inline-block;
        font-size: 12px;
    }
    .btn {
        position: absolute;
        bottom: 30px;
        right: 0;
    }
}