<div class="container-fluid">
  <app-page-tip>
      <ul>
          <li>管理短信记录列表</li>
      </ul>
  </app-page-tip>
  <div class="panel-container">
      <div class="page-search-bar">
          <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="关键字">
                </div>
                <div class="input-group-control">
                    <label for="type">类型</label>
                    <select name="type"class="form-control" [field]="queries.type">
                        <option [value]="0">请选择</option>
                        @for (item of typeItems; track $index) {
                            <option [value]="item.value">{{ item.name }}</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
          </form>
      </div>
  
      <table class="table table-hover">
          <thead>
              <tr>
                <th>ID</th>
                <th>收件人</th>
                <th>模板编号</th>
                <th>状态</th>
                <th>回执</th>
                <th>操作时间</th>
              </tr>
          </thead>
          <tbody>
              @for (item of items; track $index) {
                <tr [ngClass]="{'tr-sending': item.status == 1, 'tr-error': item.status == 4}">
                  <td>{{ item.id }}</td>
                  <td>{{ item.target }}</td>
                  <td>{{ item.template_name }}</td>
                  <td>{{ formatStatus(item.status) }}</td>
                  <td>
                    <div class="long-text">
                        {{ item.message }}
                    </div>
                  </td>
                  <td [title]="item.created_at">{{ item.created_at | ago }}</td>
                  <!-- <td>
                      <div class="btn-group  btn-group-xs">
                          <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                      </div>
                  </td> -->
              </tr>
              }
              
          </tbody>
      </table>
      <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
      <app-pagination [total]="total" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
  </div>
</div>