.tr-sending {
    td {
        background-color: var(--#{theme.$prefix}info);
    }
}

.tr-error {
    td {
        background-color: var(--#{theme.$prefix}danger);
    }
}

.long-text {
    max-width: 30vw;
    word-break: break-all;
}