@use '../../../theme/theme';
.--with-sending {
    td {
        background-color: var(--#{theme.$prefix}info);
    }
}

.--with-warning {
    td {
        background-color: var(--#{theme.$prefix}danger);
    }
}

.long-text {
    max-width: 30vw;
    word-break: break-all;
}