<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>数据备份</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="btn-group">
            <a (click)="tapBackup()" class="btn" [class]="{'btn-primary': !isLoading(), 'btn-dark': isLoading(), 'disabled': isLoading()}">{{ isLoading() ? '备份中...' : '备份' }}</a>
            <a (click)="tapClear()" class="btn btn-danger">清除备份</a>
        </div>

        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        @if (items && items().length > 0) {
             <table class="table table-hover">
            <thead>
                <tr>
                    <th>文件名</th>
                    <th>文件大小</th>
                    <th>备份时间</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.size | size }}</td>
                    <td>{{ item.created_at | ago }}</td>
                </tr>
                }
            </tbody>
        </table>
        }
       
        
    </div>
</div>