<div class="page-box" [ngClass]="{'room-mode': roomMode}">
    <div class="chat-box" [ngClass]="{'search-mode': searchMode}">
        <div class="nav-bar">
            <a class="nav-item">
                <i class="iconfont icon-ellipsis-h"></i>
                <div class="nav-children">
                    <a class="nav-item">
                      <i class="iconfont icon-sign-out"></i>
                      <span class="nav-name">退出</span>
                    </a>
                </div>
            </a>
        </div>
        <div class="header">
            <div class="avatar">
                <img [src]="user.avatar">
                <i class="status-icon"></i>
            </div>
            <div class="name">{{ user.name }}</div>
            <div class="remark">{{ user.signature }}</div>
        </div>
        <div class="search-input" (click)="searchMode = true">
            <i class="iconfont icon-search"></i>
            <span>用户、群组和消息</span>
            <i class="iconfont icon-plus" (click)="tapAdd($event)"></i>
        </div>
        <div class="tab-box">
            <div class="tab-header">
                <a [ngClass]="{active: tabIndex < 1}" (click)="tabIndex = 0">
                    <i class="iconfont icon-commenting"></i>
                    <span>聊天</span>
                </a>
                <a [ngClass]="{active: tabIndex == 1}" (click)="tabIndex = 1">
                    <i class="iconfont icon-user"></i>
                    <span>联系人</span>
                </a>
                <a [ngClass]="{active: tabIndex == 2}" (click)="tabIndex = 2">
                    <i class="iconfont icon-group"></i>
                    <span>群组</span>
                </a>
            </div>
            <div class="tab-body">
                <div class="tab-item" [ngClass]="{active: tabIndex < 1}">
                    <ng-container *ngFor="let item of lastFriends">
                        <div class="user-item" (click)="tapUser(item)">
                            <div class="user-avatar">
                                <img [src]="item.avatar" alt="">
                            </div>
                            <div class="user-info">
                                <p>
                                    <span class="name">{{ item.name }}</span>
                                    <span class="time" *ngIf="item.last_at">{{ item.last_at | ago }}</span>
                                </p>
                                <p *ngIf="item.last_message">
                                    <span class="content">{{ item.last_message.content }}</span>
                                    <span class="count" *ngIf="item.unread > 0">{{ item.unread }}</span>
                                </p>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="tab-item" [ngClass]="{active: tabIndex == 1}">
                    <ng-container *ngFor="let group of friends">
                        <div class="expand-box" [ngClass]="{open: group.expand}">
                            <div class="expand-header" (click)="group.expand = !group.expand">
                                <i class="expand-icon"></i>
                                <span>{{ group.name }} ({{ group.online }} / {{ group.count }})</span>
                            </div>
                            <div class="expand-body">
                                <ng-container *ngFor="let item of group.children">
                                    <div class="user-item" (click)="tapUser(item)">
                                        <div class="user-avatar">
                                            <img [src]="item.avatar" alt="">
                                        </div>
                                        <div class="user-info">
                                            <p>
                                                <span class="name">{{ item.remark || item.name }}</span>
                                            </p>
                                            <p>
                                                <span class="content">{{ item.signature }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="tab-item" [ngClass]="{active: tabIndex == 2}">

                </div>
            </div>
        </div>

        <div class="search-box">
            <div class="search-input">
                <input type="text" placeholder="搜索用户">
                <i class="iconfont icon-close" (click)="searchMode = false"></i>
            </div>
            <div class="search-body">
                <ng-container *ngFor="let item of lastFriends">
                    <div class="user-item">
                        <div class="user-avatar">
                            <img [src]="item.avatar" alt="">
                        </div>
                        <div class="user-info">
                            <p>
                                <span class="name">{{ item.remark || item.name }}</span>
                            </p>
                            <p>
                                <span class="content">{{ item.signature }}</span>
                            </p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="chat-room">
        <div class="title" *ngIf="chatUser">
            <i class="iconfont icon-arrow-left" (click)="roomMode = false"></i>
            <span>与 {{ chatUser.remark || chatUser.name }} 聊天中</span>
        </div>
        <div class="message-box" *ngIf="chatUser">
            <p class="message-more" *ngIf="hasMore" (click)="tapMore()">加载更多</p>
            <ng-container *ngFor="let item of messages">
                <div  [ngClass]="item.user_id == user.id ? 'message-right' :  'message-left'">
                    <img class="avatar" [src]="item.user_id == user.id ? user.avatar : chatUser.avatar">
                    <div class="content">
                        {{ item.content }}
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="message-tools" *ngIf="chatUser">
            <i class="iconfont icon-smile-o"></i>
            <i class="iconfont icon-image"></i>
            <i class="iconfont icon-camera"></i>
            <i class="iconfont icon-film"></i>
            <i class="iconfont icon-file-o"></i>
            <i class="iconfont icon-gift"></i>
        </div>
        <div class="message-editor" *ngIf="chatUser">
            <div class="message-text" contenteditable="true"></div>
            <div class="message-action">
                <button>发送</button>
            </div>
        </div>
    </div>
</div>