<div class="preview-container" [class]="{'full-container': navToggle < 1, 'mobile-container': navToggle > 1}">
    <div class="preview-bar">
        <div class="screen-bar">
            <a class="action-item" [class]="{active: navToggle == 1}" (click)="navToggle = 1">
                <i class="iconfont icon-desktop"></i>
            </a>
            <a class="action-item" [class]="{active: navToggle > 1}" [class]="{active: navToggle > 1}" (click)="navToggle = 2">
                <i class="iconfont icon-mobile"></i>
            </a>
        </div>
        <a class="action-item" (click)="tapClose()">
            <i class="iconfont icon-close"></i>
        </a>
    </div>
    <div class="preview-body">
        <div class="shell-box">
            <iframe #browser frameborder="0"></iframe>
        </div>
        @if (isLoading()) {
        <div class="loading-mask">
            <app-loading-ring />
        </div>
        }
    </div>
</div>