@if (data) {
<div class="goods-page">
    <div class="container">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" routerLink="../../" i18n>Home</a>
            <a class="breadcrumb-item" routerLink="../" i18n>Group buy</a>
            <span class="breadcrumb-item active">{{ data.name }}</span>
        </nav>

        <div class="row info-box">
            <div class="col-md-6">
                <app-gallery-slider [items]="galleryItems" />
            </div>
            <div class="col-md-6">
                <div class="bg-white">
                    <div class="activity-intro">
                        <div class="name">
                            {{ data.name }}
                        </div>
                        <div class="desc">
                            {{ data.brief }}
                        </div>
                    </div>
                    <div class="price-box">
                        <div class="activity-panel">
                            <div class="panel-header">
                                <div class="header-name">拼团</div>
                                <div class="header-meta">
                                    <div class="label-item">
                                        <i class="iconfont icon-user"></i>
                                        {{ activity.log_count | numberFormat }}人预约
                                    </div>
                                    <div class="label-item">
                                        剩余时间
                                        <app-countdown [auto]="true" [end]="activity.end_at" />
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="flex-group">
                                    <div class="group-header">
                                        团购价
                                    </div>
                                    <div class="group-body">
                                        {{ activity.price | price }}
                                    </div>
                                </div>
                                <div class="activity-rule">
                                    <div class="rule-icon">
                                        团购规则
                                        <i class="iconfont icon-question-circle"></i>
                                    </div>
                                    <div class="rule-body">
                                        团购规则
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-group">
                            <div class="group-header">配送
                            </div>
                            <div class="group-body">至<app-region url="shop/region/tree" />
                            </div>
                        </div>
                        <div class="flex-group">
                            <div class="group-header">
                                数量
                            </div>
                            <div class="group-body">
                                <app-number-input [field]="amount" [min]="1" [max]="data.stock" />
                            </div>
                        </div>
                    </div>
                    <div class="activity-action">
                        <a class="btn btn-danger">
                            拼团
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row detail-box">
            <div class="col-md-12">
                <div class="tab-box">
                    <div class="tab-header">
                        <div class="tab-item" [class]="{active: tabIndex < 1}" (click)="tabIndex = 0">
                            Product details
                        </div>
                        <div class="tab-item" [class]="{active: tabIndex == 1}" (click)="tabIndex = 1">
                            Comments
                        </div>
                        <div class="tab-item" [class]="{active: tabIndex == 2}" (click)="tabIndex = 2">
                            Issues
                        </div>
                    </div>
                    <div class="tab-body bg-white">
                        <div class="tab-item" [class]="{active: tabIndex < 1}">
                            <div class="content-box" [innerHTML]="content">
                            </div>
                        </div>
                        <div id="comment-tab" class="tab-item" [class]="{active: tabIndex == 1}">
                            <app-comment-page [itemId]="data.id" [init]="tabIndex == 1" />
                        </div>
                        <div class="tab-item issue-box" [class]="{active: tabIndex == 2}">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}