<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>标签表</li>
        </ul>
    </app-page-tip>
  <div class="page-search">
    <a class="btn btn-success pull-right" routerLink="./create">新增标签</a>
</div>

<table class="table  table-bordered well">
    <thead>
    <tr>
        <th>ID</th>
        <th>标签名</th>
        <th>统计</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>1</td>
            <td>21</td>
            <td>1</td>
            <td>
                <div class="btn-group  btn-group-xs">
                    <a class="btn btn-default btn-xs" href="">编辑</a>
                    <a class="btn btn-danger" data-type="del" href="">删除</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</div>