::ng-deep {
    .catalog-item {
        cursor: default;
        .meta {
            color: #888;
            a {
                color: #369;
            }
        }
        .last-thread {
            color: #888;
            font-size: .8em;
            a {
                color: #369;
            }
        }
    }
}