@use '../../theme/theme';

:host ::ng-deep {
    .catalog-item {
        cursor: default;
        .meta {
            color: var(--#{theme.$prefix}meta-text);
        }
        .last-thread {
            color: var(--#{theme.$prefix}meta-text);
            font-size: .8em;
        }
    }
}