<div class="container">
    <div class="tool-bar">
        <div class="tool-left-bar">
            <div class="tool-item" title="新增" (click)="tapAdd()">
                <i class="iconfont icon-plus"></i>
            </div>
            <div class="tool-item" title="题库搜索" (click)="tapFind(searchModal)">
                <i class="iconfont icon-search"></i>
            </div>
            <input type="text" [field]="dataForm.name" class="form-control" placeholder="请输入试卷标题">
            <input type="number" class="form-control time-input" placeholder="限时/分" [field]="dataForm.limit_time">
            <div class="tool-item" title="展开完整" (click)="tapEditFull(modal)">
                <i class="iconfont icon-chevron-down"></i>
            </div>
        </div>
        <div class="tool-right-bar">
            <app-action-button class="icon-btn btn-primary" title="保存" (tapped)="tapSubmit($event)">
                <i class="iconfont icon-floppy-o"></i>
            </app-action-button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="preview-bar" #scrollBar>
                @for (item of items(); track $index; let i = $index) {
                    <div class="preview-item" [class]="{'active': i === editIndex}" (contextmenu)="tapContextMenu($event, i)" (click)="tapEdit(i)">
                        <div class="item-name">{{ item.title }}</div>
                        <div class="item-no">{{ i + 1 }}</div>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-9">
            <app-question-editor [value]="editItem" (valueChange)="onValueChange($event)" />
        </div>
    </div>
    
</div>
<app-context-menu />

<app-dialog-box #modal title="配置试卷信息" [scrollable]="false">
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="name">试卷名</label>
            <div>
                <input type="text" id="name" class="form-control" [field]="dataForm.name">
            </div>
        </div>
        <div class="input-group-control">
            <label for="course_id">科目</label>
            <div class="flat-group">
                <select id="course_id" [field]="dataForm.course_id" class="form-control" (change)="onCourseChange()">
                    <option [value]="0">请选择</option>
                    @for (item of courseItems; track $index) {
                        <option [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
                    }
                </select>
                <select [field]="dataForm.course_grade" class="form-control">
                    @for (item of gradeItems; track $index) {
                        <option [value]="item.value">{{ item.name }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="input-group-control">
            <label for="limit_time">限时/分钟</label>
            <div>
                <input type="number" id="limit_time" class="form-control" [field]="dataForm.limit_time" >
            </div>
        </div>
        <div class="input-group-control">
            <label for="start_at">开始时间</label>
            <div>
                <app-date-input id="start_at" [field]="dataForm.start_at" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="end_at">结束时间</label>
            <div>
                <app-date-input id="end_at" [field]="dataForm.end_at" />
            </div>
        </div>
    </div>
</app-dialog-box>

<app-dialog-box class="dialog-search-box" #searchModal>
    <i class="iconfont icon-close dialog-close" (click)="searchModal.close(false)"></i>
    <div class="search-bar">
        <form class="form-horizontal-control" (submit)="tapDialogSearch()">
            <div class="input-group-control">
                <label for="keywords">关键字</label>
                <input type="text" class="form-control" [field]="dialogQueries.keywords" placeholder="关键词">
            </div>
            <div class="input-group-control">
                <label for="course">科目</label>
                <select id="course" [field]="dialogQueries.course" class="form-control">
                    <option [value]="0">请选择</option>
                    @for (item of courseItems; track $index) {
                    <option [value]="item.id">{{ item.name }}</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div>
    <div class="search-body">
        @for (item of dialogData.items; track $index) {
        <div class="question-option" [class]="{selected: item.selected}" (click)="item.selected = !item.selected">
            <div class="item-title">【{{ item.course?.name }}●{{ formatQuestionType(item.type) }}】{{ item.title }}</div>
            <div class="item-body">{{ item.content }}</div>
        </div>
        }
        <app-pagination [total]="dialogData.total" [field]="dialogQueries.page" [perPage]="dialogQueries.perPage().value()" (valueChange)="tapDialogPage()" />
    </div>
</app-dialog-box>