<div class="container-fluid">
    <div class="player-box">
        <app-movie-player />
        @if (data) {
        <div class="info-box">
            <div class="title">&#64;{{ data.user.name }}</div>
            <div class="content">{{ data.content }}</div>
            @if (data.music) {
            <div class="music">
                <i class="iconfont icon-music"></i>
                <div class="loop-box">
                    {{ data.music.name }}
                </div>
            </div>
            }
        </div>
        }
        @if (data) {
        <div class="action-bar">
            <div class="avatar" (click)="tapUser()">
                <img [src]="data.user.avatar" alt="">
                <div class="follow-icon">
                    <i class="iconfont icon-plus"></i>
                </div>
            </div>
            <div class="btn-item" [class]="{active: data.is_liked}" (click)="tapToggleLike()">
                <i class="iconfont icon-heart"></i>
                <span class="label">{{ data.like_count }}</span>
            </div>
            <div class="btn-item" (click)="tapShowComment()">
                <i class="iconfont icon-commenting"></i>
                <span class="label">{{ data.comment_count }}</span>
            </div>
            <div class="btn-item">
                <i class="iconfont icon-share-alt"></i>
                <span class="label" i18n>Share</span>
            </div>
        </div>
        }
    </div>
</div>

<div class="comment-panel">
    <div class="commtent-form">
        <input type="text" [field]="commentForm.content" i18n-placeholder placeholder="Please input the comment">
        <i class="iconfont icon-paper-plane" (click)="tapCommentSubmit()"></i>
    </div>

    @for (item of commentData.items; track $index) {
    <div class="comment-item">
        <div class="avatar" (click)="tapCommenting(item)">
            <img [src]="item.user.avatar" alt="">
        </div>
        <div class="name" (click)="tapCommenting(item)">{{ item.user.name }}</div>
        <div class="content" (click)="tapCommenting(item)">{{ item.content }}</div>
        <div class="action">
            <span class="time">{{ item.created_at }}</span>
        </div>
        @if (item.replies && item.replies.length > 0) {
        <div class="reply-box">
            @for (it of item.replies; track $index) {
            <div class="comment-item">
                <div class="name" (click)="tapCommenting(it)">{{ it.user.name }}</div>
                <div class="content" (click)="tapCommenting(it)">{{ it.content }}</div>
                <div class="action">
                    <span class="time">{{ it.created_at }}</span>
                </div>
            </div>
            }
        </div>
        }
    </div>
    }
</div>