<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>导出数据</li>
        </ul>
    </app-page-tip>
    <div class="panel-container form-table-control">
        <div class="input-group-control">
            <label for="">数据库</label>
            <div>
                <ng-select [(ngModel)]="schema" [items]="schemaItems" bindLabel="name" bindValue="value"></ng-select>
            </div>
        </div>
        <div class="input-group-control">
            <label for="">sql文件</label>
            <div>
                <div class="file-input">
                    <label for="fileUpload" class="btn btn-primary">选择并执行</label>
                    <input type="file" name="file" id="fileUpload" (change)="onFileChange($event)" accept=".sql" />
                </div>
            </div>
        </div>
    </div>
</div>