@use '../../../theme/theme';
.stack-container {
    --#{theme.$prefix}stack: var(--#{theme.$prefix}panel);
    --#{theme.$prefix}stack-text: var(--#{theme.$prefix}body-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    overflow: hidden;
    .stack-item {
        background-color: var(--#{theme.$prefix}stack);
        color: var(--#{theme.$prefix}stack-text);
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 75vh;
        border-radius: .75rem;
        padding: .8rem;
        box-shadow: var(--#{theme.$prefix}box-shadow);
        z-index: 1;
        transition: all .5s;
        &:not(:first-child) {
            margin-top: -75vh;
            z-index: 0;
        }
        &:nth-child(4n) {
            transform: rotateZ(1deg);
        }
        &:nth-child(4n + 1) {
            transform: rotateZ(2deg);
        }
        &:nth-child(4n + 2) {
            transform: rotateZ(-1deg);
        }
        &:nth-child(4n + 3) {
            transform: rotateZ(-2deg);
        }
        &.stack-item-active {
            z-index: 99;
            transform: rotateZ(0);
        }
        &.stack-item-fade-out {
            animation: stackFadeOut .5s;
            opacity: 0;
        }
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

@keyframes stackFadeOut {
    from {
        transform: rotateZ(0) scale(1) translateX(0);
        opacity: 1;
    }
    to {
        transform: rotateZ(-20deg)  scale(.8)  translate(50vw, 10vh);
        opacity: 0;
    }
}