<div class="math-mark-bar">
    <ng-container *ngFor="let item of items">
        <ng-container [ngSwitch]="item.type">
            <ng-container *ngSwitchCase="'input'">
                <ng-container *ngIf="editable">
                    <input type="text" class="form-control" [(ngModel)]="item.value" (ngModelChange)="onInputChange()" [size]="item.size">
                </ng-container>
                <ng-container  *ngIf="!editable">
                    <div class="input-bar">
                        <p class="success-color">正确答案：
                            <app-math-mark [content]="item.rightValue"></app-math-mark>
                        </p>
                        <p>你的回答：<app-math-mark [content]="item.value"></app-math-mark></p>
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'table'">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th *ngFor="let th of item.header" [ngStyle]="{'text-align': th.align}">
                                <ng-container *ngFor="let it of th.items">
                                    <ng-container [ngSwitch]="it.type">
                                        <ng-container *ngSwitchCase="'math'">
                                            <span [innerHTML]="it.content"></span>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'image'">
                                            <img [src]="it.content">
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                            {{ it.content }}
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tr of item.content">
                            <td *ngFor="let td of tr" [ngStyle]="{'text-align': td.align}">
                                <ng-container *ngFor="let it of td.items">
                                    <ng-container [ngSwitch]="it.type">
                                        <ng-container *ngSwitchCase="'math'">
                                            <span [innerHTML]="it.content"></span>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'image'">
                                            <img [src]="it.content">
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                            {{ it.content }}
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <ng-container *ngSwitchCase="'math'">
                <span [innerHTML]="item.content"></span>
            </ng-container>
            <ng-container *ngSwitchCase="'image'">
                <img [src]="item.content">
            </ng-container>
            <ng-container *ngSwitchCase="'underline'">
                <span class="underline">{{ item.content }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'wavyline'">
                <span class="wavyline">{{ item.content }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'dashed'">
                <span class="dashed">{{ item.content }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'line'">
                <br>
            </ng-container>
            <ng-container *ngSwitchDefault>
                {{ item.content }}
            </ng-container>
        </ng-container>
    </ng-container>
</div>