<div class="math-mark-bar">
    <ng-container *ngFor="let item of items">
        <ng-container [ngSwitch]="item.type">
            <ng-container *ngSwitchCase="'input'">
                <ng-container *ngIf="editable">
                    <input type="text" class="form-control" [(ngModel)]="item.value" (ngModelChange)="onInputChange()" [size]="item.size">
                </ng-container>
                <ng-container  *ngIf="!editable">
                    <div class="input-bar">
                        <p class="success-color">正确答案：
                            <app-math-mark [content]="item.rightValue"></app-math-mark>
                        </p>
                        <p>你的回答：<app-math-mark [content]="item.value"></app-math-mark></p>
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'math'">
                <span [innerHTML]="item.content"></span>
            </ng-container>
            <ng-container *ngSwitchCase="'line'">
                <br>
            </ng-container>
            <ng-container *ngSwitchDefault>
                {{ item.content }}
            </ng-container>
        </ng-container>
    </ng-container>
</div>