:host {
    display: inline-block;
}
.math-mark-bar {
    display: inline-block;
    img {
        max-width: 100%;
        max-height: 50vh;
    }
}
.form-control {
    display: inline-block;
    width: auto;
    min-width: auto;
}
.input-bar {
    border: 1px solid #ced4da;
    cursor: not-allowed;
    padding: .1rem 0.75rem;
    border-radius: 0.25rem;
    background-color: #ced4da;
    display: inline-block;
    vertical-align: middle;
    p {
        margin: 0;
        word-break: keep-all;
        word-wrap: normal;
        font-size: .8em;
        padding: 0;
        line-height: 1rem;
    }
    .success-color {
        color: #198754;
    }
}