<div class="route-bar">
    <div class="route-back-icon" (click)="tapBack()">
        <i class="iconfont icon-chevron-left"></i>
    </div>
    @if (dataModel().id > 0) {
        <div class="route-title" i18n>Edit Resource</div>
    } @else {
        <div class="route-title" i18n>Publish Resource</div>
    }

</div>

<div class="container-fluid">
    <form class="form-table-control" (submit)="tapSubmit2($event)">
        <div class="panel-container">
            <div class="title-input">
                <label for="title">标题</label>
                <input type="text" id="title" class="form-control" [formField]="dataForm.title">
            </div>

            <app-markdown-editor [formField]="dataForm.content" (imageUpload)="editorImageUpload($event)" [height]="400" placeholder="资源描述" />
        </div>

        <div class="row">
            <div class="col-md-6">
                <app-panel title="高级属性">
                    <div class="input-group-control">
                        <label for="cat_id">分类</label>
                        <div>
                            <select id="cat_id" class="form-control" [formField]="dataForm.cat_id">
                                @for (item of categories; track $index) {
                                    <option [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
                                }
                            </select>

                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="thumb">图片</label>
                        <div>
                            <app-file-input [formField]="dataForm.thumb" />
                        </div>
                    </div>

                    <div class="input-group-control">
                        <label for="keywords">关键字</label>
                        <div>
                            <app-words-input id="keywords" [formField]="dataForm.keywords" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="description">说明</label>
                        <div>
                            <app-text-editor [formField]="dataForm.description" height="100" />
                        </div>
                    </div>

                    <div class="input-group-control">
                        <label>标签</label>
                        <div>
                            <app-select-input [multiple]="true" [source]="tagSource" [formField]="dataForm.tags" [creatable]="true" placeholder="选择标签" />
                        </div>
                    </div>
                </app-panel>
            </div>
            <div class="col-md-6">
                <app-panel title="附加属性">
                    <div class="input-group-control">
                        <label>价格</label>
                        <div>
                            <app-number-input [formField]="dataForm.price" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="is_open_source">允许商用</label>
                        <div>
                            <app-switch [formField]="dataForm.is_commercial" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="is_open_source">允许转载</label>
                        <div>
                            <app-switch [formField]="dataForm.is_reprint" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="official_website">文件大小</label>
                        <div>
                            <app-data-size [formField]="dataForm.size" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label>预览类型</label>
                        <div>
                            <select class="form-control" [formField]="dataForm.preview_type">
                                @for (item of previewTypeItems; track $index; let i = $index) {
                                    <option [value]="i">{{ item }}</option>
                                }
                            </select>
                        </div>
                    </div>
                    @if (previewType() > 0) {
                    <div class="input-group-control">
                        <label for="official_website">预览文件</label>
                        <div>
                            <app-file-input [formField]="dataForm.preview_file" [accept]="previewType() == 1 ? 'image/*' : '*/*'" [custom]="true" (customUpload)="onFileUpload($event, true)" />
                        </div>
                    </div>
                    }
                </app-panel>
            </div>
        </div>

        <app-panel title="文件">
            <table class="table">
                <thead>
                    <tr>
                        <th>文件类型</th>
                        <th>文件路径</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of dataForm.files; track $index; let i = $index) {
                    <tr>
                        <td>
                            <select class="form-control" [formField]="item.file_type">
                                @for (type of fileTypeItems; track $index) {
                                <option [value]="type.value">{{ type.name }}</option>
                                }
                            </select>
                        </td>
                        <td>
                            @if (item.file_type().value() != '0') {
                                <input type="text" class="form-control" [formField]="item.file">
                            } @else {
                                <app-file-input [formField]="item.file" accept="*/*" [custom]="true" (customUpload)="onFileUpload($event)"/>
                            }
                        </td>
                        <td>
                            <i class="iconfont icon-close" (click)="tapRemoveFile(i)"></i>
                        </td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <a class="btn btn-primary" (click)="tapAddFile()">
                                <i class="iconfont icon-plus"></i>
                            </a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </app-panel>

        <div class="btn-group">
            <app-action-button class="btn btn-success" (tapped)="tapSubmit($event)" [disabled]="dataForm().invalid()">确认保存</app-action-button>
            <a class="btn btn-danger" (click)="tapBack()">取消修改</a>
        </div>
    </form>
</div>
