<div class="page-search-bar">
    <form class="flat-input" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
        <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" i18n-placeholder placeholder="Please input a keyword">
        <button type="submit" class="btn btn-primary" i18n>Search</button>
    </form>
    <div class="btn-group pull-right">
        <a class="btn btn-success" (click)="open(modal)" i18n>Create</a>
    </div>
</div>


<div class="list-table">
    <ng-container *ngFor="let item of items">
        <div class="image-row-item">
            <div class="item-cover">
                <img [appLazyLoad]="item.thumb | asset" [alt]="item.title">
            </div>
            <div class="item-body">
                <div class="item-title">
                    <span class="no">{{ item.id }}</span>
                    {{ item.name }}</div>
                <div class="item-meta">
                    <p>{{ item.description }}</p>
                </div>
                <div class="item-footer">
                    <div class="item-meta-bar">
                        <span><i class="iconfont icon-eye"></i><b>{{ item.status }}</b></span>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-success btn-xs" [routerLink]="[item.id, 'weight']" i18n>Components</a>
                        <a class="btn btn-primary btn-xs" [routerLink]="[item.id, 'page']" i18n>Pages</a>
                        <a class="btn btn-light btn-xs" (click)="open(modal, item)" i18n>Edit</a>
                        <a class="btn btn-danger" (click)="tapRemove(item)" i18n>Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>


<app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
<app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>

<app-dialog-box #modal [title]="editData.id > 0 ? 'Edit Site' : 'New Site'">
    <div class="form-group">
        <label for="name-input" i18n>Name</label>
        <div>
            <input class="form-control" id="name-input" [(ngModel)]="editData.name" i18n-placeholder placeholder="Please input the name">
        </div>
    </div>
    <div class="form-group">
        <label for="title-input" i18n>Site Title</label>
        <div>
            <input class="form-control" id="title-input" [(ngModel)]="editData.title" i18n-placeholder placeholder="Please input the title of site">
        </div>
    </div>
    <div class="form-group">
        <label>Logo</label>
        <div>
            <app-file-input [(ngModel)]="editData.logo"></app-file-input>
        </div>
    </div>
    <div class="form-group">
        <label for="keywords-input" i18n>Site Keywords</label>
        <div>
            <app-words-input [(ngModel)]="editData.keywords" i18n-placeholder placeholder="Please input the keywords of site"></app-words-input>
        </div>
    </div>
    <div class="form-group">
        <label for="description-input" i18n>Site Description</label>
        <div>
            <app-text-editor [(ngModel)]="editData.description" height="100"></app-text-editor>
        </div>
    </div>
    <div class="form-group">
        <label i18n>Preview Image</label>
        <div>
            <app-file-input [(ngModel)]="editData.thumb"></app-file-input>
        </div>
    </div>
    <div class="form-group">
        <label i18n>Is Share</label>
        <div>
            <app-switch [(ngModel)]="editData.is_share"></app-switch>
        </div>
    </div>
    <div class="form-group">
        <label i18n>Price for Share</label>
        <div>
            <app-number-input [(ngModel)]="editData.share_price"></app-number-input>
        </div>
    </div>
</app-dialog-box>