@use '../../styles/scrollbar';
.drop-menu-btn {
    position: relative;
    .drop-menu-body {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
        max-height: 50vh;
        overflow-y: auto;
        min-width: 10em;
        left: -5em;
        z-index: 88;
        @include scrollbar.scrollbar();
    }
    .menu-item {
        line-height: 2em;
        padding: 0 .8em;
        cursor: default;
        user-select: none;
        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }
    &.open-drop {
        .drop-menu-body {
            display: block;
        }
    }
}