@use '../../../../theme/theme';
.progress-box {
    position: relative;
    .progress-tip {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 0;
        left: 0;
        line-height: 12.5rem;
        font-size: 2.5rem;
    }
}