@if (visible) {
    <div class="dialog dialog-box"  animate.enter="dialog-opened" animate.leave="dialog-closed">
    <div class="dialog-header">
        <div class="dialog-title">发票信息</div>
        <i class="iconfont icon-close dialog-close" (click)="close()"></i>
    </div>
    <div class="dialog-body">
        <div class="input-group-control">
            <label>发票类型</label>
            <div class="radio-box">
                @for (item of typeItems; track $index; let i = $index) {
                 <span [ngClass]="{active: editData.type == i}" (click)="editData.type = i">{{ item }}</span>
                }
                <span class="disable">增值税专用发票</span>
            </div>
            <div class="tip">电子普通发票与纸质普通发票具备同等法律效力，可支持报销入账</div>
        </div>
        <div class="input-group-control">
            <label>发票抬头</label>
            <div class="radio-box">
                @for (item of titleTypeItems; track $index; let i = $index) {
                    <span [ngClass]="{active: editData.title_type == i}" (click)="editData.title_type = i">{{ item }}</span>
                }
            </div>
        </div>
        <div class="input-group-control">
            <input type="text" placeholder="抬头" [field]="editData.title">
            @if (editData.title_type > 0) {
                <input type="text" placeholder="税号" [field]="editData.tax_no">
            }
        </div>
        <div class="input-line">
            <p><span>收票人手机</span><span>{{ user()?.mobile }}</span></p>
            <p><span>收票人邮箱</span><span>{{ user()?.email }}</span></p>
        </div>
        <div class="input-group-control">
            <label>发票内容</label>
            <div class="radio-box">
                @for (item of contentItems; track $index; let i = $index) {
                    <span [ngClass]="{active: editData.content == i}" (click)="editData.content = i">{{ item }}</span>
                }
            </div>
        </div>
    </div>
    <div class="dialog-footer">
        <div class="btn-group">
            <button type="button" class="btn btn-primary"  (click)="close(true)" i18n>Ok</button>
            <button type="button" class="btn btn-danger" (click)="close()" i18n>Cancel</button>
        </div>
    </div>
</div>
}