.is_loading {
    min-height: 50rem;
}
.article-list-item {
    display: block;
    position: relative;
    margin: 0 -0.625rem;
    padding: 0.5rem;
    .name {
        display: inline-block;
        height: 2.5rem;
        overflow: hidden;
        flex: 1;
    }
    .time {
        color: #b3b1b1;
        font-size: .8rem;
        height: 2.5rem;
        word-break: keep-all;
        word-wrap: normal;
    }
    .item-title {
        display: flex;
        padding: 0 .5rem;
        line-height: 2.5rem;
    }
    .item-meta {
        padding: 0 .5rem .5rem;
        color: #767676;
        font-size: .8rem;
    }
    &:hover {
        box-shadow: rgb(51 51 51 / 70%) 0 0 .8rem;  
    }
    &:not(:last-of-type) {
        border-bottom: 1px solid #ccc;
    }
}