<div class="panel">
    <div class="panel-header">
        <span i18n>Lastest Articles</span>

        <div class="panel-menu-bar">
            <a class="tablet-collapse" routerLink="blog/category" i18n>Categories</a>
            <a class="tablet-collapse" routerLink="blog/tag" i18n>Tags</a>
            <a class="tablet-collapse" routerLink="blog/archives" i18n>Archives</a>
            <a routerLink="blog" i18n>MORE</a>
        </div>
        
    </div>
    <div class="panel-body">
        @if (isLoading()) {
            <div class="article-list-item --with-animated">
                <div class="item-body">
                    <a class="item-title repeater"></a>
                    <div class="item-time repeater --with-1"></div>
                </div>
                <div class="item-meta">
                    <span class="repeater"></span>
                </div>
            </div>
        } @else {
            @for (item of items(); track $index) {
                <a class="article-list-item" [routerLink]="['blog', item.id]">
                    <div class="item-body">
                        <a class="item-title">{{ item.title }}</a>
                        <div class="item-time">{{ item.created_at | ago }}</div>
                    </div>
                    <div class="item-meta">{{ item.description }}</div>
                </a>
            } @empty {
                <p class="page-empty-tip" i18n>Nothing is here.</p>
            }
        }
    </div>
</div>