<div class="panel" appLazyLoad (lazyLoading)="loadData()">
    <div class="panel-header">
        <span i18n>Lastest Articles</span>

        <div class="panel-menu-bar">
            <a routerLink="blog/category" i18n>Categories</a>
            <a routerLink="blog/tag" i18n>Tags</a>
            <a routerLink="blog/archives" i18n>Archives</a>
            <a routerLink="blog" i18n>MORE</a>
        </div>
        
    </div>
    <div class="panel-body" [ngClass]="{'is_loading': isLoading}">
        <ng-container *ngFor="let item of items">
            <a class="article-list-item" [routerLink]="['blog', item.id]">
                <div class="item-body">
                    <a class="item-title">{{ item.title }}</a>
                    <div class="item-time">{{ item.created_at | ago }}</div>
                </div>
                <div class="item-meta">{{ item.description }}</div>
            </a>
        </ng-container>
    </div>
</div>