@if (visible()) {
<div class="dialog-mask"></div>
<div class="dialog-select-box">
    <div class="search-bar">
        <form class="form-horizontal-control" (submit)="tapSearch($event)">
            <div class="flat-input">
                <input type="text" class="form-control" id="keywords" [formField]="queries.keywords" id="keywords" [placeholder]="placeholder()">
                <select class="form-control tablet-collapse" [formField]="queries.type">
                    @for (item of typeItems; track $index;let i = $index) {
                        <option [value]="i">{{ item }}</option>
                    }
                </select>
                <button type="submit" class="btn btn-primary" i18n>Search</button>
                <a class="btn tablet-collapse" [class]="{'btn-info': !onlySelected(), 'btn-success': onlySelected()}" (click)="tapToggleOnly()" i18n>Only selected({{ selectedCount() }})</a>
                <div class="btn btn-danger" (click)="close()">
                    <i class="iconfont icon-close"></i>
                </div>
            </div>
        </form>
    </div>
    <div class="body-container">
        @for (item of formatItems(); track $index) {
            <div class="line-row-item --with-icon" [class.selected]="isSelected(item)" (click)="tapSelected(item)">
                <div class="item-icon">
                    {{ item.type | logType:'short'}}
                </div>
                <div class="item-body">
                    <div class="item-title">{{ item.remark || item.account?.name || '-' }}</div>
                    <div class="item-meta">{{ item.happened_at | timestamp }}</div>
                </div>
                <div class="item-count" [class]="{'--with-danger': item.type != 1}">{{ item.money | numberFormat }}</div>
            </div>
        }
    </div>
    <div class="footer-container">
        <app-pagination [total]="total()" [formField]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
        <div class="btn-group">
            <div class="btn btn-primary" (click)="tapYes()" i18n>Confirm</div>
            <div class="btn btn-danger" (click)="tapCancel()" i18n>Reset</div>
        </div>
    </div>
</div>
}
