@use '../../theme/theme';
.container {
    min-height: 80vh;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}
.metro-item {
    line-height: 5rem;
    height: 5rem;
    display: block;
    font-size: 1.875rem;
    text-align: center;
    background-color: var(--#{theme.$prefix}panel);
    overflow-y: hidden;
    box-shadow: var(--#{theme.$prefix}box-shadow);
    text-decoration: none;
    color: var(--#{theme.$prefix}body-text);
    margin-bottom: 1rem;
    &.metro-desc {
        .name {
            line-height: 5rem;
            font-size: 1.875rem;
            transition: all 1s;
        }
        .desc {
            line-height: 1.25rem;
            font-size: 0.75rem;
            font-weight: 300;
            margin-top: 0.625rem;
        }
        &:hover {
            .name {
                line-height: 2.5rem;
                font-size: 1.25rem;
            }
        }
    }
}