.goods-dialog {
    width: 20rem;
    margin-left: -10rem;
    .dialog-footer {
        display: flex;
        .btn {
            flex: 1;
            border-radius: 0;
        }
    }
}
.item-price {
    display: inline-block;
    color: red;
    font-size: 1.5em;
    em {
        font-style: normal;
        font-size: .2em;
    }
}