@if (visible) {
<div class="dialog-mask" (click)="close()"></div>
<div class="dialog-box"  animate.enter="dialog-opened" animate.leave="dialog-closed">
    <div class="input-label">{{ title }}</div>
    <div class="item-name">
        <input type="text" class="form-control" [(ngModel)]="value">
    </div>
    <ng-content></ng-content>
    <div class="dialog-footer">
        <div class="btn btn-secondary" (click)="close()">取消</div>
        <div class="btn btn-primary" (click)="close(true)">保存</div>
    </div>
</div>
}
