<app-edit-header [title]="dataModel().id > 0 ? '编辑板块' : '新增板块'" (submited)="tapSubmit($event)" [disabled]="dataForm().invalid()" />
<div class="container-fluid">
    <div class="form-table-control">
        <form class="panel-container" (submit)="tapSubmit()">
            <div class="input-group-control">
                <label for="name">名称</label>
                <div>
                    <input type="text" id="name" class="form-control" [field]="dataForm.name">
                    @if (dataForm.name().invalid()) {
                        <div class="input-tip">请输入名称</div>
                    }
                </div>
            </div>
            <div class="input-group-control">
                <label>上级</label>
                <select id="parent_id" class="form-control" [field]="dataForm.parent_id">
                    <option value="0">-- 无上级板块 --</option>
                    @for (item of categories; track $index) {
                        <option [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
                    }
                </select>
            </div>
            <div class="input-group-control">
                <label for="thumb">图标</label>
                <div>
                    <app-file-input [field]="dataForm.thumb" />
                </div>
            </div>
            <div class="input-group-control">
                <label for="description">简介</label>
                <div>
                    <textarea id="description" class="form-control" [field]="dataForm.description"></textarea>
                </div>
            </div>
            <div class="input-group-control">
                <label for="position">排序</label>
                <div>
                    <input type="number" id="position" class="form-control" [field]="dataForm.position">
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-6">
                <app-panel title="主题分类">
                    @for (item of classifyItems; track $index) {
                    <div class="card-item">
                        <div class="thumb">
                            @if (item.icon) {
                                <img [src]="item.icon" alt="">
                            } @else {
                                <div class="no-image">无图</div>
                            }
                        </div>
                        <div class="name">{{ item.name }}</div>
                        <div class="card-action">
                            <i class="iconfont icon-edit" (click)="editClassify(classifyModal, item)"></i>
                            <i class="iconfont icon-close" (click)="removeClassify(item)"></i>
                        </div>
                    </div>
                    }

                    <div class="add-item" (click)="editClassify(classifyModal)">
                        <i class="iconfont icon-plus"></i>
                    </div>
                </app-panel>
            </div>
            <div class="col-md-6">
                <app-panel title="版主">
                    @for (item of userItems; track $index) {
                    <div class="card-item">
                        <div class="thumb">
                            @if (item.avatar) {
                                <img [src]="item.avatar" alt="">
                            } @else {
                                <div class="no-image">无图</div>
                            }
                        </div>
                        <div class="name">{{ item.name }}</div>
                        <div class="card-action">
                            <i class="iconfont icon-close" (click)="removeUser(item)"></i>
                        </div>
                    </div>
                    }

                    <div class="add-item" (click)="addUser(userModal)">
                        <i class="iconfont icon-plus"></i>
                    </div>
                </app-panel>
            </div>
        </div>

        <div class="btn-group">
            <app-action-button class="btn btn-success" (tapped)="tapSubmit($event)">确认保存</app-action-button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </div>
</div>


<app-dialog-box #classifyModal>
    <div class="form-group">
        <label for="name-input">名称</label>
        <div class="input-group-control">
            <input class="form-control" id="name-input" [(ngModel)]="editData.name" placeholder="请输入名称">
        </div>
    </div>
    <div class="form-group">
        <label for="content-input">图片</label>
        <div class="input-group-control">
            <app-file-input [(ngModel)]="editData.icon" />
        </div>
    </div>
</app-dialog-box>



<app-dialog-box #userModal title="选择用户">
    <div class="form-group">
        <label for="name-input">名称</label>
        <div class="input-group-control">
            <input class="form-control" id="name-input" [(ngModel)]="userKeywords" placeholder="请输入名称" (ngModelChange)="tapSearchUser()">
        </div>
    </div>
    @for (item of users; track $index) {
        <div class="card-item" [ngClass]="{active: item.checked}" (click)="item.checked = !item.checked">
            <div class="thumb">
                @if (item.avatar) {
                    <img [src]="item.avatar" alt="">
                } @else {
                    <div class="no-image">无图</div>
                }
            </div>
            <div class="name">{{ item.name }}</div>
        </div>
    }
</app-dialog-box>
