.picture-box {
    display: flex;
    .view {
        position: relative;
        flex: 1;
        border: 1px solid #e8e8e8;
        // margin-right: 16px;
        img {
            display: block;
            width: 100%;
            // width: 428px;
            // height: 428px;
            background-color: #f4f4f4;
        }
    }
    ul {
        overflow: hidden;
        position: relative;
        margin: 0;
        padding: 0;
        li {
            zoom: 1;
            width: 78px;
            height: 78px;
            overflow: hidden;
            margin-bottom: 10px;
            vertical-align: top;
            img {
                display: block;
                width: 100%;
                height: 100%;
                background-color: #f4f4f4;
            }
            &.active {
                border: 3px solid #b4a078;
            }
        }
    }
}