@use '../../../../bootstrap/loading/cute';
.loading-tip-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    .loading-ring1 {
        font-size: 1.3em;
        span{ 
            width: 0.7em;
        }
    }
}