<div class="search-panel">
    <div class="search-input">
        <input type="text" [field]="keywords" (keypress)="onKeyDown($event)" placeholder="请输入关键词或货号">
        <i class="iconfont icon-search" (click)="tapSearch()"></i>
    </div>
    <div class="search-body">
        <div class="panel-body">
            @for (item of items; track $index) {
                <div class="item-option" [class]="{selected: selected && selected.id === item.id}" (click)="tapSelected(item)">
                    <div class="thumb">
                        <img [src]="item.thumb">
                    </div>
                    <div class="name">{{ item.name }}</div>
                    <div class="price">￥{{ item.price }}</div>
                </div>
            }
        </div>
        @if (childVisible) {
            <div class="child-body">
            @for (item of children; track $index) {
                <div class="item-option" [class]="{selected: selectedChild && selectedChild.id === item.id}" (click)="tapSelectedChild(item)">
                    <div class="name">{{ item.series_number }}</div>
                    <div class="price">￥{{ item.price }}</div>
                </div>
            }
        </div>
        }
        
    </div>
</div>
