<div class="action-btn" [class]="{disabled: disabled(), loading: loading()}">
    <div class="action-body">
        <label [for]="fileName">
            <ng-content />
        </label>
        <input type="file" name="file" [id]="fileName" (change)="uploadFile($event)" [accept]="accept()" [disabled]="disabled() || loading()" [multiple]="multiple()"/>
    </div>
    <div class="action-loading">
        <span [style]="loadingStyle"></span>
        <span [style]="loadingStyle"></span>
        <span [style]="loadingStyle"></span>
    </div>
</div>