<header>
    <app-top-bar />
    <div class="header-main" appScrollFixed="top-fixed">
        <div class="container">
            @if (site) {
            <div class="header-logo">
                <img [src]="site.logo" alt="">
            </div>
            }
            <ul class="header-nav">
                <li>
                    <a routerLink="./" i18n>Home</a>
                </li>
                <li>
                    <a routerLink="./activity/seckill" i18n>Seckill</a>
                </li>
                <li>
                    <a routerLink="./activity/auction" i18n>Auction</a>
                </li>
                <li>
                    <a routerLink="./activity/coupon" i18n>Coupon</a>
                </li>
                @for (item of categories; track $index) {
                <li>
                    <a [routerLink]="'./category/' + item.id">{{ item.name }}</a>
                    @if (item.children) {
                    <div class="nav-dropdown">
                        @for (column of item.children; track $index) {
                        <div class="nav-column">
                            <div class="nav-title">
                                <a >{{ column.name }}</a>
                            </div>
                            @if (column.children) {
                            <div>
                                @for (child of column.children; track $index) {
                                <div class="nav-item">
                                    <img [src]="child.icon" alt="">
                                    <span><a >{{ child.name }}</a></span>
                                </div>
                                }
                            </div>
                            }
                        </div>
                        }
                    </div>
                    }
                </li>
                }
            </ul>
            <div class="header-search">
                <input type="text" i18n-placeholder placeholder="Search ..." [field]="keywords" (ngModelChange)="onKeywordsChange()" (keypress)="onSearchKeyDown($event)">
                <i class="iconfont icon-search" (click)="tapSearch()"></i>
                @if (hotItems.length > 0) {
                <div class="search-hot">
                    <ul>
                        @for (item of hotItems; track $index) {
                        <li (click)="tapSearch(item)">
                            {{ item }}
                        </li>
                        }
                    </ul>
                </div>
                }
                @if (tipItems.length > 0) {
                <div class="search-tip">
                    <ul>
                        @for (item of tipItems; track $index) {
                        <li (click)="tapSearch(item)">
                            {{ item }}
                        </li>
                        }
                    </ul>
                </div>
                }
            </div>
            <div class="header-cart">
                <app-cart-dialog />
            </div>
        </div>
    </div>
</header>

<router-outlet />

<app-bottom-bar />