header {
    z-index: 10;
}
.header-main {
    position: relative;
    height: 250px;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
    .container {
        position: relative;
        height: 100%;
    }
    .header-logo {
        text-align: center;
        img {
            height: 100px;
        }
    }
    .header-nav {
        line-height: 1;
        font-weight: 700;
        height: 50px;
        width: auto;
        position: absolute;
        bottom: 0px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        line-height: 3rem;
        a {
            text-decoration: none;
        }
        li {
            display: inline-block;
            margin-top: 6px;
            padding: 0 24px;
            &:hover,
            &.active {
                >a {
                    border-bottom: 3px solid #b4a078;
                    padding-bottom: 5px;
                }
            }
        }
        .nav-dropdown {
            display: none;
            position: absolute;
            top: 50px;
            left: 0;
            padding-top: 30px;
            background-color: transparent;
            padding: 20px 40px 30px;
            background: #fff;
            box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
            z-index: 9;
        }
        .nav-column {
            margin-right: 34px;
            display: inline-block;
            vertical-align: top;
        }
        .nav-title {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 700;
            line-height: 36px;
            width: 140px;
            border-bottom: 1px solid #ddd;
        }
        .nav-item {
            margin-bottom: 4px;
            font-weight: 400;
            line-height: 50px;
            img {
                height: 50px;
                width: 50px;
                border: 0;
                vertical-align: top;
            }
            span {
                display: inline-block;
                width: 84px;
                max-width: 84px;
                max-height: 48px;
                margin-left: 6px;
                font-size: 14px;
                vertical-align: middle;
                line-height: 1.2;
                overflow: hidden;
            }
        }
    }
    .header-search {
        position: relative;
        .iconfont {
            font-size: 30px;
            color: #b4a078;
            vertical-align: middle;
        }
        input {
            height: 40px;
            border: 0;
            border-bottom: 1px solid #D8CEBC;
            font-size: 16px;
            width: 252px;
            outline: 0;
        }
        ul, li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .search-hot {
            font-size: 12px;
            line-height: 20px;
            li {
                display: inline-block;
                margin-right: 10px;
                cursor: pointer;
            }
        }
        .search-tip {
            position: absolute;
            width: 100%;
            background-color: white;
            z-index: 88;
            top: 40px;
            box-shadow: 0 4px 5px 0 #cccccc94;
            li {
                line-height: 40px;
                padding: 0 10px;
                word-break: keep-all;
                overflow: hidden;
                cursor: pointer;
                &:not(:last-of-type) {
                    border-bottom: 1px solid #ccc;
                }
                &:hover {
                    background-color: rgba(153,153,153,.1);
                }
            }
        }
    }
    .header-cart {
        position: absolute;
        width: 34px;
        height: 32px;
        top: 100px;
        right: 9px;
    }
    &.top-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 3.75rem;
        z-index: 20;
        .container {
            display: flex;
        }
        .header-logo {
            width: 4rem;
            img {
                max-width: 100%;
                height: 100%;
                margin: 0 auto;
            }
        }
        .header-nav,
        .header-cart,
        .header-search {
            position: relative;
            // margin-top: 16px;
            top: 0;
        }
        .header-nav {
            flex: 1;
            .nav-dropdown {
                top: 2.6875rem;
            }
        }
        .header-cart {
            width: 4rem;
            right: -0.625rem;
            top: .5rem;
        }
        .header-search {
            width: 4rem;
            right: -1rem;
            top: .5rem;
            background-color: #fff;
            .search-hot {
                display: none;
            }
            input {
                display: none;
            }
            &.expanded {
                right: 242px;
                input {
                    display: inline-block;
                }
            }
        }
    }
}

header {
    .user-header {
        height: 8.5rem;
        .header-main {
            height: 6.25rem;
            padding-top: 1.5625rem;
            .container {
                display: grid;
                grid-template: 50px / 180px 1fr;
                grid-gap: 20px;
            }
            .header-logo {
                img {
                    max-width: 100%;
                    height: 100%;
                    margin: 0 auto;
                }
            }
            .header-title {
                font-size: 2.1875rem;
                font-weight: 700;
                color: #b4a078;
                border-left: 1px solid #b4a078;
                padding-left: 1.25rem;
            }
            &.top-fixed { 
                padding-top: 0.3125rem;
                height: 3.75rem;
            }
        }
    }
}



.app-down-guide {
    width: 100%;
    height: 120px;
    position: fixed;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 99;
    .content {
        width: 1090px;
        height: 90px;
        margin: 15px auto;
        position: relative;
        .iconfont-close {
            position: absolute;
            height: 22px;
            width: 22px;
            border-radius: 50%;
            top: -11px;
            right: -11px;
            cursor: pointer;
            background: #ffff;
            text-align: center;
            line-height: 21px;
        }
    }
}

@media (min-width: 768px) {
    header {
        height: 15rem;
    }
    .header-top {
        height: 2.25rem;
        .top-left {
            float: left;
            >a {
                float: left;
            }
        }
        .top-right {
            float: right;
        }
    }
    .header-main {
        height: 12.75rem;
        .header-logo {
            text-align: left;
            img {
                height: 8.75rem;
            }
        }
        .header-nav {
            height: 3.1875rem;
            width: 100%;
            bottom: 0px;
        }
        .header-search {
            position: absolute;
            top: 4rem;
            right: 4rem;
            width: 17.9375rem;
            height: 3.125rem;
        }
        .header-cart {
            top: 4.0625rem;
        }
    }
}

@media (min-width: 996px) {
    .header-main {
        .header-logo {
            text-align: center;
        }
    }
}

