<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>抽奖活动列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">标题</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="标题">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a routerLink="./create" class="pull-right btn btn-primary">新增抽奖</a>
            </form>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>活动名称</th>
                    <th class="auto-hide">开始时间</th>
                    <th class="auto-hide">结束时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td class="auto-hide">{{ item.start_at | timestamp }}</td>
                    <td class="auto-hide">{{ item.end_at | timestamp }}</td>
                    <td>{{ item.status }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-light btn-xs" [routerLink]="'./edit/' + item.id">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
        <app-pagination [total]="total" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
    </div>
</div>