<app-edit-header [title]="data && data.id > 0 ? '编辑广告位' : '新增广告位'" (submited)="tapSubmit($event)" [disabled]="form.invalid"></app-edit-header>
<div class="container-fluid">
    <form class="form-table panel-container" [formGroup]="form" (ngSubmit)="tapSubmit()">
        <div class="zre-input-group">
            <label for="name">名称</label>
            <div>
                <input type="text" id="name" class="form-control" formControlName="name">
                <div class="input-tip" *ngIf="form.get('name').invalid">请输入名称</div>
            </div>
        </div>
        <div class="zre-input-group">
            <label for="code">调用代码</label>
            <div>
                <input type="text" id="code" class="form-control" formControlName="code">
                <div class="input-tip" *ngIf="form.get('code').invalid">请输入调用代码，显示广告时使用</div>
            </div>
        </div>
        <div class="zre-input-group">
            <label for="auto_size">自适应</label>
            <div>
                <app-switch id="auto_size" formControlName="auto_size"></app-switch>
            </div>
        </div>
        <div class="zre-input-group">
            <label for="source_type">来源类型</label>
            <div>
                <app-switch id="source_type" formControlName="source_type" onLabel="第三方接入" offLabel="本地"></app-switch>
            </div>
        </div>
        <div class="zre-input-group">
            <label for="width">宽</label>
            <div>
                <input type="text" id="width" class="form-control" formControlName="width">
            </div>
        </div>
        <div class="zre-input-group">
            <label for="height">高</label>
            <div>
                <input type="text" id="height" class="form-control" formControlName="height">
            </div>
        </div>
        
        <div class="zre-input-group">
            <label for="template">模板</label>
            <div>
                <textarea id="template" class="form-control" formControlName="template"></textarea>
            </div>
        </div>
        <div class="zre-input-group">
            <label for="status">状态</label>
            <div>
                <app-switch id="status" formControlName="status" onLabel="启用" offLabel="关闭"></app-switch>
            </div>
        </div>
        <div class="btn-group">
            <app-action-button class="btn btn-success" (tapped)="tapSubmit($event)">确认保存</app-action-button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>