<div class="input-group-control">
    <label for="type">响应类型</label>
    <div>
        <select id="type" [(value)]="data.type" class="form-control" (change)="onTypeChange()">
            @for (item of typeItems; track $index) {
            <option [value]="item.value">{{ item.name }}</option>
            }
            @if (other()) {
            <option [value]="99">{{ other() }}</option>
            }
        </select>
    </div>
</div>
@if (data.type < 1) {
    <textarea class="form-control" [(value)]="data.text" (valueChange)="onContentChange()"></textarea>
} @else if (data.type >= 1 && data.type <= 2) {
    <app-select-input id="parent_id" [source]="mediaSource()" [(value)]="data.media" (valueChange)="onContentChange()" />
} @else if (data.type == 3) {
    <div class="input-group-control">
        <label for="template_id">模板ID</label>
        <input type="text" id="template_id" class="form-control" [(value)]="data.template_id" (input)="onTemplateChange()" placeholder="示例：模板ID">
    </div>
    <div class="input-group-control">
        <label for="template_id">链接</label>
        <input type="text" id="template_url" [(value)]="data.template_url" (input)="onContentChange()" class="form-control">
    </div>
    <div class="input-group-control">
        <label for="">小程序appid</label>
        <div>
            <input type="text" class="form-control" [(value)]="data.appid" (input)="onContentChange()">
        </div>
    </div>
    <div class="input-group-control">
        <label for="">小程序路径</label>
        <div>
            <input type="text" class="form-control" [(value)]="data.path" (input)="onContentChange()">
        </div>
    </div>
    <table class="table table-hover" [hidden]="!data.template_id">
        <thead>
            <tr>
                <th>字段</th>
                <th>内容</th>
                <th>颜色</th>
            </tr>
        </thead>
        <tbody>
            @for (item of data.parameters; track $index) {
            <tr>
                <td>{{ item.name }}</td>
                <td>
                    <textarea class="form-control" [(value)]="item.value" (input)="onContentChange()"></textarea>
                </td>
                <td>
                    <input type="color" class="form-control" [(value)]="item.color" (input)="onContentChange()">
                </td>
            </tr>
            }
        </tbody>
    </table>
} @else if (data.type == 4) {
    <div class="input-group-control">
        <label for="content">参数</label>
        <div>
            <input type="text" id="content" class="form-control" placeholder="示例：参数" [(value)]="data.parameter" (input)="onContentChange()">
        </div>
    </div>
} @else if (data.type == 5) {
    <div class="input-group-control">
        <label for="content">网址</label>
        <div>
            <input type="text" id="content" class="form-control" [(value)]="data.url" (input)="onContentChange()" placeholder="示例：网址">
        </div>
    </div>
} @else if (data.type == 6) {
    <div class="input-group-control">
        <label for="module1">APPID</label>
        <div>
            <input type="text" id="module1" class="form-control" [(value)]="data.appid" (input)="onContentChange()" placeholder="小程序APPID">
        </div>
    </div>
    <div class="input-group-control">
        <label for="module2">路径</label>
        <div>
            <input type="text" id="module2" class="form-control" [(value)]="data.path" (input)="onContentChange()" placeholder="小程序页面路径">
        </div>
    </div>
    <div class="input-group-control">
        <label for="module3">替代网址</label>
        <div>
            <input type="text" id="module3" class="form-control" [(value)]="data.url" (input)="onContentChange()" placeholder="老版微信不支持小程序时替代网址">
            <div class="control-tooltip">
                旧版微信客户端无法支持小程序，用户点击菜单时将会打开备用网页。
            </div>
        </div>
    </div>
} @else if (data.type == 7 || (data.type >= 20 && data.type <= 23)) {
    <div class="input-group-control">
        <label for="content">场景</label>
        <div class="">
            <select id="content" class="form-control" [(value)]="data.scene" (change)="onContentChange()">
                <option value="">请选择</option>
                @for (item of sceneItems; track $index) {
                <option [value]="item.value">{{ item.name }}</option>
                }
            </select>
        </div>
    </div>
}
