<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>关注公众号时自动回复</li>
        </ul>
    </app-page-tip>

    <div class="tab-bar">
        <ng-container *ngFor="let item of tabItems">
            <a class="item" [ngClass]="{active: queries.event == item.value}" (click)="tapTab(item.value)">{{ item.name }}</a>
        </ng-container>
    </div>

    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a (click)="open(modal)" class="btn btn-info">创建</a>
                    <a routerLink="template" class="btn btn-success">模板消息</a>
                </div>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>事件</th>
                    <th>响应类型</th>
                    <th>关键字</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ formatEvent(item.event) }}</td>
                    <td>{{ formatType(item.type) }}</td>
                    <td>{{ item.keywords }}</td>
                    <td>
                        <app-switch [(ngModel)]="item.status" offLabel="未激活" onLabel="已激活" (ngModelChange)="onStatusChange(item)"></app-switch>
                    </td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-light btn-xs" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
  
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
</div>

<app-dialog-box #modal [title]="'编辑回复'">
    <app-edit-reply [(value)]="editData"></app-edit-reply>
</app-dialog-box>