@use '../../theme/styles/theme';
@use '../../theme/styles/scrollbar';

$headerHeight: 2.5rem;
$border: 1px solid var(--#{theme.$prefix}border);
$itemRadius: .25rem;

.explorer-header {
    display: flex;
    height: $headerHeight;
    line-height: $headerHeight;
    box-sizing: content-box;
    border-bottom: 1px solid var(--#{theme.$prefix}border);
    .breadcrumb-bar,
    .search-bar {
        display: block;
        position: relative;
        border-left: $border;
    }
    .breadcrumb-bar {
        flex: 1;
    }
    .search-bar {
        width: 10rem;
        position: relative;
        border-right: $border;
        input {
            height: $headerHeight;
            width: 100%;
            border: none;
            outline: none;
            padding: 0 1.5rem 0 .4rem;
        }
        .iconfont {
            position: absolute;
            top: 0;
            right: .4rem;
            color: var(--#{theme.$prefix}input-icon);
        }
    }
}

.breadcrumb-bar {
    padding: 0 0.4rem;
    overflow-x: hidden;
    input {
        height: $headerHeight;
        width: 100%;
        border: none;
        outline: none;  
    }
    .breadcrumb-item {
        color: var(--#{theme.$prefix}body-text);
        user-select: none;
        &::before {
            display: none !important;
        }
        &:not(:last-of-type) {
            &::after {
                content: ">";
                display: inline-block;
                color: var(--#{theme.$prefix}border);
                margin: 0 .2rem;
            }
        }
    }
    .breadcrumb-item-name {
        display: inline-block;
    }
}

.tree-box {
    list-style: none;
    margin: 0;
    padding: 0;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
    }
    .tree-item-body {
        display: none;
    }
    .tree-item-header {
        line-height: 2rem;
        display: flex;
        user-select: none;
        .iconfont {
            display: inline-block;
            width: 1.4rem;
            text-align: center;
            &:first-of-type {
                font-size: .8rem;
                font-weight: 300;
                color: var(--#{theme.$prefix}border);
            }
        }
        span {
            flex: 1;
        }
        &:hover {
            background-color: var(--#{theme.$prefix}body);
        }
    }
    .active {
        >.tree-item-header {
            background-color: var(--#{theme.$prefix}body);
        }
    }
    .open {
        >.tree-item-body {
            display: block;
        }
    }
}

.explorer-body {
    position: relative;
    app-file-explorer-catalog {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        overflow: auto;
        width: 10rem;
        border-right: $border;
        @include scrollbar.scrollbar();
    }
    app-file-explorer-panel {
        position: relative;
        display: block;
        height: 100%;
        margin-left: 10rem;
    }
}

.explorer-header,
.explorer-panel {
    .action-item {
        display: inline-block;
        user-select: none;
        line-height: $headerHeight;
        position: relative;
        .iconfont {
            display: inline-block;
            width: $headerHeight;
            text-align: center;
        }
        span {
            margin-right: .4rem;
        }
        &:hover {
            background-color: var(--#{theme.$prefix}body);
            .action-dropdown {
                display: block;
            }
        }
        &.disabled {
            cursor: not-allowed;
            color: var(--#{theme.$prefix}input-disabled);
            background-color: transparent;
        }
    }
    .action-dropdown {
        display: none;
        position: absolute;
        right: 0;
        width: 12.5rem;
        z-index: 5;
        border: 1px solid var(--#{theme.$prefix}border);
        border-top: none;
        background-color: var(--#{theme.$prefix}panel);
        text-align: left;
        .nav-item {
            display: flex;
            justify-content: space-between;
            padding-left: .4rem;
            color: var(--#{theme.$prefix}body-text);
            &:hover {
                background-color: var(--#{theme.$prefix}body);
            }
        }
    }
}

.explorer-panel {
    .flex-1 {
        flex: 1;
    }
    .file-list-body {
        flex-grow: 1;
        overflow-y: auto;
    }
    .panel-footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-top: $border;
        height: $headerHeight;
        line-height: $headerHeight;
        padding: 0 .8rem;
        span {
            &:not(:last-of-type) {
                margin-right: .8rem;
            }
        }
    }
    .panel-header {
        display: flex;
        border-bottom: $border;
    }
}

.file-list-body {
    .file-check {
        display: none;
        width: 1.4rem;
        text-align: center;
    }
    .file-row-header {
        display: flex;
        line-height: 2rem;
        user-select: none;
        color: var(--#{theme.$prefix}secondary);
        .file-sortable {
            padding-left: .4rem;
            display: flex;
            justify-content: space-between;
        }
    }
    .file-row-body {
        position: absolute;
        bottom: $headerHeight;
        top: $headerHeight + 2rem;
        left: 0;
        right: 0;
        overflow-y: auto;
        @include scrollbar.scrollbar();
    }
    .file-row-meta {
        width: 6.5rem;
        padding-left: .4rem;
    }
    .file-group {
        line-height: 2.5rem;
        font-weight: 600;
        font-size: 1.25rem;
        cursor: default;
    }
    .file-icon {
        width: 1.4rem;
        text-align: center;
        img {
            display: none;
        }
    }
    .file-item {
        position: relative;
        display: flex;
        line-height: 2rem;
        cursor: default;
        
        .file-name {
            flex: 1;
            padding-left: .4rem;
        }
        .file-item-action {
            position: absolute;
            right: 0;
            top: 0;
            display: none;
            .iconfont {
                padding: .4rem;
            }
        }
        &:hover {
            background-color: var(--#{theme.$prefix}border);
            .file-item-action {
                display: block;
            }
            .file-row-meta {
                display: none;
            }
        }
        &:not(:last-of-type) {
            border-bottom: 1px solid var(--#{theme.$prefix}border);
        }
    }
    &.file-list-view {
        .file-row-body {
            top: $headerHeight;
            padding: -.4rem;
        }
        .file-row-header {
            display: none;
        }
        .file-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.125rem;
            width: 100%;
            height: 8.5rem;
            position: relative;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            &::before {
                box-shadow: inset 0 0 15px rgba(var(--#{theme.$prefix}mask-rgb),.1), inset 0 0 0 1px rgba(var(--#{theme.$prefix}mask-rgb),.05);
                background: var(--#{theme.$prefix}body);
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: -1;
            }
        }
        .file-item {
            display: inline-block;
            width: 8.5rem;
            text-align: center;
            border-bottom: none;
            position: relative;
            margin: .4rem;
            .file-row-meta {
                display: none;
            }
            .file-check {
                position: absolute;
                left: 0;
                top: 0;
            }
            .file-name {
                line-height: 1.5;
                height: 3rem;
                overflow: hidden;
                padding: 0;
                text-align: center;
                word-break: break-all;
                font-size: .8rem;
            }
            &:hover {
                border-radius: $itemRadius;
                .file-item-action {
                    background-color: var(--#{theme.$prefix}panel);
                }
            }
        }
    }
    &.file-list-edit {
        .file-check {
            display: block;
        }
        .file-item {
            &:hover {
                .file-item-action {
                    display: none;
                }
            }
        }
    }
}