<div class="editor-box">
    <div class="editor-tool-bar">
        <label for="editor-img" class="tool-item" title="上传图片">
            <i class="iconfont icon-image"></i>
            <input type="file" name="file" id="editor-img" (change)="uploadImage($event)" accept="image/*" [disabled]="disable" multiple/>
        </label>
        <div class="tool-item" (click)="tapTool('math')" title="插入数学公式">
            <i class="iconfont icon-code"></i>
        </div>
        <div class="tool-item" (click)="tapTool('link')" title="插入链接">
            <i class="iconfont icon-chain"></i>
        </div>
        <div class="tool-item" [ngClass]="{active: isPreview}" (click)="tapTool('preview')" title="预览">
            <i class="iconfont" [ngClass]="{'icon-eye': !isPreview, 'icon-eye-slash': isPreview}"></i>
        </div>
    </div>
    <div class="editor-area">
        <textarea #editorArea [ngStyle]="areaStyle" [(ngModel)]="value" (ngModelChange)="onValueChange()" [disabled]="disable"  spellcheck="false"></textarea>
        <div class="editor-footer">共 {{ size }} 字</div>
        <div class="editor-preview" *ngIf="isPreview">
            <app-math-mark [content]="previewValue" [editable]="true" [allowInput]="true"></app-math-mark>
        </div>
    </div>
    
</div>