<div class="emulate-box">
    <div class="box-header">
        <i class="iconfont icon-arrow-left" (click)="tapBack()"></i>
        {{ account?.name }}
        @if (account) {
        <div class="header-right">
            <i class="iconfont icon-ellipsis-v"></i>
            <div class="sub-box">
                <div class="qr">
                    <img [src]="account.avatar" [alt]="account.name">
                </div>
                <div class="name">{{ account.name }}</div>
                <div class="desc">{{ account.description }}</div>
            </div>
        </div>
        }
    </div>
    <app-message-container class="scroll-body" [items]="messageItems" [more]="false" [currentId]="user.id" (tapped)="onBlockTap($event)" />
    <div class="box-footer toggle-input" [class]="{'toggle-input': footerIndex > 0, 'toggle-more': footerIndex == 2}">
        <div class="input-box">
            @if (menuItems.length > 0) {
            <div (click)="footerIndex = 0">
                <i class="iconfont icon-th-list"></i>
            </div>
            }
            <textarea autocomplete="off" [field]="dataForm.content" (keydown)="onKeydown($event)"></textarea>
            <div (click)="toggleMore()">
                <i class="iconfont icon-ellipsis-h"></i>
            </div>
        </div>
        <div class="input-more-box">
            <div class="icon-item">
                <i class="iconfont icon-image"></i>
                <ng-container i18n>Photo</ng-container>
            </div>
            <div class="icon-item">
                <i class="iconfont icon-microphone"></i>
                <ng-container i18n>Voice</ng-container>
            </div>
            <div class="icon-item">
                <i class="iconfont icon-map-marker"></i>
                <ng-container i18n>Location</ng-container>
            </div>
        </div>
        <div class="menu-box">
            <div (click)="footerIndex = 1">
                <i class="iconfont icon-keyboard"></i>
            </div>
            <ul class="menu-body">
                @for (item of menuItems; track $index) {
                    <li class="menu-item" [class]="{active: item.open}">
                        <span (click)="tapMenu(item)">{{ item.name }}</span>
                        @if (item.children && item.children.length > 0) {
                        <ul>
                            @for (it of item.children; track $index) {
                            <li (click)="tapMenu(it)">{{ it.name }}</li>
                            }
                        </ul>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>