<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>友情链接列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <table class="table table-bordered well">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>站点名</th>
                    <th>网址</th>
                    <th>简介</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        <code>{{ item.url }}</code>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer" class="fa fa-globe"></a>
                    </td>
                    <td>{{ item.brief }}</td>
                    <td>
                        {{item.status}}
                    </td>
                    <td>
                        <a class="btn btn-danger" data-type="del" data-tip="确认审核通过此友情链接？" href="">审核</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="perPage" [directionLinks]="false"
            (pageChange)="tapPage()"></ngb-pagination>
    </div>
</div>