.food-item {
    text-align: center;
    background-color: white;
    .item-price {
        color: red;
        font-size: 1.5em;
        em {
            font-style: normal;
            font-size: .2em;
        }
    }
    .item-name {
        font-weight: 700;
        user-select: none;
    }
    .item-thumb {
        height: 9rem;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}