<div class="search-bar">
    <input type="text" name="keywords" class="form-control" [value]="value()" (input)="value.set($event.target.value)" 
    i18n-placeholder placeholder="Please input a keyword">
    <select class="form-control" [(value)]="type">
        @for (item of typeItems; track $index; let i=$index) {
            <option [value]="i">{{ item }}</option>
        }
        
    </select>
    <button type="button" class="btn btn-primary" (click)="tapSearch()">
        <i class="iconfont icon-search"></i>
    </button>
</div>