<div class="form-table">
    <div class="input-group">
        <label for="title">素材标题</label>
        <div>
            <input type="text" id="title" class="form-control" name="title">
        </div>
    </div>
    <div class="input-group">
        <label for="type">类型</label>
        <div>
            <select id="type" name="type" class="form-control">
                <option value="image">图片</option>
                <option value="thumb">缩略图</option>
                <option value="voice">语音</option>
                <option value="video">视频</option>
            </select>
        </div>
    </div>
    <div class="input-group">
        <label for="material_type">素材类别</label>
        <div>
            <select id="material_type" name="material_type" class="form-control">
                <option value="0">临时素材</option>
                <option value="1">永久素材</option>
            </select>
        </div>
    </div>
    <div class="input-group">
        <label for="content">文件</label>
        <div>
            <app-file-input></app-file-input>
        </div>
    </div>
</div>