@import '../option';
.dialog-box {
    margin-top: -35vh;
    .dialog-body {
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .editor-header {
        flex: 1;
        padding: .8em;
    }
}
.dialog-tool-bar {
    right: -1em;
    top: -1rem;
}