.code-container {
    .code-header {
        .code-tooltip {
            user-select: none;
            cursor: pointer;
            background-color: transparent;
            width: auto;
        }
    }
    code {
        line-height: 1.82rem;
    }
}

