::ng-deep {
    @import '../theme/styles/admin';

    .task-item {
        min-height: 80px;
        padding: 10px 10px;
        margin: 5px;
        border: 1px solid aquamarine;
        border-radius: 5px;
        position: relative;
        background-color: #fff;
        .name {
            font-weight: bold;
            line-height: 30px;
            font-size: 16px;
        }
        .desc {
            color: 777;
            font-size: 14px;
        }
        .check-box {
            display: none;
            position: absolute;
            left: 10px;
            top: 50%;
            margin-top: -10px;
        }
        .time {
            position: absolute;
            font-size: 30px;
            right: 0;
            opacity: .1;
            top: 0;
        }
        .count {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 30px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background-color: rgba($color: red, $alpha: .6);
            color: #fff;
        }
        .tip {
            position: absolute;
            font-size: 30px;
            right: 0;
            opacity: .1;
            top: 0;
        }
        .action {
            display: flex;
            align-items: center;
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            font-size: 30px;
            a {
                text-decoration: none;
                color: #333;
            }
            .iconfont {
                margin-left: 10px;
            }
        }
        &.finished {
            border-color: #999;
        }
        &:hover {
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
        }
    }
}