@use '../option';
@use '../../../../../../bootstrap/desktop/scrollbar';
.dialog-box {
    margin-top: -35vh;
    .dialog-body {
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .editor-header {
        flex: 1;
        padding: .8em;
    }
}
.dialog-tool-bar {
    right: -1em;
    top: -1rem;
}

.editor-body {
    max-height: 60vh;
    overflow-y: auto;
    margin-right: 1rem;
    @include scrollbar.scrollbar();
}