@if (visible) {
<div class="dialog-mask"></div>
}
<div class="dialog-box" [@dialogOpen]="visible ? 'open' : 'closed'">
    <div class="panel-tool-bar dialog-tool-bar">
        <div class="tool-item btn-danger" title="关闭" (click)="close()">
            <i class="iconfont icon-close"></i>
        </div>
        <div class="tool-item btn-info" title="分数">
            <input type="text" class="form-control btn-info" placeholder="分数" maxLength="2" [(ngModel)]="value.score">
        </div>
        <div class="tool-item btn-primary" [ngClass]="{active: extendOpen}" title="添加附加内容" (click)="extendOpen = !extendOpen">
            <i class="iconfont icon-plus"></i>
        </div>
        <div class="tool-item btn-success" [ngClass]="{active: analysisOpen}" (click)="analysisOpen = !analysisOpen" title="解析">
            <i class="iconfont icon-key"></i>
        </div>
        <div class="tool-drop-item">
            <div class="drop-icon btn-primary" (click)="typeOpen = !typeOpen">
                <i class="iconfont icon-exchange"></i>
            </div>
            <ul class="drop-body" [hidden]="!typeOpen">
                @for (item of typeItems; track $index; let i = $index) {
                    <li [ngClass]="{active: i == value.type}" (click)="tapType(i)">{{ item }}</li>
                }
            </ul>
        </div>
        <div class="tool-item btn-success" title="保存" (click)="close(true)">
            <i class="iconfont icon-check"></i>
        </div>
    </div>
    <div class="dialog-body">
        <div class="editor-header">
            <textarea class="form-control" placeholder="请输入题目内容" [(ngModel)]="value.title"></textarea>
        </div>
        <div class="editor-body">
            <div class="content" [hidden]="!extendOpen">
                <app-exam-editor label="附加内容：" placeholder="请输入附加内容" [(ngModel)]="value.content" (ngModelChange)="onExtendChange()"></app-exam-editor>
            </div>
            <div class="editor-option">
                @if (value.type == 2) {
                    <app-bool-input [(value)]="value.answer"></app-bool-input>
                } @else if (!value.type || value.type < 2 || value.type == 4) {
                    <app-option-input  [multiple]="value.type > 0"  [(value)]="optionItems"></app-option-input>
                
                } @else if (value.type == 3) {
                    <app-exam-editor label="答案：" placeholder="请输入答案" [(ngModel)]="value.answer"></app-exam-editor>
                }
             </div>
             @if (analysisOpen) {
                <app-exam-editor label="解析：" placeholder="请输入题目解析" [(ngModel)]="analysisData.content"></app-exam-editor>
             }
        </div>
    </div>
</div>