<app-edit-header [title]="dataModel().id > 0 ? '编辑试卷' : '新增试卷'" (submited)="tapSubmit($event)" [disabled]="dataForm().invalid()" />

<div class="container-fluid">
    <form class="form-table-control panel-container" (submit)="tapSubmit2($event)">
        <div class="input-group-control">
            <label for="name">试卷名</label>
            <div>
                <input type="text" id="name" class="form-control" [field]="dataForm.name">
            </div>
        </div>
        <div class="input-group-control">
            <label for="course_id">科目</label>
            <div class="flat-group">
                <select id="course_id" [field]="dataForm.course_id" class="form-control" (change)="onCourseChange()">
                    <option [value]="0">请选择</option>
                    @for (item of courseItems; track $index) {
                        <option [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
                    }
                </select>
                <select [field]="dataForm.course_grade" class="form-control">
                    @for (item of gradeItems; track $index) {
                        <option [value]="item.value">{{ item.name }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="input-group-control">
            <label for="rule_type">选题类型</label>
            <div>
                <select id="rule_type" class="form-control" [field]="dataForm.rule_type" (change)="onRuleChange()">
                    <option [value]="0">随机选题</option>
                    <option [value]="1">固定题库</option>
                </select>
            </div>
        </div>
        <div class="input-group-control">
            <label for="limit_time">限时/分钟</label>
            <div>
                <input type="number" id="limit_time" class="form-control" [field]="dataForm.limit_time" >
            </div>
        </div>
        <div class="input-group-control">
            <label for="start_at">开始时间</label>
            <div>
                <app-date-input id="start_at" [field]="dataForm.start_at" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="end_at">结束时间</label>
            <div>
                <app-date-input id="end_at" [field]="dataForm.end_at" />
            </div>
        </div>
        <div class="rule-box">
            @if (ruleType() < 1) {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>科目</th>
                        <th>题目类型</th>
                        <th>数量</th>
                        <th>分数/每题</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of optionItems; track $index; let j = $index) {
                    <tr>
                        <td>
                            <select  class="form-control" [(value)]="item.course">
                                @for (item of courseItems; track $index) {
                                <option [value]="item.id">{{ item.name }}</option>
                                }
                            </select>
                        </td>
                        <td>
                            <select  class="form-control" [(value)]="item.type">
                                @for (item of typeItems; track $index; let i = $index) {
                                <option [value]="i">{{ item }}</option>
                                }
                            </select>
                        </td>
                        <td>
                            <input type="number" class="form-control" [(value)]="item.amount">
                        </td>
                        <td>
                            <input type="number" class="form-control" [(value)]="item.score">
                        </td>
                        <td>
                            <i class="iconfont icon-close" (click)="tapRemoveItem(j)"></i>
                        </td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <i class="iconfont icon-plus" (click)="tapAddItem()"></i>
                        </td>
                    </tr>
                </tfoot>
            </table>
            } @else if (ruleType() == 1) {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>题目ID</th>
                        <th>题目</th>
                        <th>分数</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of optionItems; track $index; let j = $index) {
                    <tr>
                        <td>
                            {{ item.id }}
                        </td>
                        <td>
                            【{{ item.type | questionType }}】{{ item.title }}
                        </td>
                        <td>
                            <input type="number" class="form-control" [(value)]="item.score">
                        </td>
                        <td>
                            <i class="iconfont icon-close" (click)="tapRemoveItem(j)"></i>
                        </td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <i class="iconfont icon-plus" (click)="tapOpen(modal)"></i>
                        </td>
                    </tr>
                </tfoot>
            </table>
            }
        </div>
        <div class="btn-group">
            <app-action-button class="btn btn-success" (tapped)="tapSubmit($event)" [disabled]="dataForm().invalid()">确认保存</app-action-button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>

<app-dialog-box class="dialog-search-box" #modal>
    <i class="iconfont icon-close dialog-close" (click)="modal.close(false)"></i>
    <div class="search-bar">
        <form class="form-horizontal-control" (submit)="tapDialogSearch($event)">
            <div class="input-group-control">
                <label for="keywords">关键字</label>
                <input type="text" class="form-control" [field]="dialogQueries.keywords" placeholder="关键词">
            </div>
            <div class="input-group-control">
                <label for="course">科目</label>
                <select id="course" [field]="dialogQueries.course" class="form-control">
                    <option [value]="0">请选择</option>
                    @for (item of courseItems; track $index) {
                    <option [value]="item.id">{{ item.name }}</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div>
    <div class="search-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>题目</th>
                    <th>科目</th>
                </tr>
            </thead>
            <tbody>
                @for (item of dialogData.items; track $index) {
                <tr [class]="{selected: item.selected}" (click)="item.selected = !item.selected">
                    <td>{{ item.id }}</td>
                    <td>【{{ item.type | questionType }}】{{ item.title }}</td>
                    <td>{{ item.course?.name }}</td>
                </tr>
                }
            </tbody>
        </table>

        <app-pagination [total]="dialogData.total" [field]="dialogQueries.page" [perPage]="dialogQueries.per_page().value()" (valueChange)="tapDialogPage()" />
    </div>
</app-dialog-box>
