<div class="flex-2">
    <div class="flex-menu">
        <app-member-menu currentUrl="address"></app-member-menu>
    </div>
    <div class="flex-body">
        <div class="address-item">
            <div class="item-icon">
                <span>名</span>
            </div>
            <div class="item-body">
                <div class="item-name">张三(136274000)</div>
                <div class="item-meta">地址街18弄</div>
            </div>
            <div class="item-footer">
                <div class="btn-group">
                    <div class="btn btn-primary">设为默认</div>
                    <div class="btn btn-primary">编辑</div>
                    <div class="btn btn-primary">删除</div>
                </div>
            </div>
        </div>
    </div>
</div>