::ng-deep {
    a {
        text-decoration: none;
    }
    .catalog-item {
        cursor: default;
        .meta {
            color: #888;
            a {
                color: #369;
            }
        }
    }
}