<div class="time-input-container" [ngClass]="{'panel-open': panelVisible}">
    <div class="input-container">
        <input type="text"[value]="value" (change)="onValueChange($event)" [disabled]="disabled" [placeholder]="placeholder" (focus)="onFocus()">
        <div class="input-arrow">
            <span class="arrow-icon"></span>
        </div>
    </div>
    <div class="option-container">
        <div class="flex-grid">
            <div class="scroll-column">
                <ul>
                    <li *ngFor="let item of hourItems" [ngClass]="{selected: item == currentHour}" (click)="tapHour(item)">{{ twoPad(item) }}</li>
                </ul>
            </div>
            <div class="scroll-column">
                <ul>
                    <li *ngFor="let item of minuteItems" [ngClass]="{selected: item == currentMinute}" (click)="tapMinute(item)">{{ twoPad(item) }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>