@use '../../../theme/theme';
@use '../../../../bootstrap/mixins';
@use '../../../../bootstrap/desktop/scrollbar';
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.flex-grid {
    display: flex;
}
.scroll-column {
    overflow-y: auto;
    max-height: 300px;
    @include scrollbar.scrollbar();
    flex: 1;
    line-height: 30px;
    li {
        text-align: center;
        user-select: none;
        cursor: default;
        &:hover {
            background-color: var(--#{theme.$prefix}input-hovered);
            color: var(--#{theme.$prefix}body-text);
        }
        &.selected {
            color: var(--#{theme.$prefix}body-text);
            background-color: var(--#{theme.$prefix}input-selected);
        }
    }
}