::ng-deep {
    @import '../theme/styles/admin';
    .book-item {
        position: relative;
        height: 8.75rem;
        overflow: hidden;
        background-color: #fff;
        padding: 0.625rem;
        .cover {
            position: absolute;
            img {
                width: 5.625rem;
                height: 7.5rem;
            }
            .tip {
                position: absolute;
                bottom: 1.25rem;
                text-align: center;
                color: #fff;
                width: 100%;
                font-size: 0.75rem;
            }
        }
        .info {
            margin-left: 6.25rem;
            .name {
                font-weight: 700;
                line-height: 1.875rem;
            }
            .tag {
                color: #767676;
                line-height: 1.25rem;
                font-size: 0.8125rem;
            }
            .desc {
                height: 3.75rem;
                overflow: hidden;
                word-break: break-word;
                overflow-wrap: break-word;
                line-height: 1.25rem;
            }
        }
        &.book-thumb {
            display: inline-block;
            height: auto;
            margin: 0.625rem;
            .cover {
                position: relative;
            }
            .info {
                margin-left: 0;
            }
            .tag,
            .desc {
                display: none;
            }
        }
        &:not(:last-of-type) {
            border-bottom: 1px solid #f4f4f4;
        }
    }
}