::ng-deep {
    @import '../theme/styles/admin';
    .book-item {
        position: relative;
        height: 140px;
        overflow: hidden;
        background-color: #fff;
        padding: 10px;
        .cover {
            position: absolute;
            img {
                width: 90px;
                height: 120px;
            }
            .tip {
                position: absolute;
                bottom: 20px;
                text-align: center;
                color: #fff;
                width: 100%;
                font-size: 12px;
            }
        }
        .info {
            margin-left: 100px;
            .name {
                font-weight: 700;
                line-height: 30px;
            }
            .tag {
                color: #767676;
                line-height: 20px;
                font-size: 13px;
            }
            .desc {
                height: 60px;
                overflow: hidden;
                word-break: break-word;
                overflow-wrap: break-word;
                line-height: 20px;
            }
        }
        &.book-thumb {
            display: inline-block;
            height: auto;
            margin: 10px;
            .cover {
                position: relative;
            }
            .info {
                margin-left: 0;
            }
            .tag,
            .desc {
                display: none;
            }
        }
        &:not(:last-of-type) {
            border-bottom: 1px solid #f4f4f4;
        }
    }
}