<div class="router-bar">
    <div class="tool-item" (click)="tapBack()">
        <i class="iconfont icon-arrow-left"></i>
    </div>
    <div class="title-tab-bar">
        <a href="" class="item active">农场</a>
        <a href="" class="item">牧场</a>
    </div>
</div>
<div class="plot-item">
    <div class="item-body">
        <div class="item-name">[红]花</div>
        <div class="item-meta">(预计成熟: 2023:09:01)</div>
    </div>
    <div class="item-action">
        <!-- <a href="">收获</a> -->
        <!-- <a href="">播种</a>
        <a href="">升级</a> -->
        <a href="">施肥</a>
        <a href="">铲除</a>
    </div>
</div>
<div class="plot-item">
    <div class="item-body">
        <div class="item-name">[红]花</div>
        <div class="item-meta">(已成熟: 88个)</div>
    </div>
    <div class="item-action">
        <a href="">收获</a>
    </div>
</div>
<div class="plot-item">
    <div class="item-body">
        <div class="item-name">[红]
            <a href="">空</a>
        </div>
    </div>
    <div class="item-action">
        <a href="">播种</a>
        <a href="">升级</a>
    </div>
</div>
<div class="plot-item">
    <div class="item-body">
        <div class="item-name">
            未开垦
        </div>
    </div>
    <div class="item-action">
        <a href="">开垦</a>
    </div>
</div>