<div class="container-fluid">
    <div class="counter-bar">
        <div class="count-item">
            <div class="item-label">限定</div>
            <div class="item-count">100</div>
            <div class="item-meta-bar">
                <div class="count-item">
                    <div class="item-count">100/5</div>
                    <div class="item-label">次数/SSR</div>
                </div>
                <div class="count-item">
                    <div class="item-count">89</div>
                    <div class="item-label">SSR平均</div>
                </div>
            </div>
        </div>
        <div class="count-item">
            <div class="item-label">武器</div>
            <div class="item-count">900</div>
            <div class="item-meta-bar">
                <div class="count-item">
                    <div class="item-count">100/5</div>
                    <div class="item-label">次数/SSR</div>
                </div>
                <div class="count-item">
                    <div class="item-count">89</div>
                    <div class="item-label">SSR平均</div>
                </div>
            </div>
        </div>
        <div class="count-item">
            <div class="item-label">普通</div>
            <div class="item-count">+900</div>
            <div class="item-meta-bar">
                <div class="count-item">
                    <div class="item-count">100/5</div>
                    <div class="item-label">次数/SSR</div>
                </div>
                <div class="count-item">
                    <div class="item-count">89</div>
                    <div class="item-label">SSR平均</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-header-bar">
        <a class="tab-item active">限定</a>
        <a class="tab-item">武器</a>
        <a class="tab-item">普通</a>
    </div>
    <div class="row">
        <div class="col-md-12">
            
        </div>
    </div>
</div>
