<div class="container">
    <ul  class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/" class="iconfont icon-home"></a>
        </li><li class="breadcrumb-item">
            <a routerLink="../" i18n>Home</a>
        </li>
        <li class="breadcrumb-item active" i18n>
            {data.id, plural, =true {Edit thread} =false {New thread}}
        </li>
    </ul>
</div>
<div class="container">
    <form class="thread-new-box" [formGroup]="form" (ngSubmit)="tapSubmit()">
        <div class="title">
            @if (forum && forum.classifies && forum.classifies.length > 0) {
            <select formControlName="classify_id" class="form-control">
                <option [value]="0" i18n>Select classify</option>
                @for (item of forum.classifies; track $index) {
                    <option [value]="item.id">{{ item.name }}</option>
                }
            </select>
            }
            
            <input type="text" class="form-control" formControlName="title" i18n-placeholder placeholder="Please input title">
        </div>

        <app-forum-editor formControlName="content" i18n-placeholder placeholder="Please input content"></app-forum-editor>

        <div class="form-group">
            <app-switch id="is_private" formControlName="is_private_post"></app-switch> 
            <label for="is_private" i18n>Only the host can see the reply after opening</label>
        </div>
        
        <div class="footer btn-group">
            <app-action-button class="btn btn-primary" (tapped)="tapSubmit($event)" [disabled]="form.invalid" i18n>Publish</app-action-button>
            <a class="btn btn-danger" href="javascript:history.back()" i18n>Back</a>
        </div>
    </form>
</div>