<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>库存列表</li>
            <li *ngIf="data && data.name">仓库：{{ data.name }}({{ data.address }})</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group">
                    <label for="keywords">标题</label>
                    <input type="text" class="form-control" [value]="keywords" name="keywords" ngModel id="keywords" placeholder="标题">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a *ngIf="data" class="pull-right btn btn-primary" (click)="open(content)">新增库存</a>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th *ngIf="!data">仓库名</th>
                    <th>商品</th>
                    <th>货品</th>
                    <th>数量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td *ngIf="!data">{{ item.warehouse.name }}</td>
                    <td>{{ item.goods.name }}</td>
                    <td>
                        <ng-container *ngIf="item.product; else elseTemplate">
                            {{ item.product.series_number }}
                        </ng-container>
                        <ng-template #elseTemplate>
                            -
                        </ng-template>
                        
                    </td>
                    <td>
                        {{ item.amount }}
                    </td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-light btn-xs" (click)="open(content, item)">调整</a>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>

        <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="perPage" [directionLinks]="false" (pageChange)="tapPage()"></ngb-pagination>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ editData.id > 0 ? '编辑地区' : '新增地区' }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="region-input">商品</label>
            <div>
                <app-search-panel (valueChange)="onProductChange($event)"></app-search-panel>
            </div>
        </div>
        <div class="form-group">
            <label for="region-input">数量</label>
            <div class="input-group">
                <input type="number" class="form-control" [(ngModel)]="editData.amount">
            </div>
        </div>
        <div class="form-group">
            <label for="region-input">备注</label>
            <div class="input-group">
                <textarea class="form-control" [(ngModel)]="editData.remark"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">确定</button>
    </div>
</ng-template>