<div class="login-page" [style]="boxStyle">
  <div class="container">
      <div class="page-box">
          <div class="login-box">
              <div class="box-main">
                    <div class="box-header">
                        <a [class]="{active: tabIndex() < 1}" (click)="tabIndex.set(0)" i18n>Quick login</a>
                        <a [class]="{active: tabIndex() == 1}" (click)="tabIndex.set(1)" i18n>Account login</a>
                    </div>
                    <div class="box-tab">
                          <div class="tab-item" [class]="{active: tabIndex() < 1}">
                                <form (submit)="tapSubmit($event)">
                                    <div class="input-group-control">
                                        <input type="text" i18n-placeholder placeholder="Please input phone number" [field]="mobileForm.mobile" autocomplete="off">
                                        <i class="iconfont icon-user" aria-hidden="true"></i>
                                    </div>
                                    <div class="input-hr"></div>
                                    <div class="input-group-control code-input">
                                        <input type="text" [field]="mobileForm.code" i18n-placeholder placeholder="SMS verification code">
                                        <i class="iconfont icon-lock" aria-hidden="true"></i>
                                        <app-countdown-button class="send-btn" (tapped)="tapSendCode($event)" />
                                    </div>
                                    <button class="btn" i18n>Sign in</button>
                                </form>
                          </div>
                          <div class="tab-item" [class]="{active: tabIndex() == 1}">
                                <form (submit)="tapSubmit($event)">
                                    <div class="input-group-control">
                                        <input type="email" [field]="emailForm.email" i18n-placeholder placeholder="Please input username" autocomplete="off">
                                        <i class="iconfont icon-user" aria-hidden="true"></i>
                                    </div>
                                    <div class="input-hr"></div>
                                    <div class="input-group-control">
                                        <input type="password" [field]="emailForm.password" i18n-placeholder placeholder="Please input the password" autocomplete="off">
                                        <i class="iconfont icon-lock" aria-hidden="true" ></i>
                                    </div>
                                    <button class="btn" i18n>Sign in</button>
                                </form>
                          </div>
                          <div class="tab-item" [class]="{active: tabIndex() == 2}">

                          </div>
                    </div>

              </div>
              <div class="box-footer">
                  <div class="login-oauth-box">
                    <a (click)="tapOAuth('qq')" i18n-title title="Sign in with QQ"><i class="iconfont icon-qq"></i></a>
                    <a  (click)="tapOAuth('wechat')" i18n-title title="Sign in with weChat"><i class="iconfont icon-wechat"></i></a>
                    <a  (click)="tapOAuth('weibo')" i18n-title title="Sign in with Weibo"><i class="iconfont icon-weibo"></i></a>
                    <a  (click)="tapOAuth('github')" i18n-title title="Sign in with Github"><i class="iconfont icon-github"></i></a>
                  </div>
              </div>
          </div>
          <div class="register-box">

          </div>
      </div>
  </div>
</div>
