$shadow: rgb(39 54 78 / 11%);
.visual-editor {
    position: relative;
    // height: 100vh;
    // width: 100vw;
    // display: flex;
    // flex-direction: column;
    .visual-editor-header {
        height: 3rem;
        background-color: white;
        box-shadow: 0 -2px 1.875rem 0 $shadow;
        z-index: 2;
    }
    .visual-editor-container {
        flex: 1;
    }
    ::ng-deep {
        @import './editor';
    }
}

.visual-editor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .toggle-bar {
        position: relative;
        display: inline-flex;
        background-color: #f3f4f4;
        height: 2rem;
        line-height: 2rem;
        width: 8rem;
        border-radius: 1rem;
        user-select: none;
        a {
            flex: 1;
            text-align: center;
            font-size: .8rem;
            z-index: 1;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0rem;
            width: 4rem;
            background-color: white;
            height: 2rem;
            border-radius: 1rem;
            transition: left .3s;
        }
        &:hover {
            box-shadow: 0 0 .3rem .3rem $shadow;
        }
        &.active {
            &::before {
                left: 4rem;
            }
        }
    }
}
