<div class="row">
    <div class="offset-md-8 col-md-4">
        <form class="search-bar" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
            <input type="text" class="form-control" name="keywords" i18n-placeholder placeholder="Please input a keyword" [ngModel]="queries.keywords">
            <button class="btn btn-primary" i18n>Search</button>
        </form>
    </div>
</div>
<div class="tab-bar">
    <a [ngClass]="{active: queries.category < 1}" (click)="tapCategory()" i18n>All</a>
    <ng-container *ngFor="let item of categories">
        <a  [ngClass]="{active: queries.category == item.id}" (click)="tapCategory(item)">{{ item.name }}</a>
    </ng-container>
</div>

<ng-container *ngFor="let item of items">
    <div class="service-item">
        <div class="title">
            {{ item.name }}
        </div>
        <div class="brief">
            {{ item.brief }}
        </div>
        <ng-container *ngIf="item.status < 0; else elseTemplate">
            <a class="btn btn-info" (click)="tapApply(item)">
                <span i18n>Apply</span>
            </a>
        </ng-container>
        <ng-template #elseTemplate>
            <a class="btn btn-success">
                <span i18n>Applied</span>
            </a>
        </ng-template>
        
        
    </div>
</ng-container>