<div class="row">
    <div class="offset-md-8 col-md-4">
        <form class="search-bar" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
            <input type="text" class="form-control" name="keywords" placeholder="请输入搜索内容" ngModel [value]="keywords">
            <button class="btn btn-primary">搜索</button>
        </form>
    </div>
</div>
<div class="tab-bar">
    <a [ngClass]="{active: category < 1}" (click)="tapCategory()">全部</a>
    <ng-container *ngFor="let item of categories">
        <a  [ngClass]="{active: category == item.id}" (click)="tapCategory(item)">{{ item.name }}</a>
    </ng-container>
</div>

<ng-container *ngFor="let item of items">
    <div class="service-item">
        <div class="title">
            {{ item.name }}
        </div>
        <div class="brief">
            {{ item.brief }}
        </div>
        <ng-container *ngIf="item.status < 0; else elseTemplate">
            <a class="btn btn-info" (click)="tapApply(item)">
                <span>申请</span>
            </a>
        </ng-container>
        <ng-template #elseTemplate>
            <a class="btn btn-success">
                <span>已申请</span>
            </a>
        </ng-template>
        
        
    </div>
</ng-container>