<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>商品属性列表</li>
            <li *ngIf="group">当前属性分组：{{ group.name }}</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group">
                    <label for="keywords">名称</label>
                    <input type="text" class="form-control" [value]="keywords" name="keywords" ngModel id="keywords"
                        placeholder="名称">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a [routerLink]="'../create/' + group.id" class="pull-right btn btn-primary">新增属性</a>
                <a routerLink="../../group" class="pull-right btn btn-info">返回分组</a>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>属性名称</th>
                    <th>商品类型</th>
                    <th>属性是否可选</th>
                    <th>属性值的录入方式</th>
                    <th>可选值列表</th>
                    <th>排序</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.group?.name }}</td>
                    <td>{{ item.type | attributeType }}</td>
                    <td>{{ item.input_type < 1 ? '手工录入' : '列表选择' }}</td>
                    <td>{{ item.default_value }}</td>
                    <td>{{ item.position }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-light btn-xs"
                            [routerLink]="'../edit/' + item.id ">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>