<div class="flex-line">
    <div class="top-input">
        <input type="color" class="form-control">
        <label>颜色</label>
    </div>
    <div class="top-input">
        <input type="number" class="form-control">
        <label>X</label>
    </div>
    <div class="top-input">
        <input type="number" class="form-control">
        <label>Y</label>
    </div>
</div>
<div class="flex-line">
    <div class="top-input">
        <input type="number" class="form-control">
        <label>模糊</label>
    </div>
    <div class="top-input">
        <input type="number" class="form-control">
        <label>扩散</label>
    </div>
</div>