<div class="container-fluid">
    <div class="search-bar">
        <app-auto-suggest-box id="keywords" [field]="queries.keywords" (confirm)="tapSearch($event)" (textChange)="onSuggestChange($event)" />
    </div>
    @if (!queries.keywords) {
    <div class="panel">
        <div class="panel-header">
            <ng-container i18n>Recommend</ng-container>
            <div class="pull-right" (click)="tapRefresh()">
                <i class="iconfont icon-refresh"></i>
                <ng-container i18n>Refresh</ng-container>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                @for (item of items; track $index) {
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <a class="card-item" [routerLink]="['project', item.id]" routerLinkActive="router-link-active" >
                        <div class="item-cover">
                            <img [src]="item.cover" [alt]="item.name">
                        </div>
                        <div class="item-body">
                            <div class="item-name">
                                {{ item.name }}
                            </div>
                        </div>
                    </a>
                </div>
                }
            </div>
        </div>
    </div>
    } @else {
    <div class="search-body">
        <div class="row">
            @for (item of items; track $index) {
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <a class="card-item" [routerLink]="['project', item.id]" routerLinkActive="router-link-active" >
                    <div class="item-cover">
                        <img [src]="item.cover" [alt]="item.name">
                    </div>
                    <div class="item-body">
                        <div class="item-name">
                            {{ item.name }}
                        </div>
                    </div>
                </a>
            </div>
            }
        </div>

        <div class="row">
            <div class="col-md-12">
                <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
                <app-pagination [total]="total" [field]="queries.page" (valueChange)="tapPage()" [perPage]="queries.per_page().value()" />
            </div>
        </div>
    </div>
    }
    

    
</div>