.search-bar {
    padding: 20vh 0 5vh;
    margin: 1.875rem auto 2.5rem;
    width: 43.75rem;
}
.panel {
    background-color: #fff;
    padding: 0 10px;
    .panel-header {
        line-height: 40px;
        border-bottom: 2px solid;
        border-left: none;
        font-size: 18px;
        .pull-right {
            float: right;
            user-select: none;
            font-size: 13px;
        }
    }
    .panel-body {
        padding: 10px 0;
    }
}

.card-item {
    display: block;
    position: relative;
    border-radius: .2rem;
    .item-cover {
        img {
            width: 100%;
            filter: blur(0) grayscale(0);
            transition: filter .8s ease;
        }
    }
    .item-body {
        position: absolute;
        height: 3rem;
        bottom: 0;
        left: 0;
        right: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #000000, $alpha: .1);
        color: #fff;
        transition: all .5s;
        .item-name {
            padding: 0 .4rem;
            user-select: text;
            color: #fff;
            font-size: 1.25rem;
        }
    }
    &:hover {
        background: #fff;
        border: 1px solid #d4d4d5;
        box-shadow: 0 1px 3px 0 #bcbdbd, 0 0 0 0 #d4d4d5;
        transform: translateY(-3px);
        .itme-cover {
            img {
                filter: blur(5px) grayscale(.7);
            }
        }
        .item-body {
            height: 100%;
            display: flex;
            background-color: rgba($color: #000000, $alpha: .6);
        }
    }
}