.panel {
    background-color: #fff;
    padding: 0 10px;
    .panel-header {
        line-height: 40px;
        border-bottom: 2px solid;
        border-left: none;
        font-size: 18px;
        .pull-right {
            float: right;
            user-select: none;
            font-size: 13px;
        }
    }
    .panel-body {
        padding: 10px 0;
    }
}

.card-item {
    display: block;
    position: relative;
    border-radius: .2rem;
    .cover {
        img {
            width: 100%;
            filter: blur(0) grayscale(0);
            transition: filter .8s ease;
        }
    }
    .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .name {
            user-select: text;
            color: #fff;
            font-size: 20px;
        }
    }
    &:hover {
        background: #fff;
        border: 1px solid #d4d4d5;
        box-shadow: 0 1px 3px 0 #bcbdbd, 0 0 0 0 #d4d4d5;
        transform: translateY(-3px);
        .cover {
            img {
                filter: blur(5px) grayscale(.7);
            }
        }
        .content {
            display: flex;
            background-color: rgba($color: #000000, $alpha: .6);
        }
    }
}