<div class="container-fluid">
  <app-page-tip>
      <ul>
          <li>用户列表</li>
      </ul>
  </app-page-tip>
  <div class="panel-container">
      <div class="page-search-bar">
          <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
              <div class="input-group-control">
                  <label for="keywords">昵称</label>
                  <input type="text" class="form-control" name="keywords" id="keywords" placeholder="搜索昵称" [ngModel]="queries.keywords">
              </div>
              <button type="submit" class="btn btn-primary">搜索</button>
              <div class="btn-group pull-right">
                @if (editable) {
                    <a class="btn btn-info" routerLink="create">新增用户</a>
                    <a routerLink="ban" class="btn btn-danger">管理黑名单</a>
                }
                
              </div>
             
          </form>
      </div>
      <table class="table  table-bordered well">
          <thead>
          <tr>
              <th (click)="tapSort('id')">
                  ID
                <i class="iconfont" [ngClass]="{'icon-sort-alpha-desc': queries.sort == 'id' && queries.order != 'asc', 'icon-sort-alpha-asc': queries.sort == 'id' && queries.order == 'asc'}"></i>
              </th>
              <th (click)="tapSort('name')">用户名
                <i class="iconfont" [ngClass]="{'icon-sort-alpha-desc': queries.sort == 'name' && queries.order != 'asc', 'icon-sort-alpha-asc': queries.sort == 'name' && queries.order == 'asc'}"></i>
              </th>
              <th class="auto-hide">邮箱</th>
              <th class="auto-hide">性别</th>
              <th>余额</th>
              @if (editable) {
                <th>实名认证</th>
                <th>状态</th>
              }
              
              <th class="auto-hide">更新时间</th>
              <th class="auto-hide">注册时间</th>
              <th>操作</th>
          </tr>
          </thead>
          <tbody>
              @for (item of items; track $index) {
                <tr>
                  <td>{{ item.id }}</td>
                  <td>{{ item.name }}</td>
                  <td class="auto-hide">
                    <div class="inner-label">{{ item.email }}</div>
                  </td>
                  <td class="auto-hide">{{ item.sex_label }}</td>
                  <td>{{ item.money }}</td>
                  @if (editable) {
                  <td>
                        <app-switch [(ngModel)]="item.is_verified" (ngModelChange)="onVerify(item, modal)" />
                  </td>
                  <td>{{ formatStatus(item.status) }}</td>
                  }
                  
                  <td class="auto-hide" [title]="item.updated_at">{{ item.updated_at | ago }}</td>
                  <td class="auto-hide" [title]="item.created_at">{{ item.created_at | ago }}</td>
                  <td>
                        <app-button-group [items]="formatButtons(item)" (tapped)="onActionTap($event, item)" />
                  </td>
              </tr>
              }
              </tbody>
      </table>
      <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()" />
  </div>
</div>
<app-dialog-box #modal [scrollable]="false">
    <div class="form-group">
        <label for="">真实姓名</label>
        <div>
            <input type="text" class="form-control" [(ngModel)]="editData.name">
        </div>
    </div>
    <div class="form-group">
        <label for="">身份证</label>
        <div>
            <input type="text" class="form-control" [(ngModel)]="editData.id_card">
        </div>
    </div>
</app-dialog-box>