<div class="container-fluid tablet-collapse">
    <app-page-tip>
        <ul>
            <li>管理理财项目列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">项目名</label>
                    <input type="text" class="form-control" [field]="queries.keywords" placeholder="项目名">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a (click)="open(modal)" class="pull-right btn btn-primary">新增项目</a>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>配置项目</th>
                    <th>资金</th>
                    <th>形态</th>
                    <th>(预估)收益率</th>
                    <th>状态</th>
                    <th>起息日期</th>
                    <th>到期日期</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.money }}</td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.earnings }}</td>
                    <td>
                        <button type="button" class="btn btn-xs" [class]="{'btn-success': item.status == 1, 'btn-danger': item.status != 1}">{{ item.status == 1 ? '进行中' : '已结束' }}</button>
                    </td>
                    <td>{{ item.start_at }}</td>
                    <td>{{ item.end_at }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-info" (click)="tapConfirm(confirmModal, item)">确认收益</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
    </div>
  </div>

  <div class="tablet-visible">
    <div class="route-bar">
        <a class="route-icon" (click)="tapBack()">
            <i class="iconfont icon-chevron-left"></i>
        </a>
        <span class="route-title">理财项目</span>
        <a class="route-icon" (click)="open(modal)">
            <i class="iconfont icon-plus"></i>
        </a>
    </div>
    <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
    <app-swipe-list-control>
        @for (item of items(); track $index) {
            <app-swipe-control>
            <div class="line-row-item --with-icon">
                <div class="item-icon">
                    ￥
                </div>
                <div class="item-body">
                    <div class="item-title">{{ item.name }}</div>
                    <div class="item-meta">
                        {{ item.start_at | timestamp: 'short'}} ~ {{ item.end_at| timestamp: 'short' }}
                    </div>
                </div>
                <div class="item-meta-bar">
                    <div class="item-count">{{ item.money | numberFormat }}</div>
                    <div class="item-meta">
                        x {{ formatScale(item.earnings) }}
                    </div>
                </div>
            </div>
            <ng-container name="left">
                <a class="btn-primary" (click)="open(modal, item)">
                    <i class="iconfont icon-edit"></i>
                </a>
                <a class="btn btn-info" (click)="tapConfirm(confirmModal, item)">确认收益</a>
            </ng-container>
            <ng-container name="right">
                <a class="btn-danger" (click)="tapRemove(item)">
                    <i class="iconfont icon-trash"></i>
                </a>
            </ng-container>
        </app-swipe-control>
        }
    </app-swipe-list-control>
</div>
  
  <app-dialog-box #modal [title]="editForm.id().value() != 0 ? '编辑项目' : '新增项目'">
    <div class="form-group">
        <label for="name">名称</label>
        <div class="input-group-control">
            <input class="form-control" id="name" [field]="editForm.name" placeholder="请输入名称">
        </div>
    </div>
    <div class="form-group">
        <label for="alias">别名</label>
        <div class="input-group-control">
            <input class="form-control" id="alias" [field]="editForm.alias" placeholder="请输入别名">
        </div>
    </div>
    <div class="form-group">
        <label for="money">金额</label>
        <div class="input-group-control">
            <input type="number" class="form-control" id="money" [field]="editForm.money" placeholder="请输入金额">
        </div>
    </div>
    <div class="form-group">
        <label for="account">账户</label>
        <div class="input-group-control">
            <select class="form-control" [field]="editForm.account_id" id="account">
                @for (item of accountItems; track $index) {
                    <option [value]="item.id">{{ item.name }}</option>
                }
                
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="product">产品</label>
        <div class="input-group-control">
            <select class="form-control" [field]="editForm.product_id" id="product">
                @for (item of productItems; track $index) {
                    <option [value]="item.id">{{ item.name }}</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="earnings">(预估)收益率</label>
        <div class="input-group-control">
            <input type="number" class="form-control" id="earnings" [field]="editForm.earnings" placeholder="请输入收益率">
        </div>
    </div>

    <div class="form-group">
        <label for="start_at">开始日期</label>
        <div>
            <app-date-input id="start_at" [field]="editForm.start_at" placeholder="请选择开始日期" />
        </div>
    </div>
    <div class="form-group">
        <label for="end_at">到期日期</label>
        <div>
            <app-date-input id="end_at" [field]="editForm.end_at" placeholder="请选择到期日期" />
        </div>
    </div>
    <div class="form-group">
        <label for="remark">备注</label>
        <div class="input-group-control">
            <textarea class="form-control" id="remark" [field]="editForm.remark" placeholder="请输入备注"></textarea>
        </div>
    </div>
</app-dialog-box>

<app-dialog-box #confirmModal title="确认收益">
    <div class="form-group">
        <label for="name">项目名</label>
        <div class="input-group-control">
            <input class="form-control" id="name" [value]="editForm.name().value()" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="money">资金</label>
        <div class="input-group-control">
            <input class="form-control" id="money" [value]="editForm.money().value()" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="earnings">实现收益</label>
        <div class="input-group-control">
            <input type="number" class="form-control" id="earnings" [field]="editForm.earnings" placeholder="请输入实现收益">
        </div>
    </div>
</app-dialog-box>