<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>管理理财项目列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="zre-input-group">
                    <label for="keywords">项目名</label>
                    <input type="text" class="form-control" [ngModel]="keywords" name="keywords" id="keywords" placeholder="项目名">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a (click)="open(modal)" class="pull-right btn btn-primary">新增项目</a>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>配置项目</th>
                    <th>资金</th>
                    <th>形态</th>
                    <th>(预估)收益率</th>
                    <th>状态</th>
                    <th>起息日期</th>
                    <th>到期日期</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.money }}</td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.earnings }}</td>
                    <td>
                        <button type="button" class="btn btn-xs" [ngClass]="{'btn-success': item.status == 1, 'btn-danger': item.status != 1}">{{ item.status == 1 ? '进行中' : '已结束' }}</button>
                    </td>
                    <td>{{ item.start_at }}</td>
                    <td>{{ item.end_at }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-info btn-xs" (click)="tapConfirm(confirmModal, item)">确认收益</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
    </div>
  </div>
  
  <app-dialog-box #modal [title]="editData && editData.id > 0 ? '编辑项目' : '新增项目'">
    <div class="form-group">
        <label for="name">名称</label>
        <div class="zre-input-group">
            <input class="form-control" id="name" [(ngModel)]="editData.name" placeholder="请输入名称">
        </div>
    </div>
    <div class="form-group">
        <label for="alias">别名</label>
        <div class="zre-input-group">
            <input class="form-control" id="alias" [(ngModel)]="editData.alias" placeholder="请输入别名">
        </div>
    </div>
    <div class="form-group">
        <label for="money">金额</label>
        <div class="zre-input-group">
            <input class="form-control" id="money" [(ngModel)]="editData.money" placeholder="请输入金额">
        </div>
    </div>
    <div class="form-group">
        <label for="account">账户</label>
        <div class="zre-input-group">
            <select class="form-control" [(ngModel)]="editData.account_id" id="account">
                <option *ngFor="let item of accountItems" [value]="item.id">{{ item.name }}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="product">产品</label>
        <div class="zre-input-group">
            <select class="form-control" [(ngModel)]="editData.product_id" id="product">
                <option *ngFor="let item of productItems" [value]="item.id">{{ item.name }}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="earnings">(预估)收益率</label>
        <div class="zre-input-group">
            <input class="form-control" id="earnings" [(ngModel)]="editData.earnings" placeholder="请输入收益率">
        </div>
    </div>

    <div class="form-group">
        <label for="start_at">开始日期</label>
        <div>
            <app-date-input id="start_at" [(ngModel)]="editData.start_at" placeholder="请选择开始日期"></app-date-input>
        </div>
    </div>
    <div class="form-group">
        <label for="end_at">到期日期</label>
        <div>
            <app-date-input id="end_at" [(ngModel)]="editData.end_at" placeholder="请选择到期日期"></app-date-input>
        </div>
    </div>
    <div class="form-group">
        <label for="remark">备注</label>
        <div class="zre-input-group">
            <textarea class="form-control" id="remark" [(ngModel)]="editData.remark" placeholder="请输入备注"></textarea>
        </div>
    </div>
</app-dialog-box>

<app-dialog-box #confirmModal title="确认收益">
    <div class="form-group">
        <label for="name">项目名</label>
        <div class="zre-input-group">
            <input class="form-control" id="name" [value]="editData.name" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="money">资金</label>
        <div class="zre-input-group">
            <input class="form-control" id="money"  [value]="editData.money" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="earnings">实现收益</label>
        <div class="zre-input-group">
            <input class="form-control" id="earnings" [(ngModel)]="editData.earnings" placeholder="请输入实现收益">
        </div>
    </div>
</app-dialog-box>