<div class="music-player" #playerBar [ngClass]="{'fixed-player': isFixed, hidden: hidden}">
    <div class="player-body">
        <app-spectrum-panel [width]="lyricsWidth" [height]="lyricsHeight" [hidden]="!spectrumVisible" [value]="channelData"></app-spectrum-panel>
        <app-lyrics-viewer  [width]="lyricsWidth" [height]="lyricsHeight" [src]="lyricsSrc" [hidden]="!lyricsVisible" [duration]="duration" [currentTime]="progress"></app-lyrics-viewer>
    </div>
    <div class="player-catalog" [hidden]="!catalogVisible">
        <app-play-list [min]="true" [items]="items" (tapped)="play($event)"></app-play-list>
    </div>
    <div class="player-bar">
        <div class="bar-action">
            <i class="iconfont icon-step-backward" [ngClass]="{disabled: canPrevious}" (click)="tapPrevious()"></i>
            <i class="iconfont play-btn" [ngClass]="{'icon-play': paused, 'icon-pause': !paused}" (click)="togglePlay()"></i>
            <i class="iconfont icon-stop" [ngClass]="{disabled: !data}" (click)="stop()"></i>
            <i class="iconfont icon-step-forward" [ngClass]="{disabled: canNext}" (click)="tapNext()"></i>
        </div>
        <div class="bar-body">
            <div class="bar-cover">
                <img [src]="data?.cover|asset" alt="">
            </div>
            <div class="bar-flex-body">
                <div class="bar-name">
                    <span>{{ data?.name || 'unknown' }}</span>
                    <span class="name-meta">{{ data?.artist }}</span>
                </div>
                <div class="bar-progress">
                    <app-progress-bar [value]="progress" [max]="duration" (valueChange)="onProgressChange($event)"></app-progress-bar>
                    <div class="time">
                        {{ progress | duration }}/{{ duration | duration }}
                    </div>
                </div>
            </div>
        </div>
        <div class="bar-footer">
            <i class="iconfont" [ngClass]="{'icon-volume-off': volume <= 0, 'icon-volume-down': volume > 0 && volume <= 60, 'icon-volume-up': volume > 60}" (click)="tapVolume()" (click)="tapVolume()"></i>
            <i class="iconfont icon-random"></i>
            <i class="iconfont icon-th-list" (click)="catalogVisible = !catalogVisible"></i>
            <i class="iconfont icon-bar-chart" (click)="toggleSpectrum()"></i>
            <i class="iconfont icon-file-text-o" (click)="toggleLyrics()"></i>
        </div>
    </div>
</div>