@use '../../player';
.music-player {
    position: relative;
    z-index: 66;
    &.fixed-player {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &.hidden {
        .player-bar,
        .player-body {
            display: none;
        }
    }
}
.player-body {
    position: relative;
    app-lyrics-viewer {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}