.music-player {
    position: relative;
    z-index: 66;
    &.fixed-player {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &.hidden {
        .player-bar,
        .player-body {
            display: none;
        }
    }
}
.player-body {
    position: relative;
    app-lyrics-viewer {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.player-bar {
    background-color: #fff;
    display: flex;
    padding: .8rem;
    .bar-cover {
        img {
            width: 3rem;
            height: 3rem;
        }
    }
    .bar-footer,
    .bar-action {
        padding: 0 .8rem;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }
    .bar-action {
        .iconfont {
            border: 2px solid #666;
            border-radius: 50%;
            display: inline-flex;
            width: 2.5rem;
            height: 2.5rem;
            align-items: center;
            justify-content: center;
            opacity: .5;
            &:hover {
                opacity: 1;
            }
        }
        .play-btn {
            width: 3rem;
            height: 3rem;
            opacity: 1;
        }
    }
    .bar-body {
        flex: 1;
        display: flex;
    }
    .bar-flex-body {
        flex: 1;
        .name-meta {
            color: #767676;
            margin-left: .8rem;
            font-size: .8em;
        }
    }
    .bar-progress {
        display: flex;
        app-progress-bar {
            flex: 1;
        }
        .time {
            font-size: .8em;
        }
    }
    .bar-footer {
        .iconfont {
            &:not(:last-of-type) {
                margin-right: .8rem;
            }
        }
    }
}