<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>订单列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group">
                    <label for="series_number">订单号</label>
                    <input type="text" class="form-control" name="series_number" ngModel id="series_number" placeholder="订单号">
                </div>
                <div class="input-group">
                    <label for="status">状态</label>
                    <select name="status" class="form-control" ngModel id="status">
                        <option value="0">全部</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a routerLink="./create" class="btn btn-success pull-right">新增订单</a>
                <a routerLink="./delivery" class="btn btn-info pull-right">发货单</a>
            </form>
        </div>
        <div class="order-box">
            <div class="order-item" *ngFor="let item of items">
                <div class="item-header">
                    <span>{{ item.created_at }}</span>
                    <span>订单号：{{ item.series_number }}</span>
                    <span>订单总额：{{ item.order_amount }}</span>
                    <span>状态：{{ item.status_label }}</span>
                    <span>售后：无</span>
                </div>
                <div class="item-body">
                    <div class="item-goods">
                        <div class="goods-item" *ngFor="let goods of item.goods">
                            <div class="goods-img">
                                <img [src]="goods.thumb">
                            </div>
                            <div class="goods-info">
                                <h4>{{ goods.name }}</h4>
                                <p>{{ goods.type_remark }}</p>
                                <span class="price">{{ goods.price }}</span>
                                <span class="amount"> x {{ goods.amount }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="item-subtotal">
                        <p>应付：
                            <span>{{ item.order_amount }}</span>
                        </p>
                        <p>运费：{{ item.shipping_fee }}</p>
                    </div>
                    <div class="item-user">
                        <p>用户名：{{ item.user.name }}</p>
                        <p>收货人：{{ item.address.name }}</p>
                        <p>{{ item.address.tel }}</p>
                    </div>
                    <div class="item-actions">
                        <a routerLink="4">订单详情</a>
                        <a >修改运费</a>
                        <a class="btn btn-danger btn-xs" >删除</a>
                    </div>
                </div>
            </div>
        </div>

        <app-pagination  [total]="total" [(page)]="page" [perPage]="perPage" 
            (pageChange)="tapPage()"></app-pagination>
    </div>
</div>