.cart-dialog {
    width: 20rem;
    margin-left: -10rem;
    .dialog-footer {
        display: flex;
        justify-content: flex-end;
        .btn {
            flex: 1;
            border-radius: 0;
        }
    }
}

.cart-body {
    min-height: 10rem;
    padding-top: .4rem;
}

.cart-item {
    display: flex;
    user-select: none;
    padding: 0 .4rem;
    .item-thumb {
        img {
            max-width: 5rem;
        }
    }
    .item-info {
        flex: 1;
    }
    .item-meta {
        color: #999;
    }
}

.item-price {
    display: inline-block;
    color: red;
    font-size: 1.5em;
    em {
        font-style: normal;
        font-size: .2em;
    }
}
.cart-subtotal {
    text-align: right;
}