<div class="characher-row">
    <div class="character-card-item">
        <div class="item-avatar">
            <img src="" alt="">
        </div>
        <div class="item-body">
            <div class="item-name">{{ character.nickname }}</div>
            <div class="item-progress-bar">
                <div class="progress-inner"></div>
                <span class="progress-label">lv.{{ character.grade }}
                ({{ character.exp | numberFormat }}/{{ character.next_grade?.exp | numberFormat }})</span>
            </div>
            <div class="item-progress-bar progress-danger">
                <div class="progress-inner"></div>
            </div>
            <div class="item-progress-bar progress-success">
                <div class="progress-inner"></div>
            </div>
        </div>
    </div>
    <div class="character-card-item">
        <div class="item-avatar">
            <img src="" alt="">
        </div>
        <div class="item-body">
            <div class="item-name">{{ character.nickname }}(lv.{{ character.grade }})</div>
            <div class="item-progress-bar progress-danger">
                <div class="progress-inner"></div>
            </div>
        </div>
    </div>
</div>

<div class="top-menu-bar">
    @for (item of topItems; track $index) {
        <a [ngClass]="{disabled: item.disabled}" (click)="tapRoute(item)">{{ item.name }}
            @if (item.count > 0) {
                ({{ item.count }})
            }
        </a>
    }
</div>

<div class="group-box">
    <div class="group-header">
        【
        <a (click)="navigate('character')">角色资料</a>
        】
    </div>
    <div class="group-body">
        <p>{{ character.nickname }}</p>
        @if (character.can_upgrade) {
        <p>等级: {{ character.grade }}级({{ character.exp | numberFormat }}/{{ character.next_grade?.exp | numberFormat }}) <a (click)="tapUpgrade()">升级</a></p>
        }
    </div>
</div>

<div class="group-box">
    <div class="group-header">
        【广场】
    </div>
    <div class="group-body">
        <ul class="mini-message">
            @for (item of messsageItems; track $index) {
            <li>[{{ item.created_at | ago }}]{{ item.user?.name }}: {{ item.content }}</li>
            }
        </ul>
    </div>
</div>

<div class="menu-bar">
    @for (item of bottomItems; track $index) {
        <a [ngClass]="{disabled: item.disabled}" (click)="tapRoute(item)">{{ item.name }}
            @if (item.count > 0) {
                ({{ item.count }})
            }
        </a>
    }
</div>