<div class="top-menu-bar">
    <ng-container *ngFor="let item of topItems">
        <a [ngClass]="{disabled: item.disabled}" (click)="tapRoute(item)">{{ item.name }}
            <ng-container *ngIf="item.count > 0">
                ({{ item.count }})
            </ng-container>
        </a>
    </ng-container>
</div>

<div class="group-box">
    <div class="group-header">
        【
        <a (click)="navigate('character')">角色资料</a>
        】
    </div>
    <div class="group-body">
        <p>{{ character.nickname }}</p>
        <p>等级: {{ character.grade }}级({{ character.exp | numberFormat }}/{{ character.next_grade?.exp | numberFormat }}) <a *ngIf="character.can_upgrade" (click)="tapUpgrade()">升级</a></p>
    </div>
</div>

<div class="group-box">
    <div class="group-header">
        【广场】
    </div>
    <div class="group-body">
        <ul class="mini-message">
            <li *ngFor="let item of messsageItems">[{{ item.created_at | ago }}]{{ item.user?.name }}: {{ item.content }}</li>
        </ul>
    </div>
</div>

<div class="menu-bar">
    <ng-container *ngFor="let item of bottomItems">
        <a [ngClass]="{disabled: item.disabled}" (click)="tapRoute(item)">{{ item.name }}
            <ng-container *ngIf="item.count > 0">
                ({{ item.count }})
            </ng-container>
        </a>
    </ng-container>
</div>