<div class="top-menu-bar">
    <a (click)="tapCheckin()">签到</a>
    <a href="">消息(1)</a>
    <a href="">任务</a>
</div>

<div class="group-box">
    <div class="group-header">
        【角色资料】
    </div>
    <div class="group-body">
        <p>test</p>
        <p>等级: 57级(100/10000) <a href="">升级</a></p>
    </div>
</div>

<div class="group-box">
    <div class="group-header">
        【广场】
    </div>
    <div class="group-body">
        <ul class="mini-message">
            <li>[09:01:00]test: 这里没有什么东西</li>
        </ul>
    </div>
</div>

<div class="menu-bar">
    <a href="">背包</a>
    <a href="">组队</a>
    <a href="">帮派</a>
    <a href="">副本</a>
    <a href="">冒险</a>
    <a href="">农场</a>
    <a href="">牧场</a>
    <a href="">抽卡</a>
    <a href="">充值</a>
    <a href="">设置</a>
</div>