<div class="video-player" [ngClass]="{'player-full': isFull}">
    <ng-container *ngIf="!booted; else elseTemplate">
        <div class="player-mask" title="此处有视频，点击即可播放">
            <i class="iconfont icon-play" (click)="tapPlay()"></i>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <ng-container *ngIf="isFrame; else elsePlayerTemplate">
            <iframe class="player-frame" [src]="formatSrc" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
        </ng-container>
        <ng-template #elsePlayerTemplate>
            <video class="player-video" #playerVideo [src]="src"></video>
            <div class="mini-player-bar">
                <div class="icon" (click)="tapPlay()" [title]="paused ? '播放' : '暂停'">
                    <i class="iconfont" [ngClass]="{'icon-play': paused, 'icon-pause': !paused}"></i>
                </div>
                <div class="slider">
                    <app-player-progress-bar [loaded]="loaded" [value]="progress" [max]="duration" (valueChange)="onProgressChange($event)"></app-player-progress-bar>
                </div>
                <div class="time">
                    {{ progress | duration }}/{{ duration | duration }}
                </div>
                <div class="volume-icon">
                    <i class="iconfont" [ngClass]="{'icon-volume-off': volume <= 0, 'icon-volume-down': volume > 0 && volume <= 60, 'icon-volume-up': volume > 60}" (click)="tapVolume()"></i>
                </div>
                <div class="volume-slider">
                    <app-player-progress-bar [formatValue]="false" [value]="volume" (valueChange)="onVolumeChange($event)"></app-player-progress-bar>
                </div>
                <div class="full-icon">
                    <i class="iconfont" [ngClass]="{'icon-full-screen': !isFull, 'icon-exit-full-screen': isFull}" (click)="tapFullScreen()"></i>
                </div>
            </div>
        </ng-template>
    </ng-template>
</div>