@use '../../../theme/styles/theme';
@use '../player';
.video-player {
    --#{theme.$prefix}player: var(--#{theme.$prefix}accent-text);
    --#{theme.$prefix}player-text: var(--#{theme.$prefix}accent);
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(var(--#{theme.$prefix}mask-rgb), .07), 0 1px 5px 0 rgba(var(--#{theme.$prefix}mask-rgb), 0.1);
    i {
        font-style: normal;
    }
    .player-mask {
        background-color: var(--#{theme.$prefix}player);
        text-align: center;
        padding: 1em;
        .iconfont {
            color: var(--#{theme.$prefix}player-text);
            font-size: 4em;
        }
        &:hover {
            .iconfont {
                color: var(--#{theme.$prefix}primary);
            }
        }
    }
    .player-frame {
        border: 0;
        width: 100%;
        height: 100vw;
        max-height: 400px;
    }
    .player-video {
        border: 0;
        width: 100%;
        height: 100vw;
        max-height: 400px;
        background-color: var(--#{theme.$prefix}player);
        margin: 0;
    }
    
    &.player-full {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 9999;
        background-color: var(--#{theme.$prefix}player);
        box-shadow: none;
        .player-video {
            width: 100%;
            height: 100%;
            max-height: 100%;
        }
        .mini-player-bar {
            background-color: rgba(var(--#{theme.$prefix}primary-text-rgb), .15);
            color: var(--#{theme.$prefix}player-text);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            transition: 1s opacity;
            &:hover {
                opacity: 1;
            }
        }
    }
}