<div class="work-container" (mousedown)="onSelectStart($event)" (wheel)="onMouseWhell($event)">
    <div class="work-outer-panel" [ngStyle]="outerStyle">
        <div class="work-inner-panel" [ngStyle]="innerStyle">
            <!-- 模拟样式 -->
            <div class="shell-box">
                <app-editor-shell (resizing)="onResizing($event)"></app-editor-shell>
            </div>
            <div class="work-body" (contextmenu)="onContext($event)">
                <ng-container *ngFor="let item of widgetItems$ | async">
                    <div class="widget-shell" [ngStyle]="item.outerStyle"  (contextmenu)="onContext($event, item)">
                        <app-editor-widget [value]="item"></app-editor-widget>
                    </div>
                </ng-container>
            </div>
            <!-- 编辑widget的样式 -->
            <div class="widget-reflection" (contextmenu)="onContext($event, true)">
                <app-editor-reflection></app-editor-reflection>
            </div>
        </div>
    </div>
     <!-- 选中区域rect -->
    <div class="selection-rect" [ngStyle]="selectionStyle"></div>
</div>
<!-- 标尺 -->
<div class="rule-box">
    <app-editor-rule-panel [offsetX]="shellScaleBound.x" [offsetY]="shellScaleBound.y" [scale]="scaleValue / 100"></app-editor-rule-panel>
</div>

<app-editor-scale-bar [(value)]="scaleValue"></app-editor-scale-bar>
<!-- 滚动条 -->
<app-editor-scroll-bar class="x-track" [max]="trackData.xMax" [min]="trackData.xMin" [(value)]="shellBound.x"></app-editor-scroll-bar>
<app-editor-scroll-bar class="y-track" [orientation]="false"  [max]="trackData.yMax" [min]="trackData.yMin" [(value)]="shellBound.y"></app-editor-scroll-bar>

<app-context-menu></app-context-menu>