<div class="work-container" (mousedown)="onSelectStart($event)" (wheel)="onMouseWhell($event)">
    <div class="work-outer-panel" [ngStyle]="shellStyle">
        <!-- 模拟样式 -->
        <div class="shell-box">
            <app-editor-shell (resizing)="onResizing($event)" />
        </div>
        <div class="work-body" (contextmenu)="onContext($event)">
            @for (item of widgetItems$ | async; track $index) {
                <div class="widget-shell" [ngStyle]="item.outerStyle"  (contextmenu)="onContext($event, item)">
                    <app-editor-widget [value]="item" />
                </div>
            }
        </div>
        <!-- 编辑widget的样式 -->
        <div class="widget-reflection" (contextmenu)="onContext($event, true)">
            <app-editor-reflection />
        </div>
    </div>
     <!-- 选中区域rect -->
    <div class="selection-rect" [ngStyle]="selectionStyle"></div>
</div>
<!-- 标尺 -->
<div class="rule-box">
    <app-editor-rule-panel />
</div>

<app-editor-scale-bar (valueChange)="scale($event)" />
<!-- 滚动条 -->
<app-editor-scroll-bar class="x-track" />
<app-editor-scroll-bar class="y-track" [orientation]="false" />

<app-context-menu />