<div class="tablet-large-header tablet-visible">
    <div class="route-bar">
        <a class="route-icon" (click)="tapBack()">
            <i class="iconfont icon-chevron-left"></i>
        </a>
        <span class="route-title" i18n>Drive</span>
    </div>
</div>
<div class="container">
    <div class="tip" i18n>
        The latest login device: click can view the login time
    </div>
    @for (item of items; track $index) {
        <div class="driver-item">
        <div class="item-icon">
            <i class="iconfont icon-mobile"></i>
        </div>
        <div class="item-body">
            <div class="item-name">zodream</div>
            <div class="item-meta">
                <ng-container i18n>Drive:</ng-container>
                MI 8</div>
            <div class="item-time">
                <ng-container i18n>Login Time:</ng-container>
                
                4</div>
            <div class="item-stamp" i18n>Current</div>
        </div>
        <div class="item-action">
            <a class="btn btn-danger" i18n>
                Delete Device
            </a>
        </div>
    </div>
    }
    <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
</div>
