<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>分类列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <a class="btn btn-success pull-right" routerLink="create">新增分类</a>
        </div>
    
        <table class="table table-hover tree-table-control">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>分类名</th>
                    <th>分组</th>
                    <th>统计</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index; let i = $index) {
                <tr class="tree-item" [class]="{'tree-item-open': item.toggled, 'tree-next-level': item.level > 0, 'treee-item-visible': item.level < 1 || item.visibled}">
                    <td class="tree-arrow-td" (click)="toggleTree(i)">
                        <i class="tree-item-arrow"></i>
                    </td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.level | treeLevel }}{{ item.title }}</td>
                    <td>{{ item.groups }}</td>
                    <td></td>
                    <td>
                        <div class="btn-group">
                            @if (item.type < 1) {
                            <a class="btn btn-info" [routerLink]="['../content', item.id, item.model_id, 0]">查看</a>
                            }
                            <a class="btn btn-primary" [routerLink]="['edit', item.id]">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>