<div class="upload-dialog-box" [hidden]="!visible()" [class]="{'dialog-min': min}">
    <div class="dialog-header">
        <div class="header-title" (click)="min = false">{{ title() }}</div>
        <div class="header-action">
            <i class="iconfont icon-minus" (click)="min = true"></i>
            <i class="iconfont icon-close" (click)="visible.set(false)"></i>
        </div>
    </div>
    <div class="dialog-body" appFileDrop (fileDrop)="uploadFile($event)">
        @for (group of formatedItems; track $index) {
            <div class="upload-group">
                {{ group.name }}
            </div>
            @for (item of group.items; track $index) {
            <div class="upload-item" [class]="{'item-cancel': item.status == 9, 'item-running': item.status == 5, 'item-checked': item.checked}">
                <div class="item-progress" [style]="item.style"></div>
                <div class="item-body">
                    <div class="item-info">
                        <div class="item-name">{{ item.name }}</div>
                        <div class="item-meta">
                            @if (item.status == 5) {
                            <span>{{ item.speed | size }}/s</span>
                            }
                            @if (item.status < 3 || item.status == 5) {
                            <span>{{ item.progress | size }}/{{ item.total | size }}</span>
                            }
                            <span>{{ formatStatus(item.status) }}</span>
                        </div>
                    </div>
                    <div class="item-action">
                        @if (item.status == 6 || item.status == 7) {
                        <i class="iconfont icon-folder-open-o"></i>
                        }
                        @if (item.status == 8 || item.status == 9) {
                        <i class="iconfont icon-refresh" (click)="tapStart(item)"></i>
                        }
                        @if (item.status < 3) {
                        <i class="iconfont icon-play" (click)="tapStart(item)"></i>
                        }
                        @if (item.status == 3) {
                        <i class="iconfont icon-pause" (click)="tapPause(item)"></i>
                        }
                        <i class="iconfont icon-trash" (click)="tapRemove(item)"></i>
                    </div>
                </div>
            </div>
            }
        }
        <app-loading-tip [loading]="false" [visible]="formatedItems.length == 0" />
    </div>
</div>