<div class="tablet-large-header tablet-visible">
    <div class="route-bar">
        <a class="route-icon" (click)="tapBack()">
            <i class="iconfont icon-chevron-left"></i>
        </a>
        <span class="route-title" i18n>Cancel Account</span>
    </div>
</div>
<div class="container">
    <div class="tip" i18n>
        Please select the reason for cancellation:
    </div>
    <div class="group-body">
        @for (item of items; track $index;let i = $index) {
            <div class="item" [ngClass]="{active: selectedIndex == i}" (click)="selectedIndex = i">
                <i class="iconfont" [ngClass]="{'icon-square-o': selectedIndex != i, 'icon-check-square-o': selectedIndex == i}"></i>
                <span>{{ item }}</span>
            </div>
        }
    </div>
    <div class="btn-group">
        <app-action-button class="btn btn-danger" (tapped)="tapSubmit($event)" i18n>Cancel Account</app-action-button>
    </div>
</div>