@use '../../../theme/theme';
.tab-bar {
    float: right;
}

.tablet-large-header {
    padding: 3rem 0;
    .couter-control {
        padding: 0 .8rem;
        margin-top: 1rem;
        color: var(--#{theme.$prefix}header-active-text);
        .couter-label {
            color: var(--#{theme.$prefix}header-text);
            font-size: .8rem;
            line-height: 2rem;
        }
        .couter-body {
            font-size: 1.25rem;
            font-weight: bold;
        }
    }
}

.align-tab-bar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    .active {
        color: var(--#{theme.$prefix}header-active-text);
        border-bottom: 2px solid var(--#{theme.$prefix}header-active-text);
    }
}