<div class="container-fluid tablet-collapse">
    <app-page-tip>
        <ul>
            <li>财务管理</li>
        </ul>
    </app-page-tip>
    
    <div class="page-search-bar">
        <div class="form-horizontal-control">
            <app-date-input [formField]="queries.start_at" (valueChange)="onQueriesChange()" />
            ~
            <app-date-input [formField]="queries.end_at" (valueChange)="onQueriesChange()" />

            <div class="tab-bar">
                @for (item of typeItems; track $index;let i = $index) {
                    <div class="item" [class.active]="queries.type().value() == i" (click)="tapType(i)">
                        按{{ item }}
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="column-full-item">
                @if (isLoading()) {
                <div class="overlay">
                    <i class="iconfont icon-refresh"></i>
                </div>
                }
                <div class="inner">
                    <h3>{{ data().money_total || 0 | numberFormat }}</h3>
                    <p>总资产</p>
                </div>
                <div class="icon">
                    <i class="iconfont icon-area-chart"></i>
                </div>
                <a class="column-footer" routerLink="money">
                    查看更多
                    <i class="iconfont icon-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="column-full-item">
                @if (isLoading()) {
                <div class="overlay">
                    <i class="iconfont icon-refresh"></i>
                </div>
                }
                <div class="inner">
                    <h3>{{ data().expenditure_current || 0 | numberFormat }}/{{ data().expenditure_last || 0 | numberFormat }}/{{ data().expenditure_total || 0 | numberFormat }}</h3>
                    <p>当{{ formatType(queries.type().value()) }}/上{{ formatType(queries.type().value()) }}/总支出</p>
                </div>
                <div class="icon">
                    <i class="iconfont icon-shopping-cart"></i>
                </div>
                <a class="column-footer" routerLink="income">
                    查看更多
                    <i class="iconfont icon-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="column-full-item">
                @if (isLoading()) {
                <div class="overlay">
                    <i class="iconfont icon-refresh"></i>
                </div>
                }
                <div class="inner">
                    <h3>{{ data().income_current || 0 | numberFormat }}/{{ data().income_last || 0 | numberFormat }}/{{ data().income_total || 0 | numberFormat }}</h3>
                    <p>当{{ formatType(queries.type().value()) }}/上{{ formatType(queries.type().value()) }}/总收入</p>
                </div>
                <div class="icon">
                    <i class="iconfont icon-gift"></i>
                </div>
                <a class="column-footer" routerLink="income">
                    查看更多
                    <i class="iconfont icon-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>

</div>

<div class="tablet-large-header tablet-visible">
    <div class="container-fluid">
        <div class="align-tab-bar">
            <a [class]="{active: queries.type().value() == 1}" (click)="tapType(1)">月账单</a>
            <a [class]="{active: queries.type().value() == 3}" (click)="tapType(3)">年账单</a>
        </div>
        <div class="row">
            <div class="col-6">
                <app-datepicker format="yyyy-mm-dd" [formField]="queries.start_at" (valueChange)="onQueriesChange()">
                    <div class="select-shell-control">
                        <span>{{ queries.start_at().value() }}</span>
                        <i class="iconfont icon-chevron-down"></i>
                    </div>
                </app-datepicker>
            </div>
            <div class="col-6">
                <div class="tab-bar">
                    @for (item of logTypeItems; track $index;let i = $index) {
                        <div class="item" [class.active]="queries.log_type().value() == i" (click)="tapLogType(i)">
                            {{ item }}
                        </div>
                    }
                </div>
            </div>
        </div>

        @switch (queries.log_type().value()) {
            @case (1) {
                <div class="couter-control">
                    <div class="couter-label">共支出 {{ data().expenditure_count || 0 | numberFormat }} 笔，合计</div>
                    <div class="couter-body">
                        {{ data().expenditure_current || 0 | numberFormat }}
                    </div>
                </div>
            }
            @case (0) {
                <div class="couter-control">
                    <div class="couter-label">共收入 {{ data().income_count || 0 | numberFormat }} 笔，合计</div>
                    <div class="couter-body">
                        {{ data().income_current || 0 | numberFormat }}
                    </div>
                </div>
            }
            @case (2) {
                <div class="couter-control">
                    <div class="couter-label">共收入 {{ data().other_count || 0 | numberFormat }} 笔，合计</div>
                    <div class="couter-body">
                        {{ data().other_current || 0 | numberFormat }}
                    </div>
                </div>
            }
        }
        
        
        
    </div>
    
</div>


<div class="container-fluid">
    <div appChart [options]="options()" class="chart-lg"></div>
</div>
