<app-edit-header [title]="data && data.id > 0 ? '编辑组合' : '新增组合'" (submited)="tapSubmit()"
    [disabled]="form.invalid">
</app-edit-header>
<div class="container-fluid">
    <form class="form-table-control panel-container" [formGroup]="form" (ngSubmit)="tapSubmit()">
        <div class="input-group-control">
            <label for="name">名称</label>
            <div>
                <input type="text" id="name" class="form-control" formControlName="name" >

            </div>
        </div>
        <div class="input-group-control">
            <label for="thumb">图片</label>
            <div>
                <app-file-input formControlName="thumb"></app-file-input>
            </div>
        </div>
        <div class="input-group-control">
            <label for="description">说明</label>
            <div>
                <textarea id="description" class="form-control" formControlName="description"></textarea>
            </div>
        </div>
        <div class="group-box">
            <p class="align-center">组合明细</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="42%">商品名称</th>
                        <th>
                            组合数量
                        </th>
                        <th>分摊价格</th>
                        <th>
                            成本价
                        </th>
                        <th>小计</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of goodsItems; track $index; let i = $index) {
                        <tr>
                            <td>
                                <span>{{ item.goods.name }}</span>
                            </td>
                            <td><input type="text" class="form-control" [(ngModel)]="item.amount" [ngModelOptions]="{standalone: true}"></td>
                            <td><input type="text" class="form-control" [(ngModel)]="item.price" [ngModelOptions]="{standalone: true}"></td>
                            <td>{{ item.goods.price }}</td>
                            <td class="subtotal">{{ item.amount * item.price }}</td>
                            <td>
                                <a (click)="tapRemoveItem(i)">删除</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="text-left">
                            <a href="javascript:;" class="btn btn-primary" (click)="tapAddItem()">添加</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="input-group-control" formGroupName="configure">
            <label for="price">组合价格</label>
            <div>
                <input type="text" id="price" class="form-control" formControlName="price" placeholder="请输入 组合价格">
            </div>
        </div>
        <div class="input-group-control">
            <label for="start_at">起止时间</label>
            <div>
                <app-date-input formControlName="start_at" placeholder="请输入开始时间"></app-date-input>
                ~
                <app-date-input formControlName="end_at" placeholder="请输入结束时间"></app-date-input>
            </div>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-success">确认保存</button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>
@if (dialogOpen) {
<div class="dialog-box goods-dialog"  animate.enter="dialog-opened" animate.leave="dialog-closed">
    <i class="iconfont icon-close dialog-close" (click)="dialogOpen = false"></i>
    <app-search-dialog (cancel)="dialogOpen = false" [multiple]="true" (valueChange)="onGoodsSelected($event)"></app-search-dialog>
</div>
}
