<div class="micro-publish-box">
    <div class="title">
        <ng-container i18n>Are there any new things you want to share with everyone? </ng-container>
        <div class="tip" [hidden]="wordLength() == 0" i18n>
            <em>{{ wordLength() }}</em>characters have been entered 
        </div>
    </div>
    <div class="input-box">
        <textarea class="form-control" rows="4" [formField]="dataForm.content"></textarea>
    </div>
    <div class="title-input">
        <input type="text" class="form-control" [formField]="dataForm.title">
    </div>
    <div class="input-row">
        <input type="text" class="form-control" [formField]="dataForm.url">
    </div>
    <div class="summary-input">
        <textarea class="form-control" rows="3" [formField]="dataForm.summary"></textarea>
    </div>
    <div class="pic-box">
        @for (item of dataForm.pics; track $index;let i = $index) {
        <div class="img-item">
            <img [src]="item()" i18n-alt alt="Photo">
            <i class="iconfont icon-close" (click)="tapRemoveImage(i)"></i>
        </div>
        }
        
    </div>
    <div class="actions">
        <select class="form-control" [formField]="dataForm.open_type">
            @for (item of typeItems; track $index;let i = $index) {
                <option [value]="i">{{ item }}</option>
            }
        </select>
        <app-action-button class="btn btn-primary" (tapped)="tapSubmit($event)" i18n>Share</app-action-button>
    </div>
</div>