<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>第一级只能添加3个菜单，第二级只能添加五个</li>
        </ul>
    </app-page-tip>
    <div class="row">
        <div class="col-md-5">
            <div class="mobile-container">
                <div class="mobile-header">
                    模拟器
                </div>
                <div class="menu-bar">
                    <ul>
                        @for (item of menuItems; track $index) {
                        <li class="menu-item">
                            <div class="menu-title" (click)="tapEditMenu(item)">
                                {{ item.name }}
                            </div>
                            @if (item.children) {
                            <div class="menu-sub-bar">
                                <ul>
                                    @for (it of item.children; track $index) {
                                    <li class="menu-item" (click)="tapEditMenu(it)">
                                        {{ it.name }}
                                    </li>
                                    }
                                    @if (item.children.length < 5) {
                                    <li class="menu-item" (click)="tapAddMenu(item)">
                                        <i class="iconfont icon-plus"></i>
                                    </li>
                                    }
                                </ul>
                            </div>
                            }
                        </li>
                        }
                        @if (menuItems.length < 3) {
                        <li class="menu-item" (click)="tapAddMenu()">
                            <i class="iconfont icon-plus"></i>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        @if (editData) {
        <div class="col-md-7">
            <div class="panel">
                <div class="panel-header">
                    <span>{{ editData.name || '--' }}</span>
                    <div class="pull-right">
                        <i class="iconfont icon-trash" (click)="tapRemoveItem()"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-table-control">
                        <div class="input-group-control">
                            <label for="">菜单名称</label>
                            <div>
                                <input type="text" class="form-control" [(ngModel)]="editData.name">
                                <div class="input-tip">字数不超过八个汉字</div>
                            </div>
                        </div>
                        <app-bot-message-editor [source]="1" [(value)]="editorData" (valueChange)="onEditorChange()" other="父菜单" />
                    </div>
                </div>
            </div>
        </div>
        }
        <div class="col-md-12 align-center">
            <div class="btn-group">
                <app-action-button class="btn btn-primary" (tapped)="tapSubmit($event)">保存</app-action-button>
                <app-action-button class="btn btn-success" (tapped)="tapAsync($event)">发布</app-action-button>
                <a class="btn btn-danger" (click)="tapClear()">清空</a>
            </div>
        </div>
    </div>
</div>