<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>管理联动项列表</li>
            <li>
                当前路径：
                <ng-container *ngFor="let item of path">
                  {{ item.name }} 、
                </ng-container>
            </li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="zre-input-group">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <div class="btn btn-info" routerLink="../">返回联动菜单</div>
                    <a class="btn btn-success" (click)="open(modal)">新增联动项</a>
                </div>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-info btn-xs" (click)="tapParent(item)">下一级</a>
                            <a class="btn btn-light btn-xs" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
  
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
</div>
<app-dialog-box #modal [title]="editData.id > 0 ? '编辑联动项' : '新增联动项'">
    <div class="form-group">
        <label for="name">名称</label>
        <input type="text" class="form-control" [(ngModel)]="editData.name" id="name" placeholder="请输入名称">
    </div>
    <div class="form-group">
        <label for="thumb">缩略图</label>
        <div>
            <app-file-input [(ngModel)]="editData.thumb"></app-file-input>
        </div>
    </div>
    <div class="form-group">
        <label for="description">描述</label>
        <input type="text" class="form-control" [(ngModel)]="editData.description" id="description" placeholder="请输入描述">
    </div>
    <div class="form-group">
        <label for="position">排序</label>
        <input type="number" class="form-control" [(ngModel)]="editData.position" id="position" placeholder="请输入排序">
    </div>
</app-dialog-box>