@use '../../../theme/theme';
@use '../../../../bootstrap/variables';
:host {
    --#{theme.$prefix}select-line-height: 2.25rem;
    color: var(--#{theme.$prefix}input-text);
    background-color: var(--#{theme.$prefix}input);
    border-radius: #{variables.$input-border-radius};
    border: 1px solid var(--#{theme.$prefix}input-border);
    padding-left: 0.4375rem;
    min-height: var(--#{theme.$prefix}select-line-height);
    line-height: var(--#{theme.$prefix}select-line-height);
    display: flex;
    flex-direction: row;
    input {
        flex: 1;
        box-sizing: content-box;
        background: none transparent;
        border: 0;
        box-shadow: none;
        outline: none;
        padding: 0;
        cursor: default;
    }
    .selected-container {
        max-width: 70%;
    }
    &.--with-focus {
        border-color: var(--#{theme.$prefix}input-focus-border);
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(var(--#{theme.$prefix}mask-rgb), .075);
    }
}