<div class="words-input">
    <div class="selected-container">
        <ng-container *ngFor="let item of selectedItems">
            <div class="selected-item">
                <span class="item-close" (click)="tapUnselect(item)">&times;</span>
                <div class="item-label" (click)="tapEdit(item)">{{ item }}</div>
            </div>
        </ng-container>
    </div>
    <input #inputBox type="text" [(ngModel)]="keywords" [placeholder]="placeholder" [disabled]="disabled" (keydown)="onKeydown($event)" (blur)="onBlur()">
</div>