<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>管理流水列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="zre-input-group">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="关键字">
                </div>
                <div class="zre-input-group">
                    <label for="type">类型</label>
                    <select class="form-control" name="type" [ngModel]="queries.type" id="type">
                        <option *ngFor="let item of typeItems; let i = index" [value]="i">{{ item }}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="pull-right btn-group">
                    <a class="btn btn-info" (click)="panelOpen = true">高级搜索</a>
                    <a class="btn btn-primary" routerLink="create">新增流水</a>
                    <app-upload-button class="btn btn-info" accept=".csv" (uploading)="tapImport($event)">导入</app-upload-button>
                    <a class="btn btn-success" (click)="tapExport()">导出</a>
                    <a class="btn btn-secondary" (click)="tapBatch(updateModal)">批量编辑</a>
                </div>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>时间</td>
                    <td>账户</td>
                    <td>金额(元)</td>
                    <td>备注</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items" [ngClass]="{danger: item.type != 1}">
                    <td>{{ item.happened_at }}</td>
                    <td>{{ item.account ? item.account.name : '-' }}</td>
                    <td class="money-td">
                        <div *ngIf="item.type != 1" class="btn btn-danger btn-xs">
                            {{ item.type | logType }}
                        </div>
                        {{ item.money }}</td>
                    <td>{{ item.remark }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-info btn-xs" (click)="tapPreview(previewModal, item)">预览</a>
                            <a class="btn btn-primary btn-xs">克隆</a>
                            <a class="btn btn-success btn-xs" *ngIf="item.type == 2 || item.type == 3">还款</a>
                            <a class="btn btn-info btn-xs" *ngIf="item.type == 2">坏账</a>
                            <a class="btn btn-light btn-xs" [routerLink]="['edit', item.id]">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
</div>


<div class="dialog-panel" [@panelOpen]="panelOpen ? 'open' : 'closed'">
    <div class="panel-header">
        <i class="iconfont icon-close" (click)="panelOpen = false"></i>
    </div>
    <form class="panel-body" (ngSubmit)="tapSearch(advancedForm.value)" #advancedForm="ngForm">
        <div class="form-group">
            <label for="type1">类型</label>
            <div class="zre-input-group">
                <select class="form-control" name="type" [ngModel]="queries.type" id="type1">
                    <option *ngFor="let item of typeItems; let i = index" [value]="i">{{ item }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="account">账户</label>
            <div class="zre-input-group">
                <select class="form-control" name="account" [ngModel]="queries.account" id="account">
                    <option [value]="0">请选择</option>
                    <option *ngFor="let item of accountItems" [value]="item.id" >{{ item.name }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="project">项目</label>
            <div class="zre-input-group">
                <select class="form-control" id="project" [ngModel]="queries.project" name="project">
                    <option [value]="0">请选择</option>
                    <option *ngFor="let item of projectItems;" [value]="item.id">{{ item.name }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="channel">渠道</label>
            <div class="zre-input-group">
                <select class="form-control" id="channel" [ngModel]="queries.channel" name="channel">
                    <option [value]="0">请选择</option>
                    <option *ngFor="let item of channelItems;" [value]="item.id" >{{ item.name }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="budget">预算</label>
            <div class="zre-input-group">
                <select class="form-control" id="budget" [ngModel]="queries.budget" name="budget">
                    <option [value]="0">请选择</option>
                    <option *ngFor="let item of budgetItems;" [value]="item.id" >{{ item.name }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="start_at">开始时间</label>
            <div class="zre-input-group">
                <app-date-input id="start_at" [ngModel]="queries.start_at" name="start_at"></app-date-input>
            </div>
        </div>
        <div class="form-group">
            <label for="end_at">结束时间</label>
            <div class="zre-input-group">
                <app-date-input id="end_at" [ngModel]="queries.end_at" name="end_at"></app-date-input>
            </div>
        </div>
        <div class="form-group">
            <label for="keywords2">关键字</label>
            <div class="zre-input-group">
                <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords2" placeholder="关键字">
            </div>
        </div>
        
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">搜索</button>
            <button type="reset" class="btn btn-danger">重置</button>
        </div>
    </form>
</div>


<app-dialog-box #updateModal title="批量编辑">
    <div class="form-group">
        <label for="keywords3">根据关键词搜索备注，符合条件的进行修改数据</label>
        <div class="zre-input-group">
            <input class="form-control" id="keywords3" [(ngModel)]="editData.keywords" placeholder="请输入关键词" (ngModelChange)="onEditKeywords()">
        </div>
    </div>

    <p>影响 {{ editData.count }} 条数据，未选择的将不会进行修改</p>
    <div class="form-group">
        <label for="account">账户</label>
        <div class="zre-input-group">
            <select class="form-control" id="account" [(ngModel)]="editData.account_id">
                <option [value]="0">请选择</option>
                <option *ngFor="let item of accountItems;" [value]="item.id">{{ item.name }}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="project">项目</label>
        <div class="zre-input-group">
            <select class="form-control" id="project" [(ngModel)]="editData.project_id">
                <option [value]="0">请选择</option>
                <option *ngFor="let item of projectItems;" [value]="item.id">{{ item.name }}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="channel">渠道</label>
        <div class="zre-input-group">
            <select class="form-control" id="channel" [(ngModel)]="editData.channel_id">
                <option [value]="0">请选择</option>
                <option *ngFor="let item of channelItems;" [value]="item.id">{{ item.name }}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="budget">预算</label>
        <div class="zre-input-group">
            <select class="form-control" id="budget" [(ngModel)]="editData.budget_id">
                <option [value]="0">请选择</option>
                <option *ngFor="let item of budgetItems;" [value]="item.id">{{ item.name }}</option>
            </select>
        </div>
    </div>
</app-dialog-box>

<app-dialog-box #previewModal [title]="'预览:' + previewData.id" [footerVisible]="false">
    <div class="line-row-item">
        <span class="item-label">类型：</span>
        <span class="item-body">{{ previewData.type | logType }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">金额：</span>
        <span class="item-body">{{ previewData.money }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">冻结金额：</span>
        <span class="item-body">{{ previewData.frozen_money }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">账户：</span>
        <span class="item-body">{{ formatAccount(previewData.account_id) }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">项目：</span>
        <span class="item-body">{{ formatProject(previewData.project_id) }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">渠道：</span>
        <span class="item-body">{{ formatChannel(previewData.channel_id) }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">预算：</span>
        <span class="item-body">{{ formatBudget(previewData.budget_id) }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">交易对象：</span>
        <span class="item-body">{{ previewData.trading_object }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">发生时间：</span>
        <span class="item-body">{{ previewData.happened_at }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">备注：</span>
        <span class="item-body">{{ previewData.remark }}</span>
    </div>
</app-dialog-box>