<div class="container-fluid tablet-collapse">
    <app-page-tip>
        <ul>
            <li>管理流水列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [formField]="queries.keywords" placeholder="关键字">
                </div>
                <div class="input-group-control">
                    <label for="type">类型</label>
                    <select class="form-control" [formField]="queries.type" id="type">
                        @for (item of typeItems; track $index; let i = $index) {
                        <option [value]="i">{{ item }}</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="pull-right btn-group">
                    <a class="btn btn-info" (click)="panelVisible.set(true)">高级搜索</a>
                    <a class="btn btn-primary" routerLink="create">新增流水</a>
                    <a class="btn btn-info" (click)="tapImport()">导入</a>
                    <a class="btn btn-success" (click)="tapExport()">导出</a>
                    <a class="btn btn-secondary" (click)="tapBatch(updateModal)">批量编辑</a>
                </div>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>时间</td>
                    <td>账户</td>
                    <td>金额(元)</td>
                    <td>备注</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr [class]="{danger: item.type != 1}">
                    <td>{{ item.happened_at }}</td>
                    <td>{{ item.account ? item.account.name : '-' }}</td>
                    <td class="money-td">
                        @if (item.type != 1) {
                            <div class="tool-flex-group">
                                <span class="tool-tag btn-danger">
                                    {{ item.type | logType }}
                                </span>
                            
                                {{ item.money }}
                            </div>
                        } @else {
                            {{ item.money }}
                        }
                    </td>
                    <td>{{ item.remark }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-info" (click)="tapPreview(previewModal, item)">预览</a>
                            <a class="btn btn-primary" [routerLink]="['clone', item.id]">克隆</a>
                            @if (item.type == 2 || item.type == 3) {
                                <a class="btn btn-success" [routerLink]="['repay', item.id]">还款</a>
                            }
                            @if (item.type == 2) {
                                <a class="btn btn-info" [routerLink]="['bad', item.id]">坏账</a>
                            }
                            <a class="btn btn-light" [routerLink]="['edit', item.id]">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [formField]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
    </div>
</div>

<div class="tablet-visible">
    <div class="tablet-large-header">
        <div class="route-bar">
            <a class="route-icon" (click)="tapBack()">
                <i class="iconfont icon-chevron-left"></i>
            </a>
            <span class="route-title"></span>
            <a class="route-icon" routerLink="create">
                <i class="iconfont icon-plus"></i>
            </a>
            <a class="route-icon" (click)="menuVisible.set(true)">
                <i class="iconfont icon-ellipsis-v"></i>
            </a>
        </div>
        <div class="tablet-search-header --with-only-search">
            <div class="search-entry" (click)="panelVisible.set(true)">
                <i class="iconfont icon-search"></i>
                <span>{{ queryPlaceholder() }}</span>
            </div>
        </div>
    </div>

    <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
    <app-swipe-list-control appInfiniteScroll [offset]="20" [disabled]="!hasMore()" (scrollEnd)="tapMore()">
        @for (group of groupItems(); track $index) {
            <div class="group-header-bar">
                <div class="item-title">{{ group.name }}</div>
                <div class="item-meta">支 {{ group.expenditure | numberFormat}} 收 {{ group.income | numberFormat }}</div>
            </div>
            @for (item of group.items; track $index) {
                <app-swipe-control>
                    <div class="line-row-item --with-icon">
                        <div class="item-icon">
                            {{ formatType(item.type) }}
                        </div>
                        <div class="item-body">
                            <div class="item-title">{{ item.remark || item.account?.name || '-' }}</div>
                            <div class="item-meta">{{ item.happened_at | timestamp: 'hh:ii' }}</div>
                        </div>
                        <div class="item-count" [class]="{'--with-danger': item.type != 1}">{{ item.money | numberFormat }}</div>
                    </div>
                    <ng-container name="left">
                        @if (item.type == 2 || item.type == 3) {
                            <a class="btn-success">还款</a>
                        }
                        @if (item.type == 2) {
                            <a class="btn-info">坏账</a>
                        }
                        <a class="btn-light" [routerLink]="['edit', item.id]">编辑</a>
                        <a class="btn-primary">克隆</a>
                    </ng-container>
                    <ng-container name="right">
                        <a class="btn-danger" (click)="tapRemove(item)">
                            <i class="iconfont icon-trash"></i>
                        </a>
                    </ng-container>
                </app-swipe-control>
            }
        }
    </app-swipe-list-control>
</div>

@if (panelVisible()) {
<div class="dialog-mask --with-pane tablet-visible" (click)="panelVisible.set(false)"></div>
<div class="dialog-panel" animate.enter="panel-opened" animate.leave="panel-closed">
    <div class="panel-header">
        <i class="iconfont icon-close" (click)="panelVisible.set(false)"></i>
    </div>
    <form class="panel-body" (submit)="tapSearch($event)">
        <div class="form-group">
            <label for="type1">类型</label>
            <div class="input-group-control">
                <select class="form-control" [formField]="queries.type" id="type1">
                    @for (item of typeItems; track $index; let i = $index) {
                        <option [value]="i">{{ item }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="account">账户</label>
            <div class="input-group-control">
                <select class="form-control" [formField]="queries.account" id="account">
                    <option value="0">请选择</option>
                    @for (item of accountItems(); track $index) {
                        <option [value]="item.id" >{{ item.name }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="project">项目</label>
            <div class="input-group-control">
                <select class="form-control" id="project" [formField]="queries.project">
                    <option value="0">请选择</option>
                    @for (item of projectItems(); track $index) {
                        <option [value]="item.id">{{ item.name }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="channel">渠道</label>
            <div class="input-group-control">
                <select class="form-control" id="channel" [formField]="queries.channel">
                    <option value="0">请选择</option>
                    @for (item of channelItems(); track $index) {
                        <option [value]="item.id" >{{ item.name }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="budget">预算</label>
            <div class="input-group-control">
                <select class="form-control" id="budget" [formField]="queries.budget">
                    <option value="0">请选择</option>
                    @for (item of budgetItems(); track $index) {
                        <option [value]="item.id" >{{ item.name }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="start_at">开始时间</label>
            <div class="input-group-control">
                <app-date-input id="start_at" [formField]="queries.start_at" />
            </div>
        </div>
        <div class="form-group">
            <label for="end_at">结束时间</label>
            <div class="input-group-control">
                <app-date-input id="end_at" [formField]="queries.end_at"/>
            </div>
        </div>
        <div class="form-group">
            <label for="keywords2">关键字</label>
            <div class="input-group-control">
                <input type="text" class="form-control" id="keywords" [formField]="queries.keywords" id="keywords2" placeholder="关键字">
            </div>
        </div>
        
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">搜索</button>
            <button type="reset" class="btn btn-danger">重置</button>
        </div>
    </form>
</div>
}


<app-dialog-box #updateModal title="批处理">
    <div class="form-group">
        <label for="keywords3">根据关键词搜索备注，符合条件的进行修改数据</label>
        <div class="input-group-control">
            <input class="form-control" id="keywords3" [formField]="editForm.keywords" placeholder="请输入关键词">
        </div>
    </div>

    <p>影响 {{ editForm.count().value() }} 条数据，未选择的将不会进行修改</p>

    <app-check-input class="tab-bar" [source]="operateItems" [formField]="editForm.operator"/>

    @if (editForm.operator().value() < 1) {
    <div class="form-group">
        <label for="account">账户</label>
        <div class="input-group-control">
            <select class="form-control" id="account" [formField]="editForm.account_id">
                <option value="0">请选择</option>
                @for (item of accountItems(); track $index) {
                    <option [value]="item.id">{{ item.name }}</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="project">项目</label>
        <div class="input-group-control">
            <select class="form-control" id="project" [formField]="editForm.project_id">
                <option value="0">请选择</option>
                @for (item of projectItems(); track $index) {
                    <option [value]="item.id">{{ item.name }}</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="channel">渠道</label>
        <div class="input-group-control">
            <select class="form-control" id="channel" [formField]="editForm.channel_id">
                <option value="0">请选择</option>
                @for (item of channelItems(); track $index) {
                    <option [value]="item.id">{{ item.name }}</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="budget">预算</label>
        <div class="input-group-control">
            <select class="form-control" id="budget" [formField]="editForm.budget_id">
                <option value="0">请选择</option>
                @for (item of budgetItems(); track $index) {
                    <option [value]="item.id">{{ item.name }}</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="trading_object">交易对象</label>
        <div class="input-group-control">
            <input type="text" id="trading_object" class="form-control" [formField]="editForm.trading_object">
        </div>
    </div>
    }
</app-dialog-box>

<app-dialog-box #previewModal [title]="'预览:' + previewModel()?.id" [footerVisible]="false">
    @if (previewModel()) {
    <div class="line-row-item">
        <span class="item-label">类型：</span>
        <span class="item-body">{{ previewModel().type | logType }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">金额：</span>
        <span class="item-body">{{ previewModel().money }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">冻结金额：</span>
        <span class="item-body">{{ previewModel().frozen_money }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">账户：</span>
        <span class="item-body">{{ formatAccount(previewModel().account_id) }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">项目：</span>
        <span class="item-body">{{ formatProject(previewModel().project_id) }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">渠道：</span>
        <span class="item-body">{{ formatChannel(previewModel().channel_id) }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">预算：</span>
        <span class="item-body">{{ formatBudget(previewModel().budget_id) }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">交易对象：</span>
        <span class="item-body">{{ previewModel().trading_object }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">发生时间：</span>
        <span class="item-body">{{ previewModel().happened_at }}</span>
    </div>
    <div class="line-row-item">
        <span class="item-label">备注：</span>
        <span class="item-body">{{ previewModel().remark }}</span>
    </div>
    }
</app-dialog-box>

<app-progress-dialog/>
<app-upload-dialog accept=".csv,.xlsx,.zip" [multiple]="true"/>

@if (menuVisible()) {
    <div class="tablet-mask" animate.enter="dialog-mask-opened" (click)="menuVisible.set(false)"></div>
    <div class="tablet-menu-panel" animate.enter="dialog-opened" animate.leave="dialog-closed">
        <div class="menu-row">
            <a class="menu-block-item" routerLink="create">
                <i class="iconfont icon-plus item-icon"></i>
                <span>新增</span>
            </a>
            <a class="menu-block-item" (click)="tapImport()">
                <i class="iconfont icon-upload item-icon"></i>
                <span>导入</span>
            </a>
            <a class="menu-block-item" (click)="tapExport()">
                <i class="iconfont icon-download item-icon"></i>
                <span>导出</span>
            </a>
            <a class="menu-block-item" (click)="tapBatch(updateModal)">
                <i class="iconfont icon-task item-icon"></i>
                <span>批量编辑</span>
            </a>
        </div>
        <a class="menu-item --with-divider" (click)="menuVisible.set(false)" i18n>Cancel</a>
    </div>
}