@use '../../../theme/theme';
.resize-money {
    text-align: right;
    .btn {
        float: left;
    }
}

.resize-text {
    max-width: 10rem;
    white-space: wrap;
}

.file-input {
    .form-control {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        display: inline-block;
        width: auto;
    }
    input[type='file'] {
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .btn {
        vertical-align: top;
        border-radius: 0;
    }
}

.group-header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 3rem;
    padding: 0 .8rem;
    background-color: var(--#{theme.$prefix}panel);
    .item-meta {
        color: var(--#{theme.$prefix}meta-text);
        font-size: .8rem;
    }
}

@media (min-width: 60rem) {
    .resize-text {
        max-width: 20rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media (min-width: 71.25rem) {
    .resize-time {
        width: 12.5rem;
    }
    .resize-account {
        width: 7.5rem;
    }
    .resize-money {
        width: 12.5rem;
    }
    .resize-text {
        max-width: 50%;
        white-space: wrap;
    }
    .resize-action {
        min-width: 16rem;
    }
}
