@use '../../../theme/theme';
.money-td {
    text-align: right;
    .btn {
        float: left;
    }
}

.file-input {
    .form-control {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        display: inline-block;
        width: auto;
    }
    input[type='file'] {
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .btn {
        vertical-align: top;
        border-radius: 0;
    }
}

.group-header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 3rem;
    padding: 0 .8rem;
    background-color: var(--#{theme.$prefix}panel);
    .item-meta {
        color: var(--#{theme.$prefix}meta-text);
        font-size: .8rem;
    }
}
