<app-edit-header [title]="data && data.id > 0 ? '编辑免费试用' : '新增免费试用'" (submited)="tapSubmit()"
    [disabled]="form.invalid">
</app-edit-header>
<div class="container-fluid">
    <form class="form-table panel-container" [formGroup]="form" (ngSubmit)="tapSubmit()">
        <div class="zre-input-group">
            <label for="name">名称</label>
            <div>
                <input type="text" id="name" class="form-control" formControlName="name" >

            </div>
        </div>
        <div class="zre-input-group">
            <label for="thumb">图片</label>
            <div>
                <app-file-input formControlName="thumb"></app-file-input>
            </div>
        </div>
        <div class="zre-input-group">
            <label for="description">说明</label>
            <div>
                <textarea id="description" class="form-control" formControlName="description"></textarea>

            </div>
        </div>
        <div class="zre-input-group">
            <label for="scope">商品</label>
            <div>
                <app-select-input url="shop/admin/goods/search" formControlName="scope"></app-select-input>
            </div>
        </div>
        <div class="zre-input-group" formGroupName="configure">
            <label for="configure_amount">试用数量</label>
            <div>
                <input type="text" id="configure_amount" class="form-control" formControlName="amount"
                    placeholder="请输入 试用数量" >

            </div>
        </div>
        <div class="zre-input-group">
            <label for="start_at">起止时间</label>
            <div>
                <app-date-input formControlName="start_at" placeholder="请输入开始时间"></app-date-input>
                ~
                <app-date-input formControlName="end_at" placeholder="请输入结束时间"></app-date-input>
            </div>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-success">确认保存</button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>