<div *ngIf="step < 1">
    <h2 class="banner-text">请选择职业</h2>
    <div class="option-grouo">
        <a class="option-item" (click)="step = 1">战士</a>
        <a class="option-item" (click)="step = 1">法师</a>
        <a class="option-item" (click)="step = 1">骑士</a>
    </div>
</div>
<div *ngIf="step == 1">
    <h2 class="banner-text">请选择角色性别</h2>
    <div class="option-grouo">
        <a class="option-item" (click)="step = 1">男</a>
        <a class="option-item" (click)="step = 1">女</a>
    </div>
</div>