<div class="router-bar">
    <div class="tool-item" (click)="tapBack()">
        <i class="iconfont icon-arrow-left"></i>
    </div>
    <div class="title-bar">
        角色面板
    </div>
</div>

<div class="group-box">
    <div class="group-header">
        【资料】
    </div>
    @if (data) {
    <div class="group-body">
        <p>{{ data.nickname }}</p>
        @if (data.can_upgrade) {
        <p>等级: 57级(100/10000) <a (clik)="tapUpgrade()">升级</a></p>
        }
        <p>攻击: 77</p>
        <p>攻击: 77</p>
        <p>攻击: 77</p>
        <p>攻击: 77</p>
        <p>攻击: 77</p>
        <p>攻击: 77</p>
    </div>
    }
</div>

<div class="group-box">
    <div class="group-header">
        【装备】
    </div>
    <div class="group-body">
        @for (item of equipItems; track $index) {
        <div class="equipment-item">
            <div class="item-icon">[{{ item.type }}]</div>
            <div class="item-body">
                @if (item.item) {
                    {{ item.item.name }}
                } @else {
                    空
                }
                
            </div>
            <div class="item-action">
                <a href="">更换</a>
            </div>
        </div>
        }
    </div>
</div>