<div class="router-bar">
    <div class="tool-item" (click)="tapBack()">
        <i class="iconfont icon-arrow-left"></i>
    </div>
    <div class="title-bar">
        角色面板
    </div>
</div>

<div class="group-box">
    <div class="group-header">
        【资料】
    </div>
    <div class="group-body" *ngIf="data">
        <p>{{ data.nickname }}</p>
        <p>等级: 57级(100/10000) <a *ngIf="data.can_upgrade" (clik)="tapUpgrade()">升级</a></p>
        <p>攻击: 77</p>
        <p>攻击: 77</p>
        <p>攻击: 77</p>
        <p>攻击: 77</p>
        <p>攻击: 77</p>
        <p>攻击: 77</p>
    </div>
</div>

<div class="group-box">
    <div class="group-header">
        【装备】
    </div>
    <div class="group-body">
        <div class="equipment-item" *ngFor="let item of equipItems">
            <div class="item-icon">[{{ item.type }}]</div>
            <div class="item-body">
                <ng-container *ngIf="item.item; else elseTemplate">
                    {{ item.item.name }}
                </ng-container>
                <ng-template #elseTemplate>
                    空
                </ng-template>
                
            </div>
            <div class="item-action">
                <a href="">更换</a>
            </div>
        </div>
    </div>
</div>