@use '../../../../bootstrap/desktop/scrollbar';
@use '../../../theme/theme';
$size: 2.5rem;
$boxWidth: $size * 8;

:host {
    position: relative;
    .emoji-picker_container {
        width: $boxWidth;
        position: absolute;
        z-index: 999;
        user-select: none;
        background-color: var(--#{theme.$prefix}panel);
        color: var(--#{theme.$prefix}body-text);
        box-shadow: 0 0 1px rgba(var(--#{theme.$prefix}mask-rgb), .1), 0 1px 3px rgba(var(--#{theme.$prefix}mask-rgb), .2);
        text-align: left;
    }
    .picker-header {
        padding: 0.3125rem 0.9375rem;
        font-size: 0.875rem;
        .iconfont {
            position: absolute;
            top: 0.3125rem;
            right: 0.9375rem;
            width: 0.875rem;
            height: 0.875rem;
            color: var(--#{theme.$prefix}meta-text);
            cursor: pointer;
        }
    }
    .picker-body {
        @include scrollbar.scrollbar();
        padding: 0 0.9375rem;
        overflow-y: auto;
        height: 12.5rem;
        text-align: left;
        .item-image,
        .item-text {
            display: inline-block;
            width: $size;
            height: $size;
            padding: 0.3125rem;
            line-height: $size;
            box-sizing: content-box;
            &:hover {
                background-color: var(--#{theme.$prefix}input-selected);
            }
        }
        .item-text {
            display: inline-block;
            width: $size * 2;
        }
        .item-image {
            img {
                width: 100%;
            }
        }
    }
    .nav-bar {
        @include scrollbar.scrollbar();
        background-color: var(--#{theme.$prefix}body);
        overflow-x: auto;
        white-space: nowrap;
        .item {
            padding: 0.375rem 0.9375rem;
            min-width: $size;
            display: inline-block;
            &.active {
                background-color: var(--#{theme.$prefix}input-selected);
            }
        }
    }
}
