@use '../../theme/theme';
@use '../../../bootstrap/mixins';

$size: 2.5rem;
$boxWidth: $size * 7;

.checkin-picker {
    position: relative;
    .checkin-picker_container {
        width: $boxWidth;
        position: absolute;
        z-index: 999;
        user-select: none;
        background-color: var(--#{theme.$prefix}panel);
        color: var(--#{theme.$prefix}body-text);
        @include mixins.box-shadow(var(--#{theme.$prefix}box-shadow));
        text-align: left;
    }
    .picker-header {
        padding: 0.3125rem 0.9375rem;
        font-size: 0.875rem;
        color: var(--#{theme.$prefix}body-text);
        line-height: 1.875rem;
        .iconfont {
            color: var(--#{theme.$prefix}border);
        }
        .title {
            margin: 0 0.625rem;
        }
    }
    .picker-footer {
        display: block;
        text-align: center;
        line-height: 3rem;
        color: var(--#{theme.$prefix}meta-text);
        background-color: var(--#{theme.$prefix}body);
        cursor: pointer;
    }
    ol {
        background: var(--#{theme.$prefix}body);
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        width: $size;
        line-height: $size;
        text-align: center;
        box-sizing: border-box;
        list-style: none;
        color: var(--#{theme.$prefix}body-text);
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            cursor: pointer;
            &.active {
                background: var(--#{theme.$prefix}primary);
                color: var(--#{theme.$prefix}primary-text);
                border-radius: 50%;
                &:before {
                    font-family: "iconfont";
                    font-weight: 900;
                    content: "\e648";
                    color: rgba(var(--#{theme.$prefix}primary-text-rgb), .3);
                    font-size: 1.875rem;
                    position: absolute;
                }
            }
            &.disabled {
                color: var(--#{theme.$prefix}input-disabled);
            }
        }
    }
}
