.line-item {
    padding: 5px 0;
    .label {
        color: #777;
        padding: 0 10px;
    }
    .value {
        display: inline-block;
    }
    img {
        width: 80px;
        height: 80px;
    }
}