<div class="control-popup-target">
    <div class="color-icon" (click)="visible = !visible">
        <i class="iconfont icon-edit"></i>
    </div>
</div>
<div class="control-popup" [hidden]="!visible">
    <div class="control-inline-group">
        <label for="">Background Color</label>
        <app-editor-color-popup></app-editor-color-popup>
    </div>
    <div class="control-line-group">
        <label for="">Background Image</label>
        <label class="drag-control-container" [for]="fileName">
            拖放文件
            <p>(或点击)</p>
            <input type="file" [id]="fileName" (change)="uploadFile($event)">
        </label>
    </div>
</div>
