<div class="container-fluid">
  <app-page-tip>
    <ul>
        <li>留言列表</li>
    </ul>
  </app-page-tip>
  <table class="table table-bordered well">
      <thead>
        <tr>
          <th>ID</th>
          <th>称呼</th>
          <th>邮箱</th>
          <th>联系方式</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of items">
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}
            </td>
            <td>
              {{ item.phone }}
            </td>
            <td>{{ item.status }}</td>
            <td>
            </td>
          </tr>
          <tr class="tr-child">
            <td colspan="6">
                {{ item.content }}
              </td>
          </tr>
        </ng-container>
      </tbody>
  </table>

  <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="perPage" [directionLinks]="false" (pageChange)="tapPage()"></ngb-pagination>
</div>