.tag-bar {
    margin: .8rem -.4rem;
    .tag-item {
        display: inline-block;
        line-height: 2rem;
        padding: 0 .8rem;
        background-color: white;
        border: 1px solid #fff;
        user-select: none;
        margin: .4rem;
        &:hover {
            background-color: transparent;
        }
    }
}

.filter-box {
    a {
        margin-right: 1.875rem;
        font-size: 0.875rem;
        color: #333;
        word-break: keep-all;
        display: inline-block;
        cursor: pointer;
        &.active {
            color: #b4a078;
        }
        &:hover {
            color: #b4a078;
        }
    }
    .filter-line {
        border-bottom: 1px dashed #dedede;
        line-height: 3.125rem;
        display: flex;
        .filter-header {
            width: 6.25rem;
        }
        .filter-body {
            flex: 1;
        }
    }

}