.tag-bar {
    margin: .8rem -.4rem;
    .tag-item {
        display: inline-block;
        line-height: 2rem;
        padding: 0 .8rem;
        background-color: white;
        border: 1px solid #fff;
        user-select: none;
        margin: .4rem;
        &:hover {
            background-color: transparent;
        }
    }
}
