@if (visible()) {
<div class="dialog-mask" (click)="close()"></div>
<div class="dialog-box" animate.enter="dialog-opened" animate.leave="dialog-closed">
    <i class="iconfont icon-close" (click)="close()"></i>
    <div class="feedback-box">
        <div class="line-item">
            <ng-container i18n>Report content:</ng-container>
            <span class="form-control">{{ data()?.link }}</span>
        </div>
        <div class="line-header">
            <em>*</em><ng-container i18n>Report type:</ng-container>
        </div>
        <div class="tab-bar">
            @for (item of typeItems; track $index; let i=$index) {
                <div class="item" [class]="{active: typeIndex() == i}" (click)="typeIndex.set(i)" [title]="item.label">{{ item.label }}</div>
            }
        </div>
        <div class="row form-group">
            @for (item of typeOptionItems(); track $index) {
            <div class="col-6">
                <div class="check-input" (click)="item.checked = !item.checked">
                    <i class="iconfont" [class]="{'icon-check-square-o': item.checked, 'icon-square-o': !item.checked}"></i>
                    {{ item.name }}
                </div>
            </div>
            }
        </div>
        <div class="line-header">
            <em>*</em><ng-container i18n>Problem Description:</ng-container>
        </div>
        <div class="edit-body">
            <textarea class="form-control" [field]="dataForm.content"></textarea>
            <span class="edit-tip" i18n>{{ wordSize() }} words</span>
        </div>
        <div class="line-header">
            <em>*</em><ng-container i18n>Contact information:</ng-container>
        </div>
        <div>
            <input type="text" class="form-control" [field]="dataForm.email">
        </div>
        <div class="line-footer">
            <div class="btn-group">
                <div class="btn btn-secondary" (click)="close()" i18n>Cancel</div>
                <app-action-button class="btn btn-primary" (tapped)="tapSubmit($event)" i18n>Submit</app-action-button>
            </div>
        </div>
        
    </div>
</div>
}
