@use '../../../theme/theme';
.dialog-box {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin-left: 0;
    margin-top: 0;
    .icon-close {
        position: absolute;
        font-size: 1.875rem;
        right: 0;
        top: 0;
        color: var(--#{theme.$prefix}meta-text);
    }
}
.feedback-box {
    padding: .8rem .8rem 0;
    .line-item {
        line-height: 2.5rem;
        .form-control {
            width: auto;
            padding: 0.375rem 0;
            display: inline-block;
            word-break: break-all;
        }
    }
    .line-header {
        line-height: 2.5rem;
        em {
            color: var(--#{theme.$prefix}danger);
            font-style: normal;
            padding-right: .4rem;
        }
    }
    .line-footer {
        margin-top: .4rem;
        text-align: right;
    }
}
.tab-bar {
    --#{theme.$prefix}tab: var(--#{theme.$prefix}input);
    font-size: .8rem;
    .item {
        padding: 0 .4rem;
        max-width: 10rem;
        min-width: 4rem;
        text-align: center;
        overflow-y: hidden;
        height: 2.5rem;
    }
}
.edit-body {
    position: relative;
    textarea {
        font-size: 0.875rem;
        border: 1px solid var(--#{theme.$prefix}input-border);
        outline: 0;
        display: block;
        padding: 0.75rem 1.875rem 0.75rem 0.75rem;
        height: 6.25rem;
        resize: none;
    }
    .edit-tip {
        color: var(--#{theme.$prefix}input-placeholder);
        position: absolute;
        right: 0.3125rem;
        bottom: 0.3125rem;
    }
}


@media (min-width: 48rem){
    .dialog-box {
        width: 30rem;
        height: auto;
        left: 50%;
        top: 50%;
        margin-left: -15rem;
        margin-top: -16rem;
    }
}