<div class="tablet-large-header tablet-visible">
    <div class="route-bar">
        <a class="route-icon" (click)="tapBack()">
            <i class="iconfont icon-chevron-left"></i>
        </a>
        <span class="route-title">
            @if (crumbs.length > 0) {
                {{ crumbs[crumbs.length - 1].name }}
            } @else {
                Settings
            }
        </span>
    </div>
</div>

@if (crumbs.length > 0) {
<div class="route-bar tablet-collapse">
    <div class="route-back-icon" (click)="tapBack()">
        <i class="iconfont icon-arrow-left"></i>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @for (item of crumbs; track $index) {
                <li class="breadcrumb-item"><a (click)="tapTab(item)">{{ item.name }}</a></li>
            }
        </ol>
    </nav>
</div>
}


<div class="container" [hidden]="tabIndex > 0">
    @for (item of tabItems; track $index) {
    <div class="input-item" (click)="tapTab(item)">
        <div class="item-icon">
            <i class="iconfont" [class]="'icon-' + item.icon"></i>
        </div>
        <div class="item-body">
            <div class="item-name">{{ item.name }}</div>
            <div class="item-meta">{{ item.meta }}</div>
        </div>
        <div class="item-action">
            <i class="iconfont icon-chevron-right"></i>
        </div>
    </div>
    }
    
</div>

<div class="container" [hidden]="tabIndex != 1">
    <div class="input-item">
        <div class="item-icon">
            <i class="iconfont icon-bookmark"></i>
        </div>
        <div class="item-body">
            <div class="item-name" i18n>Notification of new news</div>
        </div>
        <div class="item-action">
            <app-switch i18n-onLabel i18n-offLabel onLabel="On" offLabel="Off" [formField]="dataForm.accept_new_bulletin" 
            (valueChange)="onValueChange()" />
        </div>
    </div>
    <div class="input-item">
        <div class="item-icon">
            <i class="iconfont icon-wifi"></i>
        </div>
        <div class="item-body">
            <div class="item-name" i18n>Do-not-disturb mode</div>
        </div>
        <div class="item-action">
            <app-switch i18n-onLabel i18n-offLabel onLabel="On" offLabel="Off" [formField]="dataForm.open_not_disturb" 
            (valueChange)="onValueChange()" />
        </div>
    </div>
</div>

<div class="container" [hidden]="tabIndex != 2">
    <div class="input-item">
        <div class="item-icon">
            <i class="iconfont icon-chain-broken"></i>
        </div>
        <div class="item-body">
            <div class="item-name" i18n>Dynamic Timing</div>
            <div class="item-meta" i18n>Automatically hide dynamics after time</div>
        </div>
        <div class="item-action">
            <input type="number" class="form-control" [formField]="dataForm.post_expiration" (valueChange)="onValueChange()">
            <ng-container i18n> Days</ng-container>
            
        </div>
    </div>
    <div class="input-item">
        <div class="item-icon">
            <i class="iconfont icon-bookmark"></i>
        </div>
        <div class="item-body">
            <div class="item-name" i18n>Upload watermark</div>
        </div>
        <div class="item-action">
            <app-switch i18n-onLabel i18n-offLabel onLabel="On" offLabel="Off" 
            [formField]="dataForm.upload_add_water" (valueChange)="onValueChange()" />
        </div>
    </div>
</div>

<div class="container" [hidden]="tabIndex != 3">
    <a class="input-item" routerLink="../profile">
        <div class="item-icon">
            <i class="iconfont icon-edit"></i>
        </div>
        <div class="item-body">
            <div class="item-name" i18n>Edit Profile</div>
        </div>
        <div class="item-action">
            <i class="iconfont icon-chevron-right"></i>
        </div>
    </a>
    <a class="input-item" routerLink="../password">
        <div class="item-icon">
            <i class="iconfont icon-key"></i>
        </div>
        <div class="item-body">
            <div class="item-name" i18n>Change password</div>
        </div>
        <div class="item-action">
            <i class="iconfont icon-chevron-right"></i>
        </div>
    </a>
    <a class="input-item" routerLink="../authorize">
        <div class="item-icon">
            <i class="iconfont icon-APP"></i>
        </div>
        <div class="item-body">
            <div class="item-name" i18n>Authorization Management</div>
        </div>
        <div class="item-action">
            <i class="iconfont icon-chevron-right"></i>
        </div>
    </a>
    <a class="input-item" routerLink="../connect">
        <div class="item-icon">
            <i class="iconfont icon-chain"></i>
        </div>
        <div class="item-body">
            <div class="item-name" i18n>Account Linkage</div>
        </div>
        <div class="item-action">
            <i class="iconfont icon-chevron-right"></i>
        </div>
    </a>
    <a class="input-item" routerLink="../driver">
        <div class="item-icon">
            <i class="iconfont icon-mobile"></i>
        </div>
        <div class="item-body">
            <div class="item-name" i18n>Login Device Management</div>
        </div>
        <div class="item-action">
            <i class="iconfont icon-chevron-right"></i>
        </div>
    </a>
    <a class="input-item" routerLink="../cancel">
        <div class="item-icon">
            <i class="iconfont icon-recycle"></i>
        </div>
        <div class="item-body">
            <div class="item-name" i18n>Cancel Account</div>
            <div class="item-meta" i18n>Logging off accounts and clearing account data.</div>
        </div>
        <div class="item-action">
            <i class="iconfont icon-chevron-right"></i>
        </div>
    </a>
</div>