@use '../../../../bootstrap/desktop/scrollbar';
@use '../../../theme/theme';
@use '../../../../bootstrap/variables';
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.message-box {
    --#{theme.$prefix}pane: var(--#{theme.$prefix}surface);
    --#{theme.$prefix}pane-text: var(--#{theme.$prefix}surface-text);
    --#{theme.$prefix}pane-selected: var(--#{theme.$prefix}surface-selected);
    --#{theme.$prefix}pane-selected-text: var(--#{theme.$prefix}surface-selected-text);
    display: flex;
    height: 100vh;
    .message-pane {
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: var(--#{theme.$prefix}pane);
        color: var(--#{theme.$prefix}pane-text);
    }
    .pane-body {
        flex: 1;
        display: block;
        overflow: auto;
        @include scrollbar.scrollbar();
    }
    .menu-item {
        padding: 0.75rem 1.125rem 0.75rem 1rem;
        display: grid;
        grid-template-columns: 5rem 1fr;
        .icon {
            width: 3.1875rem;
            height: 3.1875rem;
            border-radius: 1.5938rem;
            background-color: #ccc;
            font-size: 1.875rem;
            text-align: center;
            line-height: 3.125rem;
        }
        .avatar {
            width: 3.1875rem;
            height: 3.1875rem;
            border-radius: 1.5938rem;
            background-color: #ccc;
            img {
                width: 3.1875rem;
                height: 3.1875rem;
                border-radius: 1.5938rem; 
            }
        }
        .info {
            .name {
                color: var(--#{theme.$prefix}pane-text);
                font-weight: 700;
            }
            p {
                color: var(--#{theme.$prefix}pane-text);
            }
        }
        &:hover {
            background-color: var(--#{theme.$prefix}pane-selected);
        }
        &.active {
            background-color: var(--#{theme.$prefix}pane-selected);
            border-left: 0.25rem solid var(--#{theme.$prefix}primary);
        }
    }
    .message-body {
        flex: 1;
        background-color: white;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        display: none;
        flex-direction: column;
        
    }
    .message-title-bar {
        line-height: 3rem;
        text-align: center;
        display: flex;
        background-color: var(--#{theme.$prefix}primary);
        color: var(--#{theme.$prefix}primary-text);
        .control-body {
            flex: 1;
            text-align: center;
        }
        .route-icon {
            min-width: 2.5rem;
            text-align: center;
            display: inline-block;
            color: var(--#{theme.$prefix}nav-text);
            padding: 0 .4rem;
        }
    }
    .dropdown-box {
        .dropdown-pane {
            display: none;
            position: fixed;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: variables.$zindex-modal;
            background-color: var(--#{theme.$prefix}panel);
            color: var(--#{theme.$prefix}body-text);
            text-align: left;
            
            li {
                cursor: default;
                padding: 0 .8rem;
                line-height: 2.5rem;
                &:hover {
                    background-color: var(--#{theme.$prefix}input-hovered);
                }
            }
        }
        .iconfont {
            display: inline-block;
            width: 2.5rem;
            text-align: center;
            cursor: pointer;
        }
        &.--with-open {
            .dropdown-pane {
                display: block;
            }
        }
    }

    .message-tools {
        font-size: 1.25rem;
        line-height: 1.875rem;
        border-top: 0.0625rem solid white;
        background-color: #f4f4f4;
        .iconfont {
            display: inline-block;
            width: 1.875rem;
            text-align: center;
        }
    }
    .message-editor {
        background-color: #f4f4f4;
        height: 10rem;
        display: flex;
        flex-direction: column;
        textarea {
            width: 100%;
            background-color: transparent;
            border:  none;
            outline: none;
            flex: 1;
            resize: none;
            padding: .4rem;
        }
    }
    .message-action {
        text-align: right;
        .size-tip {
            display: inline-block;
            color: #ccc;
            margin-right: 0.625rem;
        }
        .btn {
            width: 80px;
        }
    }
}
app-message-container {
    background-color: #fafafa;
    height: 0;
}

.--with-flip {
    .message-pane {
        display: none;
    }
    .message-body {
        display: flex;
    }
}

@media (min-width: 48rem) {
    .message-box {
        height: 70vh;
        .message-pane {
            width: 15.625rem;
        }
        .message-body {
            position: relative;
            display: flex;
        }
        .dropdown-box {
            .dropdown-pane {
                position: absolute;
                left: auto;
                bottom: auto;
                width: 10rem;
                z-index: 5;
                box-shadow: rgba(var(--#{theme.$prefix}mask-rgb),.7) 0 0 0.625rem;
                li {
                    padding: 0 .4rem;
                }
            }
        }
        .message-title-bar {
            background-color: transparent;
            color: var(--#{theme.$prefix}body-text);
            .route-icon {
                display: none;
            }
        }
    }
    .--with-flip {
        .message-pane {
            display: flex;
        }
    }
}