<div class="editor-box">
    <div class="editor-template-box">
        <ul class="template-menu">
            @for (item of typeItems; track $index) {
                <li [ngClass]="{active: queries.type == item.value}" (click)="tapType(item.value)">
                    {{ item.name }}
                </li>
            }
        </ul>
        <app-pull-to-refresh class="template-box" [loading]="isLoading" [more]="hasMore" (refreshChange)="tapRefresh()" (moreChange)="tapMore()">
            <ul class="templdate-list">
                @for (item of templateItems; track $index) {
                    <li [title]="item.name" class="rich_media_content" (click)="tapInsert(item)">
                        <div [innerHTML]="item.html">

                        </div>
                    </li>
                }
            </ul>
        </app-pull-to-refresh>
    </div>
    <div class="editor">
        <app-zre-editor [height]="560" [(value)]="value"/>
    </div>
</div>