<div class="dialog-panel" [@panelOpen]="visible ? 'open' : 'closed'">
    <div class="panel-header">
        <i class="iconfont text-left" [ngClass]="{'icon-map-marker': !linkOpen, 'icon-chevron-right': linkOpen}" (click)="toggleLink()"></i>
        <i class="iconfont icon-close" (click)="close()"></i>
    </div>
    <div class="panel-search">
        <input type="text">
        <i class="iconfont icon-search"></i>
    </div>
    <div class="panel-body">
        @for (item of roleItems; track $index; let i = $index) {
        <div class="role-item">
            <span>{{ item.name }}
                @if (item.character) {
                    ({{ item.character }})
                }
            </span>
            <div class="action">
                <i class="iconfont icon-edit" title="编辑" (click)="tapEditRole(roleModal, i)"></i>
                <i class="iconfont icon-gift" title="物品" (click)="openSubPanel(1, i)"></i>
                <i class="iconfont icon-key" title="技能" (click)="openSubPanel(2, i)"></i>
            </div>
        </div>
        @if (subOpen == 1) {
        <div class="panel-sub">
            <div class="panel-header">
                <i class="iconfont icon-chevron-left" (click)="subOpen = 0"></i>
                物品
                <i class="iconfont icon-plus" title="添加物品" (click)="tapEditGoods(goodsModal)"></i>
            </div>
            <div class="panel-body">
                @for (item of goodsItems; track $index; let i = $index) {
                <div class="role-item">
                    <span>{{ item.name }}x{{ item.amount }}</span>
                    <div class="action">
                        <i class="iconfont icon-edit" title="修改" (click)="tapEditGoods(goodsModal, i)"></i>
                        <i class="iconfont icon-trash" title="删除"  (click)="tapRemoveGoods(i)"></i>
                    </div>
                </div>
                }
            </div>
        </div>
        } @else if (subOpen == 2) {
        <div class="panel-sub">
            <div class="panel-header">
                <i class="iconfont icon-chevron-left" (click)="subOpen = 0"></i>
                技能
                <i class="iconfont icon-plus" title="添加技能" (click)="tapEditSkill(skillModal)"></i>
            </div>
            <div class="panel-body">
                @for (item of skillItems; track $index; let i = $index) {
                <div class="role-item">
                    <span>{{ item.name }}
                        @if (item.level) {
                            ({{ item.level }})
                        }
                    </span>
                    <div class="action">
                        <i class="iconfont icon-arrow-up" title="升级" (click)="tapEditSkill(skillModal, i)"></i>
                        <i class="iconfont icon-edit" title="修改" (click)="tapEditSkill(skillModal, i)"></i>
                        <i class="iconfont icon-trash" title="删除" (click)="tapRemoveSkill(i)"></i>
                    </div>
                </div>
                }
            </div>
        </div>
        }
        }
    </div>
</div>

<div class="dialog-link" [hidden]="!linkOpen">
    <app-mind [readonly]="false" [format]="mindFormat" [items]="roleItems" [linkItems]="linkItems" (confirm)="onMindConfirm($event, roleModal)" (update)="onMindUpdate($event)"></app-mind>
</div>

<app-dialog-box #roleModal [scrollable]="false">
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="">角色名</label>
            <div>
                <input type="text" class="form-control" [(ngModel)]="roleData.name">
            </div>
        </div>
        @if (roleData.type != 'link') {
            <div class="input-group-control">
                <label for="">头像</label>
                <div>
                    <app-file-input [(ngModel)]="roleData.avatar"></app-file-input>
                </div>
            </div>
            <div class="input-group-control">
                <label for="">简介</label>
                <div>
                    <textarea type="text" class="form-control" [(ngModel)]="roleData.description"></textarea>
                </div>
            </div>
            <div class="input-group-control">
                <label for="">角色身份</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="roleData.character" placeholder="主角/配角">
                </div>
            </div>
        }
        
        <div class="input-group-control" [hidden]="roleData.type == 'new'">
            <label for="">与“{{ roleData.from }}”的关系</label>
            <div>
                <input type="text" class="form-control" [(ngModel)]="roleData.link">
            </div>
        </div>
    </div>
    </app-dialog-box>
    
    <app-dialog-box #goodsModal [scrollable]="false">
        <div class="form-table-control">
            <div class="input-group-control">
                <label for="">物品</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="goodsData.name">
                </div>
            </div>
            <div class="input-group-control">
                <label for="">物品数量</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="goodsData.amount">
                </div>
            </div>
        </div>
    </app-dialog-box>
    <app-dialog-box #skillModal [scrollable]="false">
        <div class="form-table-control">
            <div class="input-group-control">
                <label for="">技能名</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="skillData.name">
                </div>
            </div>
            <div class="input-group-control">
                <label for="">技能等级</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="skillData.level">
                </div>
            </div>
        </div>
    </app-dialog-box>