<div class="coupon-box">
    <h4>使用优惠券({{ couponItems.length }}张)</h4>
    <div class="tab-box">
        <div class="tab-header">
            <div class="tab-item" [ngClass]="{active: couponIndex < 1}" (click)="couponIndex = 0">商品优惠券</div>
            <div class="tab-item" [ngClass]="{active: couponIndex == 1}" (click)="couponIndex = 1">优惠码兑换</div>
        </div>
        <div class="tab-body">
            <div class="tab-item" [ngClass]="{active: couponIndex < 1}">
                <ng-container *ngFor="let item of couponItems">
                    <div class="coupon-item" [ngClass]="{active: item.id == value?.id, expired: item.expired}" (click)="couponChanged(item)">
                        <div class="item-body">
                            <div class="money">
                                <ng-container *ngIf="item.type > 0; else elseTemplate">
                                    <em>
                                        {{ item.money }}折
                                    </em>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <em>
                                        ￥{{ item.money }}
                                    </em>
                                </ng-template>
                                <span class="limit">满{{ item.min_money }}元可用</span>
                            </div>
                            <div class="time">
                                有效期至{{ item.end_at | timestamp }}
                            </div>
                        </div>
                        <div class="item-footer">
                            <div class="item-tag">[限品类]</div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="tab-item" [ngClass]="{active: couponIndex == 1}">
                <div class="flat-input">
                    <input type="text" class="form-control" [(ngModel)]="couponCode">
                    <button class="btn btn-primary" (click)="tapExchange()">兑换</button>
                </div>
            </div>
        </div>
    </div>
</div>