@for (item of items; track $index) {
    <div class="order-item">
    <div class="order-header">
        <span>{{ item.id }}</span>
        <span class="status">{{ item.status_label }}</span>
    </div>
    <div class="order-amount">
        <span>【{{ item.service.name }}】</span>
        <span class="amount">x {{ item.amount }}</span>
        <span class="price">
            <ng-container i18n>Service charge</ng-container>
            : ￥{{ item.order_amount }}
        </span>
    </div>
    <div class="order-remark" *ngIf="item.remark">
        <p class="line-item" *ngFor="let line of item.remark" >
            <span>{{ line.label }}</span>
            <span class="val">{{ line.value }}</span>
        </p>
    </div>
    <div class="order-footer">
        <div class="order-actions">
            <a *ngIf="item.status == 10" (click)="tapPay(item)" i18n>Pay</a>
            <a data-action="comment"  *ngIf="item.status == 60" (click)="tapComment(item)" i18n>Comment</a>
            <a  *ngIf="item.status == 10" (click)="tapCancel(item)" i18n>Cancel</a>
        </div>
    </div>
</div>
}
<app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>