@for (item of items; track $index) {
    <div class="order-item">
    <div class="order-header">
        <span>{{ item.id }}</span>
        <span class="status">{{ item.status_label }}</span>
    </div>
    <div class="order-amount">
        <span>【{{ item.service.name }}】</span>
        <span class="amount">x {{ item.amount }}</span>
        <span class="price">
            <ng-container i18n>Service charge</ng-container>
            : ￥{{ item.order_amount }}
        </span>
    </div>
    @if (item.remark) {
    <div class="order-remark">
        @for (line of item.remark; track $index) {
        <p class="line-item" >
            <span>{{ line.label }}</span>
            <span class="val">{{ line.value }}</span>
        </p>
        }
    </div>
    }
    <div class="order-footer">
        <div class="order-actions">
            @if (item.status == 10) {
            <a (click)="tapPay(item)" i18n>Pay</a>
            } @else if (item.status == 60) {
            <a data-action="comment" (click)="tapComment(item)" i18n>Comment</a>
            }
            @if (item.status == 10) {
            <a (click)="tapCancel(item)" i18n>Cancel</a>
            }
        </div>
    </div>
</div>
}
<app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />