@use '../../../theme/theme';
.subscribe-bar {
    background-color: var(--#{theme.$prefix}panel);
    padding: 3rem 0;
}

.tooltip-bar {
    margin-top: 1rem;
    font-size: .8rem;
    color: #767676;
}

@media (min-width: 48rem) {
    .subscribe-form {
        position: relative;
        display: flex;
        align-items: stretch;
        .form-control {
            width: 15rem;
        }
        .form-control,
        .btn {
            border-radius: 0;
        }
        .form-control:first-child {
            position: relative;
            margin-bottom: 0;
            border-radius: .25rem 0 0 .25rem;
        }
        .btn:last-child {
            border-radius: 0 .25rem .25rem 0;
        }
    }
}