<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>调试请求</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="flat-input">
            <select [field]="dataForm.method" class="form-control">
                @for (item of methodItems; track $index) {
                    <option [value]="item">{{ item }}</option>
                }
            </select>
            <input type="text" [field]="dataForm.url" class="form-control">
            <app-action-button class="btn btn-primary" (tapped)="tapSend($event)">发送</app-action-button>
            <button class="btn btn-danger" (click)="tapReset()">重置</button>
        </div>
        <div class="tab-box">
            <div class="tab-header">
                <div class="tab-item" [class.active]="requestIndex < 1" (click)="requestIndex = 0">
                    请求头
                </div>
                <div class="tab-item" [class.active]="requestIndex == 1" (click)="requestIndex = 1">
                    请求参数
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-item" [class.active]="requestIndex < 1">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>键</th>
                                <th>值</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of dataForm.headers; track $index; let i = $index) {
                            <tr>
                                <td>
                                    <i class="iconfont" [class]="{'icon-square-o': !item.checked, 'icon-check-square-o': item.checked}" (click)="toggle(item.checked().value)"></i>
                                </td>
                                <td>
                                    <input type="text" class="form-control" [field]="item.key">
                                </td>
                                <td>
                                    <input type="text" class="form-control" [field]="item.value">
                                </td>
                                <td>
                                    <i class="iconfont icon-close" (click)="tapRemoveHeader(i)"></i>
                                </td>
                            </tr>
                            }
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <i class="iconfont icon-plus" (click)="tapAddHeader()"></i>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="tab-item" [class.active]="requestIndex == 1">
                    <div class="type-bar">
                        <app-check-input [items]="typeItems" [rangeKey]="1" [field]="dataForm.bodyType" (valueChange)="onTypeChange()" />
                        @if (dataForm.bodyType().value() != 3) {
                        <select [field]="dataForm.rawType" class="form-control">
                            @for (item of rawItems; track $index;let i = $index) {
                                <option [value]="i">{{ item }}</option>
                            }
                        </select>
                        }
                        
                    </div>
                    @if (dataForm.bodyType().value() == 4) {
                        <input type="file" class="form-control" (change)="uploadFile($event)">
                    } @else if (dataForm.bodyType().value() == 3) {
                        <textarea [field]="dataForm.body" class="form-control"></textarea>
                    } @else if (dataForm.bodyType().value() > 0 && dataForm.bodyType().value() < 3) {
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>键</th>
                                    <th>值</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of dataForm.bodies; track $index; let i = $index) {
                                <tr>
                                    <td>
                                        <i class="iconfont" [class.icon-square-o]="!item.checked().value()" (click)="toggle(item.checked().value)"></i>
                                    </td>
                                    <td [class]="{'type-td': dataForm.bodyType().value() == 1}">
                                        <input type="text" class="form-control" [field]="item.key">
                                        @if (dataForm.bodyType().value() == 1) {
                                        <select [field]="item.type" class="form-control">
                                            @for (item of optionItems; track $index;let i = $index) {
                                                <option [value]="i">{{ item }}</option>
                                            }
                                            
                                        </select>
                                        }
                                        
                                    </td>
                                    <td>
                                        @if (item.type().value() != '') {
                                            <input type="file" class="form-control" (change)="uploadFile($event, item)">
                                        } @else {
                                            <input type="text" class="form-control" [field]="item.value">
                                        }
                                    </td>
                                    <td>
                                        <i class="iconfont icon-close" (click)="tapRemoveBody(i)"></i>
                                    </td>
                                </tr>
                                }
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <i class="iconfont icon-plus" (click)="tapAddBody()"></i>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
    @if (responseStatus) {
    <div class="panel-container">
        <div class="tab-box">
            <div class="tab-header">
                <div class="tab-item" [class]="{active: responseIndex < 1}" (click)="responseIndex = 0">
                    响应内容
                </div>
                <div class="tab-item" [class]="{active: responseIndex == 1}" (click)="responseIndex = 1">
                    响应头
                </div>
                <div class="tab-item" [class]="{active: responseIndex == 2}" (click)="responseIndex = 2">
                    附加信息
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-item" [class]="{active: responseIndex < 1}">
                    <div class="code-box">
                        <textarea class="form-control" [value]="responseBody"></textarea>
                    </div>
                </div>
                <div class="tab-item" [class]="{active: responseIndex == 1}">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>键</th>
                                <th>值</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of responseHeader; track $index) {
                            <tr>
                                <td>
                                    {{ item.key }}
                                </td>
                                <td>
                                    {{ item.value }}
                                </td>
                            </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
                <div class="tab-item" [class]="{active: responseIndex == 2}">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>键</th>
                                <th>值</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of responseInfo; track $index) {
                            <tr>
                                <td>
                                    {{ item.key }}
                                </td>
                                <td>
                                    {{ item.value }}
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    }
    
</div>