<div class="container-fluid tablet-collapse">
    <app-page-tip>
        <ul>
            <li>管理预算列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">预算名</label>
                    <input type="text" class="form-control" id="keywords" [formField]="queries.keywords" placeholder="预算名">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a (click)="open(modal)" class="pull-right btn btn-primary">新增预算</a>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>名称</td>
                    <td>预算(元)</td>
                    <td>已花费(元)</td>
                    <td>剩余(元)</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr [class]="{danger: item.remain < 0}">
                    <td>
                        <a [routerLink]="[item.id]">{{ item.name }}</a>
                    </td>
                    <td>{{ item.budget }}</td>
                    <td>{{ item.spent }}</td>
                    <td>{{ item.remain }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-info" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [formField]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
    </div>
</div>

<div class="tablet-visible">
    <div class="route-bar">
        <a class="route-icon" (click)="tapBack()">
            <i class="iconfont icon-chevron-left"></i>
        </a>
        <span class="route-title">预算</span>
        <a class="route-icon" (click)="open(modal)">
            <i class="iconfont icon-plus"></i>
        </a>
    </div>
    <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
    <app-swipe-list-control>
        @for (item of items(); track $index) {
        <app-swipe-control (tapped)="tapItem(item)">
            <div class="line-row-item --with-icon">
                <div class="item-icon">
                    {{ formatCycle(item.cycle) }}
                </div>
                <div class="item-body">
                    {{ item.name }}
                </div>
                <div class="item-meta-bar">
                    <div class="item-count" [class]="{'--with-danger': item.remain < 0}">{{ item.budget | numberFormat }}</div>
                    @if (item.spent > 0) {
                    <div class="item-meta">
                        <b>-</b>
                        {{ item.spent | numberFormat }} 
                        <b>=</b> 
                        {{ item.remain | numberFormat }}
                    </div>
                    }
                    
                </div>
            </div>
            <ng-container name="left">
                <a class="btn-primary" (click)="open(modal, item)">
                    <i class="iconfont icon-edit"></i>
                </a>
            </ng-container>
            <ng-container name="right">
                <a class="btn-danger" (click)="tapRemove(item)">
                    <i class="iconfont icon-trash"></i>
                </a>
            </ng-container>
        </app-swipe-control>
        }
    </app-swipe-list-control>
</div>

<app-dialog-box #modal [title]="editForm.id().value() > 0 ? '编辑预算' : '新增预算'">
    <div class="form-group">
        <label for="name">预算名</label>
        <div class="input-group-control">
            <input class="form-control" id="name" [formField]="editForm.name" placeholder="请输入预算名">
        </div>
    </div>
    <div class="form-group">
        <label for="budget">预算(元)</label>
        <div class="input-group-control">
            <input type="number" class="form-control" id="budget" [formField]="editForm.budget" placeholder="请输入预算">
        </div>
    </div>
    <div class="form-group">
        <label for="cycle">周期</label>
        <div class="input-group-control">
            <select class="form-control" id="cycle" [formField]="editForm.cycle">
                @for (item of cycleItems; track $index;let i = $index) {
                    <option [value]="i">{{ item }}</option>
                }
            </select>
        </div>
    </div>
</app-dialog-box>