<div class="container">
    
    @if (data) {
    <div class="micro-item">
        <div class="body">
            <div class="avatar">
                <img [src]="data.user.avatar" alt="">
            </div>
            <div>
                <div class="name">{{ data.user.name }}</div>
                <p>
                    <span class="time">{{ data.created_at | ago }}</span>
                    @if (data.source) {
                        <span class="from" i18n>From {{ data.source }}</span>
                    }
                    @if (data.editable) {
                        <a class="remove" (click)="tapRemove(data)" i18n>[Delete]</a>
                    }
                </p>
                <div class="content">
                    <app-rule-block [value]="data.content" [rules]="data.extra_rule" (tapped)="tapBlock($event)"></app-rule-block>
                </div>
                <app-attachment-viewer [items]="data.attachment"></app-attachment-viewer>
            </div>
        </div>

        <div class="ations">
            <a [ngClass]="{active: data.is_collected}" (click)="tapCollect()">
                <ng-container i18n>{data.is_collected, plural, =true {Collected} =false {Collect}}</ng-container>
                @if (data.collect_count > 0) {
                    ({{ data.collect_count | numberFormat }})
                }
            </a>
            <a (click)="tapForward(modal)">
                <ng-container i18n>Forward</ng-container>
                @if (data.collect_count > 0) {
                    ({{ data.forward_count | numberFormat }})
                }
            </a>
            <a >
                <ng-container i18n>Comment</ng-container>
                @if (data.comment_count > 0) {
                    ({{ data.comment_count | numberFormat }})
                }
            </a>
            <a [ngClass]="{active: data.is_recommended}" (click)="tapRecommend()">
                <ng-container i18n>{data.is_recommended, plural, =true {Liked} =false {Like}}</ng-container>
                @if (data.recommend_count > 0) {
                    ({{ data.recommend_count | numberFormat }})
                }
            </a>
        </div>
    </div>
    <div class="comment-box">
        <app-comment-viewer [user]="authUser" [micro]="data.id" [open]="true" [auto]="true"></app-comment-viewer>
    </div>
    }
    
</div>

<app-dialog-box #modal  i18n-confirmText confirmText="Forward" i18n-title title="Forward">
    <div class="forward-box">
        @if (data) {
        <div class="simple">
            &#64;{{ data.user.name }} ：{{ data.content }}
        </div>
        }
        <div class="input">
            <textarea class="form-control" [(ngModel)]="editData.content" i18n-placeholder placeholder="Please enter the reason for forwarding"></textarea>
        </div>
        <div class="actions">
            <app-switch [(ngModel)]="editData.is_comment"></app-switch>
            <ng-container i18n>
                Also comment to {{ data ? data.user.name : '' }}
            </ng-container>
        </div>
    </div>
</app-dialog-box>