@use '../micro';

.comment-box {
    padding: 0 20px;
    background-color: #fff;
}
.forward-box {
    .simple {
        background-color: #f2f2f5;
        position: relative;
        margin: 0 0 10px;
        padding: 5px 10px;
        line-height: 20px;
    }
    .actions {
        padding: 20px 0;
        font-size: 12px;
    }
}