<div class="comment-container">
    <div class="title-bar">
        <h3 i18n>Leave a Comment</h3>
        @if (!user) {
            <p class="bar-text" i18n>Please login in first *</p>
        }
    </div>
    
    <div class="comment-form">
        <app-text-editor [field]="commentForm.content" height="200" placeholder="Leave a Comment" />
        <div class="form-group">
            <app-action-button class="btn btn-primary" [disabled]="!user" (tapped)="tapComment($event)" i18n>Post Comment</app-action-button>
        </div>
    </div>

    <div class="comment-group">
        <div class="title-bar">
            <h3 i18n>All Comment</h3>
            <div class="bar-right">
                <div class="btn-group">
                    <a class="btn btn-outline-default" [class.active]="queries.order().value() == 'desc'" (click)="tapSort('desc')"  i18n>Newest</a>
                    <a class="btn btn-outline-default" [class.active]="queries.order().value() == 'asc'" (click)="tapSort('asc')"  i18n>Oldest</a>
                </div>
            </div>
        </div>
        
        
       @for (item of items(); track $index) {
         <div class="comment-item">
            <article class="comment">
                <div class="comment-author">
                    <img [src]="item.user.avatar" alt="">
                    <div class="comment-meta">
                        <span class="name">{{ item.user.name }}</span>
                        <div class="date">{{ item.created_at|ago }}</div>
                    </div>
                </div>
                <div class="comment-content">
                    <app-rule-block [value]="item.content" [rules]="item.extra_rule"  />
                </div>
                <div class="comment-footer">
                    <i class="iconfont icon-reply"></i>
                    <a href="" i18n>Reply</a>
                </div>
            </article>
            @if (item.reply_items) {
            <div class="children">
                @for (it of item.reply_items; track $index) {
                <div class="comment-item">
                    <article class="comment">
                        <div class="comment-author">
                            <img [src]="it.user.avatar" alt="">
                            <div class="comment-meta">
                                <span class="name">{{ it.user.name }}</span>
                                <div class="date">{{ it.created_at|ago }}</div>
                            </div>
                        </div>
                        <div class="comment-content">
                            <app-rule-block [value]="it.content" [rules]="it.extra_rule"  />
                        </div>
                        <div class="comment-footer">
                            <i class="iconfont icon-reply"></i>
                            <a href="" i18n>Reply</a>
                        </div>
                    </article>
                </div>
                }
                
            </div>
            }
            
        </div>
       }


        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
    </div>
</div>