.comment-container {
    .title-bar {
        margin-bottom: 1rem;
    }
    .comment-form {
        .form-control,
        .star-input {
            margin-bottom: 1rem;
        }
    }
}

.comment-form {
    .btn {
        margin-top: 1rem;
    }
}

.title-bar {
    h3 {
        display: inline-block;
    }
}

.comment-group {
    margin-top: 30px;
    .comment-item {
        position: relative;
        margin-bottom: .75em;
        .comment {
            background: #fff;
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, .25);
            padding: 15px 10px;
        }
        .comment-content {
            margin: 15px 0;
        }
        .comment-author {
            img {
                border-radius: 50%;
                width: 3em;
                height: 3em;
                float: left;
                margin-right: .75em;
            }
            .name {
                display: block;
                font-weight: 700;
            }
            .date {
                float: left;
            }
            &::after {
                content: ".";
                display: block;
                clear: both;
                visibility: hidden;
                line-height: 0;
                height: 0;
            }
        }
        .comment-footer {
            position: absolute;
            top: 1.5em;
            right: 4.6875375%;
        }
        .children {
            padding-left: 1.5em;
            border-left: solid 1px #fff;
            margin: .75em 0;
        }
    }
}