// 中国红
$headerBg: #A10000;
$headerFg: #fff;
$secondary: #CC2525;
$disable: #FF9787;
$error: red;
$shadow: rgba(51, 51, 51, 0.7);
$border: $headerBg;
$bodyBg: #f4f4f4;
$bg: #fff;
$fg: #333;
$secondaryFg: #b3b1b1;
$primary: #dff0d8;