@use '../../../../../theme/theme';
select.form-control {
    width: auto;
}

.add-box {
	display: inline-block;
	input {
		min-width: 0;
		width: 100px;
	}
	.btn {
		margin: 0;
		vertical-align: top;
	}
}

.product-box {
    .input-group-control {
        input[type="text"],
        input[type="number"] {
            min-width: 0;
            width: 100px;
        }
    }
    input[type="text"],
    input[type="number"] {
        min-width: 0;
        width: 100px;
    }
}

.attr-box {
	.input-group-control {
		input {
			min-width: 0;
		}
	}
	.check-label,
	.attr-block {
		margin-right: 8px;
		position: relative;
		label {
			padding-right: 0;
		}
		input {
			text-align: center;
			background: rgba($color: #fff, $alpha: .3);
		}
		.icon-close {
			cursor: pointer;
			text-align: center;
			background: #ababab;
			border-radius: 50%;
		}
	}
	.attr-block {
		display: block;
		input {
			width: auto;
			&:first-of-type {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			&:nth-of-type(2) {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
		.icon-close {
			display: inline-block;
			width: 30px;
			height: 30px;
			line-height: 30px;
		}
	}
	.check-label {
		display: inline-block;
		border: 1px solid #ced4da;
		border-radius: .25rem;
		input {
			width: 60px;
			border: none;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		.icon-close {
			position: absolute;
			display: block;
			width: 20px;
			height: 20px;
			line-height: 20px;
			top: -9px;
			right: -9px;
		}
	}
}

.attr-block {
    display: block;
}