@use '../../../../theme/theme';
.image-player {
    z-index: 66;
    position: relative;
    background-color: rgba(var(--#{theme.$prefix}mask-rgb), .3);
    height: 100vh;
    
    .player-body {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .player-action {
        .icon-chevron-left,
        .icon-chevron-right,
        .icon-close {
            position: absolute;
            font-size: 1.875rem;
            display: none;
            font-style: normal;
        }
        .icon-chevron-left,
        .icon-chevron-right {
            top: 50%;
            margin-top: -0.9375rem;
        }
        .icon-chevron-right {
            right: 0;
        }
        .icon-close {
            right: 0;
            top: 0;
        }
        .icon-close,
        .icon-chevron-left,
        .icon-chevron-right {
            color: var(--#{theme.$prefix}primary-text);
            background-color: rgba(var(--#{theme.$prefix}primary-text-rgb), .4);
            border-radius: 50%;
            width: 3.125rem;
            height: 3.125rem;
            line-height: 3.125rem;
            text-align: center;
            cursor: pointer;
        }
    }
    &:hover {
        .player-action {
            .icon-chevron-left,
            .icon-chevron-right,
            .icon-close {
                display: block;
            }
        }
    }
    &.fixed-player {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .player-action {
            .icon-close {
                right: .8rem;
                top: .8rem;
            }
        }
    }
}