@if (data && visible()) {
<div class="image-player" [class]="{'fixed-player': isFixed()}">
    <div class="player-body">
        <img [src]="formatAsset(data.source)" [alt]="data.name">
    </div>
    <div class="player-action">
        <i class="iconfont icon-close" (click)="stop()"></i>
        @if (canPrevious) {
        <i class="iconfont icon-chevron-left"  (click)="tapPrevious()"></i>
        }
        @if (canNext) {
        <i class="iconfont icon-chevron-right"  (click)="tapNext()"></i>
        }
    </div>
</div>
}