<div class="goods-page" *ngIf="data">
  <div class="container">
      <nav class="breadcrumb">
          <a class="breadcrumb-item" routerLink="../../">Home</a>
          <a class="breadcrumb-item" *ngIf="data.category" [routerLink]="'../../category/' + data.cat_id">{{ data.category.name }}</a>
          <span class="breadcrumb-item active">{{ data.name }}</span>
      </nav>

      <div class="row info-box">
          <div class="col-md-6">
            <app-gallery-slider [items]="galleryItems"></app-gallery-slider>
          </div>
          <div class="col-md-6">
            <div class="bg-white">
                <div class="intro">
                    <div class="name">
                        {{ data.name }}
                        <a class="comment">
                            <span>98%</span>
                            <span>好评率</span>
                        </a>
                    </div>
                    <div class="desc">
                        {{ data.brief }}
                    </div>
                </div>
                <div class="price-box">
                    <div class="flex-group">
                        <div class="group-header">活动价</div>
                        <div class="group-body">
                            <div class="price">{{ data.price | price }}</div>
                        </div>
                    </div>
                    <div class="flex-group" *ngIf="couponItems.length > 0">
                        <div class="group-header">领券</div>
                        <div class="group-body">
                            <ng-container *ngFor="let item of couponItems">
                              <div class="coupon-item">
                                  <div class="item-body">
                                    {{ item.name }}
                                  </div>
                                  <div class="item-action">
                                      {{ item.can_receive ? '领券' : '已领' }}
                                  </div>
                              </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="flex-group" *ngIf="promoteItems.length > 0">
                        <div class="group-header">促销</div>
                        <div class="group-body">
                            <ng-container *ngFor="let item of promoteItems">
                                <a class="promote-item">
                                    <div class="item-name">{{ formatPromote(item.type) }}</div>
                                    <div class="item-body">
                                        {{ item.name }}
                                    </div>
                                </a>
                              </ng-container>
                        </div>
                    </div>
                    <div class="flex-group">
                        <div class="group-header">积分</div>
                        <div class="group-body">购买最高得42积分</div>
                    </div>
                    <div class="flex-group">
                        <div class="group-header">配送
                        </div>
                        <div class="group-body">至<app-region url="shop/region/tree" [(ngModel)]="regionId" (ngModelChange)="onRegionChange()"></app-region></div>
                    </div>
                   
                    <hr>
                    <div class="flex-group">
                        <div class="group-header">服务</div>
                        <div class="group-body">
                            ･ 支持30天无忧退换货    
                            ･ 48小时快速退款    
                            ･ 满88元免邮费    
                            ･ 自营品牌    
                            ･ 国内部分地区无法配送 
                        </div>
                    </div>
                    
                </div>
                <div class="property-box">
                    <ng-container *ngFor="let item of data.properties;let i = index">
                      <div class="flex-group" [ngClass]="{'multi-group': item.type == 2}">
                          <div class="group-header">{{ item.name }}</div>
                          <div class="group-body">
                              <ng-container *ngFor="let attr of item.attr_items">
                                  <span>{{ attr.value }}</span>
                              </ng-container>
                          </div>
                      </div>
                    </ng-container>
                    <div class="flex-group">
                        <div class="group-header">
                          Amount
                        </div>
                        <div class="group-body">
                          <app-number-input [(ngModel)]="amount" [min]="1" [max]="stock"></app-number-input>
                        </div>
                    </div>
                </div>
                <div class="actions">
                      <ng-container *ngIf="stock > 0; else elseTemplate">
                          <a (click)="tapBuy()" class="btn btn-danger">
                              BUY NOW
                          </a>
                          <a (click)="tapAddToCart()" class="btn btn-primary">
                              <i class="iconfont icon-shopping-cart"></i>
                              ADD TO CART
                          </a>
                      </ng-container>
                      <ng-template #elseTemplate>
                          <a href="javascript:;" class="btn btn-secondary">
                              Insufficient inventory cannot be purchased 
                          </a>
                      </ng-template>
                      <a class="btn btn-collect" [ngClass]="{active: data.is_collect}" (click)="tapCollect()">
                          <i class="iconfont" [ngClass]="{'icon-heart-o': !data.is_collect, 'icon-heart': data.is_collect}"></i>
                          LIKE
                      </a>
                </div>
            </div>
          </div>
      </div>

      <div class="template-lazy" appLazyLoad (lazyLoading)="loadRecommend()">
        <div class="panel" *ngIf="recommendItems.length > 0">
            <div class="panel-header">
                People who viewed this also viewed
            </div>
            <div class="panel-body">
                <app-goods-slider [items]="recommendItems"></app-goods-slider>
            </div>
        </div>
      </div>

      <div class="row detail-box">
          <div class="col-md-8">
            <div class="tab-box">
                <div class="tab-header">
                    <div class="tab-item" [ngClass]="{active: tabIndex < 1}" (click)="tabIndex = 0">
                    Product details
                    </div>
                    <div class="tab-item" [ngClass]="{active: tabIndex == 1}" (click)="tabIndex = 1">
                    Comments
                    </div>
                    <div class="tab-item" [ngClass]="{active: tabIndex == 2}" (click)="tabIndex = 2">
                    Issues
                    </div>
                </div>
                <div class="tab-body bg-white">
                      <div class="tab-item" [ngClass]="{active: tabIndex < 1}">
                          <div class="content-box" [innerHTML]="content">
                          </div>
                      </div>
                      <div id="comment-tab" class="tab-item" [ngClass]="{active: tabIndex == 1}">
                          <app-comment-page [itemId]="data.id" [init]="tabIndex == 1"></app-comment-page>
                      </div>
                      <div class="tab-item issue-box" [ngClass]="{active: tabIndex == 2}">
                          
                      </div>
                </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="template-lazy" appLazyLoad (lazyLoading)="loadHot()">
                <div class="panel" *ngIf="hotItems.length > 0">
                    <div class="panel-header">
                        TOP/24
                    </div>
                    <div class="panel-body">
                        <div  class="goods-item" *ngFor="let item of hotItems">
                            <div class="thumb">
                                <a [routerLink]="'../' + item.id">
                                    <img [src]="item.thumb" alt="">
                                </a>
                            </div>
                            <div class="name">{{ item.name }}</div>
                            <div class="price">{{ item.price | price }}</div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
          
      </div>
  </div>
</div>