@if (data) {
<div class="goods-page">
  <div class="container">
      <nav class="breadcrumb">
          <a class="breadcrumb-item" routerLink="../../" i18n>Home</a>
          @if (data.category) {
          <a class="breadcrumb-item" [routerLink]="'../../category/' + data.cat_id">{{ data.category.name }}</a>
          }
          <span class="breadcrumb-item active">{{ data.name }}</span>
      </nav>

      <div class="row info-box">
          <div class="col-md-6">
            <app-gallery-slider [items]="galleryItems" />
          </div>
          <div class="col-md-6">
            <div class="bg-white">
                <div class="intro">
                    <div class="name">
                        {{ data.name }}
                        @if (data.favorable_rate) {
                        <a class="comment">
                            <span>{{ data.favorable_rate }}%</span>
                            <span>好评率</span>
                        </a>
                        }
                    </div>
                    <div class="desc">
                        {{ data.brief }}
                    </div>
                </div>
                <div class="price-box">
                    <div class="flex-group">
                        <div class="group-header">活动价</div>
                        <div class="group-body">
                            <div class="price">{{ data.price | price }}</div>
                        </div>
                    </div>
                    @if (couponItems.length > 0) {
                    <div class="flex-group">
                        <div class="group-header">领券</div>
                        <div class="group-body">
                            @for (item of couponItems; track $index) {
                              <div class="coupon-item">
                                  <div class="item-body">
                                    {{ item.name }}
                                  </div>
                                  <div class="item-action">
                                      {{ item.can_receive ? '领券' : '已领' }}
                                  </div>
                              </div>
                            }
                        </div>
                    </div>
                    }
                    @if (promoteItems.length > 0) {
                    <div class="flex-group">
                        <div class="group-header">促销</div>
                        <div class="group-body">
                            @for (item of promoteItems; track $index) {
                                <a class="promote-item">
                                    <div class="item-name">{{ formatPromote(item.type) }}</div>
                                    <div class="item-body">
                                        {{ item.name }}
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                    }
                    <!-- <div class="flex-group">
                        <div class="group-header">积分</div>
                        <div class="group-body">购买最高得42积分</div>
                    </div> -->
                    <div class="flex-group">
                        <div class="group-header">配送
                        </div>
                        <div class="group-body">至<app-region url="shop/region/tree" [field]="regionId" (ngModelChange)="onRegionChange()" /></div>
                    </div>
                   
                    <hr>
                    <div class="flex-group">
                        <div class="group-header">服务</div>
                        <div class="group-body">
                            <ul class="service-panel">
                                @for (item of data.services; track $index) {
                                <li>{{ item }}</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="property-box">
                    @for (item of properties; track $index; let i = $index) {
                      <div class="flex-group" [ngClass]="{'multi-group': item.type == 2}">
                          <div class="group-header">{{ item.name }}</div>
                          <div class="group-body">
                              @for (attr of item.attr_items; track $index; let j = $index) {
                                  <span [ngClass]="{active: attr.checked, disable: attr.disabled}" (click)="toggleSelected(i, j)">{{ attr.value }}</span>
                              }
                          </div>
                      </div>
                    }
                    <div class="flex-group">
                        <div class="group-header" i18n>
                          Amount
                        </div>
                        <div class="group-body">
                          <app-number-input [field]="amount" [min]="1" [max]="stock" [disabled]="stock < 1" />
                        </div>
                    </div>
                </div>
                <div class="page-actions">
                        @if (stock > 0) {
                            <a (click)="tapBuy()" class="btn btn-danger" i18n>
                                BUY NOW
                            </a>
                            <a (click)="tapAddToCart()" class="btn btn-primary">
                                <i class="iconfont icon-shopping-cart"></i>
                                <ng-container i18n>ADD TO CART</ng-container>
                            </a>
                        } @else {
                            <a href="javascript:;" class="btn btn-secondary" i18n>
                                Insufficient inventory cannot be purchased 
                            </a>
                        }
                        <a class="btn btn-collect" [ngClass]="{active: data.is_collect}" (click)="tapCollect()">
                            <i class="iconfont" [ngClass]="{'icon-heart-o': !data.is_collect, 'icon-heart': data.is_collect}"></i>
                            <ng-container i18n>LIKE</ng-container>
                        </a>
                        <a class="btn btn-share" (click)="shareModal.open()">
                            <i class="iconfont icon-share-alt"></i>
                            <ng-container i18n>SHARE</ng-container>
                        </a>
                </div>
            </div>
          </div>
      </div>

      <div class="template-lazy" appLazyLoad (lazyLoading)="loadRecommend()">
            @if (recommendItems.length > 0) {
            <div class="panel">
                <div class="panel-header" i18n>
                    People who viewed this also viewed
                </div>
                <div class="panel-body">
                    <app-goods-slider [items]="recommendItems" />
                </div>
            </div>
            }
      </div>

      <div class="row detail-box">
          <div class="col-md-8">
            <div class="tab-box">
                <div class="tab-header">
                    <div class="tab-item" [ngClass]="{active: tabIndex < 1}" (click)="tabIndex = 0" i18n>
                    Product details
                    </div>
                    <div class="tab-item" [ngClass]="{active: tabIndex == 1}" (click)="tabIndex = 1" i18n>
                        Specification
                    </div>
                    <div class="tab-item" [ngClass]="{active: tabIndex == 2}" (click)="tabIndex = 2" i18n>
                    Comments
                    </div>
                    <div class="tab-item" [ngClass]="{active: tabIndex == 3}" (click)="tabIndex = 3" i18n>
                    Issues
                    </div>
                </div>
                <div class="tab-body bg-white">
                    <div class="tab-item" [ngClass]="{active: tabIndex < 1}">
                        <div class="content-box" [innerHTML]="content">
                        </div>
                    </div>
                    <div class="tab-item" [ngClass]="{active: tabIndex == 1}">
                        @for (group of data.static_properties; track $index) {
                        <div class="line-group">
                            @if (group.name) {
                            <div class="line-group-header">{{ group.name }}</div>
                            }
                            @for (item of group.items; track $index) {
                            <div class="line-item">
                                <div class="item-label">
                                    {{ item.name }}
                                </div>
                                <div class="item-text">
                                    {{ item.attr_item.value }}
                                </div>
                            </div>
                            }
                        </div>
                        }
                    </div>
                    <div id="comment-tab" class="tab-item" [ngClass]="{active: tabIndex == 2}">
                        <app-comment-page [itemId]="data.id" [init]="tabIndex == 2" />
                    </div>
                    <div class="tab-item issue-box" [ngClass]="{active: tabIndex == 3}">
                        <app-issue-page [itemId]="data.id" [init]="tabIndex == 3" />
                    </div>
                </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="template-lazy" appLazyLoad (lazyLoading)="loadHot()">
                @if (hotItems.length > 0) {
                <div class="panel">
                    <div class="panel-header" i18n>
                        TOP/24
                    </div>
                    <div class="panel-body">
                        @for (item of hotItems; track $index) {
                        <div  class="goods-item">
                            <div class="thumb">
                                <a [routerLink]="'../' + item.id">
                                    <img [src]="item.thumb" alt="">
                                </a>
                            </div>
                            <div class="name">{{ item.name }}</div>
                            <div class="price">{{ item.price | price }}</div>
                        </div>
                        }
                    </div>
                </div>
                }
              </div>
          </div>
      </div>
  </div>
</div>
}
<app-shop-share-dialog #shareModal />