<div class="tablet-large-header tablet-visible">
    <div class="route-bar">
        <a class="route-icon" (click)="tapBack()">
            <i class="iconfont icon-chevron-left"></i>
        </a>
        <span class="route-title" i18n>Blog</span>
        <a class="route-icon" routerLink="create">
            <i class="iconfont icon-plus"></i>
        </a>
    </div>
</div>

<div class="page-search-bar">
    <form class="flat-input" (submit)="tapSearch($event)">
        <input type="text" class="form-control" id="keywords" [field]="queries.keywords" i18n-placeholder placeholder="Please input a keyword">
        <select [field]="queries.term" class="form-control">
            <option [value]="0" i18n>Select...</option>
            @for (item of categories; track $index) {
                <option [value]="item.id">{{ item.name }}</option>
            }
        </select>
        <select [field]="queries.status" class="form-control tablet-collapse">
            <option [value]="0" i18n>Select...</option>
            @for (item of statusItems; track $index) {
                <option [value]="item.value + 1">{{ item.name }}</option>
            }
        </select>
        <button type="submit" class="btn btn-primary" i18n>Search</button>
    </form>
    <div class="btn-group pull-right tablet-collapse">
        <a class="btn btn-success" routerLink="create" i18n>Create</a>
    </div>
</div>

<div class="list-table-control">
    @for (item of items(); track $index) {
        <div class="row-item" [class]="{'colour-row-item': item.is_localization}">
            <div class="item-header">
                <div class="tag-bar">
                    @if (item.open_type > 0) {
                        <i class="iconfont icon-lock" i18n-title title="Reading needs to meet the conditions"></i>
                    }
                    @if (item.publish_status != 5) {
                        <i class="iconfont icon-eye-slash" i18n-title title="Draft not visible"></i>
                    }
                    @if (item.publish_status == 9) {
                        <i class="iconfont icon-close" i18n-title title="Not visible in Recycle Bin"></i>
                    }
                    
                    <span>{{ item.id }}</span>
                </div>
                
                <span class="stamp" i18n>{item.type==1, plural, =true {Reprinted} =false {Original}}</span>
                <span class="title">{{ item.title }}</span>
            </div>
            <div class="item-body">
                <p>{{ item.description }}</p>
            </div>
            <div class="item-footer">
                <div class="item-meta-bar">
                    @if (item.term) {
                        <a class="category"><i
                        class="iconfont icon-bookmark"></i><b>{{ item.term.name }}</b></a>
                    }
                    <span class="comment"><i class="iconfont icon-comments"></i><b>{{ item.comment_count }}</b></span>
                    <span class="agree"><i class="iconfont icon-thumbs-up"></i><b>{{ item.recommend_count }}</b></span>
                    <span class="click"><i class="iconfont icon-eye"></i><b>{{ item.click_count }}</b></span>
                    <span class="time"><i class="iconfont icon-clock-o"></i><b>{{ item.created_at|ago }}</b></span>
                </div>
                <div class="btn-group">
                    <a class="btn btn-info btn-xs" [routerLink]="['../../blog', item.id]" i18n>Preview</a>
                    <a class="btn btn-light btn-xs"
                    [routerLink]="['edit', item.id]" i18n>Edit</a>
                    <a class="btn btn-danger" (click)="tapRemove(item)" i18n>Delete</a>
                </div>
            </div>
        </div>
    }
</div>


<app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
<app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />