<div class="container">
    <div class="row">
        <div class="shortcut col-md-6">
            <div class="name">保存</div>
            <div class="key">
                <kbd>{{ isMac ? '⌘' : 'ctrl' }}</kbd>
                    +
                <kbd>S</kbd>
            </div>
        </div>
        <div class="shortcut col-md-6">
            <div class="name">删除</div>
            <div class="key">
                <kbd>del</kbd>
                /
                <kbd>backspace</kbd>
            </div>
        </div>
        <div class="shortcut col-md-6">
            <div class="name">撤销</div>
            <div class="key">
                <kbd>{{ isMac ? '⌘' : 'ctrl' }}</kbd>
                +
                <kbd>Z</kbd>
            </div>
        </div>
        <div class="shortcut col-md-6">
            <div class="name">重做</div>
            <div class="key">
                @if (isMac) {
                <div class="for-mac">
                    <kbd>⌥</kbd>
                    +
                    <kbd>⌘</kbd>
                    +
                    <kbd>Z</kbd>
                </div>
                } @else {
                <div class="for-others">
                    <kbd>ctrl</kbd>
                    +
                    <kbd>shift</kbd>
                    +
                    <kbd>Z</kbd>
                </div>
                }
            </div>
        </div>
        <div class="shortcut"></div>
        <div class="shortcut col-md-6">
            <div class="name">复制</div>
            <div class="key">
                <kbd>{{ isMac ? '⌘' : 'ctrl' }}</kbd>
                +
                <kbd>C</kbd>
            </div>
        </div>
        <div class="shortcut col-md-6">
            <div class="name">复制并粘贴</div>
            <div class="key">
                <kbd>{{ isMac ? '⌘' : 'ctrl' }}</kbd>
                +
                <kbd>D</kbd>
            </div>
        </div>
        <div class="shortcut col-md-6">
            <div class="name">粘贴</div>
            <div class="key">
                <kbd>{{ isMac ? '⌘' : 'ctrl' }}</kbd>
                +
                <kbd>V</kbd>
            </div>
        </div>
        
        <div class="shortcut"></div>
        <div class="shortcut col-md-6">
            <div class="name">左移/左移十步</div>
            <div class="key">
                @if (isMac) {
                <div class="for-mac">
                    <kbd>←</kbd>
                    ／
                    <kbd>⌥</kbd>
                    +
                    <kbd>←</kbd>
                </div>
                } @else {
                <div class="for-others">
                    <kbd>←</kbd>
                    ／
                    <kbd>shift</kbd>
                    +
                    <kbd>←</kbd>
                </div>
                }
            </div>
        </div>
        <div class="shortcut col-md-6">
            <div class="name">右移/右移十步</div>
            <div class="key">
                @if (isMac) {
                <div class="for-mac">
                    <kbd>→</kbd>
                    ／
                    <kbd>⌥</kbd>
                    +
                    <kbd>→</kbd>
                </div>
                } @else {
                <div class="for-others">
                    <kbd>→</kbd>
                    ／
                    <kbd>shift</kbd>
                    +
                    <kbd>→</kbd>
                </div>
                }
            </div>
        </div>
        <div class="shortcut col-md-6">
            <div class="name">上移/上移十步</div>
            <div class="key">
                @if (isMac) {
                <div class="for-mac">
                    <kbd>↑</kbd>
                    ／
                    <kbd>⌥</kbd>
                    +
                    <kbd>↑</kbd>
                </div>
                } @else {
                <div class="for-others">
                    <kbd>↑</kbd>
                    ／
                    <kbd>shift</kbd>
                    +
                    <kbd>↑</kbd>
                </div>
                }
            </div>
        </div>
        <div class="shortcut col-md-6">
            <div class="name">下移/下移十步</div>
            <div class="key">
                @if (isMac) {
                <div class="for-mac">
                    <kbd>↓</kbd>
                    ／
                    <kbd>⌥</kbd>
                    +
                    <kbd>↓</kbd>
                </div>
                } @else {
                <div class="for-others">
                    <kbd>↓</kbd>
                    ／
                    <kbd>shift</kbd>
                    +
                    <kbd>↓</kbd>
                </div>
                }
            </div>
        </div>
        <div class="shortcut"></div>
        <div class="shortcut col-md-6">
            <div class="name">单选</div>
            <div class="key">鼠标单击</div>
        </div>
        <div class="shortcut col-md-6">
            <div class="name">加选</div>
            <div class="key">
                @if (isMac) {
                <div class="for-mac">
                    <kbd>⇧</kbd>
                    +
                    <span>鼠标单击</span>
                </div>
                } @else {
                <div class="for-others">
                    <kbd>shift</kbd>
                    +
                    <span>鼠标单击</span>
                </div>
                }
            </div>
        </div>
        <div class="shortcut col-md-6">
            <div class="name">选取部分</div>
            <div class="key">鼠标划定选区</div>
        </div>
        <div class="shortcut col-md-6">
            <div class="name">全选</div>
            <div class="key">
                <kbd>{{ isMac ? '⌘' : 'ctrl' }}</kbd>
                +
                <kbd>A</kbd>
            </div>
        </div>
        <div class="shortcut"></div>
        <div class="shortcut col-md-6">
            <div class="name">缩放</div>
            <div class="key">
                <kbd>{{ isMac ? '⌘' : 'ctrl' }}</kbd>
                +
                <kbd>-</kbd>
            </div>
        </div>
        <div class="shortcut col-md-6">
            <div class="name">放大</div>
            <div class="key">
                <kbd>{{ isMac ? '⌘' : 'ctrl' }}</kbd>
                +
                <kbd>+</kbd>
            </div>
        </div>
        <div class="shortcut col-md-6">
            <div class="name">显示标尺辅助线</div>
            <div class="key">
                <kbd>{{ isMac ? '⌘' : 'ctrl' }}</kbd>
                +
                <kbd>H</kbd>
            </div>
        </div>
        <div class="shortcut col-md-6">
            <div class="name">隐藏标尺辅助线</div>
            <div class="key">
                @if (isMac) {
                <div class="for-mac">
                    <kbd>⌥</kbd>
                    +
                    <kbd>⌘</kbd>
                    +
                    <kbd>H</kbd>
                </div>
                } @else {
                <div class="for-others">
                    <kbd>ctrl</kbd>
                    +
                    <kbd>shift</kbd>
                    +
                    <kbd>H</kbd>
                </div>
                }
            </div>
        </div>
        <div class="shortcut col-md-6">
            <div class="name">组合</div>
            <div class="key">
                <kbd>{{ isMac ? '⌘' : 'ctrl' }}</kbd>
                +
                <kbd>G</kbd>
            </div>
        </div>
        <div class="shortcut col-md-6">
            <div class="name">打散</div>
            <div class="key">
                @if (isMac) {
                <div class="for-mac">
                    <kbd>⌥</kbd>
                    +
                    <kbd>⌘</kbd>
                    +
                    <kbd>G</kbd>
                </div>
                } @else {
                <div class="for-others">
                    <kbd>ctrl</kbd>
                    +
                    <kbd>shift</kbd>
                    +
                    <kbd>G</kbd>
                </div>
                }
            </div>
        </div>
    </div>
</div>