@use '../../../theme/theme';
@use '../../../../bootstrap/desktop/scrollbar';
@use '../../../../bootstrap/mixins';
:host {
    display: inline-block;
}

ul,
li {
    padding: 0;
    margin: 0;
}
.option-container {
    width: 25rem;
}
.column-header {
    @include mixins.caret();
    &.--with-open {
        border-color: var(--#{theme.$prefix}input-border);
        border-width: 2px;
        border-bottom: none;
        transform: scaleY(1.1);
    }
}
.selector-header {
    border-bottom: 2px solid var(--#{theme.$prefix}input-border);
    display: flex;
    line-height: 1.875rem;
    padding-left: 0.625rem;
    ul {
        flex: 1;
    }
    li {
        list-style: none;
        display: inline-block;
        padding: 0 0.3125rem;
        text-align: center;
        min-width: 4.875rem;
        user-select: none;
        &.active {
            background: var(--#{theme.$prefix}input-selected);
            color: var(--#{theme.$prefix}input-text);
        }
    }
    .icon-close {
        font-size: 1rem;
        padding: 0 0.625rem;
        color: var(--#{theme.$prefix}input-icon);
    }
}

.selector-body {
    overflow-y: auto;
    height: 12.5rem;
    padding: 0.625rem;
    @include scrollbar.scrollbar();
    ul {
        li {
            list-style: none;
            display: inline-block;
            line-height: 1.875rem;
            padding: 0 0.5rem;
            text-align: center;
            min-width: 3.75rem;
            cursor: default;
            user-select: none;
            color: var(--#{theme.$prefix}input-text);
            &:hover {
                background: var(--#{theme.$prefix}input-hovered);
            }
            &.selected {
                background: var(--#{theme.$prefix}input-selected);
            }
        }
    }
}

.selector-footer {
    text-align: right;
    .selector-yes {
        width: 30%;
        background: var(--#{theme.$prefix}btn-bg);
        color: var(--#{theme.$prefix}btn-color);
        padding: 0 0.5rem;
        border: none;
        line-height: 1.875rem;
        display: inline-block;
    }
}