<div class="selector" data-type="selector" [ngClass]="{disabled: disabled}">
    <div (click)="showPanel()" class="selector-input-container">
        <div class="select-header" [ngClass]="{open: panelVisible}">
            {{ pathLabel }}
            <i class="iconfont icon-chevron-down"></i>
        </div>
    </div> 
    <div class="selector-panel-container" *ngIf="panelVisible">
        <ul class="selector-header">
            <ng-container *ngFor="let item of paths; let i = index;">
                <li class="select-header"  [ngClass]="{open: i == activeColumn}" (click)="tapColumn(i)">
                    {{ item[rangeLabel] }}
                    <i class="iconfont icon-chevron-down"></i>
                </li>
            </ng-container>
        </ul>
        <div class="selector-body">
            <ul>
                <ng-container *ngFor="let item of items">
                    <li (click)="tapCheckedItem(item)" [ngClass]="{selected: isSelected(item)}">
                        {{ item[rangeLabel] }}</li>
                </ng-container>
            </ul>
        </div>
        <div class="selector-footer" *ngIf="canYes">
            <button class="selector-yes" (click)="tapYes()" i18n>Ok</button>
        </div>
        <i class="iconfont icon-close" (click)="tapClose()"></i>
    </div>
</div>