@use '../../../theme/theme';
@use '../../../../bootstrap/desktop/scrollbar';
:host {
    display: inline-block;
}
.selector {
    position: relative;
    * {
        margin: 0;
        padding: 0;
    }
    .select-header {
        position: relative;
        border: 1px solid var(--#{theme.$prefix}input-border);
        line-height: 2rem;
        display: inline-block;
        padding: 0 5px;
        z-index: 3;
        background-color: var(--#{theme.$prefix}input);
        cursor: pointer;
        user-select: none;
        .iconfont {
            color: var(--#{theme.$prefix}input-icon);
        }
        &.open {
            border-bottom: none;
        }
    }
    .selector-panel-container {
        position: absolute;
        width: 25rem;
        background-color: var(--#{theme.$prefix}input);
        box-shadow: 0 0 10px rgba(var(--#{theme.$prefix}mask-rgb), .1);
        padding: 0.625rem;
        z-index: 2;
        .select-header {
            &.open {
                border-color: var(--#{theme.$prefix}input-border);
                border-width: 2px;
                border-bottom: none;
                transform: scaleY(1.1);
            }
        }
    }
    .selector-header {
        border-bottom: 2px solid var(--#{theme.$prefix}input-border);
        li {
            list-style: none;
            display: inline-block;
            line-height: 1.875rem;
            padding: 0 0.3125rem;
            text-align: center;
            min-width: 4.875rem;

            &.active {
                background: var(--#{theme.$prefix}input-selected);
                color: var(--#{theme.$prefix}input-text);
            }
        }
    }

    .selector-body {
        overflow-y: auto;
        height: 12.5rem;
        @include scrollbar.scrollbar();
        ul {
            li {
                list-style: none;
                display: inline-block;
                line-height: 1.875rem;
                padding: 0 0.5rem;
                text-align: center;
                min-width: 3.75rem;
                cursor: default;
                user-select: none;
                &.selected,
                &:hover {
                    background: var(--#{theme.$prefix}input-hovered);
                    color: var(--#{theme.$prefix}input-text);
                }
            }
        }
    }

    .selector-footer {
        text-align: right;
        .selector-yes {
            width: 30%;
            background: var(--#{theme.$prefix}btn-bg);
            color: var(--#{theme.$prefix}btn-color);
            padding: 0 0.5rem;
            border: none;
            line-height: 1.875rem;
            display: inline-block;
        }
    }

    .icon-close {
        position: absolute;
        top: 0.625rem;
        line-height: 1.875rem;
        font-size: 1rem;
        right: 0.625rem;
        color: var(--#{theme.$prefix}input-icon);
    }
    &.disabled {
        cursor: not-allowed;
        .select-header {
            color: var(--#{theme.$prefix}input-placeholder);
        }
    }
}