<div class="nav-header">
    <button type="button" class="btn btn-danger">清空回收站</button>
</div>
<div class="catalog-body">
    <div class="file-header">
        <div class="check-box" [class]="{checked: checkedAll}" (click)="tapCheckAll()"></div>
        <div class="name sort-asc">文件名</div>
        <div class="size">大小</div>
        <div class="time">删除日期</div>
    </div>
    @for (item of items; track $index) {
        <div class="file-item" (click)="tapFile(item)">
            <div class="check-box" [class]="{checked: item.checked}"></div>
            <div class="file-icon">
                <i class="iconfont" [class]="item.icon"></i>
            </div>
            <div class="file-name">{{ item.name }}</div>
            <div class="file-info">
                <div class="file-size">{{ item.file?.size | size }}</div>
                <div class="file-time">{{ item.deleted_at | timestamp }}</div>
            </div>
        </div>
    }
</div>