.color-picker {
    position: relative;
    display: inline-block;
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
}
.color-picker-calendar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .5);
    height: 160px;
    border: 1px solid #000;
    color: #000;
    display: grid;
    grid-template-columns: 160px 30px;
    background-color: #fff;
    i {
        font: inherit;
        font-size: 12px;
    }
    .color-picker-h,
    .color-picker-sv {
        background-size: 100% 100%;
        position: relative;
    }
    .color-picker-h {
        border-left: 1px solid;
        background: transparent url('../../../assets/color-picker-h.png') no-repeat 50% 50%;
        background-image: linear-gradient(to top, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
        cursor: ns-resize;
        overflow: hidden;
        i {
            display: block;
            height: 6px;
            position: absolute;
            top: -3px;
            right: 0;
            left: 0;
            z-index: 3;
            &::before {
                display: block;
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border:3px solid;
                border-top-color: transparent;
                border-bottom-color: transparent;
            }
        }
    }
    .color-picker-sv {
        background: transparent url('../../../assets/color-picker-sv.png') no-repeat 50% 50%;
        background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0)), linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
        cursor: crosshair;
        i {
            display: block;
            width: 10px;
            height: 10px;
            position: absolute;
            top: -5px;
            right: -5px;
            z-index: 3;
            &::before,
            &::after {
                display: block;
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border: 1px solid;
                border-color: inherit;
                border-radius: 100%;
            }
            &::before {
                top: -1px;
                right: -1px;
                bottom: -1px;
                left: -1px;
                border-color: #fff;
            }
        }
    }
    .color-picker-h,
    .color-picker-sv {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
    }
}