<div class="question-editor">
    <div class="editor-header">
        <div class="title">
            <textarea class="form-control" placeholder="请输入题目内容" [(ngModel)]="content" (ngModelChange)="onValueChange()" [disabled]="!canEdit"></textarea>
            <div class="score-input">
                <input type="text" class="form-control btn-info" [(ngModel)]="score" placeholder="分数" maxLength="2" (ngModelChange)="onValueChange()">
            </div>
            <div class="analysis-input btn-success" *ngIf="canEdit" (click)="tapEditAnalysis(analysisModal)">
                {{ analysisItems.length > 0 ? '修改解析' : '添加解析' }}
            </div>
        </div>
        <div class="material">
            <ng-container *ngIf="materialType < 1 && materialFile">
                <img [src]="materialFile">
            </ng-container>
            <ng-container *ngIf="materialType == 1 && materialFile">
                <app-audio-player [src]="materialFile"></app-audio-player>
            </ng-container>
            <ng-container *ngIf="materialType == 2 && materialFile">
                <app-video-player [src]="materialFile"></app-video-player>
            </ng-container>
            <label for="upload-input" class="add-btn" title="上传图片/视频/音频" *ngIf="canEdit">
                <i class="iconfont icon-upload"></i>
                <input type="file" id="upload-input" accept="image/*,audio/*,video/*" (change)="uploadFile($event)">
            </label>
            <div class="add-btn btn-danger" *ngIf="materialFile && canEdit" title="删除素材" (click)="tapRemoveMaterial()">
                <i class="iconfont icon-trash"></i>
            </div>
        </div>
    </div>

    <div class="editor-option">
        <div *ngFor="let item of opitonItems;let i = index" class="option-item" [ngClass]="{'option-edit': editable}" (click)="tapEditOption(optionModal, i)">
            <div class="item-action" (click)="tapSelected($event, i)">
                <i class="iconfont" [ngClass]="{'icon-check': item.checked, 'icon-close': !item.checked}" title="标记当前选项是否正确"></i>
            </div>
            <div class="item-body">
                <div class="item-text" *ngIf="item.type != 1">
                    {{ item.content }}
                </div>
                <div class="item-image" *ngIf="item.type == 1">
                    <img [src]="item.content">
                </div>
                <div class="flex-icon" *ngIf="canEdit">
                    <i class="iconfont icon-minus" (click)="tapRemoveOption($event, i)" title="删除此选项"></i>
                </div>
            </div>
        </div>

        <div class="empty-option" *ngIf="canEdit">
            <div class="add-btn" (click)="tapEditOption(optionModal)">
                <i class="iconfont icon-plus"></i>
            </div>
        </div>
    </div>
</div>

<app-dialog-box #optionModal title="编辑选项" [scrollable]="false">
    <div class="form-group">
        <label>内容类型</label>
        <app-check-input [items]="optionTypeItems" [(ngModel)]="optionData.type" [rangeKey]="1"></app-check-input>
    </div>
    <ng-container *ngIf="optionData.type < 1">
        <textarea class="form-control" [(ngModel)]="optionData.content"></textarea>
    </ng-container>
    <ng-container *ngIf="optionData.type > 0">
        <app-file-input [(ngModel)]="optionData.content"></app-file-input>
    </ng-container>
    <div class="form-group">
        <label>是否正确</label>
        <app-switch [(ngModel)]="optionData.checked"></app-switch>
    </div>
    
</app-dialog-box>

<app-dialog-box #analysisModal title="管理题目解析">
    <div class="form-group">
        <label>内容类型</label>
        <select class="form-control" [(ngModel)]="analysisData.type">
            <ng-container *ngFor="let item of analysisTypeItems;let i = index">
                <option [value]="i">{{ item }}</option>
            </ng-container>
        </select>
    </div>
    <ng-container *ngIf="analysisData.type < 1">
        <textarea class="form-control" [(ngModel)]="analysisData.content" rows="15"></textarea>
    </ng-container>
    <ng-container *ngIf="analysisData.type > 0">
        <app-file-input [(ngModel)]="analysisData.content" accept="*/*"></app-file-input>
    </ng-container>
</app-dialog-box>