<app-edit-header [title]="data && data.id > 0 ? '编辑优惠券' : '新增优惠券'" (submited)="tapSubmit()" [disabled]="form.invalid">
</app-edit-header>
<div class="container-fluid">
    <form class="form-table-control panel-container" [formGroup]="form" (ngSubmit)="tapSubmit()">
        <div class="input-group-control">
            <label for="name">优惠券名称</label>
            <div>
                <input type="text" id="name" class="form-control" formControlName="name" >

            </div>
        </div>
        <div class="input-group-control">
            <label for="thumb">优惠券图片</label>
            <div>
                <app-file-input formControlName="thumb"></app-file-input>
            </div>
        </div>
        <div class="input-group-control">
            <label for="type">优惠券类型</label>
            <div>
                <select id="type" class="form-control" formControlName="type">
                    @for (item of typeItems; track $index) {
                    <option [value]="item.value">{{ item.name }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="input-group-control">
            <label for="rule">使用规则</label>
            <div>
                <select id="rule" class="form-control" formControlName="rule">
                    @for (item of ruleItems; track $index) {
                    <option [value]="item.value">{{ item.name }}</option>
                    }
                </select>

            </div>
        </div>
        <div class="input-group-control" [hidden]="ruleType < 1">
            <label for="scope">使用范围</label>
            <div>
                <app-select-input [url]="selectUrl" formControlName="rule_value" [multiple]="true"></app-select-input>
            </div>
        </div>
        <div class="input-group-control">
            <label for="min_money">使用门槛</label>
            <div>
                满<input type="text" id="min_money" class="form-control" formControlName="min_money">元
            </div>
        </div>
        <div class="input-group-control">
            <label for="money">{{ typeValue < 1 ? '面值/元' : '折扣/折' }}</label>
            <div>
                <input type="text" id="money" class="form-control" formControlName="money">
            </div>
        </div>
        <div class="input-group-control">
            <label for="send_type">发放类型</label>
            <div>
                <select id="send_type" class="form-control" formControlName="send_type">
                    <option [value]="0">前台领取</option>
                    <option [value]="1">购买商品</option>
                    <option [value]="2">订单金额</option>
                    <option [value]="3">签到</option>
                    <option [value]="4">按用户</option>
                    <option [value]="5">线下发放</option>
                </select>
            </div>
        </div>
        <div [hidden]="sendType > 0">
            <div class="input-group-control">
                <label for="send_value">发送数量</label>
                <div>
                    <input type="text" id="send_value" class="form-control" formControlName="send_value">
                </div>
            </div>
        </div>
        <div class="input-group-control">
            <label for="every_amount">每人限领</label>
            <div>
                <input type="text" id="every_amount" class="form-control" formControlName="every_amount">
            </div>
        </div>
        <div class="input-group-control">
            <label for="start_at">有效期</label>
            <div>
                <app-date-input formControlName="start_at" placeholder="请输入开始时间"></app-date-input>
                ~
                <app-date-input formControlName="end_at" placeholder="请输入结束时间"></app-date-input>
            </div>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-success">确认保存</button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>