<div class="dialog-mask" *ngIf="visible" (click)="close()"></div>
<div class="dialog-box" [@dialogOpen]="visible ? 'open' : 'closed'">
    <div class="flip-container" [ngStyle]="flipStyle">
        <div class="flip-item">
            <div class="input-label">食谱名</div>
            <div class="item-name">
                <input type="text" class="form-control" [(ngModel)]="data.name">
            </div>
            <div class="multiple-panel-header">
                <span>食材配料</span>
                <div class="panel-action">
                    <i class="iconfont icon-plus" (click)="tapEditLine()"></i>
                    <i class="iconfont icon-cog" [hidden]="items.length == 0" (click)="multipleEditable = !multipleEditable"></i>
                </div>
            </div>
            <div class="multiple-panel">
                <div class="input-flex" *ngFor="let item of items">
                    <div class="input-action" [hidden]="!multipleEditable">
                        <i class="iconfont icon-close" (click)="tapRemoveLine(item)"></i>
                        <i class="iconfont icon-edit" (click)="tapEditLine(item)"></i>
                    </div>
                    <label>{{ item.name }}
                        <em class="unit">/{{ item.unit }}</em>
                    </label>
                    <app-number-input [only]="false" [(ngModel)]="item.amount"></app-number-input>
                </div>
            </div>
            <div class="input-label">制作步骤</div>
            <textarea class="form-control" [(ngModel)]="data.remark"></textarea>
        </div>
        <div class="flip-item">
            <div class="flip-router-bar">
                <i class="iconfont icon-arrow-left" (click)="flipIndex = 0"></i>
                <span>新增配料</span>
            </div>
            <div class="input-label">配料名</div>
            <div class="item-name">
                <input type="text" class="form-control" [(ngModel)]="nextData.name">
            </div>
            <div class="input-flex">
                <label for="">单位</label>
                <input type="text" class="form-control" size="5" [(ngModel)]="nextData.unit">
            </div>
        </div>
    </div>
    <div class="dialog-footer">
        <div class="btn btn-secondary" (click)="close()">取消</div>
        <div class="btn btn-primary" (click)="close(true)">保存</div>
    </div>
</div>