<div class="container">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/" class="iconfont icon-home"></a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/frontend/exam" i18n>
                Home
            </a>
        </li>
        @if (data) {
        <li class="breadcrumb-item active">
            {{ data.title }}
        </li>
        }
    </ul>
</div>

@if (data) {
<div class="container">
    <div class="panel-container">
        @if (current.material) {
        <div class="material-panel">
            <h3>
                <app-math-mark [content]="current.material.title" [allowInput]="false" [editable]="false"></app-math-mark>
            </h3>
            <app-math-mark [content]="current.material.content" [allowInput]="false" [editable]="false"></app-math-mark>
            @if (current.material.image) {
                <img [src]="current.material.image">
            }
        </div>
        }
        <div class="question-panel">
            @for (item of current.items; track $index; let i = $index) {
                <app-question-input [value]="item" [editable]="!finished" (valueChange)="onQuestionChange($event, i)"></app-question-input>
            }
        </div>
        <div class="tool-bar">
            @if (!finished) {
            <app-countdown [end]="endTime" [auto]="true" (finished)="onTimeEnd()"></app-countdown>
            }
            <div class="btn-group">
                @if (page > 1) {
                <a class="btn btn-primary" (click)="tapPrevious()">上一页</a>
                }
                @if (!finished) {
                <app-action-button class="btn btn-danger" (tapped)="tapFinish($event)">交卷</app-action-button>
                }
                @if (page < pageItems.length) {
                <a class="btn btn-primary" (click)="tapNext()">下一页</a>
                }
            </div>
            
        </div>
    </div>
    
    @if (finished) {
    <div class="panel-container">
        @if (data.report) {
        <div class="msg-bar">
            <span class="left">
                <span
                    class="gray">答对：</span><span class="count-right">{{ data.report.right }}&nbsp;题</span>
            </span>
            <span
                class="left">
                <span class="gray">答错：</span>
                <span class="count-wrong">{{ data.report.wrong }}&nbsp;题</span>
                </span>
            <span class="left">
                <span
                    class="gray">正确率：</span>{{ data.report.scale }}%</span>
        </div>
        }
        <div class="panel sheet-panel">
            <div class="panel-header">
                答题卡
            </div>
            <div class="panel-body">
                <ul>
                    @for (item of cardItems; track $index; let i = $index) {
                        <li [ngClass]="{right: item.right > 0, wrong: item.right < 0, active: item.active}">
                            <a (click)="tapItem(i)">{{ item.order }}</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    }
</div>
}
