@if (open()) {
<div class="comment-viewer">
    @if (user()) {
    <div class="comment-publish">
        <div class="avatar">
            <img [src]="user().avatar" alt="">
        </div>
        <div class="reply-input">
            <div class="input">
                <textarea class="form-control" [field]="editData.content" (ngModelChange)="onCommentChange()"
                placeholder="Say something." i18n-placeholder></textarea>
            </div>
            <div class="input-actions">
                <div class="tools">
                    <app-emoji-picker class="tool-item" (tapped)="tapEmoji($event)">
                        <i class="iconfont icon-smile-o"></i>
                    </app-emoji-picker>
                </div>
                <i class="iconfont" [ngClass]="{'icon-square-o': !editData.is_forward, 'icon-check-square-o': editData.is_forward}" (click)="editData.is_forward = !editData.is_forward"></i>
                <ng-container i18n>At the same time forward to my posts</ng-container>
                
                <a class="btn btn-primary" (click)="tapComment()" i18n>Comment</a>
            </div>
        </div>
    </div>
    }
   @for (item of items; track $index) {
     <div class="comment-item">
        <div class="avatar">
            <img [src]="item.user.avatar" alt="">
        </div>
        <div>
            <div class="text">
                <a>{{ item.user.name }}</a>：
                <app-rule-block [value]="item.content" [rules]="item.extra_rule" />
            </div>
            <div class="actions">
                <span class="time">{{ item.created_at | ago }}</span>
                <div class="tools">
                    <a (click)="tapCommenting(item)">
                        <ng-container i18n>Comment</ng-container>
                        @if (item.reply_count > 0) {
                            ({{ item.reply_count | numberFormat }})
                        }
                    </a>
                    <a (click)="tapAgreeComment(item)" [ngClass]="{active: item.agree_type == 3}">
                        <ng-container i18n>Like</ng-container>
                        @if (item.agree > 0) {
                            ({{ item.agree | numberFormat }})
                        }
                    </a>
                </div>
            </div>
            @if (item.replies && item.replies.length > 0) {
            <div class="reply-box">
                @for (it of item.replies; track $index) {
                <div class="reply-item">
                    <div class="text">
                        <a>{{ it.user.name }}</a>：
                        <app-rule-block [value]="it.content" [rules]="it.extra_rule" />
                    </div>
                    <div class="actions">
                        <span class="time">{{ it.created_at | ago }}</span>
                        <div class="tools">
                            <a (click)="tapCommenting(it)">
                                <ng-container i18n>Comment</ng-container>
                                @if (it.reply_count > 0) {
                                    ({{ it.reply_count | numberFormat }})
                                }
                            </a>
                            <a (click)="tapAgreeComment(it)" [ngClass]="{active: it.agree_type == 3}">
                                <ng-container i18n>Like</ng-container>
                                @if (it.agree > 0) {
                                    ({{ it.agree | numberFormat }})
                                }
                            </a>
                        </div>
                    </div>
                </div>
                }
                
            </div>
            }
            
        </div>
    </div>
   }
    <div class="more-btn" [ngClass]="{disabled: !hasMore}" (click)="tapMore()" i18n>
        {hasMore, plural, =true {Read more} =false {No more~}}
    </div>
</div>
}