@if (data) {
<div class="container-fluid" [ngClass]="{'on-running': data && data.status != 5}">
    
    <div class="detail-box">
        <app-circle-progress class="timer-desc" (finished)="tapCheck()" />
        <div class="timer-name">{{ current.name }}</div>
        <div class="timer-desc">{{ current.description }}</div>
    </div>

    @if (items.length > 0) {
    <div class="expand-box" [ngClass]="{'open': expanded}">
        <div class="expand-header" (click)="expanded = !expanded">
            <i class="iconfont icon-chevron-down"></i>
        </div>
        <div class="expand-body">
            @for (item of items; track $index) {
                <div class="task-item" [ngClass]="{finished: item.status < 5}">
                <div class="name">{{ item.name }}</div>
                <div class="desc">{{ item.description }}</div>
                <div class="time">{{ item.time_length | hour }}</div>
                <div class="action">
                    <i class="iconfont icon-play"></i>
                </div>
            </div>
            }
        </div>
    </div>
    }
    

    <div class="action-box">
        @if (data.status == 5 || data.status == 8) {
        <div class="timer-play" title="开始计时" (click)="tapPlay()">
            <i class="iconfont icon-play"></i>
            <div class="label">开始计时</div>
        </div>
        } @else if (data.status == 9) {
        <div class="timer-pause" title="暂停计时" (click)="tapPause()">
            <i class="iconfont icon-pause"></i>
            <div class="label">暂停计时</div>
        </div>
        } @else if (data.status == 9) {
        <div class="timer-close" title="停止计时" (click)="tapStop()">
            <i class="iconfont icon-stop"></i>
            <div class="label">停止计时</div>
        </div>
        }
    </div>
    <div class="fixed-icon">
        <i class="iconfont icon-comments" (click)="panel.open()"></i>
    </div>
</div>
}

<app-comment-panel #panel [itemId]="current?.id" />