<div class="action-btn" [ngClass]="{loading: isLoading}">
    @if (items().length > 0) {
    <div class="btn-group action-body">
        @for (item of inlineItems; track $index) {
            <a class="btn" [ngClass]="item.color" (click)="tapItem(item)">
                <i class="iconfont btn-icon" [ngClass]="item.icon"></i>
                <span class="btn-label">{{ item.name }}</span>
            </a>
        }
        @if (dropItems.length > 0) {
        <div class="btn-group btn-group-custom" (click)="dropVisible = !dropVisible">
            <button class="btn btn-setting dropdown-toggle" [ngClass]="{show: dropVisible}">
                <i class="iconfont icon-cog"></i>
            </button>
            <ul class="dropdown-menu" [ngClass]="{show: dropVisible}">
                @for (item of dropItems; track $index) {
                <li [ngClass]="item.color" (click)="tapItem(item)">
                    <i class="iconfont btn-icon" [ngClass]="item.icon"></i>
                    <span class="btn-label">{{ item.name }}</span>
                </li>
                }
                
            </ul>
        </div>
        }
        
    </div>
    }
    
    <div class="action-loading btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>