<div class="action-btn" [ngClass]="{loading: isLoading}">
    <div class="btn-group action-body" *ngIf="items.length > 0">
        <ng-container *ngFor="let item of inlineItems">
            <a class="btn" [ngClass]="item.color" (click)="tapItem(item)">
                <i class="iconfont btn-icon" [ngClass]="item.icon"></i>
                <span class="btn-label">{{ item.name }}</span>
            </a>
        </ng-container>
        <div class="btn-group btn-group-custom" *ngIf="dropItems.length > 0" (click)="dropVisible = !dropVisible">
            <button class="btn btn-setting dropdown-toggle" [ngClass]="{show: dropVisible}">
                <i class="iconfont icon-cog"></i>
            </button>
            <ul class="dropdown-menu" [ngClass]="{show: dropVisible}">
                <li *ngFor="let item of dropItems" [ngClass]="item.color" (click)="tapItem(item)">
                    <i class="iconfont btn-icon" [ngClass]="item.icon"></i>
                    <span class="btn-label">{{ item.name }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="action-loading btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>