@use '../../styles/theme';

.page-tooltip-bar {
    --#{theme.$prefix}tooltip: var(--#{theme.$prefix}surface);
    --#{theme.$prefix}tooltip-text: var(--#{theme.$prefix}surface-text);
    border: 1px dashed var(--#{theme.$prefix}border);
    padding: 10px;
    border-radius: 5px;
    background-color: var(--#{theme.$prefix}tooltip);
    position: relative;
    .tooltip-header {
        color: var(--#{theme.$prefix}info);
    }
    .tooltip-body {
        color: var(--#{theme.$prefix}tooltip-text);
        ul {
            width: 100%;
            padding: 0;
            li {
                padding-left: .625rem;
                list-style: inside;
                a {
                    color: var(--#{theme.$prefix}tooltip-text);
                }
            }
        }
    }
    .tooltip-toggle {
        color: var(--#{theme.$prefix}tooltip-text);
        position: absolute;
        right: 0;
        top: .625rem;
        height: 1.625rem;
        width: 1.625rem;
        &::before {
            font-family: "iconfont";
            font-size: 14px;
            font-weight: 900;
            font-size: inherit;
            text-rendering: auto;
            content: "\e6e2";
        }
    }
    &.tooltip-min {
        width: 12.5rem;
        .tooltip-header {
            margin-bottom: 0;
        }
        .tooltip-body {
            display: none;
        }
        .tooltip-toggle {
            &::before {
                content: "\e6fc";
            }
        }
    }
}