ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.flex-container {
    position: relative;
    padding-left: 20rem;
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 20rem;
        background-color: white;
    }
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: inherit;
    .band-logo {
        display: block;
        text-align: center;
        img {
            height: 3rem;
            max-width: 100%;
        }
    }
    li {
        text-align: center;
        line-height: 2.5rem;
        &:hover {
            background-color: rgba($color: #000000, $alpha: .1);
        }
    }
}

@media screen and (max-width: 769px) {
    .flex-container {
        padding-left: 6rem;
        .navbar {
            width: 6rem;
        }
    }
    .navbar {
        li {
            text-align: left;
            padding-left: .8rem;
        }
    }
}

.flex-body ::ng-deep {
    .search-floor {
        display: flex;
        justify-content: space-between;
        margin: .5rem 0;
    }
    .back-btn,
    .search-icon {
        position: static;
        width: 2.5rem;
        height: 2.5rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        z-index: 9;
        font-size: 1.875rem;
        cursor: pointer;
        background-color: #fff;
        color: #666;
        border: 1px solid #ccc;
        margin-right: 1rem;
        margin-left: .8rem;
        &:hover {
            background-color: #eee;
        }
    }
    .btn-icon {
        border-radius: .3rem;
        background-color: #bb0b0b;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 4rem;
        height: 4rem;
        color: #fff;
        .icon {
            font-size: 3rem;
            line-height: 2rem;
        }
        .label {
            display: none;
            font-size: .8rem;
        }
        &:hover,
        &.active {
            background-color: #c43434;
            color: #fff;
            .icon {
                font-size: 2rem;
            }
            .label {
                display: block;
            }
        }
    }
    .movie-item {
        position: relative;
        width: 15rem;
        display: inline-block;
        transition: all 1s;
        .item-image {
            height: 20rem;
            overflow: hidden;
            img {
                min-width: 100%;
                min-height: 100%;
            }
        }
        .item-body {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            color: #fff;
            padding: .8rem;
            background-color: rgba($color: #000000, $alpha: .3);
            .star-bar,
            .item-leader {
                display: none;
                margin-top: .5rem;
            }
        }
        .item-name {
            font-weight: bold;
        }
        &.active {
            transform: scaleY(1.1);
            box-shadow: 0 10px 10px 10px rgba($color: #000000, $alpha: .3);
            z-index: 99;
            .item-body {
                background-color: rgba($color: #03fef1, $alpha: .7);
                .star-bar,
                .item-leader {
                    display: block;
                }
            }
        }  
    }
    .music-list-item {
        display: inline-block;
        width: 12rem;
        padding: .4rem;
        .item-cover {
            overflow: hidden;
            position: relative;
            height: 12rem;
            background-color: #ccc;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform 500ms;
            }
        }
        .item-icon {
            position: absolute;
            bottom: 0;
            right: 0;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
            font-size: 3rem;
            border: 0 solid #fff;
            border-radius: 50%;
            box-sizing: border-box;
            transition: all .5s;
        }
        .item-body {
            padding: .8rem 0;
        }
        &:hover {
            background-color: #f4f4f4;
            .item-icon {
                border-width: .2rem;
                bottom: 4rem;
                right: 4rem;
            }
            .item-cover {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }
    .router-bar {
        background-color: white;
        line-height: 2.5rem;
        z-index: 150;
        .tool-item {
            display: inline-block;
            padding: 0 .8rem;
            user-select: none;
            cursor: pointer;
            &:hover {
                background-color: #f4f4f4;
            }
        }
    }
}