<app-edit-header title="Setting" />

<div class="container">
    <div class="input-item">
        <div class="item-icon">
            <i class="iconfont icon-bookmark"></i>
        </div>
        <div class="item-body">
            <div class="item-name">新消息通知</div>
        </div>
        <div class="item-action">
            <app-switch onLabel="开" offLabel="关" />
        </div>
    </div>
    <div class="input-item">
        <div class="item-icon">
            <i class="iconfont icon-wifi"></i>
        </div>
        <div class="item-body">
            <div class="item-name">勿扰模式</div>
        </div>
        <div class="item-action">
            <app-switch onLabel="开" offLabel="关" />
        </div>
    </div>
</div>