<div class="container">
  <div class="book-title">
    标题
  </div>
  <div class="book-full-body">
    <div class="info">
        <a class="author" href="https://zodream.cn/blog/user/1.html"><i class="iconfont icon-edit"></i><b>zodream</b></a>
        <a class="category" href="https://zodream.cn/blog/category/3.html"><i class="iconfont icon-bookmark"></i><b>编程技术</b></a>
        <a class="language" href="https://zodream.cn/blog/?programming_language=TypeScript"><i
                class="iconfont icon-code"></i><b>TypeScript</b></a>
        <span class="time"><i class="iconfont icon-calendar-check"></i><b>23小时前</b></span>
    </div>
    <article id="content" class="content">
      <div [innerHTML]="content"></div>
      <p class="book-copyright">转载请保留原文链接：
          <a href="https://zodream.cn/blog/id/137.html" title="angular 9 添加启动加载动画">https://zodream.cn/blog/id/137.html</a>
      </p>
    </article>
    <div class="book-bottom">
          <div class="book-source">
              <span>转载于：</span>
              <a href="https://zodream.cn/to/0/url/aHR0cHM6Ly93d3cuY25ibG9ncy5jb20veml5YW5kZXlhbmh1by9wLzkyNjczNTQuaHRtbA.html"
                  target="_blank" title="本文为转载内容，点击查看原网页">
                  https://www.cnblogs.com/ziyandeyanhuo/p/9267354.html </a>
          </div>
          <div class="book-tags">
              <span>标签：</span>
              <a href="https://zodream.cn/blog/0/tag/angular.html">angular</a>，
        </div>
    </div>
    <div class="tools">
        <span class="comment"><i class="iconfont icon-comments"></i><b>0</b></span>
        <span class="click"><i class="iconfont icon-eye"></i><b>4</b></span>
        <span class="agree recommend-blog"><i class="iconfont icon-thumbs-up"></i><b>0</b></span>
    </div>
  </div>

  <div class="book-navigation">
      <a class="prev" href="https://zodream.cn/blog/id/135.html">
          <i class="iconfont icon-chevron-left"></i>
          <div class="prev-text">
              <span class="prev-label">上一篇</span>
              <span class="prev-title">angular 9 使用</span>
          </div>
      </a>
      <a class="next" href="https://zodream.cn/blog/id/137.html">
          <div class="next-text">
              <span class="next-label">上一篇</span>
              <span class="next-title">angular 9 添加启动加载动画</span>
          </div>
          <i class="iconfont icon-chevron-right"></i>
      </a>
  </div>
  <div class="panel">
      <div class="panel-header">
          <a href="https://zodream.cn/blog/blog.html">相关文章</a>
      </div>
      <div class="panel-body">
          <div class="list-item"><a class="name" href="https://zodream.cn/blog/id/21.html">Angular CORS 跨域请求解决方法</a>
              <div class="time">2018-12-06</div>
          </div>
          <div class="list-item"><a class="name" href="https://zodream.cn/blog/id/135.html">angular 9 使用</a>
              <div class="time">23小时前</div>
          </div>
          <div class="list-item"><a class="name" href="https://zodream.cn/blog/id/137.html">angular 9 添加启动加载动画</a>
              <div class="time">23小时前</div>
          </div>
      </div>
  </div>
</div>