<div class="container loading-box">
    <div *ngIf="item">
        <div class="book-title">
            {{ item.title }}
        </div>
        <div class="book-full-body">
            <div class="info">
                <a class="author" *ngIf="item.user" routerLink="../" [queryParams]="{user: item.user.id}"><i
                        class="iconfont icon-edit"></i><b>{{ item.user.name }}</b></a>
                <a class="category" *ngIf="item.term" routerLink="../" [queryParams]="{category: item.term.id}"><i
                        class="iconfont icon-bookmark"></i><b>{{ item.term.name }}</b></a>
                <a class="language" *ngIf="item.programming_language" routerLink="../"
                    [queryParams]="{programming_language: item.programming_language}"><i
                        class="iconfont icon-code"></i><b>{{ item.programming_language }}</b></a>
                <span class="time"><i class="iconfont icon-calendar-check"></i><b>{{ item.created_at }}</b></span>
            </div>
            <article id="content" class="content style-markdown">
                <div [innerHTML]="content"></div>
                <p class="book-copyright" *ngIf="item.url">转载请保留原文链接：
                    <a [href]="item.url" [title]="item.title">{{ item.url }}</a>
                </p>
            </article>
            <div class="book-bottom">
                <div class="book-source" *ngIf="item.type == 1">
                    <span>转载于：</span>
                    <a [href]="item.source_url" target="_blank" title="本文为转载内容，点击查看原网页">
                        {{item.source_url}} </a>
                </div>
                <div class="book-tags" *ngIf="item.tags">
                    <span>标签：</span>
                    <ng-container *ngFor="let tag of item.tags">
                        <a routerLink="../" [queryParams]="{tag: tag.name}">{{ tag.name }}</a>，
                    </ng-container>
                </div>
            </div>
            <div class="tools">
                <span class="comment"><i class="iconfont icon-comments"></i><b>{{ item.comment_count }}</b></span>
                <span class="click"><i class="iconfont icon-eye"></i><b>{{ item.click_count }}</b></span>
                <span class="agree recommend-blog"><i
                        class="iconfont icon-thumbs-up"></i><b>{{ item.recommend }}</b></span>
            </div>
        </div>

        <div class="book-navigation">
            <a class="prev" *ngIf="item.previous" (click)="loadBlog(item.previous.id)">
                <i class="iconfont icon-chevron-left"></i>
                <div class="prev-text">
                    <span class="prev-label">上一篇</span>
                    <span class="prev-title">{{ item.previous.title }}</span>
                </div>
            </a>
            <a class="next" *ngIf="item.next" (click)="loadBlog(item.next.id)">
                <div class="next-text">
                    <span class="next-label">上一篇</span>
                    <span class="next-title">{{ item.next.title }}</span>
                </div>
                <i class="iconfont icon-chevron-right"></i>
            </a>
        </div>
        <div class="panel" *ngIf="item.relation && item.relation.length > 0">
            <div class="panel-header">
                <a routerLink="../">相关文章</a>
            </div>
            <div class="panel-body">
                <ng-container *ngFor="let blog of item.relation">
                    <div class="list-item" (click)="loadBlog(blog.id)">
                        <a class="name">{{ blog.title }}</a>
                        <div class="time">{{ blog.created_at }}</div>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>
</div>