<div class="user-page">
    <div class="container side-box">
        <div>
            <app-user-menu currentUrl="member/price_protect" />
        </div>
        <div>
           <div class="row order-search">
               <div class="col-md-8">
                    <div class="header-tab">
                        <a href="" class="active">价保申请记录</a>
                        <a href="">价格保护申请</a>
                        <a href="">价格保护规则</a>
                    </div>
               </div>
               <div class="col-md-4">
                    <form class="flat-search" (submit)="tapSearch($event)">
                        <input type="text" id="keywords" [formField]="queries.keywords">
                        <button>搜索</button>
                    </form>
               </div>
           </div>
           <table class="table table-hover">
               <thead>
                   <th>商品</th>
                   <th>订单编号</th>
                   <th>申请时间</th>
                   <th>下单时价格</th>
                   <th>数量</th>
                   <th>价保时价格</th>
                   <th>价保数量</th>
                   <th>价保金额</th>
                   <th>申请状态</th>
               </thead>
               <tbody>
                   @for (item of items(); track $index) {
                    <tr>
                       <td>
                           <a [routerLink]="['../../goods', item.goods.id]">
                                <img [appLazyLoad]="item.goods.thumb" [alt]="item.goods.name">
                           </a>
                       </td>
                       <td>{{ item.order_id }}</td>
                       <td>{{ item.created_at }}</td>
                       <td>{{ item.order_price | price }}</td>
                       <td>x {{ item.amount }}</td>
                       <td>{{ item.goods.price | price }}</td>
                       <td> x {{ item.amount }}</td>
                       <td>{{ item.money | price }}</td>
                       <td>
                           <p>价保成功</p>
                           <a class="btn">查看详情</a>
                       </td>
                   </tr>
                   }
               </tbody>
           </table>

           <app-pagination [total]="total()" [formField]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
        </div>
    </div>
</div>

