<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>直播源列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <app-upload-button class="btn btn-info" (uploading)="tapImport($event)">导入</app-upload-button>
                    <a class="btn btn-danger" (click)="tapExport()">导出</a>
                    <a class="btn btn-success" (click)="open(modal)">新增直播源</a>
                </div>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>直播源</th>
                    <th>地址</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>
                        @if (item.thumb) {
                            <img [src]="item.thumb" alt="">
                        }
                    </td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>
                        <div class="source-label">{{ item.source }}</div>
                    </td>
                    <td>
                        <app-switch [(ngModel)]="item.status" (ngModelChange)="onStatusChange(item)" onLabel="有效" offLabel="已失效" />
                    </td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <a class="btn btn-info" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
    
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()" />
    </div>
</div>

<app-dialog-box #modal [title]="editData.id > 0 ? '编辑直播源' : '新增直播源'" [scrollable]="false">
    <div class="form-group">
        <label for="name-input">名称</label>
        <div class="input-group-control">
            <input class="form-control" id="name-input" [(ngModel)]="editData.title" placeholder="请输入名称">
        </div>
    </div>
    <div class="form-group">
        <label for="name-input">预览图</label>
        <div class="input-group-control">
            <app-file-input [(ngModel)]="editData.thumb" />
        </div>
    </div>
    <div class="form-group">
        <label for="name-input">地址</label>
        <div class="input-group-control">
            <input class="form-control" [(ngModel)]="editData.thumb">
        </div>
    </div>
</app-dialog-box>