
@if (bannerItems && bannerItems.length > 0) {
<div class="banner">
    <app-swiper>
        @for (item of bannerItems; track $index) {
        <app-swiper-item>
            <div class="picsum-img-wrapper">
                <img [src]="item.content" style="width: 100%;">
            </div>
            @if (item.name) {
            <div class="carousel-caption">
                <h3>{{ item.name }}</h3>
            </div>
            }
        </app-swiper-item>
        }
    </app-swiper>
</div>
}
<div class="floor">
    <div class="container">
        <div class="template-lazy" appLazyLoad (lazyLoading)="loadBrand()">
            <div class="floor-header">
                <h3 i18n>Featured Brands</h3>
                <small></small>
                <a class="header-right">
                    <ng-container i18n>More</ng-container>
                    &gt;</a>
            </div>
            @if (brandItems.length > 0) {
            <div class="floor-grid">
                @for (item of brandItems; track $index) {
                <a>
                    <div class="name">{{ item.name }}</div>
                    <div class="price">{{ item.price | price }}</div>
                    <img [src]="item.image" alt="">
                </a>
                }
            </div>
            }
        </div>
    </div>
</div>
<div class="template-lazy" appLazyLoad (lazyLoading)="loadNew()">
    <div class="floor">
        <div class="container">
            <div class="floor-header">
                <h3 i18n>New Products</h3>
                <small></small>
                <a class="header-right"><ng-container i18n>More</ng-container>&gt;</a>
            </div>
            @if (newItems.length > 0) {
            <app-goods-slider [items]="newItems"></app-goods-slider>
            }
        </div>
    </div>
    
    <div class="floor floor-out">
        <div class="container">
            <div class="floor-header">
                <h3 i18n>Featured Products</h3>
                <small></small>
                <small></small>
                <a class="header-right"><ng-container i18n>More</ng-container>&gt;</a>
            </div>
            @if (bestItems.length > 0) {
            <div class="first-goods-list">
                @for (item of bestItems; track $index) {
                  <a [routerLink]="'./goods/' + item.id" class="goods-item">
                    <div class="thumb">
                        <img [src]="item.thumb" alt="">
                    </div>
                    <div class="name">{{ item.name }}</div>
                    <div class="price">{{ item.price | price }}</div>
                </a>
                }
            </div>
            }
        </div>
    </div>
</div>


<div class="template-lazy" appLazyLoad (lazyLoading)="loadFloor()">
    @for (floor of floorItems; track $index) {
    <div class="floor category-floor">
        <div class="container">
            <div class="floor-header">
                <h3>{{ floor.name }}</h3>
                <div class="header-right">
                    @for (item of floor.children; track $index; let i = $index) {
                        @if (i > 0) {
                        <b class="spilt">/</b>
                        }
                        <a [routerLink]="'category/' + item.id">{{ item.name }}</a>
                    }
                    <a [routerLink]="'category/' + floor.id"><ng-container i18n>More</ng-container>&gt;</a>
                </div>
                
            </div>
            <div class="category-banner">
                <img [src]="floor.banner" alt="">
            </div>
            <div class="goods-list">
                <div class="row">
                    @for (item of floor.goods_list; track $index) {
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <a [routerLink]="'./goods/' + item.id" class="goods-item item-hover">
                                <div class="thumb">
                                    <img [src]="item.thumb" alt="">
                                </div>
                                <div class="name">{{ item.name }}</div>
                                <div class="price">{{ item.price | price }}</div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    }
</div>

<div class="floor floor-out comment-floor">
    <div class="container">
        <div class="template-lazy" appLazyLoad (lazyLoading)="loadComment()">
            <div class="floor-header">
                <h3 i18n>Customer reviews</h3>
                <small></small>
            </div>
            @if (commentItems.length > 0) {
            <app-goods-slider [items]="commentItems"></app-goods-slider>
            }
        </div>
    </div>
</div>