.floor,
.template-lazy {
    min-height: 200px;
}

.floor {
    .floor-header {
        padding-top: 13px;
        margin-top: 30px;
        padding-bottom: 20px;
        h3 {
            font-size: 28px;
            font-weight: 700;
            line-height: 1;
            display: inline-block;
            margin-right: 20px;
        }
        small {
            padding-top: 13px;
            display: inline-block;
            line-height: 1;
        }
        .header-right {
            float: right;
            padding-top: 8px;
            a {
                &:last-child {
                    margin-left: 20px;
                }
            }
        }
    }
    .floor-grid {
        display: grid;
        height: 320px;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        grid-gap: 9px;
        a {
            position: relative;
            padding-left: 20px;
            &:first-child,
            &:nth-child(2) {
                grid-row: 1/3;
                text-align: center;
                padding-left: 0;
            }
            .name {
                font-size: 24px;
                margin: 48px 0 19px;
                line-height: 1;
                border-right: 0;
                border-left: 0;
                z-index: 3;
                position: relative;
            }
            .price {
                font-size: 14px;
                padding-top: 17px;
                display: inline-block;
                width: auto;
                border-top: 1px solid #666;
                z-index: 3;
                position: relative;
            }
            img {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                text-align: center;
                transition: transform 1s;
                z-index: 1;
            }
        }
    }
    &.floor-out {
        background: #f4f0ea;
        padding: 30px 0;
    }
    
}

.first-goods-list {
    .goods-item {
        margin: 5px;
    }
}

.comment-floor {
    .goods-item {
        position: relative;
        .thumb {
            width: 367px;
            height: 367px;
        }
        .comment-item {
            position: absolute;
            padding: 20px 15px;
            bottom: 0;
            background: #fff;
            width: 340px;
            min-height: 180px;
            left: 50%;
            margin-left: -170px;
            overflow: hidden;
            .item-top {
                color: #999;
                font-size: 13px;
                line-height: 1;
                margin-bottom: 12px;
                span {
                    margin-right: 10px;
                }
            }
            .item-middle {
                margin-bottom: 16px;
                .name {
                    max-width: 190px;
                    font-size: 16px;
                    height: 16px;
                    overflow: hidden;
                    text-align: left;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .price {
                    margin-right: 15px;
                    color: #b4a078;
                    float: right;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .first-goods-list {
        display: grid;
        height: 530px;
        grid-template: 1fr 1fr/1.75fr 1fr 1fr 1fr;
        grid-gap: 10px;
        a {
            position: relative;
            text-align: center;
            background: #fff;
            &:first-child {
                grid-row: 1/3;
                .thumb {
                    width: 390px;
                    height: 360px;
                    img {
                        width: 320px;
                        height: 320px;
                        margin: 20px 35px;
                    }
                }
                .name {
                    margin-bottom: 13px;
                    font-size: 18px;
                    padding-top: 20px;
                }
            }
            .thumb {
                width: 180px;
                height: 180px;
            }
            .name {
                border-top: 1px solid #F4F0EA;
                padding-top: 10px;
            }
        }
    }
}