.user-container {
    padding: 10vh 0 3em;
    text-align: center;
    .avatar {
        display: inline-block;
        position: relative;
        width: 6em;
        height: 6em;
        margin-bottom: 1em;
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 4px solid #fff;
            background-color: rgba(229, 231, 235);
        }
        &::before {
            content: " ";
            display: block;
            width: 6em;
            height: 6em;
            background-color: #fff;
            position: absolute;
            top: 0;
            border-radius: 50%;
            z-index: -1;
            transition: all 1s;
            animation: circle 1s ease-in 0s infinite;
        }
    }
    .name {
        font-size: 2em;
        font-weight: bold;
    }
    .extra {
        font-size: .8em;
        color: #777;
    }
    .count-bar {
        margin-top: 1em;
        width: 100%;
        display: flex;
        .item {
            display: inline-block;
            flex: 1;
            strong {
                padding-left: .5em;
            }
            &:not(:last-of-type) {
                border-right: 1px solid #ccc;
                margin-right: 1em;
            }
        }
    }
}
.title-bar {
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em 0;
}
.add-btn {
    border: 4px dashed #ccc;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8.75rem;
    user-select: none;
    cursor: pointer;
    .iconfont {
        display: block;
        font-size: 2.25em;
    }
}
@keyframes circle {
    0% {
        opacity: 1;
        transform: scale(.8);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

@media (min-width: 768px) {
    .user-container {
        text-align: left;
        padding-left: 5vw;
        display: flex;
        .extra-body {
            margin-left: 1em;
            flex: 1;
        }
        .count-bar {
            width: 400px;
        }
    }
}