<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">
                <img [src]="'assets/images/favicon.png' | asset" alt="ZoDream" width="40" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
                aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarID">
                <div class="navbar-nav mr-auto">
                    <a class="nav-link" aria-current="page" routerLink="./" i18n>Home</a>
                    @for (item of navItems; track $index) {
                        <a class="nav-link" [class]="{active: item.active}" aria-current="page" [routerLink]="item.url">{{ item.name }}</a>
                    }
                    <a class="nav-link" aria-current="page" routerLink="site" i18n>Template</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link" routerLink="/frontend/user/visual" i18n>Upload</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="visual-container">
    <router-outlet />
</div>
<footer class="bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="align-center">
                    Copyright ©zodream.cn, All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>