<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-4 col-xl-3" *ngFor="let item of items">
            <a class="card-item" [routerLink]="['emulate', item.id]">
                <div class="card-img-top">
                    <img [src]="item.avatar" class="card-img-top" [alt]="item.name">
                </div>
                <div class="card-body">
                  <p class="card-text">{{ item.description }}</p>
                </div>
            </a>
        </div>
    </div>
    <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
</div>