@for (item of items; track $index) {
    <div class="select--with-search" [class]="{focus: item.focus, 'select-loading': item.isLoading}">
        <div class="select-input" [class]="{'input--with-placeholder': !item.label}" (click)="item.focus = !item.focus">
            {{ item.label || placeholder() }}
        </div>
        <div class="select-option-bar">
            @if (item.searchable) {
            <div class="search-option-item">
                <input type="search" placeholder="Enter搜索" [(value)]="item.keywords" (keydown)="onKeydown($event, item)">
                <i class="iconfont icon-search"></i>
            </div>
            }
            
            <div class="loading-option-item">
                加载中。。。
            </div>
            @if (item.items && item.items.length > 0) {
                @for (option of item.items; track $index) {
                <div class="option-item" [class]="{selected: option.value === item.value}" (click)="tapSelect(item, option)">
                    {{ option.name }}
                </div>
                }
            }
        </div>
    </div>
}
