@use "sass:math";
@use '../../../theme/theme';
@use '../../../../bootstrap/desktop/mixins';

$lineHeight: 2.5rem;
$dialogIndex: 99;

.select-input-container {
    line-height: $lineHeight;
    display: inline-block;
    width: 5 * $lineHeight;
}