@for (item of items(); track $index; let i = $index) {
    <div class="select-input-container" [class.--with-open]="item.focus">
        <div class="input-container" [class.--with-placeholder]="!item.label" (click)="toggleFocus(i)">
            {{ item.label || placeholder() }}
        </div>
        <div class="option-container">
            @if (item.searchable) {
            <div class="search-option-item">
                <input type="search" i18n-placeholder placeholder="Enter to search" [(value)]="item.keywords" (keydown)="onKeydown($event, item)">
                <i class="iconfont icon-search"></i>
            </div>
            }
            
            @if (item.isLoading) {
                <div class="loading-option-item" i18n>Loading...</div>
            }
            @if (item.items && item.items.length > 0) {
                <div class="scroll-option-body">
                    @for (option of item.items; track $index; let j = $index) {
                    <div class="option-item" [hidden]="option.disabled" [class.selected]="option.selected" (click)="tapItem(i, j)">
                        {{ option.label }}
                    </div>
                    }
                </div>
            }
        </div>
    </div>
}
