<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>发货单列表</li>
        </ul>
    </app-page-tip>

    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    
        <div class="order-box">
            @for (item of items; track $index) {
                <div class="order-item">
                <div class="item-header">
                    <span>{{ item.created_at }}</span>
                    <span>订单号：{{ item.order.series_number }}</span>
                    <span>物流方式：{{ item.shipping_name }}</span>
                    <span>物流单号：{{ item.logistics_number }}</span>
                    <span>状态：{{ formatStatus(item.status) }}</span>
                </div>
                <div class="item-body">
                    <div class="item-goods">
                        @for (goods of item.goods; track $index) {
                        <div class="goods-item">
                            <div class="goods-img">
                                <img [src]="goods.thumb">
                            </div>
                            <div class="goods-info">
                                <h4>{{ goods.name }}</h4>
                                <p>{{ goods.type_remark }}</p>
                                <span class="price">{{ goods.price }}</span>
                                <span class="amount"> x {{ goods.amount }}</span>
                            </div>
                        </div>
                        }
                    </div>
                    <div class="item-user">
                        <p>用户名：{{ item.user.name }}</p>
                        <p>收货人：{{ item.name }}</p>
                        <p>{{ item.tel }}</p>
                    </div>
                    <div class="item-actions">
                        <a (click)="tapLogistics(logisticsModal, item)">物流记录</a>
                        <a class="btn btn-danger btn-xs" (click)="tapRemove(item)">删除</a>
                    </div>
                </div>
            </div>
            }
        </div>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()" />
    </div>
</div>
<app-dialog-box #logisticsModal title="物流信息" [footerVisible]="false">
<div class="time-axis">
    <div class="time-item active">
        <div class="item-icon">收</div>
        @if (logisticsData.data) {
        <div class="item-body">
            收货地址：{{ logisticsData.data.region_name }} {{logisticsData.data.address }}
        </div>
        }
    </div>
    @for (item of logisticsData.items; track $index; let i = $index) {
        <div class="time-group" [ngClass]="{active: i < 1}">
            <div class="group-icon">
                <i class="iconfont icon-check" [ngClass]="formatStatusIcon(item.status)"></i>
            </div>
            <div class="group-header">
                {{ formatStatus(item.status) }}
            </div>
            <div class="group-body">
                @for (it of item.items; track $index) {
                <div class="time-item">
                    <div class="item-icon"></div>
                    <div class="item-body">
                        {{ it.content }}
                    </div>
                    <div class="item-time">
                        {{ it.time | timestamp }}
                    </div>
                </div>
                }
            </div>
        </div>
    }
</div>
@if (!logisticsData.open) {
<div class="btn btn-primary" (click)="tapOpenAdd()">
    <i class="iconfont icon-plus"></i>
</div>
}
@if (logisticsData.open) {
<div class="form-table-control">
    <div class="input-group-control">
        <label for="">状态</label>
        <div>
            <select  class="form-control" [(ngModel)]="logisticsData.status">
                @for (item of statusItems; track $index; let i = $index) {
                <option [value]="i">{{ item }}</option>
                }
            </select>
        </div>
    </div>
    <div class="input-group-control">
        <label for="">物流内容</label>
        <div>
            <textarea class="form-control" [(ngModel)]="logisticsData.content"></textarea>
        </div>
    </div>
    <div class="input-group-control">
        <label for="">发生时间</label>
        <div>
            <app-date-input format="yyyy-mm-dd hh:ii:ss" [(ngModel)]="logisticsData.time" />
        </div>
    </div>
    <div class="btn-group">
        <div class="btn btn-primary" (click)="tapAddLogistics()">更新</div>
        <div class="btn btn-danger" (click)="logisticsData.open = false">取消</div>
    </div>
</div>
}
</app-dialog-box>