@if (visible()) {
<div class="dialog-panel" animate.enter="panel-opened" animate.leave="panel-closed">
    <div class="panel-header">
        <i class="iconfont icon-close" (click)="visible.set(false)"></i>
    </div>
    <div class="panel-search-bar">
        <input type="text" [formField]="queries.keywords" (keypress)="searchEnter($event)">
        <i class="iconfont icon-search" (click)="tapSearch()"></i>
    </div>
    <div class="panel-body">
        @for (item of items(); track $index) {
            <div class="task-item">
            <div class="name">{{ item.name }}</div>
            <div class="desc">{{ item.description }}</div>
            <div class="action">
                <i class="iconfont icon-plus" (click)="tapItem(item)"></i>
            </div>
        </div>
        }
    </div>
</div>
}