<div class="user-page">
    <div class="container side-box">
        <div>
            <app-user-menu currentUrl="member/account/center" />
        </div>
        <div class="panel history-panel">
            <div class="panel-header">
                <span>帐号安全</span>
            </div>
            <div class="panel-body">
                @for (item of items; track $index) {
                    <div class="connect-item">
                    <div class="name">
                        <i class="iconfont" [class]="item.icon"></i>
                        {{ item.name }}
                        @if (item.nickname) {
                            ({{ item.nickname }})
                        }
                    </div>
                    <div class="action">
                        @if (item.id) {
                            <a >解绑</a>
                        } @else {
                            <a >绑定</a>
                        }
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
