@use '../../../theme/theme';
.panel {
    --#{theme.$prefix}panel-header: transparent;
    --#{theme.$prefix}panel-header-text: var(--#{theme.$prefix}body-text);
    box-shadow: 0 0 1px rgba(var(--#{theme.$prefix}mask-rgb),.125), 0 1px 3px rgba(var(--#{theme.$prefix}mask-rgb),.2);
    margin-bottom: 1rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--#{theme.$prefix}panel);
    background-clip: border-box;
    border: 0 solid var(--#{theme.$prefix}border);
    border-radius: .25rem;
    .panel-header {
        background-color: var(--#{theme.$prefix}panel-header);
        color: var(--#{theme.$prefix}panel-header-text);
        border-bottom: 1px solid var(--#{theme.$prefix}border);
        padding: .75rem 1.25rem;
        position: relative;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        line-height: 2rem;
        border-left: none;
        .panel-action {
            float: right;
            margin-right: -.625rem;
        }
    }
    .panel-title {
        float: left;
        font-size: 1.1rem;
        font-weight: 400;
        margin: 0;
    }
    .panel-body {
        flex: 1 1 auto;
        padding: 5px;
    }
    .panel-toggle-arrow {
        font-style: normal;
        &::before {
            font-family: "iconfont";
            font-size: 14px;
            font-weight: 900;
            font-size: inherit;
            text-rendering: auto;
            content: "\e6e2";
        }
    }
    &.panel-primary {
        --#{theme.$prefix}panel-header: var(--#{theme.$prefix}primary);
        --#{theme.$prefix}panel-header-text: var(--#{theme.$prefix}primary-text);
    }
    &.panel-secondary {
        --#{theme.$prefix}panel-header: var(--#{theme.$prefix}secondary);
        --#{theme.$prefix}panel-header-text: var(--#{theme.$prefix}secondary-text);
    }
    &.panel-info {
        --#{theme.$prefix}panel-header: var(--#{theme.$prefix}info);
        --#{theme.$prefix}panel-header-text: var(--#{theme.$prefix}info-text);
    }
    &.--with-collapsed {
        .panel-body {
            display: none;
        }
        .panel-toggle-arrow {
            &::before {
                content: "\e6fc";
            }
        }
    }
}

@media (min-width: 36rem) {
    .panel {
        .panel-body {
            padding: 1.25rem;
        }
    }
}