<app-edit-header [title]="dataModel().id > 0 ? '编辑应用' : '新增应用'" (submited)="tapSubmit($event)" 
    [disabled]="dataForm().invalid()" />


<div class="container-fluid">
    <form class="form-table-control" (submit)="tapSubmit2($event)">
        <div class="panel-container">
            <div class="title-input">
                <label for="title">应用名</label>
                <input type="text" id="title" class="form-control" [formField]="dataForm.name">
            </div>

            <app-markdown-editor [formField]="dataForm.content" (imageUpload)="editorImageUpload($event)" 
            [height]="400" placeholder="应用描述" />
        </div>

        <div class="row">
            <div class="col-md-6">
                <app-panel title="高级属性">
                    <div class="input-group-control">
                        <label for="cat_id">分类</label>
                        <div>
                            <select id="cat_id" class="form-control" [formField]="dataForm.cat_id">
                                @for (item of categories; track $index) {
                                    <option [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
                                }
                            </select>

                        </div>
                    </div>

                    <div class="input-group-control">
                        <label for="thumb">图标</label>
                        <div>
                            <app-file-input [formField]="dataForm.icon" />
                        </div>
                    </div>


                    <div class="input-group-control">
                        <label for="keywords">关键字</label>
                        <div>
                            <app-words-input id="keywords" [formField]="dataForm.keywords" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="description">说明</label>
                        <div>
                            <app-text-editor [formField]="dataForm.description" height="100" />
                        </div>
                    </div>

                    <div class="input-group-control">
                        <label>标签</label>
                        <div>
                            <ng-select [multiple]="true" [items]="tagItems$ | async" [loading]="tagLoading" [typeahead]="tagInput$" bindLabel="name" 
                            [formField]="dataForm.tags" [addTag]="addTagFn" placeholder="选择标签" />
                        </div>
                    </div>
                </app-panel>
            </div>
            <div class="col-md-6">
                <app-panel title="附加属性">
                    <div class="input-group-control">
                        <label for="is_free">免费应用</label>
                        <div>
                            <app-switch [formField]="dataForm.is_free" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="is_open_source">是否开源</label>
                        <div>
                            <app-switch [formField]="dataForm.is_open_source" />
                        </div>
                    </div>
                    @if (dataForm.is_open_source().value()) {
                        <div class="input-group-control">
                            <label for="git_url">源码地址</label>
                            <div>
                                <input type="text" id="git_url" class="form-control" [formField]="dataForm.git_url">
                            </div>
                        </div>
                    }

                    <div class="input-group-control">
                        <label for="official_website">官网</label>
                        <div>
                            <input type="text" id="official_website" class="form-control" [formField]="dataForm.official_website">
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="score">评分</label>
                        <div>
                            <app-star [formField]="dataForm.score" [labelVisible]="true">分</app-star>
                        </div>
                    </div>
                </app-panel>
            </div>
        </div>

        <div class="btn-group">
            <app-action-button class="btn btn-success" (tapped)="tapSubmit($event)" [disabled]="dataForm().invalid()">确认保存</app-action-button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>
