@use '../../../../theme/theme';
a {
    text-decoration: none;
}
.login-panel {
    input[type="password"] {
        &::-ms-reveal {
            display: none;
        }
    }
    .tab-bar {
        display: flex;
        padding: 1.875rem 0 0.625rem;
        line-height: inherit;
        a {
            color: var(--#{theme.$prefix}meta-text);
            font-size: 1.125rem;
            flex: 1;
            text-align: center;
            &:hover {
                color: var(--#{theme.$prefix}link-hovered);
            }
            &.active {
                color: var(--#{theme.$prefix}body-text);
            }
            &:not(:last-child) {
                border-right: 1px solid var(--#{theme.$prefix}border);
            }
        }
    }
    .title-bar {
        color: var(--#{theme.$prefix}body-text);
        font-size: 1.125rem;
        padding: 1.875rem 0 0.625rem;
        line-height: inherit;
        text-align: center;
    }
    .icon-input,
    .code-input,
    .captcha-input {
        display: flex;
        height: 2.625rem;
        border: 1px solid var(--#{theme.$prefix}input-border);
        border-radius: .125rem;
        margin-bottom: 1rem;
        input {
            flex: 1;
            border: 0;
            outline: none;
            height: 2.5rem;
            line-height: 2.375rem;
            font-size: .875rem;
            background: transparent;
            color: var(--#{theme.$prefix}input-text);
            font-weight: normal;
        }
    }
    .icon-input {
        align-items: center;
        .iconfont {
            display: inline-block;
            width: 2.5rem;
            text-align: center;
            font-size: 1.375rem;
            color: var(--#{theme.$prefix}input-icon);
            &:first-child {
                border-right: 1px solid var(--#{theme.$prefix}border);
            }
        }
    }
    .code-input {
        .send-btn {
            --#{theme.$prefix}btn-bg: var(--#{theme.$prefix}panel);
            --#{theme.$prefix}btn-color: var(--#{theme.$prefix}body-text);
        }
    }
    .captcha-input {
        .img-btn {
            background-color: var(--#{theme.$prefix}panel);
            width: 6.25rem;
            height: 2.5rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .mobile-toggle {
        color: var(--#{theme.$prefix}meta-text);
        text-align: right;
        font-size: .75rem;
        line-height: 2.25rem;
        display: block;
        user-select: none;
        cursor: pointer;
        &:hover {
            color: var(--#{theme.$prefix}link-hovered);
        }
    }
    .btn {
        display: block;
        width: 100%;
    }
    .agree-bar {
        line-height: 1.875rem;
        font-size: .75rem;
        color: var(--#{theme.$prefix}meta-text);
        .iconfont {
            font-size: 1rem;
        }
    }
    .mobile-body {
        padding: 0 1.25rem 1.25rem;
    }
    .email-body,
    .qr-body {
        padding: 1.125rem 1.25rem 1.25rem;
    }
    .qr-body {
        .qr-img {
            text-align: center;
            position: relative;
        }
        .qr-label {
            text-align: center;
            font-size: .75rem;
            color: var(--#{theme.$prefix}meta-text);
        }
        .scan-box,
        .failure-box,
        .success-box,
        .failure-box {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--#{theme.$prefix}panel);
            display: flex;
            justify-content: center;
            flex-direction: column;
            .iconfont {
                font-size: 30px;
            }
        }
    }
    
    .panel-footer {
        height: 3.75rem;
        background: var(--#{theme.$prefix}panel);
        
        display: flex;
        align-items: center;
        .oauth-bar {
            padding-left: 0.625rem;
            flex: 1;
            .iconfont {
                font-size: 1.4375rem;
                display: inline-block;
            }
            a {
                margin: 0 4px;
                color: var(--#{theme.$prefix}meta-text);
                &:hover {
                    color: var(--#{theme.$prefix}link-hovered);
                }
            }
        }
        .tip-bar {
            min-width: 6.25rem;
            font-size: .75rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            a {
                display: block;
            }
        }
    }
}

.strong-link {
    padding: 0 .4rem;
    font-weight: 700;
}