a {
    text-decoration: none;
}
.login-panel {
    input[type="password"] {
        &::-ms-reveal {
            display: none;
        }
    }
    .tab-bar {
        display: flex;
        padding: 1.875rem 0 0.625rem;
        line-height: inherit;
        a {
            color: #999;
            font-size: 1.125rem;
            flex: 1;
            text-align: center;
            &:hover {
                color: #b4a078;
            }
            &.active {
                color: #333;
            }
            &:not(:last-child) {
                border-right: 1px solid #ddd;
            }
        }
    }
    .icon-input,
    .code-input,
    .captcha-input {
        display: flex;
        height: 42px;
        border: 1px solid #e8e8e8;
        border-radius: 2px;
        margin-bottom: 16px;
        input {
            flex: 1;
            border: 0;
            outline: none;
            height: 40px;
            line-height: 38px;
            font-size: 14px;
            background: transparent;
            color: #333;
            font-weight: normal;
        }
    }
    .icon-input {
        .iconfont {
            display: inline-block;
            width: 40px;
            text-align: center;
            font-size: 22px;
            color: #e8e8e8;
            margin: 5px 0;
            &:first-child {
                border-right: 1px solid #e8e8e8;
            }
        }
    }
    .code-input {
        .send-btn {
            background-color: #eee;
            color: #333;
            padding: 0 10px;
        }
    }
    .captcha-input {
        .img-btn {
            background-color: #eee;
            width: 100px;
            height: 40px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .mobile-toggle {
        color: #666;
        text-align: right;
        font-size: 12px;
        line-height: 36px;
        display: block;
        &:hover {
            color: #B4A078;
        }
    }
    .btn {
        display: block;
        width: 100%;
    }
    .agree-bar {
        line-height: 30px;
        font-size: 12px;
        color: #666;
        .iconfont {
            font-size: 16px;
        }
    }
    .mobile-body {
        padding: 0 20px 20px;
    }
    .email-body,
    .qr-body {
        padding: 18px 20px 20px;
    }
    .qr-body {
        .qr-img {
            text-align: center;
            position: relative;
        }
        .qr-label {
            text-align: center;
            font-size: 12px;
            color: #777;
        }
        .scan-box,
        .failure-box,
        .success-box,
        .failure-box {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .iconfont {
                font-size: 30px;
            }
        }
    }
    
    .panel-footer {
        height: 3.75rem;
        background: #F5F3EF;
        
        display: flex;
        .oauth-bar {
            padding: 0.875rem 0 0 0.625rem;
            flex: 1;
            .iconfont {
                font-size: 23px;
                width: 25px;
                display: inline-block;
                text-align: center;
            }
            a {
                margin: 0 4px;
                color: #999;
                &:hover {
                    color: #B4A078;
                }
            }
        }
        .tip-bar {
            min-width: 6.25rem;
            font-size: 12px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            a {
                display: block;
            }
        }
    }
}

.strong-link {
    padding: 0 .4rem;
    font-weight: 700;
}