<div class="login-panel">
    <div class="tab-bar" [hidden]="tabIndex >= 8">
        <a [ngClass]="{active: tabIndex < 2}" (click)="tapTab(0)" i18n>Quick login</a>
        <a [ngClass]="{active: tabIndex == 2}" (click)="tapTab(2)" i18n>Account login</a>
    </div>
    <div class="mobile-body" [hidden]="tabIndex > 0">
        <a class="mobile-toggle" (click)="tapTab(1)" i18n>Login with password</a>
        <div class="icon-input">
            <i class="iconfont icon-mobile" aria-hidden="true"></i>
            <input type="text" name="mobile" [(ngModel)]="mobile" i18n-placeholder placeholder="Please input phone number">
            <i class="iconfont icon-close-circle" *ngIf="mobile.length > 0" (click)="tapClearMobile()"></i>
        </div>
        <div class="code-input">
            <input type="text" [(ngModel)]="code" i18n-placeholder placeholder="SMS verification code">
            <app-countdown-button class="send-btn" (tapped)="tapSendCode($event)"></app-countdown-button>
        </div>
        <div class="captcha-input" *ngIf="captchaImage">
            <input type="text" [(ngModel)]="captcha" i18n-placeholder placeholder="Captcha">
            <a (click)="tapCaptcha()" class="img-btn" i18n-title title="Click refresh">
                <img [src]="captchaImage" i18n-alt alt="Refresh and retry">
            </a>
        </div>
        <app-action-button class="btn btn-primary" (tapped)="tapSignIn($event)" i18n>Sign in</app-action-button>
        <div class="agree-bar">
            <i class="iconfont" [ngClass]="{'icon-check-square-o': agree, 'icon-square-o': !agree}" (click)="tapToggleAgree()"></i>
            <ng-container i18n>I agree to</ng-container>
            <a class="strong-link" routerLink="/frontend/agreement" target="_blank" i18n>terms of service</a>
        </div>
    </div>
    <div class="mobile-body" [hidden]="tabIndex != 1">
        <a class="mobile-toggle" (click)="tapTab(0)" i18n>Back</a>
        <div class="icon-input">
            <i class="iconfont icon-mobile" aria-hidden="true"></i>
            <input type="text" name="mobile" [(ngModel)]="mobile" i18n-placeholder placeholder="Please input phone number">
            <i class="iconfont icon-close-circle" *ngIf="mobile.length > 0" (click)="tapClearMobile()"></i>
        </div>
        <div class="icon-input">
            <i class="iconfont icon-lock" aria-hidden="true"></i>
            <input [type]="passwordObserve ? 'text' : 'password'"  name="password" [(ngModel)]="password" i18n-placeholder placeholder="Please input the password">
            <i class="iconfont" *ngIf="password.length > 0" (click)="tapToggleObserve()" [ngClass]="{'icon-eye': passwordObserve, 'icon-eye-slash': !passwordObserve}"></i>
        </div>
        <div class="captcha-input" *ngIf="captchaImage">
            <input type="text" [(ngModel)]="captcha" i18n-placeholder placeholder="Please input the captcha">
            <a (click)="tapCaptcha()" class="btn" i18n-title title="Click refresh">
                <img [src]="captchaImage" i18n-alt alt="Refresh and retry">
            </a>
        </div>
        <app-action-button class="btn btn-primary" (tapped)="tapSignIn($event)" i18n>Sign in</app-action-button>
    </div>
    <div class="email-body" [hidden]="tabIndex != 2">
        <div class="icon-input">
            <i class="iconfont icon-user" aria-hidden="true"></i>
            <input type="text" name="email" [(ngModel)]="email" i18n-placeholder placeholder="Please input username">
            <i class="iconfont icon-close-circle" *ngIf="email.length > 0" (click)="tapClearEmail()"></i>
        </div>
        <div class="icon-input">
            <i class="iconfont icon-lock" aria-hidden="true"></i>
            <input [type]="passwordObserve ? 'text' : 'password'"  name="password" [(ngModel)]="password" i18n-placeholder placeholder="Please input the password">
            <i class="iconfont" *ngIf="password.length > 0" (click)="tapToggleObserve()" [ngClass]="{'icon-eye': passwordObserve, 'icon-eye-slash': !passwordObserve}"></i>
        </div>
        <div class="captcha-input" *ngIf="captchaImage">
            <input type="text" [(ngModel)]="captcha" i18n-placeholder placeholder="Please input the captcha">
            <a (click)="tapCaptcha()" class="btn" i18n-title title="Click refresh">
                <img [src]="captchaImage" i18n-alt alt="Refresh and retry">
            </a>
        </div>
        <app-action-button class="btn btn-primary" (tapped)="tapSignIn($event)" i18n>Sign in</app-action-button>
    </div>
    <div class="qr-body" *ngIf="tabIndex == 3">
        <div class="qr-img">
            <img [src]="qrImage">
            <div class="failure-box" *ngIf="qrStatus == 2">
                <i class="iconfont icon-refresh" (click)="tapRefreshQr()"></i>
                <p i18n>QR code has expired</p>
            </div>
            <div class="scan-box" *ngIf="qrStatus == 1">
                <i class="iconfont icon-check-circle"></i>
                <p i18n>Scanning is successful, waiting for confirmation</p>
            </div>
            <div class="success-box" *ngIf="qrStatus == 3">
                <i class="iconfont icon-check-circle"></i>
                <p i18n>Sign in successfully</p>
            </div>
            <div class="failure-box" *ngIf="qrStatus == 4">
                <i class="iconfont icon-refresh" (click)="tapRefreshQr()"></i>
                <p i18n>Sign in failed</p>
            </div>
        </div>
        <div class="qr-label" i18n>Open the app and scan the QR code</div>
    </div>

    <div class="email-body" [hidden]="tabIndex != 8">
        <div class="title-bar" i18n>Two-factor authentication</div>
        <div class="icon-input">
            <i class="iconfont icon-shield" aria-hidden="true"></i>
            <input type="text" i18n-placeholder placeholder="Authentication code" [(ngModel)]="twoFaCode">
        </div>


        <a (click)="tabIndex = 9" class="link-a" i18n>Use a recovery code or begin account recovery</a>

        <app-action-button class="btn btn-primary" (tapped)="tapSignIn($event)" i18n>Verify</app-action-button>

        <div class="panel-tip" i18n>
            Open your two-factor authenticator (TOTP) app or browser extension to view your authentication code.
        </div>
    </div>
    <div class="email-body" [hidden]="tabIndex != 9">
        <div class="title-bar" i18n>Use a Recovery Code</div>
        <div class="icon-input">
            <i class="iconfont icon-shield" aria-hidden="true"></i>
            <input type="text" i18n-placeholder placeholder="Recovery Code" [(ngModel)]="recoveryCode">
        </div>
    
        <app-action-button class="btn btn-primary" (tapped)="tapSignIn($event)" i18n>Verify</app-action-button>
    
        <div class="panel-tip" i18n>
            If you are unable to access your two-factor device, enter one of your recovery code to verify your identity
        </div>
    </div>

    <div class="panel-footer" [hidden]="tabIndex >= 8">
        <div class="oauth-bar">
            <a (click)="tapRefreshQr()" i18n-title title="Sign in with QR code"><i class="iconfont icon-qrcode"></i></a>
            <a (click)="tapWebAuthn()" i18n-title title="Sign in with WebAuthn" *ngIf="openWebAuthn"><i class="iconfont icon-fingerprint"></i></a>
            <ng-container *ngIf="openAuth">
                <a (click)="tapOAuth('qq')" i18n-title title="Sign in with QQ"><i class="iconfont icon-qq"></i></a>
                <a  (click)="tapOAuth('wechat')" i18n-title title="Sign in with weChat"><i class="iconfont icon-wechat"></i></a>
                <a  (click)="tapOAuth('weibo')" i18n-title title="Sign in with Weibo"><i class="iconfont icon-weibo"></i></a>
                <a  (click)="tapOAuth('github')" i18n-title title="Sign in with Github"><i class="iconfont icon-github"></i></a>
            </ng-container>
        </div>
        <div class="tip-bar">
            <a class="help-btn" *ngIf="tabIndex < 2" routerLink="/frontend/about" i18n>Help?</a>
            <a class="help-btn" *ngIf="tabIndex == 2" routerLink="/auth/register" i18n>Sign up</a>
            <a class="help-btn" *ngIf="tabIndex == 2" routerLink="/auth/find" i18n>Forgot password?</a>
        </div>
    </div>

</div>
