
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="top-item">
                <h4 i18n>Customer Service</h4>
                <a>
                    <i class="iconfont icon-service"></i>
                    <p i18n>Online Service</p>
                </a>
                <a>
                    <i class="iconfont icon-comments" aria-hidden="true"></i>
                    <p i18n>Feedback</p>
                </a>
            </div>
            <div class="top-item">
                <h4 i18n>About Us</h4>
                <p>
                    
                </p>
            </div>
            <div class="top-item">
                <h4 i18n>Contact</h4>
                <img [ngSrc]="site().qr" width="104" height="104">
            </div>
        </div>
    </div>
    <div class="back-to-top" (click)="tapToTop()" i18n>
        Back To Top
    </div>
    <div class="footer-main">
        <div class="container">
            <div class="top-grid">
                <div class="top-item">
                    <i class="iconfont icon-recycle"></i>
                    <span i18n>Worldwide Delivery</span>
                </div>
                <div class="top-item">
                    <i class="iconfont icon-rocket"></i>
                    <span i18n>Shipping Rates & Policies</span>
                </div>
                <div class="top-item">
                    <i class="iconfont icon-shield"></i>
                    <span i18n>Quality Assurance</span>
                </div>
            </div>
            <div class="footer-hr"></div>
            <div class="footer-info">
                <div class="nav-list">
                    <a i18n>About</a>
                    <b>|</b>
                    <a routerLink="./article/help" i18n>Help</a>
                    <b>|</b>
                    <a i18n>Service</a>
                    <b>|</b>
                    <a i18n>Shipping</a>
                    <b>|</b>
                    <a i18n>Business</a>
                    <b>|</b>
                    <a i18n>Develop</a>
                    <b>|</b>
                    <a i18n>Search</a>
                    <b>|</b>
                    <a i18n>Friend Links</a>
                </div>
                <div class="copyright">
                        © 2020-2026 ZoDream.cn. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>