<i class="control-updated-tag" [hidden]="isEmpty" (click)="tapEmpty()"></i>
<label *ngIf="header">{{ header }}</label>
<div class="control-row">
    <div class="radio-control-item">
        <i class="iconfont icon-zuoduiqi" title="左对齐"></i>
    </div>
    <div class="radio-control-item">
        <i class="iconfont icon-shuipingjuzhongduiqi" title="水平居中"></i>
    </div>
    <div class="radio-control-item">
        <i class="iconfont icon-youduiqi" title="右对齐"></i>
    </div>
    <div class="radio-control-item">
        <i class="iconfont icon-shuipingdengjianju" title="水平等间距"></i>
    </div>
</div>