<div class="mind-editor">
    <canvas #lineBox></canvas>
    <div class="mind-body">
        @if (!readonly()) {
            <div class="mind-begin" (click)="tapNew($event)">
                <i class="iconfont icon-plus"></i>
            </div>
        }
        @for (item of pointItems; track $index; let i = $index) {
            <div class="mind-item" [ngStyle]="{left: item.x + 'px', top: item.y + 'px'}" (mouseup)="onLinkFinish($event, i)" (mousedown)="onMoveStart($event, i)" (contextmenu)="onContext($event, i)">
                {{ item.text }}
                @if (!readonly()) {
                    <div class="mind-action" (mousedown)="onNewStart($event, i)">
                        <i class="iconfont icon-plus"></i>
                    </div>
                }
            </div>
        }
    </div>
</div>
<app-context-menu />