<div class="explorer-panel">
    <div class="panel-header">
        <div class="action-item" (click)="tapAction(0)" *ngIf="editable">
            <i class="iconfont icon-plus"></i>
            <span>New</span>
        </div>
        <div class="action-group flex-1">
            <div class="action-item" (click)="tapAction(1)" *ngIf="editable && checkedItems.length > 0">
                <i class="iconfont icon-cut"></i>
            </div>
            <div class="action-item" (click)="tapAction(2)" *ngIf="editable && checkedItems.length > 0">
                <i class="iconfont icon-paste"></i>
            </div>
            <div class="action-item" (click)="tapAction(3)" *ngIf="editable && checkedItems.length > 0">
                <i class="iconfont icon-trash"></i>
            </div>
            <div class="action-item" *ngIf="checkedItems.length > 0">
                <i class="iconfont icon-exclamation-circle"></i>
            </div>
        </div>
        <div class="action-group">
            <div class="action-item">
                <i class="iconfont icon-check-square-o" (click)="listEditable = !listEditable"></i>
            </div>
            <div class="action-item">
                <i class="iconfont" [ngClass]="{'icon-sort-alpha-asc': orderAsc, 'icon-sort-alpha-desc': !orderAsc}"></i>
                <div class="action-dropdown">
                    <a class="nav-item" (click)="tapSort('name', true)">
                        <span class="nav-name" i18n>Name</span>
                        <i class="iconfont" [ngClass]="{'icon-sort-alpha-asc': sortKey == 'name' && orderAsc, 'icon-sort-alpha-desc': sortKey == 'name' && !orderAsc}"></i>
                    </a>
                    <a class="nav-item" (click)="tapSort('size', false)">
                        <span class="nav-name" i18n>Size</span>
                        <i class="iconfont" [ngClass]="{'icon-sort-alpha-asc': sortKey == 'size' && orderAsc, 'icon-sort-alpha-desc': sortKey == 'size' && !orderAsc}"></i>
                    </a>
                    <a class="nav-item" (click)="tapSort('created_at', true)">
                        <span class="nav-name" i18n>Created At</span>
                        <i class="iconfont" [ngClass]="{'icon-sort-alpha-asc': sortKey == 'created_at' && orderAsc, 'icon-sort-alpha-desc': sortKey == 'created_at' && !orderAsc}"></i>
                    </a>
                </div>
            </div>
            <div class="action-item" (click)="listViewMode = !listViewMode">
                <i class="iconfont icon-th-list" [ngClass]="{'icon-th-large': listViewMode, 'icon-th-list': !listViewMode}"></i>
            </div>
            <div class="action-item">
                <i class="iconfont icon-ellipsis-h"></i>
            </div>
        </div>
    </div>
    <div class="file-list-body" [ngClass]="{'file-list-view': listViewMode, 'file-list-edit': listEditable}">
        <div class="file-row-header">
            <div class="file-check" (click)="toggleCheck()">
                <i class="iconfont" [ngClass]="{'icon-check-square-o': isChecked, 'icon-square-o': !isChecked}" ></i>
            </div>
            <div class="file-sortable flex-1" (click)="tapSort('name')">
                <span i18n>FileName</span>
                <i class="iconfont" [ngClass]="{'icon-sort-alpha-asc': sortKey == 'name' && orderAsc, 'icon-sort-alpha-desc': sortKey == 'name' && !orderAsc}"></i>
            </div>
            <div class="file-sortable file-row-meta" (click)="tapSort('size')">
                <span i18n>Size</span>
                <i class="iconfont" [ngClass]="{'icon-sort-alpha-asc': sortKey == 'size' && orderAsc, 'icon-sort-alpha-desc': sortKey == 'size' && !orderAsc}"></i>
            </div>
            <div class="file-sortable file-row-meta" (click)="tapSort('created_at')">
                <span i18n>Created At</span>
                <i class="iconfont" [ngClass]="{'icon-sort-alpha-asc': sortKey == 'created_at' && orderAsc, 'icon-sort-alpha-desc': sortKey == 'created_at' && !orderAsc}"></i>
            </div>
        </div>
        <div class="file-row-body" appInfiniteScroll (scrollEnd)="tapMore()" [disabled]="hasMore">
            <ng-container *ngFor="let item of filterItems">
                <ng-container *ngIf="item.type === 'group'; else elseTemplate">
                    <div class="file-group">
                        {{ item.name }}
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <div class="file-item" (click)="tapFile(item)" [title]="item.name">
                        <div class="file-check">
                            <i class="iconfont" [ngClass]="{'icon-check-square-o': item.checked, 'icon-square-o': !item.checked}" ></i>
                        </div>
                        <div class="file-icon">
                            <ng-container *ngIf="listViewMode && item.thumb; else elseTemplate">
                                <img [src]="item.thumb|asset" [alt]="item.name">
                            </ng-container>
                            <ng-template #elseTemplate>
                                <i class="iconfont" [ngClass]="item.icon"></i>
                            </ng-template>
                        </div>
                        <div class="file-name">{{ item.name }}</div>
                        <div class="file-size file-row-meta">{{ item.size | size }}</div>
                        <div class="file-time file-row-meta">{{ item.created_at | timestamp }}</div>
                        <div class="file-item-action">
                            <i class="iconfont icon-download" (click)="tapAction(4, item)" *ngIf="!item.isFolder"></i>
                            <i class="iconfont icon-copy" (click)="tapAction(1, item)" *ngIf="editable"></i>
                            <i class="iconfont icon-edit" (click)="tapAction(5, item)" *ngIf="editable"></i>
                            <i class="iconfont icon-trash" (click)="tapAction(3, item)" *ngIf="editable"></i>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </div>
    </div>
    <div class="panel-footer">
        <span>{{ items.length | numberFormat }} items</span>
        <span *ngIf="checkedItems.length > 0">{{ checkedItems.length  | numberFormat }} items selected</span>
        <span>{{ subtotal | size }}</span>
    </div>
</div>