@if (visible) {
    <div class="dialog-mask" (click)="close()"></div>
}
<div class="dialog-box" [@dialogOpen]="visible ? 'open' : 'closed'">
    <app-flip-container>
        <app-flip-item>
            <div class="input-label">采购单</div>
            <div class="item-name">
                <input type="text" class="form-control">
            </div>
            <div class="multiple-panel-header">
                <span>清单</span>
                <div class="panel-action">
                    <i class="iconfont icon-plus" (click)="tapEditLine()"></i>
                    <i class="iconfont icon-cog" [hidden]="items.length == 0" (click)="multipleEditable = !multipleEditable"></i>
                </div>
            </div>
            <div class="multiple-panel">
                @for (item of items; track $index) {
                    <div class="input-flex">
                    <div class="input-action" [hidden]="!multipleEditable">
                        <i class="iconfont icon-close" (click)="tapRemoveLine(item)"></i>
                        <i class="iconfont icon-edit" (click)="tapEditLine(item)"></i>
                    </div>
                    <label>{{ item.name }}</label>
                    <span class="price-bar" [hidden]="multipleEditable"><em>￥</em>{{ item.price }}<em class="unit">/{{ item.unit }}</em></span>
                    <app-number-input [only]="false" [(ngModel)]="item.amount"></app-number-input>
                </div>
                }
            </div>
            <div class="input-label">指定采购员</div>
            <ng-select></ng-select>
            <div class="input-label">预计采购时间</div>
            <app-date-input></app-date-input>
        </app-flip-item>
        <app-flip-item header="新增物品">
            <div class="input-label">物品名</div>
            <div class="item-name">
                <input type="text" class="form-control" [(ngModel)]="nextData.name">
            </div>
            <div class="input-flex">
                <label for="">单位</label>
                <input type="text" class="form-control" [(ngModel)]="nextData.unit">
            </div>
            <div class="input-flex">
                <label for="">单价</label>
                <app-number-input [only]="false" [(ngModel)]="nextData.price"></app-number-input>
            </div>
        </app-flip-item>
    </app-flip-container>
    <div class="dialog-footer">
        <div class="btn btn-secondary" (click)="close()">取消</div>
        <div class="btn btn-primary" (click)="close(true)">保存</div>
    </div>
</div>