@use '../../theme/theme';


$note: #ffc;
$note-text: #686868;

$shadow: rgba(var(--#{theme.$prefix}mask-rgb),.2);
.container {
    margin: 100px auto;
}
.note-form {
    position: relative;
    box-shadow: 3px 3px 4px $shadow;
    padding: 0.625rem;
    background-color: $note;
    margin-bottom: 1.25rem;
    .item-action {
        padding: 0.325rem 0.325rem 0;
        height: 1.25rem;
        color: var(--#{theme.$prefix}meta-text);
        display: flex;
        justify-content: space-between;
        .icon-check {
            color: var(--#{theme.$prefix}primary);
        }
    }
    .pull-right {
        display: flex;
        margin-top: -0.325rem;
        font-size: 1.5rem;
        a {
            margin-right: .8rem;
        }
    }
    .form-control {
        min-height: 200px;
        background: transparent;
        border-radius: 0;
    }
    &::before {
        content: " ";
        position: absolute;
        left: calc(50% - 10px);
        width: 20px;
        height: 20px;
        background-color:  var(--#{theme.$prefix}danger);
        top: 0px;
        display: block;
        border: 5px solid var(--#{theme.$prefix}border);
        border-radius: 50%;
        box-shadow: 2px 2px 3px $shadow;
    }
}
.note-item {
    box-sizing: border-box;
    padding: 10px;
    text-decoration: none;
    background-color: $note;
    display: block;
    position: relative;
    box-shadow: 3px 3px 4px $shadow;
    margin-bottom: 20px;
    transform-origin: 50% 0;
    .item-body {
        padding: 10px;
        height: auto;
        font-size: 20px;
        color: $note-text;
        box-sizing: border-box;
        border: 1px solid var(--#{theme.$prefix}border);
        word-break: break-all;
    }
    .item-action {
        display: none;
        position: absolute;
        right: -10px;
        top: -10px;
        i {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: var(--#{theme.$prefix}danger-text);
            color: var(--#{theme.$prefix}danger);
            text-decoration: none;
        
        line-height: 15px;
        }
    }
    .item-footer {
        color: var(--#{theme.$prefix}meta-text);
        font-size: 12px;
        span {
            &:last-child {
                float: right;
            }
        }
    }
    &::before {
        content: " ";
        position: absolute;
        left: calc(50% - 10px);
        width: 20px;
        height: 20px;
        background-color: $note;
        top: 0px;
        display: block;
        border: 5px solid var(--#{theme.$prefix}border);
        border-radius: 50%;
        box-shadow: 2px 2px 3px $shadow;
    }
    &:hover {
        box-shadow: 5px 5px 7px $shadow;
        &::before {
            box-shadow: none;
        }
        .item-action {
            display: block;
        }
    }
}