@import '../../theme/styles/theme';
.row {
    margin-top: 3.125rem;
    margin-bottom: 1.875rem;
}


.person-box {
    background-color: var(--#{$prefix}-panel);
    padding: 1.25rem 0.625rem;
    margin-bottom: 1.25rem;
    color: #555;
    .avatar {
        text-align: center;
        img {
            padding: 0.125rem;
            max-width: 7.5rem;
            height: auto;
            border: 1px solid #eee;
        }
    }
    .name {
        text-align: center;
        color: #222;
        line-height: 2.5rem;
        font-weight: 600;
    }
    .desc {
        line-height: 1.875rem;
        text-align: center;
        border-top: 1px dotted #ccc;
        border-bottom: 1px dotted #ccc;
    }
    .links {
        margin-top: 0.625rem;
        line-height: 1.875rem;
        a {
            color: #333;
            display: inline-block;
            width: 45%;
            padding: 0 0.625rem;
            text-decoration: none;
            &:hover {
                border-radius: 0.25rem;
                background: #eee;
            }
        }
    }
}

.contact-box {
    padding: 1.25rem;
    margin-bottom: 3.125rem;
    .heading {
        p {
            color: rgb(179, 177, 177);
            font-size: 0.9375rem;
            margin: 1.2% 0px;
            line-height: 1.6em;
        }
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 0.75rem 0.75rem;
        border: 1px solid #BDBCBC;
        font-size: 0.9375rem;
        margin-bottom: 1.5em;
        color: #808080;
        outline: none;
        font-weight: 400;
    }
    textarea {
        resize: none;
        height: 12rem;
    }
    .btn {
        width: 6.25rem;
        border: 1px solid #a10000;
        border-radius: 0;
    }
}

.btn-show {
    background: 0 0;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    backface-visibility: hidden;
    position: relative;
    transition-property: color;
    transition-duration: .3s;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--#{$prefix}-primary);
        transform: scaleX(0);
        transform-origin: 50%;
        transition-property: transform;
        transition-duration: .3s;
        transition-timing-function: ease-out;
    }
    &:hover {
        color: var(--#{$prefix}-primary-text);
        &::before {
            transform: scaleX(1);
        }
    }
}

.about-box {
    margin-top: 3rem;
    .panel-header {
        text-align: center;
    }
    .about-bottom {
        h4 {
            color: rgb(34, 34, 34);
            font-size: 1.2em;
            margin: 2.1% 0px 0px;
            line-height: 1.3em;
        }
        p {
            color: #b3b1b1;
            font-size: 0.9375rem;
            margin: 0.3125rem 0rem 0rem;
            line-height: 1.6em;
        }
    }
    .autograph {
        line-height: 1.875rem;
        color: #333;
        text-align: right;
    }
}

.skill-progress-bar {
    margin-top: .8rem;
    .item-name {
        font-size: 1rem;
        font-weight: bold;
    }
    .item-meta {
        display: block;
        font-size: .8rem;
    }
    .progress-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .progress-inner {
        display: flex;
        height: .8rem;
        border-radius: .25rem;
        background-color: var(--#{$prefix}-primary-text);
        border: 1px solid var(--#{$prefix}-primary);
        .inner-bar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            color: var(--#{$prefix}-primary-text);
            text-align: center;
            white-space: nowrap;
            background-color: var(--#{$prefix}-primary);
            transition: width 2s;
        }
    }
    .skill-meta {
        color: var(--#{$prefix}-secondary-text);
        font-size: .8rem;
    }
}