<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="person-box">
                <div class="avatar">
                    <img [src]="'assets/images/zx.jpg'|asset" alt="zodream">
                </div>
                <div class="name">zodream</div>
                <div class="desc">开心就好！</div>
                <div class="links">
                    <a href="https://github.com/zx648383079" target="_blank" title="Github">
                        <i class="iconfont icon-github"></i>
                        GitHub
                    </a>
                    <a href="mailto:648383079@qq.com" i18n-title title="Send an email">
                        <i class="iconfont icon-mail"></i>
                        Email
                    </a>
                </div>
            </div>        
        </div>

        <div class="col-md-8">
            <div class="about-box">
                <div class="about-top heading">
                    <h1 i18n>About Us</h1>
                </div>
                <div class="about-bottom">
                    <h4>本站是基于 zodream 框架开发的展示站。</h4>
                    <p>zodream, PHP 轻量级框架，主要代码来源为工作积累。本站及其框架保持永久更新。</p>
                    <p>本站除博客外，其他栏目均属于代码测试项目，只为测试代码之用，不会产生任何商业用途，特别说明，本站内的任何功能，只用于本站内部测试。</p>
                    <p>本站建设意图为收藏有价值的事物，如有侵权，请提交反馈。</p>
                    <div class="autograph">2022-01-17 留</div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-box">
        <div class="heading">
            <h2 i18n>Feedback</h2>
            <p i18n>This site and its framework accept any friendly suggestions, and any friendly friends are welcome to leave comments here. </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="name" [(ngModel)]="data.name" i18n-placeholder placeholder="Nick Name" >
                <input type="email" name="email" [(ngModel)]="data.email"  i18n-placeholder placeholder="Email" >
                <input type="text" name="phone" [(ngModel)]="data.phone"  i18n-placeholder placeholder="Contact">
            </div>
            <div class="col-md-6">
                <textarea name="content" [(ngModel)]="data.content"  i18n-placeholder placeholder="Feedback Content"></textarea>
                <app-action-button class="btn btn-show" (click)="tapSubmit($event)" i18n>Send</app-action-button>
            </div>
        </div>
    </div>
</div>