<div class="map-editor" (mousedown)="onBoxStart($event)">
    <canvas #lineCanvas></canvas>
    @for (item of areaItems; track $index) {
    <div class="map-area" [style]="{left: item.x + 'px', top: item.y + 'px', width: item.width + 'px', height: item.height + 'px'}">
        {{ item.name }}
    </div>
    }

    @for (item of items(); track $index) {
        <div class="map-panel" [class]="{'map-selected': item.is_selected}" [style]="{left: item.x + 'px', top: item.y + 'px'}">
            <div class="panel-header" (mousedown)="onMoveStart(item, $event)">
                <span>{{ item.name }}</span>
                <div class="panel-action">
                    <i class="iconfont icon-minus"></i>
                </div>
            </div>
            <div class="panel-body">
                @if (item.items) {
                    @for (it of item.items; track $index) {
                    <div class="child-item">
                        <div class="item-boby">
                            {{ it.name }}
                        </div>
                        <div class="item-action">
                            <i class="iconfont icon-minus"></i>
                        </div>
                    </div>
                    }
                }
            
                <div class="add-child-item" (click)="tapAddIndigenous(item)">
                    <i class="iconfont icon-plus"></i>
                </div>
            </div>
            <div class="panel-output">
                <span (mousedown)="onLinkStart(item, $event, 0)"></span>
                <span (mousedown)="onLinkStart(item, $event, 1)"></span>
                <span (mousedown)="onLinkStart(item, $event, 2)"></span>
                <span (mousedown)="onLinkStart(item, $event, 3)"></span>
            </div>
        </div>
    }

    <div class="selection-range" [style]="selectionStyle"></div>
</div>

<app-dialog-box #areaModal>
    <div class="form-group">
        <label>地区名</label>
        <div class="input-group-control">
            <input class="form-control" placeholder="请输入地区名" [formField]="editForm.name">
        </div>
    </div>
</app-dialog-box>

<app-dialog-box #monsterModal>
    <div class="form-group">
        <label>刷新间隔/s</label>
        <div class="input-group-control">
            <app-number-input />
        </div>
    </div>
</app-dialog-box>

<app-dialog-box #mapModal>
    <div class="form-group">
        <label>地区名</label>
        <div class="input-group-control">
            <input class="form-control"  [formField]="editForm.name" placeholder="请输入地区名">
        </div>
    </div>
    <div class="form-group">
        <label>说明</label>
        <div class="input-group-control">
            <textarea class="form-control"  [formField]="editForm.description" placeholder="请输入说明"></textarea>
        </div>
    </div>
</app-dialog-box>
@if (panelOpen) {
<div class="dialog-panel" animate.enter="panel-opened" animate.leave="panel-closed">
    <div class="panel-header">
        <i class="iconfont icon-close" (click)="panelOpen = false"></i>
    </div>
    <form class="panel-search">
        <input type="text" id="keywords" [formField]="queries.keywords">
        <button class="iconfont icon-search"></button>
    </form>
    <div class="panel-body">
        <!-- @for (item of userFilterItems; track $index) { -->
        <!-- <div class="user-item">
            <div class="avatar">
                <img [src]="item.avatar" alt="">
            </div>
            <div class="name">{{ item.name }}</div>
            <div class="desc">{{ item.role_name }}</div>
            @if (item.editable) {
            <i class="iconfont icon-close" (click)="tapRemoveUser(item)"></i>
            }
        </div> -->
        <!-- } -->
    </div>
</div>
}
