<div class="router-bar">
    <div class="tool-item" (click)="tapBack()">
        <i class="iconfont icon-arrow-left"></i>
    </div>
    <div class="title-bar">
        抽卡
    </div>
    <a class="right-item" (click)="modalVisible = true">
        规则
    </a>
</div>
<div>
    <div class="action-group" [hidden]="lotterying">
        <div class="btn-group">
            <a class="btn btn-primary" (click)="tapOne()">单抽</a>
            <a class="btn btn-success" (click)="tapTen()">十连抽</a>
        </div>
    </div>
    
    <div class="prize-panel" *ngIf="lotterying">
        <ng-container *ngFor="let item of items">
            <div class="prize-item" [ngClass]="{open: item.is_open}" (click)="item.is_open = true">
                <div class="item-front"></div>
                <div class="item-body">
                    中奖了
                </div>
            </div>
        </ng-container>
        <div class="panel-action">
            <a class="btn btn-primary" (click)="tapJump()">跳过</a>
        </div>
    </div>
</div>

<div class="dialog-mask" *ngIf="modalVisible"></div>
<div class="rule-dialog" *ngIf="modalVisible">
    <div class="dialog-header">
        <span>规则</span>
        <div class="dialog-close">
            <i class="iconfont icon-close" (click)="modalVisible = false"></i>
        </div>
    </div>
    <div class="dialog-body">
        <p>1. 单抽</p>
        <p>2. 十连抽</p>
    </div>
</div>