<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>这是所有的文章列表</li>
        </ul>
    </app-page-tip>

    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group">
                    <label for="keywords">标题</label>
                    <input type="text" class="form-control" name="keywords" id="keywords" placeholder="搜索标题" [ngModel]="queries.keywords">
                </div>
                <div class="input-group">
                    <label>分类</label>
                    <select name="term" [ngModel]="queries.term" class="form-control">
                        <option [value]="0">请选择</option>
                        <ng-container *ngFor="let item of categories">
                            <option [value]="item.id">{{ item.name }}</option>
                        </ng-container>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a class="btn btn-success pull-right" routerLink="../create">新增文章</a>
            </form>
            
        </div>
        <div class="list-table">
            <ng-container *ngFor="let item of items">
                <div class="item">
                    <div class="header">
                        <span class="no">{{ item.id }}</span>
                        <span class="stamp">{{ item.type == 1 ? '转载' : '原创' }}</span>
                        <span class="title">{{ item.title }}</span>
                    </div>
                    <div class="body">
                        <p>{{ item.description }}</p>
                    </div>
                    <div class="footer">
                        <div class="status">
                            <a class="category" *ngIf="item.term" ><i
                                class="iconfont icon-bookmark"></i><b>{{ item.term.name }}</b></a>
                            <span class="comment"><i class="iconfont icon-comments"></i><b>{{ item.comment_count }}</b></span>
                            <span class="agree"><i class="iconfont icon-thumbs-up"></i><b>{{ item.recommend_count }}</b></span>
                            <span class="click"><i class="iconfont icon-eye"></i><b>{{ item.click_count }}</b></span>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-info btn-xs" [routerLink]="'/blog/' + item.id">预览</a>
                            <a class="btn btn-light btn-xs"
                            [routerLink]="'../edit/' + item.id">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)"
                                >删除</a>
                        </div>
                    </div>
                </div>
            </ng-container>
            
        </div>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
    
</div>

