@import '../../../theme/styles/setting';
.route-bar {
    display: flex;
    .back-btn {
        position: static;
        background-color: #fff;
        color: #666;
        border: 1px solid #ccc;
        margin-right: 1rem;
        margin-left: .8rem;
        margin-bottom: .8rem;
        &:hover {
            background-color: #eee;
        }
    }
    .breadcrumb {
        margin: 0;
        line-height: 2.5rem;
    }
}