<div class="coupon-page">
    <div class="container">

        <nav class="breadcrumb">
            <a class="breadcrumb-item" routerLink="../">Home</a>
            <span class="breadcrumb-item active">领券中心</span>
        </nav>

        <div>
            <div class="coupon-item">
                <div class="thumb">
                    <img src="https://m.360buyimg.com/common/s310x310_jfs/t17425/6/1117130719/77250/b4afe949/5abb0fc0Nb0fd7afd.jpg" alt="">
                </div>
                <div class="info">
                    <div class="price">
                        <em>200</em>
                        <span class="limit">满499元可用</span>
                    </div>
                    <div class="rang">
                        仅可购买指定平板电脑商品
                    </div>
                </div>
                <div class="action">
                    <a href="">立即领取</a>
                </div>
            </div>
        </div>

    </div>
</div>