@for (item of items; track $index) {
<div class="input-group-control">
    <label>{{ item.label }}</label>
    @switch (item.type) {
        @case ('number') {
        <div>
            <input type="number" class="form-control" [(ngModel)]="item.value">
        </div>
        }
        @case ('password') {
        <div>
            <input type="password" class="form-control" [(ngModel)]="item.value">
        </div>
        }
        @case ('textarea') {
        <div>
            <textarea class="form-control"  [(ngModel)]="item.value"></textarea>
        </div>
        }
        @case ('select') {
            <div>
                <select class="form-control" [(ngModel)]="item.value">
                    @for (val of item.items; track val.value) {
                        <option [value]="val.value">{{ val.name }}</option>
                    }
                </select>
            </div>
        }
        @case ('radio') {
            <div>
                <app-check-input rangeKey="value" [items]="item.items" [(ngModel)]="item.value" />
            </div>
        }
        @case ('checkbox') {
            <div>
                <app-check-input rangeKey="value" [items]="item.items" [(ngModel)]="item.value" [multiple]="true" />
            </div>
        }
        @case ('switch') {
            <div>
                <app-switch [(ngModel)]="item.value" onLabel="On" offLabel="Off" />
            </div>
        }
        @case ('image') {
            <div>
                <app-file-input [(ngModel)]="item.value" />
            </div>
        }
        @case ('file') {
            <div>
                <app-file-input [(ngModel)]="item.value" accept="*" />
            </div>
        }
        @case ('editor') {
            <div>
                <textarea class="form-control"  [(ngModel)]="item.value"></textarea>
            </div>
        }
        @case ('basic_editor') {
            <div>
                <textarea class="form-control"  [(ngModel)]="item.value"></textarea>
            </div>
        }
        @case ('json') {
            <div>
                <textarea class="form-control"  [(ngModel)]="item.value"></textarea>
            </div>
        }
        @default {
        <div>
            <input type="text" class="form-control" [(ngModel)]="item.value">
        </div>
        }
    }
</div>
}