<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>友情链接列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="zre-input-group">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="搜索关键字">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a class="btn btn-primary" (click)="tapAdd(modal)">添加</a>
                    <a class="btn" [ngClass]="{'btn-danger': isMultiple, 'btn-outline-info': !isMultiple}" (click)="isMultiple = !isMultiple">批量操作</a>
                </div>
            </form>
        </div>
        <table class="table table-bordered well">
            <thead>
                <tr>
                    <th [hidden]="!isMultiple">
                        <i class="checkbox" [ngClass]="{checked: isChecked}" (click)="toggleCheck()"></i>
                    </th>
                    <th>ID</th>
                    <th>站点名</th>
                    <th>网址</th>
                    <th>简介</th>
                    <th>状态</th>
                    <th>申请时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td [hidden]="!isMultiple">
                        <i class="checkbox" [ngClass]="{checked: item.checked}" (click)="toggleCheck(item)"></i>
                    </td>
                    <td>{{ item.id }}</td>
                    <td [title]="item.created_at">{{ item.name }}</td>
                    <td>
                        <code>{{ item.url }}</code>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer" class="iconfont icon-globe"></a>
                    </td>
                    <td>{{ item.brief }}</td>
                    <td>
                        {{item.status < 1 ? '待审核' : '已通过'}}
                    </td>
                    <td [title]="item.created_at">{{ item.created_at | ago }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-success" *ngIf="item.status < 1" (click)="tapPass(item, toggleModal)" data-tip="确认审核通过此友情链接？">审核</a>
                            <a class="btn btn-info"  *ngIf="item.status == 1"  (click)="tapOff(item, toggleModal)">下架</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot [hidden]="!isMultiple || items.length < 1">
                <tr>
                    <td>
                        <i class="checkbox" [ngClass]="{checked: isChecked}" (click)="toggleCheck()"></i>
                    </td>
                    <td colspan="4">
                        <button class="btn btn-danger" [disabled]="checkedItems.length < 1" (click)="tapRemoveMultiple()">删除选中项（{{ checkedItems.length }}）</button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
</div>

<app-dialog-box #modal title="添加友情链接">
    <div class="form-table">
        <div class="zre-input-group">
            <label for="name">*
                <ng-container i18n>Site Name:</ng-container>
            </label>
            <div>
                <input type="text" [(ngModel)]="editData.name" class="form-control" id="name" i18n-placeholder placeholder="Your Site Name" >
            </div>
        </div>
        <div class="zre-input-group">
            <label for="url">*
                <ng-container i18n>Site Link:</ng-container>
            </label>
            <div>
                <input type="text" [(ngModel)]="editData.url" class="form-control" id="url" i18n-placeholder placeholder="Your Site Link, Like:https://zodream.cn" >
            </div>
        </div>
        <div class="zre-input-group">
            <label for="logo" i18n>Site Logo:</label>
            <div>
                <app-file-input [(ngModel)]="editData.logo"></app-file-input>
            </div>
        </div>
        <div class="zre-input-group">
            <label for="url" i18n>Site Description:</label>
            <div>
                <textarea [(ngModel)]="editData.brief" class="form-control" id="brief" i18n-placeholder placeholder="Site Description"></textarea>
            </div>
        </div>
        <div class="zre-input-group">
            <label for="email" i18n>Email:</label>
            <div>
                <input type="email" [(ngModel)]="editData.email" class="form-control" id="email" i18n-placeholder placeholder="Will send the result to your email">
            </div>
        </div>
    </div>
</app-dialog-box>

<app-manage-dialog #toggleModal>
</app-manage-dialog>