<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>友情链接列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [formField]="queries.keywords" placeholder="搜索关键字">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a class="btn btn-primary" (click)="tapAdd(modal)">添加</a>
                    <a class="btn" [class]="{'btn-danger': isMultiple(), 'btn-outline-info': !isMultiple()}" (click)="toggleMultiple()">批量操作</a>
                </div>
            </form>
        </div>
        <table class="table table-bordered well">
            <thead>
                <tr>
                    <th [hidden]="!isMultiple()">
                        <i class="checkbox" [class.checked]="isChecked()" (click)="toggleCheck()"></i>
                    </th>
                    <th>ID</th>
                    <th>站点名</th>
                    <th>网址</th>
                    <th>简介</th>
                    <th>状态</th>
                    <th>申请时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td [hidden]="!isMultiple()">
                        <i class="checkbox" [class]="{checked: item.checked}" (click)="toggleCheck(item)"></i>
                    </td>
                    <td>{{ item.id }}</td>
                    <td [title]="item.created_at">{{ item.name }}</td>
                    <td>
                        <code>{{ item.url }}</code>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer" class="iconfont icon-globe"></a>
                    </td>
                    <td>{{ item.brief }}</td>
                    <td>
                        {{item.status < 1 ? '待审核' : '已通过'}}
                    </td>
                    <td [title]="item.created_at">{{ item.created_at | ago }}</td>
                    <td>
                        <div class="btn-group">
                            @if (item.status < 1) {
                            <a class="btn btn-success" (click)="tapPass(item, toggleModal)" data-tip="确认审核通过此友情链接？">审核</a>
                            }
                            @if (item.status == 1) {
                            <a class="btn btn-info"  (click)="tapOff(item, toggleModal)">下架</a>
                            }
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot [hidden]="!isMultiple || items().length < 1">
                <tr>
                    <td>
                        <i class="checkbox" [class.checked]="isChecked()" (click)="toggleCheck()"></i>
                    </td>
                    <td colspan="4">
                        <button class="btn btn-danger" [disabled]="checkedItems().length < 1" (click)="tapRemoveMultiple()">删除选中项（{{ checkedItems().length }}）</button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [formField]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
    </div>
</div>

<app-dialog-box #modal title="添加友情链接">
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="name">*
                <ng-container i18n>Site Name:</ng-container>
            </label>
            <div>
                <input type="text" [formField]="editForm.name" class="form-control" id="name" i18n-placeholder placeholder="Your Site Name" >
            </div>
        </div>
        <div class="input-group-control">
            <label for="url">*
                <ng-container i18n>Site Link:</ng-container>
            </label>
            <div>
                <input type="text" [formField]="editForm.url" class="form-control" id="url" i18n-placeholder placeholder="Your Site Link, Like:https://zodream.cn" >
            </div>
        </div>
        <div class="input-group-control">
            <label for="logo" i18n>Site Logo:</label>
            <div>
                <app-file-input [formField]="editForm.logo" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="url" i18n>Site Description:</label>
            <div>
                <textarea [formField]="editForm.brief" class="form-control" id="brief" i18n-placeholder placeholder="Site Description"></textarea>
            </div>
        </div>
        <div class="input-group-control">
            <label for="email" i18n>Email:</label>
            <div>
                <input type="email" [formField]="editForm.email" class="form-control" id="email" i18n-placeholder placeholder="Will send the result to your email">
            </div>
        </div>
    </div>
</app-dialog-box>

<app-manage-dialog #toggleModal />