<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>这是通知列表</li>
        </ul>
    </app-page-tip>

    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group-control">
                    <label for="keywords">标题</label>
                    <input type="text" class="form-control" name="keywords" id="keywords" placeholder="搜索标题" [ngModel]="queries.keywords">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a class="btn btn-danger pull-right" (click)="tapReadAll()">全部已读</a>
            </form>
        </div>

        @for (item of items; track $index) {
            <div class="bulletin-item" [ngClass]="{min: !item.open}">
                <div class="title" (click)="tapToggle(item)">
                    {{ item.bulletin.title }}
                </div>
                <div class="content">
                    <app-rule-block [value]="item.bulletin.content" [rules]="item.bulletin.extra_rule" (tapped)="tapBlock($event)"></app-rule-block>
                </div>
                <div class="footer">
                    <span>发送者：{{ item.bulletin.user_name }}</span>
                    <span>发送时间：{{ item.created_at }}</span>
                    <span>状态：{{ item.status > 0 ? '已阅' : '未读' }}</span>
                    @if (item.open && item.status > 0) {
                        <a (click)="tapRemove(item)">[删除]</a>
                    }
                </div>
            </div>
        }

        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>

</div>