<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>这是通知列表</li>
        </ul>
    </app-page-tip>

    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal">
                <div class="input-group">
                    <label for="keywords">标题</label>
                    <input type="text" class="form-control" name="keywords" id="keywords" placeholder="搜索标题" value="">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a class="btn btn-danger pull-right" >全部已读</a>
            </form>
        </div>

        <ng-container *ngFor="let item of items">
            <div class="bulletin-item min">
                <div class="title">
                    {{ item.bulletin.title }}
                </div>
                <div class="content">{{ item.bulletin.content }}</div>
                <div class="footer">
                    <span>发送者：{{ item.bulletin.user_name }}</span>
                    <span>发送时间：{{ item.created_at }}</span>
                    <span>状态：{{ item.status > 0 ? '已阅' : '未读' }}</span>
                </div>
            </div>
        </ng-container>


        <app-pagination  [total]="total" [(page)]="page" [perPage]="perPage" 
            (pageChange)="tapPage()"></app-pagination>
    </div>

</div>