<div class="color-container">
    <select class="form-control" [(ngModel)]="colorType">
        <option value="">无</option>
        <option value="transparent" *ngIf="isFull">透明</option>
        <option value="color">颜色</option>
        <option value="image" *ngIf="isFull">图片</option>
    </select>
    <ng-container *ngIf="colorType == 'color'">
        <input type="color" class="form-control">
    </ng-container>
    <ng-container *ngIf="colorType == 'image'">
        <app-file-input></app-file-input>
    </ng-container>
</div>