<div class="container-fluid tablet-collapse">
    <app-page-tip>
        <ul>
            <li>预算支出曲线图</li>
        </ul>
    </app-page-tip>
    @if (data()) {
    <div class="row">
        <div class="col-md-12">
            <h2 class="title-bar"> 
                <strong>{{ data().name }}</strong>    
                预算支出曲线图&nbsp;<small>按 
                <strong>{{ cycleFormat() }}</strong>    
                周期统计</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-7">
            <app-date-input [formField]="queries.start_at" (valueChange)="onQueriesChange()" />
            ~
            <app-date-input [formField]="queries.end_at" (valueChange)="onQueriesChange()" />
        </div>
        <div class="col-xl-5 text-right">
            总支出：{{ total() | numberFormat }}，总预算：{{ budgetTotal() | numberFormat }}，超出：{{ overTotal() | numberFormat }}
    
            <a routerLink="../../income" [queryParams]="{type: 1, budget: data().id}">查看消费记录</a>
        </div>
    </div>
    }
    

</div>

@if (data()) {
<div class="tablet-large-header tablet-visible">
    <div class="route-bar">
        <a class="route-icon" (click)="tapBack()">
            <i class="iconfont icon-chevron-left"></i>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </a>
        <div class="route-title">
            <app-date-range-picker [(begin)]="queries.start_at().value" [(end)]="queries.end_at().value" (valueChange)="onQueriesChange()"/>
        </div>
        <a class="route-icon" routerLink="../../income" [queryParams]="{type: 1, budget: data().id}">
            消费记录
        </a>
    </div>
    <h2 class="title-bar"> 
            <strong>{{ data().name }}</strong>    
            预算支出曲线图
    </h2>
    <div class="meta-bar">
        <small>按 
            <strong>{{ cycleFormat() }}</strong>    
            周期统计</small>
    </div>

    <div class="meta-bar">
        {{ budgetTotal() | numberFormat }} - {{ total() | numberFormat }} = 
        @if (overTotal() > 0) {
             -
        }
        {{ overTotal() | numberFormat }}
    </div>
</div>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div appChart [options]="options()" class="chart-lg"></div>
        </div>
    </div>

</div>