@use '../../../../theme/theme';

.title-bar {
    text-align: center;
    small {
        font-size: .5em;
    }
}
.text-right {
    text-align: right;
}

.tablet-large-header {
    --#{theme.$prefix}header: var(--#{theme.$prefix}surface);
    --#{theme.$prefix}header-text: var(--#{theme.$prefix}surface-text);
    --#{theme.$prefix}header-active-text: var(--#{theme.$prefix}surface-selected-text);
    background-color: var(--#{theme.$prefix}header);
    color: var(--#{theme.$prefix}header-text);
    padding-bottom: 1rem;

    .meta-bar {
        text-align: center;
        color: var(--#{theme.$prefix}header-text);
        margin-bottom: .8rem;
    }
    .title-bar {
        color: var(--#{theme.$prefix}header-active-text);
    }
}