.table-toggle {
    tr {
        background-color: #fff;
        &.tr-child {
            background-color: transparent;
            td {
                text-align: left;
                padding-bottom: 20px;
            }
        }
    }
}

.line-item {
    padding: 5px 0;
    .label {
        color: #777;
        padding: 0 10px;
    }
}