@if (visible()) {
    <div class="dialog-mask" (click)="close()"></div>
    <div class="dialog-box" animate.enter="dialog-opened" animate.leave="dialog-closed">
        <div class="dialog-header">
            <div class="dialog-title">{{ title }}</div>
            <i class="iconfont icon-close dialog-close" (click)="close()"></i>
        </div>
        <div class="dialog-body">
            <div class="input-flex-group">
                <div class="input-header-block" [class.input-not-empty]="dataForm.buyPrice().valid()">
                    <input type="number" class="form-control" [formField]="dataForm.buyPrice" (input)="onPriceChange('buyPrice')">
                    <label for="">交易平台价</label>
                </div>
                <div class="input-header-block" [class.input-not-empty]="dataForm.discount().valid()">
                    <input type="number" class="form-control" [formField]="dataForm.discount" (input)="onPriceChange('discount')">
                    <label for="">折扣</label>
                </div>
                <div class="input-header-block" [class.input-not-empty]="dataForm.sellPrice().valid()">
                    <input type="number" class="form-control" [formField]="dataForm.sellPrice" (input)="onPriceChange('sellPrice')">
                    <label for="">Steam价</label>
                </div>
                <button class="btn btn-primary" (click)="tapReset()">
                    <i class="iconfont icon-refresh"></i>
                </button>
            </div>
        </div>
    </div>
}
