<app-edit-header [title]="dataModel().id > 0 ? '编辑文章' : '新增文章'" (submited)="tapSubmit($event)" [disabled]="dataForm().invalid()" />


<div class="container-fluid">
    <form class="form-table-control" (submit)="tapSubmit2($event)">
        <div class="panel-container">

            <div class="title-input">
                <label for="title">标题</label>
                <input type="text" id="title" class="form-control" [formField]="dataForm.title">
            </div>

            <app-markdown-editor [formField]="dataForm.content" (imageUpload)="editorImageUpload($event)" [height]="400" />
        </div>

        <div class="row">
            <div class="col-md-6">
                <app-panel title="高级属性">
                    <div class="input-group-control">
                        <label for="term_id">分类</label>
                        <div>
                            <select id="term_id" class="form-control" [formField]="dataForm.term_id">
                                @for (item of categories; track $index) {
                                    <option [value]="item.id">{{ item.name }}</option>
                                }
                            </select>

                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="programming_language">编程语言</label>
                        <div>
                            <select id="programming_language" class="form-control" [formField]="dataForm.programming_language">
                                <option value="">请选择</option>
                                @for (item of languages; track $index) {
                                    <option [value]="item">{{ item }}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="type">类型</label>
                        <div>
                            <select id="type" class="form-control" [formField]="dataForm.type">
                                <option value="0" >原创</option>
                                <option value="1">转载</option>
                            </select>

                        </div>
                    </div>

                    <div class="input-group-control">
                        <label for="thumb">图片</label>
                        <div>
                            <app-file-input [formField]="dataForm.thumb" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="open_type">公开类型</label>
                        <div>
                            <select id="open_type" class="form-control" [formField]="dataForm.open_type">
                                @for (item of openItems; track $index) {
                                    <option [value]="item.value">{{ item.name }}</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="input-group-control">
                        <label for="edit_type">编辑器</label>
                        <div>
                            <select id="edit_type" class="form-control" [formField]="dataForm.edit_type">
                                <option value="0">Ueditor</option>
                                <option value="1">MarkDown</option>
                            </select>

                        </div>
                    </div>

                    <div class="input-group-control">
                        <label for="keywords">关键字</label>
                        <div>
                            <app-words-input id="keywords" [formField]="dataForm.keywords" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="description">说明</label>
                        <div>
                            <textarea id="description" class="form-control" [formField]="dataForm.description"></textarea>
                            <div class="edit-tip">
                                已输入 0 个字符
                            </div>
                        </div>
                    </div>

                    <div class="input-group-control">
                        <label>标签</label>
                        <div>
                            <app-select-input [multiple]="true" [source]="tagItems" [creatable]="true" placeholder="选择标签" />
                        </div>
                    </div>
                </app-panel>
            </div>
            <div class="col-md-6">
                <app-panel title="附加属性">

                    <div class="input-group-control">
                        <label for="weather">天气</label>
                        <div>
                            <select id="weather" class="form-control" [formField]="dataForm.weather">
                                <option value="">请选择</option>
                                @for (item of weathers; track $index) {
                                    <option [value]="item.value">{{ item.name }}</option>
                                }
                            </select>

                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="audio_url">音频</label>
                        <div class="file-input">
                            <app-file-input [formField]="dataForm.audio_url" accept="audio/*" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="video_url">视频</label>
                        <div>
                            <app-file-input [formField]="dataForm.video_url" accept="video/*" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="meta_cc_license">版权协议</label>
                        <div>
                            <select id="meta_cc_license" class="form-control" [formField]="dataForm.cc_license">
                                <option value="">请选择</option>
                                @for (item of licenses; track $index) {
                                    <option [value]="item.value">{{ item.name }}</option>
                                }
                            </select>
                        </div>
                    </div>
                </app-panel>
                <app-panel title="SEO优化" [min]="true">

                    <div class="input-group-control">
                        <label for="meta_seo_title">SEO标题</label>
                        <div>
                            <input type="text" id="meta_seo_title" class="form-control" [formField]="dataForm.seo_title">
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="meta_seo_description">SEO描述</label>
                        <div>
                            <textarea id="meta_seo_description" class="form-control" [formField]="dataForm.seo_description"></textarea>
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="meta_seo_link">链接别名</label>
                        <div>
                            <input type="text" id="meta_seo_link" class="form-control" [formField]="dataForm.seo_link">
                            <div class="control-tooltip">
                                请使用数字字母-_组成，请不要输入空格、/
                            </div>
                        </div>
                    </div>
                </app-panel>
            </div>
        </div>

        <div class="btn-group">
            <app-action-button class="btn btn-primary" (tapped)="tapSubmit($event)" [disabled]="dataForm().invalid()">保存</app-action-button>
            <app-action-button class="btn btn-success" (tapped)="tapSubmit($event, 5)" [disabled]="dataForm().invalid()">保存并发布</app-action-button>
            <a class="btn btn-danger" (click)="tapBack()">取消修改</a>
        </div>
    </form>
</div>
