<div class="row">
    <div class="offset-md-8 col-md-4">
        <form class="search-bar" (submit)="tapSearch()">
            <input type="text" class="form-control" name="keywords" i18n-placeholder placeholder="Please input a keyword" id="keywords" [field]="queries.keywords">
            <button class="btn btn-primary" i18n>Search</button>
        </form>
    </div>
</div>
<div class="tab-bar">
    <a class="item" [class]="{active: queries.category < 1}" (click)="tapCategory()" i18n>All</a>
    @for (item of categories; track $index) {
        <a class="item" [class]="{active: queries.category == item.id}" (click)="tapCategory(item)">{{ item.name }}</a>
    }
</div>

@for (item of items; track $index) {
    <div class="service-item">
        <div class="title">
            {{ item.name }}
        </div>
        <div class="brief">
            {{ item.brief }}
        </div>
        @if (item.status < 0) {
            <a class="btn btn-info" (click)="tapApply(item)">
                <span i18n>Apply</span>
            </a>
        } @else {
            <a class="btn btn-success">
                <span i18n>Applied</span>
            </a>
        }
        
        
    </div>
}
<app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />