.cmd-box {
    overflow-y: auto;
    height: 18.75rem;
    border: 1px solid #777;
    border-radius: 5px;
    padding: 5px;
    box-shadow: rgba(100, 100, 100, .3) 0 0 10px inset;
    .cmd-line {
        line-height: 1.5625rem;
        color: #333;
        word-break: break-all;
        margin-bottom: 0;
        .iconfont {
            margin-right: .8rem;
        }
        .icon-check {
            color: green;
        }
        .icon-close {
            color: red;
        }
    }
}