@if (step < 1) {
<div class="game-screen">
    <div class="screen-banner">
        <img [src]=" project.logo |asset" alt="">
    </div>
    <div class="screen-name">{{ project.name }}</div>
    <div class="screen-meta">{{ project.description }}</div>
    <div class="screen-action">
        <a class="option-item" (click)="step = 1">创建角色</a>
        @for (item of characterItems; track $index) {
            <a class="option-character-item" (click)="tapCharacter(item)">
                <div class="item-avatar">
                    <img [appLazyLoad]="'assets/images/logo.png'" alt="">
                </div>
                <div class="item-body">
                    <span class="item-name">{{ item.nickname }}</span>
                    <span class="itme-meta">({{ item.grade }}级 {{ item.identity?.name }})</span>
                </div>
            </a>
        }
        
    </div>
</div>
}
@if (step == 1) {
<div>
    <h2 class="banner-text">请选择血统</h2>
    <div class="option-group">
        @for (item of descentItems; track $index) {
            <a class="option-item" [class]="{selected: dataForm.descent_id().value() == item.id}" (click)="tapDescent(item)">{{ item.name }}</a>
        }
    </div>
</div>
} @else if (step == 2) {
<div>
    <h2 class="banner-text">请选择职业</h2>
    <div class="option-group">
        @for (item of identityItems; track $index) {
            <a class="option-item" [class]="{selected: dataForm.identity_id().value() == item.id}" (click)="tapIdentity(item)">{{ item.name }}</a>
        }
    </div>
</div>
} @else if (step >= 3) {
<div>
    <h2 class="banner-text">请选择角色性别</h2>
    <div class="option-group">
        @for (item of sexItems; track $index) {
            <a class="option-item" [class]="{selected: dataForm.sex().value() == item.value}"  (click)="tapSex(item.value)">{{ item.name }}</a>
        }
    </div>
    @if (step == 4) {
    <div class="flat-input">
        <input type="text" class="form-control" [field]="dataForm.name" placeholder="请输入称呼">
        <app-action-button class="btn btn-primary" (tapped)="tapSubmit($event)">确认</app-action-button>
    </div>
    }
</div>
}