<div class="question-editor">
    <div class="panel-tool-bar editor-tool-bar">
        <div class="tool-item" title="编辑分数">
            <input type="text" class="form-control btn-info" [value]="value().score" placeholder="分数" maxLength="2" 
            (input)="onScoreChange($event.target.value)">
        </div>
        <div class="tool-item btn-primary" [class]="{active: extendOpen}" title="添加附加内容" (click)="extendOpen = !extendOpen">
            <i class="iconfont icon-plus"></i>
        </div>
        @if (canEdit()) {
        <div class="tool-item btn-success" (click)="tapEditAnalysis(analysisModal)" [title]="analysisItems.length > 0 ? '修改解析' : '添加解析'">
            <i class="iconfont icon-key"></i>
        </div>
        <div class="tool-drop-item">
            <div class="drop-icon btn-primary" (click)="typeOpen = !typeOpen">
                <i class="iconfont icon-exchange"></i>
            </div>
            <ul class="drop-body" [hidden]="!typeOpen">
                @for (item of typeItems; track $index; let i = $index) {
                    <li [class]="{active: i == value().type}" (click)="tapType(i)">{{ item }}</li>
                }
            </ul>
        </div>
        }
    </div>
    <div class="editor-header">
        <div class="title">
            <textarea class="form-control" placeholder="请输入题目内容" [value]="value().title" (valueChange)="onTitleChange($event)" [disabled]="!canEdit()"></textarea>
        </div>
        <div class="material">
            @if (materialType < 1 && materialFile) {
                <img [src]="materialFile">
            } @else if (materialType == 1 && materialFile) {
                <app-audio-player [src]="materialFile" />
            } @else if (materialType == 2 && materialFile) {
                <app-video-player [src]="materialFile" />
            }
            @if (canEdit()) {
            <label for="upload-input" class="add-btn" title="上传图片/视频/音频">
                <i class="iconfont icon-upload"></i>
                <input type="file" id="upload-input" accept="image/*,audio/*,video/*" (change)="uploadFile($event)">
            </label>
            }
            @if (materialFile && canEdit) {
            <div class="add-btn btn-danger" title="删除素材" (click)="tapRemoveMaterial()">
                <i class="iconfont icon-trash"></i>
            </div>
            }
        </div>
        <div class="content" [hidden]="!extendOpen">
            <app-exam-editor label="附加内容："  placeholder="请输入附加内容" [value]="value().content" 
                (valueChange)="onExtendChange($event)"  [disabled]="!canEdit" />
        </div>
    </div>

    <div class="editor-option">
       @if (value().type == 2) {
           <app-bool-input [(value)]="value().answer" (valueChange)="onValueChange()" [disabled]="!canEdit()" />
       } @else if (!value().type || value().type < 2 || value().type == 4) {
           <app-option-input [multiple]="value().type > 0" [(value)]="optionItems" (valueChange)="onValueChange()" [disabled]="!canEdit()" />
       } @else if (value().type == 3) {
            <app-exam-editor label="答案："  placeholder="请输入答案" [value]="value().answer" (valueChange)="onAnswerChange($event)" [disabled]="!canEdit" />
       } @else if (value().type == 5) {
            <app-question-children [(value)]="kidItems" (valueChange)="onValueChange()" />
       }
       
    </div>
</div>

<app-dialog-box #analysisModal title="管理题目解析">
    <div class="form-group">
        <label>内容类型</label>
        <select class="form-control" [(value)]="analysisData.type">
            @for (item of analysisTypeItems; track $index; let i = $index) {
                <option [value]="i">{{ item }}</option>
            }
        </select>
    </div>
    @if (analysisData.type < 1) {
        <app-exam-editor [(value)]="analysisData.content" />
    } @else {
        <app-file-input [(value)]="analysisData.content" accept="*/*" />
    }
</app-dialog-box>