<app-edit-header [title]="data && data.id > 0 ? '编辑流水' : '新增流水'"(submited)="tapSubmit()"></app-edit-header>
<div class="container-fluid">
    <div class="form-table-control panel-container">
        @if (mode < 1) {
            <div class="input-group-control">
                <label for="type">类型</label>
                <div>
                    @for (item of typeItems; track $index; let i = $index) {
                    <span class="radio-label" [ngClass]="{checked: i == data.type}" (click)="data.type = i">
                        <label>{{ item }}</label>
                    </span>
                    }
                </div>
            </div>
            <div class="input-group-control">
                <label for="money">金额</label>
                <div>
                    <input type="text" id="money" class="form-control" [(ngModel)]="data.money">
            
                </div>
            </div>
            <div class="input-group-control">
                <label for="frozen_money">冻结金额</label>
                <div>
                    <input type="text" id="frozen_money" class="form-control" [(ngModel)]="data.frozen_money">
                </div>
            </div>    <div class="input-group-control">
                <label for="account_id">账户</label>
                <div>
                    <select id="account_id" class="form-control" [(ngModel)]="data.account_id">
                        @for (item of accountItems; track $index) {
                        <option [value]="item.id">{{ item.name }}</option>
                        }
                    </select>
                </div>
            </div>
            <div class="input-group-control">
                <label for="project_id">项目</label>
                <div>
                    <select id="project_id" class="form-control" [(ngModel)]="data.project_id">
                        <option [value]="0">请选择</option>
                        @for (item of projectItems; track $index) {
                        <option [value]="item.id">{{ item.name }}</option>
                        }
                    </select>
            
                </div>
            </div>
            <div class="input-group-control">
                <label for="channel_id">渠道</label>
                <div>
                    <select id="channel_id" class="form-control" [(ngModel)]="data.channel_id">
                        <option [value]="0">请选择</option>
                        @for (item of channelItems; track $index) {
                        <option [value]="item.id">{{ item.name }}</option>
                        }
                    </select>
            
                </div>
            </div>
            <div class="input-group-control">
                <label for="budget_id">预算</label>
                <div>
                    <select id="budget_id" class="form-control" [(ngModel)]="data.budget_id">
                        <option [value]="0">请选择</option>
                        @for (item of budgetItems; track $index) {
                        <option [value]="item.id">{{ item.name }}</option>
                        }
                    </select>
                </div>
            </div>
            <div class="input-group-control">
                <label for="trading_object">交易对象</label>
                <div>
                    <input type="text" id="trading_object" class="form-control" [(ngModel)]="data.trading_object">
            
                </div>
            </div>
            <div class="input-group-control">
                <label for="happened_at">发生时间</label>
                <div>
                    <app-date-input id="happened_at" [(ngModel)]="data.happened_at" format="yyyy-mm-dd hh:ii:ss"></app-date-input>
                </div>
            </div>
            <div class="input-group-control">
                <label for="remark">备注</label>
                <div>
                    <textarea id="remark" class="form-control" [(ngModel)]="data.remark"></textarea>
            
                </div>
            </div>
        } @else {
            <div class="input-group-control">
                <label for="day">日期</label>
                <div>
                    <app-date-input id="day" [(ngModel)]="dayData.day"></app-date-input>
                </div>
            </div>
            <div class="input-group-control">
                <label for="account_id">账户</label>
                <div>
                    <select id="account_id" class="form-control" [(ngModel)]="dayData.account_id">
                        @for (item of accountItems; track $index) {
                        <option [value]="item.id">{{ item.name }}</option>
                        }
                    </select>
                </div>
            </div>
            <div class="input-group-control">
                <label for="channel_id">渠道</label>
                <div>
                    <select id="channel_id" class="form-control" [(ngModel)]="dayData.channel_id">
                        <option [value]="0">请选择</option>
                        @for (item of channelItems; track $index) {
                        <option [value]="item.id">{{ item.name }}</option>
                        }
                    </select>

                </div>
            </div>
            <div class="input-group-control">
                <label for="budget_id">预算</label>
                <div>
                    <select id="budget_id" class="form-control" [(ngModel)]="dayData.budget_id">
                        <option [value]="0">请选择</option>
                        @for (item of budgetItems; track $index) {
                        <option [value]="item.id">{{ item.name }}</option>
                        }
                    </select>

                </div>
            </div>
            <div class="header">早餐</div>
            <div class="input-group-control">
                <label for="breakfast_time">时间</label>
                <div>
                    <app-time-input id="breakfast_time" [(ngModel)]="dayData.breakfast.time"></app-time-input>
                </div>
            </div>
            <div class="input-group-control">
                <label for="breakfast_money">金额</label>
                <div>
                    <input type="text" id="breakfast_money" class="form-control" [(ngModel)]="dayData.breakfast.money">

                </div>
            </div>
            <div class="input-group-control">
                <label for="breakfast_remark">备注</label>
                <div>
                    <textarea id="breakfast_remark" class="form-control" [(ngModel)]="dayData.breakfast.remark"></textarea>

                </div>
            </div>
            <div class="header">午餐</div>
            <div class="input-group-control">
                <label for="lunch_time">时间</label>
                <div>
                    <app-time-input id="lunch_time" [(ngModel)]="dayData.lunch.time"></app-time-input>

                </div>
            </div>
            <div class="input-group-control">
                <label for="lunch_money">金额</label>
                <div>
                    <input type="text" id="lunch_money" class="form-control" [(ngModel)]="dayData.lunch.money">

                </div>
            </div>
            <div class="input-group-control">
                <label for="lunch_remark">备注</label>
                <div>
                    <textarea id="lunch_remark" class="form-control" [(ngModel)]="dayData.lunch.remark"></textarea>

                </div>
            </div>
            <div class="header">晚餐</div>
            <div class="input-group-control">
                <label for="dinner_time">时间</label>
                <div>
                    <app-time-input id="dinner_time" [(ngModel)]="dayData.dinner.time"></app-time-input>

                </div>
            </div>
            <div class="input-group-control">
                <label for="dinner_money">金额</label>
                <div>
                    <input type="text" id="dinner_money" class="form-control" [(ngModel)]="dayData.dinner.money">

                </div>
            </div>
            <div class="input-group-control">
                <label for="dinner_remark">备注</label>
                <div>
                    <textarea id="dinner_remark" class="form-control" [(ngModel)]="dayData.dinner.remark"></textarea>
                </div>
            </div>
        }
        <div class="btn-group">
            <button (click)="tapSubmit()" class="btn btn-success">确认保存</button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
            @if (data.id < 1 && mode < 1) {
                <a class="btn btn-info" (click)="toggleMode(1)">一日三餐模式</a>
            } @else if (data.id < 1 && mode > 0) {
                <a class="btn btn-info" (click)="toggleMode(0)">普通模式</a>
            }
        </div>
    </div>
</div>