<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>这是首页</li>
        </ul>
    </app-page-tip>
    <div class="row">
        <div class="col-md-4">
            <div class="column-full-item">
                @if (isLoading()) {
                <div class="overlay">
                    <i class="iconfont icon-refresh"></i>
                </div>
                }
                <div class="inner">
                    <h3>{{ data().user_today || 0 | numberFormat }}/{{ data().user_yesterday || 0 | numberFormat }}/{{ data().user_count || 0 | numberFormat }}</h3>
                    <p>今日/昨日/总用户</p>
                </div>
                <div class="icon">
                    <i class="iconfont icon-user"></i>
                </div>
                <a class="column-footer" routerLink="auth/users">
                    查看更多
                    <i class="iconfont icon-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="column-full-item">
                @if (isLoading()) {
                <div class="overlay">
                    <i class="iconfont icon-refresh"></i>
                </div>
                }
                <div class="inner">
                    <h3>{{ data().view_today || 0 | numberFormat }}/{{ data().view_count || 0 | numberFormat }}</h3>
                    <p>今日/总流量</p>
                </div>
                <div class="icon">
                    <i class="iconfont icon-eye"></i>
                </div>
                <a class="column-footer" routerLink="/counter">
                    查看更多
                    <i class="iconfont icon-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="column-full-item">
                @if (isLoading()) {
                <div class="overlay">
                    <i class="iconfont icon-refresh"></i>
                </div>
                }
                <div class="inner">
                    <h3>{{ data().feedback_new || 0 | numberFormat }}/{{ data().feedback_count || 0 | numberFormat }}</h3>
                    <p>未处理/总留言</p>
                </div>
                <div class="icon">
                    <i class="iconfont icon-commenting"></i>
                </div>
                <a class="column-footer" routerLink="contact/feedback">
                    查看更多
                    <i class="iconfont icon-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="column-full-item">
                @if (isLoading()) {
                <div class="overlay">
                    <i class="iconfont icon-refresh"></i>
                </div>
                }
                <div class="inner">
                    <h3>{{ data().report_new || 0 | numberFormat }}/{{ data().report_count || 0 | numberFormat }}</h3>
                    <p>未处理/总投诉</p>
                </div>
                <div class="icon">
                    <i class="iconfont icon-thumbs-down"></i>
                </div>
                <a class="column-footer" routerLink="contact/report">
                    查看更多
                    <i class="iconfont icon-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="column-full-item">
                @if (isLoading()) {
                <div class="overlay">
                    <i class="iconfont icon-refresh"></i>
                </div>
                }
                <div class="inner">
                    <h3>{{ data().link_today || 0 | numberFormat }}/{{ data().link_count || 0 | numberFormat }}</h3>
                    <p>今日/总友链</p>
                </div>
                <div class="icon">
                    <i class="iconfont icon-chain"></i>
                </div>
                <a class="column-footer" routerLink="contact/friend-link">
                    查看更多
                    <i class="iconfont icon-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="column-full-item">
                @if (isLoading()) {
                <div class="overlay">
                    <i class="iconfont icon-refresh"></i>
                </div>
                }
                <div class="inner">
                    <h3>{{ data().subscribe_today || 0 | numberFormat }}/{{ data().subscribe_count || 0 | numberFormat }}</h3>
                    <p>今日/总订阅</p>
                </div>
                <div class="icon">
                    <i class="iconfont icon-mail"></i>
                </div>
                <a class="column-footer" routerLink="contact/subscribe">
                    查看更多
                    <i class="iconfont icon-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="flat-input">
        <input type="text" class="form-control" (keydown)="onKey($event)">
        <button class="btn btn-primary">{{ debugKey }}</button>
    </div>

</div>