<div class="container-fluid">
  <app-page-tip>
      <ul>
          <li>这是首页</li>
      </ul>
  </app-page-tip>
  <div class="column-full-item">
    <div class="overlay">
      <i class="iconfont icon-refresh"></i>
    </div>
    <div class="inner">
      <h3>50</h3>
      <p>今日订单</p>
    </div>
    <div class="icon">
      <i class="iconfont icon-file-o"></i>
    </div>
    <a class="column-footer">
      查看更多
      <i class="iconfont icon-arrow-right"></i>
    </a>
  </div>

  <div class="flat-input">
    <input type="text" class="form-control">
    <button class="btn btn-primary">GO</button>
  </div>
</div>