@use '../../../../theme/theme';
.comment-item {
    background-color: var(--#{theme.$prefix}panel);
    margin: 10px 0;
    padding: 5px;
    .time {
        font-size: 12px;
        color: var(--#{theme.$prefix}meta-text);
    }
    .content {
        img {
            max-width: 100%;
        }
    }
}
.file-btn {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0;
    height: 2.5rem;
    input[type='file'] {
        width: 0;
        height: 0;
        overflow: hidden;
        flex: none;
    }
}