@use '../../../../theme/theme';
@use '../../../../../bootstrap/variables';
.search-dialog-container {
    position: fixed;
    border-radius: .375rem;
    top: 50%;
    margin-top: -12.5rem;
    left: 50%;
    margin-left: -24rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    z-index: #{variables.$zindex-modal};
    background-color: var(--#{theme.$prefix}panel);
    box-shadow: 0 0 20px rgba(var(--#{theme.$prefix}mask-rgb), 0.2);
    width: 48rem;
    .search-bar {
        padding-left: 0px;
    }
    .body-container {
        overflow-y: auto;
        flex: 1;
        background-color: var(--#{theme.$prefix}body);
    }
    .footer-container {
        display: flex;
        justify-content: space-between;
        .btn {
            display: inline-block;
        }
    }
}

.book-item {
    background-color: var(--#{theme.$prefix}panel);
    display: grid;
    grid-template-columns: 1fr 80px;
    margin-bottom: 20px;
    padding: 10px;
    .item-action {
        text-align: center;
        background-color: var(--#{theme.$prefix}success);
        color: var(--#{theme.$prefix}success-text);
        margin: -10px;
        display: flex;
        justify-content:center;
        align-items:Center;
        a {
            color: var(--#{theme.$prefix}success-text);
        }
    }
}