@if (visible()) {
<div class="dialog-mask"></div>
<div class="search-dialog-container">
    <div class="search-bar">
        <form class="form-horizontal-control" (submit)="tapSearch($event)">
            <div class="flat-input">
                <input type="text" class="form-control" id="keywords" [formField]="queries.keywords" id="keywords" placeholder="请输入关键词搜索" >
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn btn-danger" (click)="close()">
                    <i class="iconfont icon-close"></i>
                </div>
            </div>
        </form>
    </div>
    <div class="body-container">
        @for (item of items(); track $index) {
            <div class="book-item">
                <div class="item-body">
                    <p>{{ item.name }}
                        @if (item.author) {
                            ({{ item.author }})
                        }
                    </p>
                    <p>总字数： {{ item.size | numberFormat }}</p>
                    <p>
                        最新章节： {{ item.last_chapter }}
                    </p>
                </div>
                <div class="item-action">
                    <a (click)="tapAsync(item)">同步</a>
                </div>
            </div>
        }
    </div>
    <div class="footer-container">
        <app-pagination [total]="total()" [formField]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
        <div class="load-progress">
            <progress [hidden]="!isAsync" [value]="loadProgress"></progress>
            <span>{{ loadTip }}</span>
        </div>
    </div>
</div>
}