<div class="tablet-large-header tablet-visible">
    <div class="route-bar">
        <a class="route-icon" (click)="tapBack()">
            <i class="iconfont icon-chevron-left"></i>
        </a>
        <span class="route-title" i18n>
            Profile
        </span>
    </div>
</div>
@if (user()) {
<div class="container">
    <form class="form-table-control" [hidden]="tabIndex() > 0" (submit)="tapSubmit($event)">
        <div class="input-group-control">
            <label for="fileUpload" i18n>Avatar</label>
            <div>
                <div class="avatar-input">
                    <img [src]="user().avatar">
                    <label class="iconfont icon-camera" for="fileUpload"></label>
                    <input type="file" name="file" id="fileUpload" (change)="uploadFile($event)" accept="image/*"/>
                </div>
            </div>
        </div>
        <div class="input-group-control">
            <label for="name" i18n>Nickname</label>
            <div>
                <input type="text" id="name" class="form-control " [formField]="dataForm.name">
            </div>
        </div>
        <div class="input-group-control">
            <label for="email" i18n>Email</label>
            <div>
                <input type="email" id="email" class="form-control" i18n-placeholder placeholder="Please input email" [value]="user()?.email" (click)="tapStepEdit()" readonly>
            </div>
        </div>
        <div class="input-group-control">
            <label for="sex" i18n>Sex</label>
            <div>
                <app-check-input [items]="sexItems" rangeKey="value" [formField]="dataForm.sex" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="mobile" i18n>Phone</label>
            <div>
                <input type="text" id="mobile" class="form-control" [value]="user()?.mobile" (click)="tapStepEdit('mobile')" readonly>
            </div>
        </div>
        <div class="input-group-control">
            <label for="birthday" i18n>Birthday</label>
            <div>
                <app-date-input [formField]="dataForm.birthday" />
            </div>
        </div>
        <div class="offset-md-3">
            <button class="btn btn-primary" i18n>Save</button>
        </div>
    </form>
    @if (tabIndex() == 2) {
    <div class="inner-container">
        <app-member-bind-step [name]="stepData.name" [user]="user()" />
    </div>
    }
</div>
}

