@use './styles/variables';
@use './styles/form';
@use './styles/goods';
@use './styles/menu';
@use './styles/tab';
@use './styles/panel';
.shop-container ::ng-deep { 
    @include form.container;
    @include goods.container;
    @include menu.container;
    @include tab.container;
    @include panel.container;
    @media (min-width: 768px) {
        .side-box {
            display: grid;
            grid-template-columns: 180px 1fr;
            grid-gap: 20px;
        }
    }

}