@import './styles/variables';
.shop-container ::ng-deep { 
    @import './styles/form';
    @import './styles/goods';
    @import './styles/menu';
    @import './styles/tab';
    @import './styles/panel';
    @media (min-width: 768px) {
        .side-box {
            display: grid;
            grid-template-columns: 180px 1fr;
            grid-gap: 20px;
        }
    }

}