.password-strong {
    margin: .2em 0;
    position: relative;
    height: 1em;
    line-height: 1em;
    .label {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 0;
    }
    .strong-bar {
        display: inline-block;
        height: 1em;
    }
}
.strong-level-0 {
    display: none;
}
.strong-level-1 {
    .strong-bar {
        width: 30%;
        background-color: #ff8500;
    }
}

.strong-level-2 {
    .strong-bar {
        width: 50%;
        background-color: #ffdc1e;
    }
}
.strong-level-3 {
    .strong-bar {
        width: 70%;
        background-color: #c6ff35;
    }
}
.strong-level-4 {
    .strong-bar {
        width: 95%;
        background-color: #68ff00;
    }
}