<div class="container-fluid">
    <div class="row">
        @for (item of items; track $index) {
            <div class="col-md-6 col-lg-4">
            <div class="project-item" [ngClass]="{inactive: item.status < 1}">
                <div class="item-logo">
                    <img [appLazyLoad]="item.logo" [alt]="item.name">
                </div>
                <div class="item-body">
                    <div class="item-action">
                        <app-switch [field]="item.status" (ngModelChange)="onStatusChange(item)" />
                    </div>
                    <div class="item-name">{{ item.name }}</div>
                    <div class="item-meta">{{ item.description }}</div>
                    <div class="item-action">
                        <div class="btn-group">
                            <a class="btn btn-info" [routerLink]="[item.id]">
                                <i class="iconfont icon-eye"></i>
                            </a>
                            <a class="btn btn-primary" (click)="open(modal, item)">
                                <i class="iconfont icon-edit"></i>
                            </a>
                            <a class="btn btn-danger">
                                <i class="iconfont icon-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }

        <div class="col-md-6 col-lg-4">
            <a class="add-project-item" (click)="open(modal)">
                <i class="iconfont icon-plus"></i>
            </a>
        </div>
    </div>
</div>
<app-dialog-box #modal [title]="editData.id ? '编辑' : '新建'">
    <div class="form-group">
        <label for="name-input">游戏名</label>
        <div class="input-group-control">
            <input class="form-control" id="name-input" [field]="editData.name" placeholder="请输入标题">
        </div>
    </div>
    <div class="form-group">
        <label>图标</label>
        <div class="input-group-control">
            <app-file-input [field]="editData.logo" [online]="true" />
        </div>
    </div>
    <div class="form-group">
        <label>说明</label>
        <div class="input-group-control">
            <textarea class="form-control" [field]="editData.description" placeholder="请输入简介"></textarea>
        </div>
    </div>
</app-dialog-box>