@use '../../../../theme/theme';
.container-fluid {
    margin-top: .8rem;
    margin-bottom: .8rem;
}
.project-item {
    --#{theme.$prefix}item-radius: .75rem;
    display: flex;
    padding: .4rem;
    background-color: var(--#{theme.$prefix}panel);
    height: 10rem;
    box-shadow: var(--#{theme.$prefix}box-shadow);
    transition: all .5s;
    border-radius: var(--#{theme.$prefix}item-radius);
    user-select: none;
    align-items: center;
    .item-logo {
        width: 8rem;
        height: 8rem;
        border-radius: var(--#{theme.$prefix}item-radius);
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .item-body {
        flex: 1;
    }
    .item-action {
        text-align: right;
    }
    .item-name {
        padding: .8rem .4rem;
        font-weight: 700;
    }
    .item-meta {
        padding: .4rem;
        color: var(--#{theme.$prefix}meta-text);
    }
    &.inactive {
        box-shadow: none;
        filter: grayscale(1);
    }
}

.add-project-item {
    border: 0.25rem dashed var(--#{theme.$prefix}border);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    user-select: none;
    color: var(--#{theme.$prefix}border);
    cursor: pointer;
    .iconfont {
        display: block;
        font-size: 4rem;
    }
}