<div class="panel property-panel" [hidden]="!panelVisible">
    <div class="panel-header">
        <span>属性</span>
        <i class="iconfont icon-close" (click)="tapClose($event)"></i>
    </div>
    <div class="panel-body" >
        <div class="tab-box">
            <div class="tab-header">
                <div class="tab-item" [ngClass]="{active: tabIndex < 1}" (click)="tabIndex = 0">基本</div>
                <div class="tab-item" [ngClass]="{active: tabIndex == 1}" (click)="tabIndex = 1">高级</div>
                <div class="tab-item" [ngClass]="{active: tabIndex == 2}" (click)="tabIndex = 2">样式</div>
            </div>
            <div class="tab-body" [ngStyle]="boxStyle">
                <div class="tab-item" [ngClass]="{active: tabIndex < 1}">
                    <div class="control-line-group">
                        <label for="">标题</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="control-inline-group">
                        <label for="">懒加载</label>
                        <app-switch></app-switch>
                    </div>
                    <div class="control-row">
                        <div class="radio-control-item">
                            <i class="iconfont icon-zuoduiqi" title="左对齐"></i>
                        </div>
                        <div class="radio-control-item">
                            <i class="iconfont icon-shuipingjuzhongduiqi" title="水平居中"></i>
                        </div>
                        <div class="radio-control-item">
                            <i class="iconfont icon-youduiqi" title="右对齐"></i>
                        </div>
                        <div class="radio-control-item">
                            <i class="iconfont icon-shuipingdengjianju" title="水平等间距"></i>
                        </div>
                    </div>
                    <div class="control-row">
                        <div class="radio-control-item">
                            <i class="iconfont icon-shangduiqi" title="上对齐"></i>
                        </div>
                        <div class="radio-control-item">
                            <i class="iconfont icon-chuizhijuzhongduiqi" title="垂直居中"></i>
                        </div>
                        <div class="radio-control-item">
                            <i class="iconfont icon-xiaduiqi" title="下对齐"></i>
                        </div>
                        <div class="radio-control-item">
                            <i class="iconfont icon-chuizhidengjianju" title="垂直等间距"></i>
                        </div>
                    </div>
                </div>
                <div class="tab-item" [ngClass]="{active: tabIndex == 1}">
                    <div class="control-line-gorup">
                        <label for="">定位</label>
                        <app-editor-position-input></app-editor-position-input>
                    </div>
                    <div class="control-slider-group">
                        <div class="control-body">
                            <label for="">透明度</label>
                            <input type="range">
                        </div>
                        <div class="select-with-control">
                            <div class="control-body">
                                <input type="number">
                            </div>
                        </div>
                    </div>
                    <div class="control-panel" [ngClass]="{open: panelToggle.box}">
                        <div class="panel-header" (click)="panelToggle.box = !panelToggle.box">
                            <span>外观</span>
                            <i class="iconfont" [ngClass]="{'icon-chevron-right': !panelToggle.box, 'icon-chevron-down': panelToggle.box}"></i>
                        </div>
                        <div class="panel-body">
                            <div class="control-inline-group">
                                <label for="">背景</label>
                                <app-editor-background-popup></app-editor-background-popup>
                            </div>
                            <div class="control-inline-group">
                                <label for="">描边</label>
                                <app-editor-border-popup></app-editor-border-popup>
                            </div>
                            <div class="control-inline-group">
                                <label for="">阴影</label>
                                <app-editor-shadow-popup></app-editor-shadow-popup>
                            </div>
                        </div>
                    </div>
                    <div class="control-panel" [ngClass]="{open: panelToggle.m}">
                        <div class="panel-header" (click)="panelToggle.m = !panelToggle.m">
                            <span>剪切蒙版</span>
                            <i class="iconfont"
                                [ngClass]="{'icon-chevron-right': !panelToggle.m, 'icon-chevron-down': panelToggle.m}"></i>
                        </div>
                        <div class="panel-body">
                            <app-editor-mask-input></app-editor-mask-input>
                        </div>
                    </div>
                    <div class="control-panel" [ngClass]="{open: panelToggle.title}">
                        <div class="panel-header" (click)="panelToggle.title = !panelToggle.title">
                            <span>标题栏</span>
                            <i class="iconfont"
                                [ngClass]="{'icon-chevron-right': !panelToggle.title, 'icon-chevron-down': panelToggle.title}"></i>
                        </div>
                        <div class="panel-body">
                            <div class="control-inline-group">
                                <label for="">可见</label>
                                <app-switch></app-switch>
                            </div>
                            <div class="control-line-group">
                                <label for="">内边距</label>
                                <app-editor-bound-input></app-editor-bound-input>
                            </div>
                            <div class="control-inline-group">
                                <label for="">边框</label>
                                <app-editor-border-popup></app-editor-border-popup>
                            </div>
                            <div class="control-inline-group">
                                <label for="">字体颜色</label>
                                <app-editor-color-popup></app-editor-color-popup>
                            </div>
                            <div class="control-inline-group">
                                <label for="">字体</label>
                                <app-editor-select-input></app-editor-select-input>
                            </div>
                            <div class="control-slider-group">
                                <div class="control-body">
                                    <label for="">字体大小</label>
                                    <input type="range">
                                </div>
                                <app-editor-size-input></app-editor-size-input>
                            </div>
                            <div class="control-inline-group">
                                <label for="">字体粗细</label>
                                <select></select>
                            </div>
                            <div class="control-line-group">
                                <label for="">字体位置</label>
                                <div class="control-row">
                                    <div class="radio-control-item">
                                        <i class="iconfont icon-zuoduiqi" title="左对齐"></i>
                                    </div>
                                    <div class="radio-control-item">
                                        <i class="iconfont icon-shuipingjuzhongduiqi" title="水平居中"></i>
                                    </div>
                                    <div class="radio-control-item">
                                        <i class="iconfont icon-youduiqi" title="右对齐"></i>
                                    </div>
                                    <div class="radio-control-item">
                                        <i class="iconfont icon-shuipingdengjianju" title="水平等间距"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="control-inline-group">
                                <label for="">背景</label>
                                <app-editor-background-popup></app-editor-background-popup>
                            </div>
                        </div>
                    </div>
                    <div class="control-panel" [ngClass]="{open: panelToggle.body}">
                        <div class="panel-header" (click)="panelToggle.body = !panelToggle.body">
                            <span>内容栏</span>
                            <i class="iconfont"
                                [ngClass]="{'icon-chevron-right': !panelToggle.body, 'icon-chevron-down': panelToggle.body}"></i>
                        </div>
                        <div class="panel-body">
                            <div class="control-inline-group">
                                <label for="">可见</label>
                                <app-switch></app-switch>
                            </div>
                            <div class="control-line-group">
                                <label for="">内边距</label>
                                <app-editor-bound-input></app-editor-bound-input>
                            </div>
                            <div class="control-inline-group">
                                <label for="">边框</label>
                                <app-editor-border-popup></app-editor-border-popup>
                            </div>
                            <div class="control-inline-group">
                                <label for="">字体颜色</label>
                                <app-editor-color-popup></app-editor-color-popup>
                            </div>
                            <div class="control-inline-group">
                                <label for="">字体</label>
                                <select name="" id=""></select>
                            </div>
                            <div class="control-slider-group">
                                <div class="control-body">
                                    <label for="">字体大小</label>
                                    <input type="range">
                                </div>
                                <app-editor-size-input></app-editor-size-input>
                            </div>
                            <div class="control-inline-group">
                                <label for="">字体粗细</label>
                                <select></select>
                            </div>
                            <div class="control-line-group">
                                <label for="">字体位置</label>
                                <div class="control-row">
                                    <div class="radio-control-item">
                                        <i class="iconfont icon-zuoduiqi" title="左对齐"></i>
                                    </div>
                                    <div class="radio-control-item">
                                        <i class="iconfont icon-shuipingjuzhongduiqi" title="水平居中"></i>
                                    </div>
                                    <div class="radio-control-item">
                                        <i class="iconfont icon-youduiqi" title="右对齐"></i>
                                    </div>
                                    <div class="radio-control-item">
                                        <i class="iconfont icon-shuipingdengjianju" title="水平等间距"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="control-inline-group">
                                <label for="">背景</label>
                                <app-editor-background-popup></app-editor-background-popup>
                            </div>
                        </div>
                    </div>
                    <div class="control-panel" [ngClass]="{open: panelToggle.anim}">
                        <div class="panel-header" (click)="panelToggle.anim = !panelToggle.anim">
                            <span>动画</span>
                            <i class="iconfont"
                                [ngClass]="{'icon-chevron-right': !panelToggle.anim, 'icon-chevron-down': panelToggle.anim}"></i>
                        </div>
                        <div class="panel-body">
                            <app-editor-animation-input></app-editor-animation-input>
                        </div>
                    </div>
                </div>
                <div class="tab-item" [ngClass]="{active: tabIndex == 2}" (click)="tabIndex = 2">
                    <div class="style-item active">无</div>
                </div>
            </div>
        </div>
    </div>
</div>