@import "../../../../theme/styles/scrollbar";
.property-panel {
    position: fixed;
    z-index: 102;
    width: 15em;
    background-color: #fff;
    box-shadow: 0 -2px 1.5em 0 rgb(39 54 78 / 11%);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    .panel-header {
        display: flex;
        justify-content: space-between;
    }
    .panel-body {
        padding: 0;
    }
}
.tab-box {
    .tab-header {
        display: flex;
        font-size: .8rem;
        .tab-item {
            flex: 1;
            width: auto;
            line-height: 2rem;
            height: 2rem;
        }
    }
    .tab-body {
        overflow-y: auto;
        overflow-x: hidden;
        @include scrollbar();
        .tab-item {
            padding: .8rem 0;
        }
    }
}

.inner-input {
    display: block;
    border-radius: .3em;
    border: 1px solid #ccc;
    display: flex;
    label {
        width: 2em;
        font-size: .8em;
        display: inline-block;
        text-align: center;
        color: #777;
    }
    input {
        flex: 1;
        border: none;
        outline: none;
        width: 100%;
    }
}

.line-input {
    display: flex;
    label {
        width: 5em;
        font-size: .8em;
        display: inline-block;
        text-align: center;
        color: #777;
    }
    input,
    select {
        flex: 1;
        width: 100%;
    }
    app-progress-bar {
        margin-top: .5em;
    }
    input[type="number"] {
        width: 3em;
    }
}

.side-input {
    label {
        width: 5em;
        font-size: .8em;
        display: inline-block;
        text-align: center;
        color: #777;
    }
    .side-body {
        flex: 1;
        position: relative;
    }
    .inner-input {
        display: inline-flex;
        width: 50%;
    }
}

.style-item {
    line-height: 60px;
    border: 1px dotted red;
    text-align: center;
    color: #999;
    font-weight: 700;
    font-size: 20px;
    user-select: none;
    &.active {
        border: 1px dotted green;
    }
}
.form-control {
    display: inline-block;
    padding: .1em;
}
::ng-deep {
    .form-control {
        display: inline-block;
        padding: .1em;
    }
}