<div class="panel property-panel" [hidden]="!panelVisible">
    <div class="panel-header">
        <span>属性</span>
        <i class="iconfont icon-close" (click)="tapClose($event)"></i>
    </div>
    <div class="panel-body" >
        <div class="tab-box">
            <div class="tab-header">
                <div class="tab-item" [ngClass]="{active: tabIndex < 1}" (click)="tabIndex = 0">基本</div>
                <div class="tab-item" [ngClass]="{active: tabIndex == 1}" (click)="tabIndex = 1">高级</div>
                <div class="tab-item" [ngClass]="{active: tabIndex == 2}" (click)="tabIndex = 2">样式</div>
            </div>
            <div class="tab-body" [ngStyle]="boxStyle">
                <div class="tab-item" [ngClass]="{active: tabIndex < 1}">
                    <app-editor-text-input header="标题"></app-editor-text-input>
                    <app-editor-switch-input header="懒加载"></app-editor-switch-input>
                    <div class="control-row">
                        <div class="radio-control-item">
                            <i class="iconfont icon-zuoduiqi" title="左对齐"></i>
                        </div>
                        <div class="radio-control-item">
                            <i class="iconfont icon-shuipingjuzhongduiqi" title="水平居中"></i>
                        </div>
                        <div class="radio-control-item">
                            <i class="iconfont icon-youduiqi" title="右对齐"></i>
                        </div>
                        <div class="radio-control-item">
                            <i class="iconfont icon-shuipingdengjianju" title="水平等间距"></i>
                        </div>
                    </div>
                    <div class="control-row">
                        <div class="radio-control-item">
                            <i class="iconfont icon-shangduiqi" title="上对齐"></i>
                        </div>
                        <div class="radio-control-item">
                            <i class="iconfont icon-chuizhijuzhongduiqi" title="垂直居中"></i>
                        </div>
                        <div class="radio-control-item">
                            <i class="iconfont icon-xiaduiqi" title="下对齐"></i>
                        </div>
                        <div class="radio-control-item">
                            <i class="iconfont icon-chuizhidengjianju" title="垂直等间距"></i>
                        </div>
                    </div>
                </div>
                <div class="tab-item" [ngClass]="{active: tabIndex == 1}">
                    <app-editor-position-input header="定位"></app-editor-position-input>
                    <app-editor-number-slider-input header="透明度" [hasUnit]="false"></app-editor-number-slider-input>
                    <div class="control-panel" [ngClass]="{open: panelToggle.box}">
                        <div class="panel-header" (click)="panelToggle.box = !panelToggle.box">
                            <span>外观</span>
                            <i class="iconfont" [ngClass]="{'icon-chevron-right': !panelToggle.box, 'icon-chevron-down': panelToggle.box}"></i>
                        </div>
                        <div class="panel-body">
                            <app-editor-background-popup header="背景"></app-editor-background-popup>
                            <app-editor-border-popup header="描边"></app-editor-border-popup>
                            <app-editor-shadow-popup header="阴影"></app-editor-shadow-popup>
                        </div>
                    </div>
                    <div class="control-panel" [ngClass]="{open: panelToggle.m}">
                        <div class="panel-header" (click)="panelToggle.m = !panelToggle.m">
                            <span>剪切蒙版</span>
                            <i class="iconfont"
                                [ngClass]="{'icon-chevron-right': !panelToggle.m, 'icon-chevron-down': panelToggle.m}"></i>
                        </div>
                        <div class="panel-body">
                            <app-editor-mask-input></app-editor-mask-input>
                        </div>
                    </div>
                    <div class="control-panel" [ngClass]="{open: panelToggle.title}">
                        <div class="panel-header" (click)="panelToggle.title = !panelToggle.title">
                            <span>标题栏</span>
                            <i class="iconfont"
                                [ngClass]="{'icon-chevron-right': !panelToggle.title, 'icon-chevron-down': panelToggle.title}"></i>
                        </div>
                        <div class="panel-body">
                            <app-editor-switch-input header="可见"></app-editor-switch-input>
                            <app-editor-bound-input header="内边距"></app-editor-bound-input>
                            <app-editor-border-popup header="边框"></app-editor-border-popup>
                            <app-editor-color-popup header="字体颜色"></app-editor-color-popup>
                            <app-editor-select-input header="字体"></app-editor-select-input>
                            <app-editor-number-slider-input header="字体大小"></app-editor-number-slider-input>
                            <app-editor-select-input header="字体粗细"></app-editor-select-input>
                            <app-editor-align-input header="字体位置"></app-editor-align-input>
                            <app-editor-background-popup header="背景"></app-editor-background-popup>
                        </div>
                    </div>
                    <div class="control-panel" [ngClass]="{open: panelToggle.body}">
                        <div class="panel-header" (click)="panelToggle.body = !panelToggle.body">
                            <span>内容栏</span>
                            <i class="iconfont"
                                [ngClass]="{'icon-chevron-right': !panelToggle.body, 'icon-chevron-down': panelToggle.body}"></i>
                        </div>
                        <div class="panel-body">
                            <app-editor-switch-input header="可见"></app-editor-switch-input>
                            <app-editor-bound-input header="内边距"></app-editor-bound-input>
                            <app-editor-border-popup header="边框"></app-editor-border-popup>
                            <app-editor-color-popup header="字体颜色"></app-editor-color-popup>
                            <app-editor-select-input header="字体"></app-editor-select-input>
                            <app-editor-number-slider-input header="字体大小"></app-editor-number-slider-input>
                            <app-editor-select-input header="字体粗细"></app-editor-select-input>
                            <app-editor-align-input header="字体位置"></app-editor-align-input>
                            <app-editor-background-popup header="背景"></app-editor-background-popup>
                        </div>
                    </div>
                    <div class="control-panel" [ngClass]="{open: panelToggle.anim}">
                        <div class="panel-header" (click)="panelToggle.anim = !panelToggle.anim">
                            <span>动画</span>
                            <i class="iconfont"
                                [ngClass]="{'icon-chevron-right': !panelToggle.anim, 'icon-chevron-down': panelToggle.anim}"></i>
                        </div>
                        <div class="panel-body">
                            <app-editor-animation-input></app-editor-animation-input>
                        </div>
                    </div>
                </div>
                <div class="tab-item" [ngClass]="{active: tabIndex == 2}" (click)="tabIndex = 2">
                    <div class="style-item active">无</div>
                </div>
            </div>
        </div>
    </div>
</div>