<div class="container-fluid">
    <div class="page-search">
        <a class="btn btn-success pull-right" href="http://zodream.localhost/shop/admin/attribute/create_group">新增类型</a>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>商品类型名称</th>
                <th>类型分组</th>
                <th>属性数</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>布艺软装</td>
                <td></td>
                <td>
                    <div class="btn-group  btn-group-xs">
                        <a class="btn btn-default btn-xs"
                            href="http://zodream.localhost/shop/admin/attribute?group_id=1">属性列表</a>
                        <a class="btn btn-default btn-xs"
                            href="http://zodream.localhost/shop/admin/attribute/edit_group?id=1">编辑</a>
                        <a class="btn btn-danger" data-type="del"
                            href="http://zodream.localhost/shop/admin/attribute/delete_group?id=1">删除</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>