<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>管理技能列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">名称</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords"
                        placeholder="关键字">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a class="btn btn-primary" (click)="open(modal)">新增技能</a>
                </div>
            </form>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>等级</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
        <app-pagination [total]="total" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
    </div>
</div>

<app-dialog-box #modal [title]="editForm.id ? '编辑' : '新建'">
    <div class="form-group">
        <label for="name-input">技能名</label>
        <div class="input-group-control">
            <input class="form-control" id="name-input" [field]="editForm.name" placeholder="请输入技能名">
        </div>
    </div>
    <div class="form-group">
        <label>图标</label>
        <div class="input-group-control">
            <app-file-input [field]="editForm.icon" [online]="true" />
        </div>
    </div>
    <div class="form-group">
        <label>说明</label>
        <div class="input-group-control">
            <textarea class="form-control" [field]="editForm.description" placeholder="请输入简介"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label>限制</label>
        <div class="input-group-control">
            <select class="form-control">
                <option value="">无限制</option>
                <option value="">种族</option>
                <option value="">职业</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>群体</label>
        <div class="input-group-control">
            <app-switch onLabel="群体" offLabel="单体" />
        </div>
    </div>
    <div class="group-panel">
        <div class="group-header">属性增益</div>
        <div class="group-body">
            <div class="property-item">
                <label for="">生命值</label>
                <app-number-input />
            </div>
            <div class="property-item">
                <label for="">攻击</label>
                <app-number-input />
            </div>
            <div class="property-item">
                <label for="">生命值</label>
                <app-number-input />
            </div>
            <div class="property-item">
                <label for="">攻击</label>
                <app-number-input />
            </div>
            <div class="property-item">
                <label for="">生命值</label>
                <app-number-input />
            </div>
            <div class="property-item">
                <label for="">攻击</label>
                <app-number-input />
            </div>
        </div>
    </div>
</app-dialog-box>