<app-edit-header [title]="'编辑个人资料'" (submited)="tapSubmit()"></app-edit-header>
<div class="container-fluid">
    <form class="form-table" [formGroup]="form">
        <div class="input-group avatar-input">
            <label for="avatar">头像</label>
            <div>
                <div class="avatar">
                    <img [src]="data.avatar">
                </div>
                <button type="button" class="btn btn-default">更改头像</button>
            </div>
        </div>
        <div class="input-group">
            <label for="name">昵称</label>
            <div class="">
                <input type="text" id="name" class="form-control " formControlName="name" placeholder="请输入 昵称">
            </div>
        </div>
        <div class="input-group">
            <label for="email">邮箱</label>
            <div class="">
                <input type="email" id="email" class="form-control " formControlName="email" 
                    placeholder="请输入 邮箱">
            </div>
        </div>
        <div class="input-group">
            <label for="sex">性别</label>
            <div class="">
                <span class="radio-label" *ngFor="let item of sexItems; index as i">
                    <input type="radio" [id]="'sex_' + i" name="sex" [value]="i" formControlName="sex">
                    <label [for]="'sex_' + i">{{ item }}</label>
                </span>
            </div>
        </div>
        
    </form>
</div>