<app-edit-header [title]="'编辑个人资料'" (submited)="tapSubmit()"></app-edit-header>
<div class="container-fluid">
    <form class="form-table" [formGroup]="form">
        <div class="input-group">
            <label for="name">昵称</label>
            <div class="">
                <input type="text" id="name" class="form-control " formControlName="name" placeholder="请输入 昵称">
            </div>
        </div>
        <div class="input-group">
            <label for="email">邮箱</label>
            <div class="">
                <input type="email" id="email" class="form-control " formControlName="email" 
                    placeholder="请输入 邮箱">
            </div>
        </div>
        <div class="input-group">
            <label for="sex">性别</label>
            <div class="">
                <span class="radio-label" *ngFor="let item of sexItems; index as i">
                    <input type="radio" [id]="'sex_' + i" name="sex" [value]="i" formControlName="sex">
                    <label [for]="'sex_' + i">{{ item }}</label>
                </span>
            </div>
        </div>
        <div class="input-group">
            <label for="avatar">头像</label>
            <div class="file-input">
                <input type="text" id="avatar" class="form-control " formControlName="avatar" 
                    placeholder="请输入 头像">
                <button type="button" data-type="upload">上传</button>
                <button type="button" data-type="preview">预览</button>
            </div>
        </div>
    </form>
</div>