<app-edit-header [title]="'编辑个人资料'"></app-edit-header>
<div class="container-fluid">
    <form class="form-table" [formGroup]="form">
        <div class="input-group">
            <label for="name">昵称</label>
            <div class="">
                <input type="text" id="name" class="form-control " formControlName="name" placeholder="请输入 昵称">
            </div>
        </div>
        <div class="input-group">
            <label for="email">邮箱</label>
            <div class="">
                <input type="email" id="email" class="form-control " formControlName="email" 
                    placeholder="请输入 邮箱">
            </div>
        </div>
        <div class="input-group">
            <label for="sex">性别</label>
            <div class="">
                <span class="radio-label">
                    <input type="radio" id="sex0" name="sex" value="0">
                    <label for="sex0">未知</label>
                </span><span class="radio-label">
                    <input type="radio" id="sex1" name="sex" value="1" checked="">
                    <label for="sex1">男</label>
                </span><span class="radio-label">
                    <input type="radio" id="sex2" name="sex" value="2">
                    <label for="sex2">女</label>
                </span>
            </div>
        </div>
        <div class="input-group">
            <label for="avatar">头像</label>
            <div class="file-input">
                <input type="text" id="avatar" class="form-control " formControlName="avatar" 
                    placeholder="请输入 头像">
                <button type="button" data-type="upload">上传</button>
                <button type="button" data-type="preview">预览</button>
            </div>
        </div>
    </form>
</div>