.game-item {
    margin-top: .8rem;
    background-color: #fff;
    height: 10rem;
    display: flex;
    box-shadow: rgba(51,51,51,.7) 0 0 10px;
    border-radius: .25rem;
    user-select: none;
    .item-logo {
        width: 6rem;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .item-body {
        flex: 1;
        padding: .8rem;
    }
    .item-name {
        font-size: 1.2rem;
    }
    .item-meta {
        margin-top: .8rem;
    }
}