<app-edit-header [title]="dataModel().id > 0 ? '编辑广告' : '新增广告'" (submited)="tapSubmit($event)" 
    [disabled]="dataForm().invalid()" />
<div class="container-fluid">
    <form class="form-table-control panel-container" (submit)="tapSubmit()">
        <div class="input-group-control">
            <label for="name">广告名</label>
            <div>
                <input type="text" id="name" class="form-control" [field]="dataForm.name">
                @if (dataForm.name().invalid()) {
                    <div class="input-tip">请输入广告名</div>
                }

            </div>
        </div>
        <div class="input-group-control">
            <label for="position_id">广告位</label>
            <div>
                <select id="position_id" [field]="dataForm.position_id" class="form-control">
                    @for (item of positionItems; track $index) {
                        <option [value]="item.id">{{ item.name }}</option>
                    }
                </select>

            </div>
        </div>
        <div class="input-group-control">
            <label for="type">类型</label>
            <div>
                <select id="type" [field]="dataForm.type" class="form-control">
                    <option value="0">文本</option>
                    <option value="1">图片</option>
                    <option value="2">代码</option>
                    <option value="3">视频</option>
                </select>

            </div>
        </div>
        <div class="type-group">
            @switch (dataForm.type().value()) {
                @case ('1') {
                    <div class="input-group-control">
                        <label for="content_url">图片</label>
                        <div>
                            <app-file-input id="content_url" [field]="dataForm.content" />
                        </div>
                    </div>
                }
                @case ('2') {
                    <div class="input-group-control">
                        <label for="file_url">视频</label>
                        <div>
                            <app-file-input id="file_url" [field]="dataForm.content" accept="video/*" />
                        </div>
                    </div>
                }
                @default {
                    <div class="input-group-control">
                        <label for="content">内容</label>
                        <div>
                            <textarea id="content" class="form-control" [field]="dataForm.content"></textarea>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="input-group-control">
            <label for="url">链接</label>
            <div>
                <input type="text" id="url" class="form-control" [field]="dataForm.url">
                <div class="input-tip">链接格式：{{ deepSchame }}://goto/</div>
            </div>
        </div>
        <div class="input-group-control">
            <label for="start_at">开始时间</label>
            <div class="calendar-input">
                <app-date-input [field]="dataForm.start_at" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="end_at">结束时间</label>
            <div class="calendar-input">
                <app-date-input [field]="dataForm.end_at" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="status">状态</label>
            <div>
                <app-switch id="status" [field]="dataForm.status" onLabel="启用" offLabel="关闭" />
            </div>
        </div>
        <div class="btn-group">
            <app-action-button class="btn btn-success" (tapped)="tapSubmit($event)">确认保存</app-action-button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>
