@import '../../styles/scrollbar';
$size: 40px;
$boxWidth: $size * 8;

.emoji-picker {
    position: relative;
    .emoji-picker_container {
        width: $boxWidth;
        position: absolute;
        z-index: 999;
        user-select: none;
        background: #fff;
        color: #333;
        box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
        text-align: left;
    }
    .picker-header {
        padding: 5px 15px;
        font-size: 14px;
        color: #222;
        .iconfont {
            position: absolute;
            top: 5px;
            right: 15px;
            width: 14px;
            height: 14px;
            color: #999;
            cursor: pointer;
        }
    }
    .picker-body {
        @include scrollbar();
        padding: 0 15px;
        overflow-y: auto;
        height: 200px;
        text-align: left;
        .item-image,
        .item-text {
            display: inline-block;
            width: $size;
            height: $size;
            padding: 5px;
            line-height: $size;
            box-sizing: content-box;
            &:hover {
                background-color: #eaeaea;
            }
        }
        .item-text {
            display: inline-block;
            width: $size * 2;
        }
        .item-image {
            img {
                width: 100%;
            }
        }
    }
    .nav-bar {
        @include scrollbar();
        background-color: #f4f4f4;
        overflow-x: auto;
        white-space: nowrap;
        .item {
            padding: 6px 15px;
            min-width: $size;
            display: inline-block;
            &.active {
                background-color: #fff;
            }
        }
    }
}
