<div class="dialog-mask" *ngIf="visible"></div>
<div class="search-dialog-container" *ngIf="visible">
    <div class="search-bar">
        <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
            <div class="flat-input">
                <input type="text" class="form-control" name="keywords" [ngModel]="queries.keywords" id="keywords" [placeholder]="placeholder">
                <select name="accept" class="form-control" *ngIf="typeItems && typeItems.length > 0" [ngModel]="accept" class="form-control">
                    <option *ngFor="let item of typeItems" [value]="item.value">{{ item.name }}</option>
                </select>
                <button type="submit" class="btn btn-primary" i18n>Search</button>
                <a class="btn" [ngClass]="{'btn-info': !onlySelected, 'btn-success': onlySelected}" (click)="tapToggleOnly()" i18n>Only selected({{ selectedCount }})</a>
                <div class="btn btn-danger" (click)="close()">
                    <i class="iconfont icon-close"></i>
                </div>
            </div>
        </form>
    </div>
    <div class="body-container">
        <ng-container *ngFor="let item of formatItems">
            <div class="option-item" [ngClass]="{selected: isSelected(item)}" (click)="tapSelected(item)">
                <div class="thumb">
                    <img [src]="item.thumb">
                </div>
                <div class="name" *ngIf="item.title">{{ item.title }}</div>
            </div>
        </ng-container>
    </div>
    <div class="footer-container">
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
        <div class="btn-group">
            <div class="btn btn-primary" (click)="tapYes()" i18n>Confirm</div>
            <div class="btn btn-danger" (click)="tapCancel()" i18n>Reset</div>
        </div>
    </div>
</div>