@use '../../../theme/theme';
.dialog-box {
    .dialog-header {
        height: auto;
        border-bottom: none;
    }
}
.tab-header {
    line-height: 3.125rem;
    text-align: center;
    .tab-item {
        display: inline-block;
        padding: 0 0.5rem;
        box-sizing: border-box;
        cursor: default;
        &.active {
            border-bottom: 0.3125rem solid;
        }
    }
}
.search-bar {
    display: flex;
    .route-icon {
        width: 2.5rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: var(--#{theme.$prefix}panel);
        &.disabled {
            color: var(--#{theme.$prefix}meta-text);
            background-color: transparent;
            cursor: not-allowed;
        }
    }
}
.search-input {
    flex: 1;
    position: relative;
    font-size: 1.25rem;
    background-color: var(--#{theme.$prefix}body);
    input {
        height: 2.5rem;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        padding-left: 3rem;
        outline: none;
        border: none;
    }
    .iconfont {
        position: absolute;
        top: 0.4375rem;
    }
    .icon-search {
        left: .5rem;
    }
    .icon-close {
        display: none;
        right: .5rem;
    }
    &.on-edit {
        .icon-search {
            display: none;
        }
        .icon-close {
            display: block;
        }
        input {
            padding-left: .5rem;
            padding-right: 3rem;
        }
    }
}
.user-item {
    position: relative;
    display: inline-flex;
    gap: .8rem;
    width: 20rem;
    background-color: var(--#{theme.$prefix}panel);
    border: 1px solid var(--#{theme.$prefix}border);
    border-radius: .375rem;
    padding: 0.5rem;
    margin: .4rem;
    .item-avatar {
        display: inline-block;
        img {
            width: 3.75rem;
            border-radius: 50%;
        }
    }
    p,
    h3 {
        margin: 0;
    }
    .item-body {
        flex: 1;
        display: inline-block;
    }
    .item-stamp {
        height: 3rem;
        width: 3rem;
        font-size: .8rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--#{theme.$prefix}meta-text);
        user-select: none;
        border-radius: 50%;
        margin-left: .8rem;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 0;
    }
}