@if (visible()) {
<div class="dialog-mask"></div>
<div class="dialog-box">
    <div class="dialog-header">
        <div class="tab-header">
            <div class="tab-item" [class.active]="tabIndex() < 1" (click)="tapSearchTab(0)" i18n>Friends</div>
            <div class="tab-item" [class.active]="tabIndex() == 1" (click)="tapSearchTab(1)" i18n>Groups</div>
        </div>
        <i class="iconfont icon-close dialog-close" (click)="close()"></i>
    </div>
    <div class="search-bar">
        <a class="route-icon" [class.disabled]="queries.page().value() < 2" i18n-title title="Previous" (click)="tapPrevious()">
            <i class="iconfont icon-chevron-left"></i>
        </a>
        <div class="search-input" [class.--with-inputing]="isInput()">
            <i class="iconfont icon-search"></i>
            <input type="text" i18n-placeholder placeholder="Search contacts" id="keywords" [formField]="queries.keywords" (focus)="tapSearchInput()" (keypress)="onSearchKeyDown($event)">
            <i class="iconfont icon-close" (click)="tapSearchClear()"></i>
        </div>
        <a class="route-icon" [class.disabled]="!hasMore()" i18n-title title="Next" (click)="tapNext()">
            <i class="iconfont icon-chevron-right"></i>
        </a>
    </div>
    <div class="search-body">
        @for (item of items(); track $index) {
            <div class="user-item" (click)="tapItem(item)">
                <div class="item-avatar">
                    <img [src]="item.avatar">
                </div>
                <div class="item-body">
                    <h3>{{ item.name }}</h3>
                    <p>
                      ...
                    </p>
                </div>
                @if (item.checked) {
                    <div class="item-stamp" i18n>Added</div>
                }
            </div>
        }
    </div>
</div>
}

<app-chat-profile-dialog />