<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>这是所有的邀请码列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">邀请码</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="搜索邀请码">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a class="btn btn-info" routerLink="../log">邀请记录</a>
                    <a class="btn btn-danger" (click)="tapClear()">清除所有</a>
                    <a class="btn btn-primary" (click)="open(modal)">生成</a>
                </div>
            </form>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>邀请人</th>
                <th>邀请码</th>
                <th>邀请次数/成功</th>
                <th>过期时间</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.user?.name }}</td>
                    <td>{{ item.code }}</td>
                    <td>{{ item.amount | numberFormat }}/{{ item.invite_count | numberFormat }}</td>
                    <td>{{ item.expired_at | timestamp }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        
        </table>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />    
    </div>
</div>

<app-dialog-box #modal [scrollable]="false" title="生成邀请码">
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="">可使用次数</label>
            <div>
                <app-number-input [field]="editForm.amount" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="">过期时间</label>
            <div>
                <app-date-input [field]="editForm.expired_at" />
            </div>
        </div>
    </div>
</app-dialog-box>