.nav-header {
    margin-left: 0.625rem;
    text-align: center;
    .nav-item {
        color: #0d6efd;
        font-size: 1.25rem;
        display: inline-block;
        padding: 0.625rem 0.625rem;
        position: relative;
        input[type='file'] {
            width: 0;
            height: 0;
            overflow: hidden;
        }
        &:hover {
            background-color: #ccc;
            .nav-children {
                display: block;
            }
        }
        &.active {
            background-color: #fff;
        }
        &.disable {
            color: #aaa;
            cursor: not-allowed;
            &:hover {
                background-color: transparent;
            }
        }
    }
    .nav-children {
        display: none;
        position: absolute;
        right: 0;
        width: 12.5rem;
        z-index: 5;
        border: 1px solid #eee;
        border-top: none;
        background-color: #eee;
        text-align: left;
        .nav-item {
            display: block;
        }
        .nav-hide {
            display: none;
        }
    }
    .nav-left {
        float: left;
    }
    .nav-right {
        float: right;
    }
    
    .nav-crumbs {
        line-height: 3.75rem;
        display: inline-block;
        .crumb-item {
            display: inline-block;
            color: #333;
            font-size: 1rem;
            cursor: default;
            &.disable {
                color: #aaa;
            }
            &:not(:last-of-type) {
                &::after {
                    content: '\e64b';
                    font-family: 'iconfont';
                    color: #333;
                    font-size: 12px;
                    padding: 0 3px;
                }
            }
        }
    }
}

.catalog-body {
    padding: 0 0.625rem;
}

.file-header {
    display: grid;
    grid-template-columns: 1fr 6.25rem 11.25rem;
    line-height: 2.5rem;
    .check-box {
        display: none;
    }
    .name,
    .size,
    .time {
        display: inline-block;
        cursor: default;
        position: relative;
        border-right: 1px solid #ccc;
        &:hover {
            background-color: #eee;
        }
    }
    .sort-asc,
    .sort-desc {
        &::after {
            content: '\e718';
            font-family: 'iconfont';
            position: absolute;
            right: 0.625rem;
        }
    }
    .sort-desc {
        &::after {
            content: '\e719';
        }
    }
}

.file-group {
    line-height: 2.5rem;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: default;
}

.file-item {
    position: relative;
    display: grid;
    grid-template-columns: 1.875rem 1fr 17.5rem;
    line-height: 2.5rem;
    cursor: default;
    .check-box {
        display: none;
    }
    .file-info {
        display: grid;
        grid-template-columns: 6.25rem 11.25rem;
    }
    .item-action {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
        .iconfont {
            padding: .4rem;
        }
    }
    &:hover {
        background-color: #eee;
        .item-action {
            display: block;
        }
        .file-info {
            display: none;
        }
    }
    &:not(:last-of-type) {
        border-bottom: 1px solid #ccc;
    }
}
.file-edit {
    .file-header {
        grid-template-columns: 1.875rem 1fr 6.25rem 11.25rem;
        .check-box {
            display: block;
        }
    }
    .file-item {
        grid-template-columns: 1.875rem 1.875rem 1fr 17.5rem;
        .check-box {
            display: block;
        }
    }
}

.file-view {
    .file-header {
        display: none;
    }
    .file-item {
        display: inline-block;
        width: 6.25rem;
        text-align: center;
        border-bottom: none;
        position: relative;
        .file-icon {
            font-size: 3.125rem;
            padding: 0.625rem;
        }
        .file-info {
            display: none;
        }
        .check-box {
            position: absolute;
            left: 0;
            top: -0.875rem;
            display: none;
        }
        .file-name {
            line-height: 1.5rem;
            height: 3rem;
            overflow: hidden;
        }
        &:hover {
            .item-action {
                display: block;
                background-color: #fff;
            }
        }
    }
    &.file-edit {
        .file-item {
            .check-box {
                &.checked {
                    display: block;
                }
            }
        }
    }
}
.player-box {
    position: fixed;
    left: 12.5rem;
    right: 0;
    bottom: 0;
    z-index: 98;
}

@media screen and (max-width: 769px) {
    .nav-header {
        .nav-item {
            &.nav-hide {
                display: none;
            }
        }
        .nav-children {
            .nav-hide {
                display: block;
            }
        }
    }
    .file-header {
        display: none;
    }
    .file-item {
        display: block;
        position: relative;
        padding-left: 2.5rem;
        .file-icon {
            position: absolute;
            left: 0.3125rem;
            font-size: 1.875rem;
            top: 0.625rem;
        }
        .file-info {
            display: block;
            text-align: left;
            font-size: 0.75rem;
            color: #999;
            line-height: 1.25rem;
            .file-size {
                float: right;
            }
        }
        &:hover {
            .file-info {
                display: block;
            }
        }
    }
    .file-edit {
        .file-item {
            padding-left: 3.75rem;
            .check-box {
                position: absolute;
                left: 0.3125rem;
                top: 0.6875rem;
            }
            .file-icon {
                position: absolute;
                left: 1.5625rem;
            }
        }
    }
}
