@use '../../../theme/theme';

$lineHeight: 30px;

:host {
    --#{theme.$prefix}picker-line-height: #{$lineHeight};
    --#{theme.$prefix}picker-height: #{$lineHeight * 5};
    --#{theme.$prefix}picker-select-y: #{$lineHeight * 2};
    display: block;
    height: var(--#{theme.$prefix}picker-height);
    position: relative;
    overflow: hidden;
    display: flex;
}
ul {
    flex: 1;
    margin: 0;
    padding: 0;
    transition: all .3s;
    li {
        user-select: none;
        list-style: none;
        line-height: var(--#{theme.$prefix}picker-line-height);
        color: rgba(var(--#{theme.$prefix}body-text-rgb), .3);
        text-align: center;
        overflow-x: hidden;
        word-break: keep-all;
        &.active {
            color: var(--#{theme.$prefix}body-text);
        }
    }
}
.select-range-bar {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    top: var(--#{theme.$prefix}picker-select-y);
    height: var(--#{theme.$prefix}picker-line-height);
    z-index: 1;
    border-top: 1px solid var(--#{theme.$prefix}body-text);
    border-bottom: 1px solid var(--#{theme.$prefix}body-text);
}