:host {
    display: block;
    height: 9.375rem;
    position: relative;
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
    transition: all .3s;
    li {
        list-style: none;
        line-height: 30px;
        color: rgba(var(--#{$prefix}-body-text-rgb), .3);
        text-align: center;
        overflow-x: hidden;
        word-break: keep-all;
        &.active {
            color: var(--#{$prefix}-body-text);
        }
    }
}
.dialog-top-hr,
.dialog-bottom-hr {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
}
.dialog-top-hr {
    top: 60px;
}
.dialog-bottom-hr {
    top: 90px;
}