@use '../../../theme/theme';
$iconWidth: 3.125rem;

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.search-box {
    position: relative;
    display: block;
    .search-input {
        position: relative;
        .search-icon,
        .search-btn,
        .clear-btn {
            text-align: center;
            position: absolute;
            top: 0;
            width: $iconWidth;
            line-height: 3rem;
            background: transparent;
            border: none;
            font-size: 1.5625rem;
            color: var(--#{theme.$prefix}input-icon);
            font-weight: bold;
            outline: none;
            padding: 0 0.625rem;
            cursor: pointer;
        }
        .search-icon {
            left: 0;
            height: 3rem;
            overflow: hidden;
            border-radius: 1.5625rem;
            background-size: 100%;
            color: var(--#{theme.$prefix}input-icon);
        }
        input {
            width: 100%;
            height: 3.125rem;
            line-height: 3.125rem;
            font-size: 1rem;
            color: var(--#{theme.$prefix}input-text);
            background-color: var(--#{theme.$prefix}input);
            border: none;
            outline: none;
            padding: 0 2.8125rem;
            border: var(--#{theme.$prefix}border-width) solid var(--#{theme.$prefix}input-border);
            &:focus {
                box-shadow: var(--#{theme.$prefix}box-shadow-inset);
            }
        }
        .search-btn {
            left: 0;
        }
        .clear-btn {
            right: 0;
        }
    }
    .suggest-body,
    .history-body {
        position: absolute;
        z-index: 100;
        width: 100%;
        border-radius: 0 0 0.625rem 0.625rem;
        background-color: var(--#{theme.$prefix}panel);
        box-shadow: var(--#{theme.$prefix}box-shadow);
        overflow: hidden;
        li {
            border-top: var(--#{theme.$prefix}border-width) solid var(--#{theme.$prefix}border);
            line-height: 2.5rem;
            font-size: 0.875rem;
            padding: 0 1.5625rem;
            color: var(--#{theme.$prefix}meta-text);
            cursor: pointer;
            .item-no {
                display: inline-block;
                width: 1.25rem;
                height: 1.25rem;
                font-size: 0.75rem;
                line-height: 1.25rem;
                text-align: center;
                background-color: var(--#{theme.$prefix}secondary);
                margin-right: 0.625rem;
                border-radius: 0.625rem;
                color: var(--#{theme.$prefix}secondary-text);
            }
            &.active {
                background-color: var(--#{theme.$prefix}input-selected);
            }
            &:hover {
                background-color: var(--#{theme.$prefix}input-hovered);
            }
        }
    }
    .history-body {
        li {
            display: flex;
            .item-text {
                flex: 1;
            }
        }
        .clear-line {
            display: block;
            text-align: center;
        }
    }
    .search-engine {
        position: absolute;
        top: 3.75rem;
        left: 0;
        width: 100%;
        background: var(--#{theme.$prefix}panel);
        padding: 0.8rem;
        border-radius: 0.25rem;
        box-shadow: var(--#{theme.$prefix}box-shadow);
        transition: all 0.3s;
        z-index: 99;
        .search-engine-header {
            display: flex;
            justify-content: space-between;
        }
        .search-engine-body {
            li {
                display: inline-block;
                width: 8.75rem;
                margin: 0 0.8rem 0.8rem 0;
                line-height: 2rem;
                font-size: .85rem;
                padding: 0.25rem 0.8rem;
                background-color: var(--#{theme.$prefix}body);
                color: var(--#{theme.$prefix}body-text);
                cursor: pointer;
                .iconfont {
                    font-size: 1.5rem;
                }
                span {
                    vertical-align: top;
                }
            }
        }
    }
    .toggle-box {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-weight: 900;
        vertical-align: text-bottom;
        font-size: 1.25rem;
        &.checked {
            &::before {
                color: var(--#{theme.$prefix}success);
            }
        }
    }
    &.has-search-icon {
        .search-input {
            .search-btn {
                left: auto;
                right: 0;
            }
            .clear-btn {
                right: $iconWidth;
            }
        }
    }
}

@media (max-width: 768px){
    .search-box {
        width: 100%;
    }
}