<div class="search-box">
    <div class="search-input">
        <button class="search-btn" (click)="tapConfirm()">
            <i class="iconfont icon-search"></i>
        </button>
        <input type="text" [(ngModel)]="text" [placeholder]="placeholder" (ngModelChange)="onSuggestChange()" autocomplete="off" (keydown)="suggestKeyPress($event)" (focus)="onFocus()" (blur)="onBlur()">
        <div class="clear-btn" [hidden]="text.length < 1" (click)="tapClear()">
            <i class="iconfont icon-close"></i>
        </div>
    </div>
    <div class="suggest-body" *ngIf="openType == 1">
        <ul>
            <li *ngFor="let item of suggestItems; let i=index" (click)="tapItem(item)">
                <span class="item-no">{{ i + 1 }}</span>
                <span class="item-text">{{ formatTitle(item) }}</span>
            </li>
        </ul>
    </div>
    <div class="history-body" *ngIf="openType == 2">
        <ul>
            <li *ngFor="let item of histories; let i = index" (click)="tapHistory(item)">
                <i class="iconfont icon-history"></i>
                <span class="item-text">{{ item }}</span>
                <i class="iconfont icon-close" (click)="tapRemoveHistory(i, $event)"></i>
            </li>
            <li class="clear-line" (click)="tapClearHistory()" i18n>Clear</li>
        </ul>
    </div>
</div>