<div class="play-list-container" [ngStyle]="boxStyle">
    <ng-container *ngFor="let item of items">
        <div class="music-item" [ngClass]="{active: item.active}" (click)="tapItem(item)">
            <div class="icon">
                <i class="iconfont icon-play" *ngIf="item.active"></i>
            </div>
            <div class="name">
                <span class="wrap-block">{{ item.name }}</span>
                <div class="action">
                    <i class="iconfont icon-heart-o"></i>
                    <i class="iconfont icon-share-alt"></i>
                    <i class="iconfont icon-download"></i>
                    <i class="iconfont icon-trash"></i>
                </div>
            </div>
            <div class="artist" *ngIf="!min">
                {{ item.artist }}
            </div>
            <div class="time" *ngIf="item.duration > 0">
                {{ item.duration | duration }}
            </div>
        </div>
    </ng-container>
</div>