<div class="play-list-container" [ngStyle]="boxStyle">
    @for (item of items(); track $index) {
        <div class="music-item" [ngClass]="{active: item.active}" (click)="tapItem(item)">
            <div class="icon">
                @if (item.active) {
                    <i class="iconfont icon-play"></i>
                }
            </div>
            <div class="name">
                <span class="wrap-block">{{ item.name }}</span>
                <div class="action">
                    <i class="iconfont icon-heart-o"></i>
                    <i class="iconfont icon-share-alt"></i>
                    <i class="iconfont icon-download"></i>
                    <i class="iconfont icon-trash"></i>
                </div>
            </div>
            @if (!min()) {
            <div class="artist">
                {{ item.artist }}
            </div>
            }
            
            @if (item.duration > 0) {
            <div class="time">
                {{ item.duration | duration }}
            </div>
            }
            
        </div>
    }
</div>