@import 'list';
@import 'theme';
a {
    text-decoration: none;
}
.page-search-bar {
    padding: 10px 0;
    .btn {
        vertical-align: top;
    }
    .pull-right {
        float: right;
    }
    &::after {
        content: " ";
        display: block;
        clear: both;
    }
}


.panel-container {
    .list-table {
        .row-item {
            background-color: #f4f4f4;
            &:hover {
                background-color: #f0f0f0;
                .item-body {
                    background-color: #f0f0f0;
                }
            }
        }
    }
    .tab-box {
        margin: -1.24rem -1.24rem 0;
    }
}

.auto-toggle-hide {
    display: none;
}

@media screen and (max-width: 48rem) {
    .line-row-item {
        display: block;
        .item-label {
            text-align: left;
        }
    }
    .auto-hide {
        display: none;
    }
    .auto-toggle-hide {
        display: block;
    }
    .form-table .#{$prefix}-input-group,
    .#{$prefix}-input-group {
        display: block;
        >label:first-child {
            text-align: left;
            width: auto;
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 36rem) {
    .form-table {
        .#{$prefix}-input-group {
            .form-control {
                min-width: 5em;
                width: 100%;
            }
        }
    }
}