body {
    background-color: #f4f4f4;
    color: #333;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: 100% auto;
}

.theme-gray {
    filter: grayscale(100%);
}

a {
    text-decoration: none;
}

.breadcrumb {
    margin-top: 1rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333333;
        color: white;
    }
}