.column-item {
    width: 300px;
    display: inline-block;
    position: relative;
    height: 100px;
    background-color: #fff;
    margin: 10px;
    vertical-align: top;
    .icon {
        position: absolute;
        width: 100px;
        height: 100px;
        text-align: center;
        background-color: #333;
        color: #fff;
        padding-top: 20px;
        font-size: 40px;
    }
    .content {
        margin-left: 100px;
        padding: 20px 10px;
    }
}

@media screen and (max-width: 769px) {
    .column-item {
        width: 90%;
        margin: 10px 5%;
    }
}