@import '../../theme/styles/theme';
.login-box {
    a {
        text-decoration: none;
    }
    .btn {
        padding: 0;
        border: none;
        line-height: 40px;
        vertical-align: middle;
        background: #cc2525;
        color: #fff;
        width: 100%;
        margin: 0;
        &:hover {
            background: #a10000;
            color: #fff;
        }
        &.disabled {
            background-color: #c49b9b;
            pointer-events: none;
            cursor: not-allowed;
        }
    }
    .input-box {
        padding-top: 70px;
    }
    input[type="password"] {
        &::-ms-reveal {
            display: none;
        }
    }
    .form-ico {
        .#{$prefix}input-group {
            position: relative;
            line-height: 40px;
            height: 40px;
            display: block;
            input[type="text"],
            input[type="email"],
            input[type="tel"],
            input[type="password"],
            input[type="url"] {
                padding-left: 30px;
                width: 100%;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                height: 40px;
                box-sizing: border-box;
                border: none;
                outline: none;
                border-bottom: 1px solid #767676;
                background-color: transparent;
            }
            .iconfont {
                position: absolute;
                left: 10px;
                transition: all .5s;
                &:nth-child(3) {
                    left: auto;
                    right: 10px;
                }
            }
            &.input-focus {
                input {
                    padding-left: 0;
                    padding-right: 30px;
                    border-bottom: 2px solid #a10000;
                }
                // .iconfont {
                //     left: 280px;
                //     color: #767676;
                // }
            }
            &.error {
                input {
                    border: 1px solid red;
                    border-bottom-color: red;
                }
                .iconfont {
                    color: red;
                }
            }
            .checkbox {
                position: relative;
                display: inline-block;
                width: 30px;
                height: 30px;
                input[type=checkbox] {
                    visibility: hidden;
                    &:checked {
                        &+label {
                            &::before {
                                content: "\e646";
                                color: red;
                            }
                        }
                    }
                }
                label {
                    &::before {
                        font-family: "iconfont";
                        font-size: inherit;
                        text-rendering: auto;
                        content: "\e71e";
                        position: absolute;
                        left: 10px;
                        top: 0;
                    }
                }
            }
        }
    }
}