.nav-menu {
    a {
        text-decoration: none;
        color: #333;
    }
    ul,li {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .menu-item {
        list-style: none;
        line-height: 2.5rem;
        text-align: center;
        font-size: 1rem;
        a {
            display: block;
            box-sizing: border-box;
            position: relative;
        }
        .iconfont {
            position: absolute;
            left: 0.625rem;
            top: 0;
            font-size: 1.875rem;
            display: block;
        }
        .menu-icon {
            display: none;
            font-size: 1rem;
        }
        &:hover {
            >a {
                background-color: #ccc;
            }
        }
        &.active {
            >a {
                &::before {
                    content: " ";
                    display: block;
                    position: absolute;
                    left: 0;
                    width: 0.3125rem;
                    height: 2.5rem;
                    background-color: red;
                }
            }
        }
        &.open {
            >.menu-children {
                display: block;
            }
        }
    }

    .menu-children {
        box-shadow: inset 0 5px 5px -5px #000, inset 0 -5px 5px -5px #000;
        display: none;
    }
}

.nav-menu-min {
    .menu-name {
        display: none;
    }
    .menu-item {
        .iconfont {
            position: static;
        }
        .menu-icon {
            display: inline-block;
        }
    }
}

.line-menu-bar {
    display: flex;
    line-height: 2.5rem;
    .menu-name {
        flex: 1;
        padding-left: .8rem;
    }
    .menu-icon,
    .menu-arrow {
        display: inline-block;
    }
    .menu-arrow {
        color: #777;
    }
    &:hover {
        background-color: #ccc;
    }
}
