@use './theme';
.nav-menu {
    --#{theme.$prefix}menu: transparent;
    --#{theme.$prefix}menu-text: var(--#{theme.$prefix}body-text);
    --#{theme.$prefix}menu-hovered: var(--#{theme.$prefix}panel);
    --#{theme.$prefix}menu-selected: var(--#{theme.$prefix}primary);
    a {
        text-decoration: none;
        color: var(--#{theme.$prefix}menu-text);
    }
    ul,li {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .menu-item {
        list-style: none;
        line-height: 2.5rem;
        text-align: center;
        font-size: 1rem;
        a {
            display: block;
            box-sizing: border-box;
            position: relative;
        }
        .iconfont {
            position: absolute;
            left: 0.625rem;
            top: 0;
            font-size: 1.875rem;
            display: block;
        }
        .menu-icon {
            display: none;
            font-size: 1rem;
        }
        &:hover {
            >a {
                background-color: var(--#{theme.$prefix}menu-hovered);
            }
        }
        &.active {
            >a {
                &::before {
                    content: " ";
                    display: block;
                    position: absolute;
                    left: 0;
                    width: 0.3125rem;
                    height: 2.5rem;
                    background-color: var(--#{theme.$prefix}menu-selected);
                }
            }
        }
        &.open {
            >.menu-children {
                display: block;
            }
        }
    }

    .menu-children {
        box-shadow: inset 0 5px 5px -5px rgb(var(--#{theme.$prefix}mask-rgb)), inset 0 -5px 5px -5px rgb(var(--#{theme.$prefix}mask-rgb));
        display: none;
    }
}

.nav-menu-min {
    .menu-name {
        display: none;
    }
    .menu-item {
        .iconfont {
            position: static;
        }
        .menu-icon {
            display: inline-block;
        }
    }
}

.line-menu-bar {
    --#{theme.$prefix}menu: transparent;
    --#{theme.$prefix}menu-text: var(--#{theme.$prefix}body-text);
    --#{theme.$prefix}menu-hovered: var(--#{theme.$prefix}panel);
    --#{theme.$prefix}menu-icon: var(--#{theme.$prefix}meta-text);
    display: flex;
    line-height: 2.5rem;
    background-color: var(--#{theme.$prefix}menu);
    color: var(--#{theme.$prefix}menu-text);
    .menu-name {
        flex: 1;
        padding-left: .8rem;
    }
    .menu-icon,
    .menu-arrow {
        display: inline-block;
    }
    .menu-arrow {
        color: var(--#{theme.$prefix}menu-icon);
    }
    &:hover {
        background-color: var(--#{theme.$prefix}menu-hovered);
    }
}
