$prefix: 'zre-';
// 黑白配
// $primary: #333;
// $primaryText: #fff;
// $secondary: #767676;
// $disabledText: #ccc;
// $strongText: red;
// $shadow: rgba(51, 51, 51, 0.7);
// $border: $primary;
// $body: #f4f4f4;
// $third: #fff;
// $bodyText: #333;
// $secondaryText: #b3b1b1;

// 原木色
// $primary: #af5d0d;
// $primaryText: #fff;
// $secondary: #e29344;
// $disabledText: #FF9787;
// $strongText: red;
// $shadow: rgba(51, 51, 51, 0.7);
// $border: $primary;
// $body: #f4f4f4;
// $third: #f9cfa6;
// $bodyText: #333;
// $secondaryText: #b3b1b1;

// 中国红
$primary: #A10000;
$primaryText: #fff;
$secondary: #CC2525;
$disabledText: #FF9787;
$strongText: red;
$shadow: rgba(51, 51, 51, 0.7);
$border: $primary;
$body: #f4f4f4;
$bodyText: #333;
$panel: white;
$third: #fff;
$thirdText: $bodyText;
$secondaryText: #b3b1b1;
$dialog: rgba(255, 255, 255, .9);
$dialogMask: rgba(0, 0, 0, .3);
$dialogText: #333;


// 黑暗模式
$dark-primary: #333;
$dark-primaryText: #fff;
$dark-secondary: #767676;
$dark-disabledText: #ccc;
$dark-strongText: red;
$dark-shadow: rgba(51, 51, 51, 0.7);
$dark-border: $primary;
$dark-third: #fff;
$dark-body: #333;
$dark-panel: #222;
$dark-bodyText: #fff;
$dark-secondaryText: #b3b1b1;
$dark-dialog: rgba(0, 0, 0, .9);
$dark-dialogText: #fff;
$dark-dialogMask: rgba(0, 0, 0, .3);


