@use '../../../../theme/theme';
@use '../../../../../bootstrap/desktop/scrollbar';
.panel {
    .panel-body {
        padding: 0;
        overflow-y: auto;
        @include scrollbar.scrollbar();
    }
}

.cat-item {
    display: flex;
    color: var(--#{theme.$prefix}meta-text);
    padding-left: 2.375rem;
    line-height: 2.5rem;
    cursor: default;
    .item-icon {
        display: inline-flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-right: .8rem;
        img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }
    }
    &:hover {
        color: var(--#{theme.$prefix}surface-text);
        background-color: var(--#{theme.$prefix}surface);
    }
}