<div class="panel">
    @if (current()) {
    <div class="panel-header">
        <i class="iconfont icon-chevron-left" (click)="tapBack()"></i>
        {{ current().name }}
    </div>
    }
    <div class="panel-body">
        @for (item of kidItems(); track $index; let i = $index) {
            <div class="cat-item" (click)="tapItem(i)">
                <div class="item-icon">
                    <img [appLazyLoad]="item.icon">
                </div>
                <div class="item-name">{{ item.name }}</div>
            </div>
        }
    </div>
</div>