@import '../../../../theme/styles/scrollbar';
.panel {
    background-color: white;
    .panel-body {
        padding: 0;
        overflow-y: auto;
        @include scrollbar();
    }
}

.cat-item {
    display: flex;
    color: #6b7184;
    padding-left: 2.375rem;
    line-height: 2.5rem;
    cursor: default;
    .item-icon {
        text-align: center;
        padding-right: .8rem;
        img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }
    }
    &:hover {
        background: #f5f5f5;
    }
}