<app-edit-header [title]="dataModel().id > 0 ? '编辑应用' : '新增应用'" (submited)="tapSubmit($event)" [disabled]="dataForm().invalid()" />

<div class="container-fluid">
    <form class="form-table-control panel-container" (submit)="tapSubmit2($event)">
        <div class="input-group-control">
            <label for="name">应用名</label>
            <div>
                <input type="text" id="name" class="form-control" [field]="dataForm.name" placeholder="例如: xx应用">
                @if (dataForm.name().invalid()) {
                    <div class="input-tip">请输入应用名</div>
                }
            </div>
        </div>
        <div class="input-group-control">
            <label for="type">类型</label>
            <div>
                <select id="type" class="form-control" [field]="dataForm.type">
                    @for (item of typeItems; track $index; let i = $index) {
                        <option [value]="i">{{ item }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="input-group-control">
            <label for="domain">域名</label>
            <div>
                <input type="text" id="domain" class="form-control" [field]="dataForm.domain">
            </div>
        </div>
        <div class="input-group-control">
            <label for="description">介绍</label>
            <div>
                <textarea id="description" class="form-control" [field]="dataForm.description"></textarea>

            </div>
        </div>
        @if (dataModel().id > 0) {
            <div class="input-group-control">
                <label for="appid">App Id</label>
                <div>
                    <input type="text" id="appid" class="form-control" name="appid" [value]="data.appid" readonly>

                </div>
            </div>
            <div class="input-group-control">
                <label for="secret">Secret</label>
                <div>
                    <input type="text" id="secret" class="form-control" name="secret" [value]="data.secret" readonly
                        size="40">

                </div>
            </div>
            <div class="input-group-control">
                <label for="sign_type">签名方式</label>
                <div>
                    <select id="sign_type" class="form-control" [field]="dataForm.sign_type">
                        @for (item of signItems; track $index; let i = $index) {
                            <option [value]="i">{{ item }}</option>
                        }
                    </select>

                </div>
            </div>
            @if (signType() > 0) {
            <div class="input-group-control">
                <label for="sign_key">签名密钥</label>
                <div>
                    <textarea id="sign_key" class="form-control" [field]="dataForm.sign_key"></textarea>
                    <div class="input-tip">请输入签名密钥或签名组成字段请用“+”链接,例如：appid+timestamp+secret</div>
                </div>
            </div>
            }
            <div class="input-group-control">
                <label for="encrypt_type">加密方式</label>
                <div>
                    <select id="encrypt_type" class="form-control" [field]="dataForm.encrypt_type">
                        @for (item of encryptItems; track $index; let i = $index) {
                            <option [value]="i">{{ item }}</option>
                        }
                    </select>

                </div>
            </div>
            @if (encryptType() > 0) {
            <div class="input-group-control">
                <label for="public_key">加密公钥</label>
                <div>
                    <textarea id="public_key" class="form-control" [field]="dataForm.public_key"></textarea>
                </div>
            </div>
            }
            @if (reviewable) {
            <div class="input-group-control">
                <label for="rules">允许规则</label>
                <div>
                    <textarea id="rules" class="form-control" [field]="dataForm.rules"></textarea>
                    <div class="input-tip">
                        &#64; 匹配模块空间 ~ 接正则表达式 ^ 匹配开头 - 排除，其他匹配全路径
                    </div>
                </div>
            </div>
            <div class="input-group-control">
                <label for="status">状态</label>
                <div>
                    <select id="status" class="form-control" [field]="dataForm.status">
                        @for (item of statusItems; track $index) {
                            <option [value]="item.value">{{ item.name }}</option>
                        }
                    </select>
                </div>
            </div>
            }

        }

        <div class="input-group-control">
            <label for="allow_self">允许手动生成</label>
            <div>
                <app-switch id="allow_self" [field]="dataForm.allow_self" />
            </div>
        </div>
        <div class="btn-group">
            <app-action-button (tapped)="tapSubmit($event)" class="btn btn-success">确认保存</app-action-button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>
