@import '../../theme/styles/scrollbar';
.detail-box {
    text-align: center;
    padding: 5vh;
    margin-top: 10vh;
    .timer-box {
        font-size: 60px;
    }
    .timer-name,
    .timer-desc {
        color: #ccc;
    }
}
.action-box {
    position: relative;
    bottom: 30px;
    font-size: 50px;
    text-align: center;
    left: 0;
    right: 0;
    .timer-close,
    .timer-pause,
    .timer-play {
        color: #333;
        display: inline-block;
        text-align: center;
        .fa {
            font-size: 40px;
        }
        .label {
            display: block;
            font-size: 12px;
        }
    }
    .timer-pause {
        margin-right: 10px;
    }
}

.expand-box {
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 150px;
    .expand-header {
        position: relative;
        text-align: right;
        font-size: 30px;
        &::before {
            position: absolute;
            content: " ";
            display: block;
            height: 5px;
            background-color: #333;
            top: 16px;
            left: 0;
            right: 24px;
        }
    }
    .expand-body {
        display: none;
        max-height: 80vh;
        overflow-y: auto;
        @include scrollbar();
    }
    &.open {
        .expand-header {
            transform: rotateX(180deg);
        }
        .expand-body {
            display: block;
        }
    }
}

.fixed-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
}



.on-running {
    .fixed-icon,
    .expand-box {
        display: none;
    }
    .action-box {
        padding-top: 30vh;
    }
}