<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>评论列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group-control">
                    <label class="sr-only" for="keywords">内容</label>
                    <input type="text" class="form-control" name="keywords" id="keywords" placeholder="标题" [ngModel]="queries.keywords">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    
        <table class="table  table-bordered well">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>昵称</th>
                    <th class="auto-hide">邮箱</th>
                    <th>内容</th>
                    <th class="auto-hide">文章</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of items">
                    <tr>
                        <td (click)="item.toggled = !item.toggled">
                            {{ item.id }}
                            <i class="iconfont" [ngClass]="{'icon-angle-double-down': !item.toggled, 'icon-angle-double-up': item.toggled}"></i>
                        </td>
                        <td>
                            <ng-container *ngIf="item.user_id; else elseTemplate">
                                <a (click)="tapUser(item.user_id)">
                                    {{ item.name }}
                                </a>
                            </ng-container>
                            <ng-template #elseTemplate>
                                <a>
                                    {{ item.name }}
                                </a>
                            </ng-template>
                        </td>
                        <td class="auto-hide">
                            <a>
                                {{ item.email }}
                            </a>
                        </td>
                        <td>{{ item.content }}</td>
                        <td class="auto-hide">
                            <a *ngIf="item.blog" [routerLink]="['/blog', item.blog.id]">
                                {{ item.blog.title }}
                            </a>
                        </td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-success" *ngIf="item.approved != 1" (click)="tapApproved(item)">审核</a>
                                <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="item.toggled">
                        <td></td>
                        <td colspan="4">
                            <div class="line-row-item">
                                <span class="item-label">昵称:</span>
                                <span class="item-body">{{ item.name }}</span>
                            </div>
                            <div class="line-row-item">
                                <span class="item-label">邮箱:</span>
                                <span class="item-body">{{ item.email }}</span>
                            </div>
                            <div class="line-row-item">
                                <span class="item-label">网址:</span>
                                <span class="item-body">{{ item.url }}</span>
                            </div>
                            <div class="line-row-item">
                                <span class="item-label">IP:</span>
                                <span class="item-body">{{ item.ip }}</span>
                            </div>
                            <div class="line-row-item">
                                <span class="item-label">发布时间:</span>
                                <span class="item-body">{{ item.created_at | timestamp }}</span>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
    
</div>