<div class="container">
    <app-loading-tip [loading]="isLoading" [visible]="!data || isLoading"></app-loading-tip>
    <div *ngIf="data">
        <div class="book-title">
            {{ data.title }}
        </div>
        <div class="panel-sort-container">
            <div class="info">
                <div class="language-toggle" *ngIf="data.languages && data.languages.length > 1">
                    <ng-container *ngFor="let item of data.languages">
                        <a (click)="loadBlog(item.id)" [ngClass]="{active: item.id === data.id}">{{ item.name }}</a>
                    </ng-container>
                </div>
                <a class="author" *ngIf="data.user" routerLink="../" [queryParams]="{user: data.user.id}"><i
                        class="iconfont icon-edit"></i><b>{{ data.user.name }}</b></a>
                <a class="category" *ngIf="data.term" routerLink="../" [queryParams]="{category: data.term.id}"><i
                        class="iconfont icon-bookmark"></i><b>{{ data.term.name }}</b></a>
                <a class="language" *ngIf="data.programming_language" routerLink="../"
                    [queryParams]="{programming_language: data.programming_language}"><i
                        class="iconfont icon-code"></i><b>{{ data.programming_language }}</b></a>
                <span class="time"><i class="iconfont icon-calendar-check"></i><b>{{ data.created_at | ago }}</b></span>
            </div>
            <article id="content" class="content">
                <ng-container *ngIf="data.audio_url">
                    <app-audio-player [src]="data.audio_url"></app-audio-player>
                </ng-container>
                <ng-container *ngIf="data.video_url">
                    <app-video-player [src]="data.video_url"></app-video-player>
                </ng-container>
                <app-markdown-block [value]="content"></app-markdown-block>

                <ng-container *ngIf="!data.can_read">
                    <div class="rule-box rule-login" *ngIf="data.open_type == 1">
                        <div class="rule-tip">
                            <ng-container i18n>Articles must be</ng-container>
                            <a (click)="tapOpen()" i18n>Sign in</a>
                            <ng-container i18n>to continue reading</ng-container>
                        </div>
                  </div>
                  <div class="rule-box rule-password" *ngIf="data.open_type == 5">
                        <div class="rule-header" i18n>
                            Please enter the reading password
                        </div>
                        <div class="flat-input">
                            <input type="text" name="password" class="form-control" i18n-placeholder placeholder="Please input password" [(ngModel)]="openKey">
                            <button class="btn btn-danger" (click)="tapOpen()" i18n>Confirm</button>
                        </div>
                        
                    </div>
                    <div class="rule-box rule-buy" *ngIf="data.open_type == 6">
                        <div class="rule-header">
                            <ng-container i18n>Articles must be pay</ng-container><b i18n>{{ data.open_rule }} Coins</b><ng-container i18n>to continue reading</ng-container>
                        </div>
                        <button class="btn btn-danger" (click)="tapOpen()" i18n>Confirm purchase</button>
                    </div>
                </ng-container>
                

                <p class="book-copyright" *ngIf="data.url">
                    <ng-container i18n>Please keep the original link for reprinting:</ng-container>
                    <a [href]="data.url" [title]="data.title">{{ data.url }}</a>
                </p>
            </article>
            <div class="book-bottom">
                <div class="book-source" *ngIf="data.type == 1">
                    <span i18n>Reprinted in:</span>
                    <a [href]="data.source_url" target="_blank" i18n-title title="This article is reprinted, click to view the original page">
                        {{data.source_url}} </a>
                </div>
                <div class="book-tags" *ngIf="data.tags">
                    <span i18n>Tags:</span>
                    <ng-container *ngFor="let tag of data.tags">
                        <a routerLink="../" [queryParams]="{tag: tag.name}">{{ tag.name }}</a>, 
                    </ng-container>
                </div>
            </div>
            <div class="tools">
                <span class="comment"><i class="iconfont icon-comments"></i><b>{{ data.comment_count }}</b></span>
                <span class="click"><i class="iconfont icon-eye"></i><b>{{ data.click_count }}</b></span>
                <span class="agree recommend-blog" [ngClass]="{active: data.is_recommended}" (click)="tapRecommend()" i18n-title title="Your support is the author's motivation to create"><i
                        class="iconfont icon-thumbs-up"></i><b>{{ data.recommend_count }}</b></span>
            </div>
        </div>

        <div class="book-navigation">
            <a class="prev" *ngIf="data.previous" (click)="loadBlog(data.previous.id)" i18n-title [title]="'Previous: ' + data.previous.title">
                <i class="iconfont icon-chevron-left"></i>
                <div class="prev-text">
                    <span class="prev-label" i18n>Previous</span>
                    <span class="prev-title">{{ data.previous.title }}</span>
                </div>
            </a>
            <a class="next" *ngIf="data.next" (click)="loadBlog(data.next.id)" i18n-title [title]="'Next: ' + data.next.title">
                <div class="next-text">
                    <span class="next-label" i18n>Next</span>
                    <span class="next-title">{{ data.next.title }}</span>
                </div>
                <i class="iconfont icon-chevron-right"></i>
            </a>
        </div>
        <div class="panel" *ngIf="relationItems && relationItems.length > 0">
            <div class="panel-header">
                <a routerLink="../" i18n>Related Articles</a>
            </div>
            <div class="panel-body">
                <ng-container *ngFor="let item of relationItems">
                    <div class="article-list-item" (click)="loadBlog(item.id)">
                        <div class="item-body">
                            <a class="item-title">{{ item.title }}</a>
                            <div class="item-time">{{ item.created_at | ago }}</div>
                        </div>
                        <div class="item-meta">{{ item.description }}</div>
                    </div>
                </ng-container>
            </div>
        </div>


        <div class="template-lazy" *ngIf="data.comment_status > 0" appLazyLoad (lazyLoading)="commentLoaded = true">
            <app-comment [itemId]="data.id" [init]="commentLoaded" [status]="data.comment_status"></app-comment>
        </div>
        
    </div>
</div>