<div class="editor-container" [ngClass]="{'top-open': topVisible}" *ngIf="book">
    <div class="top-container">
        <div class="form-table">
            <div class="input-group">
                <label for="name2">书名</label>
                <div>
                    <input type="text" id="name2" [(ngModel)]="book.name" class="form-control">
                </div>
            </div>
            <div class="input-group">
                <label for="cover">封面</label>
                <div>
                    <app-file-input  [(ngModel)]="book.cover"></app-file-input>
                </div>
            </div>
            <div class="input-group">
                <label for="description2">简介</label>
                <div>
                    <textarea id="description2" [(ngModel)]="book.description" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary" (click)="tapSaveBook()">保存</button>
            <a class="btn btn-danger" *ngIf="book.over_at < 1" (click)="tapOver()">设为完结</a>
            <a class="btn btn-light" (click)="topVisible = false">收起</a>
        </div>
    </div>
    <div class="editor-body">
        <div class="catalog-container">
            <div class="tool-bar">
                <a title="刷新排序" (click)="tapRefreshPosition()">
                    <i class="iconfont icon-refresh"></i>
                </a>
                <a title="新增章节" (click)="tapNewFile()">
                    <i class="iconfont icon-file-text-o"></i>
                </a>
                <a title="新增卷" (click)="tapNewFolder()">
                    <i class="iconfont icon-folder-o"></i>
                </a>
                <a title="人物关系" (click)="tapViewLink()">
                    <i class="iconfont icon-chain"></i>
                </a>
                <a title="设置" (click)="topVisible = !topVisible">
                    <i class="iconfont icon-cog"></i>
                </a>
            </div>
            <ul class="tree-box" (contextmenu)="tapContextMenu($event)">
                <li class="tree-item" *ngFor="let item of catalog" [ngClass]="{open: item.expanded, active: data && item.id == data.id}">
                    <div class="tree-name" (click)="tapEdit(item)" (contextmenu)="tapContextMenu($event, item)">
                        <i class="iconfont" [ngClass]="{'icon-file-text-o': item.type < 1, 'icon-chevron-right': item.type > 0 && item.children && !item.expanded, 'icon-chevron-down': item.type > 0 && item.children && item.expanded}"></i>
                        {{ item.title }}
                    </div>
                    <ul class="tree-body">
                        <li class="tree-item" *ngFor="let it of item.children"  [ngClass]="{active: data && it.id == data.id}">
                            <div class="tree-name" (click)="tapEdit(it)" (contextmenu)="tapContextMenu($event, it)">
                                <i class="iconfont icon-file-text-o"></i>
                                {{ it.title }}</div>
                        </li>
                    </ul>
                </li>
                <li class="tip">
                    右键新增章节
                </li>
            </ul>
        </div>
        <div class="body-container">
            <div class="toggle-icon" title="显示目录">
                <i class="iconfont icon-bars"></i>
            </div>
            <ng-container *ngIf="data">
                <div class="title-input">
                    <label for="name">{{ data.type > 0 ? '卷名' : '章节名' }}</label>
                    <input type="text" id="name" [(ngModel)]="data.title" class="form-control" [placeholder]="data.type > 0 ? '请输入卷名' : '请输入章节名'">
                    <a class="btn btn-primary" title="保存" (click)="tapSaveChapter()">
                        <i class="iconfont icon-check"></i>
                    </a>
                </div>
                <ng-container *ngIf="data.type < 1">
                    <app-text-editor [(ngModel)]="data.content"></app-text-editor>
                    <app-panel title="附加属性" [min]="true">
                        <div class="form-table">
                            <div class="input-group">
                                <label for="price">价格</label>
                                <div>
                                    <input type="text" id="price" class="form-control" [(ngModel)]="data.price">
                                    <div class="input-tip">为0表示免费章节</div>
                                </div>
                            </div>
                            <div class="input-group">
                                <label for="position">排序</label>
                                <div>
                                    <input type="text" id="position" class="form-control" [(ngModel)]="data.position">
                                </div>
                            </div>
                        </div>
                    </app-panel>
                </ng-container>
                <app-action-button class="btn btn-success" (tapped)="tapSaveChapter($event)">确认保存</app-action-button>
            </ng-container>
        </div>
    </div>
</div>

<app-context-menu></app-context-menu>

<div class="dialog-panel" [@panelOpen]="panelOpen ? 'open' : 'closed'">
    <div class="panel-header">
        <i class="iconfont text-left" [ngClass]="{'icon-chevron-left': !linkOpen, 'icon-chevron-right': linkOpen}" (click)="toggleLink()"></i>
        <i class="iconfont icon-close" (click)="tapCloseLink()"></i>
    </div>
    <div class="panel-search">
        <input type="text">
        <i class="iconfont icon-search"></i>
    </div>
    <div class="panel-body">
        <div class="role-item" *ngFor="let item of roleItems; let i = index">
            <span>{{ item.name }}
                <ng-container *ngIf="item.character">
                    ({{ item.character }})
                </ng-container>
            </span>
            <div class="action">
                <i class="iconfont icon-edit" title="编辑" (click)="tapEditRole(roleModal, i)"></i>
                <i class="iconfont icon-gift" title="物品" (click)="openSubPanel(1, i)"></i>
                <i class="iconfont icon-key" title="技能" (click)="openSubPanel(2, i)"></i>
            </div>
        </div>
        <div class="panel-sub" *ngIf="subOpen == 1">
            <div class="panel-header">
                <i class="iconfont icon-chevron-left" (click)="subOpen = 0"></i>
                物品
                <i class="iconfont icon-plus" title="添加物品" (click)="tapEditGoods(goodsModal)"></i>
            </div>
            <div class="panel-body">
                <div class="role-item" *ngFor="let item of goodsItems;let i = index">
                    <span>{{ item.name }}x{{ item.amount }}</span>
                    <div class="action">
                        <i class="iconfont icon-edit" title="修改" (click)="tapEditGoods(goodsModal, i)"></i>
                        <i class="iconfont icon-trash" title="删除"  (click)="tapRemoveGoods(i)"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-sub" *ngIf="subOpen == 2">
            <div class="panel-header">
                <i class="iconfont icon-chevron-left" (click)="subOpen = 0"></i>
                技能
                <i class="iconfont icon-plus" title="添加技能" (click)="tapEditSkill(skillModal)"></i>
            </div>
            <div class="panel-body">
                <div class="role-item" *ngFor="let item of skillItems; let i = index">
                    <span>{{ item.name }}
                        <ng-container *ngIf="item.level">
                            ({{ item.level }})
                        </ng-container>
                    </span>
                    <div class="action">
                        <i class="iconfont icon-arrow-up" title="升级" (click)="tapEditSkill(skillModal, i)"></i>
                        <i class="iconfont icon-edit" title="修改" (click)="tapEditSkill(skillModal, i)"></i>
                        <i class="iconfont icon-trash" title="删除" (click)="tapRemoveSkill(i)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dialog-link" [hidden]="!linkOpen">
    <app-mind [readonly]="false" [format]="mindFormat" [items]="roleItems" [linkItems]="linkItems" (confirm)="onMindConfirm($event, roleModal)" (update)="onMindUpdate($event)"></app-mind>
</div>

<app-dialog-box #moveModal [scrollable]="false">
    <div class="form-table">
        <div class="input-group">
            <label for="">移动到章节</label>
            <div>
                <select [(ngModel)]="moveData.target" class="form-control">
                    <ng-container *ngFor="let item of catalog">
                        <option [value]="item.id">{{ item.title }}</option>
                        <ng-container *ngFor="let it of item.children">
                            <option [value]="it.id">{{ it.title }}</option>
                        </ng-container>
                    </ng-container>
                </select>
            </div>
        </div>
        <div class="input-group">
            <label for=""></label>
            <div>
                <app-check-input [items]="['之前', '之后']" [(ngModel)]="moveData.type" [rangeKey]="1"></app-check-input>
            </div>
        </div>
    </div>
</app-dialog-box>

<app-dialog-box #roleModal [scrollable]="false">
<div class="form-table">
    <div class="input-group">
        <label for="">角色名</label>
        <div>
            <input type="text" class="form-control" [(ngModel)]="roleData.name">
        </div>
    </div>
    <ng-container *ngIf="roleData.type != 'link'">
        <div class="input-group">
            <label for="">头像</label>
            <div>
                <app-file-input [(ngModel)]="roleData.avatar"></app-file-input>
            </div>
        </div>
        <div class="input-group">
            <label for="">简介</label>
            <div>
                <textarea type="text" class="form-control" [(ngModel)]="roleData.description"></textarea>
            </div>
        </div>
        <div class="input-group">
            <label for="">角色身份</label>
            <div>
                <input type="text" class="form-control" [(ngModel)]="roleData.character" placeholder="主角/配角">
            </div>
        </div>
    </ng-container>
    
    <div class="input-group" [hidden]="roleData.type == 'new'">
        <label for="">与“{{ roleData.from }}”的关系</label>
        <div>
            <input type="text" class="form-control" [(ngModel)]="roleData.link">
        </div>
    </div>
</div>
</app-dialog-box>

<app-dialog-box #goodsModal [scrollable]="false">
    <div class="form-table">
        <div class="input-group">
            <label for="">物品</label>
            <div>
                <input type="text" class="form-control" [(ngModel)]="goodsData.name">
            </div>
        </div>
        <div class="input-group">
            <label for="">物品数量</label>
            <div>
                <input type="text" class="form-control" [(ngModel)]="goodsData.amount">
            </div>
        </div>
    </div>
</app-dialog-box>
<app-dialog-box #skillModal [scrollable]="false">
    <div class="form-table">
        <div class="input-group">
            <label for="">技能名</label>
            <div>
                <input type="text" class="form-control" [(ngModel)]="skillData.name">
            </div>
        </div>
        <div class="input-group">
            <label for="">技能等级</label>
            <div>
                <input type="text" class="form-control" [(ngModel)]="skillData.level">
            </div>
        </div>
    </div>
</app-dialog-box>