@use '../../theme/styles/theme';

.login-box {
    max-width: 18.75rem;
    margin: 20vh auto 40vh;
    overflow: hidden;
    position: relative;
    min-height: 25rem;
}

footer {
    background-color: var(--#{theme.$prefix}-primary);
    color: var(--#{theme.$prefix}-primary-text);
    padding: 1.25rem 0;
    .copyright {
        text-align: center;
    }
    a {
        color: var(--#{theme.$prefix}-primary-text);
        text-decoration: none;
    }
}
