.login-box {
    max-width: 300px;
    margin: 20vh auto 40vh;
    overflow: hidden;
    position: relative;
}

footer {
    background-color: #a10000;
    color: #fff;
    padding: 20px 0;
    .copyright {
        text-align: center;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}
