<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>表情包列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">名称</label>
                    <input type="text" class="form-control" [field]="queries.keywords"
                        placeholder="名称">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a (click)="tapView(modal)" class="pull-right btn btn-primary">新增分组</a>
            </form>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>图标</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        <img [src]="item.icon" alt="">
                    </td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-light btn-xs" (click)="tapView(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }

            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
    </div>
</div>

<app-dialog-box #modal [title]="editForm.id().value() > 0 ? '编辑分组' : '新增分组'">
    <div class="form-group">
        <label for="region-input">名称</label>
        <div class="input-group-control">
            <input class="form-control" id="region-input" [field]="editForm.name" placeholder="请输入名称">
        </div>
    </div>
    <div class="form-group">
        <label for="region-input">图标</label>
        <div class="input-group-control">
            <app-file-input [field]="editForm.icon" />
        </div>
    </div>
</app-dialog-box>