@use '../../../theme/theme';

$radius: .5rem;
.panel-body {
    column-count: auto;
    column-gap: .8rem;
    column-width: 16rem;
}
.media-list-item {
    display: block;
    page-break-inside: avoid;
    border-radius: $radius;
    margin-bottom: .8rem;
    .item-cover {
        position: relative;
        margin: 0;
        text-align: center;
        // width: 16rem;
        height: 16rem;
        overflow: hidden;
        border-radius: $radius $radius 0 0;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: $radius $radius 0 0;
            transition: transform 500ms;
        }
    }
    .item-body {
        border-radius: 0 0 $radius $radius;
        padding: .8rem;
    }
    .item-title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .time {
        color: var(--#{theme.$prefix}meta-text);
        font-size: .8rem;
    }
    .item-meta {
        margin: .4rem 0 0;
        color: var(--#{theme.$prefix}meta-text);
        height: 3rem;
        overflow: hidden;
    }
    &:hover {
        box-shadow: 0 0 .8rem rgba(var(--#{theme.$prefix}mask-rgb), .15);
        .item-cover {
            img {
                transform: scale(1.1);
            }
        }
    }
}