<div class="panel" appLazyLoad (lazyLoading)="loadData()">
    <div class="panel-header">
        <span i18n>Lastest Resources</span>
    </div>
    <div class="panel-body" [ngClass]="{'is_loading': isLoading}">
        @for (item of items; track $index) {
            <a class="media-list-item" [routerLink]="['/res/category', item.cat_id, item.id]">
                <div class="item-cover">
                    <img [src]="item.thumb" [alt]="item.title">
                </div>
                <div class="item-body">
                    <div class="item-title">
                        <a class="name">{{ item.title }}</a>
                        <div class="time">{{ item.created_at | ago }}</div>
                    </div>
                    <div class="item-meta">{{ item.description }}</div>
                </div>
            </a>
        }
    </div>
</div>