.player-bar {
    display: flex;
    box-sizing: border-box;
    line-height: 2.5em;
    .icon {
        width: 2.5em;
        text-align: center;
    }
    .slider {
        flex: 1;
        padding-top: 1em;
    }
    .time {
        font-size: .8em;
    }
    .volume-icon {
        padding-left: .5em;
    }
    .volume-slider {
        width: 3em;
        padding-top: 1em;
        padding-right: .5em;
    }
    .full-icon {
        width: 2em;
        text-align: center;
    }
}