<app-edit-header [title]="data && data.id > 0 ? '编辑文章' : '新增文章'" (submited)="tapSubmit()" [disabled]="form.invalid"></app-edit-header>

<div class="container-fluid">
    <form class="form-table" [formGroup]="form" (ngSubmit)="tapSubmit()">
        <div class="panel-container">
            <div class="title-input">
                <label for="title">标题</label>
                <input type="text" id="title" class="form-control" formControlName="name">
            </div>
            
            <app-markdown-editor formControlName="content" [height]="400"></app-markdown-editor>
        </div>

        <button type="submit" class="btn btn-success">确认保存</button>
        <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
    </form>
</div>