<div class="lattice-box" [ngStyle]="boxStyle">
    @for (item of formatItems; track $index; let i = $index) {
        <div class="item" [ngClass]="{active: currentIndex == i}" [ngStyle]="item.style">
            @if (item.image) {
            <div class="thumb">
                <img [src]="item.image">
            </div>
            }
            @if (item.text) {
            <div class="text">{{ item.text }}</div>
            }
        </div>
    }
    <div class="btn btn-primary" [ngClass]="{disabled: isRunning}" [ngStyle]="buttonStyle" (click)="tapStart()">
        {{ buttonText }}
    </div>
</div>