<div class="map-name">【王府北】</div>
<div class="map-meta">这里没有什么人</div>
<div class="group-box">
    <div class="group-header">【人】</div>
    <div class="group-body">
        <ul class="map-items">
            <li>管家[npc]</li>
            <li>盗贼(40级)</li>
            <li>盗贼(40级)</li>
            <li>盗贼(40级)</li>
        </ul>
    </div>
</div>
<div class="group-box">
    <div class="group-header">【物品】</div>
    <div class="group-body">
        <ul class="map-items">
            <li>刀[蓝]</li>
            <li>水晶</li>
        </ul>
    </div>
</div>
<div class="group-box">
    <div class="group-header">【导航】</div>
    <div class="group-body">
        <ul class="map-navigation">
            <li><a href="">[东]王府东</a></li>
            <li><a href="">[南]大门</a></li>
            <li><a href="">[西]小门</a></li>
            <li><a href="">[北]主屋</a></li>
        </ul>
    </div>
</div>
<div class="group-box">
    <div class="group-header">【公共频道】</div>
    <div class="group-body">
        <ul class="mini-message">
            <li>[09:01:00]test: 这里没有什么东西</li>
        </ul>
    </div>
</div>

<div class="menu-bar">
    <a href="">背包</a>
    <a href="">技能</a>
    <a href="">地图</a>
</div>
