<div class="map-name">【王府北】</div>
<div class="map-meta">这里没有什么人</div>
<div class="group-box">
    <div class="group-header">【人】</div>
    <div class="group-body">
        <ul class="map-items">
            <li>
                <a (click)="tapNpc()">管家[npc]</a>
            </li>
            <li>
                <a (click)="tapMonster()">盗贼(40级)</a>
            </li>
        </ul>
    </div>
</div>
<div class="group-box">
    <div class="group-header">【物品】</div>
    <div class="group-body">
        <ul class="map-items">
            <li>
                <a (click)="tapItem()">刀[蓝]</a>
            </li>
            <li>
                <a (click)="tapItem()">水晶</a>
            </li>
        </ul>
    </div>
</div>
<div class="group-box">
    <div class="group-header">【导航】</div>
    <div class="group-body">
        <ul class="map-navigation">
            <li><a (click)="tapMap(1)">[东]王府东</a></li>
            <li><a (click)="tapMap(1)">[南]大门</a></li>
            <li><a (click)="tapMap(1)">[西]小门</a></li>
            <li><a (click)="tapMap(1)">[北]主屋</a></li>
        </ul>
    </div>
</div>
<div class="group-box">
    <div class="group-header">【公共频道】</div>
    <div class="group-body">
        <ul class="mini-message">
            <li>[09:01:00]test: 这里没有什么东西</li>
        </ul>
    </div>
</div>

<div class="menu-bar">
    <ng-container *ngFor="let item of bottomItems">
        <a [ngClass]="{disabled: item.disabled}" (click)="tapRoute(item)">{{ item.name }}
            <ng-container *ngIf="item.count > 0">
                ({{ item.count }})
            </ng-container>
        </a>
    </ng-container>
</div>
