<div class="category-page">
  <div class="container">

      <nav class="breadcrumb">
          <a class="breadcrumb-item" routerLink="../" i18n>All Products</a>
          <span class="breadcrumb-item active" i18n>Search "{{ queries.keywords().value() }}"</span>
      </nav>

      <div class="goods-area">
          <div class="filter-container pt-30">
            @for (item of filterItems(); track $index) {
            <div class="filter-group">
                <div class="group-header">
                    {{ item.label }}
                </div>
                <div class="group-body">
                    @for (it of item.items; track $index) {
                        <a [class]="{active: it.selected}">{{ it.label }}</a>
                    }
                </div>
              </div>
            }
              <div class="filter-group">
                    <div class="group-header">
                        价格
                    </div>
                    <div class="group-body">
                        <a >不限</a>
                        <a class="active">0-100</a>
                        <a>101-200</a>
                        <div class="filter-range-group">
                            <input type="text">
                            <span>-</span>
                            <input type="text">
                        </div>
                    </div>
              </div>
              <div class="filter-group">
                <div class="group-header" i18n>
                    Sort by
                </div>
                <div class="group-body">
                    @for (item of sortItems; track $index) {
                        <a [class]="{active: item.value == sortKey()}" (click)="tapSort(item)">{{ item.name }}
                            @if (item.value && sortKey() == item.value) {
                            <i class="iconfont" [class]="{'icon-sort-alpha-asc': orderAsc(), 'icon-sort-alpha-desc': !orderAsc()}"></i>
                            }
                        </a>
                    }
                </div>
              </div>
          </div>
          <div class="row">
            @for (item of items(); track $index) {
                <div class="col-lg-3 col-md-4 col-6">
                    <a class="goods-item item-hover" [routerLink]="'../goods/' + item.id">
                        <div class="thumb">
                            <img [appLazyLoad]="item.thumb" [alt]="item.name">
                        </div>
                        <div class="name">{{ item.name }}</div>
                        <div class="price">{{ item.price | price }}</div>
                        <div class="desc">
                          {{ item.brief }}
                        </div>
                    </a>
                </div>
            }
          </div>
          <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
      </div>

  </div>
</div>