<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>关注公众号时自动回复</li>
        </ul>
    </app-page-tip>

    <div class="tab-bar">
        @for (item of tabItems; track $index) {
            <a class="item" [class.active]="queries.event().value() == item.value" (click)="tapTab(item.value)">{{ item.name }}</a>
        }
    </div>

    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>事件</th>
                    <th>响应类型</th>
                    <th>关键字</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ formatEvent(item.event) }}</td>
                    <td>{{ formatType(item.type) }}</td>
                    <td>{{ item.keywords }}</td>
                    <td>
                        <app-switch [(value)]="item.status" offLabel="未激活" onLabel="已激活" (valueChange)="onStatusChange(item)" />
                    </td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
    </div>
</div>
