@use '../../../theme/theme';
@use '../../../../bootstrap/variables';
.price-group {
    .price {
        font-size: 1.5rem;
        color: var(--#{theme.$prefix}danger);
        font-family: arial;
        margin-right: 0.125rem;
        line-height: 1;
        display: inline-block;
        min-width: 3.125rem;
        em {
            font-size: 0.875rem;
            font-style: normal;
        }
    }
    .old-price {
        display: inline-block;
        font-size: 12px;
        color: var(--#{theme.$prefix}border);
        text-decoration: line-through;
    }
}

.checklist-bar {
    --#{theme.$prefix}check-icon: var(--#{theme.$prefix}success);
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        display: flex;
        gap: .8rem;
        &::before {
            content: '√';
            color: var(--#{theme.$prefix}check-icon);
        }
        &.--with-uncheck {
            &::before {
                content: '×';
                color: var(--#{theme.$prefix}secondary);
            }
        }
    }
}
.card-panel {
    --#{theme.$prefix}card: var(--#{theme.$prefix}panel);
    --#{theme.$prefix}card-text: var(--#{theme.$prefix}body-text);
    --#{theme.$prefix}card-border: var(--#{theme.$prefix}border);
    --#{theme.$prefix}card-divider-margin-y: #{variables.$spacer * .5};
    background-color: var(--#{theme.$prefix}card);
    color: var(--#{theme.$prefix}card-text);
    box-shadow: var(--#{theme.$prefix}box-shadow);
    border-radius: 1.5rem;
    display: flex;
    .card-divider {
        height: 0;
        margin: var(--#{theme.$prefix}card-divider-margin-y) 0;
        overflow: hidden;
        border-top: 1px solid var(--#{theme.$prefix}card-border);
    }
    .--with-left,
    .--with-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .--with-left {
        padding: 1.5rem .8rem 1.5rem 1.5rem;
        border-right: 1px solid var(--#{theme.$prefix}card-border);
    }
    .--with-right {
        padding: 1.5rem 1.5rem 1.5rem .8rem;
    }
    .card-footer {
        border-top: 1px solid var(--#{theme.$prefix}card-border);
        margin-top: var(--#{theme.$prefix}card-divider-margin-y);
        padding-top: var(--#{theme.$prefix}card-divider-margin-y);
        height: 6rem;
    }
    .card-input-group {
        display: flex;
        gap: 1rem;
    }
    .card-input-header {
        display: inline-block;
        min-width: 6.25rem;
        line-height: 2.75rem;
    }
    .price-group {
        line-height: 2.5rem;
        text-align: right;
    }
    .card-input-body {
        flex: 1;
        width: 100%;
    }
    .tab-bar {
        --#{theme.$prefix}tab: var(--#{theme.$prefix}light);
    }
    .--with-block {
        display: block;
    }
}


.pricing-group {
    .pricing-item {
        --#{theme.$prefix}pricing: transparent;
        --#{theme.$prefix}pricing-text: var(--#{theme.$prefix}secondary);
        background-color: var(--#{theme.$prefix}pricing);
        padding: 2.75rem 2.5rem;
        border-radius: .25rem;
        text-align: center;
        .item-header {
            font-size: 1.375rem;
            line-height: 1.875rem;
            font-weight: 600;
            color: var(--#{theme.$prefix}pricing-text);
            margin-bottom: 1.375rem;
        }
        .item-icon {
            margin-bottom: 2.5rem;
            font-size: 3.75rem;
            color: var(--#{theme.$prefix}pricing-text);
            img {
                width: 3.75rem;
            }
        }
        .pricing-bags {
            line-height: .66;
            display: flex;
            justify-content: center;
            margin-bottom: 1.875rem;
            color: var(--#{theme.$prefix}pricing-text);
            .currency {
                font-size: 1.375rem;
                font-weight: 500;
            }
            .text {
                font-size: 5.625rem;
                font-weight: 600;
            }
            .period {
                display: flex;
                align-items: flex-end;
                font-size: 0.9375rem;
                font-weight: 500;
            }
        }
        .item-body {
            padding: 0.625rem 0.9375rem 1.875rem;
            text-align: left;
        }
        .btn {
            --#{theme.$prefix}btn-color: var(--#{theme.$prefix}pricing-text);
            --#{theme.$prefix}btn-border-color: var(--#{theme.$prefix}pricing-text);
            --#{theme.$prefix}btn-bg: var(--#{theme.$prefix}panel);
            --#{theme.$prefix}btn-hover-color: var(--#{theme.$prefix}panel);
            --#{theme.$prefix}btn-hover-bg: var(--#{theme.$prefix}pricing-text);
        }
        &.active {
            --#{theme.$prefix}pricing: var(--#{theme.$prefix}panel);
            --#{theme.$prefix}pricing-text: var(--#{theme.$prefix}danger);
            box-shadow: 0 0.2rem 2.8rem rgba(var(--#{theme.$prefix}mask-rgb), .3);
            .checklist-bar {
                --#{theme.$prefix}check-icon: var(--#{theme.$prefix}pricing-text);
            }
            .btn {
                --#{theme.$prefix}btn-color: var(--#{theme.$prefix}panel);
                --#{theme.$prefix}btn-border-color: var(--#{theme.$prefix}pricing-text);
                --#{theme.$prefix}btn-bg: var(--#{theme.$prefix}pricing-text);
                --#{theme.$prefix}btn-hover-color: var(--#{theme.$prefix}pricing-text);
                --#{theme.$prefix}btn-hover-bg: var(--#{theme.$prefix}panel);
                --#{theme.$prefix}btn-hover-border-color: var(--#{theme.$prefix}pricing-text);
            }
        }
    }
}