@use '../../../theme/theme';
.page-container {
    border-radius: .3rem;
    padding: .8rem;
    margin-bottom: 1rem;
    .page-header {
        font-size: 1.2rem;
        line-height: 1.5rem;
        .icon-shield {
            color: var(--#{theme.$prefix}success);
            margin-right: .8rem;
        }
        .icon-exclamation-triangle {
            color: var(--#{theme.$prefix}danger);
            margin-right: .8rem;
        }
    }
    .page-flex-body {
        display: flex;
    }
    .page-body {
        flex: 1;
    }
    .page-thumb {
        img {
            max-width: 8rem;
            max-height: 6rem;
        }
    }
    .page-site,
    .page-content,
    .page-time {
        font-size: 0.8125rem;
        line-height: 1.3125rem;
    }
    .page-time {
        color: var(--#{theme.$prefix}meta-text);
        margin-right: .8rem;
    }
    .page-content {
        display: inline-block;
        margin-top: 0.375rem;
        min-height: 4rem;
    }
    .page-site {
        color: var(--#{theme.$prefix}meta-text);
    }
    .site-logo {
        display: inline-block;
        img {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
    .page-action {
        position: relative;
        display: inline-block;
    }
    .drop-icon {
        line-height: 1.3125rem;
        margin: 0 .8rem;
    }
    .drop-body {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        top: 0;
        background-color: var(--#{theme.$prefix}dialog-mask);
        z-index: 910;
        box-shadow: 0 2px 0.5rem rgba(var(--#{theme.$prefix}mask-rgb), 0.2);
        margin: 0;
        padding: 0;
    }
    &.--with-drop-open {
        .drop-body {
            display: block;
        }
    }
    &.--without-thumb {
        .page-content {
            min-height: auto;
        }
    }
}

@media (min-width: 48rem){
    .tablet-menu-panel {
        position: static;
        .--with-divider {
            display: none;
        }
        .menu-item {
            line-height: 1.875rem;
        }
    }
    .page-container {
        .drop-body {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 6rem;
            top: 0;
            background-color: var(--#{theme.$prefix}panel);
        }
    }
}
