<div class="page-container" 
    [class.--without-thumb]="!value().thumb"
    [class.--with-drop-open]="menuOpen()">
    <div class="page-header">
        <a [href]="value().link" target="_blank" rel="noopener">
            <app-rule-block [value]="value().title" [rules]="rules()" />
        </a>
        @if (value().score >= 80) {
            <i class="iconfont icon-shield" i18n-title title="This page is safe"></i>
        } @else if (value().score >= 10 && value().score < 60) {
            <i class="iconfont icon-exclamation-triangle" i18n-title title="This page is not recommended to visit"></i>
        } @else if (value().score < 10) {
            <i class="iconfont icon-exclamation-triangle" i18n-title title="This page contains dangerous content"></i>
        }
    </div>
    <div class="page-flex-body">
        @if (value().thumb) {
        <div class="page-thumb">
            <img [appLazyLoad]="value().thumb" [alt]="value().title">
        </div>
        }
        <div class="page-body">
            <span class="page-time">{{ value().updated_at | ago }}</span> <span class="page-content">
                <app-rule-block [value]="value().description" [rules]="rules()" />
            </span>
            <div class="page-footer">
                @if (value().site) {
                <a class="page-site" [href]="formatLink(value().site)" target="_blank" rel="noopener">
                    @if (value().site.logo) {
                    <div class="site-logo">
                        <img [src]="value().site.logo" alt="">
                    </div>
                    }
                    <span class="site-name">{{ value().site.name }}</span>
                </a>
                } @else {
                <a class="page-site" [href]="value().link" target="_blank" rel="noopener">
                    <span class="site-name">{{ formatDomain(value().link) }}</span>
                </a>
                }
                <div class="page-action" (mouseenter)="menuOpen.set(true)" (mouseleave)="menuOpen.set(false)">
                    <div class="drop-icon" (click)="menuOpen.set(true)">
                        <i class="iconfont icon-ellipsis-h"></i>
                    </div>
                    <div class="drop-body" (click)="menuOpen.set(false)">
                        <div class="tablet-menu-panel" (click)="$event.stopPropagation()">
                            @for (item of menuItems; track $index; let i = $index) {
                            <div class="menu-item" (click)="tapMenu(i)">{{ item }}</div>
                            }
                            <div class="menu-item --with-divider" (click)="menuOpen.set(false)" i18n>Cancel</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>