.column-item {
    display: flex;
    width: auto;
    // display: block;
    margin: 0;
    margin: 0 -1.25rem;
    .item-icon {
        // width: 3.75rem;
        // height: 3.75rem;
        background-color: transparent;
        color: #777;
    }
    &:hover {
        background-color: #fafafa;
    }
    &.active {
        background-color: #e5e5e5;
    }
}