<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>角色列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">角色</label>
                    <input type="text" class="form-control" [value]="keywords" placeholder="角色">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a routerLink="./create" class="btn btn-primary">新增角色</a>
                    <a routerLink="./permission" class="btn btn-info">管理权限</a>
                </div>
            </form>
        </div>
        <table class="table  table-bordered well">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>角色名</th>
                    <th>别名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.display_name }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary"
                                [routerLink]="'./edit/' + item.id">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
        <app-pagination [total]="total" [(page)]="page" [perPage]="perPage" 
            (valueChange)="tapPage()" />
    </div>
</div>