@use '../../../theme/theme';
@use '../../../../bootstrap/variables';
@use '../explorer';
$radius: variables.$border-radius;

.file-explorer-dailog,
.file-explorer-window {
    .dialog-footer {
        display: flex;
        justify-content: space-between;
        .btn {
            display: inline-block;
        }
    }
    .explorer-body {
        flex: 1;
    }
}

.file-explorer-dailog {
    position: fixed;
    border-radius: $radius;
    top: 50%;
    margin-top: -12.5rem;
    left: 50%;
    margin-left: -21.5rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    z-index: #{variables.$zindex-modal};
    background-color: var(--#{theme.$prefix}panel);
    box-shadow: 0 0 20px rgba(var(--#{theme.$prefix}mask-rgb), 0.2);
    width: 43rem;
    .explorer-header {
        border-radius: $radius $radius 0 0;
        .action-item {
            &:first-of-type {
                border-top-left-radius: $radius;
            }
            &:last-of-type {
                border-top-right-radius: $radius;
            }
        }
    }
}

.file-explorer-window {
    height: 99vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .explorer-header {
        background-color: var(--#{theme.$prefix}panel);
    }
}

@media screen and (max-width: 43.75rem) {
    .file-explorer-dailog {
        width: 100%;
        left: 0;
        margin-left: 0;
        border-radius: 0;
        .explorer-header {
            border-radius: 0;
        }
    }
}