@if (visible() && mode() > 0) {
    <div class="dialog-mask"></div>
}
@if (visible()) {
<div [class]="{'file-explorer-window': mode() < 1, 'file-explorer-dailog': mode() > 0}">
    <div class="explorer-header">
        <div class="action-item" (click)="tapBack()" [class]="{disabled: !canBack}">
            <i class="iconfont icon-arrow-left"></i>
        </div>
        <div class="action-item" (click)="tapForward()" [class]="{disabled: !canForward}">
            <i class="iconfont icon-arrow-right"></i>
        </div>
        <div class="action-item" (click)="tapUp()" [class]="{disabled: !canUp}">
            <i class="iconfont icon-arrow-up"></i>
        </div>
        <div class="action-item" (click)="tapRefresh()">
            <i class="iconfont icon-refresh"></i>
        </div>
        <form class="breadcrumb-bar" (submit)="tapConfirmPath()" (click)="pathIsInputing = true">
            @if (pathIsInputing) {
                <input type="text" [field]="queries.path">
            } @else {
                @for (item of breadcrumbItems; track $index) {
                    <a class="breadcrumb-item" [class]="{disabled: item.disabled}" (click)="tapBreadcrumb(item, $event)">
                        @if (item.icon) {
                            <i class="iconfont" [class]="item.icon"></i>
                        }
                        <span class="breadcrumb-item-name">{{ item.name }}</span>
                    </a>
                }
            }
        </form>
        <form class="search-bar" (submit)="tapConfirmSearch()">
            <input type="text" [field]="queries.keywords" placeholder="Search">
            <i class="iconfont icon-search" (click)="tapConfirmSearch()"></i>
        </form>
        @if (mode() > 0) {
        <div class="action-item" (click)="visible.set(false)">
            <i class="iconfont icon-close"></i>
        </div>
        }
       
    </div>
    <div class="explorer-body">
        <app-file-explorer-catalog (pathChange)="onCatalogTap($event)" />
        <app-file-explorer-panel (pathChange)="onFileTap($event)" (selectedChange)="onSelectedChange($event)" />
    </div>
    <div class="dialog-footer">

    </div>
</div>
}


<ng-container #modalVC />