<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>商品属性列表</li>
            @if (group) {
            <li>当前属性分组：{{ group.name }}</li>
            }
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">名称</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords"
                        placeholder="名称">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a [routerLink]="['../create', group.id]" class="btn btn-primary">新增属性</a>
                    <a routerLink="../../group" class="btn btn-info">返回分组</a>
                </div>
                
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>属性名称</th>
                    <th>属性分组</th>
                    <th>商品类型</th>
                    <th class="auto-hide">属性是否可选</th>
                    <th class="auto-hide">属性值的录入方式</th>
                    <th class="auto-hide">可选值列表</th>
                    <th>排序</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.property_group }}</td>
                    <td>{{ item.group?.name }}</td>
                    <td class="auto-hide">{{ item.type | attributeType }}</td>
                    <td class="auto-hide">{{ item.input_type < 1 ? '手工录入' : '列表选择' }}</td>
                    <td class="auto-hide">{{ item.default_value }}</td>
                    <td>{{ item.position }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary"
                            [routerLink]="['../edit', item.id]">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
        <app-pagination [total]="total" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
    </div>
</div>