<div class="dialog-mask" *ngIf="visible" (click)="closeDialog()"></div>
<div class="dialog-box" [@dialogOpen]="visible ? 'open' : 'closed'" [ngStyle]="boxStyle">
    <div class="dialog-header" *ngIf="title">
        <div class="dialog-title">{{ title }}</div>
        <i class="iconfont icon-close dialog-close" (click)="closeDialog()"></i>
    </div>
    <div class="dialog-body">
        <ng-content></ng-content>
    </div>
    <div class="dialog-footer" *ngIf="buttonVisible">
        <div class="btn btn-primary" (click)="closeDialog(true)">确定</div>
        <div class="btn btn-danger" (click)="closeDialog()">取消</div>
    </div>
</div>