@if (paused) {
    <div class="voice-block" (click)="tapPlay()">
        <i class="iconfont icon-voice"></i>
    </div>
} @else {
    <div class="player-bar">
        <div class="icon" (click)="tapPlay()">
            <i class="iconfont" [ngClass]="{'icon-play': paused, 'icon-stop': !paused}"></i>
        </div>
        <div class="slider">
            <app-progress-bar [value]="progress" [max]="duration" [label]="false" (valueChange)="onProgressChange($event)" />
        </div>
        <div class="time">
            {{ formatProgress }}/{{ formatDuration }}
        </div>
    </div>
}
