@import '../../components/context-menu/menu';
.header-bar {
    background-color: #fff;
    ul,
    li {
        list-style: none;
        padding: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
    }
    .tab-bar {
        display: inline-block;
        margin-top: 1.875rem;
        line-height: inherit;
        a {
            color: #999;
            font-size: 1rem;
            padding: 0.625rem 1.25rem;
            cursor: pointer;
            display: inline-block;
            &:hover {
                color: #b4a078;
            }
            &.active {
                color: #333;
                border-bottom: 2px solid red;
            }
        }
    }
    .user-icon {
        display: inline-block;
        position: relative;
        margin-top: - 1.875rem;
        vertical-align: bottom;
        .avatar {
            padding: 0.625rem 0.3125rem;
            img {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
            }
            &:hover {
                background-color: #ccc;
            }
        }
    }
    .drop-menu {
        right: 0;
        z-index: 88;
    }
}

.pull-right {
    float: right;
}

::ng-deep {
    .flex-2 {
        display: flex;
        min-height: 90vh;
        .flex-menu {
            width: 20%;
            min-width: 6.25rem;
            max-width: 12.5rem;
            background-color: white;
        }
        .menu-item {
            display: block;
            line-height: 40px;
            text-align: center;
            // border: 1px solid #ccc;
            cursor: pointer;
            position: relative;
            &:hover {
                background-color: rgba($color: #ccc, $alpha: .5);
            }
            &.active {
                background-color: #f4f4f4;
                border: none;
                &::after {
                    content: '';
                    position: absolute;
                    z-index: 10;
                    border: 0.375em solid transparent;
                    top: 0.9375em;
                    right: -0.75rem;
                    border-left-color: #f4f4f4;
                }
            }
            &:not(:last-of-type) {
                border-bottom: none;
            }
        }
        .flex-body {
            flex: 1;
            padding: .6rem;
        }
    }
}