<div class="header-bar">
    <div class="container-fluid">
        <div class="tab-bar">
            <a [class]="{active: tabIndex < 1}" (click)="tapTab(0)" routerLink="./">推荐</a>
            <a [class]="{active: tabIndex == 1}" (click)="tapTab(1)" routerLink="store">商品</a>
            <a>
                <app-catering-search-input />
            </a>
        </div>
        <div class="tab-bar pull-right">
            <a (click)="tapScan()">
                <i class="iconfont icon-scan"></i>
            </a>
            <a (click)="cartModal().open()">
                <i class="iconfont icon-shopping-cart"></i>
            </a>
            <div class="user-icon">
                <div class="avatar" (click)="tapAvatar()">
                    <img [src]="user.avatar | asset">
                </div>
                <div class="menu-flyout" [hidden]="!authOpen">
                    <app-menu-body [items]="menuItems" [flowLeft]="true" (tapped)="onMenuTap($event)" />
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="inner-body">
    <router-outlet />
</div>


<app-login-dialog />
<app-catering-cart-dialog />
<app-authorize-dialog />
@if (scanOpen) {
<div class="dialog-mask" (click)="scanOpen = false"></div>
<div class="scanner-dialog">
    <app-scanner (completed)="onScanCompleted($event)" />
</div>
}