<div class="container loading-box">
    <div *ngIf="data">
        <div class="book-title">
            {{ data.title }}
        </div>
        <div class="book-full-body">
            <div class="info">
                <div class="language-toggle" *ngIf="data.languages && data.languages.length > 1">
                    <ng-container *ngFor="let item of data.languages">
                        <a (click)="loadBlog(item.id)" [ngClass]="{active: item.id === data.id}">{{ item.label }}</a>
                    </ng-container>
                </div>
                <a class="author" *ngIf="data.user" routerLink="../" [queryParams]="{user: data.user.id}"><i
                        class="iconfont icon-edit"></i><b>{{ data.user.name }}</b></a>
                <a class="category" *ngIf="data.term" routerLink="../" [queryParams]="{category: data.term.id}"><i
                        class="iconfont icon-bookmark"></i><b>{{ data.term.name }}</b></a>
                <a class="language" *ngIf="data.programming_language" routerLink="../"
                    [queryParams]="{programming_language: data.programming_language}"><i
                        class="iconfont icon-code"></i><b>{{ data.programming_language }}</b></a>
                <span class="time"><i class="iconfont icon-calendar-check"></i><b>{{ data.created_at }}</b></span>
            </div>
            <article id="content" class="content style-markdown">
                <ng-container *ngIf="data.audio_url">
                    <app-audio-player [src]="data.audio_url"></app-audio-player>
                </ng-container>
                <ng-container *ngIf="data.video_url">
                    <app-video-player [src]="data.video_url"></app-video-player>
                </ng-container>
                <div [innerHTML]="content"></div>
                <p class="book-copyright" *ngIf="data.url">转载请保留原文链接：
                    <a [href]="data.url" [title]="data.title">{{ data.url }}</a>
                </p>
            </article>
            <div class="book-bottom">
                <div class="book-source" *ngIf="data.type == 1">
                    <span>转载于：</span>
                    <a [href]="data.source_url" target="_blank" title="本文为转载内容，点击查看原网页">
                        {{data.source_url}} </a>
                </div>
                <div class="book-tags" *ngIf="data.tags">
                    <span>标签：</span>
                    <ng-container *ngFor="let tag of data.tags">
                        <a routerLink="../" [queryParams]="{tag: tag.name}">{{ tag.name }}</a>，
                    </ng-container>
                </div>
            </div>
            <div class="tools">
                <span class="comment"><i class="iconfont icon-comments"></i><b>{{ data.comment_count }}</b></span>
                <span class="click"><i class="iconfont icon-eye"></i><b>{{ data.click_count }}</b></span>
                <span class="agree recommend-blog"><i
                        class="iconfont icon-thumbs-up"></i><b>{{ data.recommend_count }}</b></span>
            </div>
        </div>

        <div class="book-navigation">
            <a class="prev" *ngIf="data.previous" (click)="loadBlog(data.previous.id)">
                <i class="iconfont icon-chevron-left"></i>
                <div class="prev-text">
                    <span class="prev-label">上一篇</span>
                    <span class="prev-title">{{ data.previous.title }}</span>
                </div>
            </a>
            <a class="next" *ngIf="data.next" (click)="loadBlog(data.next.id)">
                <div class="next-text">
                    <span class="next-label">上一篇</span>
                    <span class="next-title">{{ data.next.title }}</span>
                </div>
                <i class="iconfont icon-chevron-right"></i>
            </a>
        </div>
        <div class="panel" *ngIf="data.relation && data.relation.length > 0">
            <div class="panel-header">
                <a routerLink="../">相关文章</a>
            </div>
            <div class="panel-body">
                <ng-container *ngFor="let blog of data.relation">
                    <div class="list-item" (click)="loadBlog(blog.id)">
                        <a class="name">{{ blog.title }}</a>
                        <div class="time">{{ blog.created_at }}</div>
                    </div>
                </ng-container>

            </div>
        </div>


        <div id="comments" class="book-footer comment" *ngIf="data.comment_status > 0">
            <div class="book-comment-form" *ngIf="commentData.parent_id < 1">
                <div class="title"> 发表评论 </div>
                <div class="form-table" *ngIf="!user">
                    <div class="form-group">
                        <label>称呼</label>
                        <input type="text" [(ngModel)]="commentData.name" placeholder="请输入姓名">
                    </div>
                    <div class="form-group">
                        <label>邮箱</label>
                        <input type="email" [(ngModel)]="commentData.email" placeholder="请输入邮箱">
                    </div>
                    <div class="form-group">
                        <label>网址</label>
                        <input type="url" [(ngModel)]="commentData.url" placeholder="请输入网址">
                    </div>
                </div>
                <textarea [(ngModel)]="commentData.content" placeholder="请输入内容"></textarea>
                <button class="btn-submit" (click)="tapComment()">评论</button>
            </div>
            <div class="book-comments">
                <div class="title">
                    全部评论 <div class="order">
                        <span [ngClass]="{active: commentSort == 'new'}" (click)="tapSortComment('new')">最新</span>
                        <span [ngClass]="{active: commentSort == 'old'}" (click)="tapSortComment('old')">最早</span>
                    </div>
                </div>
                <div id="comment-box">
                    <app-pull-to-refresh [more]="hasMore" [loading]="isLoading" (moreChange)="tapMore()" (refreshChange)="tapRefresh()">
                        <div class="comment-item" *ngFor="let item of commentItems">
                            <div class="info">
                                <span class="user">{{ item.name }}</span>
                                <span class="time">{{ item.created_at }}</span>
                                <span class="floor">{{ item.position }}楼</span>
                            </div>
                            <div class="content">
                                <p>{{ item.content }}</p>
                                <span>&nbsp;</span>
                                <span class="comment" (click)="tapCommenting(item)"><i class="iconfont icon-commenting"></i></span>
                                <span class="report">举报</span>
                                <div class="actions">
                                    <span class="agree"><i class="iconfont icon-thumbs-up"></i><b>{{ item.agree_count }}</b></span>
                                    <span class="disagree"><i class="iconfont icon-thumbs-down"></i><b>{{ item.disagree_count }}</b></span>
                                </div>
                                <div class="book-comment-form" *ngIf="commentData.parent_id > 0">
                                    <div class="title"> 回复评论 </div>
                                    <div class="form-table" *ngIf="!user">
                                        <div class="form-group">
                                            <label>称呼</label>
                                            <input type="text" [(ngModel)]="commentData.name" placeholder="请输入姓名">
                                        </div>
                                        <div class="form-group">
                                            <label>邮箱</label>
                                            <input type="email" [(ngModel)]="commentData.email" placeholder="请输入邮箱">
                                        </div>
                                        <div class="form-group">
                                            <label>网址</label>
                                            <input type="url" [(ngModel)]="commentData.url" placeholder="请输入网址">
                                        </div>
                                    </div>
                                    <textarea [(ngModel)]="commentData.content" placeholder="请输入内容"></textarea>
                                    <button class="btn-submit" (click)="tapComment()">回复</button>
                                    <button class="btn-cancel" (click)="tapCommenting()">取消</button>
                                </div>
                            </div>
    
                            <div *ngIf="item.replies" class="comments">
                                <div class="comment-item" *ngFor="let it of item.replies">
                                    <div class="info">
                                        <span class="user">{{ it.name }}</span>
                                        <span class="time">{{ it.created_at }}</span>
                                        <span class="floor">{{ it.position }}#</span>
                                    </div>
                                    <div class="content">
                                        <p>{{ it.content }}</p>
                                        <span>&nbsp;</span>
                                        <span class="report">举报</span>
                                        <div class="actions">
                                            <span class="agree"><i class="iconfont icon-thumbs-up"></i><b>{{ it.agree_count }}</b></span>
                                            <span class="disagree"><i class="iconfont icon-thumbs-down"></i><b>{{ it.disagree_count }}</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-pull-to-refresh>
                </div>
            </div>
        </div>
    </div>
</div>