.floor,
.template-lazy {
    min-height: 200px;
}

.floor {
    padding: 3rem 0 2rem;
    .floor-header {
        padding-top: 13px;
        margin-top: 30px;
        padding-bottom: 20px;
        h3 {
            font-size: 28px;
            font-weight: 700;
            line-height: 1;
            display: inline-block;
            margin-right: 20px;
        }
        small {
            padding-top: 13px;
            display: inline-block;
            line-height: 1;
        }
        .header-right {
            float: right;
            padding-top: 8px;
            a {
                &:last-child {
                    margin-left: 20px;
                }
            }
        }
    }
}

.banner-floor {
    padding: 5rem 0;
}

.bg-default {
    background-color: white;
}