.slider {
    position: relative;
    .slider-previous,
    .slider-next {
        position: absolute;
        top: 50%;
        font-size: 30px;
        margin-top: -25px;
        color: #fff;
        z-index: 99;
        background: #D0C4AF;
        line-height: 50px;
    }
    .slider-next {
        right: -50px;
    }
    .slider-previous {
        left: -50px;
    }
    .slider-box {
        position: relative;
        width: 100%;
        overflow-x: hidden;
        height: 100%;
        ul {
            position: absolute;
            width: 312.5rem;
            padding: 0;
            margin: 0;
            transition: left 1s linear;
        }
        li {
            list-style: none;
            float: left;
            margin: 0 .4rem;
        }
    }

    .slider-point {
        position: absolute;
        bottom: 0;
        right: 6.25rem;
        li {
            list-style: none;
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.3);
            &.active {
                background: #fff;
            }
        }
    }
}