<div class="container-fluid">
    <div class="user-container">
        <div class="avatar">
            <img [src]="user.avatar" [alt]="user.name">
        </div>
        <div class="extra-body">
            <div class="name">{{ user.name }}</div>
            <div class="extra">{{ data?.description }}</div>
            <div class="count-bar">
                <div class="item">
                    {{ data?.word_count | numberFormat }}
                    <strong i18n>Words</strong>
                </div>
                <div class="item">{{ data?.book_count | numberFormat }}<strong i18n>Books</strong></div>
                <div class="item">{{ data?.collect_count | numberFormat }}<strong i18n>Followers</strong></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 title-bar">
            Books
        </div>
        <div class="col-md-3 col-6">
            <div class="add-btn" (click)="tapNewBook(bookModal)">
                <i class="iconfont icon-plus"></i>
                New
            </div>
        </div>
        <ng-container *ngFor="let item of bookItems">
            <div class="col-md-3 col-6">
                <a class="book-item" [routerLink]="['book', item.id]">
                    <div class="cover">
                        <img [src]="item.cover">
                        <div class="tip" *ngIf="item.click_count > 0">{{ item.click_count | numberFormat }}人气</div>
                    </div>
                    <div class="info">
                        <div class="name">{{ item.name }}</div>
                        <div class="tag">{{ item.author?.name}}·{{ item.category?.name }}·
                            {{ item.status_label }}·
                          {{ item.size | numberFormat }}字</div>
                        <div class="desc">{{ item.description }}</div>
                    </div>
                </a>
            </div>
        </ng-container>
        
    </div>
</div>

<app-dialog-box #bookModal i18n-title title="New Novel">
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="name" i18n>Name</label>
            <div>
                <input type="text" id="name" [(ngModel)]="bookData.name" class="form-control">
            </div>
        </div>
        <div class="input-group-control">
            <label for="cover" i18n>Cover</label>
            <div>
                <app-file-input [(ngModel)]="bookData.cover"></app-file-input>
            </div>
        </div>
        <div class="input-group-control">
            <label for="description" i18n>Summary</label>
            <div>
                <textarea id="description"  [(ngModel)]="bookData.description" class="form-control"></textarea>
            </div>
        </div>
    </div>
</app-dialog-box>