<div class="router-bar">
    <div class="tool-item" (click)="tapBack()">
        <i class="iconfont icon-arrow-left"></i>
    </div>
    <div class="title-bar">
        技能
    </div>
</div>

<div class="skill-item item-open">
    <div class="item-main-body">
        <div class="item-thumb">
            <img src="" alt="">
        </div>
        <div class="item-body">
            <div class="item-name">技能</div>
            <div class="item-progress">
                <app-progress-bar></app-progress-bar>
            </div>
        </div>
        <div class="item-action">
            <div class="btn btn-primary">使用</div>
        </div>
    </div>
    <div class="item-meta">
        这是说明
    </div>
</div>

<div class="skill-item">
    <div class="item-main-body">
        <div class="item-thumb">
            <img src="" alt="">
        </div>
        <div class="item-body">
            <div class="item-name">技能</div>
            <div class="item-progress">
                <app-progress-bar></app-progress-bar>
            </div>
        </div>
        <div class="item-action">
            <div class="btn btn-primary">使用</div>
        </div>
    </div>
    <div class="item-meta">
        这是说明
    </div>
</div>