<div class="tablet-large-header tablet-visible">
    <div class="route-bar">
        <a class="route-icon" (click)="tapBack()">
            <i class="iconfont icon-chevron-left"></i>
        </a>
        <span class="route-title" i18n>Bulletin</span>
    </div>
</div>

<div class="container">
    @for (item of items; track $index) {
        <div class="bulletin-item" [ngClass]="{min: !item.open}">
            <div class="title" (click)="tapToggle(item)">
                {{ item.bulletin.title }}
            </div>
            <div class="content">
                <app-rule-block [value]="item.bulletin.content" [rules]="item.bulletin.extra_rule" (tapped)="tapBlock($event)"></app-rule-block>
            </div>
            <div class="footer">
                <span>
                    <ng-container i18n>Sender:</ng-container>
                    
                    {{ item.bulletin.user_name }}</span>
                <span>
                    <ng-container i18n>Sent At:</ng-container>
                    {{ item.created_at }}</span>
                <span>
                    <ng-container i18n>Status:</ng-container>
                    <ng-container i18n>{item.status > 0, plural, =true {Readed} =false {UnRead}}</ng-container></span>
                @if (item.open && item.status > 0) {
                    <a (click)="tapRemove(item)" i18n>[Delete]</a>
                }
            </div>
        </div>
    }
    
    <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
    <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    
</div>
