<app-edit-header [title]="dataModel().id > 0 ? '编辑批发' : '新增批发'" (submited)="tapSubmit($event)" [disabled]="dataForm().invalid()" />
<div class="container-fluid">
    <form class="form-table-control panel-container" (submit)="tapSubmit2($event)">
        <div class="input-group-control">
            <label for="name">名称</label>
            <div>
                <input type="text" id="name" class="form-control" [formField]="dataForm.name" >

            </div>
        </div>
        <div class="input-group-control">
            <label for="thumb">图片</label>
            <div>
                <app-file-input [formField]="dataForm.thumb" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="description">说明</label>
            <div>
                <textarea id="description" class="form-control" [formField]="dataForm.description"></textarea>

            </div>
        </div>
        <div class="input-group-control">
            <label for="scope">商品</label>
            <div>
                <app-select-input url="shop/admin/goods/search" [formField]="dataForm.scope" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="start_at">起止时间</label>
            <div>
                <app-date-input [formField]="dataForm.start_at" placeholder="请输入开始时间" />
                ~
                <app-date-input [formField]="dataForm.end_at" placeholder="请输入结束时间" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="money">价格阶梯</label>
            <div class="step-box">
                @for (item of dataForm.configure.items; track $index; let i = $index) {
                    <p class="step-item">
                        数量达到
                        <input type="number" size="10" class="form-control" [formField]="item.amount">
                        享受价格
                        <input type="number" size="10" class="form-control" [formField]="item.price">
                        <i class="iconfont icon-close" (click)="tapRemoveStep(i)"></i>
                    </p>
                }
                <a class="btn btn-primary" (click)="tapAddStep()">
                    <i class="iconfont icon-plus"></i>
                </a>
            </div>
        </div>
        <div class="btn-group">
            <app-action-button class="btn btn-primary" (tapped)="tapSubmit($event)" [disabled]="dataForm().invalid()">确认保存</app-action-button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>
