<div class="container">
    <div class="row search-row">
        <div class="col-md-6">
            <app-auto-suggest-box />
        </div>
        <div class="col-md-6">
            <div class="filter-line">
                <div class="filter-header" i18n>
                    Sort by
                </div>
                <div class="filter-body">
                    @for (item of sortItems; track $index) {
                        <a [class]="{active: item.value == sortKey()}" (click)="tapSort(item)">{{ item.name }}
                            @if (item.value && sortKey() == item.value) {
                                <i class="iconfont" [class]="{'icon-sort-alpha-asc': orderAsc(), 'icon-sort-alpha-desc': !orderAsc()}"></i>
                            }
                        </a>
                    }
                </div>
          </div>
        </div>
    </div>

    <div class="row">
        @for (item of items(); track $index) {
            <div class="col-md-6">
            <div class="large-item">
                <div class="item-cover">
                    <img [appLazyLoad]="item.thumb" alt="">
                    <div class="item-mask">
                        <a class="btn btn-primary" i18n>Preview</a>
                        <a class="btn btn-success" (click)="modal.cloneTo(item)" i18n>Clone</a>
                    </div>
                </div>
                <div class="item-body">
                    <div class="item-name">{{ item.name }}</div>
                </div>
            </div>
        </div>
        }
    </div>

    <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
    <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
</div>

<app-clone-dialog #modal />