.address-row {
    display: grid;
    grid-template-columns: 120px 1fr 170px 140px 140px;
    height: 100px;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 100px;
    .btn {
        color: #b4a078;
        border: 1px solid #b4a078;
        background-color: #f5f3ef;
        padding: 0 20px;
    }
    &.row-header {
        background-color: #f5f5f5;
        text-align: center;
        font-weight: 400;
        height: 43px;
        line-height: 43px;
        color: #999;
        border-bottom: 1px solid #e8e8e8;
    }
    &:hover {
        background-color: #f5f5f5;
    }
}

.address-box {
    .header {
        line-height: 40px;
        a {
            float: right;
        }
    }
}

.address-dialog {
    position: fixed;
    z-index: 920;
    left: 50%;
    margin-left: -350px;
    top: 50%;
    margin-top: -120px;
    width: 700px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    .dialog-header {
        position: relative;
        background: #333;
        color: #fff;
        height: 40px;
        line-height: 30px;
        text-align: center;
        padding: 5px 10px;
        border-bottom: 1px solid #ccc;
        .iconfont {
            width: 30px;
            height: 30px;
            border: none;
            position: absolute;
            top: 0;
            color: #fff;
            line-height: 30px;
        }
        .icon-arrow-left {
            left: 0;
            background: #333;
            color: #fff;
            top: 5px;
        }
        .dialog-close {
            right: 0;
            background: #333;
            color: #fff;
            top: 6px;
        }
    }
    .dialog-body {
        overflow: auto;
        padding: 10px;
        height: 210px;
    }
    .dialog-footer {
        text-align: center;
    }
    .address-body {
        display: grid;
        grid-template-columns: 77px 1fr 77px 1fr;
        grid-gap: 20px;
        div {
            &:nth-child(2),
            &:nth-child(4) {
                grid-column: 2/5;
            }
            &:nth-child(odd) {
                font-size: 14px;
                line-height: 34px;
                text-align: right;
            }
        }
        select {
            width: 170px;
            font-size: 14px;
            line-height: 14px;
            border: 1px solid #ddd;
            border-radius: 0;
            background-color: #fff;
            height: 34px;
            color: #333;
        }
        textarea {
            height: 70px;
            background-color: #fff;
            padding: 9px;
            width: 530px;
            font-size: 14px;
            line-height: 14px;
            border: 1px solid #ddd;
            border-radius: 2px;
            color: #333;
            resize: vertical;
        }
        input {
            width: 200px;
            height: 34px;
            font-size: 14px;
            line-height: 28px;
            border: 1px solid #ddd;
            padding-left: 9px;
        }
    }
    .dialog-footer {
        >div:first-child {
            position: absolute;
            left: 97px;
            line-height: 40px;
        }
    }
}