
<div class="page-search-bar">
    <form class="flat-input" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
        <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" i18n-placeholder placeholder="Please input a keyword">
        <select name="type" [ngModel]="queries.type" class="form-control">
            <option *ngFor="let item of typeItems" [value]="item.value">{{ item.name }}</option>
        </select>
        <button type="submit" class="btn btn-primary" i18n>Search</button>
    </form>
    <div class="btn-group pull-right">
        <a class="btn btn-info" (click)="tapBack()" i18n>Back</a>
        <a class="btn btn-success" (click)="open(modal)" i18n>Add Components</a>
    </div>
</div>


<div class="list-table">
    <ng-container *ngFor="let item of items">
        <div class="image-row-item">
            <div class="item-cover">
                <img [appLazyLoad]="item.thumb | asset" [alt]="item.name">
            </div>
            <div class="item-body">
                <div class="item-title">
                    <span class="no">{{ item.id }}</span>
                    {{ item.name }}</div>
                <div class="item-meta">
                    <p>{{ item.description }}</p>
                </div>
                <div class="item-footer">
                    <div class="btn-group">
                        <a class="btn btn-success" *ngIf="item.type < 1" (click)="tapCreate(pageModal, item)" i18n>Create Page</a>
                        <a class="btn btn-danger" (click)="tapRemove(item)" i18n>Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>


<app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
<app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>

<app-search-dialog #modal [multiple]="true"></app-search-dialog>

<app-dialog-box #pageModal i18n-title title="Create Page">
    <div class="form-group">
        <label for="name-input" i18n>Name</label>
        <div>
            <input class="form-control" id="name-input" [(ngModel)]="pageData.name" i18n-placeholder placeholder="Please input the name">
        </div>
    </div>
    <div class="form-group">
        <label for="title-input" i18n>Page Title</label>
        <div>
            <input class="form-control" id="title-input" [(ngModel)]="pageData.title" i18n-placeholder placeholder="Please input the title of page">
        </div>
    </div>
    <div class="form-group">
        <label for="keywords-input" i18n>Page Keywords</label>
        <div>
            <app-words-input [(ngModel)]="pageData.keywords" i18n-placeholder placeholder="Please input the keywords of page"></app-words-input>
        </div>
    </div>
    <div class="form-group">
        <label for="description-input" i18n>Page Description</label>
        <div>
            <app-text-editor [(ngModel)]="pageData.description" height="100"></app-text-editor>
        </div>
    </div>
</app-dialog-box>