
<div class="page-search-bar">
    <form class="flat-input" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
        <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="关键词">
        <select name="type" [ngModel]="queries.type" class="form-control">
            <option *ngFor="let item of typeItems" [value]="item.value">{{ item.name }}</option>
        </select>
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
    <div class="btn-group pull-right">
        <a class="btn btn-info" (click)="tapBack()">返回</a>
        <a class="btn btn-success" (click)="open(modal)">添加组件</a>
    </div>
</div>


<div class="list-table">
    <ng-container *ngFor="let item of items">
        <div class="image-row-item">
            <div class="item-cover">
                <img [src]="item.thumb" alt="">
            </div>
            <div class="item-body">
                <div class="item-title">
                    <span class="no">{{ item.id }}</span>
                    {{ item.name }}</div>
                <div class="item-meta">
                    <p>{{ item.description }}</p>
                </div>
                <div class="item-footer">
                    <div class="btn-group">
                        <a class="btn btn-success" *ngIf="item.type < 1" (click)="tapCreate(pageModal, item)">创建页面</a>
                        <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>


<app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
<app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>

<app-search-dialog #modal [multiple]="true"></app-search-dialog>

<app-dialog-box #pageModal title="创建页面">
    <div class="form-group">
        <label for="name-input">名称</label>
        <div>
            <input class="form-control" id="name-input" [(ngModel)]="pageData.name" placeholder="请输入名称">
        </div>
    </div>
    <div class="form-group">
        <label for="title-input">页面标题</label>
        <div>
            <input class="form-control" id="title-input" [(ngModel)]="pageData.title" placeholder="请输入站点标题">
        </div>
    </div>
    <div class="form-group">
        <label for="keywords-input">页面关键字</label>
        <div>
            <app-words-input [(ngModel)]="pageData.keywords" placeholder="请输入站点关键字"></app-words-input>
        </div>
    </div>
    <div class="form-group">
        <label for="description-input">页面描述</label>
        <div>
            <app-text-editor [(ngModel)]="pageData.description" height="100"></app-text-editor>
        </div>
    </div>
</app-dialog-box>