
<div class="page-search-bar">
    <form class="flat-input" (submit)="tapSearch($event)">
        <input type="text" class="form-control" id="keywords" [field]="queries.keywords" i18n-placeholder placeholder="Please input a keyword">
        <select [field]="queries.type" class="form-control">
            @for (item of typeItems; track $index) {
                <option [value]="item.value">{{ item.name }}</option>
            }
        </select>
        <button type="submit" class="btn btn-primary" i18n>Search</button>
    </form>
    <div class="btn-group pull-right">
        <a class="btn btn-info" (click)="tapBack()" i18n>Back</a>
        <a class="btn btn-success" (click)="open(modal)" i18n>Add Components</a>
    </div>
</div>


<div class="list-table-control">
    @for (item of items(); track $index) {
        <div class="image-row-item">
            <div class="item-cover">
                <img [appLazyLoad]="item.thumb | asset" [alt]="item.name">
            </div>
            <div class="item-body">
                <div class="item-title">
                    <span class="no">{{ item.id }}</span>
                    {{ item.name }}</div>
                <div class="item-meta">
                    <p>{{ item.description }}</p>
                </div>
                <div class="item-footer">
                    <div class="btn-group">
                        @if (item.type < 1) {
                            <a class="btn btn-success" (click)="tapCreate(pageModal, item)" i18n>Create Page</a>
                        }
                        
                        <a class="btn btn-danger" (click)="tapRemove(item)" i18n>Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
<app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />

<app-search-dialog #modal [multiple]="true" />

<app-dialog-box #pageModal i18n-title title="Create Page">
    <div class="form-group">
        <label for="name-input" i18n>Name</label>
        <div>
            <input class="form-control" id="name-input" [field]="pageForm.name" i18n-placeholder placeholder="Please input the name">
        </div>
    </div>
    <div class="form-group">
        <label for="title-input" i18n>Page Title</label>
        <div>
            <input class="form-control" id="title-input" [field]="pageForm.title" i18n-placeholder placeholder="Please input the title of page">
        </div>
    </div>
    <div class="form-group">
        <label for="keywords-input" i18n>Page Keywords</label>
        <div>
            <app-words-input [field]="pageForm.keywords" i18n-placeholder placeholder="Please input the keywords of page" />
        </div>
    </div>
    <div class="form-group">
        <label for="description-input" i18n>Page Description</label>
        <div>
            <app-text-editor [field]="pageForm.description" height="100" />
        </div>
    </div>
</app-dialog-box>