@if (mode > 0) {
<div class="dialog-mask"></div>
}
@if (mode === 1) {
<div class="select-dialog">
    @for (item of items; track $index; let i = $index) {
        <a class="option-item" (click)="tapSelected(i)">{{ item }}</a>
    }
</div>
}
@if (mode === 2) {
<div class="message-dialog message-flex-right">
    <div class="dialog-header">
        @if (user && user.avatar) {
        <div class="user-avatar">
            <img [src]="user.avatar | asset" [alt]="user.name">
        </div>
        }
        <div class="user-name">{{ user?.name }}</div>
    </div>
    <div class="dialog-line"></div>
    <div class="dialog-body" (click)="tapNext()">
        {{ message }}
    </div>
    <div class="dialog-footer">
        <i class="iconfont icon-chevron-down"></i>
    </div>
</div>
}