<div class="thread-item" [class]="{'thread-highlight': value().is_highlight}">
    <div class="item-tool-bar">
        <div class="item-circle-profile">
            <img [appLazyLoad]="value().user.avatar">
            <span>{{ value().user.name }}</span>
        </div>
        <div class="item-dropdown-bar" [class]="{'--with-open': dropdownVisible}">
            <div class="dropdown-toggle-arrow" (click)="dropdownVisible = !dropdownVisible">
                <i class="iconfont icon-ellipsis-h"></i>
            </div>
            <div class="tablet-mask" (click)="dropdownVisible = false"></div>
            <div class="dropdowm-pane">
                <a href="">
                    <i class="iconfont icon-eye-slash"></i>
                    <ng-container i18n>Dislike author</ng-container>
                </a>
                <a href="">
                    <i class="iconfont icon-thumbs-o-down"></i>
                    <ng-container i18n>Dislike topic</ng-container>
                </a>
                <a href="">
                    <i class="iconfont icon-exclamation-circle"></i>
                    <ng-container i18n>Report</ng-container>
                </a>
                <a href="">
                    <i class="iconfont icon-share-alt"></i>
                    <ng-container i18n>Share</ng-container>
                </a>
            </div>
        </div>
    </div>
    <div class="item-body">
        <div class="item-title">
            @if (value().top_type > 0) {
                <i class="iconfont icon-arrow-up" i18n-title title="Top"></i>
            } @else if (value().is_closed) {
                <i class="iconfont icon-lock" i18n-title title="Thread is closed"></i>
            } @else {
                <i class="iconfont icon-file-o"></i>
            }
            @if (value().classify) {
            <em class="tag-item">
                [<a (click)="classifyChanged.emit(value().classify)">{{ value().classify.name }}</a>]
            </em>
            }
            
            <a class="title-text" [routerLink]="['../thread', value().id]">{{ value().title }}</a>
            @if (value().is_digest) {
                <i class="iconfont icon-fire"></i>
            }
            @if (value().is_new) {
                <a class="new-tag">New</a>
            }
            
        </div>
        @if (value().brief) {
            <div class="item-brief">{{ value().brief }}…</div>
        }
        @if (value().image_items?.length > 0) {
        <div class="item-image-bar">
            @for (item of value().image_items; track $index) {
            <div class="image-preview-control">
                <img [appLazyLoad]="item.url" [title]="item.title">
            </div>
            }
            
        </div>
        }
        
    </div>
    <div class="item-participant-bar">
        <div class="item-cute-profile">
            <img [appLazyLoad]="value().user.avatar">
        </div>
        @for (item of value().user_items; track $index) {
        <div class="item-cute-profile">
            <img [appLazyLoad]="item.avatar">
        </div>
        }
        
    </div>
    <div class="item-footer">
        <div class="item-time-bar">
            @if (value().forum) {
            <em class="tag-item tablet-visible">{{ value().forum.name }}</em>
            }
            <em>{{ value().updated_at | ago }}</em>
        </div>
        <div class="item-count-bar">
            <em>
                <i class="iconfont icon-comments"></i>
                {{ value().post_count | numberFormat }}</em>
            <em>
                <i class="iconfont icon-eye"></i>
                {{ value().view_count | numberFormat }}</em>
        </div>
    </div>
</div>