<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>这是所有的文章列表</li>
        </ul>
    </app-page-tip>

    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">标题</label>
                    <input type="text" class="form-control" placeholder="搜索标题" id="keywords" [field]="queries.keywords">
                </div>
                <div class="input-group-control">
                    <label>分类</label>
                    <select [field]="queries.term" class="form-control">
                        <option [value]="0">请选择</option>
                        @for (item of categories; track $index) {
                            <option [value]="item.id">{{ item.name }}</option>
                        }
                    </select>
                </div>
                <div class="input-group-control">
                    <label>状态</label>
                    <select [field]="queries.status" class="form-control">
                        <option [value]="0">请选择</option>
                        @for (item of statusItems; track $index) {
                            <option [value]="item.value + 1">{{ item.name }}</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a class="btn" [class]="{'btn-success': isReview(), 'btn-outline-success': !isReview()}" (click)="toggleReview()">审核模式</a>
                </div>
            </form>
            
        </div>
        <div class="list-table-control" [hidden]="isReview()">
            @for (item of items(); track $index) {
                <div class="row-item">
                    <div class="item-header">
                        <div class="tag-bar">
                            @if (item.open_type > 0) {
                                <i class="iconfont icon-lock" i18n-title title="Reading needs to meet the conditions"></i>
                            }
                            @if (item.publish_status < 5) {
                                <i class="iconfont icon-eye-slash" i18n-title title="Draft not visible"></i>
                            }
                            @if (item.publish_status == 9) {
                                <i class="iconfont icon-close" i18n-title title="Not visible in Recycle Bin"></i>
                            }
                            <span>{{ item.id }}</span>
                        </div>
                        
                        <span class="stamp">{{ item.type == 1 ? '转载' : '原创' }}</span>
                        <span class="title">{{ item.title }}</span>
                    </div>
                    <div class="item-body">
                        <p>{{ item.description }}</p>
                    </div>
                    <div class="item-footer">
                        <div class="item-meta-bar">
                            @if (item.term) {
                                <a class="category" ><i
                                class="iconfont icon-bookmark"></i><b>{{ item.term.name }}</b></a>
                            }
                            
                            <span class="comment"><i class="iconfont icon-comments"></i><b>{{ item.comment_count }}</b></span>
                            <span class="agree"><i class="iconfont icon-thumbs-up"></i><b>{{ item.recommend_count }}</b></span>
                            <span class="click"><i class="iconfont icon-eye"></i><b>{{ item.click_count }}</b></span>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-info btn-xs" [routerLink]="'/blog/' + item.id">预览</a>
                            <a class="btn btn-light btn-xs"
                            [routerLink]="'../edit/' + item.id">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)"
                                >删除</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <app-stack-container #stack [hidden]="!isReview()">
            @for (item of items(); track $index) {
                <app-stack-item>
                    <h3 class="review-header">
                        {{ item.title }}
                    </h3>
                    <div class="review-body">
                        <app-markdown-block [value]="item.content" />

                        <div class="review-stamp" [class]="{'btn-success': item.status == 1, 'btn-danger': item.status == 9}">
                            {{ formatStatus(item.status) }}
                        </div>
                    </div>
                    <div class="review-footer">
                        <div class="user-label-item">
                            <div class="item-avatar">
                                <img [src]="item.user.avatar" [alt]="item.user.name">
                            </div>
                            <div class="item-body">
                                {{item.user.name}}
                            </div>
                        </div>
                        <div class="review-action">
                            <div class="btn-group">
                                <a class="btn btn-info" (click)="stack.back()">
                                    <i class="iconfont icon-chevron-left"></i>
                                </a>
                                @if (item.status != 1) {
                                    <a class="btn btn-primary" (click)="tapReview(stack, item, 1)">通过</a>
                                }
                                @if (item.status != 9) {
                                    <a class="btn btn-warning"  (click)="tapReview(stack, item, 9)">拒绝</a>
                                }
                                <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                                <a class="btn btn-info" (click)="stack.next()">
                                    <i class="iconfont icon-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </app-stack-item>
            }
        </app-stack-container>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
    </div>
    
</div>

