@use '../../../../theme/theme';
@use '../../../../../bootstrap/desktop/list';
.item {
    .status {
        a,
        span {
            margin-right: 10px;
        }
    }
}

.tag-bar {
    --#{theme.$prefix}tag: var(--#{theme.$prefix}primary);
    --#{theme.$prefix}tag-text: var(--#{theme.$prefix}primary-text);
    --#{theme.$prefix}tag-border: var(--#{theme.$prefix}table);
    display: inline-block;
    position: relative;
    margin-right: .8rem;
    line-height: 1.875rem;
    i,
    span {
        display: inline-block;
        background-color: var(--#{theme.$prefix}tag);
        color: var(--#{theme.$prefix}tag-text);
        padding: 0 0.3125rem;
    }
    :not(:last-child) {
        border-right: 1px solid var(--#{theme.$prefix}tag-border);
    }
    &::after {
        content: "";
        border: 0.375rem solid transparent;
        border-left-color: var(--#{theme.$prefix}tag);
        position: absolute;
        right: -0.75rem;
        top: 0.5625rem;
    }
}