<div class="container-fluid">
    <div class="tab-box">
        <div class="tab-header">
            <div class="tab-item" [class]="{active: tabIndex() < 1}" (click)="tapTab(0)">
                安装模块
            </div>
            <div class="tab-item" [class]="{active: tabIndex() == 1}" (click)="tapTab(1)">
                卸载模块
            </div>
            <div class="tab-item" [class]="{active: tabIndex() == 2}" (click)="tapTab(2)">
                生成模块
            </div>
        </div>
        <div class="tab-body form-table-control">
            <div class="tab-item" [class]="{active: tabIndex() < 1}">
                <app-page-tip>
                    <ul>
                        <li>安装模块，模块内部是一个整体，包含控制器、模型、视图</li>
                        <li>安装模块的同时会自动创建必要的数据表、同时可能有相关填充数据</li>
                    </ul>
                </app-page-tip>
                <div class="panel-container">
                    <div class="input-group-control">
                        <label for="">路由</label>
                        <div>
                            <input type="text" class="form-control" [field]="installForm.name">
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="">命名空间</label>
                        <div>
                            <ng-select [field]="installForm.module" [items]="moduleItems" 
                            bindLabel="name" bindValue="value" (valueChange)="onModuleChange()" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for=""></label>
                        <div>
                            <app-switch [field]="installForm.hasTable">创建数据结构</app-switch>
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for=""></label>
                        <div>
                            <app-switch [field]="installForm.hasSeed">生成测试数据</app-switch>
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for=""></label>
                        <div>
                            <app-switch [field]="installForm.hasAssets">复制资源文件</app-switch>
                        </div>
                    </div>
                    <app-action-button class="btn btn-primary" (tapped)="tapInstall($event)">
                        安装
                    </app-action-button>
                </div>
            </div>
            <div class="tab-item" [class]="{active: tabIndex() == 1}">
                <app-page-tip>
                    <ul>
                        <li>卸载模块，同时会删除数据表</li>
                    </ul>
                </app-page-tip>
                <div class="panel-container">
                    <div class="input-group-control">
                        <label for="">路由</label>
                        <div>
                            <ng-select [field]="routeForm.name" [items]="routeItems" bindLabel="name" bindValue="name" />
                        </div>
                    </div>
                    <div class="btn btn-danger" (click)="tapUninstall()">卸载</div>
                </div>
            </div>
            <div class="tab-item" [class]="{active: tabIndex() == 2}">
                <app-page-tip>
                    <ul>
                        <li>生成模块代码，此功能需要一定的编写代码能力</li>
                    </ul>
                </app-page-tip>
                <div class="panel-container">
                    <div class="input-group-control">
                        <label for="">命名空间</label>
                        <div>
                            <input type="text" class="form-control" [field]="generateForm.module">
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="">数据表</label>
                        <div>
                            <ng-select [field]="generateForm.table" [items]="tableItems" bindLabel="name" bindValue="value" [multiple]="true" />
                        </div>
                    </div>
                    <div class="btn-group">
                        <div class="btn btn-info" (click)="tapGenerate(false)">生成</div>
                        <div class="btn btn-success" (click)="tapGenerate(true)">预览</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-dialog-box title="预览" [fullscreen]="true">
    @for (item of previewItems; track $index) {
    <div class="preview-item">
        <div class="item-path">{{ item.path }}</div>
        <div class="item-body">
            <pre><code>{{ item.content }}</code></pre>
        </div>
    </div>
    }
</app-dialog-box>