<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="menu-box">
                <div class="menu-group" *ngFor="let group of items">
                    <div class="menu-name">
                        {{ group.name }}
                    </div>
                    <ul>
                        <ng-container *ngFor="let item of group.children">
                            <li [ngClass]="{active: item.active}" (click)="tapNav(item)">
                                <a [routerLink]="item.url">{{ item.name }}</a>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>