.top-bar {
    display: flex;
    justify-content: space-between;
    height: 1.5em;
    font-size: .8em;
    align-items: center;
    padding: 0 .3em;
    color: #fff;
}

.title-bar {
    text-align: center;
    height: 2.75em;
    align-items: center;
    font-size: .9em;
    line-height: 2.75em;
    position: relative;
    .pull-right {
        position: absolute;
        right: .8em;
        top: .375em;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        line-height: 2em;
        &:hover {
            border: 1px solid;
        }
    } 
}