@if (visible) {
<div class="dialog-mask" ></div>
}
@if (visible) {
<div class="search-dialog-container" >
    <div class="search-bar">
        <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
            <div class="flat-input">
                <input type="text" class="form-control" name="keywords" [ngModel]="queries.keywords" id="keywords" i18n-placeholder placeholder="Please input a keyword">
                <select name="category" class="form-control" [ngModel]="queries.category" class="form-control">
                    <option [value]="0" i18n>Select...</option>
                    @for (item of categories; track $index) {
                    <option [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
                    }
                </select>
                <select name="type" class="form-control" [ngModel]="queries.type" class="form-control">
                    @for (item of typeItems; track $index) {
                    <option [value]="item.value">{{ item.name }}</option>
                    }
                </select>
                <button type="submit" class="btn btn-primary" i18n>Search</button>
                <a class="btn" [ngClass]="{'btn-info': !onlySelected, 'btn-success': onlySelected}" (click)="tapToggleOnly()" i18n>Only selected({{ selectedCount }})</a>
                <div class="btn btn-danger" (click)="close()">
                    <i class="iconfont icon-close"></i>
                </div>
            </div>
        </form>
    </div>
    <div class="body-container">
        @for (item of formatItems; track $index) {
            <div class="option-item" [ngClass]="{selected: isSelected(item)}" (click)="tapSelected(item)">
                <div class="thumb">
                    <img [src]="item.thumb | asset">
                </div>
                <div class="name">{{ item.name }}</div>
                <div class="price">{{ item.price }}</div>
            </div>
        }
    </div>
    <div class="footer-container">
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
        <div class="btn-group">
            <div class="btn btn-primary" (click)="tapYes()" i18n>Confirm</div>
            <div class="btn btn-danger" (click)="tapCancel()" i18n>Reset</div>
        </div>
    </div>
</div>
}