<div class="container-fluid">
  <app-page-tip>
      <ul>
          <li>这是所有的应用列表</li>
      </ul>
  </app-page-tip>
  <div class="panel-container">
      <div class="page-search-bar">
          <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
              <div class="input-group-control">
                  <label for="keywords">应用</label>
                  <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="搜索应用">
              </div>
              <button type="submit" class="btn btn-primary">搜索</button>
              @if (!reviewable) {
              <a routerLink="./create" class="pull-right btn btn-primary">新增应用</a>
              }
          </form>
      </div>
      <table class="table table-hover">
          <thead>
          <tr>
              <th>ID</th>
              <th>应用名</th>
              <th>APP ID</th>
              <th>状态</th>
              <th>时间</th>
              <th>操作</th>
          </tr>
          </thead>
          <tbody>
              @for (item of items; track $index) {
                <tr>
                  <td>{{ item.id }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.appid }}</td>
                  <td>{{ formatStatus(item.status) }}</td>
                  <td>{{ item.created_at }}</td>
                  <td>
                    <div class="btn-group">
                      <a class="btn btn-info"
                                [routerLink]="['./edit', item.id]">编辑</a>
                        <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                    </div>
                  </td>
              </tr>
              }
          </tbody>
      
      </table>
      <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
      <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()" />    
  </div>
</div>

