<app-edit-header [title]="data && data.id > 0 ? '编辑品牌' : '新增品牌'" (submited)="tapSubmit()" [disabled]="form.invalid"></app-edit-header>
<div class="container-fluid">
    <form class="form-table panel-container" [formGroup]="form" (ngSubmit)="tapSubmit()">
        <div class="input-group">
            <label for="name">名称</label>
            <div class="">
                <input type="text" id="name" class="form-control" formControlName="name">
                <div class="input-tip" *ngIf="form.get('name').invalid">请输入名称</div>
            </div>
        </div>
        <div class="input-group">
            <label for="logo">Logo</label>
            <div class="file-input">
                <input type="text" id="logo" class="form-control" formControlName="logo">
                <label for="fileUpload" class="btn btn-primary">上传</label>
                <button type="button" class="btn btn-info" (click)="tapPreview('logo')">预览</button>
                <input type="file" name="file" id="fileUpload" (change)="uploadFile($event, 'logo')" accept="image/*"/>
            </div>
        </div>
        <div class="input-group">
            <label for="app_logo">APP Logo</label>
            <div class="file-input">
                <input type="text" id="app_logo" class="form-control" formControlName="app_logo">
                <label for="fileUpload2" class="btn btn-primary">上传</label>
                <button type="button" class="btn btn-info" (click)="tapPreview('app_logo')">预览</button>
                <input type="file" name="file" id="fileUpload2" (change)="uploadFile($event, 'app_logo')" accept="image/*"/>
            </div>
        </div>
        <div class="input-group">
            <label for="keywords">关键字</label>
            <div class="">
                <input type="text" id="keywords" class="form-control" formControlName="keywords">

            </div>
        </div>
        <div class="input-group">
            <label for="description">简介</label>
            <div class="">
                <textarea id="description" class="form-control" formControlName="description"></textarea>
            </div>
        </div> <button type="submit" class="btn btn-success">确认保存</button>
        <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
    </form>
</div>