<app-edit-header [title]="data && data.id > 0 ? '编辑砍价' : '新增砍价'" (submited)="tapSubmit()" [disabled]="form.invalid" />
<div class="container-fluid">
    <form class="form-table-control panel-container" [formGroup]="form" (ngSubmit)="tapSubmit()">
        <div class="input-group-control">
            <label for="name">名称</label>
            <div>
                <input type="text" id="name" class="form-control" formControlName="name">

            </div>
        </div>
        <div class="input-group-control">
            <label for="thumb">图片</label>
            <div>
                <app-file-input formControlName="thumb" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="description">说明</label>
            <div>
                <textarea id="description" class="form-control" formControlName="description"></textarea>

            </div>
        </div>
        <div class="input-group-control">
            <label for="scope">商品</label>
            <div>
                <app-select-input url="shop/admin/goods/search" formControlName="scope" />

            </div>
        </div>
        <div formGroupName="configure">
            <div class="input-group-control">
                <label for="start_at">单次砍价范围</label>
                <div>
                    <input type="text" id="min" class="form-control" formControlName="min" placeholder="请输入最低砍价">
                    ~
                    <input type="text" id="max" class="form-control" formControlName="max" placeholder="请输入最高砍价">
                </div>
            </div>
    
            <div class="input-group-control">
                <label for="configure_times">砍价次数</label>
                <div>
                    <input type="text" id="configure_times" class="form-control" formControlName="times"
                        placeholder="请输入 砍价次数">
    
                </div>
            </div>
            <div class="input-group-control">
                <label for="configure_amount">商品件数</label>
                <div>
                    <input type="text" id="configure_amount" class="form-control" formControlName="amount"
                        placeholder="请输入 商品件数">
    
                </div>
            </div>
            <div class="input-group-control">
                <label for="configure_shipping_fee">运费</label>
                <div>
                    <input type="text" id="configure_shipping_fee" class="form-control" formControlName="shipping_fee"
                        placeholder="请输入 运费">
    
                </div>
            </div>
        </div>
        <div class="input-group-control">
            <label for="start_at">起止时间</label>
            <div>
                <app-date-input formControlName="start_at" placeholder="请输入开始时间" />
                ~
                <app-date-input formControlName="end_at" placeholder="请输入结束时间" />
            </div>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-success">确认保存</button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>