<div class="soul-main">
    <div class="tab-box">
        <div class="tab-header">
            <div class="tab-item" [ngClass]="{active: tabIndex < 1}" (click)="tabIndex = 0">页面</div>
            <div class="tab-item" [ngClass]="{active: tabIndex == 1}" (click)="tabIndex = 1">图层</div>
        </div>
        <div class="tab-body">
            <div class="tab-item" [ngClass]="{active: tabIndex < 1}">
                <div class="row">
                    <div class="col-6">
                        <div class="add-btn" (click)="tapNewCatalog(false)">
                            <i class="iconfont icon-plus"></i>
                            <span>新页面</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="add-btn" (click)="tapNewCatalog(true)">
                            <i class="iconfont icon-plus"></i>
                            <span>新分组</span>
                        </div>
                    </div>
                </div>
                <div class="catalog-box">
                    <app-catalog-list [items]="catalogItems" (tapped)="onCatalogTap($event)"></app-catalog-list>
                </div>
            </div>
            <div class="tab-item" [ngClass]="{active: tabIndex == 1}">
                <div class="catalog-box">
                    <app-catalog-list [items]="weightItems"></app-catalog-list>
                </div>
            </div>
        </div>
    </div>
</div>

<app-dialog-box #catalogModal>
    <div class="form-group">
        <label for="catalog-name">名称</label>
        <input type="text" class="form-control" [(ngModel)]="editData.name" id="catalog-name" placeholder="请输入名称">
    </div>
</app-dialog-box>

<app-context-menu></app-context-menu>