@if (dropVisible) {
<div class="tablet-mask tablet-visible" (click)="dropVisible = false"></div>
}
<div class="command-bar" [class]="{'--with-open': dropVisible, 'command-flow-left': flowLeft()}">
    <ul class="command-primary-bar">
        @for (item of inlineItems; track $index) {
        <li [class]="item.color" (click)="tapItem(item)" [title]="item.name">
            <i class="iconfont btn-icon" [class]="item.icon"></i>
            <span class="btn-label">{{ item.name }}</span>
        </li>
        }
        
    </ul>

    
    @if (dropItems.length > 0) {
    <div class="command-control-icon" (click)="dropVisible = !dropVisible">
        <i class="iconfont icon-ellipsis-v"></i>
    </div>
    <ul class="command-secondary-bar">
        @for (item of dropItems; track $index) {
        <li [class]="item.color" (click)="tapItem(item)">
            <i class="iconfont btn-icon" [class]="item.icon"></i>
            <span class="btn-label">{{ item.name }}</span>
        </li>
        }
        
    </ul>
    }

</div>
