<div class="command-bar" [ngClass]="{open: dropVisible, 'command-flow-left': flowLeft}">
    <ul class="command-primary-bar">
        <li *ngFor="let item of inlineItems" [ngClass]="item.color" (click)="tapItem(item)">
            <i class="iconfont btn-icon" [ngClass]="item.icon"></i>
            <span class="btn-label">{{ item.name }}</span>
        </li>
    </ul>
    <div class="command-control-icon" *ngIf="dropItems.length > 0" (click)="dropVisible = !dropVisible">
        <i class="iconfont icon-ellipsis-v"></i>
    </div>
    <ul class="command-secondary-bar" *ngIf="dropItems.length > 0">
        <li *ngFor="let item of dropItems" [ngClass]="item.color" (click)="tapItem(item)">
            <i class="iconfont btn-icon" [ngClass]="item.icon"></i>
            <span class="btn-label">{{ item.name }}</span>
        </li>
    </ul>
</div>