@use '../../../../../theme/theme';
@use "../form";

:host {
    display: block;
    &:not(:last-of-type) {
        border-bottom: 1px solid var(--#{theme.$prefix}primary);
    }
}

.comment-item {
    padding: 0.5rem 0;
    position: relative;
    .item-header {
        line-height: 1.875rem;
        border: none;
        .user {
            font-weight: 600;
        }
        .time {
            font-size: .8rem;
            margin-left: 1.25rem;
            color: var(--#{theme.$prefix}meta-text);
        }
        .floor {
            font-size: .8rem;
            float: right;
        }
    }
    .item-body {
        margin-bottom: 0;
        .content {
            margin: 5px 0;
        }
        .expand-icon {
            font-size: 0.75rem;
            cursor: pointer;
            color: var(--#{theme.$prefix}primary);
        }
        .comment-icon,
        .report-icon {
            float: right;
            margin-left: 1.25rem;
        }
    }
    .item-action-bar {
        float: right;
        span {
            padding: 0 3px;
        }
    }
    .item-children {
        margin-left: 6.25rem;
        margin-top: 0.5rem;
        background-color: var(--#{theme.$prefix}body);
        // border-top: 1px solid #a10000;
        .comment-item {
            padding: 0.5rem;
        }
        .comment-item:last-child {
            border: none;
            padding-bottom: 0;
        }
    }
    &:not(:last-of-type) {
        border-bottom: 1px solid var(--#{theme.$prefix}primary);
    }
}

