<div class="container">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/" class="iconfont icon-home"></a>
        </li><li class="breadcrumb-item active" i18n>
            Home
        </li>
    </ul>
  </div>
  
  <div class="container">
    @for (group of items(); track $index) {
    <div class="catalog-panel">
        <div class="panel-header">
            <a routerLink="{{ group.id }}">{{ group.name }}</a>
        </div>
        <div class="panel-body">
            <div class="row">
                @for (item of group.children; track $index) {
                    <div class="col-md-4 col-sm-6">
                        <div class="catalog-item">
                            <div class="cover">
                                <img [src]="item.thumb" alt="">
                            </div>
                            <div class="item-body">
                                <div class="name">
                                    <a routerLink="{{ item.id }}">{{ item.name }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    }
  </div>