:host {
    display: inline-flex;
    vertical-align: top;
    .form-control {
        display: inline-block;
        width: auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    } 
}