ul,
li {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
}
.book-sidebar {
    position: absolute;
    width: 12.5rem;
    right: 0;
    top: 3.125rem;
    a {
        color: #333;
        text-decoration: none;
        cursor: pointer;
    }
    .book-chapter,
    .book-new {
        li {
            // background: #fff;
            list-style: none;
            // width: 150px;
            line-height: 1.875rem;
            padding-left: 1.25rem;
            box-sizing: border-box;
            .iconfont {
                margin-right: 0.3125rem;
            }
            .count {
                position: absolute;
                color: #fff;
                background-color: #a10000;
                border-radius: 50%;
                display: inline-block;
                width: 1.5625rem;
                height: 1.5625rem;
                line-height: 1.5625rem;
                text-align: center;
                left: 0.6875rem;
                margin-top: 0.125rem;
                font-size: 0.625rem;
                overflow: hidden;
            }
            &.active {
                background: #a10000;
                color: #fff;
                // width: 200px;
                &:hover {
                    // width: 200px;
                }
                a {
                    color: #fff;
                }
                .count {
                    color: #a10000; 
                    background-color: #fff;
                    left: auto;
                    right: 0;
                }
            }
            &:hover {
                // width: 175px;
                a {
                    color: #339cff;
                }
            }
            &:not(:last-child) {
                border-bottom: 1px solid #a10000;
            }
        }
    }
    .book-new {
        margin-top: 3.125rem;
        h3 {
            padding-left: 0.625rem;
        }
        li {
            width: 100%;
            padding: 0.1875rem 0 0.1875rem 1.25rem;
            line-height: 1.25rem;
            a {
                font-size: 0.875rem;
            }
        }
    }
}
.book-header {
    font-size: 1rem;
    line-height: 2.5rem;
    border-bottom: 1px solid #eee;
    color: #484848;
    font-weight: 400;
    margin-bottom: 0.625rem;
}
.book-term {
    margin-bottom: 1.25rem;
    .term-info {
        position: relative;
        min-height: 3.125rem;
        img {
            width: 100%;
        }
        h3 {
            position: absolute;
            bottom: 0;
            line-height: 50px;
            display: block;
            background: rgba(0, 0, 0, 0.6);
            width: 100%;
            color: #fff;
            padding: 0 0.625rem;
            box-sizing: border-box;
            margin-bottom: 0;
        }
    }
}

.book-item {
    display: flex;
    margin: 0 -0.9375rem;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    transition: box-shadow 1s;
    .icon-lock {
        color: #a10000;
    }
    .item-body {
        padding: 0.9375rem 1.25rem 0.3125rem;
        flex: 1;
        margin: 0;
    }
    .item-cover {
        width: 10em;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 100%;
            max-height: 100%;
        }        
    }
    .book-time {
        float: right;
        text-align: right;
    }
    a {
        text-decoration: none;
        color: #333;
    }
    dt {
        font-size: 1.25rem;
        font-weight: 600;
        
    }
    dd {
        //display: none;
    }
    p {
        margin: 0.3125rem 0;
        min-height: 2.5rem;
    }
    .author,
    .comment,
    .category,
    .language {
        margin-right: 1.25rem;
    }
    .agree,
    .disagree {
        float: right;
        margin-left: 0.625rem;
    }
    &:hover,
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
        dd {
            display: block;
        }
    }
    &:hover {
        box-shadow: rgba(51,51,51,.7) 0 0 10px;
    }
    &:not(:last-child) {
        border-bottom: 1px solid #a10000;
    }
    &.fade-pre-item {
        visibility: hidden;
    }
    &.fade-item {
        animation-name: fadeInLeft;
        background: #fff;
        border-bottom: none;
        visibility: visible;
    }
}

.book-footer {
    margin-top: -3.125rem;
}

@media screen and (max-width: 769px) {
    .book-body {
        margin-right: 0 !important;
    }
    .book-item {
        margin: 0 -0.5rem;
        .item-body {
            padding: 0.9375rem 0.8125rem 0.3125rem;
        }
        .item-cover {
            width: 7em;
        }
        dd {
            display: block;
        }
        .comment,
        .agree,
        .disagree {
            margin-right: .8rem;
        }
        .agree {
            float: none;
            margin-left: 0;
        }
        .author,
        .category,
        .comment,
        .agree,
        .disagree,
        .click {
            font-size: 0.75rem;
        }
        .agree,
        .disagree {
            margin-top: 0.1875rem;
        }
        .book-time {
            font-size: 0.75rem;
            width: 4.375rem;
        }
    }
    .book-sidebar {
        position: static;
        width: auto;
        .book-chapter {
            position: static;
            margin-bottom: 1.875rem;
            li {
                width: 100%;
                .count {
                    left: 1.5625rem;
                }
                &.active {
                    width: 100%;
                    background: #a10000;
                    color: #fff;
                    &:hover {
                        width: 100%;
                    }
                    a {
                        color: #fff;
                    }
                }
                &:hover {
                    width: 100%;
                    background: #cc2525;
                    color: #fff;
                    a {
                        color: #fff;
                    }
                }
            }
            
        }
        .book-dynamic,
        .book-new,
        .book-side-nav {
            display: none;
        }
    }
}