@use '../../../../theme/theme';

ul,
li {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
}







.book-sidebar {
    a {
        color: var(--#{theme.$prefix}body-text);
        text-decoration: none;
        cursor: pointer;
    }
    
}

.book-chapter,
.book-new {
    li {
        // background: #fff;
        list-style: none;
        // width: 150px;
        line-height: 1.875rem;
        padding-left: 1.25rem;
        box-sizing: border-box;
        .iconfont {
            margin-right: 0.3125rem;
        }
        .count {
            position: absolute;
            color: var(--#{theme.$prefix}primary-text);
            background-color: var(--#{theme.$prefix}primary);
            border-radius: 50%;
            display: inline-block;
            width: 1.5625rem;
            height: 1.5625rem;
            line-height: 1.5625rem;
            text-align: center;
            left: 0.6875rem;
            margin-top: 0.125rem;
            font-size: 0.625rem;
            overflow: hidden;
        }
        &.active {
            color: var(--#{theme.$prefix}primary-text);
            background-color: var(--#{theme.$prefix}primary);
            // width: 200px;
            &:hover {
                // width: 200px;
                a {
                    color: var(--#{theme.$prefix}body-text);
                }
            }
            a {
                color: var(--#{theme.$prefix}primary-text);
            }
            .count {
                color: var(--#{theme.$prefix}primary);
                background-color: var(--#{theme.$prefix}primary-text);
                left: auto;
                right: 0;
            }
        }
        &:hover {
            // width: 175px;
            a {
                color: var(--#{theme.$prefix}primary);
            }
        }
        
    }
}

.book-chapter {
    margin-bottom: 1.875rem;
    li {
        display: inline-block;
        .count,
        .iconfont {
            display: none;
        }
    }
}

.book-new {
    display: none;
    margin-top: 3.125rem;
    h3 {
        padding-left: 0.625rem;
    }
    li {
        width: 100%;
        padding: 0.1875rem 0 0.1875rem 1.25rem;
        line-height: 1.25rem;
        a {
            font-size: 0.875rem;
        }
    }
}
.book-header {
    font-size: 1rem;
    line-height: 2.5rem;
    border-bottom: 1px solid #eee;
    color: #484848;
    font-weight: 400;
    margin-bottom: 0.625rem;
}
.book-term {
    margin-bottom: 1.25rem;
    .term-info {
        position: relative;
        min-height: 3.125rem;
        img {
            width: 100%;
        }
        h3 {
            position: absolute;
            bottom: 0;
            line-height: 50px;
            display: block;
            background: rgba(0, 0, 0, 0.6);
            width: 100%;
            color: #fff;
            padding: 0 0.625rem;
            box-sizing: border-box;
            margin-bottom: 0;
        }
    }
}



.book-footer {
    margin-top: -3.125rem;
}





.book-dynamic {
    display: none;
    p {
        margin: 0;
    }
    dt {
        font-weight: 500;
        font-size: .8rem;
        border-bottom: 1px dotted var(--#{theme.$prefix}border);
    }
    .book-time {
        font-size: .8rem;
        color: var(--#{theme.$prefix}meta-text);
        user-select: none;
    }
    dl {
        &:not(:last-child) {
            border-bottom: 1px solid var(--#{theme.$prefix}border);
        }
        &:hover {
            background-color: var(--#{theme.$prefix}panel);
        }
    }
}

@media (min-width: 48rem) {
    .book-dynamic,
    .book-new {
        display: block;
    }
    .book-sidebar {
        position: absolute;
        width: 12.5rem;
        right: 0;
        top: 3.125rem;
    }
    .book-chapter,
    .book-new {
        margin-bottom: 0;
        li {
            display: block;
            width: 100%;
             .count,
            .iconfont {
                display: inline-block;
            }
            .count {
               left: 0.6875rem;
            }
            &:not(:last-child) {
                border-bottom: 1px solid var(--#{theme.$prefix}primary);
            }
        }
    }
}