<div class="container">
        <div class="book-sidebar">
            <div class="book-chapter">
                <ul>
                    @for (item of categories; track $index) {
                        <li [ngClass]="{active: queries.category == item.id}" (click)="tapCategory(item)">
                            <i class="iconfont icon-bookmark"></i><a>{{ item.name }}</a>
                            @if (item.blog_count > 0) {
                                <span class="count">{{ item.blog_count > 99 ? '99+' : item.blog_count }}</span>
                            }
                        </li>
                    }
                </ul>
            </div>
            @if (newItems.length > 0) {
            <div class="book-new">
                <h3 i18n>Latest Blog</h3>
                <ul>
                    @for (item of newItems; track $index) {
                    <li>
                        <i class="iconfont icon-bookmark"></i><a [routerLink]="item.id + ''">{{ item.title }}</a></li>
                    <li>
                    }
                    
                </ul>
            </div>
            }
            @if (commentItems.length > 0) {
            <div class="book-dynamic">
                <h3 i18n>Latest Comment</h3>
                @for (item of commentItems; track $index) {
                <dl>
                    <dt><a [routerLink]="item.blog_id + ''">{{ item.name }}</a> 
                        <ng-container i18n> commented </ng-container>
                        《<a [routerLink]="item.blog_id + ''">{{ item.blog.title }}</a>》</dt>
                    <dd>
                        <p>{{ item.content }}</p>
                        <span class="book-time">{{ item.created_at|ago }}</span>
                    </dd>
                </dl>
                }
                
            </div>
            }
            
        </div>
        <div class="panel-sort-container --width-sidebar">
            <div class="panel-sort-bar">
                <a routerLink="./tag" i18n>Tags</a>
                <a routerLink="./archives" i18n>Archives</a>
                @for (item of sortItems; track $index) {
                    <a [ngClass]="{active: item.value == queries.sort}" (click)="tapSort(item)">{{ item.name }}</a>
                }
            </div>
            @if (!category && header) {
                <h2 class="book-header">{{ header }}</h2>
            }
            @if (category) {
            <div class="book-term">
                <div class="term-info">
                    <img [src]="category.thumb" [alt]="category.name">
                    <h3>{{ category.name }}</h3>
                </div>
                <div class="term-desc">{{ category.description }}</div>
            </div>
            }
            
            <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
            @for (item of items; track $index) {
                <div class="article-panel-item" [ngClass]="{'--with-cover': listView == 1, '--with-right-cover': listView == 2}">
                <div class="item-cover">
                    <img [src]="item.thumb">
                </div>
                <dl class="item-panel-body">
                    <dt class="item-title">
                        <a [routerLink]="[item.id]" [title]="item.title">
                            @if (item.open_type > 0) {
                                <i class="iconfont icon-lock" i18n-title title="Reading needs to meet the conditions"></i>
                            }
                            {{ item.title }}
                        </a>
                    </dt>
                    <dd>
                        <p class="item-body">{{ item.description }}</p>
                        <div class="item-footer item-flex-footer">
                            <div>
                                <span class="item-time">{{ item.created_at | ago }}</span>
                                @if (item.user) {
                                    <a class="item-tag-block --with-tag-icon" (click)="tapUser(item.user)"><i
                                    class="iconfont icon-edit"></i><b>{{ item.user.name }}</b></a>
                                }
                                @if (item.term) {
                                    <a class="item-tag-block --with-tag-icon" (click)="tapCategory(item.term)"><i
                                        class="iconfont icon-bookmark"></i><b>{{ item.term.name }}</b></a>
                                }
                                @if (item.programming_language) {
                                    <a class="item-tag-block --with-tag-icon"
                                    (click)="tapLanguage(item.programming_language)"><i
                                        class="iconfont icon-code"></i><b>{{ item.programming_language }}</b></a>
                                }
                                
                            </div>
                            <div>
                                <span class="item-tag-block --with-tag-icon"><i class="iconfont icon-comments"></i><b>{{ item.comment_count }}</b></span>
                                <span class="item-tag-block --with-tag-icon"><i class="iconfont icon-thumbs-up"></i><b>{{ item.recommend_count }}</b></span>
                                <span class="item-tag-block --with-tag-icon"><i class="iconfont icon-eye"></i><b>{{ item.click_count }}</b></span>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
            }
            
        </div>
        <div class="book-footer mb-30">
            <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()" />
        </div>
</div>