<div class="enemy-item">
    <div class="item-avatar">
        <img [src]="" alt="">
    </div>
    <div class="item-body">
        <div class="item-name">怪(57级 精英)</div>
        <div class="item-meta">
            <p>血量:5666/6000</p>
            <p>攻击:5666</p>
            <p>防御:5666</p>
        </div>
    </div>
</div>
<div class="battle-bar">
    <a href="">攻击</a>
    <a href="">技能</a>
    <a href="">逃跑</a>
</div>
<div class="battle-playback">
    <p>[第二回合]你使用技能【大招】击中敌人，对敌人造成600点血伤害</p>
    <p>[第一回合]你被击中，损失700点血</p>
    <p>你攻击了</p>
</div>