.enemy-item {
    display: flex;
    align-items: center;
    .item-avatar {
        width: 4rem;
        height: 4rem;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .item-body {
        flex: 1;
        padding: 0 .4rem;
    }
    .item-name {
        font-weight: bold;
        padding: .4rem 0;
    }
    p {
        margin: 0;
    }
}
.battle-bar {
    margin: 1rem 0;
    a {
        display: inline-block;
        &:not(:last-of-type) {
            margin-right: .8rem;
        }
    }
}
.vs-bar {
    display: flex;
    justify-content: space-between;
}