@use '../../../theme/theme';
.file-input {
    --#{theme.$prefix}control-width: auto;
    .form-control {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        display: inline-block;
        width: var(--#{theme.$prefix}control-width);
        // flex: 1;
    }
    input[type='file'] {
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .btn {
        vertical-align: top;
        border-radius: 0;
        word-break: keep-all;
        &:last-of-type {
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }
    }
    &.file-input-failure {
        .form-control {
            background-color: rgba($color: #ff0000, $alpha: .1);
        }
    }
}
