<div class="user-page">
    <div class="container side-box">
        <div>
            <app-user-menu currentUrl="member/profile" />
        </div>
        <div>
            <div class="header-tab">
                <a [class]="{active: tabIndex < 1}" (click)="tabIndex = 0">
                    基本
                </a>
                <a [class]="{active: tabIndex == 1}" (click)="tabIndex = 1">
                    隐私
                </a>
            </div>
            @if (user) {
            <div class="row" [hidden]="tabIndex == 1">
                <div class="col-md-4">
                    <h2>基本</h2>
                    <p>个人资料编辑</p>
                </div>
                <div class="col-md-8">
                    <div class="panel-container" [hidden]="tabIndex > 0">
                        <form class="form-table-control" (submit)="tapSubmit()">
                            <div class="input-group-control">
                                <label for="fileUpload">用户头像</label>
                                <div>
                                    <div class="avatar-input">
                                        <img [src]="user.avatar">
                                        <label class="iconfont icon-camera" for="fileUpload"></label>
                                        <input type="file" name="file" id="fileUpload" (change)="uploadFile($event)" accept="image/*"/>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group-control">
                                <label for="name">昵　　称</label>
                                <div>
                                    <input type="text" id="name" class="form-control " [field]="dataForm.name">
                                </div>
                            </div>
                            <div class="input-group-control">
                                <label for="email">邮　　箱</label>
                                <div>
                                    <input type="email" id="email" class="form-control" placeholder="请输入 邮箱" [value]="user?.email" (click)="tapStepEdit()" readonly>
                                </div>
                            </div>
                            <div class="input-group-control">
                                <label for="性　　别">性　　别</label>
                                <div>
                                    <app-check-input [items]="sexItems" rangeKey="value" rangeLabel="name" [field]="dataForm.sex" />
                                </div>
                            </div>
                            <div class="input-group-control">
                                <label for="mobile">手机号码</label>
                                <div>
                                    <input type="text" id="mobile" class="form-control" [value]="user?.mobile" (click)="tapStepEdit('mobile')" readonly>
                                </div>
                            </div>
                            <div class="input-group-control">
                                <label for="birthday">出生日期</label>
                                <div>
                                    <app-date-input [field]="dataForm.birthday" />
                                </div>
                            </div>
                            <div class="offset-md-3">
                                <button class="btn btn-primary">保存</button>
                            </div>
                        </form>
                    </div>

                    @if (tabIndex == 2) {
                        <app-bind-step [name]="stepData.name" [user]="user" />
                    }
                </div>
            </div>
            }
            <div class="row" [hidden]="tabIndex > 1">
                <div class="col-md-4">
                    <h2>隐私</h2>
                    <p>个人隐私设置</p>
                </div>
                <div class="col-md-8">
                    <div class="panel-container">
                        <div class="input-item">
                            <div class="item-icon">
                                <i class="iconfont icon-bookmark"></i>
                            </div>
                            <div class="item-body">
                                <div class="item-name">新消息通知</div>
                                <div class="item-meta">是否接收新的消息通知，包括关注、评论、&#64;等</div>
                            </div>
                            <div class="item-action">
                                <app-switch />
                            </div>
                        </div>
                        <div class="input-item">
                            <div class="item-icon">
                                <i class="iconfont icon-wifi"></i>
                            </div>
                            <div class="item-body">
                                <div class="item-name">勿扰模式</div>
                            </div>
                            <div class="item-action">
                                <app-switch />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
