<div class="search-floor">
    <a class="search-icon" routerLink="../../search">
        <i class="iconfont icon-search"></i>
    </a>
</div>
@for (cat of items; track $index) {
<div class="group-row">
    <div class="row-header">
        <div class="item-name">{{ cat.name }}</div>
        <ul class="item-more">
            @for (item of cat.recommend_items; track $index) {
            <li>
                <a  [routerLink]="[item.id]">{{ item.title }}</a>
            </li>
            }
        </ul>
    </div>
    <div class="row-body">
        @for (item of cat.new_items; track $index) {
            <a class="movie-item" [routerLink]="[item.id]">
                <div class="item-image">
                    <img [src]="item.cover | asset" alt="">
                </div>
                <div class="item-body">
                    <div class="item-name">{{ item.title }}</div>
                    <div class="item-leader">{{ item.leader }}</div>
                    <app-star></app-star>
                </div>
            </a>
        }
        
    </div>
    <a class="row-more" routerLink="../../search" [queryParams]="{category: cat.id}" >
        <div class="more-icon">
            <i class="iconfont icon-ellipsis"></i>
        </div>
        <div class="more-label">更多</div>
    </a>
</div>
}
