<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>Sitemap 主要用于搜索引擎检索站点</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <app-action-button class="btn btn-primary" (tapped)="tapMake($event)">生成SiteMap</app-action-button>

        <div class="cmd-box" #cmd>
            @for (item of items(); track $index) {
                <p class="cmd-line">
                <i class="iconfont" [class]="{'icon-check': true, 'icon-close': false}"></i>
                {{ item }}
            </p>
            }
        </div>
    </div>
</div>