@import '../../styles/scrollbar';

ul,
li {
    margin: 0;
    padding: 0;
}
.nav-bar {
    position: fixed;
    left: 0;
    width: 12.5rem;
    bottom: 0;
    background-color: #eee;
    top: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    .nav-toggle-icon {
        font-size: 1.875rem;
        padding: 0 0.625rem;
        display: inline-block;
        &:hover {
            background-color: #ccc;
        }
    }
    .bar-top {
        overflow-y: auto;
        flex: 1;
        @include scrollbar();
    }
    a {
        text-decoration: none;
        color: #333;
    }
    .bar-item {
        list-style: none;
        line-height: 2.5rem;
        text-align: center;
        font-size: 1rem;
        a {
            display: block;
            box-sizing: border-box;
            position: relative;
        }
        .iconfont {
            position: absolute;
            left: 0.625rem;
            top: 0;
            font-size: 1.875rem;
            display: block;
        }
        .bar-icon {
            display: none;
            font-size: 1rem;
        }
        &:hover {
            >a {
                background-color: #ccc;
            }
        }
        &.active {
            >a {
                &::before {
                    content: " ";
                    display: block;
                    position: absolute;
                    left: 0;
                    width: 0.3125rem;
                    height: 2.5rem;
                    background-color: red;
                }
            }
        }
        &.open {
            >.bar-children {
                display: block;
            }
        }
    }
    .search-input {
        position: relative;
        background-color: #fff;
        padding-right: 1.875rem;
        .iconfont {
            position: absolute;
            top: 0.5625rem;
            right: 0.625rem;
            color: #777;
        }
        input {
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            height: 2.5rem;
        }
    }
    .bar-children {
        box-shadow: inset 0 5px 5px -5px #000, inset 0 -5px 5px -5px #000;
        display: none;
    }
}

.page-body {
    margin-left: 12.5rem;
}

.nav-flow {
    .nav-bar {
        box-shadow: rgba(51,51,51,.7) 0 0 0.625rem;
    }
    .page-body {
        margin-left: 0;
    }
}

.nav-min {
    .nav-bar {
        width: 3.125rem;
        .bar-name {
            display: none;
        }
        .bar-item {
            .iconfont {
                position: static;
            }
            .bar-icon {
                display: inline-block;
            }
        }
        .search-input {
            background-color: transparent;
            padding-right: 0;
            text-align: center;
            .iconfont {
                position: static;
                font-size: 1.875rem;
                display: block;
                color: #333;
            }
            input {
                display: none;
            }
        }
    }
    .page-body {
        margin-left: 3.125rem;
    }
}

.nav-mini {
    .nav-bar {
        width: 3.125rem;
        bottom: auto;
        .bar-top,
        .bar-bottom {
            display: none;
        }
    }
    .page-body {
        margin-left: 0;
        margin-top: 3rem;
    }
}

.nav-hide {
    .nav-bar {
        display: none;
    }
    .page-body {
        margin-left: 0;
    }
}


@media (prefers-color-scheme: dark) {
    .nav-bar {
        background-color: #2e2e2e;
        color: #eee;
        .nav-toggle-icon {
            &:hover {
                background-color: #3b3b3b;
            }
        }
        a {
            color: #eee;
        }
        .bar-item {
            &:hover {
                >a {
                    background-color: #3b3b3b;
                }
            }
        }
        .search-input {
            background-color: #eee;
            .iconfont {
                color: #2b2b2b;
            }
        }
    }
    .nav-toggle {
        .nav-bar {
            .search-input {
                .iconfont {
                    color: #eee;
                }
            }
        }
    }
}