@use '../../../theme/theme';
.group-content {
    padding: 10px;
}

.classify-bar {
    padding: .8rem 0;
    .item {
        display: inline-block;
        margin-right: .3125rem;
        padding: .25rem .5rem .1875rem;
        // height: 18px;
        border: 1px solid var(--#{theme.$prefix}border);
        background-color: var(--#{theme.$prefix}panel);
        white-space: nowrap;
        cursor: pointer;
        &.active {
            padding-right: 12px;
            padding-left: 12px;
            border-color: var(--#{theme.$prefix}primary);
            background-color: var(--#{theme.$prefix}primary-text);
            color: var(--#{theme.$prefix}primary);
        }
    }
}
.split-line {
    height: 20px;
    background-color: var(--#{theme.$prefix}panel);
    border-bottom: 1px solid var(--#{theme.$prefix}border);
}
.thread-item-header {
    display: none;
    border-bottom: 1px solid var(--#{theme.$prefix}border);
    background-color: var(--#{theme.$prefix}panel);
    line-height: 1.875rem;
}

.new-post-bar {
    cursor: pointer;
    display: inline-block;
    line-height: 3rem;
    opacity: .4;
    width: 20rem;
    border-radius: 1.5rem;
    text-align: center;
    background-color: var(--#{theme.$prefix}info);
    color: var(--#{theme.$prefix}info-text);
    transition: all .3s;
    &:hover {
        opacity: 1;
        width: 100%;
        border-radius: .75rem;
    }
}

.sort-bar {
    display: inline-block;
    font-size: .8em;
    a {
        display: inline-block;
        padding: 0 .4em;
        color: var(--#{theme.$prefix}meta-text);
        cursor: pointer;
        &.active {
            color: var(--#{theme.$prefix}primary);
        }
    }
}

.thread-new-box {
    .header {
        line-height: 2.5rem;
        background-color: var(--#{theme.$prefix}panel);
        padding: 0 .625rem;
        .pull-right {
            float: right;
            text-decoration: none;
        }
    }
    .title {
    }
}


@media (min-width: 48rem) {
    .thread-item-header {
        display: flex;
        .item-body {
            flex: 1;
        }
        .item-count,
        .item-time {
            font-size: .75rem;
            text-align: center;
            display: inline-block;
            color: var(--#{theme.$prefix}meta-text);
        }
        .item-count {
            width: 4rem;
          
        }
        .item-time {
            width: 6rem;
        }
    }
}
