@if (forum()) {
<div class="container tablet-collapse">
    <app-search-bar [value]="queries.keywords().value()" [type]="queries.type().value()" (confirm)="tapSearch($event)" />
    <ul  class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/" class="iconfont icon-home"></a>
        </li><li class="breadcrumb-item">
            <a routerLink="../" i18n>Home</a>
        </li>
        @for (item of forum().path; track $index) {
        <li class="breadcrumb-item">
            <a [routerLink]="['../', item.id]">{{ item.name }}</a>
        </li>
        }
        <li class="breadcrumb-item active">{{ forum().name }}
        </li>
    </ul>
</div>
}

<div class="container">
    @if (forum()) {
    <div class="catalog-panel">
        <div class="panel-header">
            {{ forum().name }}
        </div>
        <div class="group-content">
            @if (forum().moderators && forum().moderators.length > 0) {
            <p class="moderator-line">
                <ng-container i18n>Moderators:</ng-container>
                @for (item of forum().moderators; track $index;let f = $first) {
                    @if (!f) {
                         ,
                    }
                    <a >{{ item.name }}</a>
                }
            </p>
            }

            <div>
                {{ forum().description }}
            </div>
        </div>
        @if (forum()?.children && forum().children.length > 0) {
        <div class="panel-body">
            <div class="row">
                @for (item of forum().children; track $index) {
                    <div class="col-md-4 col-sm-12">
                        <div class="catalog-item">
                            <div class="cover">
                                <img [src]="item.thumb" alt="">
                            </div>
                            <div class="item-body">
                                <div class="name">
                                    <a [routerLink]="['../', item.id]">{{ item.name }}</a>
                                    @if (item.today_count > 0) {
                                        ({{ item.today_count | numberFormat }})
                                    }
                                </div>
                                <div class="meta">
                                    <div class="count" i18n>Threads:{{ item.thread_count | numberFormat }}, Posts:{{ item.post_count | numberFormat }}</div>
                                </div>
                                @if (item.last_thread) {
                                <div class="last-thread">
                                    <a [routerLink]="['../thread', item.last_thread.id]">{{ item.last_thread.title }}</a>
                                    {{ item.last_thread.created_at | ago }} {{ item.last_thread.user.name }}
                                </div>
                                }

                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        }

    </div>
    }

    @if (forum()?.classifies && forum().classifies.length > 0) {
    <div class="classify-bar">
        <div class="item" [class.active]="0 === queries.classify().value()" (click)="tapClassify()" i18n>
            All
        </div>
        @for (item of forum().classifies; track $index) {
            <div class="item" [class.active]="item.id === queries.classify().value()" (click)="tapClassify(item)">
                {{ item.name }}
            </div>
        }
    </div>
    }


    <div class="thread-list">
        <div class="thread-item-header">
            <div class="item-body">
                <ng-container i18n>Topic</ng-container>
                <div class="sort-bar">
                    @for (item of sortItems; track $index) {
                        <a [class]="{active: item.value === sortKey()}" (click)="tapSort(item)">{{ item.name }}</a>
                    }
                </div>
            </div>
            <div class="item-count" i18n>
                Reply
            </div>
            <div class="item-count" i18n>
                View
            </div>
            <div class="item-time" i18n>
                Activity
            </div>
        </div>
        @if (forum()?.thread_top && forum().thread_top.length > 0) {
            @for (item of forum().thread_top; track $index) {
                <app-thread-list-item [value]="item" (classifyChanged)="tapClassify($event)" />
            }
            <div class="split-line"></div>
        }

        @if (unreadCount()) {
        <div class="align-center">
            <a class="new-post-bar">
                There are {{ unreadCount() | numberFormat}} new or updated topics
            </a>
        </div>
        }


        @for (item of items(); track $index) {
            <app-thread-list-item [value]="item" (classifyChanged)="tapClassify($event)" />
        }
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <div class="paging-box">
            <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
        </div>


    </div>
    @if (forum() && user()) {
    <div class="thread-new-box">
        <div class="header">
            <ng-container i18n>Quickly post</ng-container>


            <a class="pull-right" routerLink="create" i18n>Full mode&gt;</a>
        </div>
        <form (submit)="tapSubmit2($event)">
            <div class="title">
                @if (forum()?.classifies && forum().classifies.length > 0) {
                <select [field]="dataForm.classify" class="form-control">
                    <option value="0" i18n>Select classify</option>
                    @for (item of forum().classifies; track $index) {
                        <option [value]="item.id">{{ item.name }}</option>
                    }
                </select>
                }

                <input type="text" class="form-control" [field]="dataForm.title" i18n-placeholder placeholder="Please input title">
            </div>

            <app-forum-editor [field]="dataForm.content" i18n-placeholder placeholder="Please input content" />

            <div class="footer">
                <app-action-button class="btn btn-primary" (tapped)="tapSubmit($event)" [disabled]="dataForm().invalid()" i18n>Publish</app-action-button>
            </div>
        </form>
    </div>
    }

</div>
