<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>结构列表</li>
            <li>当前表：{{ schema }}.{{ table }}</li>
        </ul>
    </app-page-tip>

    <div class="panel-container">
        <app-editable-table [columnItems]="headerItems" [items]="items" [action]="actionTpl" [searchable]="false" [loading]="isLoading" />
    </div>
</div>
<ng-template #actionTpl let-name="name">
<div class="btn-group">
    <div class="btn btn-primary">修改</div>
    <div class="btn btn-danger" [attr.source]="name">删除</div>
</div>
</ng-template>
