@use '../../../theme/theme';
@use "../../../../bootstrap/loading/circleButton";

.edit-header {
    --#{theme.$prefix}control: var(--#{theme.$prefix}surface);
    --#{theme.$prefix}control-text: var(--#{theme.$prefix}surface-text);
    --#{theme.$prefix}control-hovered-text:  rgba(var(--#{theme.$prefix}primary-text-rgb), .6);
    --#{theme.$prefix}control-disabled-text: rgba(var(--#{theme.$prefix}primary-text-rgb), .2);
    background-color: var(--#{theme.$prefix}control);
    position: relative;
    padding: 0 0 1.25rem 0;
    margin-bottom: 1.25rem;
    .control-route-icon {
        color: var(--#{theme.$prefix}control-text);
        min-width: 2.5rem;
        line-height: 3rem;
        text-align: center;
        display: inline-block;
        padding: 0 .4rem;
    }
    .control-title {
        padding: 0 1.25rem 0;
        font-size: 1.875rem;
        color: var(--#{theme.$prefix}control-text);
    }
    .control-meta {
        padding-left: .8em;
    }
    .control-submit-btn {
        position: absolute;
        bottom: -1.25rem;
        right: 3.75rem;
        background-color: var(--#{theme.$prefix}control);
        color: var(--#{theme.$prefix}control-text);
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        z-index: 9;
        font-size: 1.875rem;
        box-shadow: 0 0 0.625rem rgba(var(--#{theme.$prefix}mask-rgb),.3);
        cursor: pointer;
        &:hover {
            color: var(--#{theme.$prefix}control-hovered-text);
        }
        &.btn-loading {
            cursor: not-allowed;
            color: var(--#{theme.$prefix}control-disabled-text);
            .loading-ring {
                display: block;
            }
        }
    }
    .btn-disabled {
        box-shadow: none;
        cursor: not-allowed;
        color: var(--#{theme.$prefix}control-disabled-text);
        &:hover {
            color: var(--#{theme.$prefix}control-disabled-text);
        }
    }
    @include circleButton.loadingRing();
    &.--with-min {
        padding: 0;
        .control-remark {
            display: none;
        }
        .control-title {
            line-height: 2.5rem;
            font-size: 1.25rem;
            padding-top: 0;
        }
    }
}

@media (min-width: 48rem) {
    .edit-header {
        --#{theme.$prefix}control: var(--#{theme.$prefix}panel);
        --#{theme.$prefix}control-text: var(--#{theme.$prefix}body-text);
        --#{theme.$prefix}control-hovered-text: var(--#{theme.$prefix}accent-text);
        --#{theme.$prefix}control-disabled-text: rgba(var(--#{theme.$prefix}body-text-rgb), .2);
        padding: 1.25rem 0;
        .control-route-icon {
            display: none;
        }
        .control-title {
            padding: 1.25rem 1.25rem 0;
        }
    }
}