<div class="edit-header" [class]="{'--with-min': min()}">
    <a class="control-route-icon" (click)="tapBack()">
        <i class="iconfont icon-chevron-left"></i>
    </a>

    <div class="control-title">{{ title() }}</div>

    <div class="control-meta">
        <ng-content />
    </div>

    <div class="control-submit-btn" [class]="{'btn-disabled': disabled(), 'btn-loading': loading()}" (click)="tapSubmit()">
        <i class="iconfont icon-check"></i>
        <div class="loading-ring">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>