@use "../../../../bootstrap/loading/circleButton";
// $primary: #05a6b1;
// $primaryText: white;
// $hoverText: red;
$primary: white;
$primaryText: #333;
$hoverText: red;

.edit-header {
    background-color: $primary;
    position: relative;
    padding: 1.25rem 0;
    margin-bottom: 1.25rem;
    .title {
        padding: 1.25rem 1.25rem 0;
        font-size: 1.875rem;
        color: $primaryText;
    }
    .remark {
        padding-left: .8em;
    }
    .submit-btn {
        position: absolute;
        bottom: -1.25rem;
        right: 3.75rem;
        background-color: $primary;
        color: $primaryText;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        z-index: 9;
        font-size: 1.875rem;
        box-shadow: rgba(51,51,51,.7) 0 0 0.625rem;
        cursor: pointer;
        &:hover {
            color: $hoverText;
        }
        &.btn-loading {
            cursor: not-allowed;
            color: rgba($color: $primaryText, $alpha: .1);
            .loading-ring {
                display: block;
            }
        }
    }
    .btn-disable {
        box-shadow: none;
        cursor: not-allowed;
        color: #ccc;
        &:hover {
            color: #ccc;
        }
    }
    @include circleButton.loadingRing();
    &.min {
        padding: 0;
        .remark {
            display: none;
        }
        .title {
            line-height: 2.5rem;
            font-size: 1.25rem;
            padding-top: 0;
        }
    }
}