<div class="row editor-panel">
    <div class="col-sm-4">
        @for (item of items; track $index; let i = $index) {
        <div class="line-item" [class]="{active: data && item === data}">
            <span (click)="tapEditItem(item)">{{ item.title }}</span>
            @if (i > 0) {
            <i class="iconfont icon-arrow-up" title="上移" (click)="tapMoveUp(i)"></i>
            }
            @if (i >= 0 && i < value.length - 1) {
            <i class="iconfont icon-arrow-down" title="下移"  (click)="tapMoveDown(i)"></i>
            }
        </div>
        }
        <i class="iconfont icon-plus" (click)="tapAddGroup()"></i>
    </div>
    <div class="col-sm-8">
        @if (data) {
        <div>
            <div class="group-header">
                <div class="form-group">
                    <label for="name">简称</label>
                    <i class="iconfont icon-close" (click)="tapRemoveGroup()" title="删除当前组"></i>
                    <input type="text" class="form-control" [field]="data.name" id="name" placeholder="例如：service">
                </div>
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" [field]="data.title" id="title" placeholder="例如：服务条款">
                </div>
            </div>
            <div class="form-group">
                <label>具体条款</label>
                <i class="iconfont icon-plus" title="添加条款" (click)="tapAddItem()"></i>
                <div class="scroll-box">
                    @for (item of data.children; track $index; let i = $index) {
                    <div class="mini-editor">
                        <div class="tool-bar">
                            <i title="加粗" [class]="{checked: item.b}" (click)="item.b = !item.b">b</i>
                            <i class="iconfont icon-close" (click)="tapRemoveItem(i)" title="删除"></i>
                        </div>
                        <textarea class="form-control" [field]="item.content"></textarea>
                    </div>
                    }
                </div>
                
            </div>
            
        </div>
        }
    </div>
</div>