@use '../../../theme/theme';
.--with-tool {
    position: relative;
    .tool-bar {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
        display: none;
        font-size: 1rem;
        background-color: rgba(var(--#{theme.$prefix}mask-rgb), .4);
        a {
            display: inline-block;
            padding: .375rem .75rem;
            color: var(--#{theme.$prefix}primary-text);
            &:hover {
                background-color: var(--#{theme.$prefix}primary);
                color: var(--#{theme.$prefix}primary-text);
            }
        }
    }
    &.is-mark {
        color: var(--#{theme.$prefix}danger);
    }
    &:hover {
        .tool-bar {
            display: flex;
        }
    }
}

.tool-icon {
    font-size: .6rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: .8rem;
    height: .8rem;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgba(var(--#{theme.$prefix}mask-rgb), .4);
    color: var(--#{theme.$prefix}primary-text);
    vertical-align: top;
    cursor: pointer;
    transition: all .5s;
    &:hover {
        width: 2rem;
        border-radius: .25rem;
        background-color: var(--#{theme.$prefix}primary);
        color: var(--#{theme.$prefix}primary-text);  
    }
}