<div class="editor-panel scroll-body" [hidden]="!visible()">
    <div class="panel-search-bar">
        <div class="search-input">
            <input type="text">
            <i class="iconfont icon-search"></i>
        </div>
        <div class="panel-tab-bar">
            @for (item of tabItems; track $index;let i = $index) {
                <a class="item" [ngClass]="{active: tabIndex == i}" (click)="tapTab(i)">{{ item }}</a>
            }
        </div>
    </div>
    <div class="panel-body">
        <div [hidden]="tabIndex > 0">
            @for (group of toolItems; track $index) {
                <div class="group-header">
                    {{ group.header }}
                </div>
                <div class="group-body">
                    @for (item of group.items; track $index) {
                    <div class="icon-option-item" (click)="tapTool(item)">
                        <div class="item-icon">
                            <i class="iconfont" [ngClass]="item.icon"></i>
                        </div>
                        <div class="item-name">{{ item.label }}</div>
                    </div>
                    }
                    
                </div>
            }
        </div>
        <div [hidden]="tabIndex < 1">
            @for (item of mediaGroupItems; track $index) {
            <div class="line-option-item" (click)="openMedia(item)">
                <div class="item-name">
                    {{ item.name }}
                </div>
                <div class="item-arrow">
                    <i class="iconfont icon-chevron-right"></i>
                </div>
            </div>
            }
            
        </div>
    </div>
    <div class="editor-panel-popup" [hidden]="!mediaOpen" appInfiniteScroll (scrollEnd)="tapMore()">
        <div class="search-input">
            <input type="text" [field]="mediaQueries.keywords">
            <i class="iconfont icon-search"></i>
        </div>
        @for (item of mediaItems; track $index) {
            <div class="image-option-item" [title]="item.title" (click)="tapMedia(item)">
                <img [src]="item.url | asset" [alt]="item.title">
            </div>
        }
    </div>
</div>