::ng-deep {
    .check-box {
        display: inline-block;
        &::before {
            content: '\e71e';
            font-family: 'iconfont';
        }
        &.checked {
            &::before {
                content: '\e646';
            }
        }
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}
