<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>地域分布</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">时间</label>
                    <input type="date" class="form-control" [field]="queries.start_at" id="start_at" placeholder="开始时间">
                    -
                    <input type="date" class="form-control" [field]="queries.end_at" id="end_at" placeholder="结束时间">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="tab-bar pull-right --with-gray">
                    @for (item of tabItems; track $index) {
                        <a class="item" [class]="{active: tabIndex == item.value}" (click)="tapTab(item.value)">{{ item.name }}</a>
                    }
                </div>
            </form>
        </div>
    </div>

    <div class="panel-container panel-full">
        <div class="tab-bar">
            @for (item of typeItems; track $index) {
                <a class="item" [class]="{active: queries.type == item.value}" (click)="tapType(item.value)">{{ item.name }}</a>
            }
        </div>
        @if (data) {
            <div class="counter-bar">
            <div class="item">
                <div class="item-label">浏览量(PV)</div>
                <div class="item-count">{{ data.pv | numberFormat }}</div>
            </div>
            <div class="item">
                <div class="item-label">访客数(UV)</div>
                <div class="item-count">{{ data.uv | numberFormat }}</div>
            </div>
            <div class="item">
                <div class="item-label">IP数</div>
                <div class="item-count">{{ data.ip_count | numberFormat }}</div>
            </div>
            <div class="item">
                <div class="item-label">跳出率</div>
                <div class="item-count">{{ data.jump_scale }}</div>
            </div>
            <div class="item">
                <div class="item-label">平均访问时长</div>
                <div class="item-count">{{ data.stay_time | hour }}</div>
            </div>
        </div>
        }
        
         <div appChart [options]="options" class="chart-lg"></div>

          <table class="table table-hover">
            <thead class="table-light">
              <tr>
                <td rowspan="2">
                    地域
                </td>
                <td colspan="3">
                    网站基础指标
                </td>
                <td colspan="2">
                    流量质量指标
                </td>
            </tr>
            <tr>
                <td>
                    浏览量(PV)
                </td>
                <td>
                    访客数(UV)
                </td>
                <td>
                    IP数
                </td>
                <td>
                    跳出率
                </td>
                <td>
                    平均访问时长
                </td>
            </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td>{{ item.country }}</td>
                    <td>{{ item.pv | numberFormat }}</td>
                    <td>{{ item.uv | numberFormat }}</td>
                    <td>{{ item.ip_count | numberFormat }}</td>
                    <td>{{ item.jump_count | numberFormat }}</td>
                    <td>{{ item.stay_time | hour}}</td>
                </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>
