<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>我分享的任务列表</li>
        </ul>
    </app-page-tip>

    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group">
                    <label for="keywords">标题</label>
                    <input type="text" class="form-control" name="keywords" id="keywords" placeholder="搜索标题"
                        [ngModel]="queries.keywords">
                </div>
                <div class="input-group">
                    <label>状态</label>
                    <select name="status" [ngModel]="queries.status" class="form-control">
                        <option [value]="0">请选择</option>
                        <ng-container *ngFor="let item of statusItems">
                            <option [value]="item.value">{{ item.name }}</option>
                        </ng-container>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    </div>

    <div class="task-item" *ngFor="let item of items" [ngClass]="{finished: item.task.status < 5}">
        <div class="name" (click)="tapView(item)">{{ item.task.name }}</div>
        <div class="desc">{{ item.task.description }}</div>
        <div class="time">{{ item.task.time_length | hour }}</div>
        <div class="action">
            <i class="iconfont icon-trash" (click)="tapRemove(item)" title="删除分享"></i>
        </div>
    </div>


    <div class="panel-container">
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination [total]="total" [(page)]="queries.page" (pageChange)="tapPage()" [perPage]="queries.per_page"></app-pagination>
    </div>
</div>