<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>统计</li>
        </ul>
    </app-page-tip>

    <div class="row">
        <div class="col-md-4">
            <div class="column-full-item">
                <div class="overlay" *ngIf="isLoading">
                    <i class="iconfont icon-refresh"></i>
                </div>
                <div class="inner">
                    <h3>{{ data.site_today || 0 | numberFormat }}/{{ data.site_count || 0 | numberFormat }}</h3>
                    <p>今日/总站点</p>
                </div>
                <div class="icon">
                    <i class="iconfont icon-folder-open-o"></i>
                </div>
                <a class="column-footer" routerLink="site">
                    查看更多
                    <i class="iconfont icon-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="column-full-item">
                <div class="overlay" *ngIf="isLoading">
                    <i class="iconfont icon-refresh"></i>
                </div>
                <div class="inner">
                    <h3>{{ data.page_today || 0 | numberFormat }}/{{ data.page_count || 0 | numberFormat }}</h3>
                    <p>今日/总收录页面</p>
                </div>
                <div class="icon">
                    <i class="iconfont icon-file-o"></i>
                </div>
                <a class="column-footer" routerLink="page">
                    查看更多
                    <i class="iconfont icon-arrow-right"></i>
                </a>
            </div>
        </div>
        
    </div>
</div>