<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>图文模板管理</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="关键词">
                </div>
                <div class="input-group-control">
                    <label>类型</label>
                    <select name="type" [field]="queries.type" class="form-control">
                        <option [value]="-1">全部</option>
                        @for (item of typeItems; track $index) {
                        <option [value]="item.value">{{ item.name }}</option>
                        }
                    </select>
                </div>
                <div class="input-group-control">
                    <label>分类</label>
                    <select name="category" [field]="queries.category" class="form-control">
                        <option [value]="0">全部</option>
                        @for (item of categoryItems; track $index) {
                        <option [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a (click)="open(modal)" class="btn btn-info">创建</a>
                    <a routerLink="category" class="btn btn-success">分类管理</a>
                </div>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>类型</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ formatType(item.type) }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-light btn-xs" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
        <app-pagination [total]="total" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
    </div>
</div>

<app-dialog-box #modal [title]="editForm.id().value() > 0 ? '编辑模板' : '新增模板'">
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="name">名称</label>
            <div>
                <input type="text" id="name" [field]="editForm.name" class="form-control">
            </div>
        </div>
        <div class="input-group-control">
            <label for="type">类型</label>
            <div>
                <select id="type" [field]="editForm.type" class="form-control">
                    @for (item of typeItems; track $index) {
                    <option [value]="item.value">{{ item.name }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="input-group-control">
            <label for="category">分类</label>
            <div>
                <select id="category" [field]="editForm.cat_id" class="form-control">
                    <option [value]="0">请选择</option>
                    @for (item of categoryItems; track $index) {
                    <option [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="input-group-control">
            <label for="content">内容
                <i class="iconfont" [class]="{'icon-eye-slash': previewData.toggle, 'icon-eye': !previewData.toggle}" (click)="tapPreview()"></i>
            </label>
            <div>
                @if (!previewData.toggle) {
                    <textarea id="content" class="form-control" [field]="editForm.content"></textarea>
                } @else {
                    <div class="rich_media_content" [innerHTML]="previewData.content">
                    </div>
                }
            </div>
        </div>
    </div>
</app-dialog-box>