.style-rich-media {
    * {
        max-width: 100%;
        box-sizing: border-box;
        word-wrap: break-word;
        list-style: revert;
    }
    p {
        clear: both;
        min-height: 1em;
        margin: 0;
        padding: 0;
    }
    em {
        font-style: italic;
    }
    fieldset {
        min-width: 0;
    }
    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    figure {
        text-align: center;
        border: solid 1px #ccc;
        border-radius: 2px;
        background: rgba(0, 0, 0, 0.05);
        padding: 10px;
        margin: 10px 20px;
        display: inline-block;
        &>figcaption {
            text-align: center;
            display: block;
        }
    }
    blockquote {
        margin: 0;
        padding-left: 10px;
        border-left: 3px solid #dbdbdb;
    }
    a {
        color: #607fa6;
        text-decoration: none;
    }
    img {
        height: auto;
        vertical-align: bottom;
        &:hover {
            z-index: -1;
            cursor: pointer;
        }
    }
    audio,
    iframe.qqmusic_iframe {
        width: 100%;
        background-color: #fff;
    }
    iframe {
        &.video_iframe {
            background-color: #000000;
            width: 100%;
            position: static;
        }
        &.qqmusic_iframe {
            margin: 10px 0;
        }
    }
}
