@if (attachmentType > 0 && attachmentType < 3) {
    <div class="attachment"  [class]="{'media-slider': open}">
        <i class="iconfont icon-close" (click)="open = false"></i>
        <div class="media-large">
            <img [src]="largeImage">
            <div class="media-prev" (click)="tapPrevious()"></div>
            <div class="media-next" (click)="tapNext()"></div>
        </div>
        <ul [class]="{'media-min': attachmentType == 2}">
            @for (it of items(); track $index;let i = $index) {
            <li (click)="tapAttachment(i)">
                <img [src]="it.thumb" alt="">
            </li>
            }
        </ul>
    </div>
}
@if (attachmentType == 3) {
    @for (item of items(); track $index) {
        <app-audio-player [src]="item.file" [cover]="item.thumb" />
    }
}
@if (attachmentType == 4) {
    @for (item of items(); track $index) {
        <app-video-player [src]="item.file" [cover]="item.thumb" />
    }
}
