::ng-deep {
    a {
        text-decoration: none;
    }
    .btn-primary {
        color: #fff;
        border-color:  #b4a078;
        background-color: #b4a078;
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active,
        &:hover {
            color: #fff;
            border-color:  #b4a078;
            background-color: #b4a078;
        }
    }
    .tab-box {
        .tab-header {
            background-color: #f5f5f5;
            border-right: 1px solid #e8e8e8;
            border-left: 1px solid #e8e8e8;
            .tab-item {
                width: 125px;
                height: 42px;
                border-top: none;
                border-bottom: none;
                border: 1px solid #e8e8e8;
                border-left: none;
                background-color: #f5f5f5;
                line-height: 40px;
                font-size: 14px;
                &.active {
                    border-top: 3px solid #b4a078;
                    background-color: #fff;
                    border-bottom: 1px solid #fff;
                    color: #b4a078;
                    height: 44px;
                    &:hover {
                        color: #b4a078;
                        background-color: #fff;
                    }
                }
                &:hover {
                    color: #b4a078;
                    background-color: #f5f5f5;
                }
            }
        }
    }
    .panel {
        border: 1px solid #e8e8e8;
        .panel-header {
            height: 44px;
            line-height: 44px;
            font-size: 17px;
            position: relative;
            background-color: #f5f5f5;
        }
        .panel-body {
        }
    }

    .menu-box {
        border: 1px solid #eaeaea;
        padding-top: 24px;
        width: 180px;
        background-color: white;
        ul, li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .menu-group {
            color: #333;
            margin-bottom: 40px;
            .menu-name {
                padding-left: 43px;
                font-size: 16px;
                color: #333;
                font-weight: 700;
                line-height: 20px;
                margin: 16px 0;
                &.active {
                    color: #b4a078;
                    border-left: 2px solid #BEA988;
                    border-right: 2px solid #BEA988;
                }
            }
            li {
                a {
                    font-size: 14px;
                    display: block;
                    padding-left: 41px;
                    border-left: 2px solid #fff;
                    border-right: 2px solid #fff;
                    line-height: 18px;
                    margin: 16px 0;  
                }
                &.active {
                    a {
                        color: #b4a078;
                        border-left-color: #BEA988;
                    }
                }
            }
        }
    }
    .radio-label {
        background-color: transparent;
        color: #333;
        border: 1px solid #333;
        min-width: 150px;
        line-height: 40px;
        display: inline-block;
        padding: 0 10px;
        &.checked {
            background-color: #3498db;
            color: #fff;
        }
    }
    @media (min-width: 768px) {
        .side-box {
            display: grid;
            grid-template-columns: 180px 1fr;
            grid-gap: 20px;
        }
    }

}