<app-edit-header [title]="'修改密码'" (submited)="tapSubmit($event)" [disabled]="dataForm().invalid()" />
<div class="container-fluid">
    <form class="form-table-control panel-container" (submit)="tapSubmit2($event)">
        <div class="input-group-control">
            <label for="old_password">原密码</label>
            <div>
                <input type="password" id="old_password" class="form-control" [formField]="dataForm.old_password" placeholder="输入原密码">
            </div>
        </div>
        <div class="input-group-control">
            <label for="password">新密码</label>
            <div>
                <input type="password" id="password" class="form-control" [formField]="dataForm.password" placeholder="输入新密码">
            </div>
        </div>
        <div class="input-group-control">
            <label for="confirm_password">确认密码</label>
            <div>
                <input type="password" id="confirm_password" class="form-control" [formField]="dataForm.confirm_password"
                    placeholder="确认密码">

            </div>
        </div>
        <div class="btn-group">
            <app-action-button class="btn btn-success" [disabled]="dataForm().invalid()" (tapped)="tapSubmit($event)">确认更改</app-action-button>
            <a class="btn btn-danger" (click)="tapBack()">取消修改</a>
        </div>

    </form>
</div>
