<div class="container-fluid">
    <div class="row">
        @for (item of categories; track $index) {
            <div class="col-md-4">
                <div class="cat-item" (click)="tapCategory(item)">
                    <div class="thumb">
                        <img [src]="item.thumb" alt="">
                    </div>
                    <div class="name">{{ item.name }}</div>
                    <div class="amount" i18n>{{ item.book_count }} books</div>
                </div>
            </div>
        }
    </div>
</div>