<div class="page-box" [ngClass]="{'detail-mode': detailMode}">
    <div class="master-box">
        <div class="filter-box">
            <div class="filter-item">
                <ul>
                    <ng-container *ngFor="let item of categories">
                        <li [ngClass]="{active: item.id == category}" (click)="tapCategory(item)">
                            {{ item.name }}
                        </li>
                    </ng-container>
                </ul>
            </div>
            <div class="filter-item">
                <ul>
                    <ng-container *ngFor="let item of sortItems">
                        <li [ngClass]="{active: item.value == sort}" (click)="tapSort(item)">
                            {{ item.name }}
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <app-pull-to-refresh class="items-box" (refreshChange)="tapRefresh()" (moreChange)="tapMore()" [more]="hasMore" [loading]="isLoading">
            <ng-container *ngFor="let item of items">
                <dl class="book-item" (click)="tapItem(item)">
                    <dt>
                        <a >{{ item.title }}</a>
                        <span class="book-time">{{ item.created_at }}</span></dt>
                        <dd>
                            <p>{{ item.description }}</p>
                            <a class="author" *ngIf="item.user" ><i class="iconfont icon-edit"></i><b>{{ item.user.name }}</b></a>
                            <a class="category" *ngIf="item.term" ><i
                                    class="iconfont icon-bookmark"></i><b>{{ item.term.name }}</b></a>
                            <a class="language" *ngIf="item.programming_language"><i
                                    class="iconfont icon-code"></i><b>{{ item.programming_language }}</b></a>
                            <span class="comment"><i class="iconfont icon-comments"></i><b>{{ item.comment_count }}</b></span>
                            <span class="agree"><i class="iconfont icon-thumbs-up"></i><b>{{ item.recommend }}</b></span>
                            <span class="click"><i class="iconfont icon-eye"></i><b>{{ item.click_count }}</b></span>
                    </dd>
                </dl>
            </ng-container>
        </app-pull-to-refresh>
    </div>
    <div class="detail-box">
        <ng-container *ngIf="!blog; else elseTemplate">
            <div class="detail-loading">

            </div>
        </ng-container>
        <ng-template #elseTemplate>
            <div class="title">
                <i class="iconfont icon-arrow-left" (click)="detailMode = false"></i>
                <span>{{ blog.title }}</span>
            </div>
            <div class="detail-body">
                <div class="info">
                    <a class="author" *ngIf="blog.user" (click)="tapUser(blog.user)"><i class="iconfont icon-edit"></i><b>{{ blog.user.name }}</b></a>
                    <a class="category" *ngIf="blog.term" (click)="tapCategory(blog.term)"><i class="iconfont icon-bookmark"></i><b>{{ blog.term.name }}</b></a>
                    <a class="language" *ngIf="blog.programming_language" (click)="tapLanguage(blog.programming_language)"><i
                            class="iconfont icon-code"></i><b>{{ blog.programming_language }}</b></a>
                    <span class="time"><i class="iconfont icon-calendar-check"></i><b>{{ blog.created_at }}</b></span>
                </div>
                <article id="content" class="content style-markdown">
                    <div [innerHTML]="content"></div>
                    <p class="book-copyright" *ngIf="blog.url">转载请保留原文链接：
                        <a [href]="blog.url" [title]="blog.title">{{ blog.url }}</a>
                    </p>
                  </article>
                  <div class="book-bottom">
                        <div class="book-source" *ngIf="blog.type == 1">
                            <span>转载于：</span>
                            <a [href]="blog.source_url"
                                target="_blank" title="本文为转载内容，点击查看原网页">
                                {{blog.source_url}} </a>
                        </div>
                        <div class="book-tags" *ngIf="blog.tags">
                            <span>标签：</span>
                            <ng-container *ngFor="let tag of blog.tags">
                              <a (click)="tapTag(tag.name)">{{ tag.name }}</a>，
                            </ng-container>
                      </div>
                  </div>
                  <div class="tools">
                      <span class="comment"><i class="iconfont icon-comments"></i><b>{{ blog.comment_count }}</b></span>
                      <span class="click"><i class="iconfont icon-eye"></i><b>{{ blog.click_count }}</b></span>
                      <span class="agree recommend-blog"><i class="iconfont icon-thumbs-up"></i><b>{{ blog.recommend }}</b></span>
                  </div>
              </div>
        </ng-template>
        
        
    </div>
</div>