
<div class="row">
    <div class="col-md-7">
        @if (data) {
        <div class="title-bar">
            <span>{{ data.name }}</span>
        </div>
        }
    </div>
    <div class="col-md-5">
        <form class="search-bar" (submit)="tapSearch()">
            <input type="text" class="form-control" name="keywords" i18n-placeholder placeholder="Please input a keyword" id="keywords" [field]="queries.keywords">
            <button class="btn btn-primary" i18n>Search</button>
        </form>
    </div>
</div>
@for (item of items; track $index) {
    <div class="service-item">
        <div class="avatar">
            <img [src]="item.avatar">
        </div>
        <div class="title">
            {{ item.name }}
        </div>
        @if (item.status < 1) {
        <a class="btn btn-danger" (click)="tapChange(item)" i18n>Agree</a>
        } @else if (item.status == 1) {
        <a class="btn btn-danger" (click)="tapChange(item, 2)" i18n>Forbid</a>
        }
    </div>
}
<app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />