.group-dialog {
    .line-item {
        line-height: 50px;
        text-align: center;
        border: 1px solid #ccc;
        margin-bottom: 5px;
        cursor: pointer;
        &.active {
            background-color: rgba($color: green, $alpha: .2);
        }
    }

}