@use '../../../../theme/styles/theme';
.column-item {
    --#{theme.$prefix}column: var(--#{theme.$prefix}panel);
    --#{theme.$prefix}column-text: var(--#{theme.$prefix}body-text);
    --#{theme.$prefix}column-icon: transparent;
    --#{theme.$prefix}column-icon-text: var(--#{theme.$prefix}accent-text);
    width: auto;
    display: flex;
    margin: 0;
    &:hover {
        background-color: var(--#{theme.$prefix}input-hovered);
    }
    &.active {
        background-color: var(--#{theme.$prefix}input-selected);
    }
}