
@if (!loading()) {
    <table class="table table-hover">
        <thead>
            <tr>
                @if (batchable()) {
                <th width="40">
                    <i class="iconfont" [ngClass]="{'icon-square-o': !checkAll, 'icon-check-square-o': checkAll}" (click)="toggleCheckAll()"></i>
                </th>
                }
                @for (item of nameItems; track $index) {
                    <th (click)="tapSort(item.index)">
                        <span>{{ item.label }}</span>
                        @if (sortKey == item.index) {
                            <i class="iconfont" [ngClass]="{'icon-sort-alpha-asc': orderAsc, 'icon-sort-alpha-desc': !orderAsc}"></i>
                        }
                    </th>
                }
                <th>
                    <div class="drop-menu-btn" [ngClass]="{'open-drop': openDrop}">
                        <i class="iconfont icon-cog" (click)="openDrop = !openDrop"></i>
                        <div class="drop-menu-body">
                            @for (item of columnItems(); track $index; let i = $index) {
                            <div class="menu-item">
                                <i class="iconfont" [ngClass]="{'icon-square-o': item.hidden, 'icon-check-square-o': !item.hidden}" (click)="toggleHidden(i)"></i>
                                {{ item.label || item.name }}
                            </div>
                            }
                            
                        </div>
                    </div>
                </th>
            </tr>
            @if (searchable()) {
            <tr>
                <td></td>
                @for (item of nameItems; track item.index) {
                    <td>
                        @if (item.searchable) {
                            @switch (item.inputType) {
                                @case ('switch') {
                                    <app-switch [(ngModel)]="item.value" />
                                }
                                @case ('select') {
                                    <select class="form-control" [(ngModel)]="item.value">
                                        @for (option of item.optionItems; track option.value) {
                                            <option [value]="option.value">{{ option.name }}</option>
                                        }
                                    </select>
                                }
                                @default {
                                    <input type="text" class="form-control" [(ngModel)]="item.value" i18n-placeholder placeholder="Please input keywords">
                                }
                            }
                        }
                    </td>
                }
                <td></td>
            </tr>
            }
        </thead>
        <tbody>
            @for (item of filterItems; track $index) {
            <tr>
                <td>
                    <i class="iconfont" [ngClass]="{'icon-square-o': !item.checked, 'icon-check-square-o': item.checked}" (click)="toggleCheck(item)"></i>
                </td>
                @for (name of nameItems; track name.index) {
                    <th>
                        @switch (name.format) {
                            @case ('img') {
                                <img [ngClass]="'img-' + name.name" [src]="item[name.name] | asset">
                            }
                            @case ('switch') {
                                <app-switch [(ngModel)]="item[name.name]" />
                            }
                            @case ('size') {
                                {{ item[name.name] | size }}
                            }
                            @case ('numberFormat') {
                                {{ item[name.name] | numberFormat }}
                            }
                            @case ('ago') {
                                {{ item[name.name] | ago }}
                            }
                            @case ('timestamp') {
                                {{ item[name.name] | timestamp }}
                            }
                        }
                        {{ formatValue(item, name) }}
                    </th>
                }
                <td>
                    <ng-container *ngTemplateOutlet="action(); context:item" />
                </td>
            </tr>
            }
            
        </tbody>
        @if (batchable()) {
        <tfoot>
            <tr>
                <td>
                    <i class="iconfont" [ngClass]="{'icon-square-o': !checkAll, 'icon-check-square-o': checkAll}" (click)="toggleCheckAll()"></i>
                </td>
                <td [attr.colspan]="nameItems.length - 1">
                    <div class="btn-group">
                        <button class="btn btn-danger" type="button" (click)="tapRemoveAll()" [disabled]="checkedItems.length < 1" i18n>
                            Delete Selected
                        </button>
                        <ng-content />
                    </div>
                </td>
            </tr>
        </tfoot>
        }
        
    </table>
    @if (total() >= 0) {
        <app-pagination [page]="page()" [total]="total()" [perPage]="perPage()" (pageChange)="tapPage($event)" />
    }
} @else {
    <div class="loading-box">
        <app-loading-ring />
    </div>
}
