@use '../../../../bootstrap/desktop/scrollbar';
@use '../../../theme/theme';
.drop-menu-btn {
    position: relative;
    .drop-menu-body {
        display: none;
        position: absolute;
        background-color: var(--#{theme.$prefix}panel);
        box-shadow: 0 2px 8px rgba(var(--#{theme.$prefix}mask-rgb), .15);
        max-height: 50vh;
        overflow-y: auto;
        min-width: 10em;
        left: -5em;
        z-index: 88;
        @include scrollbar.scrollbar();
    }
    .menu-item {
        line-height: 2em;
        padding: 0 .8em;
        cursor: default;
        user-select: none;
        &:hover {
            background-color: var(--#{theme.$prefix}input-selected);
        }
    }
    &.open-drop {
        .drop-menu-body {
            display: block;
        }
    }
}

.loading-tip-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
}