<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>这是今日任务列表</li>
        </ul>
    </app-page-tip>

    <div class="row">
        <div class="col-md-6">
            <div class="add-btn" (click)="tapAdd()">
                <i class="iconfont icon-plus"></i>
                添加
            </div>
        </div>
        <div class="col-md-6">
            <div class="add-btn" (click)="tapFastNew(addModal)">
                <i class="iconfont icon-plus"></i>
                快捷新增
            </div>
        </div>
    </div>

    @for (item of items; track $index) {
        <div class="task-item" (click)="tapView(item)">
            <div class="name">{{ item.task.name }}</div>
            <div class="desc">{{ item.task.description }}</div>
            @if (item.amount > 1) {
                <div class="count">{{ item.amount }}</div>
            }
            @if (item.status === 9) {
                <div class="tip">进行中</div>
            } @else if (item.status === 8) {
                <div class="tip">暂停中</div>
            }
            
            <div class="action">
                @if (item.status == 5 || item.status == 8) {
                    <i class="iconfont icon-play"></i>
                } @else if (item.status === 9) {
                    <i class="iconfont icon-pause"></i>
                    <i class="iconfont icon-stop"></i>
                }
            </div>
        </div>
    }
    <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
</div>

<app-task-select />

<app-dialog-box #addModal [scrollable]="false" title="快捷新增任务">
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="name">名称</label>
            <div>
                <input type="text" id="name" class="form-control" [(ngModel)]="taskData.name">
            </div>
        </div>
        <div class="input-group-control">
            <label for="description">说明</label>
            <div>
                <textarea id="description" class="form-control" [(ngModel)]="taskData.description"></textarea>
            </div>
        </div>
    </div>
</app-dialog-box>