@if (tabIndex() > 0) {
<div class="dialog-cookie-bar">
    @if (tabIndex() > 1) {
        <div class="dialog-header" i18n>Cookie Settings</div>
    }
    
    <div class="dialog-body">
        <ng-container i18n>Our website uses some cookies and records your IP address for the purposes of accessibility, security, and managing your access to the telecommunication network. You can disable data collection and cookies by changing your browser settings, but it may affect how this website functions.</ng-container>
        <a href="" i18n>Learn more</a>
        @if (tabIndex() > 1) {
            @for (group of items; track $index) {
            <div class="expand-card"[class]="{open: group.open}">
                <div class="card-header" (click)="group.open = !group.open">
                    <div class="item-icon">
                        <i class="iconfont" [class]="{'icon-chevron-right': !group.open, 'icon-chevron-down': group.open}"></i>
                    </div>
                    <span class="item-body">{{ group.name }}</span>
                    <div class="item-action">
                        @if (group.required) {
                            <ng-container i18n>Always active</ng-container>
                        } @else {
                            <app-switch [(value)]="group.active" onLabel="Active" offLabel="Disable" />
                        }
                    </div>
                </div>
                <div class="card-body">
                    <p>{{ group.description }}</p>
                    @if (group.items && group.items.length > 0) {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th i18n>Cookie</th>
                                <th i18n>Date</th>
                                <th i18n>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of group.items; track item.name) {
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.time }}</td>
                                <td>{{ item.description }}</td>
                            </tr>
                            }
                            
                        </tbody>
                    </table>
                    }
                    
                </div>
            </div>
            }
        }
    </div>
    <div class="dialog-footer">
        @if (tabIndex() == 1) {
            <div class="btn-group">
                <a class="btn btn-secondary" (click)="tabIndex.set(2)" i18n>Cookie Settings</a>
                <a class="btn btn-primary" (click)="tapAccept()" i18n>Accept All</a>
            </div>
        } @else {
            <a class="btn btn-primary" (click)="tapAccept()" i18n>Save And Accept</a>
        }
    </div>
</div>
}
