@for (item of items(); track $index) {
<div class="panel">
    <div class="panel-header">
        {{ item.name }}
        <div class="panel-icon">
            <i class="iconfont icon-angle-down"></i>
        </div>
    </div>
    <div class="panel-body">
        <p>{{ item.description }}</p>
    </div>
    @if (item.files && item.files.length > 0) {
    <div class="panel-footer">
        @for (it of item.files; track $index) {
            <div class="file-item">
                <div class="item-tag">
                    <a>{{ it.os }}</a>
                    <a>{{ it.framework }}</a>
                    <a>{{ it.size | size }}</a>
                    <a>{{ formatType(it.url_type) }}</a>
                </div>
                <div class="item-body">
                    {{ item.name }}
                </div>
                <div class="item-action">
                    @if (it.url_type < 1) {
                        <a class="btn btn-info" i18n>Download</a>
                    } @else if (it.url_type > 0 && it.url_type < 3) {
                        <a class="btn btn-info" i18n>Open</a>
                    } @else if (it.url_type == 3) {
                        <a class="btn btn-info" i18n>Copy</a>
                    }
                </div>
            </div>
        }
    </div>
    }
    
</div>
}

<app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
<app-pagination [total]="total()" [formField]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />