<div class="panel" *ngFor="let item of items">
    <div class="panel-header">
        {{ item.name }}
        <div class="panel-icon">
            <i class="iconfont icon-angle-down"></i>
        </div>
    </div>
    <div class="panel-body">
        <p>{{ item.description }}</p>
    </div>
    <div class="panel-footer" *ngIf="item.files && item.files.length > 0">
        <ng-container *ngFor="let it of item.files">
            <div class="file-item">
                <div class="item-tag">
                    <a>{{ it.os }}</a>
                    <a>{{ it.framework }}</a>
                    <a>{{ it.size | size }}</a>
                    <a>{{ formatType(it.url_type) }}</a>
                </div>
                <div class="item-body">
                    {{ item.name }}
                </div>
                <div class="item-action">
                    <a class="btn btn-info" *ngIf="it.url_type < 1" i18n>Download</a>
                    <a class="btn btn-info" *ngIf="it.url_type > 0 && it.url_type < 3" i18n>Open</a>
                    <a class="btn btn-info" *ngIf="it.url_type == 3" i18n>Copy</a>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
<app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>