<div class="page-search-bar">
    <form class="flat-input" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
        <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" i18n-placeholder placeholder="Please input a keyword">
        <button type="submit" class="btn btn-primary" i18n>Search</button>
    </form>
    <div class="btn-group pull-right">
        <a class="btn btn-success" (click)="tapEdit(modal)" i18n>Create</a>
    </div>
</div>

<div class="list-table-control">
    <ng-container *ngFor="let item of items">
        <div class="row-item">
            <div class="item-header">
                <span class="no">{{ item.id }}</span>
            </div>
            <div class="item-body">
                {{ item.content }}
            </div>
            <div class="item-footer">
                <div class="item-meta-bar">
                    <span class="time"><i class="iconfont icon-clock-o"></i><b>{{ item.created_at | ago }}</b></span>
                </div>
                <div class="btn-group">
                    <a class="btn btn-info" (click)="tapEdit(modal, item)" i18n>Edit</a>
                    <a class="btn btn-danger" (click)="tapRemove(item)" i18n>Delete</a>
                </div>
            </div>
        </div>
    </ng-container>
</div>


<app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
<app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>

<app-dialog-box #modal [title]="editData.id > 0 ? 'Edit Note' : 'New Note'" [scrollable]="false">
    <app-text-editor [(ngModel)]="editData.content" height="200"></app-text-editor>
</app-dialog-box>