<div class="flex-2">
    <div class="flex-menu">
        <app-merchant-menu currentUrl="staff" />
    </div>
    <div class="flex-body">
        <div class="panel-container">
            <div class="page-search-bar">
                <form class="form-horizontal-control" (submit)="tapSearch($event)">
                    <div class="input-group-control">
                        <label for="keywords">标题</label>
                        <input type="text" class="form-control" placeholder="搜索标题" id="keywords" [field]="queries.keywords">
                    </div>
                    <button type="submit" class="btn btn-primary">搜索</button>

                    <div class="btn-group pull-right">
                        <div class="btn btn-info" (click)="tapAdd()">
                            <i class="iconfont icon-plus"></i>
                        </div>
                        <div class="btn btn-success">
                            <i class="iconfont icon-download"></i>
                        </div>
                        <div class="btn btn-danger">
                            <i class="iconfont icon-upload"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-catering-nav-bar header="分组" [items]="categoryItems" 
                    [(selected)]="queries.group().value" (selectedChange)="tapRefresh()" (add)="tapEditCategory()" (edit)="tapEditCategory($event)" (remove)="tapRemoveCategory($event)" />
                </div>
                <div class="col-md-9">
                    @for (item of items(); track $index) {
                        <div class="person-item">
                        <div class="item-avatar">
                            <img [src]="'assets/images/avatar/18.png' | asset" alt="">
                        </div>
                        <div class="item-body">
                            <div class="item-name">姓名</div>
                            <div class="item-meta">备注</div>
                        </div>
                        <div class="item-action">
                            <i class="iconfont icon-ellipsis-h"></i>
                            <div class="drop-bar">
                                <a href="">移至</a>
                                <a href="" class="text-danger">删除</a>
                            </div>
                        </div>
                    </div>
                    }

                    <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
                    <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
                </div>
            </div>
        </div>
    </div>
</div>

<app-catering-role-dialog />
<app-catering-invite-dialog />