@if (data) {
    <app-edit-header [title]="data.page?.name" (submited)="tapSubmit($event)">
        <p>答题人：{{ data.user?.name }}</p>
        <p>耗时：{{ formatHour(data.spent_time) }}</p>
        <p>得分：{{ data.score || 0 }}</p>
    </app-edit-header>
}


@if (data) {
<div class="container-fluid">
    <div class="panel-container">
        @if (current.material) {
        <div class="material-panel">
            <h3>
                <app-math-mark [content]="current.material.title" [allowInput]="false" [editable]="false" />
            </h3>
            <app-math-mark [content]="current.material.content" [allowInput]="false" [editable]="false" />
            @if (current.material.image) {
                <img [src]="current.material.image">
            }
        </div>
        }
        <div class="question-panel">
            @for (item of current.items; track $index; let i = $index) {
                <app-question-scoring [value]="item" (valueChange)="onScoring(i, $event)" />
            }
        </div>
        <div class="tool-bar">
            <div class="btn-group">
                @if (page > 1) {
                <a class="btn btn-primary" (click)="tapPrevious()">上一页</a>
                }
                <app-action-button class="btn btn-danger" (tapped)="tapSubmit($event)">阅卷完毕</app-action-button>
                @if (page < pageItems.length) {
                <a class="btn btn-primary" (click)="tapNext()">下一页</a>
                }
            </div>
            
        </div>
    </div>
    
    <div class="panel-container">
        <div class="msg-bar">
            <span class="left">
                <span
                    class="gray">答对：</span><span class="count-right">{{ data.right }}&nbsp;题</span>
            </span>
            <span
                class="left">
                <span class="gray">答错：</span>
                <span class="count-wrong">{{ data.wrong }}&nbsp;题</span>
                </span>
            <span class="left">
                <span
                    class="gray">正确率：</span>{{ formatScale }}%</span>
        </div>
        <div class="panel sheet-panel">
            <div class="panel-header">
                答题卡
            </div>
            <div class="panel-body">
                <ul>
                    @for (item of cardItems; track $index; let i = $index) {
                        <li [ngClass]="{right: item.right > 0, wrong: item.right < 0, active: item.active}">
                            <a (click)="tapItem(i)">{{ item.order }}</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    
</div>
}
<app-dialog-box #modal title="总体点评">
    <app-exam-editor [field]="editData.remark" />
</app-dialog-box>