<div class="container">
  <div class="panel-sort-container">
    <div class="panel-sort-bar">
        <a routerLink="../category" i18n>Categories</a>
        <a class="active" i18n>Tags</a>
        <a routerLink="../archives" i18n>Archives</a>
    </div>
    <div class="tag-body">
        @for (item of tagItems; track $index) {
            <a routerLink="../" [queryParams]="{tag: item.name}" class="tag-item" [style]="item.style">{{ item.name }}</a>
        }
    </div>
    <app-loading-tip [loading]="isLoading" [visible]="isLoading || tagItems.length == 0" />
  </div>

</div>
