@if (subtotal) {
<div class="score-panel">
    <div class="row">
        <div class="col-4">
            <div class="align-center" i18n>Favorable rate</div>
            <div class="align-center">
                <div class="rate">{{ subtotal.favorable_rate }}%</div>
                <div class="score">
                    <app-star [value]="subtotal.avg" />
                </div>
            </div>
        </div>
        <div class="col-8">
            <div i18n>Customer reviews:</div>
            
            <div class="tag-box">
                <span class="active" i18n>All({{ subtotal.total }})</span>
                @for (item of subtotal.tags; track $index) {
                    <span>{{ item.label }}({{ item.count }})</span>
                }
            </div>
        </div>
    </div>
    <div class="row score-input">
        <div class="col-md-3 text-right" i18n>Your reviews:</div>
        <div class="col-md-9">
            <app-star [field]="scoreData.score" (ngModelChange)="onScoreChange()" [disabled]="false" [labelVisible]="true" />
        </div>
    </div>
    
</div>
}
