<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>图文及媒体素材</li>
        </ul>
    </app-page-tip>

    <div class="tab-bar">
        <ng-container *ngFor="let item of tabItems">
            <a class="item" [ngClass]="{active: queries.type == item.value}" (click)="tapTab(item.value)">{{ item.name }}</a>
        </ng-container>
    </div>

    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a routerLink="create" class="btn btn-info" *ngIf="queries.type == 'news'">创建</a>
                    <a (click)="open(modal)" class="btn btn-info" *ngIf="queries.type != 'news'">创建</a>
                </div>
            </form>
        </div>

        <ng-container *ngIf="queries.type == 'image' || queries.type == 'video'; else elseTemplate">
            <div class="row">
                <div class="col-md-3" *ngFor="let item of items">
                    <div class="media-item">
                        <div class="thumb">
                            <img [src]="item.thumb" alt="">
                        </div>
                        <div class="name">{{ item.title }}</div>
                        <div class="time">{{ item.created_at | ago }}</div>
                        <div class="action">
                            <a (click)="tapCopy(item.media_id, $event)" *ngIf="item.media_id">复制media_id</a>
                            <a (click)="tapRemove(item)">删除</a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #elseTemplate>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>标题</th>
                        <th>类型</th>
                        <th>Media Id</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td>{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ formatType(item.type) }}</td>
                        <td>{{ item.media_id }}</td>
                        <td>
                            <div class="btn-group  btn-group-xs">
                                <a class="btn btn-light btn-xs" [routerLink]="['edit', item.id]" *ngIf="item.type == 'news'">编辑</a>
                                <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </ng-template>
  
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
</div>

<app-dialog-box #modal [title]="'新增素材'">
    <app-edit-media [(value)]="editData"></app-edit-media>
</app-dialog-box>