.tab-bar {
    margin-top: .5em;
}

.media-item {
    .time {
        font-size: .8rem;
        color: #ccc;
    }
    .action {
        text-align: center;
        a {
            cursor: pointer;
        }
    }
}