<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>图文及媒体素材</li>
        </ul>
    </app-page-tip>

    <div class="tab-bar">
        <a [ngClass]="{active: true}">图片素材</a>
        <a>语音素材</a>
        <a>视频素材</a>
        <a>图文素材</a>
    </div>

    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a routerLink="create" class="btn btn-info">创建</a>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-3" *ngFor="let item of items">
                <div class="media-item">
                    <div class="thumb">
                        <img [src]="item.thumb" alt="">
                    </div>
                    <div class="name">{{ item.name }}</div>
                    <div class="time">{{ item.created_at | ago }}</div>
                    <div class="action">
                        <a >复制medai_id</a>
                        <a >删除</a>
                    </div>
                </div>
            </div>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.appid }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.status }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-light btn-xs" [routerLink]="['edit', item.id]">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
  
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
</div>