<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>短链接平台</li>
        </ul>
    </app-page-tip>

    <div class="row">
        <div class="col-md-4">
            <div class="column-full-item">
                @if (isLoading) {
                <div class="overlay">
                    <i class="iconfont icon-refresh"></i>
                </div>
                }
                <div class="inner">
                    <h3>{{ data.link_today | numberFormat }}/{{ data.link_count | numberFormat }}</h3>
                    <p>链接今日新增/总数</p>
                </div>
                <div class="icon">
                    <i class="iconfont icon-folder-o"></i>
                </div>
                <a class="column-footer" routerLink="list">
                    查看更多
                    <i class="iconfont icon-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="column-full-item">
                @if (isLoading) {
                <div class="overlay">
                    <i class="iconfont icon-refresh"></i>
                </div>
                }
                <div class="inner">
                    <h3>{{ data.view_today | numberFormat }}/{{ data.view_count | numberFormat }}</h3>
                    <p>浏览量今日新增/总数</p>
                </div>
                <div class="icon">
                    <i class="iconfont icon-eye"></i>
                </div>
                <a class="column-footer" routerLink="list">
                    查看更多
                    <i class="iconfont icon-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>