<div class="flex-2">
    <div class="flex-menu">
        <app-merchant-menu currentUrl="setting" />
    </div>
    @if (data) {
    <div class="flex-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-table-control">
                        <div class="input-group-control avatar-input">
                            <label for="avatar">LOGO</label>
                            <div>
                                <div class="avatar">
                                    <img [src]="data.logo">
                                </div>
                                <label for="fileUpload" class="btn btn-outline-info">更改LOGO</label>
                                <input type="file" name="file" id="fileUpload" accept="image/*" (change)="uploadFile($event)"/>
                            </div>
                        </div>
                        <div class="input-group-control">
                            <label for="name">店铺名</label>
                            <div>
                                <input type="text" id="name" class="form-control" placeholder="请输入店铺名" [(ngModel)]="data.name" (ngModelChange)="onValueChange()">
                            </div>
                        </div>
                        <div class="input-group-control">
                            <label for="address">店铺地址</label>
                            <div>
                                <textarea id="address" class="form-control" placeholder="请输入店铺地址" [(ngModel)]="data.address" (ngModelChange)="onValueChange()"></textarea>
                            </div>
                        </div>
                        <div class="input-group-control">
                            <label for="time">营业时间</label>
                            <div>
                                <app-time-input />
                                -
                                <app-time-input />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <app-panel title="状态管理">
                        <div class="notice-panel">
                            <h1 class="item-body">{{ data.open_status > 0 ? '营业中' : '休息中' }}</h1>
                        </div>
                        @if (data.open_status > 0) {
                            <a class="btn btn-danger btn-line" (click)="toggleOpen()">关店休息</a>
                        } @else {
                            <a class="btn btn-primary btn-line" (click)="toggleOpen()">开店营业</a>
                        }
                        
                    </app-panel>
                </div>
            </div>
        </div>
        <div class="input-item">
            <div class="item-icon">
                <i class="iconfont icon-chain-broken"></i>
            </div>
            <div class="item-body">
                <div class="item-name">开启堂吃</div>
                <div class="item-meta">是否支持到店点餐</div>
            </div>
            <div class="item-action">
                <app-switch [(ngModel)]="data.is_open_live" (ngModelChange)="onValueChange()" />
            </div>
        </div>
        <div class="input-item">
            <div class="item-icon">
                <i class="iconfont icon-chain-broken"></i>
            </div>
            <div class="item-body">
                <div class="item-name">支持外卖</div>
                <div class="item-meta">是否支持外送</div>
            </div>
            <div class="item-action">
                <app-switch [(ngModel)]="data.is_open_ship" (ngModelChange)="onValueChange()" />
            </div>
        </div>
        @if (data.is_open_ship) {
        <div class="input-item">
            <div class="item-icon">
                <i class="iconfont icon-chain-broken"></i>
            </div>
            <div class="item-body">
                <div class="item-name">支持外卖自取</div>
                <div class="item-meta">是否支持外卖订单上门自取</div>
            </div>
            <div class="item-action">
                <app-switch [(ngModel)]="data.is_ship_self" (ngModelChange)="onValueChange()" />
            </div>
        </div>
        }
        <div class="input-item">
            <div class="item-icon">
                <i class="iconfont icon-chain-broken"></i>
            </div>
            <div class="item-body">
                <div class="item-name">支持预定</div>
                <div class="item-meta">是否支持提前预定</div>
            </div>
            <div class="item-action">
                <app-switch [(ngModel)]="data.is_open_reserve" (ngModelChange)="onValueChange()" />
            </div>
        </div>
        @if (data.is_open_reserve) {
        <div class="input-item">
            <div class="item-icon">
                <i class="iconfont icon-chain-broken"></i>
            </div>
            <div class="item-body">
                <div class="item-name">提前预定时间</div>
                <div class="item-meta">支持提前多久预定</div>
            </div>
            <div class="item-action">
                <app-number-input [(ngModel)]="data.reserve_time" (ngModelChange)="onValueChange()" /> 小时
            </div>
        </div>
        }
    </div>
    }
</div>