<div class="row">
    <div class="offset-md-8 col-md-4">
        <form class="search-bar" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
            <input type="text" class="form-control" name="keywords" placeholder="请输入搜索内容" [ngModel]="keywords">
            <button class="btn btn-primary">搜索</button>
            <a class="btn btn-info" routerLink="apply">申请服务</a>
        </form>
    </div>
</div>

<ng-container *ngFor="let item of items">
    <div class="service-item">
        <div class="title">
            {{ item.name }}
        </div>
        <div class="brief">
            {{ item.brief }}
        </div>
        <a class="btn">
            <span>已申请</span>
        </a>
    </div>
</ng-container>