<div class="category-page" *ngIf="category">
  <div class="container">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" routerLink="../">Home</a>
            <span class="breadcrumb-item active">{{ category.name }}</span>
        </nav>

      <div class="banner" *ngIf="category.banner">
          <img [src]="category.banner" alt="">
      </div>

      <div class="goods-area">
          <div class="filter-box">
              <div class="filter-line" *ngFor="let item of filterItems">
                <div class="filter-header">
                    {{ item.label }}
                </div>
                <div class="filter-body">
                    <ng-container *ngFor="let it of item.items">
                        <a [ngClass]="{active: it.selected}">{{ it.label }}</a>
                    </ng-container>
                </div>
              </div>
              <div class="filter-line">
                <div class="filter-header">
                    排序
                </div>
                <div class="filter-body">
                    <ng-container *ngFor="let item of sortItems">
                        <a [ngClass]="{active: item.value == sortKey}" (click)="tapSort(item)">{{ item.name }}
                            <i class="iconfont" *ngIf="item.value && sortKey == item.value" [ngClass]="{'icon-sort-alpha-asc': orderAsc, 'icon-sort-alpha-desc': !orderAsc}"></i>
                        </a>
                    </ng-container>
                </div>
              </div>
          </div>
          <div class="category-header">
              <div class="title">
                {{ category.name }}
              </div>
              <p class="desc">{{ category.description }}</p>
          </div>
          <div class="row">
            <ng-container *ngFor="let item of items">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a class="goods-item item-hover" [routerLink]="'../../goods/' + item.id">
                        <div class="thumb">
                            <img [src]="item.thumb" alt="">
                        </div>
                        <div class="name">{{ item.name }}</div>
                        <div class="price">{{ item.price }}</div>
                        <div class="desc">
                          {{ item.brief }}
                        </div>
                    </a>
                </div>
              </ng-container>
          </div>

          <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
      </div>
  </div>
</div>