<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>卡密列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">卡号</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="卡号">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a class="btn btn-success" (click)="tapGenerate(modal)">生成卡密</a>
                    <a class="btn btn-danger" (click)="importModal.open()">导入</a>
                    <a class="btn btn-info" (click)="tapExport()">导出</a>
                </div>
            </form>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>卡密</th>
                    <th>是否使用</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>
                        {{ item.card_no }}
                    </td>
                    <td>
                        @if (item.order_id > 0) {
                            已使用
                            [<a [routerLink]="['../../../order', item.order_id]">查看</a>]
                        }
                    </td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
    </div>
</div>

<app-dialog-box #modal [width]="300" [scrollable]="false" title="生成优惠码">
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="">数量</label>
            <div>
                <app-number-input [field]="editForm.amount" />
            </div>
        </div>
    </div>
</app-dialog-box>

<app-dialog-box #importModal title="导入" [footerVisible]="false">
    <div class="form-group">
        <label for="content-input">选择文件</label>
        <div class="input-group-control">
            <app-upload-button class="btn btn-primary" accept=".csv" (uploading)="onUploadFile($event)">上传</app-upload-button>
        </div>
    </div>
</app-dialog-box>