@import '../../../theme/styles/scrollbar';
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.message-box {
    display: grid;
    grid-template-columns: 250px 1fr;
    .message-menu {
        background-color: #e0f0fd;
        overflow: auto;
        @include scrollbar();
    }
    .menu-item {
        padding: 12px 18px 12px 16px;
        display: grid;
        grid-template-columns: 80px 1fr;
        .icon {
            width: 51px;
            height: 51px;
            border-radius: 25.5px;
            background-color: #ccc;
            font-size: 30px;
            text-align: center;
            line-height: 50px;
        }
        .info {
            .name {
                color: #000;
                font-weight: 700;
            }
            p {
                color: #676d70;
            }
        }
        &:hover {
            background-color: #fff;
        }
        &.active {
            background-color: #fff;
            border-left: 4px solid #d75650;
        }
    }
    .message-body {
        background-color: white;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        display: flex;
        flex-direction: column;
        .title-bar {
            line-height: 40px;
            text-align: center;
            position: relative;

        }
        .drop-menu-box {
            float: right;
            .iconfont {
                display: inline-block;
                width: 40px;
                text-align: center;
                cursor: pointer;
            }
        }
        .message-chat-box {
            padding: 0 10px;
            overflow-y: auto;
            flex: 1;
            background-color: #f4f4f4;
            @include scrollbar();
        }
    }
    .drop-menu-box {
        .menu-body {
            position: absolute;
            right: 0;
            width: 120px;
            z-index: 5;
            background-color: white;
            text-align: center;
            box-shadow: rgba(51,51,51,.7) 0 0 10px;
            li {
                cursor: default;
                &:hover {
                    background-color: #eee;
                }
            }
        }
        
    }

    .message-tools {
        font-size: 1.25rem;
        line-height: 1.875rem;
        border-top: 0.0625rem solid white;
        background-color: #f4f4f4;
        .iconfont {
            display: inline-block;
            width: 1.875rem;
            text-align: center;
        }
    }
    .message-editor {
        background-color: #f4f4f4;
        height: 160px;
        display: flex;
        flex-direction: column;
        textarea {
            width: 100%;
            background-color: transparent;
            border:  none;
            outline: none;
            flex: 1;
            resize: none;
        }
    }
    .message-action {
        text-align: right;
        .size-tip {
            display: inline-block;
            color: #ccc;
            margin-right: 10px;
        }
        .btn {
            width: 80px;
        }
    }
}

.message-chat-box {
    * {
        margin: 0;
    }
    .message-more,
    .message-line,
    .message-tip {
        text-align: center;
    }
    .message-more {
        cursor: default;
    }
    .message-left, 
    .message-right {
        position: relative;
        margin: 0.5rem 0;
        &:after {
            content: ' ';
            clear: both;
            display: table;
        }
        .avatar {
            position: absolute;
            top: 0;
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 50%;
        }
        .content {
            max-width: 66%;
            background: white;
            line-height: 2.5rem;
            padding: 0 0.625rem;
            word-break: break-word;
        }
    }
    .message-left {
        .avatar {
            left: 0;
        }
        .content {
            margin-left: 3.25rem;
            float: left;
            border-radius: 0 16px 16px 16px;
        }
    }
    .message-right {
        .avatar {
            right: 0;
        }
        .content {
            float: right;
            margin-right: 3.25rem;
            border-radius: 16px 0 16px 16px;
        }
    }
}