<div class="form-table-control">
    <div class="input-group-control">
        <label for="platform_id">应用</label>
        <div>
            <select id="platform_id" class="form-control" name="platform_id" [(ngModel)]="platformId" (ngModelChange)="tapPlatformChange()">
                @for (item of platformItems; track $index) {
                    <option [value]="item.id">{{ item.name }}</option>
                }
            </select>
        </div>
    </div>
    <div class="edit-view">
        @for (group of items; track $index) {
            <div class="expand-box" [ngClass]="{min: group.expanded}">
                <div class="expand-header" (click)="group.expanded = !group.expanded">
                    {{ group.label }}
                    <i class="iconfont" [ngClass]="group.expanded ? 'icon-chevron-down' : 'icon-chevron-up'"></i>
                </div>
                <div class="expand-body">
                    @for (item of group.children; track $index) {
                    <div class="input-group-control">
                        <label [for]="'option_' + group.name + item.name ">{{ item.label }}</label>
                        <div>
                            <input type="text" [id]="'option_' + group.name + item.name " class="form-control" [(ngModel)]="item.value">
                            @if (item.tip) {
                                <div class="tip">{{ item.tip }}</div>
                            }
                        </div>
                    </div>
                    }
                </div>
            </div>
        }
    </div>
    <app-action-button class="btn btn-primary" (tapped)="saveOption($event)">保存</app-action-button>
</div>