<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>分类</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">名称</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords"
                        placeholder="名称">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a class="pull-right btn btn-primary" (click)="open(modal)">新增分类</a>
            </form>
        </div>
        <table class="table table-bordered well">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>简介</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-light btn-xs" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" 
            (valueChange)="tapPage()" />
    </div>
</div>

<app-dialog-box #modal [title]="editForm.id().value() > 0 ? '编辑分类' : '新增分类'">
    <div class="form-group">
        <label for="name-input">名称</label>
        <div class="input-group-control">
            <input class="form-control" id="name-input" [field]="editForm.name" placeholder="请输入名称">
        </div>
    </div>
    <div class="form-group">
        <label for="content-input">图片</label>
        <div class="input-group-control">
            <app-file-input [field]="editForm.icon" />
        </div>
    </div>
    <div class="form-group">
        <label for="con-input">简介</label>
        <div class="input-group-control">
            <textarea class="form-control" id="con-input" [field]="editForm.description" placeholder="请输入内容"></textarea>
        </div>
    </div>
</app-dialog-box>