@if (data) {
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="title-bar">
                <div class="back-btn" (click)="tapBack()">
                    <i class="iconfont icon-arrow-left"></i>
                </div>
                <h2>{{ data.name }}</h2>
            </div>
        </div>
    </div>

    @if (children.length > 0) {
    <div class="row">
        <div class="col-12">
            <div class="tab-bar">
                @for (item of children; track $index) {
                    <a class="item" [ngClass]="{active: productSelected == item.id}" (click)="tapProduct(item.id)">{{ item.name }}</a>
                }
            </div>
        </div>
    </div>
    }
    
    @if (channelItems.length > 0) {
    <div class="row">
        <div class="col-12">
            <div class="tab-bar">
                @for (item of channelItems; track $index) {
                    <a class="item" [ngClass]="{active: channelSelected == item.id}" (click)="tapChannel(item.id)">{{ item.name }}</a>
                }
            </div>
        </div>
        <div class="col-12">
            <div class="page-search-bar">
                <div class="form-horizontal-control">
                    <app-toggle-bar [items]="typeItems" [(ngModel)]="queries.type" (ngModelChange)="onQueriesChange()" />
                    
                    <app-date-input [(ngModel)]="queries.start_at" (ngModelChange)="onQueriesChange()" />
                    ~
                    <app-date-input [(ngModel)]="queries.end_at" (ngModelChange)="onQueriesChange()" />
                </div>
            </div>
            
        </div>
        <div class="col-md-12">
            <div appChart [options]="options" class="chart-lg"></div>
        </div>
    </div>
    }
</div>
}

<app-loading-tip [loading]="isLoading" [visible]="isLoading" />