<div class="select-input-container">
    <ng-container *ngIf="editable; else elseTemplate">
        <input type="text" class="input-body">
    </ng-container>
    <ng-template #elseTemplate>
        <span class="input-body"></span>
    </ng-template>
    <div class="input-clear" [hidden]="!value">
        <i class="iconfont icon-close"></i>
    </div>
    <div class="input-arrow" (click)="visible = !visible">
        <i class="iconfont" [ngClass]="arrowIcon"></i>
    </div>
</div>
<div class="select-option-bar">
    <div class="search-option-item" *ngIf="searchable">
        <input type="text">
        <i class="iconfont icon-search"></i>
    </div>
    <div class="loading-option-item" *ngIf="isLoading">
        <div class="loading-ring2">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <ng-container *ngFor="let item of items">
        <div class="option-item" [ngClass]="{selected: value == item.value}" (click)="tapSelected(item)">{{ item.name }}</div>
    </ng-container>
</div>