<div class="container-fluid tablet-collapse">
    <app-page-tip>
        <ul>
            <li>管理消费渠道列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group-control">
                    <label for="keywords">名称</label>
                    <input type="text" class="form-control" [ngModel]="keywords" name="keywords" id="keywords" placeholder="名称">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a (click)="open(modal)" class="pull-right btn btn-primary">新增渠道</a>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-info" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
    </div>
</div>

<div class="tablet-visible">
    <div class="route-bar">
        <a class="route-icon" (click)="tapBack()">
            <i class="iconfont icon-chevron-left"></i>
        </a>
        <span class="route-title">消费渠道</span>
        <a class="route-icon" (click)="open(modal)">
            <i class="iconfont icon-plus"></i>
        </a>
    </div>

    <app-swipe-list-control>
        @for (item of items; track $index) {
            <app-swipe-control>
            {{ item.name }}
            <ng-container name="left">
                <a class="btn-primary" (click)="open(modal, item)">
                    <i class="iconfont icon-edit"></i>
                </a>
            </ng-container>
            <ng-container name="right">
                <a class="btn-danger" (click)="tapRemove(item)">
                    <i class="iconfont icon-trash"></i>
                </a>
            </ng-container>
        </app-swipe-control>
        }
    </app-swipe-list-control>
</div>

<app-dialog-box #modal [title]="editData && editData.id > 0 ? '编辑消费渠道' : '新增消费渠道'">
    <div class="form-group">
        <label for="name">名称</label>
        <div class="input-group-control">
            <input class="form-control" id="name" [(ngModel)]="editData.name" placeholder="请输入名称">
        </div>
    </div>
</app-dialog-box>