<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>这是所有的签到记录列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group-control">
                    <label for="keywords">会员名</label>
                    <input type="text" class="form-control" name="keywords" id="keywords" placeholder="搜索会员" [ngModel]="queries.keywords">
                </div>
                <div class="input-group-control">
                    <label for="date">日期</label>
                    <input type="date" name="date" id="date" class="form-control" [ngModel]="queries.date" placeholder="签到日期">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>会员</th>
                    <th>签到时间</th>
                    <th>连续签到次数</th>
                    <th>签到方式</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.user?.name }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>{{ item.running }}</td>
                    <td>{{ item.type }}</td>
                </tr>
                }
            </tbody>
        
        </table>
        
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>  
    </div>
</div>

