<div class="container-fluid">
  <app-page-tip>
      <ul>
          <li>管理消息模板列表</li>
      </ul>
  </app-page-tip>
  <div class="panel-container">
      <div class="page-search-bar">
          <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="关键字">
                </div>
                <div class="input-group-control">
                    <label for="type">类型</label>
                    <select [field]="queries.type" class="form-control">
                        <option [value]="0">请选择</option>
                        @for (item of typeItems; track $index) {
                            <option [value]="item.value">{{ item.name }}</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a routerLink="./create" class="pull-right btn btn-primary">新增模板</a>
          </form>
      </div>
  
      <table class="table table-hover">
          <thead>
              <tr>
                <th>ID</th>
                <th>唯一代码</th>
                <th>标题</th>
                <th>类型</th>
                <th>外部编号</th>
                <th>操作</th>
              </tr>
          </thead>
          <tbody>
              @for (item of items; track $index) {
                <tr>
                  <td>{{ item.id }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.title }}</td>
                  <td>{{ formatType(item.type) }}</td>
                  <td>{{ item.target_no }}</td>
                  <td>
                      <div class="btn-group">
                        <a class="btn btn-info" [routerLink]="'./edit/' + item.id">编辑</a>
                        <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                      </div>
                  </td>
              </tr>
              }
              
          </tbody>
      </table>
      <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
      <app-pagination [total]="total" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
  </div>
</div>