@if (value()) {
<div class="form-table-control">
    <div class="input-group-control">
        <label for="event">事件</label>
        <div>
            <select id="event" [value]="value().event" class="form-control" (change)="onEventChange($event)">
                @for (item of eventItems; track $index) {
                <option [value]="item.value">{{ item.name }}</option>
                }
            </select>
        </div>
    </div>

    @if (value().event == 'message') {
    <div>
        <div class="input-group-control">
            <label for="">精确匹配</label>
            <div>
                <app-switch [value]="value().match" (valueChange)="onMatchChange($event)" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="">关键词</label>
            <div>
                <app-words-input [value]="value().keywords" (valueChange)="onKeywordsChange($event)" />
            </div>
        </div>
    </div>
    } @else if (value().event == 'CLICK') {
    <div class="input-group-control">
        <label for="">事件名</label>
        <div>
            <input type="text" class="form-control" [value]="value().keywords" (input)="onKeywordsChange($event)">
        </div>
    </div>
    }
    <app-bot-message-editor [(value)]="editorData" (valueChange)="onEditorChange()" />
</div>
}