@use './app/theme/theme';
@use './assets/iconfont/iconfont';

@use './bootstrap/skeleton' with (
    $enable-dark-mode: false
);


@use './app/components/dialog/dialog';
@use './app/components/context-menu/menu';


@use './bootstrap/tablet/layout' as tablet;
@use './bootstrap/desktop/layout' as desktop;



