@use './app/theme/styles/theme';
@use './assets/iconfont/iconfont';


@use './bootstrap/default' with (
    $prefix: theme.$prefix
);
@use './bootstrap/dark' with (
    $prefix: theme.$prefix,
    $enable-dark-mode: false
);
@use './bootstrap/skeleton' with (
    $prefix: theme.$prefix
);


@use './app/theme/styles/base';
@use './app/theme/styles/code';
@use './app/theme/styles/login';
@use './app/theme/styles/form';
@use './app/theme/styles/grid';
@use './app/theme/styles/tab';
@use './app/theme/styles/panel';
@use './app/theme/styles/menu';
@use './app/components/dialog/dialog';
