<div class="member-container" [ngClass]="{container: navToggle != 4, 'container-full': navToggle == 4}">
    <div class="row">
        <div class="col-md-3" [hidden]="navToggle != 3">
            <div class="person-box" *ngIf="user">
                <div class="control-avatar">
                    <img [src]="user.avatar|asset" [alt]="user.name">
                </div>
                <div class="control-name">
                    {{ user.name }}
                    <i class="iconfont icon-shield" *ngIf="user.is_verified" i18n-title title="This user is verified"></i>
                </div>
                <div class="control-meta">uid: {{ user.id }}</div>
                <div class="control-desc"></div>
                <a routerLink="account/profile" class="btn btn-primary" i18n>Edit Profile</a>
                <div class="count-bar">
                    <div class="count-item">
                        <div class="count">{{ user.following_count| numberFormat }}</div>
                        <span i18n>Following</span>
                    </div>
                    <div class="count-item">
                        <div class="count">{{ user.follower_count| numberFormat }}</div>
                        <span i18n>Followers</span>
                    </div>
                    <div class="count-item">
                        <div class="count">{{ user.post_count| numberFormat }}</div>
                        <span i18n>Posts</span>
                    </div>
                </div>

                <div class="link-panel tablet-collapse">
                    <a>
                        <i class="iconfont icon-map-marker"></i>
                        {{ user.country }}
                    </a>
                    <a *ngIf="user.mobile">
                        <i class="iconfont icon-mobile"></i>
                        {{ user.mobile }}
                    </a>
                    <a>
                        <i class="iconfont icon-mail"></i>
                        {{ user.email }}
                    </a>
                </div>
            </div>  
        </div>
        <div class="col-12" [ngClass]="{'col-md-9': navToggle == 3}">
            <div class="tab-nav-bar" [ngClass]="{'nav-more-open': moreVisible}">
                <div class="tab-bar" (click)="moreVisible = false">
                    <ng-container *ngFor="let item of tabItems">
                        <a class="item" [routerLink]="item.url" [ngClass]="{active: item.active}">{{ item.name }}</a>
                    </ng-container>
                </div>
                <div class="nav-more-bar" *ngIf="moreItems && moreItems.length > 0">
                    <div class="more-icon" (click)="moreVisible = !moreVisible">
                        <i class="iconfont icon-ellipsis-v"></i>
                    </div>
                    <div class="more-body" (click)="moreVisible = false">
                        <ng-container *ngFor="let item of moreItems">
                            <a class="item" [routerLink]="item.url" [ngClass]="{active: item.active}">
                                <i class="iconfont" [ngClass]="item.icon"></i>
                                <span>{{ item.name }}</span>
                            </a>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="tab-nav-body">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

