<div class="member-container" [ngClass]="{container: diplayMode < 3, 'container-full': diplayMode >= 3}">
    <div class="row">
        <div class="col-md-3" [hidden]="diplayMode >= 1">
            @if (user) {
                 <div class="person-box" >
                <div class="control-avatar">
                    <img [src]="user.avatar|asset" [alt]="user.name">
                </div>
                <div class="control-name">
                    {{ user.name }}
                    @if (user.is_verified) {
                        <i class="iconfont icon-shield" i18n-title title="This user is verified"></i>
                    }
                    
                </div>
                <div class="control-meta">uid: {{ user.id }}</div>
                <div class="control-desc"></div>
                <a routerLink="account/profile" class="btn btn-primary" i18n>Edit Profile</a>
                <div class="count-bar">
                    <div class="count-item">
                        <div class="count">{{ user.following_count| numberFormat }}</div>
                        <span i18n>Following</span>
                    </div>
                    <div class="count-item">
                        <div class="count">{{ user.follower_count| numberFormat }}</div>
                        <span i18n>Followers</span>
                    </div>
                    <div class="count-item">
                        <div class="count">{{ user.post_count| numberFormat }}</div>
                        <span i18n>Posts</span>
                    </div>
                </div>

                <div class="link-panel tablet-collapse">
                    <a>
                        <i class="iconfont icon-map-marker"></i>
                        {{ user.country }}
                    </a>
                    @if (user.mobile) {
                    <a>
                        <i class="iconfont icon-mobile"></i>
                        {{ user.mobile }}
                    </a>
                    }
                    
                    <a>
                        <i class="iconfont icon-mail"></i>
                        {{ user.email }}
                    </a>
                </div>
            </div>  
            }
           
        </div>
        <div class="col-12" [ngClass]="{'col-md-9': diplayMode < 1}">
            <div class="tab-nav-bar" [ngClass]="{'nav-more-open': moreVisible}">
                <div class="tab-bar" (click)="moreVisible = false">
                    @for (item of tabItems; track $index) {
                        <a class="item" [routerLink]="item.url" [ngClass]="{active: item.active}">{{ item.name }}</a>
                    }
                </div>
                @if (moreItems && moreItems.length > 0) {
                <div class="nav-more-bar">
                    <div class="more-icon" (click)="moreVisible = !moreVisible">
                        <i class="iconfont icon-ellipsis-v"></i>
                    </div>
                    <div class="more-pane" (click)="moreVisible = false">
                        @for (item of moreItems; track $index) {
                            <a class="item" [routerLink]="item.url" [ngClass]="{active: item.active}">
                                <i class="iconfont" [ngClass]="item.icon"></i>
                                <span>{{ item.name }}</span>
                            </a>
                        }
                    </div>
                </div>
                }
                
            </div>
            <div class="tab-nav-body">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
@if (moreVisible) {
    <div class="tablet-mask tablet-visible" (click)="moreVisible = false"></div>
}


