
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="person-box" *ngIf="user">
                <div class="avatar">
                    <img [src]="user.avatar|asset" [alt]="user.name">
                </div>
                <div class="name">{{ user.name }}</div>
                <div class="meta">uid: {{ user.id }}</div>
                <div class="desc">{{ user.name }}</div>
                <a routerLink="profile" class="btn btn-primary" i18n>Edit Profile</a>
                <div class="count-bar">
                    <div class="count-item">
                        <div class="count">{{ 0 | numberFormat }}</div>
                        <span i18n>Following</span>
                    </div>
                    <div class="count-item">
                        <div class="count">{{ 0 | numberFormat }}</div>
                        <span i18n>Followers</span>
                    </div>
                    <div class="count-item">
                        <div class="count">{{ 0 | numberFormat }}</div>
                        <span i18n>Posts</span>
                    </div>
                </div>

                <div class="link-panel">
                    <a>
                        <i class="iconfont icon-map-marker"></i>
                        CHINA
                    </a>
                    <a *ngIf="user.mobile">
                        <i class="iconfont icon-mobile"></i>
                        {{ user.mobile }}
                    </a>
                    <a>
                        <i class="iconfont icon-mail"></i>
                        {{ user.email }}
                    </a>
                </div>
            </div>  
        </div>
        <div class="col-md-9">
            <div class="tab-bar">
                <a class="item" routerLink="home" routerLinkActive="active"  i18n>Overview</a>
                <a class="item" routerLink="bulletin" routerLinkActive="active" i18n>Bulletin</a>
                <a class="item" routerLink="setting" routerLinkActive="active" i18n>Setting</a>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

