@use '../../theme/theme';
@use '../../../bootstrap/desktop/member';
.person-box {
    margin: 5rem 0;
    .control-avatar {
        text-align: center;
        img {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            border: 1px solid var(--#{theme.$prefix}border);
        }
    }
    .control-name,
    .control-meta {
        text-align: center;
    }
    .control-name {
        font-size: 2rem;
        font-weight: 700;
        position: relative;
        .iconfont {
            position: absolute;
            // right: 0;
            top: 0;
            font-size: .8rem;
            color: var(--#{theme.$prefix}success);
        }
    }
    .control-meta {
        color: var(--#{theme.$prefix}meta-text);
    }
    .control-desc {
        margin: 1rem 0;
    }
    .btn {
        display: block;
    }
}
.count-bar {
    display: flex;
    margin-top: 0.625rem;
    .count-item {
        flex: 1;
        text-align: center;
        font-size: 0.75rem;
        &:not(:last-of-type) {
            border-right: 1px solid var(--#{theme.$prefix}border);
        }
    }
}

.link-panel {
    margin-top: 1rem;
    a {
        display: block;
    }
}
.tab-bar {
    .item {
        &:first-of-type {
            border-bottom-left-radius: 0;
        }
        &:last-of-type {
            border-bottom-right-radius: 0;
        }
    }
}

.tab-nav-bar {
    display: flex;
    margin-top: 2rem;
    margin-bottom: .8rem;
    border-bottom: 1px solid var(--#{theme.$prefix}border);
    .tab-bar {
        flex: 1;
    }
    .nav-more-bar {
        position: relative;
    }
    .more-icon {
        padding: 0 .5rem;
        line-height: 2.5rem;
    }
    .more-body {
        position: absolute;
        display: none;
        right: 0;
        width: 12rem;
        z-index: 5;
        border: 1px solid var(--#{theme.$prefix}border);
        border-top: none;
        background-color: var(--#{theme.$prefix}panel);
        color: var(--#{theme.$prefix}body-text);
        text-align: left;
        box-shadow: 0 0 10px rgba(var(--#{theme.$prefix}mask-rgb),.7);
        border-radius: .3125rem;
        .item {
            display: flex;
            line-height: 2.5rem;
            padding: 0 .8rem;
            cursor: pointer;
            &:hover {
                background-color: var(--#{theme.$prefix}body);
            }
            &.active {
                background-color: var(--#{theme.$prefix}primary);
                color: var(--#{theme.$prefix}primary-text);
            }
            &:first-of-type {
                border-top-left-radius: 0.3125rem;
                border-top-right-radius: 0.3125rem;
            }
            &:last-of-type {
                border-bottom-left-radius: 0.3125rem;
                border-bottom-right-radius: 0.3125rem;
            }
        }
        .iconfont {
            display: inline-block;
            width: 1.5rem;
            color: var(--#{theme.$prefix}body-text);
        }
    }
    &.nav-more-open {
        .more-body {
            display: block;
        }
    }
}

.tab-nav-body {
    margin-bottom: 3rem;
}

.container-full {
    .tab-nav-bar {
        display: none;
    }
    .row {
        margin: 0;
    }
    .col-12 {
        padding: 0;
    }
}

:host ::ng-deep {
    @include member.list-table;
    @include member.member-container;

}

@media (min-width: 48rem) {
    .person-box {
        .control-name,
        .control-meta {
            text-align: left;
        }
    }
}