.search-dialog {
    .tab-header {
        line-height: 3.125rem;
        text-align: center;
        .tab-item {
            display: inline-block;
            padding: 0 0.5rem;
            box-sizing: border-box;
            cursor: default;
            &.active {
                border-bottom: 0.3125rem solid;
            }
        }
    }
    .search-input {
        position: relative;
        font-size: 1.25rem;
        background-color: #f4f4f4;
        margin: 0 -10px;
        input {
            height: 2.5rem;
            width: 100%;
            box-sizing: border-box;
            background-color: transparent;
            padding-left: 3rem;
            outline: none;
            border: none;
        }
        .iconfont {
            position: absolute;
            top: 0.4375rem;
        }
        .icon-search {
            left: .5rem;
        }
        .icon-close {
            display: none;
            right: .5rem;
        }
        &.on-edit {
            .icon-search {
                display: none;
            }
            .icon-close {
                display: block;
            }
            input {
                padding-left: .5rem;
                padding-right: 3rem;
            }
        }
    }
    .user-item {
        display: inline-block;
        width: 20rem;
        border: 0.0625rem solid;
        padding: 0.5rem;
        .avatar {
            display: inline-block;
            img {
                width: 3.75rem;
                border-radius: 50%;
            }
        }
        .name {
            display: inline-block;
            * {
                margin: 0;
            }
        }
    }
}
