<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>图文及媒体素材</li>
        </ul>
    </app-page-tip>

    <div class="tab-bar">
        @for (item of tabItems; track $index) {
            <a class="item" [class.active]="queries.type().value() == item.value" (click)="tapTab(item.value)">{{ item.name }}</a>
        }
    </div>

    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [formField]="queries.keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    @if (queries.type().value() == 'news') {
                        <a routerLink="create" class="btn btn-info">创建</a>
                    } @else {
                        <a (click)="open(modal)" class="btn btn-info">创建</a>
                    }
                    <app-action-button class="btn btn-danger" (tapped)="tapPull($event)">拉取同步</app-action-button>
                </div>
            </form>
        </div>

        @if (queries.type().value() == 'image' || queries.type().value() == 'video') {
            <div class="row">
                @for (item of items(); track $index) {
                    <div class="col-md-3">
                    <div class="media-item">
                        <div class="thumb" [title]="item.title">
                            <img [src]="item.thumb" [alt]="item.title">
                        </div>
                        <div class="name" [title]="item.title">{{ item.title }}</div>
                        <div class="time">{{ item.created_at | ago }}</div>
                        <div class="action">
                            <div class="btn-group">
                                @if (item.media_id) {
                                    <a class="btn btn-info" (click)="tapCopy(item.media_id, $event)" [title]="'复制media_id:' + item.media_id">
                                        <i class="iconfont icon-copy"></i>
                                    </a>
                                } @else {
                                    <a class="btn btn-primary" (click)="tapAsync(item)" title="同步到公众号">
                                        <i class="iconfont icon-refresh"></i>
                                    </a>
                                }
                                <a class="btn btn-danger" (click)="tapRemove(item)" title="删除">
                                    <i class="iconfont icon-trash"></i>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                }
            </div>
        } @else {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>标题</th>
                        <th>类型</th>
                        <th>Media Id</th>
                        @if (queries.type().value() == 'news') {
                            <th>发布状态</th>
                            <th>当前发布ID</th>
                        }
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of items(); track $index) {
                        <tr>
                        <td>{{ item.id }}</td>
                        <td>
                            @if (item.type === 'news' && item.parent_id > 0) {
                                [子素材]
                            }
                            {{ item.title }}</td>
                        <td>{{ formatType(item.type) }}</td>
                        <td>
                            @if (item.media_id) {
                                <div (click)="tapCopy(item.media_id, $event)" title="复制media_id">
                                    {{ item.media_id }}
                                </div>
                            }
                            
                        </td>
                        @if (queries.type().value() == 'news') {
                            <td>{{ formatPublishStatus(item.publish_status) }}</td>
                            <td>{{ item.publish_id }}</td>
                        }
                        <td>
                            <div class="btn-group">
                                @if (item.type == 'news') {
                                     <a class="btn btn-light btn-xs" [routerLink]="['edit', item.id]" title="编辑">
                                        <i class="iconfont icon-edit"></i>
                                    </a>
                                }
                                @if (!item.media_id) {
                                    <a class="btn btn-primary" (click)="tapAsync(item)" title="同步到公众号">
                                        <i class="iconfont icon-refresh"></i>
                                    </a>
                                }
                                <a class="btn btn-danger" (click)="tapRemove(item)" title="删除">
                                    <i class="iconfont icon-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    }
                    
                </tbody>
            </table>
        }
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [formField]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
    </div>
</div>

<app-dialog-box #modal [title]="'新增素材'">
    <app-bot-edit-media [(value)]="editModel" />
</app-dialog-box>