<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>图文及媒体素材</li>
        </ul>
    </app-page-tip>

    <div class="tab-bar">
        <ng-container *ngFor="let item of tabItems">
            <a class="item" [ngClass]="{active: queries.type == item.value}" (click)="tapTab(item.value)">{{ item.name }}</a>
        </ng-container>
    </div>

    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a routerLink="create" class="btn btn-info" *ngIf="queries.type == 'news'">创建</a>
                    <a (click)="open(modal)" class="btn btn-info" *ngIf="queries.type != 'news'">创建</a>
                    <app-action-button class="btn btn-danger" (tapped)="tapPull($event)">拉取同步</app-action-button>
                </div>
            </form>
        </div>

        <ng-container *ngIf="queries.type == 'image' || queries.type == 'video'; else elseTemplate">
            <div class="row">
                <div class="col-md-3" *ngFor="let item of items">
                    <div class="media-item">
                        <div class="thumb" [title]="item.title">
                            <img [src]="item.thumb" [alt]="item.title">
                        </div>
                        <div class="name" [title]="item.title">{{ item.title }}</div>
                        <div class="time">{{ item.created_at | ago }}</div>
                        <div class="action">
                            <div class="btn-group">
                                <a class="btn btn-info" (click)="tapCopy(item.media_id, $event)" *ngIf="item.media_id" [title]="'复制media_id:' + item.media_id">
                                    <i class="iconfont icon-copy"></i>
                                </a>
                                <a class="btn btn-primary" *ngIf="!item.media_id" (click)="tapAsync(item)" title="同步到公众号">
                                    <i class="iconfont icon-refresh"></i>
                                </a>
                                <a class="btn btn-danger" (click)="tapRemove(item)" title="删除">
                                    <i class="iconfont icon-trash"></i>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #elseTemplate>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>标题</th>
                        <th>类型</th>
                        <th>Media Id</th>
                       <ng-container *ngIf="queries.type == 'news'">
                        <th>发布状态</th>
                        <th>当前发布ID</th>
                       </ng-container>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td>{{ item.id }}</td>
                        <td>
                            <ng-container *ngIf="item.type === 'news' && item.parent_id > 0">
                                [子素材]
                            </ng-container>
                            {{ item.title }}</td>
                        <td>{{ formatType(item.type) }}</td>
                        <td>
                            <div *ngIf="item.media_id" (click)="tapCopy(item.media_id, $event)" title="复制media_id">
                                {{ item.media_id }}
                            </div>
                        </td>
                        <ng-container *ngIf="queries.type == 'news'">
                            <td>{{ formatPublishStatus(item.publish_status) }}</td>
                            <td>{{ item.publish_id }}</td>
                           </ng-container>
                        <td>
                            <div class="btn-group  btn-group-xs">
                                <a class="btn btn-light btn-xs" [routerLink]="['edit', item.id]" *ngIf="item.type == 'news'" title="编辑">
                                    <i class="iconfont icon-edit"></i>
                                </a>
                                <a class="btn btn-primary" *ngIf="!item.media_id" (click)="tapAsync(item)" title="同步到公众号">
                                    <i class="iconfont icon-refresh"></i>
                                </a>
                                <a class="btn btn-danger" (click)="tapRemove(item)" title="删除">
                                    <i class="iconfont icon-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </ng-template>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
</div>

<app-dialog-box #modal [title]="'新增素材'">
    <app-bot-edit-media [(value)]="editData"></app-bot-edit-media>
</app-dialog-box>