<div class="container-fluid">
    <div class="panel-container book-list-info" *ngIf="data">
        <div class="info-main">
            <div class="title">{{ data.title }}</div>
            <p class="desc">{{ data.description }}</p>
            <div class="info-footer">
                <a href="">{{ data.user?.name }}</a>
                <span>{{ data.created_at }}</span>
            </div>
        </div>
        <div class="info-action">
            <div class="info-count">
                <span>{{ data.book_count }}本书</span>
                <span>{{ data.click_count }}浏览</span>
                <span>{{ data.collect_count }}收藏</span>
            </div>
            <div class="collect-btn">
                <i class="iconfont icon-heart"></i>
                收藏
            </div>
        </div>
    </div>
    <div class="panel-container">
        <ng-container *ngFor="let item of items">
            <div class="list-book-item">
                <div class="thumb">
                    <img [src]="item.book?.cover" alt="">
                </div>
                <div class="info">
                    <a class="title">{{ item.book.name }}</a>
                    <p>
                        <a>{{ item.book.author.name }}</a>
                        <span>1w</span>
                        <span>完结</span>
                    </p>
                    <p>
                        更新时间：{{ item.book.updated_at }}
                    </p>
                    <p>
                        单主评分：
                        <app-star [ngModel]="item.star"></app-star>
                    </p>
                </div>
                <p class="remark">
                    {{ item.remark }}
                </p>
                <div class="action-box">
                    <a href="">
                        赞
                    </a>
                    <a href="">
                        踩
                    </a>
                    <a href="">
                        加入书架
                    </a>
                </div>
            </div>
        </ng-container>
    </div>

</div>