<div class="col-md-12">
    <div class="panel self-box" [ngClass]="{'edit-mode': editMode}">
        <div class="panel-header">
            <span>你的导航</span>

            <div class="custom-btn" (click)="editMode = !editMode">
                <i class="iconfont icon-cog"></i>
                自定义
            </div>
            <div class="add-btn" (click)="tapAdd(modal)">
                <i class="iconfont icon-plus"></i>
                添加
            </div>
        </div>
        <div class="panel-body">
            <div class="group-item" *ngFor="let group of items">
                <div class="group-name">{{ group.name }}</div>
                <div>
                    <ng-container *ngFor="let item of group.items">
                        <a [href]="item.link" target="_blank" class="site-item" rel="noopener noreferrer">
                            <i class="iconfont icon-close"></i>
                            {{ item.name }}
                            <i class="iconfont icon-edit"></i>
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a href="javascript:;" class="btn">本 地 保 存</a>
            <a href="javascript:;" class="btn">云 端 保 存</a>
            <a href="javascript:;" class="btn">恢 复 默 认</a>
            <a href="javascript:;" class="btn panel-close">关 闭 面 板</a>
        </div>
    </div>
</div>
<app-dialog-box #modal [scrollable]="false">
    <div class="form-table">
        <div class="input-group">
            <label for="group">分组</label>
            <div>
                <select id="group" class="form-control" [(ngModel)]="editData.group_id">
                    <option [value]="0">作为分组名</option>
                    <option *ngFor="let item of items" [value]="item.id">{{ item.name }}</option>
                </select>
            </div>
        </div>
        <div class="input-group">
                <label for="name">名称</label>
                <div>
                    <input type="text" id="name" class="form-control" [(ngModel)]="editData.name" placeholder="请输入 名称">
                </div>
        </div>
        <div class="input-group" *ngIf="editData.group_id > 0">
                <label for="link">链接</label>
                <div>
                    <input type="text" id="link" class="form-control" [(ngModel)]="editData.link" placeholder="请输入网址">
                </div>
        </div>
    </div>
</app-dialog-box>