<div class="col-md-12">
    <div class="panel self-box">
        <div class="panel-header">
            <span>你的导航</span>

            <div class="custom-btn">
                <i class="fa fa-cog"></i>
                自定义
            </div>
            <div class="add-btn">
                <i class="fa fa-plus"></i>
                添加
            </div>
        </div>
        <div class="panel-body">
            <div class="group-item">
                <div class="group-name">资讯</div>
                <div>
                    <a href="https://www.cnblogs.com/" target="_blank" class="site-item" rel="noopener noreferrer">
                        <i class="fa fa-times"></i>
                        博客园
                        <i class="fa fa-edit"></i>
                    </a><a href="https://www.freebuf.com/" target="_blank" class="site-item" rel="noopener noreferrer">
                        <i class="fa fa-times"></i>
                        FreeBuf
                        <i class="fa fa-edit"></i>
                    </a><a href="http://www.ifeng.com/" target="_blank" class="site-item" rel="noopener noreferrer">
                        <i class="fa fa-times"></i>
                        凤凰网
                        <i class="fa fa-edit"></i>
                    </a><a href="https://www.ithome.com/" target="_blank" class="site-item" rel="noopener noreferrer">
                        <i class="fa fa-times"></i>
                        IT之家
                        <i class="fa fa-edit"></i>
                    </a>
                </div>
            </div>
            <div class="group-item">
                <div class="group-name">论坛</div>
                <div>
                    <a href="https://www.3dmgame.com/" target="_blank" class="site-item" rel="noopener noreferrer">
                        <i class="fa fa-times"></i>
                        3DM
                        <i class="fa fa-edit"></i>
                    </a><a href="https://www.bilibili.com/" target="_blank" class="site-item" rel="noopener noreferrer">
                        <i class="fa fa-times"></i>
                        哔哩哔哩
                        <i class="fa fa-edit"></i>
                    </a>
                </div>
            </div>
            <div class="group-item">
                <div class="group-name">工具</div>
                <div>
                    <a href="https://github.com/" target="_blank" class="site-item" rel="noopener noreferrer">
                        <i class="fa fa-times"></i>
                        Github
                        <i class="fa fa-edit"></i>
                    </a><a href="https://www.qiniu.com/" target="_blank" class="site-item" rel="noopener noreferrer">
                        <i class="fa fa-times"></i>
                        七牛云
                        <i class="fa fa-edit"></i>
                    </a><a href="https://www.iconfont.cn/" target="_blank" class="site-item" rel="noopener noreferrer">
                        <i class="fa fa-times"></i>
                        Iconfont
                        <i class="fa fa-edit"></i>
                    </a><a href="https://ziyuan.baidu.com/" target="_blank" class="site-item" rel="noopener noreferrer">
                        <i class="fa fa-times"></i>
                        站长工具
                        <i class="fa fa-edit"></i>
                    </a>
                </div>
            </div>
            <div class="group-item">
                <div class="group-name">购物</div>
                <div>
                    <a href="https://www.taobao.com/" target="_blank" class="site-item" rel="noopener noreferrer">
                        <i class="fa fa-times"></i>
                        淘宝
                        <i class="fa fa-edit"></i>
                    </a><a href="https://www.jd.com/" target="_blank" class="site-item" rel="noopener noreferrer">
                        <i class="fa fa-times"></i>
                        京东
                        <i class="fa fa-edit"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a href="javascript:;" class="btn">本 地 保 存</a>
            <a href="javascript:;" class="btn">云 端 保 存</a>
            <a href="javascript:;" class="btn">恢 复 默 认</a>
            <a href="javascript:;" class="btn panel-close">关 闭 面 板</a>
        </div>
    </div>
</div>