<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>主动发送消息</li>
        </ul>
    </app-page-tip>

    <div class="form-table-control panel-container">
        <div class="input-group-control">
            <label for="">接收者</label>
            <div>
                <select class="form-control" [field]="dataForm.to_type">
                    @for (item of toTypeItems; track $index; let i = $index) {
                    <option [value]="i">{{ item }}</option>
                    }
                </select>
                <div [hidden]="dataForm.to_type().value() == '0'">
                    <app-select-input [url]="selectUrl()" [field]="dataForm.to" [formatFn]="formatUser" />
                </div>
            </div>
        </div>
        <app-bot-message-editor [(value)]="editorData" (valueChange)="onEditorChange()" />

        <div class="btn-group">
            <app-action-button class="btn btn-success" (tapped)="tapSubmit($event)">发送</app-action-button>
            <a class="btn btn-danger">取消发送</a>
        </div>
    </div>
</div>
