<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>邀请记录列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" name="keywords" id="keywords" placeholder="搜索关键字" [ngModel]="queries.keywords">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
        <table class="table  table-bordered well">
            <thead>
            <tr>
                <th>ID</th>
                <th>邀请人</th>
                <th>被邀请人</th>
                <th>邀请码</th>
                <th>操作时间</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.inviter?.name }}</td>
                    <td>{{ item.user?.name }}</td>
                    <td>{{ item.code }}</td>
                    <td>{{ item.created_at }}</td>
                </tr>
                </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
  </div>
  