@if (visible) {
<div class="dialog-panel" animate.enter="panel-opened" animate.leave="panel-closed">
    <div class="panel-header">
        <i class="iconfont icon-close" (click)="visible = false"></i>
    </div>
    <div class="panel-search">
        <input type="text" [(ngModel)]="content" (keypress)="commentEnter($event)">
        <i class="iconfont icon-paper-plane" (click)="tapComment()"></i>
        <label for="file-upload" class="file-btn">
            <i class="iconfont icon-upload"></i>
            <input type="file" name="file" id="file-upload" (change)="uploadFile($event)" accept="image/*"/>
        </label>
    </div>
    <div class="panel-body">
        <app-pull-to-refresh [loading]="isLoading" [more]="hasMore" (moreChange)="tapMore()" (refreshChange)="tapRefresh()">
            @for (item of items; track $index) {
                <div class="comment-item">
                <div class="content">
                    @if (item.type == 1) {
                        <img [src]="item.content" alt="">
                    } @else {
                        {{ item.content }}
                    }
                </div>
                <div class="time">{{ item.created_at }}</div>
            </div>
            }
        </app-pull-to-refresh>
    </div>
</div>
}