<div class="title-bar">
    <span i18n>Service detail</span>
</div>
@if (data) {
<div class="panel-container">
    <div class="line-item">
        <span i18n>Service</span>
        <span class="name">
            @if (data.category) {
            [{{ data.category.name }}]
            }
            {{ data.name }}</span>
    </div>
    <div class="line-tip">
        {{ data.brief }}
    </div>
    @for (item of remark; track $index) {
    <div class="line-item">
        <label [for]="'form_' + item.name">{{ item.label }}</label>
        <input type="text" class="form-control" [id]="'form_' + item.name" [required]="item.required" [(ngModel)]="item.value">
    </div>
    }
    <div class="line-item">
        <span i18n>Amount</span>
        <app-number-input [(ngModel)]="amount" [min]="1" (ngModelChange)="onAmountChange()"></app-number-input>
    </div>
    <div class="line-item">
        <span i18n>Service charge</span>
        <span class="name">￥{{ total }}</span>
    </div>
    <button class="btn btn-primary" (click)="tapSubmit()" i18n>Place order</button>
</div>
}