<div class="title-bar">
    <span i18n>Service detail</span>
</div>
@if (data()) {
<div class="panel-container">
    <div class="line-item">
        <span i18n>Service</span>
        <span class="name">
            @if (data().category) {
            [{{ data().category.name }}]
            }
            {{ data().name }}</span>
    </div>
    <div class="line-tip">
        {{ data().brief }}
    </div>
    @for (item of dataForm.items; track $index) {
    <div class="line-item">
        <label [attr.for]="'form_' + item.name().value()">{{ item.label().value() }}</label>
        <input type="text" class="form-control" [id]="'form_' + item.name().value()" 
        [formField]="item.value">
    </div>
    }
    <div class="line-item">
        <span i18n>Amount</span>
        <app-number-input [formField]="dataForm.amount" />
    </div>
    <div class="line-item">
        <span i18n>Service charge</span>
        <span class="name">￥{{ total() }}</span>
    </div>
    <app-action-button class="btn btn-primary" (tapped)="tapSubmit($event)" [disabled]="dataForm().invalid()"i18n>Place order</app-action-button>
</div>
}