<div class="router-bar">
    <div class="tool-item" (click)="tapBack()">
        <i class="iconfont icon-arrow-left"></i>
    </div>
    <div class="title-bar">
        任务列表
    </div>
</div>
<div class="task-item active">
    <div class="item-header">
        <div class="item-name">每日任务</div>
        <div class="item-status">领取</div>
    </div>
    <div class="item-body">
        <p>就是任务详情</p>
        <div class="group-box">
            <div class="group-header">【奖励】</div>
            <div class="group-body">
                <div class="flex-line-item">
                    <span>钱</span>
                    <span>x100</span>
                </div>
                <div class="flex-line-item">
                    <span>钱</span>
                    <span>x100</span>
                </div>
            </div>
        </div>
        <div class="item-action">
            <a href="">领取</a>
            <a href="">放弃</a>
        </div>
    </div>
</div>