<div class="router-bar">
    <div class="tool-item" (click)="tapBack()">
        <i class="iconfont icon-arrow-left"></i>
    </div>
    <div class="title-bar">
        任务列表
    </div>
</div>
@for (item of items; track $index) {
    <div class="task-item" [ngClass]="{active: item.is_open}">
    <div class="item-header" (click)="item.is_open = !item.is_open">
        <div class="item-name">{{ item.title }}</div>
        <div class="item-status">领取</div>
    </div>
    <div class="item-body">
        <p>{{ item.description }}</p>
        <div class="group-box">
            <div class="group-header">【奖励】</div>
            <div class="group-body">
                <div class="flex-line-item">
                    <span>钱</span>
                    <span>x100</span>
                </div>
                <div class="flex-line-item">
                    <span>钱</span>
                    <span>x100</span>
                </div>
            </div>
        </div>
        <div class="item-action">
            <a href="">领取</a>
            <a href="">放弃</a>
        </div>
    </div>
</div>
}
<app-pagination [total]="total" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />