@use '../../../theme/theme';
.dialog-message-box {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    transition: all 500ms ease-in;
    z-index: 999;
    .dialog-body {
        display: inline-flex;
        padding: 0.75em .8em;
        background-color: var(--#{theme.$prefix}panel);
        box-shadow: 0 1px 3px rgba(var(--#{theme.$prefix}mask-rgb),.2);
        min-width: 18.75rem;
        border-radius: 0 0 .3em .3em;
        &.is-offset {
            border-radius: .3em;
        }
    }
    .message-icon {
        font-size: 2em;
        padding-right: .4em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .message-body {
        flex: 1;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .message-success {
        color: var(--#{theme.$prefix}success-text);
        background-color: var(--#{theme.$prefix}success);
    }
    .message-waining {
        color: var(--#{theme.$prefix}warning-text);
        background-color: var(--#{theme.$prefix}warning);
    }
    .message-error {
        color: var(--#{theme.$prefix}danger-text);
        background-color: var(--#{theme.$prefix}danger);
    }
    .message-info {
        color: var(--#{theme.$prefix}info-text);
        background-color: var(--#{theme.$prefix}info);
    }
}

.--fade-opened {
    opacity: 1;
    transition: all .5s ease-in;
}

.--fade-closed {
    opacity: 0;
    transition: all .5s ease-in;
}