@if (visible()) {
    <div class="dialog-message-box" animate.enter="--fade-opened" animate.leave="--fade-closed" (transitionend)="animationDone()" [style]="boxStyle">
        <div class="dialog-body" [class]="[theme, offset > 0 ? 'is-offset' : '']">
            @if (icon) {
            <div class="message-icon">
                <i class="iconfont" [class]="icon"></i>
            </div>
            }
            
            <div class="message-body">
                @if (title) {
                    <div class="message-title">{{ title }}</div>
                }
                
                @if (content) {
                    <div class="message-content">{{ content }}</div>
                }
                
            </div>
        </div>
    </div>
}