<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>实时访客列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>
                        访问时间
                    </td>
                    <td>
                        地域
                    </td>
                    <td>
                        来源
                    </td>
                    <td>
                        入口文件
                    </td>
                    <td>
                        搜索词
                    </td>
                    <td>访问ip</td>
                    <td>访问标识码</td>
                    <td>访问时长</td>
                    <td>访问页数</td>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td [title]="item.created_at">{{ item.created_at | ago }}</td>
                    <td>{{ item.country }}</td>
                    <td>{{ item.referrer }}</td>
                    <td>{{ item.enter_page }}</td>
                    <td>{{ item.search_keywords }}</td>
                    <td>{{ item.ip }}</td>
                    <td>{{ item.session_id }}</td>
                    <td>{{ item.stay_time | timestamp }}</td>
                    <td>{{ item.page_count | numberFormat }}</td>
                </tr>
                }
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
    </div>
</div>
