<div class="animation-container">
    <div class="effect-show" [style]="boxStyle()">效果展示</div>
    <div class="control-inline-group">
        <label for="">动效</label>
        <select class="form-control" [value]="value().name" (change)="onValueChange($event, 'name')">
            @for (item of items; track $index) {
                <option [value]="item.value">{{ item.name }}</option>
            }
        </select>
    </div>
    <div class="control-inline-group">
        <label for="">延时</label>
        <select class="form-control" [value]="value().delay" (change)="onValueChange($event, 'delay')">
            @for (item of delayItems; track $index) {
            <option [value]="item.value">{{ item.name }}</option>
            }
        </select>
    </div>
    <div class="control-inline-group">
        <label for="">时长</label>
        <select class="form-control" [value]="value().duration" (change)="onValueChange($event, 'duration')">
            @for (item of durationItems; track $index) {
            <option [value]="item.value">{{ item.name }}</option>
            }
        </select>
    </div>
    <div class="control-inline-group">
        <label for="">重复</label>
        <select class="form-control" [value]="value().loop" (change)="onValueChange($event, 'loop')">
            @for (item of loopItems; track $index) {
            <option [value]="item.value">{{ item.name }}</option>
            }
        </select>
    </div>
</div>