<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>引导页</li>
        </ul>
    </app-page-tip>

    <div class="panel-container">
        <a class="btn btn-primary" (click)="tapPlay()">开始</a>
    </div>

    
    <div class="code-container">
        <div class="code-header">
            <a>
                <i class="iconfont icon-copy"></i>
            </a>
            <a>
                <i class="iconfont icon-full-screen"></i>
            </a>
            <a>
                <i class="iconfont icon-cloud"></i>
            </a>
            <span>java</span>
        </div>
        <div class="highlight-bar">
            <span>&nbsp;</span>
            <span class="highlighted">&nbsp;</span>
            <span>&nbsp;</span>
        </div>
        <pre>
            <code></code>
        </pre>
        <div class="line-number-bar">
            <span>1</span>
            <span>2</span>
            <span>3</span>
        </div>
    </div>
</div>