@for (item of value(); track $index; let i = $index) {
    <div class="edit-row">
      <div class="content">
            @if (item.type < 1) {
              <textarea class="form-control" [value]="item.content" readonly></textarea>
            } @else if (item.type == 1) {
              <app-audio-player [src]="item.content" />
            } @else if (item.type == 2) {
              <app-video-player [src]="item.content" />
            }
      </div>
      <div class="edit-action">
          <i class="iconfont icon-edit" (click)="tapEdit(analysisModal, i)"></i>
          <i class="iconfont icon-close" (click)="tapRemove(i)"></i>
      </div>
    </div>
}
<a class="add-btn" (click)="tapEdit(analysisModal)">
    <i class="iconfont icon-plus"></i>
</a>

<app-dialog-box #analysisModal>
    <div class="form-group">
        <label>内容类型</label>
        <select class="form-control" [field]="analysisData.type">
            @for (item of analysisTypeItems; track $index; let i = $index) {
                <option [value]="i">{{ item }}</option>
            }
        </select>
    </div>
    @if (analysisData.type < 1) {
        <app-exam-editor [field]="analysisData.content" />
    } @else {
        <app-file-input [field]="analysisData.content" accept="*/*" />
    }
</app-dialog-box>