.search-bar {
    position: relative;
    height: 2.5rem;
    display: inline-block;
    border-radius: 1rem;
    border: 1px solid #ccc;
    background-color: rgba($color: #000000, $alpha: .1);
    input {
        background-color: transparent;
        border: none;
        outline: none;
        width: 8rem;
        height: 2.5rem;
        padding-left: 2.5rem;
        padding-right: .5rem;
    }
    .iconfont {
        position: absolute;
        top: .5rem;
        left: .5rem;
        font-size: 1.5rem;
    }
    &.focus {
        input {
            width: 20rem;
        }
    }
}