<div class="search-floor">
    <a class="search-icon" routerLink="search">
        <i class="iconfont icon-search"></i>
    </a>
</div>

<div class="banner-floor">
    <ng-container *ngFor="let item of items">
        <a class="recommend-item" [routerLink]="['category', item.cat_id, item.id]">
            <div class="item-image">
                <img [src]="item.cover | asset" alt="">
            </div>
            <div class="item-body">
                <div class="item-name">{{ item.title }}</div>
                <app-star></app-star>
            </div>
        </a>
    </ng-container>
</div>

<div class="category-floor">
    <ng-container *ngFor="let item of categories">
        <a class="cat-item" [routerLink]="['category', item.id]">
            <div class="item-icon">
                <img [src]="item.icon | asset" [alt]="item.name">
            </div>
            <div class="item-name">{{ item.name }}</div>
        </a>
    </ng-container>
</div>