<div class="user-page">
    <div class="container side-box">
        <div>
            <app-user-menu currentUrl="member/account"></app-user-menu>
        </div>
        <div class="account-box" *ngIf="user">
            <div class="account-tip">
                <a href="">安全中心</a>
                保障账号资产安全
            </div>
            <div class="account-header">
                <div>
                    <p>我的可用余额</p>
                    <div class="money">￥{{ user.money | numberFormat }}</div>
                </div>
                <div>
                    <p>
                        <i class="iconfont icon-mobile"></i>
                        全部余额：
                        <em>￥{{ user.money | numberFormat }}</em>
                    </p>
                    <p>
                        <i class="iconfont icon-mobile"></i>
                        锁定余额：
                        <em>0</em>
                    </p>
                    <p>
                        <i class="iconfont icon-mobile"></i>
                        账户状态：
                        <em>{{ user.status >= 10 ? '有效' : '冻结' }}</em>
                    </p>
                </div>
                <div>
                    <a class="btn btn-outline-primary">充值</a>
                </div>
            </div>
            <div class="row order-search">
               <div class="col-md-7 col-xl-8">
                    <div class="header-tab">
                        <a [ngClass]="{active: queries.type < 1}" (click)="tapType(0)">收支明细</a>
                        <a [ngClass]="{active: queries.type == 6}" (click)="tapType(6)">充值记录</a>
                    </div>
               </div>
               <div class="col-md-5 col-xl-4">
                    <form class="flat-search"  (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                        <input type="text" name="keywords" [ngModel]="queries.keywords">
                        <button>搜索</button>
                    </form>
               </div>
           </div>

           <table class="table table-hover">
            <thead>
                <tr>
                    <th>时间</th>
                    <th>金额</th>
                    <th>操作</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.created_at }}</td>
                    <td>{{ item.money > 0 ? '+' : '' }}{{ item.money }}</td>
                    <td>{{ item.type_label }}</td>
                    <td>{{ item.remark }}</td>
                </tr>
            </tbody>
           </table>
           <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
           <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
        </div>
    </div>
</div>
