a {
    text-decoration: none;
    color: #333;
}
.time-axis {
    position: relative;
    z-index: 1010;
    margin-left: 55px;
    .time-title {
        position: relative;
        margin: 60px 0;
        .time-year {
            margin-left: 20px;
            font-size: 20px;
            font-weight: 700;
            line-height: 1.5;
        }
        &::before {
            content: " ";
            position: absolute;
            left: 0;
            top: 50%;
            margin-left: -4px;
            margin-top: -4px;
            width: 8px;
            height: 8px;
            background: #bbb;
            border-radius: 50%;
        }
    }
    .time-items {
        margin: 30px 0;
        .time-item {
            display: block;
            position: relative;
            transition-duration: .2s;
            transition-timing-function: ease-in-out;
            transition-delay: 0s;
            transition-property: border;
            border-bottom: 1px dashed #ccc;
            line-height: 40px;
            .title {
                margin-left: 60px;
                font-size: 16px;
                font-weight: 400;
                line-height: inherit;
            }
            .time {
                position: absolute;
                font-size: 12px;
                left: 20px;
                top: 0px;
            }
            &::before {
                content: " ";
                position: absolute;
                left: 0;
                top: 17px;
                width: 6px;
                height: 6px;
                margin-left: -4px;
                background: #bbb;
                border-radius: 50%;
                border: 1px solid #fff;
                transition-duration: .2s;
                transition-timing-function: ease-in-out;
                transition-delay: 0s;
                transition-property: background;
            }
            &:hover {
                border-bottom-color: #666;
                &::before {
                    background: #222;
                }
            }
        }
    }
    &:after {
        content: " ";
        position: absolute;
        top: 20px;
        left: 0;
        margin-left: -2px;
        width: 4px;
        height: 100%;
        background: #f5f5f5;
        z-index: -1;
    }
}