<div class="container">
    <div class="book-full-body">
        <div class="book-sort">
            <a routerLink="../category" i18n>Categories</a>
            <a routerLink="../tag" i18n>Tags</a>
            <a class="active" i18n>Archives</a>
        </div>
        <div class="time-axis">
            <ng-container *ngFor="let item of items">
                <div class="time-title">
                    <div class="time-year">{{ item.year }}</div>
                </div>
                <div class="time-items">
                    <ng-container *ngFor="let it of item.children">
                        <a class="time-item" routerLink="../{{ it.id }}">
                            <div class="title">{{ it.title }}</div>
                            <div class="time">{{ it.date }}</div>
                        </a>
                    </ng-container>
                </div>
            </ng-container>

        </div>
    </div>
</div>