<div class="reflect-container">
    <div class="selection-container" [ngStyle]="boxStyle">
        <div class="rotate-icon">
            <i class="iconfont icon-refresh"></i>
        </div>
        <div class="eight-corner">
            <div class="cursor lt" (mousedown)="onMoveLt($event)"></div>
            <div class="cursor t" (mousedown)="onMoveT($event)"></div>
            <div class="cursor rt" (mousedown)="onMoveRt($event)"></div>
            <div class="cursor r" (mousedown)="onMoveR($event)"></div>
            <div class="cursor rb" (mousedown)="onMoveRb($event)"></div>
            <div class="cursor b" (mousedown)="onMoveB($event)"></div>
            <div class="cursor lb" (mousedown)="onMoveLb($event)"></div>
            <div class="cursor l" (mousedown)="onMoveL($event)"></div>
        </div>
    </div>
    <div class="horizontal-bar" [ngStyle]="horizontalStyle"></div>
    <div class="vertical-bar" [ngStyle]="verticalStyle"></div>
</div>