<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>管理帖子列表</li>
            @if (forum) {
                <li>当前板块：{{ forum.name }}</li>
            }
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    @if (!isMultiple()) {
                        <a class="btn" [class]="{'btn-success': isReview(), 'btn-outline-success': !isReview()}" (click)="toggleReview()">审核模式</a>
                    }
                    @if (!isReview()) {
                        <a class="btn" [class]="{'btn-danger': isMultiple(), 'btn-outline-info': !isMultiple()}" (click)="toggleMultiple()">批量操作</a>
                    }
                </div>
            </form>
        </div>
    
        <table class="table table-hover" [hidden]="isReview()">
            <thead>
                <tr>
                    <th [hidden]="!isMultiple()">
                        <i class="checkbox" [class.checked]="isChecked()" (click)="toggleCheck()"></i>
                    </th>
                    <th>ID</th>
                    <th>标题</th>
                    <th>发布者</th>
                    <th>板块</th>
                    <th>统计</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td [hidden]="!isMultiple()">
                        <i class="checkbox" [class]="{checked: item.checked}" (click)="toggleCheck(item)"></i>
                    </td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.user?.name }}</td>
                    <td>{{ item.forum?.name }}</td>
                    <td>浏览：{{ item.view_count }}/ 回复：{{ item.post_count }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
            <tfoot [hidden]="!isMultiple || items().length < 1">
                <tr>
                    <td>
                        <i class="checkbox" [class.checked]="isChecked()" (click)="toggleCheck()"></i>
                    </td>
                    <td colspan="4">
                        <button class="btn btn-danger" [disabled]="checkedItems().length < 1" (click)="tapRemoveMultiple()">删除选中项（{{ checkedItems().length }}）</button>
                    </td>
                </tr>
            </tfoot>
        </table>

        <app-stack-container #stack [hidden]="!isReview()">
            @for (item of items(); track $index) {
                <app-stack-item>
                    <h3 class="review-header">
                        {{ item.title }}
                    </h3>
                    <div class="review-body">
                        @if (item.content) {
                            <app-post-block [value]="item.content" />
                        }

                        <div class="review-stamp" [class]="{'btn-success': item.status == 1, 'btn-danger': item.status == 9}">
                            {{ formatStatus(item.status) }}
                        </div>
                    </div>
                    <div class="review-footer">
                        <div class="user-label-item">
                            <div class="item-avatar">
                                <img [src]="item.user.avatar" [alt]="item.user.name">
                            </div>
                            <div class="item-body">
                                {{item.user.name}}
                            </div>
                        </div>
                        <div class="review-action">
                            <div class="btn-group">
                                <a class="btn btn-info" (click)="stack.back()">
                                    <i class="iconfont icon-chevron-left"></i>
                                </a>
                                @if (item.status != 1) {
                                    <a class="btn btn-primary" (click)="tapReview(stack, item, 1)">通过</a>
                                }
                                @if (item.status != 9) {
                                    <a class="btn btn-warning"  (click)="tapReview(stack, item, 9)">拒绝</a>
                                }
                                <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                                <a class="btn btn-info" (click)="stack.next()">
                                    <i class="iconfont icon-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </app-stack-item>
            }
        </app-stack-container>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
    </div>
</div>