<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>生成CRUD 数据库增查改删</li>
            <li>控制器、模型、视图至少选择一个，不然无法生成</li>
        </ul>
    </app-page-tip>
    <div class="panel-container form-table-control">
        <div class="input-group-control">
            <label for="">模块名</label>
            <div>
                <input type="text" class="form-control" [field]="module">
            </div>
        </div>
        <div class="input-group-control">
            <label for="">数据表</label>
            <div>
                <ng-select [field]="selected" [items]="tableItems" bindLabel="name" bindValue="value" />
            </div>
        </div>
        <div class="input-group-control">
            <label for="">文件名</label>
            <div>
                <input type="text" class="form-control" [field]="name">
            </div>
        </div>
        <div class="input-group-control">
            <label for=""></label>
            <div>
                <app-switch [field]="hasController">生成控制器</app-switch>
            </div>
        </div>
        <div class="input-group-control">
            <label for=""></label>
            <div>
                <app-switch [field]="hasModel">生成数据模型</app-switch>
            </div>
        </div>
        <div class="input-group-control">
            <label for=""></label>
            <div>
                <app-switch [field]="hasView">生成视图</app-switch>
            </div>
        </div>
        <div class="btn-group">
            <div class="btn btn-primary" (click)="tapSubmit(false)">生成</div>
            <div class="btn btn-info" (click)="tapSubmit(true)">预览</div>
        </div>
    </div>
</div>
<app-dialog-box title="预览" [fullscreen]="true">
    @for (item of previewItems; track $index) {
    <div class="preview-item">
        <div class="item-path">{{ item.path }}</div>
        <div class="item-body">
            <pre><code>{{ item.content }}</code></pre>
        </div>
    </div>
    }
</app-dialog-box>