<div class="row">
    <div class="offset-md-8 col-md-4">
        <form class="search-bar" (submit)="tapSearch($event)">
            <input type="text" class="form-control" i18n-placeholder placeholder="Please input a keyword" id="keywords" [field]="queries.keywords">
            <button class="btn btn-primary" i18n>Search</button>
            <a class="btn btn-info" routerLink="apply" i18n>Apply for service</a>
        </form>
    </div>
</div>

@for (item of items(); track $index) {
    <div class="service-item">
        <div class="title">
            {{ item.name }}
        </div>
        <div class="brief">
            {{ item.brief }}
        </div>
        <a class="btn">
            <span i18n>Applied</span>
        </a>
    </div>
}
<app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />