<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>分类列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <a class="btn btn-success pull-right" (click)="open(modal)">新增分类</a>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>分类名</th>
                    <th>统计</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.level | treeLevel }}{{ item.name }}</td>
                    <td></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-info"
                                routerLink="../software" [queryParams]="{category: item.id}">查看</a>
                            <a class="btn btn-light" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
    
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
    </div>
</div>

<app-dialog-box #modal [title]="editData.id > 0 ? '编辑分类' : '新增分类'" [scrollable]="false">
    <div class="form-group">
        <label for="name-input">名称</label>
        <div class="input-group-control">
            <input class="form-control" id="name-input" [(ngModel)]="editData.name" placeholder="请输入名称">
        </div>
    </div>
    <div class="form-group">
        <label for="name-input">图标</label>
        <div class="input-group-control">
            <app-file-input [(ngModel)]="editData.icon"></app-file-input>
        </div>
    </div>
    <div class="form-group">
        <label>上级</label>
        <select id="parent_id" class="form-control" [(ngModel)]="editData.parent_id">
            <option [value]="0">-- 无上级分类 --</option>
            @for (item of categories; track $index) {
                <option [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
            }
           
        </select>
    </div>
</app-dialog-box>