<div class="user-picker" [ngClass]="{'picker-open': isFocus && items.length > 0, 'picker-focus': isFocus}">
    <div class="picker-input" (click)="tapOpen()">
        @if (value()) {
        <div class="picker-input-avatar">
            <img [src]="value().avatar|asset" [alt]="value().name">
        </div>
        }
        
        <div class="picker-input-body">
            <input #inputor type="text" id="keywords" [field]="queries.keywords" (ngModelChange)="tapRefresh()" [disabled]="disabled()">
            <div class="input-placeholder">
                @if (value()) {
                    <div class="placeholder-item">
                        <div class="item-name">
                            <span>{{ value().name }}</span>
                            (uid: {{ value().id }})</div>
                        <div class="item-meta">
                            @if (value().mobile) {
                                <p>{{ value().mobile }}</p>
                            }
                            @if (value().email) {
                                <p>{{ value().email }}</p>
                            }
                            
                        </div>
                    </div>
                } @else {
                    <div class="placeholder-label">{{ placeholder() }}</div>
                }
            </div>
            @if (value()) {
            <div class="picker-input-clear" (click)="tapClear()">
                <i class="iconfont icon-close"></i>
            </div>
            }
            
        </div>
    </div>
    <div class="picker-body">
        <ul>
            @for (item of items; track $index) {
            <li class="option-item" [ngClass]="{active: value() && item.id == value().id}" (click)="tapItem(item)">
                <div class="item-avatar">
                    <img [src]="item.avatar|asset" [alt]="item.name">
                </div>
                <div class="item-body">
                    <div class="item-name">{{ item.name }}</div>
                    <div class="item-meta">
                        <p>uid: {{ item.id }}</p>
                        @if (item.mobile) {
                            <p>{{ item.mobile }}</p>
                        }
                        @if (item.email) {
                            <p>{{ item.email }}</p>
                        }
                    </div>
                </div>
            </li>
            }
        </ul>
    </div>
</div>