<app-edit-header [title]="data && data.id > 0 ? '编辑应用' : '新增应用'" (submited)="tapSubmit()" [disabled]="form.invalid">
</app-edit-header>

<div class="container-fluid">
    <form class="form-table panel-container" [formGroup]="form" (ngSubmit)="tapSubmit()">
        <div class="input-group">
            <label for="name">应用名</label>
            <div>
                <input type="text" id="name" class="form-control" formControlName="name" placeholder="例如: xx应用">
                <div class="input-tip" *ngIf="name.invalid">请输入应用名</div>
            </div>
        </div>
        <div class="input-group">
            <label for="type">类型</label>
            <div>
                <select id="type" class="form-control" formControlName="type">
                    <option *ngFor="let item of typeItems; let i = index" [value]="i">{{ item }}</option>
                </select>
            </div>
        </div>
        <div class="input-group">
            <label for="domain">域名</label>
            <div>
                <input type="text" id="domain" class="form-control" formControlName="domain">
            </div>
        </div>
        <div class="input-group">
            <label for="description">介绍</label>
            <div>
                <textarea id="description" class="form-control" formControlName="description"></textarea>

            </div>
        </div>
        <ng-container *ngIf="data && data.id > 0">
            <div class="input-group">
                <label for="appid">App Id</label>
                <div>
                    <input type="text" id="appid" class="form-control" name="appid" [value]="data.appid" readonly>

                </div>
            </div>
            <div class="input-group">
                <label for="secret">Secret</label>
                <div>
                    <input type="text" id="secret" class="form-control" name="secret" [value]="data.secret" readonly
                        size="40">

                </div>
            </div>
            <div class="input-group">
                <label for="sign_type">签名方式</label>
                <div>
                    <select id="sign_type" class="form-control" formControlName="sign_type">
                        <option *ngFor="let item of signItems; let i = index" [value]="i">{{ item }}</option>
                    </select>

                </div>
            </div>
            <div class="input-group" *ngIf="signType > 0">
                <label for="sign_key">签名密钥</label>
                <div>
                    <textarea id="sign_key" class="form-control" formControlName="sign_key"></textarea>
                    <div class="input-tip">请输入签名密钥或签名组成字段请用“+”链接,例如：appid+timestamp+secret</div>
                </div>
            </div>
            <div class="input-group">
                <label for="encrypt_type">加密方式</label>
                <div>
                    <select id="encrypt_type" class="form-control" formControlName="encrypt_type">
                        <option *ngFor="let item of encryptItems; let i = index" [value]="i">{{ item }}</option>
                    </select>

                </div>
            </div>
            <div class="input-group" *ngIf="encryptType > 0">
                <label for="public_key">加密公钥</label>
                <div>
                    <textarea id="public_key" class="form-control" formControlName="public_key"></textarea>
                </div>
            </div>
            <div class="input-group" *ngIf="reviewable">
                <label for="rules">允许规则</label>
                <div>
                    <textarea id="rules" class="form-control" formControlName="rules"></textarea>
                    <div class="input-tip">
                        @ 匹配模块空间 ~ 接正则表达式 ^ 匹配开头 - 排除，其他匹配全路径
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="input-group">
            <label for="allow_self">允许手动生成</label>
            <div>
                <app-switch id="allow_self" formControlName="allow_self"></app-switch>
            </div>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-success">确认保存</button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>