<app-edit-header [title]="dataModel().id > 0 ? '编辑用户' : '新增用户'" (submited)="tapSubmit($event)" [disabled]="dataForm().invalid()" />
<div class="container-fluid">
    <form class="form-table-control" (submit)="tapSubmit2($event)">
        <div class="row">
            <div class="col-md-6">
                <app-panel title="基本信息">
                    <div class="input-group-control avatar-input" >
                        <label for="avatar">头像</label>
                        <div>
                            <div class="avatar">
                                <img [src]="dataModel().avatar">
                            </div>
                            <label for="fileUpload" class="btn btn-light">更改头像</label>
                            <input type="file" name="file" id="fileUpload" (change)="uploadFile($event)" accept="image/*"/>
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="name">昵称</label>
                        <div>
                            <input type="text" id="name" class="form-control" [formField]="dataForm.name" placeholder="例如:zodream">
                            @if (dataForm.name().invalid()) {
                            <div class="input-tip" >请输入昵称</div>
                            }
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="email">邮箱</label>
                        <div>
                            <input type="email" id="email" class="form-control" [formField]="dataForm.email">
                            @if (dataForm.email().invalid()) {
                            <div class="input-tip" >请输入邮箱</div>
                            }
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="sex">性别</label>
                        <div>
                            <app-check-input [formField]="dataForm.sex" rangeKey="value" [items]="sexItems" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="birthday">生日</label>
                        <div class="calendar-input">
                            <app-date-input [formField]="dataForm.birthday" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label>角色</label>
                        <div>
                            <app-select-input [multiple]="true" [items]="roleItems()" rangeKey="id" rangeLabel="display_name" [formField]="dataForm.roles" placeholder="选择角色" />
                        </div>
                    </div>
                    <div class="input-group-control">
                        <label>分区</label>
                        <div>
                            <ng-select [items]="zoneItems()" bindValue="id" bindLabel="name" [formField]="dataForm.zone_id" placeholder="选择分区" />
                        </div>
                    </div>
                </app-panel>
            </div>
            <div class="col-md-6">
                <app-panel title="修改密码">
                    <div class="input-group-control">
                        <label for="password">密码</label>
                        <div>
                            <input type="password" id="password" class="form-control" [formField]="dataForm.password"
                                placeholder="输入密码">

                        </div>
                    </div>
                    <div class="input-group-control">
                        <label for="confirm_password">确认密码</label>
                        <div>
                            <input type="password" id="confirm_password" class="form-control" [formField]="dataForm.confirm_password"
                                placeholder="输入确认密码">
                            @if (dataForm.confirm_password().invalid()) {
                                <div class="input-tip" >两次密码不一致</div>
                            }
                        </div>
                    </div>
                </app-panel>
            </div>
        </div>

        @if (dataModel().id > 0) {
        <div class="btn-group" >
            <app-action-button class="btn btn-primary" (tapped)="tapSubmit($event)" [disabled]="dataForm().invalid()">确认保存</app-action-button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
            <a class="btn btn-info" [routerLink]="['../../', dataModel().id]">查看账号明细</a>
        </div>
        }
    </form>
</div>
