<div class="container-fluid">
  <app-page-tip>
      <ul>
          <li>管理短信记录列表</li>
      </ul>
  </app-page-tip>
  <div class="panel-container">
      <div class="page-search-bar">
          <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
              <div class="input-group">
                  <label for="keywords">关键字</label>
                  <input type="text" class="form-control" [value]="keywords" name="keywords" ngModel id="keywords" placeholder="关键字">
              </div>
              <div class="input-group">
                <label for="type">类型</label>
                <select name="type"class="form-control" ngModel>
                  <option value="0">请选择</option>
                  <ng-container *ngFor="let item of typeItems">
                      <option [value]="item.value" [selected]="type == item.value">{{ item.name }}</option>
                  </ng-container>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">搜索</button>
          </form>
      </div>
  
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>手机号</th>
                  <th>短信内容</th>
                  <th>IP</th>
                  <th>状态</th>
                  <th>发送时间</th>
                  <th>操作</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of items">
                  <td>{{ item.id }}</td>
                  <td>{{ item.mobile }}</td>
                  <td>{{ item.content }}</td>
                  <td>{{ item.ip }}</td>
                  <td>{{ item.status }}</td>
                  <td>{{ item.created_at }}</td>
                  <td>
                      <div class="btn-group  btn-group-xs">
                          <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                      </div>
                  </td>
              </tr>
              
          </tbody>
      </table>

      <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="perPage" [directionLinks]="false" (pageChange)="tapPage()"></ngb-pagination>
  </div>
</div>