<ul class="tree-box">
    @for (item of items; track $index) {
        <ng-container *ngTemplateOutlet="fileItemTpl;context: {$implicit: item}"></ng-container>
    }
</ul>

<ng-template #fileItemTpl let-file>
    @if (file) {
        @if (file.expandable) {
            <li class="tree-item" [ngClass]="{open: file.expanded, active: activePath == file.path}">
                <div class="tree-item-header" [ngStyle]="getItemStyle(file)">
                    <i class="iconfont" [ngClass]="{'icon-chevron-right': file.expandable && !file.expanded, 'icon-chevron-down': file.expanded}" (click)="toggleOpen(file)"></i>
                    <i class="iconfont" [ngClass]="file.icon"></i>
                    <span (click)="tapItem(file)">{{ file.name }}</span>
                </div>
                @if (file.children) {
                <ul class="tree-item-body">
                    @for (it of file.children; track $index) {
                        <ng-container *ngTemplateOutlet="fileItemTpl;context: {$implicit: it}"></ng-container>
                    }
                </ul>
                }
                
            </li>
        } @else {
            <li class="tree-item" [ngClass]="{active: activePath == file.path}">
                <div class="tree-item-header" (click)="tapItem(file)" [ngStyle]="getItemStyle(file)">
                    <i class="iconfont"></i>
                    <i class="iconfont" [ngClass]="file.icon"></i>
                    <span>{{ file.name }}</span>
                </div>
            </li>
        }
    }
</ng-template>