<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>管理站点列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal" (ngSubmit)="tapSearch(searchForm.value)" #searchForm="ngForm">
                <div class="zre-input-group">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" [ngModel]="queries.keywords" name="keywords" id="keywords" placeholder="关键词">
                </div>
                <div class="zre-input-group">
                    <label>分类</label>
                    <select name="category" [ngModel]="queries.category" class="form-control">
                        <option [value]="0">请选择</option>
                        <option *ngFor="let item of categories" [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <div class="btn-group pull-right">
                    <a class="btn btn-success" routerLink="../category">分类管理</a>
                    <a class="btn btn-danger" routerLink="../tag">标签管理</a>
                    <a class="btn btn-info" (click)="open(modal)">新增站点</a>
                </div>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>站点名</th>
                    <th>域名</th>
                    <th>发布者</th>
                    <th>分类</th>
                    <th>分数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        <ng-container *ngIf="item.schema">
                            {{ item.schema }}://</ng-container>{{ item.domain }}</td>
                    <td>{{ item.user?.name }}</td>
                    <td>{{ item.category?.name }}</td>
                    <td title="点击修改评分" (click)="tapScoring(scoringModal, item)">{{ item.score || '--' }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-info"
                                routerLink="../page" [queryParams]="{site: item.id}">查看</a>
                            <a class="btn btn-light" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
        <app-pagination [total]="total" [(page)]="queries.page" [perPage]="queries.per_page" (pageChange)="tapPage()"></app-pagination>
    </div>
</div>

<app-dialog-box #scoringModal [title]="'站点评分'" [scrollable]="false">
    <div class="form-group">
        <label>分数%</label>
        <div class="zre-input-group">
            <input type="number" class="form-control" [(ngModel)]="scoringData.score" placeholder="请输入分数">
        </div>
    </div>
    <div class="form-group">
        <label>本次评分理由</label>
        <div class="zre-input-group">
            <textarea class="form-control" [(ngModel)]="scoringData.change_reason" placeholder="请输入评分理由"></textarea>
        </div>
    </div>
</app-dialog-box>

<app-dialog-box #modal [title]="editData.id > 0 ? '编辑站点' : '新增站点'">
    <div class="form-group">
        <label for="name-input">名称</label>
        <div class="zre-input-group">
            <input class="form-control" id="name-input" [(ngModel)]="editData.name" placeholder="请输入名称">
        </div>
    </div>
    <div class="form-group">
        <label>LOGO</label>
        <div class="zre-input-group">
            <app-file-input [(ngModel)]="editData.logo"></app-file-input>
        </div>
    </div>
    <div class="form-group">
        <label for="name-input1">Schema</label>
        <div class="zre-input-group">
            <input class="form-control" id="name-input1" [(ngModel)]="editData.schema" placeholder="请输入Schema: http/https">
        </div>
    </div>
    <div class="form-group">
        <label for="name-input2">域名</label>
        <div class="zre-input-group">
            <input class="form-control" id="name-input2" [(ngModel)]="editData.domain" placeholder="请输入域名" (blur)="onLinkBlur()">
        </div>
        <div class="input-tip" *ngIf="editExistData" title="已存在相同站点">
            <i class="iconfont icon-close-circle"></i>
            <a [href]="editExistData.schema + '://' + editExistData.domain" target="_blank">{{ editExistData.name }}</a>
        </div>
    </div>
    <div class="form-group">
        <label for="name-input3">简介</label>
        <div class="zre-input-group">
            <textarea class="form-control" id="name-input3" [(ngModel)]="editData.description" placeholder="请输入简介"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label>分类</label>
        <select class="form-control" [(ngModel)]="editData.cat_id">
            <option *ngFor="let item of categories" [value]="item.id">{{ item.level | treeLevel }}{{ item.name }}</option>
        </select>
    </div>
    <div class="form-group">
        <label>推荐</label>
        <select class="form-control" [(ngModel)]="editData.top_type">
            <option *ngFor="let item of topItems;let i = index" [value]="i">{{ item }}</option>
        </select>
    </div>
    <div class="form-group">
        <label>标签</label>
        <ng-select [multiple]="true" [items]="tagItems$ | async" [loading]="tagLoading" [typeahead]="tagInput$" bindLabel="name" [(ngModel)]="editData.tags" [addTag]="addTagFn" placeholder="选择标签"></ng-select>
    </div>
    <div class="form-group" *ngIf="!editData.id">
        <label>同时收录到页面</label>
        <app-switch [(ngModel)]="editData.also_page"></app-switch>
    </div>
    <div class="form-group" *ngIf="!editData.id && editData.also_page">
        <label>关键词</label>
        <app-words-input [(ngModel)]="editData.keywords"></app-words-input>
    </div>
</app-dialog-box>