:host {
    display: block;
    min-height: 18.75rem;
}

.scroll-bottom,
.scroll-top {
    text-align: center;
}
.scroll-top {
    position: relative;
    div {
        position: absolute;
        bottom: 0.625rem;
        width: 100%;
    }
}