@if (visible()) {
<div class="dialog-mask" (click)="close()"></div>
<div class="dialog-box card-dialog" animate.enter="dialog-opened" animate.leave="dialog-closed">
    <div class="dialog-body">
        <label class="card-cover" for="card-logo-input">
            @if (dataForm.thumb().value()) {
                <img [src]="dataForm.thumb().value() | asset" i18n-alt alt="Page logo">
            } @else {
                <div class="card-cover-placeholder">
                    <i class="iconfont icon-upload"></i>
                    <p>Select image</p>
                </div>
            }
            <input type="file" id="card-logo-input" accept="image/*" (change)="uploadFile($event)">
        </label>
        <div class="card-body">
            <input type="url" [formField]="dataForm.link" class="form-control radius-top" i18n-placeholder placeholder="Page link">
            <input type="text" class="form-control" [formField]="dataForm.title" i18n-placeholder placeholder="Page title">
            <textarea class="form-control radius-bottom" [formField]="dataForm.description" i18n-placeholder placeholder="Page description"></textarea>
        </div>
    </div>
    @if (dataForm.link().touched() && dataForm.link().invalid()) {
        <div class="dialog-invail-tip" i18n>Link of the page is invalid!</div>
    } @else if (dataForm.title().touched() && dataForm.title().invalid()) {
        <div class="dialog-invail-tip" i18n>Title of the page is empty!</div>
    }
    <div class="dialog-footer">
        <button class="btn btn-primary" [class]="{'--with-loading': isLoading()}" i18n-title title="Submit page" (click)="tapSubmit()" [disabled]="dataForm().invalid()">
            <i class="iconfont icon-check"></i>
            <div class="loading-ring">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="btn btn-danger" i18n-title title="Reset" (click)="tapReset()">
            <i class="iconfont icon-refresh"></i>
        </div>
        <div class="btn btn-secondary" i18n-title title="Cancel" (click)="close()">
            <i class="iconfont icon-close"></i>
        </div>
    </div>
</div>
}
