@use '../../../theme/theme';
@use '../../../../bootstrap/loading/circleButton';
.card-dialog {
    --#{theme.$prefix}card-radius: 0;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    backdrop-filter: unset;
    bottom: auto;
    .dialog-body {
        display: flex;
        padding: 0;
        background-color: var(--#{theme.$prefix}panel);
        box-shadow: 0 0 1.25rem rgba(var(--#{theme.$prefix}mask-rgb), 0.2);
        border-radius: var(--#{theme.$prefix}card-radius);
    }
    .card-cover {
        display: block;
        width: 7.5rem;
        img {
            width: 100%;
            border-top-left-radius: var(--#{theme.$prefix}card-radius);
            border-bottom-left-radius: var(--#{theme.$prefix}card-radius);
        }
        input[type='file'] {
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }
    .card-cover-placeholder {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: var(--#{theme.$prefix}border);
        .iconfont {
            font-size: 3rem;
        }
    }
    textarea {
        resize: vertical;
    }
    .card-body {
        flex: 1;
        padding: 0;
        .form-control {
            border-radius: 0;
        }
        .radius-top {
            border-top-right-radius: var(--#{theme.$prefix}card-radius);
        }
        .radius-bottom {
            border-bottom-right-radius: var(--#{theme.$prefix}card-radius);
        }
    }
    .dialog-footer {
        background-color: transparent;
        border: none;
        margin-top: 1.5rem;
        position: relative;
        @include circleButton.loadingRing(3rem);
        .btn {
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            padding: 0;
            position: absolute;
            left: 50%;
            margin-left: -1.5rem;
            top: 0;
        }
        .btn-primary {
            z-index: 99;
            &.--with-loading {
                cursor: not-allowed;
                color: var(--#{theme.$prefix}input-disabled);
                .loading-ring {
                    display: block;
                }
            }
        }
        .btn-danger,
        .btn-secondary {
            opacity: 0;
            transition: all 1s;
        }
        &:hover {
            .btn-danger,
            .btn-secondary {
                opacity: 1;
            }
            .btn-danger {
                transform: translateX(-4rem);
            }
            .btn-secondary {
                transform: translateX(4rem);
            }
        }
    }
}

.dialog-invail-tip {
    top: -2rem;
    height: 2rem;
    line-height: 2rem;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    background-color: rgba(var(--#{theme.$prefix}primary-text-rgb), .5);
    border-radius: 1rem 1rem 0 0;
}

@media (min-width: 48rem) {
    .card-dialog {
        --#{theme.$prefix}card-radius: .375rem;
        width: 30rem;
        margin-left: -15rem;
        .card-cover {
            width: 10rem;
        }
    }
}