@import "../../../theme/styles/loading/circleButton";
.card-dialog {
    width: 20rem;
    margin-left: -10rem;
    background-color: transparent;
    box-shadow: none;
    .dialog-body {
        display: flex;
        padding: 0;
        background-color: white;
        box-shadow: 0 0 20px rgb(0 0 0 / 20%);
        border-radius: .5rem;
    }
    .card-cover {
        display: block;
        width: 7.5rem;
        img {
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
        }
        input[type='file'] {
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }
    .card-body {
        padding: 0;
        .form-control {
            border-radius: 0;
        }
        .radius-top {
            border-top-right-radius: .5rem;
        }
        .radius-bottom {
            border-bottom-right-radius: .5rem;  
        }
    }
    .dialog-footer {
        background-color: transparent;
        border: none;
        margin-top: 1.5rem;
        position: relative;
        @include loadingRing(3rem);
        .btn {
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            padding: 0;
            position: absolute;
            left: 8.5rem;
            top: 0;
        }
        .btn-primary {
            z-index: 99;
            &.btn-loading {
                cursor: not-allowed;
                color: rgba($color: #fff, $alpha: .1);
                .loading-ring {
                    display: block;
                }
            }
        }
        .btn-danger,
        .btn-secondary {
            opacity: 0;
            transition: all 1s;
        }
        &:hover {
            .btn-danger,
            .btn-secondary {
                opacity: 1;
            }
            .btn-danger {
                left: 4.5rem;
            }
            .btn-secondary {
                left: 12.5rem;
            }
        }
    }
}