@if (visible) {
<div class="dialog-mask"></div>
<div class="dialog-box card-dialog" animate.enter="dialog-opened" animate.leave="dialog-closed">
    <div class="dialog-body">
        <label class="card-cover" for="card-logo-input">
            <img src="" i18n-alt alt="Page logo">
            <input type="file" id="card-logo-input" accept="image/*">
        </label>
        <div class="card-body">
            <input type="text" class="form-control radius-top" i18n-placeholder placeholder="Page link">
            <input type="text" class="form-control" i18n-placeholder placeholder="Page title">
            <textarea class="form-control radius-bottom" i18n-placeholder placeholder="Page description"></textarea>
        </div>
    </div>
    <div class="dialog-footer">
        <div class="btn btn-primary" [class]="{'btn-loading': isLoading}" i18n-title title="Submit page" (click)="tapSubmit()">
            <i class="iconfont icon-check"></i>
            <div class="loading-ring">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="btn btn-danger" i18n-title title="Reset">
            <i class="iconfont icon-refresh"></i>
        </div>
        <div class="btn btn-secondary" i18n-title title="Cancel" (click)="close()">
            <i class="iconfont icon-close"></i>
        </div>
    </div>
</div>
}
