<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>管理链接列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch($event)">
                <div class="input-group-control">
                    <label for="keywords">关键字</label>
                    <input type="text" class="form-control" id="keywords" [field]="queries.keywords" placeholder="关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>

                <a class="pull-right btn btn-primary"  (click)="tapEdit(modal)">新增</a>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>会员</th>
                    <th>标题</th>
                    <th>原链接</th>
                    <th>短链接</th>
                    <th>浏览量</th>
                    <th>状态</th>
                    <th>过期时间</th>
                    <th>申请时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items(); track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.user?.name }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.source_url }}</td>
                    <td>{{ item.short_url }}</td>
                    <td>{{ item.click_count | numberFormat }}</td>
                    <td>{{ formatStatus(item.status) }}</td>
                    <td>{{ item.expired_at | timestamp }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>
                        <div class="btn-group  btn-group-xs">
                            <a class="btn btn-info" (click)="tapEdit(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
        <app-pagination [total]="total()" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
    </div>
</div>

<app-dialog-box #modal [title]="editForm.id().value() > 0 ? '编辑链接' : '新增链接'">
    <div class="form-group">
        <label for="name-input">标题</label>
        <div class="input-group-control">
            <input class="form-control" id="name-input" [field]="editForm.title" placeholder="请输入标题">
        </div>
    </div>
    <div class="form-group">
        <label>原链接</label>
        <div class="input-group-control">
            <input class="form-control" [field]="editForm.source_url" placeholder="请输入链接">
        </div>
    </div>
    <div class="form-group">
        <label>状态</label>
        <div class="input-group-control">
            <select class="form-control" [field]="editForm.status">
                @for (item of statusItems; track $index) {
                    <option [value]="item.value">{{ item.name }}</option>
                }
            </select>
        </div>
    </div>
    @if (editForm.complete_short_url) {
    <div class="form-group">
        <label>完整短链接</label>
        <div class="flat-input">
            <input class="form-control" [value]="editForm.complete_short_url" readonly>
            <a [href]="editForm.complete_short_url" class="btn btn-danger" target="_blank" rel="noopener">预览</a>
        </div>
    </div>
    }
</app-dialog-box>