@for (item of items; track $index; let i = $index) {
    <div [ngClass]="{'request-tr': kind == 1, 'response-tr': kind == 2}">
        <div class="line-name" [title]="item.level + '级'">
            {{ item.level | treeLevel }}
            <input type="text" class="form-control" [(ngModel)]="item.name" (ngModelChange)="onValueChange()">
        </div>
        <div>
            <input type="text" class="form-control" [(ngModel)]="item.title" (ngModelChange)="onValueChange()">
        </div>
        <div>
            <select class="form-control" [(ngModel)]="item.type" (ngModelChange)="onTypeChange(item)">
                <option *ngFor="let t of typeItems" [value]="t.value">{{ t.name }}</option>
            </select>
        </div>
        @if (kind == 1) {
        <div class="switch-input">
            <app-switch [(ngModel)]="item.is_required" (ngModelChange)="onValueChange()"></app-switch>
        </div>
        <div>
            <input type="text" class="form-control" [(ngModel)]="item.default_value" (ngModelChange)="onValueChange()">
        </div>
        } @else if (kind == 2) {
        <div>
            <input type="text" class="form-control" [(ngModel)]="item.mock" (ngModelChange)="onValueChange()">
        </div>
        }
        
        
        <div>
            <input type="text" class="form-control" [(ngModel)]="item.remark" (ngModelChange)="onValueChange()">
        </div>
        <div>
            @if (item.type == 'object' || item.type == 'array') {
                <i class="iconfont icon-plus" (click)="tapAddItem(item)"></i>
            }
            <i class="iconfont icon-close" (click)="tapRemoveItem(i)"></i>
        </div>
    </div>
    @if (item.type == 'object' || item.type == 'array') {
        <app-doc-api-field-tr [(items)]="item.children" [kind]="kind" (itemsChange)="onValueChange()"></app-doc-api-field-tr>
    }
}

