<div class="container-fluid tablet-collapse">
    <app-page-tip>
        <ul>
            <li>管理理财产品列表</li>
        </ul>
    </app-page-tip>
    <div class="panel-container">
        <div class="page-search-bar">
            <form class="form-horizontal-control" (submit)="tapSearch()">
                <div class="input-group-control">
                    <label for="keywords">产品名</label>
                    <input type="text" class="form-control" [field]="queries.keywords" placeholder="产品名">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <a (click)="open(modal)" class="pull-right btn btn-primary">新增产品</a>
            </form>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>形态名称</th>
                    <th>状态</th>
                    <th>说明</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        <app-switch [value]="item.status" (ngModelChange)="onStatusChange(item)" />
                    </td>
                    <td>{{ item.remark }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-info" (click)="open(modal, item)">编辑</a>
                            <a class="btn btn-danger" (click)="tapRemove(item)">删除</a>
                        </div>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
        <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
    </div>
  </div>


  <div class="tablet-visible">
    <div class="route-bar">
        <a class="route-icon" (click)="tapBack()">
            <i class="iconfont icon-chevron-left"></i>
        </a>
        <span class="route-title">理财产品</span>
        <a class="route-icon" (click)="open(modal)">
            <i class="iconfont icon-plus"></i>
        </a>
    </div>
    <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0" />
    <app-swipe-list-control>
        @for (item of items; track $index) {
            <app-swipe-control>
            <div class="line-row-item --with-icon">
                <div class="item-icon">
                    ￥
                </div>
                <div class="item-body">
                    {{ item.name }}
                </div>
            </div>
            <ng-container name="left">
                <a class="btn-primary" (click)="open(modal, item)">
                    <i class="iconfont icon-edit"></i>
                </a>
            </ng-container>
            <ng-container name="right">
                <a class="btn-danger" (click)="tapRemove(item)">
                    <i class="iconfont icon-trash"></i>
                </a>
            </ng-container>
        </app-swipe-control>
        }
    </app-swipe-list-control>
</div>
  
  <app-dialog-box #modal [title]="editForm.id().value() > 0 ? '编辑理财产品' : '新增理财产品'">
    <div class="form-group">
        <label for="name">名称</label>
        <div class="input-group-control">
            <input class="form-control" id="name" [field]="editForm.name" placeholder="请输入名称">
        </div>
    </div>
    <div class="form-group">
        <label for="remark">备注</label>
        <div class="input-group-control">
            <textarea class="form-control" id="remark" [field]="editForm.remark" placeholder="请输入备注"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="status">是否开启</label>
        <div class="input-group-control">
            <app-switch id="status" [field]="editForm.status" />
        </div>
    </div>
</app-dialog-box>