.rule-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    pointer-events: none;
    font-size: 12px;
    overflow: hidden;
}

.rule-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    background-color: #5b6b73;
    pointer-events: all;
}

.h-container,
.v-container {
    position: absolute;
    .line {
        position: absolute;
    }
    .action {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        color: #666;
        &:hover {
            .iconfont {
                color: red;
            }
        }
    }

    .line-h {
        top: 0;
        width: 4px;
        border-left: 1px solid #f70;
        height: 100vw;
        cursor: ew-resize;
    }
    .line-v {
        left: 0;
        width: 100vw;
        height: 4px;
        border-top: 1px solid #f70;
        cursor: ns-resize;
    }
}

.h-container {
    left: 16px;
    top: 0;
    width: calc(100% - 16px);
    height: 17px;
    border-bottom: 1px solid #dadadc;
}

.v-container {
    top: 16px;
    left: 0;
    width: 17px;
    height: calc(100% - 16px);
    border-right: 1px solid #dadadc;
}

::ng-deep {
    .dialog-menu {
        z-index: 200;
    }
}