<div class="container-fluid" *ngIf="data">
    <div class="progress-time-bar">
        <div>
            <span [ngStyle]="timeBarStyle"></span>
        </div>
        <span [ngClass]="{active: timeIndex > 0}">待付款 <i *ngIf="data.created_at">{{ data.created_at }}</i>
        </span>
        <span [ngClass]="{active: timeIndex > 1}">待发货<i *ngIf="data.pay_at">{{ data.pay_at }}</i></span>
        <span [ngClass]="{active: timeIndex > 2}">待收货<i *ngIf="data.shipping_at">{{ data.shipping_at }}</i></span>
        <span [ngClass]="{active: timeIndex > 3}">待评价<i *ngIf="data.receive_at">{{ data.receive_at }}</i></span>
        <span [ngClass]="{active: timeIndex > 4}">已完成<i *ngIf="data.finish_at">{{ data.finish_at }}</i></span>
    </div>

    <app-panel title="订单信息">
        <div class="row">
            <div class="col-md-3">
                <p>订单号：{{ data.series_number }}</p>
                <p>订单状态：{{ data.status_label }}</p>
                <p *ngIf="data.pay_at">付款时间：{{ data.pay_at }}</p>
                <p>下单时间：{{ data.created_at }}</p>
            </div>
            <div class="col-md-3">
                <p>商品总额：{{ data.goods_amount }}</p>
                <p>运费金额：{{ data.shipping_fee }}</p>
                <p>应付金额：{{ data.order_amount }}</p>
            </div>
            <div class="col-md-3">
                <p>是否需要发票：否</p>
                <p>联系方式：{{ data.address.tel }}</p>
            </div>
            <div class="col-md-3">
                <p>优惠信息</p>
                <p>促销优惠：0</p>
                <p>积分抵扣：0</p>
            </div>
        </div>
    </app-panel>
    
    <div class="panel-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>商品名称</th>
                    <th>货号</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>原价</th>
                    <th>状态</th>
                    <th>售后</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>
                        <img [src]="item.thumb" width="50" height="50" align="left">
                        <a href="">{{ item.name }}</a> <br>
                        <small>{{ item.type_remark }}</small>
                    </td>
                    <td>{{ item.series_number }}</td>
                    <td>
                        <span class="text-red">{{ item.price }}</span>
                    </td>
                    <td>
                        {{ item.amount }} </td>
                    <td>
                        <span class="text-red">{{ item.price * item.amount }}</span>
                    </td>
                    <td>
                        {{ item.status_label }}</td>
                    <td>
                        未申请售后
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right">
            <small>
                配送费用：<span class="text-red">{{ data.shipping_fee }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                商品总额：<span class="text-red">{{ data.goods_amount }}</span>
            </small>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <app-panel title="备注信息">
                <form class="form-table" >
                    <div class="remark-box">
                        <textarea name="remark" class="form-control" required></textarea>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-operate="remark">保存</button>
                        <button type="button" class="btn btn-danger" *ngIf="data.status == 10">支付</button>
                        <button type="button" class="btn btn-info" data-operate="cancel">取消</button>
                    </div>
                </form>
            </app-panel>
        </div>

        <div class="col-md-6">
            <app-panel title="收货信息">
                <table class="table-left">
                    <tbody>
                        <tr>
                            <th style="width:30%">会员用户名:</th>
                            <td>{{ data.user.name }}</td>
                        </tr>
                        <tr>
                            <th>收货人:</th>
                            <td>{{ data.address.name }}</td>
                        </tr>
                        <tr>
                            <th>收货人手机:</th>
                            <td>{{ data.address.tel }}</td>
                        </tr>
                        <tr>
                            <th>所在地:</th>
                            <td>{{ data.address.region_name }}</td>
                        </tr>
                        <tr>
                            <th>收货地址:</th>
                            <td>{{ data.address.address }}</td>
                        </tr>
                    </tbody>
                </table>
            </app-panel>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <app-panel title="发票信息">
                <table class="table-left">
                    <tbody>
                        <tr>
                            <th style="width:50%">发票类型:</th>
                            <td>普通发票</td>
                        </tr>
                        <tr>
                            <th>发票抬头:</th>
                            <td>个人</td>
                        </tr>
                        <tr>
                            <th>发票内容:</th>
                            <td>由商家直接开具</td>
                        </tr>
                        <tr>
                            <th>公司名:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>公司登记号:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>公司地址:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>公司电话:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>银行开户名:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>银行账号:</th>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </app-panel>
        </div>
    </div>
</div>