@use '../../../bootstrap/desktop/scrollbar';
:host {
    flex: 1;
    padding: 0 0.625rem;
    overflow-y: auto;
    @include scrollbar.scrollbar();
}
.message-container {
    // height: 60vh;
    * {
        margin: 0;
    }
    .message-more,
    .message-line,
    .message-tip {
        text-align: center;
    }
    .message-more {
        cursor: default;
    }
    .message-left, 
    .message-right {
        position: relative;
        margin: 0.5em 0;
        &:after {
            content: ' ';
            clear: both;
            display: table;
        }
        .avatar {
            position: absolute;
            top: 0;
            height: 2.5em;
            width: 2.5em;
            border-radius: 50%;
        }
        .content {
            max-width: 80%;
            background: rgba(0,255,255,0.16);
            line-height: 1.5em;
            padding: 0.5em 0.625em;
            word-break: break-word;
            img {
                max-width: 15em;
            }
            &::before {
                content: '';
                position: absolute;
                z-index: 10;
                border: 0.375em solid transparent;
                top: 0.9375em;
            }
        }
    }
    .message-left {
        .avatar {
            left: 0;
        }
        .content {
            margin-left: 3.25em;
            float: left;
            &::before {
                left: 2.5em;
                border-right-color: rgba(0, 255, 255, 0.16);
            }
        }
    }
    .message-right {
        .avatar {
            right: 0;
        }
        .content {
            float: right;
            margin-right: 3.25em;
            &::before {
                right: 2.5em;
                border-left-color: rgba(0, 255, 255, 0.16);
            }
        }
    }
    .news-block {
        background-color: #fff;
    }
    .news-item {
        background-color: #fff;
        display: flex;
        color: #333;
        text-decoration: none;
        margin: 0 .8rem;
        cursor: pointer;
        .news-thumb {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 6rem;
                width: 6rem;
            }
        }
        .news-title {
            flex: 1;
            padding: 0.3125rem 0;
            font-size: 1rem;
            font-weight: bold;
            word-wrap: break-word;
        }
        &:not(:last-of-type) {
            border-bottom: 1px solid #ccc;
        }
    }
    .cover-news-item {
        position: relative;
        text-decoration: none;
        width: 60vw;
        min-width: 10rem;
        height: 8rem;
        overflow-y: hidden;
        cursor: pointer;
        .news-thumb {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .news-title {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: .8rem .8rem;
            font-size: 1rem;
            font-weight: bold;
            word-wrap: break-word;
            color: #fff;
            background: linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .6));
        }
    }
    .bonus-block {
        display: block;
        background-color: #f78989;
        height: 15rem;
        position: relative;
        padding-top: 1rem;
        min-height: 20rem;
        .bonus-header {
            width: 100%;
            height: 6rem;
            border-radius: 0 0 80% 80%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            background-color: #f78989;
        }
        .bonus-body {
            background-color: #cf3d37;
            height: 100%;
        }
        .bonus-icon {
            position: absolute;
            left: 50%;
            top: 4rem;
            z-index: 3;
            margin-left: -2rem;
            width: 4rem;
            height: 4rem;
            background-color: #f8d856;
            color: #f95151;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        &.bonus-open {
            background-color: transparent;
            padding-top: 6rem;
            .bonus-icon {
                opacity: 0;
            }
            .bonus-header {
                border-radius: 100% 100% 0 0;
            }
        }
        &.bonus-expired {
            .bonus-icon {
                background-color: #c0beb5;
                color: #c0beb5;
                cursor: not-allowed;
            }
        }
    }
}