<div class="message-container">
    <p class="message-more" *ngIf="hasMore" (click)="tapMore()" i18n>Load more</p>
    <ng-container *ngFor="let item of formatItems">
        <ng-container *ngIf="item.type === 99; else elseTemplate">
            <p class="message-line">{{ item.content }}</p>
        </ng-container>
        <ng-template #elseTemplate>
            <div [ngClass]="messageIsUser(item) ? 'message-right' :  'message-left'">
                <img class="avatar" [src]="item.user.avatar | asset">
                <div class="content">
                    <ng-container *ngIf="item.type == 1">
                        <img [src]="getMediaSource(item) | asset">
                    </ng-container>
                    <ng-container *ngIf="item.type == 2">
                        <video [src]="getMediaSource(item) | asset"></video>
                    </ng-container>
                    <ng-container *ngIf="item.type == 3">
                        <app-voice-player [src]="getMediaSource(item) | asset"></app-voice-player>
                    </ng-container>
                    <ng-container *ngIf="item.type == 4">
                        <div class="file-block">
                            {{ item.content }}
                            <i class="iconfont icon-download" i18n-title title="Download" (click)="tapDownFile(item)"></i>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="item.type == 66">
                        <div class="bonus-block" [ngClass]="{'bonus-open': item.is_open, 'bonus-expired': item.is_expired}" (click)="onRuleTap(item)">
                            <div class="bonus-header"></div>
                            <div class="bonus-body"></div>
                            <div class="bonus-icon" i18n>Open</div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="item.type == 80">
                        <div class="news-block">
                            <ng-container *ngFor="let news of item.items;let j = index">
                                <div [ngClass]="{'cover-news-item': j < 1, 'news-item': j > 0}" (click)="tapNewsItem(news)">
                                    <div class="news-title">{{ news.title }}</div>
                                    <div class="news-thumb">
                                        <img [src]="news.thumb | asset" [alt]="news.title">
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="item.type < 1">
                        <app-rule-block [value]="item.content" [rules]="item.extra_rule" (tapped)="onRuleTap($event)"></app-rule-block>
                    </ng-container>
                </div>
            </div>
        </ng-template>
    </ng-container>
</div>