@use '../../../theme/theme';
@use '../../../../bootstrap/desktop/scrollbar';
@use '../../../../bootstrap/variables';

$paneIndex: variables.$zindex-fixed;
$paneMaskIndex: $paneIndex - 1;

ul,
li {
    margin: 0;
    padding: 0;
}

.pane-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $paneMaskIndex;
    background-color:  var(--#{theme.$prefix}dialog-mask);
}

.nav-menu {
    --#{theme.$prefix}menu: var(--#{theme.$prefix}surface);
    --#{theme.$prefix}menu-text: var(--#{theme.$prefix}surface-text);
    --#{theme.$prefix}menu-hovered: var(--#{theme.$prefix}surface-hovered);
    --#{theme.$prefix}menu-selected: var(--#{theme.$prefix}surface-selected);
    --#{theme.$prefix}menu-child: var(--#{theme.$prefix}surface-child);
}


.nav-pane-bar {
    --#{theme.$prefix}nav: var(--#{theme.$prefix}surface);
    --#{theme.$prefix}nav-text: var(--#{theme.$prefix}surface-text);
    --#{theme.$prefix}nav-hover: var(--#{theme.$prefix}surface-hovered);
    position: fixed;
    left: 0;
    width: 12.5rem;
    bottom: 0;
    background-color: var(--#{theme.$prefix}nav);
    color: var(--#{theme.$prefix}nav-text);
    top: 0;
    z-index: $paneIndex;
    display: flex;
    flex-direction: column;
    user-select: none;
    .nav-toggle-icon {
        font-size: 1.875rem;
        padding: 0.2rem 0.625rem;
        display: inline-block;
        &:hover {
            background-color: var(--#{theme.$prefix}nav-hover);
        }
    }
    .bar-top {
        overflow-y: auto;
        flex: 1;
        @include scrollbar.scrollbar();
    }
    a {
        text-decoration: none;
        color: var(--#{theme.$prefix}nav-text);
    }
    .search-input {
        --#{theme.$prefix}search: var(--#{theme.$prefix}surface-child);
        --#{theme.$prefix}search-text: var(--#{theme.$prefix}nav-text);
        position: relative;
        background-color: var(--#{theme.$prefix}search);
        padding-right: 1.875rem;
        .iconfont {
            position: absolute;
            top: 0.625rem;
            right: 0.625rem;
            color: var(--#{theme.$prefix}search-text);
        }
        input {
            width: 100%;
            background-color: transparent;
            color: var(--#{theme.$prefix}search-text);
            border: none;
            outline: none;
            height: 2.5rem;
        }
    }
    .search-suggestion {
        box-shadow: inset 0 5px 5px -5px rgb(var(--#{theme.$prefix}mask-rgb)), 
        inset 0 -5px 5px -5px rgb(var(--#{theme.$prefix}mask-rgb));
        background-color: var(--#{theme.$prefix}surface-child);
        li {
            padding: .25rem .7rem;
            &:hover {
                background-color: var(--#{theme.$prefix}surface-hovered);
            }
            &.--with-selected {
                background-color: var(--#{theme.$prefix}surface-selected);
            }
        }
    }
    .--with-hovered {
        .search-input {
            --#{theme.$prefix}search: var(--#{theme.$prefix}input);
            --#{theme.$prefix}search-text: var(--#{theme.$prefix}input-text);
        }
    }
}




.page-body {
    margin-left: 12.5rem;
}

.--pane-overlay {
    .nav-pane-bar {
        box-shadow: var(--#{theme.$prefix}box-shadow);
    }
    .page-body {
        margin-left: 0;
    }
}

.--pane-compact {
    .nav-pane-bar {
        width: 3.125rem;
        .menu-name {
            display: none;
        }
        .menu-item {
            .iconfont {
                position: static;
            }
            .menu-icon {
                display: inline-block;
            }
        }
        .search-input {
            background-color: transparent;
            padding-right: 0;
            text-align: center;
            .iconfont {
                position: static;
                font-size: 1.875rem;
                display: block;
                color: var(--#{theme.$prefix}surface-text);
            }
            input {
                display: none;
            }
        }
    }
    .page-body {
        margin-left: 3.125rem;
    }
}

.--pane-toggle {
    .nav-pane-bar {
        width: 3.125rem;
        bottom: auto;
        .bar-top,
        .bar-bottom {
            display: none;
        }
    }
    .page-body {
        margin-left: 0;
        margin-top: 3rem;
    }
    ::ng-deep {
        .edit-header {
            padding: 3rem 0 1.25rem;
            margin-top: -3rem;
        }
    }
}

.--pane-toggle-overlay {
    .nav-pane-bar {
        width: 3.125rem;
        bottom: auto;
        opacity: .2;
        .bar-top,
        .bar-bottom {
            display: none;
        }
        &:hover {
            opacity: 1;
        }
    }
    .page-body {
        margin-left: 0;
    }
}

.--pane-collapse {
    .nav-pane-bar {
        display: none;
    }
    .page-body {
        margin-left: 0;
    }
}