<div class="page-box" [class]="navClass">
    <div class="nav-menu nav-pane-bar">
        <i class="iconfont icon-bars nav-toggle-icon" (click)="tapToggle()"></i>
        <ul class="bar-top">
            @if (hasSuggest()) {
                <li class="search-item">
                    <div class="search-input">
                        <input type="text" [(value)]="suggestText" (keydown)="suggestKeyPress($event)">
                        <i class="iconfont icon-search" (click)="tapSuggest()"></i>
                    </div>
                    @if (suggestItems() && suggestItems().length > 0) {
                    <ul class="search-suggestion">
                        @for (item of suggestItems(); track $index; let i = $index) {
                            <li (click)="tapSuggestion(i)" [class]="{active: i === suggestIndex}" >{{ formatTitle(item) }}</li>
                        }
                    </ul>
                    }
                    
                </li>
            }
            @for (item of menu(); track $index) {
                <li class="menu-item" [class]="{'active': item.active, 'open': item.expand}"
                    (click)="tapItem(item, $event)">
                    @if (item.url) {
                        <a [routerLink]="item.url" [queryParams]="item.urlQuery || {}" [title]="item.name">
                            <i class="iconfont" [class]="item.icon || 'menu-icon'">{{ item.label }}</i>
                            <span class="menu-name">{{ item.name }}</span>
                        </a>
                    } @else {
                        <a [title]="item.name">
                            <i class="iconfont" [class]="item.icon || 'menu-icon'">{{ item.label }}</i>
                            <span class="menu-name">{{ item.name }}</span>
                        </a>
                    }
                    @if (item.children && item.children.length > 0) {
                    <ul class="menu-children">
                        @for (child of item.children; track child.name) {
                            <li class="menu-item" [class]="{'active': child.active, 'open': child.expand}"
                                (click)="tapItem(child, $event)">
                                @if (child.url) {
                                    <a [routerLink]="child.url" [queryParams]="child.urlQuery || {}"
                                        [title]="child.name">
                                        <i class="iconfont" [class]="child.icon || 'menu-icon'">{{ child.label }}</i>
                                        <span class="menu-name">{{ child.name }}</span>
                                    </a>
                                } @else {
                                    <a [title]="child.name">
                                        <i class="iconfont" [class]="child.icon || 'menu-icon'">{{ child.label }}</i>
                                        <span class="menu-name">{{ child.name }}</span>
                                    </a>
                                }
                            </li>
                        }
                    </ul>
                    }
                    
                </li>
            }
        </ul>
        <ul class="bar-bottom">
            @for (item of bottomMenu(); track $index) {
                <li class="menu-item" [class]="{'active': item.active, 'open': item.expand}"
                    (click)="tapItem(item, $event)">
                    @if (item.url) {
                        <a [routerLink]="item.url" [queryParams]="item.urlQuery || {}">
                            <i class="iconfont" [class]="item.icon || 'menu-icon'">{{ item.label }}</i>
                            <span class="menu-name">{{ item.name }}</span>
                        </a>
                    } @else {
                        <a>
                            <i class="iconfont" [class]="item.icon || 'menu-icon'">{{ item.label }}</i>
                            <span class="menu-name">{{ item.name }}</span>
                        </a>
                    }
                </li>
            }
        </ul>
    </div>

    <div class="page-body --with-tablet-bottom">
        <ng-content />
    </div>

    <div class="tablet-tab-bar tablet-visible">
        @for (item of tabletItems; track $index) {
            <a class="tab-item" [class]="{'active': item.active}" [routerLink]="item.url" [queryParams]="item.urlQuery || {}">
            <i class="iconfont item-icon" [class]="item.icon"></i>
            <span class="item-body">{{ item.name }}</span>
        </a>
        }
        <a class="tab-item" (click)="tapToggle()">
            <i class="iconfont icon-bars item-icon"></i>
            <span class="item-body" i18n>More</span>
        </a>
    </div>
    @if (displayMode == 3) {
        <div class="pane-mask tablet-visible" (click)="tapToggle()"></div>
    }
    
</div>