<div class="editor-modal-box" [class]="{'modal-visible': visible,'modal-loading': isLoading}" appFileDrop (fileDrop)="uploadFiles($event)">
    <div class="tab-bar">
        <a class="item" [class]="{active: tabIndex == 1}" (click)="tabIndex = 1" title="链接">
            <i class="iconfont icon-chain"></i>
        </a>
        <a class="item" [class]="{active: tabIndex == 2}" (click)="tabIndex = 2" title="代码">
            <i class="iconfont icon-code"></i>
        </a>
        <a class="item" [class]="{active: tabIndex < 1}" (click)="tabIndex = 0" title="上传">
            <i class="iconfont icon-upload"></i>
        </a>
    </div>
    @switch (tabIndex) {
        @case (1) {
            <div>
                <div class="input-header-block" [class]="{'input-not-empty': !!url}">
                    <input type="text" [(value)]="url">
                    <label for="">链接</label>
                </div>
                <div class="input-flex-line">
                    <i class="iconfont" [class]="{'icon-check-square-o': isAutoplay, 'icon-square-o': !isAutoplay}" (click)="isAutoplay = !isAutoplay"></i>
                    自动播放
                </div>
                <div class="modal-action">
                    <div class="btn btn-outline-primary" (click)="tapConfirm()">插入</div>
                </div>
            </div>
        }
        @case (2) {
            <div>
                <div class="input-header-block" [class]="{'input-not-empty': !!code}">
                    <textarea [(value)]="code" rows="4"></textarea>
                    <label for="">代码</label>
                </div>
                <div class="modal-action">
                    <div class="btn btn-outline-primary" (click)="tapConfirm()">插入</div>
                </div>
            </div>
        }
        @default {
            <label class="drag-input" [for]="fileName">
                拖放文件
                <p>(或点击)</p>
                <input type="file" [id]="fileName" (change)="uploadFile($event)">
            </label>
        }
    }
    
    <app-loading-ring />
</div>