<div class="tablet-large-header tablet-visible">
    <div class="route-bar">
        <a class="route-icon" (click)="tapBack()">
            <i class="iconfont icon-chevron-left"></i>
        </a>
        <span class="route-title" i18n>Connect</span>
    </div>
</div>
<div class="container">
    @for (item of items; track $index) {
        <div class="connect-item">
        <div class="item-body">
            <i class="iconfont" [ngClass]="item.icon | iconfont"></i>
            {{ item.name }}
            @if (item.platform || item.nickname) {
                (<span class="item-platform">{{ item.platform }}：</span>{{ item.nickname }})
            }
        </div>
        <div class="item-action">
            @if (item.id) {
                <a class="unlink-btn" i18n (click)="tapUnbind(item)">Unbind</a>
            } @else {
                <a i18n (click)="tapBind(item)">Binding</a>
            }
        </div>
    </div>
    }
    <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
</div>

<app-dialog-box #faModal i18n-title title="Enable two-step verification" [scrollable]="false">
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="" i18n>Recovery Code</label>
            <div>
                <input type="text" class="form-control" [value]="data.recovery_code" readonly>
            </div>
        </div>
        <p i18n>Open the Authenticator APP to scan the code to add</p>

        <img [src]="data.qr" i18n-alt alt="Add by scanning the code">

        <div class="input-group-control">
            <label for="" i18n>Authentication code</label>
            <div>
                <input type="text" class="form-control" [(ngModel)]="data.twofa_code">
            </div>
        </div>
    </div>
</app-dialog-box>