<app-edit-header [title]="'系统基本设置'" (submited)="tapSubmit()" [disabled]="!form().valid" />
<div class="container-fluid">
    <div class="row" [formGroup]="form()">
            @for (group of groups(); track $index) {
            <div class="col-md-6 form-table-control">
                <app-panel [title]="group.name">
                    @for (item of group.children; track $index) {
                    <div class="input-group-control">
                        <label [attr.for]="item.code"><i class="iconfont icon-edit" (click)="tapEditOption(optionModal, item)"></i>{{ item.name }}</label>
                        @switch (item.type) {
                            @case ('text') {
                                <div>
                                    <input type="text" class="form-control" [formControlName]="item.code" [id]="item.code">
                                </div>
                            }
                            @case ('textarea') {
                                <div>
                                    <textarea class="form-control" [formControlName]="item.code" [id]="item.code"></textarea>
                                </div>
                            }
                            @case ('select') {
                                <div>
                                    <select class="form-control" [formControlName]="item.code" [id]="item.code">
                                        @for (val of item.items.items; track $index) {
                                            <option [value]="val.value">{{ val.name }}</option>
                                        }
                                    </select>
                                </div>
                            }
                            @case ('radio') {
                                <div>
                                    <app-check-input [source]="item.items" [formControlName]="item.code" [id]="item.code" />
                                </div>
                            }
                            @case ('checkbox') {
                                <div>
                                    <app-check-input [source]="item.items" [formControlName]="item.code" [id]="item.code" [multiple]="true" />
                                </div>
                            }
                            @case ('switch') {
                                <div>
                                    <app-switch [formControlName]="item.code" [id]="item.code" onLabel="On" offLabel="Off" />
                                </div>
                            }
                            @case ('image') {
                                <div>
                                    <app-file-input [formControlName]="item.code" [id]="item.code"/>
                                </div>
                            }
                            @case ('file') {
                                <div>
                                    <app-file-input [formControlName]="item.code" [id]="item.code" accept="*" />
                                </div>
                            }
                            @case ('editor') {
                                <div>
                                    <textarea class="form-control" [formControlName]="item.code" [id]="item.code"></textarea>
                                </div>
                            }
                            @case ('basic_editor') {
                                <div>
                                    <textarea class="form-control" [formControlName]="item.code" [id]="item.code"></textarea>
                                </div>
                            }
                            @case ('json') {
                                <div>
                                    <textarea class="form-control" [formControlName]="item.code" [id]="item.code"></textarea>
                                </div>
                            }
                        }
                    </div>
                    }
                </app-panel>
            </div>
            }
    </div>
    

    <div class="btn-group">
        <app-action-button (tapped)="tapSubmit($event)" class="btn btn-success" [disabled]="!form().valid">确认保存</app-action-button>
        <a class="btn btn-danger" (click)="tapBack()">取消修改</a>
        <a class="btn btn-info" (click)="tapAddGroup(optionModal)">新增设置项</a>
    </div>

</div>

<app-dialog-box #optionModal [buttonVisible]="false" [title]="editForm.id().value() > 0 ? '编辑设置项' : '新增设置项'">
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="field_name">显示名称(必填)</label>
            <div>
                <input type="text" id="field_name" class="form-control" [formField]="editForm.name">
            </div>
        </div>
        <div class="input-group-control">
            <label for="field_type">类型</label>
            <div>
                <select id="field_type" class="form-control" [formField]="editForm.type">
                    
                    @for (item of typeItems; track $index) {
                    <option [value]="item.value">{{ item.name }}</option>
                    }
                </select>
        
            </div>
        </div>
        @if (editForm.type().value() !== 'group') {
        <div class="group-property">
            <div class="input-group-control">
                <label for="field_parent_id">分组</label>
                <div>
                    <select id="field_parent_id" class="form-control" [formField]="editForm.parent_id">
                        @for (item of groups(); track $index) {
                        <option [value]="item.id">{{ item.name }}</option>
                        }
                    </select>
                </div>
            </div>
            <div class="input-group-control">
                <label for="field_code">别名(必填)</label>
                <div>
                    <input type="text" id="field_code" class="form-control" [formField]="editForm.code">
                </div>
            </div>
            <div class="input-group-control">
                <label for="field_visibility">公开</label>
                <div>
                    <select class="form-control" [formField]="editForm.visibility">
                        @for (item of visibleItems; track $index; let i = $index) {
                        <option [value]="i">{{ item }}</option>
                        }
                    </select>
                </div>
            </div>
            <div class="input-group-control">
                <label for="field_default_value">默认值</label>
                <div>
                    <textarea id="field_default_value" class="form-control" [formField]="editForm.default_value"></textarea>
                </div>
            </div>
        </div>
        }
        <div class="input-group-control">
            <label for="field_position">排序</label>
            <div>
                <input type="number" id="field_position" class="form-control" [formField]="editForm.position">
            </div>
        </div>
    </div>
    <ng-container name="footer">
        <button type="button" class="btn btn-outline-dark" (click)="optionModal.close('Save click')">确定</button>
        @if (editForm.id().value() > 0) {
            <button type="button" class="btn btn-danger" (click)="optionModal.close('remove')">删除</button>
        }
    </ng-container>
</app-dialog-box>