<div class="container-fluid">
    <div class="panel-container">
        <div class="row">
            <div class="col-lg-3 col-md-4 right-hr">
                <div class="bar-version">
                    <label for="version">版本</label>
                    <select id="version" [field]="version" (ngModelChange)="onVersionChange()">
                        @for (item of versionItems; track $index) {
                            <option [value]="item.id">{{ item.name }}</option>
                        }
                    </select>
                    <a class="btn btn-primary" (click)="openVersion(versionModal)">创建新版本</a>
                </div>
                <app-doc-tree-panel [items]="catalog" (valueChange)="tapEdit($event)" (deleted)="tapRemove($event)" (created)="onCreate($event)" />
            </div>
            <div class="col-lg-9 col-md-8">
                @if (data) {
                <form class="form-table-control" (submit)="tapSubmit()">
                    <div class="title-input">
                        <label for="name">名称*</label>
                        <input type="text" id="name" class="form-control" [field]="dataForm.name">
                    </div>
                    @if (data.type < 1) {
                    <div>
                        <div class="form-group">
                            <label for="method">请求类型*</label>
                            <select class="form-control" [field]="dataForm.method" id="method">
                                @for (item of methodItems; track $index) {
                                <option [value]="item">{{ item }}</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="uri">接口路径*</label>
                            <input type="text"
                            class="form-control" [field]="dataForm.uri" id="uri" placeholder="请输入接口路径">
                        </div>
                        <div class="form-group">
                            <label for="description">接口描述</label>
                            <textarea class="form-control" [field]="dataForm.description" id="description" rows="3"></textarea>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                Header参数
                            </div>
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>字段键</th>
                                            <th>字段值</th>
                                            <th>备注说明</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (item of data.header; track $index; let i = $index) {
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control" [field]="item.name" [ngModelOptions]="{standalone: true}">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" [field]="item.default_value" [ngModelOptions]="{standalone: true}">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" [field]="item.remark" [ngModelOptions]="{standalone: true}">
                                            </td>
                                            <td>
                                                <i class="iconfont icon-close" (click)="tapRemoveItem(i, 3)"></i>
                                            </td>
                                        </tr>
                                        }


                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="4">
                                                <div class="btn-group">
                                                    <a class="btn btn-primary" (click)="tapAddItem(3)"><i class="iconfont icon-plus"></i>添加参数</a>
                                                    <a class="btn btn-info" (click)="tapParse(parseModal, 3)"><i class="iconfont icon-refresh"></i>自动匹配数据</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                请求参数
                            </div>
                            <div class="panel-body">
                                <div class="request-tr">
                                    <div>字段别名</div>
                                    <div>字段含义</div>
                                    <div>字段类型</div>
                                    <div>是否必填</div>
                                    <div>默认值</div>
                                    <div>备注说明</div>
                                    <div></div>
                                </div>
                                <app-doc-api-field-tr [(items)]="data.request" [kind]="1" />
                                <div>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" (click)="tapAddItem(1)"><i class="iconfont icon-plus"></i>添加参数</a>
                                        <a class="btn btn-info" (click)="tapParse(parseModal, 1)"><i class="iconfont icon-refresh"></i>自动匹配数据</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                响应参数
                            </div>
                            <div class="panel-body">
                                <div class="response-tr">
                                    <div>字段别名</div>
                                    <div>字段含义</div>
                                    <div>字段类型</div>
                                    <div>MOCK规则</div>
                                    <div>备注说明</div>
                                    <div></div>
                                </div>
                                <app-doc-api-field-tr [(items)]="data.response" [kind]="2" />
                                <div class="btn-group">
                                    <a class="btn btn-primary" (click)="tapAddItem(2)"><i class="iconfont icon-plus"></i>添加参数</a>
                                    <a class="btn btn-info" (click)="tapParse(parseModal, 2)"><i class="iconfont icon-refresh"></i>自动匹配数据</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    }

                    <div class="btn-group">
                        <app-action-button (tapped)="tapSubmit($event)" class="btn btn-success">确认保存</app-action-button>
                        @if (data.type < 1 && data.id > 0) {
                            <a class="btn btn-info" [routerLink]="['../../debug', data.id]" target="_blank">在线调试</a>
                        }
                    </div>
                </form>
                }
            </div>
        </div>

    </div>
</div>

<app-dialog-box #versionModal title="创建版本">
    <div class="form-group">
        <label for="name">版本号</label>
        <div class="input-group-control">
          <input class="form-control" id="name" [field]="editForm.name" placeholder="请输入版本号">
        </div>
    </div>
    <div class="form-group">
        <label for="region-input">提示</label>
        <div class="input-group-control">
            你即将从当前版本的内容生成新的版本！
        </div>
    </div>
</app-dialog-box>

<app-dialog-box #parseModal title="自动匹配数据">
    <textarea [field]="editForm.content" placeholder="请输入内容" style="height: 100%;" class="form-control"></textarea>
</app-dialog-box>
