<div class="container-fluid">
    <app-page-tip>
        <ul>
            <li>生成控制器</li>
        </ul>
    </app-page-tip>
    <div class="panel-container form-table">
        <div class="input-group">
            <label for="">模块名</label>
            <div>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="input-group">
            <label for="">文件名</label>
            <div>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="btn-group">
            <div class="btn btn-primary">生成</div>
            <div class="btn btn-info">预览</div>
        </div>
    </div>
</div>