<div class="router-bar">
    <div class="tool-item" (click)="tapBack()">
        <i class="iconfont icon-arrow-left"></i>
    </div>
    <div class="title-tab-bar">
        <a class="item" [class]="{active: tabIndex() < 1}" (click)="tabIndex.set(0)">主页</a>
        <a class="item" [class]="{active: tabIndex() == 1}" (click)="tapTab(1)">成员</a>
    </div>
    <a class="right-item" (click)="tapExit()">退出</a>
</div>
@if (tabIndex() < 1) {
<div class="organize-body">
    <h2>名称</h2>

    <div class="group-box">
        <div class="group-header">【公告】</div>
        <div class="group-body">
            这是公告
        </div>
    </div>

    <div class="group-box">
        <div class="group-header">【内部频道】</div>
        <div class="group-body">
            <ul class="mini-message">
                <li>[09:01:00]test: 这里没有什么东西</li>
            </ul>
        </div>
    </div>


    <div class="menu-bar">
        @for (item of bottomItems; track $index) {
            <a [class]="{disabled: item.disabled}" (click)="tapRoute(item)">{{ item.name }}
                @if (item.count > 0) {
                    ({{ item.count }})
                }
            </a>
        }
    </div>    
</div>
} @else if (tabIndex() == 1) {
<div class="users-body">
    <div class="user-item">
        <div class="item-avatar">
            <img [src]="'assets/images/wap_logo.png' | asset" alt="">
        </div>
        <div class="item-body">
            <div class="item-name">[帮主]test(57级)</div>
            <div class="item-meta">就是</div>
        </div>
        <div class="item-action">
            <a (click)="modalVisible = true">查看</a>
            <a href="">踢出</a>
        </div>
    </div>
</div>
}

@if (modalVisible) {
<div class="dialog-mask"></div>
<div class="user-dialog">
    <div class="item-avatar">
        <img [src]="'assets/images/wap_logo.png' | asset" alt="">
    </div>
    <div class="item-body">
        <h4 class="item-name">
            食物名称(57级)
        </h4>
        <div class="item-meta">
            这是一把武器
        </div>
    </div>
    <div class="dialog-footer">
        <div class="btn btn-secondary">取消</div>
        <div class="btn btn-primary">加好友</div>
        <div class="btn btn-info">移交帮主</div>
        <div class="btn btn-success">设为副帮主</div>
        <div class="btn btn-light">解除职务</div>
        <div class="btn btn-danger">剔除</div>
    </div>
</div>
}
