<div class="container">
    <div class="tip" i18n>
        Authorized Applications
    </div>
    <div class="app-item" *ngFor="let item of items">
        <div class="item-icon">
            <img [src]="'assets/images/logo.png'|asset" alt="">
        </div>
        <div class="item-body">
            <div class="item-name">zodream</div>
            <div class="item-meta" i18n>Web</div>
        </div>
        <div class="item-action">
            <a class="btn btn-danger" i18n>
                Deauthorization
            </a>
        </div>
    </div>
    <app-loading-tip [loading]="isLoading" [visible]="isLoading || items.length == 0"></app-loading-tip>
</div>
