<app-edit-header [title]="data && data.id > 0 ? '编辑文章' : '新增文章'" (submited)="tapSubmit($event)" [disabled]="form.invalid"></app-edit-header>


<div class="container-fluid">
    <form class="form-table" [formGroup]="form" (ngSubmit)="tapSubmit()">
        <div class="panel-container">
            <div class="language-toggle" *ngIf="data && data.languages && data.languages.length > 1">
                <ng-container *ngFor="let item of data.languages">
                    <a [ngClass]="{active: item.value === data.language}">{{ item.name }}</a>
                </ng-container>
            </div>
            <div class="title-input">
                <label for="title">标题</label>
                <input type="text" id="title" class="form-control" formControlName="title">
            </div>
            
            <app-markdown-editor formControlName="content" (imageUpload)="editorImageUpload($event)" [height]="400"></app-markdown-editor>
        </div>

        <div class="row">
            <div class="col-md-6">
                <app-panel title="高级属性">
                    <div class="zre-input-group">
                        <label for="term_id">分类</label>
                        <div>
                            <select id="term_id" class="form-control" formControlName="term_id">
                                <ng-container *ngFor="let item of categories">
                                    <option [value]="item.id">{{ item.name }}</option>
                                </ng-container>
                            </select>
        
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="programming_language">编程语言</label>
                        <div>
                            <select id="programming_language" class="form-control" formControlName="programming_language">
                                <option value="">请选择</option>
                                <ng-container *ngFor="let item of languages">
                                    <option [value]="item">{{ item }}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="type">类型</label>
                        <div>
                            <select id="type" class="form-control" formControlName="type">
                                <option value="0" >原创</option>
                                <option value="1">转载</option>
                            </select>
        
                        </div>
                    </div>
                   
                    <div class="zre-input-group">
                        <label for="thumb">图片</label>
                        <div>
                            <app-file-input formControlName="thumb"></app-file-input>
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="open_type">公开类型</label>
                        <div>
                            <select id="open_type" class="form-control" formControlName="open_type">
                                <option *ngFor="let item of openItems" [value]="item.value">{{ item.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="zre-input-group" *ngIf="openType > 4">
                        <label for="open_rule">{{ ruleLabel }}</label>
                        <div>
                            <input type="text" id="open_rule" class="form-control" formControlName="open_rule">
        
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="edit_type">编辑器</label>
                        <div>
                            <select id="edit_type" class="form-control" formControlName="edit_type">
                                <option value="0">Ueditor</option>
                                <option value="1">MarkDown</option>
                            </select>
        
                        </div>
                    </div>
                    
                    <div class="zre-input-group">
                        <label for="keywords">关键字</label>
                        <div>
                            <app-words-input id="keywords" formControlName="keywords"></app-words-input>
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="description">说明</label>
                        <div>
                            <textarea id="description" class="form-control" formControlName="description"></textarea>
                            <div class="edit-tip">
                                已输入 {{ metaSize }} 个字符
                            </div>
                        </div>
                    </div>
                    
                    <div class="zre-input-group">
                        <label>标签</label>
                        <div>
                            <ng-select [multiple]="true" [items]="tagItems" bindLabel="name" [(ngModel)]="tags" [ngModelOptions]="{standalone: true}" [addTag]="addTagFn" placeholder="选择标签"></ng-select>
                        </div>
                    </div>
                </app-panel>
            </div>
            <div class="col-md-6">
                <app-panel title="附加属性">
                    <div class="zre-input-group" *ngIf="typeValue > 0">
                        <label for="meta_source_author">原文作者</label>
                        <div>
                            <input type="text" id="meta_source_author" class="form-control" formControlName="source_author">
                    
                        </div>
                    </div>
                    <div class="zre-input-group" *ngIf="typeValue > 0">
                        <label for="source_url">原文链接</label>
                        <div>
                            <input type="text" id="source_url" class="form-control" formControlName="source_url">
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="weather">天气</label>
                        <div>
                            <select id="weather" class="form-control" formControlName="weather">
                                <option value="">请选择</option>
                                <ng-container *ngFor="let item of weathers">
                                    <option [value]="item.value">{{ item.name }}</option>
                                </ng-container>
                            </select>
        
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="audio_url">音频</label>
                        <div class="file-input">
                            <app-file-input formControlName="audio_url" accept="audio/*"></app-file-input>
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="video_url">视频</label>
                        <div>
                            <app-file-input formControlName="video_url" accept="video/*"></app-file-input>
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="meta_cc_license">版权协议</label>
                        <div>
                            <select id="meta_cc_license" class="form-control" formControlName="cc_license">
                                <option value="">请选择</option>
                                <ng-container *ngFor="let item of licenses">
                                    <option [value]="item.value">{{ item.name }}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="comment_status">评论状态</label>
                        <div>
                            <app-switch id="comment_status" formControlName="comment_status"></app-switch>
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="publish_status" i18n>Publish Status</label>
                        <div>
                            <select id="publish_status" class="form-control" formControlName="publish_status">
                                <ng-container *ngFor="let item of statusItems">
                                    <option [value]="item.value">{{ item.name }}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </app-panel>
                <app-panel title="SEO优化" [min]="true">
                    <div class="zre-input-group" *ngIf="typeValue > 0">
                        <label for="meta_is_hide">是否隐藏</label>
                        <div>
                            <app-switch id="meta_is_hide" formControlName="is_hide"></app-switch>
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="meta_seo_title">SEO标题</label>
                        <div>
                            <input type="text" id="meta_seo_title" class="form-control" formControlName="seo_title">
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="meta_seo_description">SEO描述</label>
                        <div>
                            <textarea id="meta_seo_description" class="form-control" formControlName="seo_description"></textarea>
                        </div>
                    </div>
                    <div class="zre-input-group">
                        <label for="meta_seo_link">链接别名</label>
                        <div>
                            <input type="text" id="meta_seo_link" class="form-control" formControlName="seo_link">
                            <div class="input-tip">
                                请使用数字字母-_组成，请不要输入空格、/，
                                <p>{{ pageLink | asset }}</p>
                            </div>
                        </div>
                    </div>
                </app-panel>
            </div>
        </div>

        <div class="btn-group">
            <app-action-button class="btn btn-primary" *ngIf="publishStatus != 5" (tapped)="tapSubmit($event)" [disabled]="form.invalid">保存</app-action-button>
            <app-action-button class="btn btn-success" (tapped)="tapSubmit($event, 5)" [disabled]="form.invalid">保存并发布</app-action-button>
            <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
        </div>
    </form>
</div>