<div class="container">
    <form class="search-bar" (submit)="tapSearch()">
        <input type="text" class="form-control" name="keywords" id="keywords" [field]="queries.keywords" placeholder="请输入搜索内容">
        <select class="form-control" name="type" [field]="queries.type">
            @for (item of typeItems; track $index; let i = $index) {
            <option [value]="i">{{ item }}</option>
            }
        </select>
        <button type="submit" class="btn btn-primary">
            <i class="iconfont icon-search"></i>
        </button>
    </form>

    <div class="panel-container">
        @for (item of items; track $index) {
            @if (queries.type < 1) {
                <div class="page-item">
                <a class="item-body" [routerLink]="['../pager', item.id]">
                    <span class="name">{{ item.name }}</span>
                    <span class="count">共 {{ formatQuestionCount(item) }} 道{{ item.rule_type < 1 ? '随机' : '固定' }}题</span>
                </a>
                <div class="item-footer">
                    @if (item.user_id > 0) {
                    <div class="author-bar">
                        <div class="avatar">
                            <img [src]="item.user.avatar">
                        </div>
                        {{ item.user.name }}
                    </div>
                    }
                    <div class="time-bar">
                        {{ item.created_at | ago }}
                    </div>
                </div>
            </div>
            } @else {
                <div class="question-item">
                <a class="item-body" [routerLink]="['../question', item.id]">
                    <span class="name">【{{ formatQuestionType(item.type)}}】{{ item.title }}</span>
                    <span class="count">难度：{{ formatEasiness(item.easiness) }}</span>
                </a>
                <div class="item-footer">
                    @if (item.user_id > 0) {
                    <div class="author-bar">
                        <div class="avatar">
                            <img [src]="item.user.avatar">
                        </div>
                        {{ item.user.name }}
                    </div>
                    }
                    <div class="time-bar">
                        {{ item.created_at | ago }}
                    </div>
                </div>
            </div>
            }
        }
        @if (!isLoading && items.length < 1) {
            <div class="page-empty-tip">
                搜索结果为空
            </div>
        }
        
    </div>

    <app-pagination [total]="total" [field]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="tapPage()" />
</div>