.panel-sub {
    position: absolute;
    z-index: 88;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    .panel-header {
        line-height: 50px;
        font-weight: 700;
        padding-left: .5em;
        .iconfont {
            float: left;
            font-weight: 500;
            font-size: 1em;
            margin-right: .5em;
        }
        .icon-plus {
            float: right;
        }
    }
}