.pull-to-refresh-scroll {
    min-height: 300px;
    .scroll-bottom,
    .scroll-top {
        text-align: center;
    }
    .scroll-top {
        position: relative;
        div {
            position: absolute;
            bottom: 10px;
            width: 100%;
        }
    }
}