<div class="container mb-5">
    <app-auto-suggest-box (confirm)="tapSearch($event)" (textChange)="onSuggestChange($event)" />
</div>

<div class="container-fluid">
    <table class="table table-hover fixed-table">
        <thead>
            <tr>
                <th>产品名称</th>
                <th>日成交量</th>
                <th>最低价格</th>
                <th>交易平台</th>
                <th>更新时间</th>
            </tr>
        </thead>
        <tbody>
            @for (item of items(); track $index) {
                <tr>
                    <td (click)="toggleOpen(item)">{{ item.product?.name }}</td>
                    <td [title]="item.order_count" (click)="toggleOpen(item)">{{ item.order_count | numberFormat }}</td>
                    <td (click)="toolbar.open(item)">{{ item.price | currency: '￥' }}</td>
                    <td (click)="toggleOpen(item)">{{ item.channel?.name }}</td>
                    <td [title]="item.created_at" (click)="toggleOpen(item)">{{ item.created_at | ago }}</td>
                </tr>
                @if (item.open) {
                    <tr class="row-body">
                    <td colspan="5">
                        <div class="inner-container">
                            <div class="row">
                                @for (it of item.price_items; track $index) {
                                <div class="col-md-4 col-6">
                                    <a class="price-item" [routerLink]="['product', it.product_id]" [queryParams]="{channel: it.channel_id}">
                                        <label for="">{{ it.channel?.name }}</label>
                                        <span>{{ it.price | currency: '￥' }}</span>
                                    </a>
                                </div>
                                }
                                
                            </div>
                        </div>
                    </td>
                </tr>
                }
                
            }
        </tbody>
    </table>
    <app-loading-tip [loading]="isLoading()" [visible]="isLoading() || items().length == 0" />
    <app-pagination [total]="total()" [formField]="queries.page" [perPage]="queries.per_page().value()" (valueChange)="goPage($event)" />
</div>

<app-trade-toolbar #toolbar />