@use "../../../theme/styles/scrollbar";
@use "../../../theme/styles/theme";
$shadow: rgba($color: #000000, $alpha: .2);
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tree-box {
    min-height: 60vh;
    .tip {
        padding: 30vh 0 0;
        line-height: 3rem;
        font-size: 2.5rem;
        color: #ccc;
        text-align: center;
    }
    .tree-item {
        .iconfont {
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
            display: inline-block;
            text-align: center;
        }
        .tree-name {
            user-select: none;
            line-height: 1.875rem;
            text-align: left;
        }
        .tree-body {
            display: none;
            .tree-name {
                padding-left: 1.875rem;
                cursor: pointer;
            }
        }
        .tree-item {
            // margin-left: 1.5rem;
        }
        &:hover {
            >.tree-name {
                background-color: #efefef;
            }
        }
        &.active {
            >.tree-name {
                background-color: #e5e5e5;
            }
        }
        &.open {
            .tree-body {
                display: block;
            }
        }
    }
}

.editor-input-wrapper {
    padding: 0 2rem 40vh;
    input,
    textarea {
        display: block;
        border: none;
        outline: none;
        resize: none;
        width: 100%;
        background-color: transparent;
    }
    .title-input {
        margin-top: 4rem;
        margin-bottom: 2rem;
        font-size: 2rem;
        text-align: center;
    }
    .editor-area {
        min-height: 20rem;
        outline: none;
        p {
            //text-decoration: underline dotted #ccc;
            border-bottom: 1px dotted;
        }
    }
}

.top-container {
    box-shadow: 0 2px 5px $shadow;
    position: absolute;
    width: 100%;
    left: 0;
    top: -40em;
    z-index: 99;
    transition: top ease-in .5s;
    background-color: #f4f4f4;
    padding: .3em;
    .btn-group {
        float: right;
        margin-top: .3em;
    }
}


.editor-body {
    display: flex;
    height: 100vh;
    width: 100%;
}
.catalog-container {
    width: 15em;
    height: 100%;
    overflow-y: auto;
    box-shadow: 2px 0 5px $shadow;
    @include scrollbar.scrollbar();
}

.body-container {
    flex: 1;
    width: 0;
    height: 100%;
    overflow-y: auto;
    @include scrollbar.scrollbar();
}

.tool-bar {
    line-height: 3em;
    text-align: right;
    box-shadow: 0 2px 5px $shadow;
    margin-bottom: 5px;
    .tool-item {
        display: inline-block;
        width: 3em;
        text-align: center;
        text-decoration: none;
        position: relative;
        user-select: none;
        .item-label {
            display: none;
        }
        &:hover {
            background-color: #ccc;
            .tool-drop-bar {
                display: block;
            }
        }
    }
}
.tool-drop-bar {
    position: absolute;
    background-color: var(--#{theme.$prefix}body);
    box-shadow: 0 2px 5px $shadow;
    z-index: 99;
    display: none;
    right: 0;
    width: 8rem;
    .tool-item {
        display: flex;
        width: 100%;
        .iconfont {
            display: inline-block;
            width: 2rem;
        }
        .item-label {
            flex: 1;
            display: block;
        }
    }
}
.toggle-tool-bar {
    display: flex;
    justify-content: space-between;
    .tool-item {
        --#{theme.$prefix}btn-hover-bg: #ccc;
        display: inline-block;
        line-height: 3em;
        width: 3em;
        text-align: center;
        background-color: var(--#{theme.$prefix}btn-bg);
        color: var(--#{theme.$prefix}btn-color);
        &:hover {
            background-color: var(--#{theme.$prefix}btn-hover-bg);
            color: var(--#{theme.$prefix}btn-hover-color);
        }
        &.active {
            background-color: var(--#{theme.$prefix}btn-active-bg);
            color: var(--#{theme.$prefix}btn-active-color);
        }
        &.disabled {
            background-color: var(--#{theme.$prefix}btn-disabled-bg);
            color: var(--#{theme.$prefix}btn-disabled-color);
            cursor: not-allowed;
        }
    }
}


.top-open {
    .top-container {
        top: 0;
    }
}


