<div class="editor-container" [class]="{'top-open': topVisible}">
    @if (book) {
    <div class="top-container">
        <div class="form-table-control">
            <div class="input-group-control">
                <label for="name2" i18n>Name</label>
                <div>
                    <input type="text" id="name2" [formField]="bookForm.name" class="form-control">
                </div>
            </div>
            <div class="input-group-control">
                <label for="cover" i18n>Cover</label>
                <div>
                    <app-file-input [formField]="bookForm.cover" />
                </div>
            </div>
            <div class="input-group-control">
                <label for="description2" i18n>Summary</label>
                <div>
                    <textarea id="description2" [formField]="bookForm.description" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary" (click)="tapSaveBook()" i18n>Save</button>
            @if (book.over_at < 1) {
            <a class="btn btn-danger" (click)="tapOver()" i18n>As over</a>
            }
            <a class="btn btn-light" (click)="topVisible = false" i18n-title title="Pack up">
                <i class="iconfont icon-chevron-up"></i>
            </a>
        </div>
    </div>
    }
    <div class="editor-body">
        <div class="catalog-container">
            <div class="tool-bar">
                <a class="tool-item" title="新增章节" (click)="tapNewFile()">
                    <i class="iconfont icon-file-text-o"></i>
                </a>
                <a class="tool-item" title="新增卷" (click)="tapNewFolder()">
                    <i class="iconfont icon-folder-o"></i>
                </a>
                <a class="tool-item" title="设置" (click)="topVisible = !topVisible">
                    <i class="iconfont icon-cog"></i>
                </a>
                <a class="tool-item" title="更多">
                    <i class="iconfont icon-ellipsis-v"></i>
                    <div class="tool-drop-bar">
                        <a class="tool-item" title="角色" (click)="rolePanel.open()">
                            <i class="iconfont icon-user"></i>
                            <span class="item-label">角色</span>
                        </a>
                        <a class="tool-item" title="设定" (click)="preferencePanel.open()">
                            <i class="iconfont icon-chain"></i>
                            <span class="item-label">设定</span>
                        </a>
                        <a class="tool-item" title="地图" (click)="mapPanel.open()">
                            <i class="iconfont icon-map-marker"></i>
                            <span class="item-label">地图</span>
                        </a>
                        <a class="tool-item" title="刷新排序" (click)="tapRefreshPosition()">
                            <i class="iconfont icon-refresh"></i>
                            <span class="item-label">刷新排序</span>
                        </a>
                    </div>
                </a>
            </div>
            <ul class="tree-box" (contextmenu)="tapContextMenu($event)">
                @for (item of catalog; track $index) {
                <li class="tree-item" [class]="{open: item.expanded, active: data && item.id == data.id}" [appDragDrop]="item" draggable="true" (appDrog)="onDrog($event, item)">
                    <div class="tree-name" (click)="tapEdit(item)" (contextmenu)="tapContextMenu($event, item)">
                        <i class="iconfont" [class]="{'icon-file-text-o': item.type < 9, 'icon-chevron-right': item.type == 9 && item.children && !item.expanded, 'icon-chevron-down': item.type == 9 && item.children && item.expanded}"></i>
                        {{ item.title }}
                    </div>
                    <ul class="tree-body">
                        @for (it of item.children; track $index) {
                        <li class="tree-item"  [class]="{active: data && it.id == data.id}" [appDragDrop]="it"  draggable="true" (appDrog)="onDrog($event, it)">
                            <div class="tree-name" (click)="tapEdit(it)" (contextmenu)="tapContextMenu($event, it)">
                                <i class="iconfont icon-file-text-o"></i>
                                {{ it.title }}</div>
                        </li>
                        }
                    </ul>
                </li>
                }
                <li class="tip" i18n>
                    Right click to add chapter
                </li>
            </ul>
        </div>
        <div class="body-container">
            <div class="toggle-tool-bar">
                <div class="tool-left">
                    <div class="tool-item" title="显示目录">
                        <i class="iconfont icon-bars"></i>
                    </div>
                    <div class="tool-item" title="退出编辑" (click)="tapExit()">
                        <i class="iconfont icon-home"></i>
                    </div>
                </div>
                @if (data) {
                <div class="tool-right">
                    <app-action-button class="tool-item btn-primary" (tapped)="tapSaveChapter($event)" title="保存">
                        <i class="iconfont icon-floppy-o"></i>
                    </app-action-button>
                </div>
                }
            </div>
            <div class="editor-input-wrapper">
                @if (data) {
                    <input type="text" id="name"  class="title-input" [formField]="dataForm.title" [placeholder]="data.type > 0 ? '请输入卷名' : '请输入章节名'">
                }
                <div #editorArea class="editor-area" [contentEditable]="true" spellcheck="false"></div>
                <ng-container #modalVC />
            </div>
        </div>
    </div>
</div>

<app-context-menu />

<app-editor-role-panel #rolePanel [targetId]="book ? book.id : 0" />
<app-editor-preferences-panel #preferencePanel [targetId]="book ? book.id : 0" />
<app-editor-map-panel #mapPanel [targetId]="book ? book.id : 0" />

<app-dialog-box #publishModal title="发布章节">
    @if (data) {
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="">发布章节</label>
            <div>
                <input type="text" class="form-control" [value]="dataForm.title" readonly>
            </div>
        </div>
        <div class="input-group-control">
            <label for="">字数统计</label>
            <div>
                <input type="text" class="form-control" [value]="dataForm.size" readonly>
            </div>
        </div>
        <div class="input-group-control">
            <label for="price">章节类型</label>
            <div>
                <select class="form-control" [formField]="dataForm.type">
                    @for (item of typeItems; track $index) {
                        <option [value]="item.value">{{ item.name }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="input-group-control">
            <label for="">设置发布时间</label>
            <div>
                <app-check-input [formField]="dataForm.publish_type" [source]="publishTypeItems"/>
                @if (dataForm.publish_type().value() > 0) {
                <p>
                    <input type="date" class="form-control" [formField]="dataForm.publish_date">
                    <input type="time" class="form-control" [formField]="dataForm.publish_time">
                </p>
                }
            </div>
        </div>
    </div>
    }
</app-dialog-box>

<app-dialog-box #moveModal [scrollable]="false">
    <div class="form-table-control">
        <div class="input-group-control">
            <label for="">移动到章节</label>
            <div>
                <select [formField]="moveForm.target" class="form-control">
                    @for (item of catalog; track $index) {
                        <option [value]="item.id">{{ item.title }}</option>
                        @for (it of item.children; track $index) {
                            <option [value]="it.id">{{ it.title }}</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="input-group-control">
            <label for=""></label>
            <div>
                <app-check-input [source]="orderItems" [formField]="moveForm.type"/>
            </div>
        </div>
    </div>
</app-dialog-box>

